XSD/INPUT/62.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V370" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V370" version="2.07">
  <annotation>
    <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass.  S. brukes også som sikringstiltak.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeStøttemurType">
    <annotation>
      <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1265</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESTØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStøttemurEnumerationType nvdb:BruksområdeStøttemurOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStøttemurEnumerationType">
    <annotation>
      <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1265</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESTØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="støtteOppSkjæringsskråning">
        <annotation>
          <documentation>3374: Støtte opp skjæringsskråning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3374</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="støtteOppFyllingsskråning">
        <annotation>
          <documentation>3375: Støtte opp fyllingsskråning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3375</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vingemur">
        <annotation>
          <documentation>3380: Vingemur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3380</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sikreFjellskjæring">
        <annotation>
          <documentation>3376: Sikre fjellskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3376</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStøttemurOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStøttemurType">
    <annotation>
      <documentation>1668: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1668</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGSTØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStøttemurEnumerationType nvdb:FundamenteringStøttemurOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStøttemurEnumerationType">
    <annotation>
      <documentation>1668: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1668</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGSTØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betongsåle">
        <annotation>
          <documentation>3382: Betongsåle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trykkimpregnertTresåle">
        <annotation>
          <documentation>3383: Trykkimpregnert tresåle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fjellfot">
        <annotation>
          <documentation>3454: Fjellfot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3454</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="løsmasseFjell">
        <annotation>
          <documentation>3384: Løsmasse/fjell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3384</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStøttemurOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støttemur" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StøttemurType">
    <annotation>
      <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass.  S. brukes også som sikringstiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">62</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøttemurType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeStøttemurType">
            <annotation>
              <documentation>1126: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1126</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bruksområde" type="nvdb:BruksområdeStøttemurType">
            <annotation>
              <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1265</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fundamentering" type="nvdb:FundamenteringStøttemurType">
            <annotation>
              <documentation>1668: Angir hvordan vegobjektet er fundamentert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1668</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal" type="integer">
            <annotation>
              <documentation>3950: Angir areal av støttemur
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3950</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydeMaks" type="double">
            <annotation>
              <documentation>10844: Angir største egenhøyde for støttemur.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10844</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEMAKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>10368: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10368</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydeGjSnitt" type="double">
            <annotation>
              <documentation>1582: Angir gjennomsnittlig egenhøyde for hele vegobjektet.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1582</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEGJSNITT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4765: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4765</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøttemurPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støttemur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeStøttemurType">
    <annotation>
      <documentation>1126: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1126</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESTØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStøttemurEnumerationType nvdb:TypeStøttemurOtherType"/>
  </simpleType>
  <simpleType name="TypeStøttemurEnumerationType">
    <annotation>
      <documentation>1126: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1126</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESTØTTEMUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>3323: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3323</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Plasstøpt">
        <annotation>
          <documentation>3327: Betong, plasstøpt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3327</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_PrefabrikkerteElement">
        <annotation>
          <documentation>3333: Betong, prefabrikkerte element</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein_Murt_Tørrmur">
        <annotation>
          <documentation>3336: Betongstein, murt, tørrmur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein_Murt_Støpt">
        <annotation>
          <documentation>3340: Betongstein, murt, støpt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3340</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturstein_Murt_Støpt">
        <annotation>
          <documentation>3344: Naturstein, murt, støpt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3344</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturstein_Murt_Tørrmur">
        <annotation>
          <documentation>3342: Naturstein, murt, tørrmur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3342</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="steinkurver">
        <annotation>
          <documentation>3377: Steinkurver</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="spunt">
        <annotation>
          <documentation>3378: Spunt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3378</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="armertJord">
        <annotation>
          <documentation>3379: Armert jord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3379</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="treSognemur">
        <annotation>
          <documentation>3381: Tre/Sognemur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStøttemurOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
