XSD/INPUT/88.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/GLA/" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/GLA/" version="2.05">
  <annotation>
    <documentation>88: Lyskilde med innfatning</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">88</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="glabelysning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallArmaturerIBelysningspktType">
    <annotation>
      <documentation>Antall armaturer i belysningspkt: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMATURERIBELYSNINGSPKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallArmaturerIBelysningspktEnumerationType nvdb:AntallArmaturerIBelysningspktOtherType"/>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktEnumerationType">
    <annotation>
      <documentation>Antall armaturer i belysningspkt: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMATURERIBELYSNINGSPKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>4678: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4678</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>4679: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4679</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>4680: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4680</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>4681: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4681</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>4682: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4682</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>4915: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4915</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>16784: 7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16784</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>16785: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16785</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturType">
    <annotation>
      <documentation>Antall lyskilder per armatur: Angir hvor mange lyskilder det er per lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLYSKILDERPERARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLyskilderPerArmaturEnumerationType nvdb:AntallLyskilderPerArmaturOtherType"/>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturEnumerationType">
    <annotation>
      <documentation>Antall lyskilder per armatur: Angir hvor mange lyskilder det er per lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLYSKILDERPERARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3730: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3730</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3739: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3739</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>16294: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16294</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>16295: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16295</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingMaterialeType">
    <annotation>
      <documentation>Avskjerming,materiale: Angir hvordan glasset på armaturen er utformet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGMATERIALE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvskjermingMaterialeEnumerationType nvdb:AvskjermingMaterialeOtherType"/>
  </simpleType>
  <simpleType name="AvskjermingMaterialeEnumerationType">
    <annotation>
      <documentation>Avskjerming,materiale: Angir hvordan glasset på armaturen er utformet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGMATERIALE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="plant">
        <annotation>
          <documentation>11333: Plant</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="buet">
        <annotation>
          <documentation>11334: Buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11334</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingMaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingTypeType">
    <annotation>
      <documentation>Avskjerming,type: Angir hvilken type avskjerming det er på armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvskjermingTypeEnumerationType nvdb:AvskjermingTypeOtherType"/>
  </simpleType>
  <simpleType name="AvskjermingTypeEnumerationType">
    <annotation>
      <documentation>Avskjerming,type: Angir hvilken type avskjerming det er på armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="skjermPlan">
        <annotation>
          <documentation>4683: Skjerm, plan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4683</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjermBuet">
        <annotation>
          <documentation>16971: Skjerm, buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjermHalvbuet">
        <annotation>
          <documentation>16972: Skjerm, halvbuet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16972</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjermDyptrukket">
        <annotation>
          <documentation>4684: Skjerm, dyptrukket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4684</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="åpen">
        <annotation>
          <documentation>16973: Åpen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturType">
    <annotation>
      <documentation>Dimming: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMMINGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="DimmingLysarmaturEnumerationType">
    <annotation>
      <documentation>Dimming: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMMINGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11335: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11335</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11336: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EffektType">
    <annotation>
      <documentation>Effekt: Angir samlet effekt pr lampearmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1951</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EFFEKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EffektEnumerationType nvdb:EffektOtherType"/>
  </simpleType>
  <simpleType name="EffektEnumerationType">
    <annotation>
      <documentation>Effekt: Angir samlet effekt pr lampearmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1951</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EFFEKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="5">
        <annotation>
          <documentation>5305: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5305</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>5306: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5306</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>5031: 9: 009</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5031</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>5032: 11: 011</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5032</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>5033: 15: 015</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5033</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>7454: 18</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7454</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>4911: 20: 020</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4911</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>5021: 24: 024</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5021</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>5034: 26: 026</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5034</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>5022: 28: 028</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5022</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>5023: 32: 032</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5023</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="34">
        <annotation>
          <documentation>5035: 34: 034</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5035</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="35">
        <annotation>
          <documentation>3971: 35: 035</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>4912: 36: 036</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4912</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>4913: 50: 050</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4913</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>3972: 55: 055</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3972</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="58">
        <annotation>
          <documentation>4914: 58: 058</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4914</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>5024: 60: 060</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5024</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>2734: 70: 070</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>5025: 72: 072</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5025</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>2737: 80: 080</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2737</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>2740: 90: 090</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2740</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="100">
        <annotation>
          <documentation>3010: 100</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="116">
        <annotation>
          <documentation>13099: 116</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13099</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="120">
        <annotation>
          <documentation>5026: 120</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5026</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="125">
        <annotation>
          <documentation>3973: 125</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="135">
        <annotation>
          <documentation>3974: 135</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3974</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="150">
        <annotation>
          <documentation>3975: 150</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3975</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="180">
        <annotation>
          <documentation>5027: 180</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5027</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="240">
        <annotation>
          <documentation>13100: 240</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="250">
        <annotation>
          <documentation>3976: 250</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3976</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>3962: 400</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3962</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="600">
        <annotation>
          <documentation>5028: 600</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5028</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EffektOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLysarmaturEnumerationType nvdb:EierLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="EierLysarmaturEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>16150: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16151: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16151</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16152: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16152</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16153: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16153</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturType">
    <annotation>
      <documentation>Inngår i nødsystemet: Angir om lysarmatur er en del av nødsystemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNGÅRINØDSYSTEMETLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetLysarmaturEnumerationType nvdb:InngårINødsystemetLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturEnumerationType">
    <annotation>
      <documentation>Inngår i nødsystemet: Angir om lysarmatur er en del av nødsystemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNGÅRINØDSYSTEMETLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16446: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16446</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16447: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16447</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteType">
    <annotation>
      <documentation>Konstant lysutbytte: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSTANTLYSUTBYTTE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KonstantLysutbytteEnumerationType nvdb:KonstantLysutbytteOtherType"/>
  </simpleType>
  <simpleType name="KonstantLysutbytteEnumerationType">
    <annotation>
      <documentation>Konstant lysutbytte: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSTANTLYSUTBYTTE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13776: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13776</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13777: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13777</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysarmatur" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LysarmaturType">
    <annotation>
      <documentation>Lysarmatur: Lyskilde med innfatning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">88</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysarmaturType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="lyskildeType" type="nvdb:LyskildeTypeLysarmaturType">
            <annotation>
              <documentation>Lyskilde type: Angir hvilken type lyskildene er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSKILDETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>Driftsmerking: Angir unikt navn/id på lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10008</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSMERKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsattår" type="integer">
            <annotation>
              <documentation>Driftsattår: Angir årstall objektet ble satt i drift</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10007</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSATTÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVeg" type="double">
            <annotation>
              <documentation>Høyde over veg: Angir armaturens høyde over veg.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2054</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEOVERVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallLyskilderPerArmatur" type="nvdb:AntallLyskilderPerArmaturType">
            <annotation>
              <documentation>Antall lyskilder per armatur: Angir hvor mange lyskilder det er per lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLYSKILDERPERARMATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallArmaturerIBelysningspkt" type="nvdb:AntallArmaturerIBelysningspktType">
            <annotation>
              <documentation>Antall armaturer i belysningspkt: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMATURERIBELYSNINGSPKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="nvdb:EffektType">
            <annotation>
              <documentation>Effekt: Angir samlet effekt pr lampearmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1951</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EFFEKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavnArmatur" type="string">
            <annotation>
              <documentation>Produktnavn, armatur: Angir produktnavn/typebetegnelse, kan også ta med typenummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1451</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNARMATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavnArmatur" type="nvdb:ProdusentnavnArmaturType">
            <annotation>
              <documentation>Produsentnavn, armatur: Angir navn på firma som har produsert armaturen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNARMATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavnDriver" type="string">
            <annotation>
              <documentation>Produsentnavn driver: Angir navn på firma som har produsert driver til lyskilden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9558</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNDRIVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavnLyskilde" type="string">
            <annotation>
              <documentation>Produsentnavn lyskilde: Angir navn på firma som har produsert lyskilden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9557</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNLYSKILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="optikk" type="nvdb:OptikkType">
            <annotation>
              <documentation>Optikk: Angir optikk i lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPTIKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konstantLysutbytte" type="nvdb:KonstantLysutbytteType">
            <annotation>
              <documentation>Konstant lysutbytte: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSTANTLYSUTBYTTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
            <annotation>
              <documentation>Dimming: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMMING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utystyrsklasse" type="nvdb:UtystyrsklasseType">
            <annotation>
              <documentation>Utystyrsklasse: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTYSTYRSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrømUdimmet" type="integer">
            <annotation>
              <documentation>Driftsstrøm, udimmet: Angir driftsstrøm for lyskilden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9562</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSSTRØMUDIMMET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemet" type="nvdb:InngårINødsystemetLysarmaturType">
            <annotation>
              <documentation>Inngår i nødsystemet: Angir om lysarmatur er en del av nødsystemet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNGÅRINØDSYSTEMET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysflux" type="integer">
            <annotation>
              <documentation>Lysflux: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10011</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSFLUX</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lEDEffektArmaturTotaltTest" type="integer">
            <annotation>
              <documentation>LED, Effekt armatur, totalt (test): Ved 25 grader C, 700 mA</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9559</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDEFFEKTARMATURTOTALTTEST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargetemperatur" type="integer">
            <annotation>
              <documentation>Fargetemperatur: Angir fargetemperatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9564</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGETEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lEDAntallDioder" type="integer">
            <annotation>
              <documentation>LED, antall dioder: Angir antall dioder per lampearmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9561</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDANTALLDIODER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lEDEffektPerStkTest" type="double">
            <annotation>
              <documentation>LED, effekt per stk (test): Ved 25 grader C, 700 mA</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9560</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDEFFEKTPERSTKTEST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjermingType" type="nvdb:AvskjermingTypeType">
            <annotation>
              <documentation>Avskjerming, type: Angir hvilken type avskjerming det er på armaturen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjermingMateriale" type="nvdb:AvskjermingMaterialeType">
            <annotation>
              <documentation>Avskjerming, materiale: Angir hvordan glasset på armaturen er utformet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGMATERIALE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargegjengivelsesindeks" type="integer">
            <annotation>
              <documentation>Fargegjengivelsesindeks: Angir Fargegjengivelsesindeks, (Ra-indeks) for lysarmaturen (0-100)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9565</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGEGJENGIVELSESINDEKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utskiftbareLyskilder" type="nvdb:UtskiftbareLyskilderType">
            <annotation>
              <documentation>Utskiftbare lyskilder: Angir om selve lyskilden(e) kan skiftes ut</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSKIFTBARELYSKILDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="armaturnummer" type="string">
            <annotation>
              <documentation>Armaturnummer: Entydig nummer innenfor gitt anlegg/område.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10585</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARMATURNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunikasjonsenhet" type="string">
            <annotation>
              <documentation>Kommunikasjonsenhet: Navn/adresse på kommunikasjonsenhet som lysarmatur er knyttet til.. Kan være VTP (Veglystennpunkt eller konsentrator/segmentkontroller.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10584</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNIKASJONSENHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="eier" type="nvdb:EierLysarmaturType">
            <annotation>
              <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eierNavn" type="string">
            <annotation>
              <documentation>Eier, navn: Navn på eier av  vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10010</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLysarmaturType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4788</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysarmaturPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysarmatur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeLysarmaturType">
    <annotation>
      <documentation>Lyskilde type: Angir hvilken type lyskildene er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSKILDETYPELYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturEnumerationType">
    <annotation>
      <documentation>Lyskilde type: Angir hvilken type lyskildene er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSKILDETYPELYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kvikksølv">
        <annotation>
          <documentation>3750: Kvikksølv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="natriumHøytrykk">
        <annotation>
          <documentation>3753: Natrium, høytrykk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3753</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="natriumLavtrykk">
        <annotation>
          <documentation>3955: Natrium, lavtrykk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3955</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lysstoffrør">
        <annotation>
          <documentation>3956: Lysstoffrør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="glødelampe">
        <annotation>
          <documentation>3957: Glødelampe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="qL">
        <annotation>
          <documentation>12978: QL</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lED">
        <annotation>
          <documentation>12979: LED</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="metallhalogen">
        <annotation>
          <documentation>3751: Metallhalogen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3751</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OptikkType">
    <annotation>
      <documentation>Optikk: Angir optikk i lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPTIKK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OptikkEnumerationType nvdb:OptikkOtherType"/>
  </simpleType>
  <simpleType name="OptikkEnumerationType">
    <annotation>
      <documentation>Optikk: Angir optikk i lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPTIKK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="reflektor">
        <annotation>
          <documentation>13770: Reflektor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13770</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="linse">
        <annotation>
          <documentation>13771: Linse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13771</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="reflektorOgLinse">
        <annotation>
          <documentation>13772: Reflektor og linse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13772</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="direkteLys">
        <annotation>
          <documentation>13773: Direkte lys</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13773</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OptikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProdusentnavnArmaturType">
    <annotation>
      <documentation>Produsentnavn,armatur: Angir navn på firma som har produsert armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProdusentnavnArmaturEnumerationType nvdb:ProdusentnavnArmaturOtherType"/>
  </simpleType>
  <simpleType name="ProdusentnavnArmaturEnumerationType">
    <annotation>
      <documentation>Produsentnavn,armatur: Angir navn på firma som har produsert armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="aeg">
        <annotation>
          <documentation>3718: Aeg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3718</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="thorn">
        <annotation>
          <documentation>3719: Thorn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3719</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="philips">
        <annotation>
          <documentation>3720: Philips</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3720</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="siemens">
        <annotation>
          <documentation>3721: Siemens</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3721</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="siemensSiteco">
        <annotation>
          <documentation>4676: Siemens/Siteco</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4676</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ifa">
        <annotation>
          <documentation>3722: Ifa</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3722</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="noral">
        <annotation>
          <documentation>3723: Noral</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="seelux">
        <annotation>
          <documentation>3724: Seelux</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jernkonst">
        <annotation>
          <documentation>4677: Jernkonst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4677</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="urbis">
        <annotation>
          <documentation>4079: Urbis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4079</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="aECIlluminazione">
        <annotation>
          <documentation>16838: AEC Illuminazione</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16838</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProdusentnavnArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderType">
    <annotation>
      <documentation>Utskiftbare lyskilder: Angir om selve lyskilden(e) kan skiftes ut</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSKIFTBARELYSKILDER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtskiftbareLyskilderEnumerationType nvdb:UtskiftbareLyskilderOtherType"/>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderEnumerationType">
    <annotation>
      <documentation>Utskiftbare lyskilder: Angir om selve lyskilden(e) kan skiftes ut</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSKIFTBARELYSKILDER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13778: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13779: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtystyrsklasseType">
    <annotation>
      <documentation>Utystyrsklasse: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTYSTYRSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtystyrsklasseEnumerationType nvdb:UtystyrsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtystyrsklasseEnumerationType">
    <annotation>
      <documentation>Utystyrsklasse: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTYSTYRSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ujorda">
        <annotation>
          <documentation>16269: Ujorda</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16269</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jorda">
        <annotation>
          <documentation>16270: Jorda</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16270</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dobbeltisolert">
        <annotation>
          <documentation>16271: Dobbeltisolert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16271</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtystyrsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLysarmaturEnumerationType nvdb:VedlikeholdsansvarligLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>16158: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16158</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16159: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16160: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16160</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
