XSD/INPUT/antenne.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <title>Schematron constraints for schema 'Antenne'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="nvdb" uri="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB/470"/>
  <pattern>
    <rule context="nvdb:LineærPosisjonStrekning">
      <assert test="nvdb:fraPosisjon &lt; nvdb:tilPosisjon">fraPosisjon mindre enn tilPosisjon</assert>
    </rule>
  </pattern>
</schema>
