XSD/INPUT/vegnett.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <title>Schematron constraints for schema 'FKB-Vegnett-4.6 - utkast- 19-10-2016'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="vegnett" uri="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB"/>
  <pattern>
    <rule context="vegnett:LineærPosisjonStrekning">
      <assert test="vegnett:fraPosisjon &lt; vegnett:tilPosisjon">fraPosisjon mindre enn tilPosisjon</assert>
    </rule>
  </pattern>
</schema>
