XSD/NVDB/641/640.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>640: Del av vegens vertikalkurvatur.  Sirkelbue (høybrekk/lavbrekk) eller rettlinje.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">640</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Kurvaturgenerering.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="KurvaturVertikalelement" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KurvaturVertikalelementType">
    <annotation>
      <documentation>Kurvatur,vertikalelement: Del av vegens vertikalkurvatur.  Sirkelbue (høybrekk/lavbrekk) eller rettlinje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">640</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KURVATURVERTIKALELEMENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KurvaturVertikalelementType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeKurvaturVertikalelementType">
            <annotation>
              <documentation>Type: Angir hvilken elementtype det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="radius" type="integer">
            <annotation>
              <documentation>Radius: Angir radius for vertikalelementet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5830</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RADIUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeStart" type="double">
            <annotation>
              <documentation>Høyde start: Angir absolutthøyde i elementets startpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5831</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDESTART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeSlutt" type="double">
            <annotation>
              <documentation>Høyde slutt: Angir absolutthøyde i elementets sluttpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5832</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDESLUTT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stigningStart" type="double">
            <annotation>
              <documentation>Stigning, start: Angir stigning i elementets startpunkt.  Positiv stigning når høyde stiger i metreringsretning.  Negativ stigning når høyde avtar i metreringsretning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5833</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNINGSTART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stigningSlutt" type="double">
            <annotation>
              <documentation>Stigning, slutt: Angir stigning i elementets sluttpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5834</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNINGSLUTT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsinfo" type="string">
            <annotation>
              <documentation>Beregningsinfo: Gir informasjon om KurvGen-beregning som er grunnlag for kurvaturdata</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9963</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSINFO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6899</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element name="assosiertKurvaturgenerering" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kurvaturgenerering</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KurvaturVertikalelementPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:KurvaturVertikalelement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeKurvaturVertikalelementType">
    <annotation>
      <documentation>Type: Angir hvilken elementtype det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5843</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEKURVATURVERTIKALELEMENT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeKurvaturVertikalelementEnumerationType nvdb:TypeKurvaturVertikalelementOtherType"/>
  </simpleType>
  <simpleType name="TypeKurvaturVertikalelementEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken elementtype det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5843</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEKURVATURVERTIKALELEMENT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="rettlinje">
        <annotation>
          <documentation>8318: Rettlinje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8318</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sirkelbue">
        <annotation>
          <documentation>8319: Sirkelbue</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8319</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKurvaturVertikalelementOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
