XSD/NVDB/39/623.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>623: Konstruksjon beregnet for å henge opp turistinformasjon.  Som regel lokalisert til rasteplasser eller lommer</documentation>
  </annotation>
  <include schemaLocation="Rasteplass.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelystStativForTuristinfoType">
    <annotation>
      <documentation>5649: Angir om tavle er belyst eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5649</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSTSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelystStativForTuristinfoEnumerationType nvdb:BelystStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="BelystStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5649: Angir om tavle er belyst eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5649</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSTSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7946: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7946</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7947: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7947</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelystStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStativForTuristinfoType">
    <annotation>
      <documentation>5652: Angir hvem som er eier av stativet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5652</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStativForTuristinfoEnumerationType nvdb:EierStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="EierStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5652: Angir hvem som er eier av stativet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5652</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>7950: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7950</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10696: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10696</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>7951: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7951</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>7952: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7952</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17595: Uavklart: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17595</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FestetPåType">
    <annotation>
      <documentation>5656: Angir om stativet er festet på vegg etc</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5656</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FESTETPÅ</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FestetPåEnumerationType nvdb:FestetPåOtherType"/>
  </simpleType>
  <simpleType name="FestetPåEnumerationType">
    <annotation>
      <documentation>5656: Angir om stativet er festet på vegg etc</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5656</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FESTETPÅ</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bygning">
        <annotation>
          <documentation>7960: Bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7960</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fjellvegg">
        <annotation>
          <documentation>7961: Fjellvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7961</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mur">
        <annotation>
          <documentation>7962: Mur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7962</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FestetPåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStativForTuristinfoType">
    <annotation>
      <documentation>5654: Angir hvordan stativet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5654</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStativForTuristinfoEnumerationType nvdb:FundamenteringStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5654: Angir hvordan stativet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5654</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betongsåle">
        <annotation>
          <documentation>7956: Betongsåle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7956</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stolpefundament">
        <annotation>
          <documentation>7957: Stolpefundament</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStativForTuristinfoType">
    <annotation>
      <documentation>5647: Angir primær materialtype stativet er oppført i</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPESTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeStativForTuristinfoEnumerationType nvdb:MaterialtypeStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5647: Angir primær materialtype stativet er oppført i</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPESTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tre">
        <annotation>
          <documentation>7968: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7968</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="metall">
        <annotation>
          <documentation>7969: Metall</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7969</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturstein">
        <annotation>
          <documentation>7970: Naturstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7970</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>7971: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7972: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7972</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>7973: Plast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pleksiglass">
        <annotation>
          <documentation>7974: Pleksiglass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7974</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kombinasjonAvFlere">
        <annotation>
          <documentation>7975: Kombinasjon av flere</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7975</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingStativForTuristinfoType">
    <annotation>
      <documentation>5657: Angir hvilken type overflatebehandling det er på stativet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5657</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERFLATEBEHANDLINGSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingStativForTuristinfoEnumerationType nvdb:OverflatebehandlingStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5657: Angir hvilken type overflatebehandling det er på stativet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5657</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERFLATEBEHANDLINGSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>7963: Malt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7963</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="beiset">
        <annotation>
          <documentation>7964: Beiset</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7964</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lakkert">
        <annotation>
          <documentation>7965: Lakkert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7965</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="impregnert">
        <annotation>
          <documentation>7966: Impregnert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7966</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ubehandlet">
        <annotation>
          <documentation>7967: Ubehandlet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7967</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlexiglassUtenpåInfoplaterType">
    <annotation>
      <documentation>5650: Angir om det er plexiglass utenpå infoplatene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLEXIGLASSUTENPÅINFOPLATER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlexiglassUtenpåInfoplaterEnumerationType nvdb:PlexiglassUtenpåInfoplaterOtherType"/>
  </simpleType>
  <simpleType name="PlexiglassUtenpåInfoplaterEnumerationType">
    <annotation>
      <documentation>5650: Angir om det er plexiglass utenpå infoplatene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLEXIGLASSUTENPÅINFOPLATER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7948: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7948</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7949: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7949</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlexiglassUtenpåInfoplaterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="StativForTuristinfo" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StativForTuristinfoType">
    <annotation>
      <documentation>623: Konstruksjon beregnet for å henge opp turistinformasjon.  Som regel lokalisert til rasteplasser eller lommer</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">623</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StativForTuristinfoType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeStativForTuristinfoType">
            <annotation>
              <documentation>5647: Angir primær materialtype stativet er oppført i</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5647</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="double">
            <annotation>
              <documentation>5648: Angir areal av selve tavlen
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5648</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belyst" type="nvdb:BelystStativForTuristinfoType">
            <annotation>
              <documentation>5649: Angir om tavle er belyst eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5649</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plexiglassUtenpåInfoplater" type="nvdb:PlexiglassUtenpåInfoplaterType">
            <annotation>
              <documentation>5650: Angir om det er plexiglass utenpå infoplatene</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5650</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLEXIGLASSUTENPÅINFOPLATER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallInfoplater" type="integer">
            <annotation>
              <documentation>5651: Angir hvor mange infoplater det er på stativet
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5651</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLINFOPLATER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringStativForTuristinfoType">
            <annotation>
              <documentation>5654: Angir hvordan stativet er fundamentert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5654</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tak" type="nvdb:TakType">
            <annotation>
              <documentation>5655: Angir om det er tak over stativet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5655</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="festetPå" type="nvdb:FestetPåType">
            <annotation>
              <documentation>5656: Angir om stativet er festet på vegg etc</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5656</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FESTETPÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingStativForTuristinfoType">
            <annotation>
              <documentation>5657: Angir hvilken type overflatebehandling det er på stativet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5657</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERFLATEBEHANDLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>5658: Angir beskrivelse knyttet til stativet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5658</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStativForTuristinfoType">
            <annotation>
              <documentation>5652: Angir hvem som er eier av stativet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5652</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStativForTuristinfoType">
            <annotation>
              <documentation>5653: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5653</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10363: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7909: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7909</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSANGIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6893: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6893</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StativForTuristinfoPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:StativForTuristinfo"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TakType">
    <annotation>
      <documentation>5655: Angir om det er tak over stativet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5655</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TAK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TakEnumerationType nvdb:TakOtherType"/>
  </simpleType>
  <simpleType name="TakEnumerationType">
    <annotation>
      <documentation>5655: Angir om det er tak over stativet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5655</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TAK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>7958: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7958</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>7959: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7959</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStativForTuristinfoType">
    <annotation>
      <documentation>5653: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStativForTuristinfoEnumerationType nvdb:VedlikeholdsansvarligStativForTuristinfoOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStativForTuristinfoEnumerationType">
    <annotation>
      <documentation>5653: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSTATIVFORTURISTINFO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>7953: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7953</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>7954: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7954</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>7955: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7955</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17686: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17686</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStativForTuristinfoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
