XSD/NVDB/534/535.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>535: Fylke</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">535</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Region.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fylke" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FylkeType">
    <annotation>
      <documentation>Fylke: Fylke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">535</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FYLKE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FylkeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="fylkesnummer" type="integer">
            <annotation>
              <documentation>Fylkesnummer: Angir fylkesnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4582</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FYLKESNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fylkesnavn" type="string">
            <annotation>
              <documentation>Fylkesnavn: Angir fylkesnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4583</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FYLKESNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemType">
            <annotation>
              <documentation>Koordinatsystem: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5156</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4709</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FylkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemType">
    <annotation>
      <documentation>Koordinatsystem: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemEnumerationType nvdb:KoordinatsystemOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemEnumerationType">
    <annotation>
      <documentation>Koordinatsystem: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nGOAkseI">
        <annotation>
          <documentation>10791: NGO-akse I: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10791</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseII">
        <annotation>
          <documentation>10792: NGO-akse II: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10792</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseIII">
        <annotation>
          <documentation>10793: NGO-akse III: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10793</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseIV">
        <annotation>
          <documentation>10794: NGO-akse IV: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10794</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseV">
        <annotation>
          <documentation>10795: NGO-akse V: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10795</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseVI">
        <annotation>
          <documentation>10796: NGO-akse VI: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10796</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseVII">
        <annotation>
          <documentation>10797: NGO-akse VII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10797</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseVIII">
        <annotation>
          <documentation>10798: NGO-akse VIII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10798</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone31EUREF89">
        <annotation>
          <documentation>10799: UTM sone 31 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10799</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone32EUREF89">
        <annotation>
          <documentation>10800: UTM sone 32 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10800</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone33EUREF89">
        <annotation>
          <documentation>10801: UTM sone 33 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone34EUREF89">
        <annotation>
          <documentation>10802: UTM sone 34 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone35EUREF89">
        <annotation>
          <documentation>10803: UTM sone 35 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10803</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone36EUREF89">
        <annotation>
          <documentation>10804: UTM sone 36 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone31ED50">
        <annotation>
          <documentation>10805: UTM sone 31 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10805</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone32ED50">
        <annotation>
          <documentation>10806: UTM sone 32 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10806</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone33ED50">
        <annotation>
          <documentation>10807: UTM sone 33 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10807</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone34ED50">
        <annotation>
          <documentation>10808: UTM sone 34 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10808</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone35ED50">
        <annotation>
          <documentation>10809: UTM sone 35 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10809</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone36ED50">
        <annotation>
          <documentation>10810: UTM sone 36 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10810</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGO64AMøre">
        <annotation>
          <documentation>10811: NGO-64A, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10811</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGO64BMøre">
        <annotation>
          <documentation>10812: NGO-64B, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10812</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
