XSD/NVDB/594/594.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>594: VSTØY/VLUFT inndata og resultatdata i tilknytning til en bygning/enhet.  Kan også være uteområde etc.  Tidligere register 29-Bygning i VDB</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">594</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="StoeyLuftBygning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EnhetensFunksjonType">
    <annotation>
      <documentation>Enhetens funksjon: Angir funksjon til enhet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5345</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETENSFUNKSJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnhetensFunksjonEnumerationType nvdb:EnhetensFunksjonOtherType"/>
  </simpleType>
  <simpleType name="EnhetensFunksjonEnumerationType">
    <annotation>
      <documentation>Enhetens funksjon: Angir funksjon til enhet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5345</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETENSFUNKSJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bolig">
        <annotation>
          <documentation>7345: Bolig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7345</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skoleEllerBarnehage">
        <annotation>
          <documentation>7346: Skole eller barnehage</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7346</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykehusInstitusjoner">
        <annotation>
          <documentation>7347: Sykehus/institusjoner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>7458: Annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7458</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnhetensFunksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnhetstypeType">
    <annotation>
      <documentation>Enhetstype: Angir om det beregnes støy for bygning eller for privat/offentlig uteområde. Det er kun for bygninger det er aktuelt med GAB-nummer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5343</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnhetstypeEnumerationType nvdb:EnhetstypeOtherType"/>
  </simpleType>
  <simpleType name="EnhetstypeEnumerationType">
    <annotation>
      <documentation>Enhetstype: Angir om det beregnes støy for bygning eller for privat/offentlig uteområde. Det er kun for bygninger det er aktuelt med GAB-nummer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5343</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bygning">
        <annotation>
          <documentation>7338: Bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7338</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privatFellesareal">
        <annotation>
          <documentation>7339: Privat fellesareal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7339</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="offentligUteareal">
        <annotation>
          <documentation>7340: Offentlig uteareal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7340</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnhetstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjennomførtTiltakType">
    <annotation>
      <documentation>Gjennomført tiltak: Gjennomført tiltak (F=Fasade, S=Skjerm)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5361</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMFØRTTILTAK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjennomførtTiltakEnumerationType nvdb:GjennomførtTiltakOtherType"/>
  </simpleType>
  <simpleType name="GjennomførtTiltakEnumerationType">
    <annotation>
      <documentation>Gjennomført tiltak: Gjennomført tiltak (F=Fasade, S=Skjerm)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5361</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMFØRTTILTAK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fasade">
        <annotation>
          <documentation>7456: Fasade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7456</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjerm">
        <annotation>
          <documentation>7457: Skjerm: Gjennomført tiltak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7457</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bådeFasadeOgSkjerm">
        <annotation>
          <documentation>10902: Både fasade og skjerm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10902</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjennomførtTiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HovedmaterialeIVeggMotHovedvegType">
    <annotation>
      <documentation>Hovedmateriale i vegg mot hovedveg: Hovedmateriale i vegg mot hovedveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5349</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOVEDMATERIALEIVEGGMOTHOVEDVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HovedmaterialeIVeggMotHovedvegEnumerationType nvdb:HovedmaterialeIVeggMotHovedvegOtherType"/>
  </simpleType>
  <simpleType name="HovedmaterialeIVeggMotHovedvegEnumerationType">
    <annotation>
      <documentation>Hovedmateriale i vegg mot hovedveg: Hovedmateriale i vegg mot hovedveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5349</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOVEDMATERIALEIVEGGMOTHOVEDVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="lettvegg">
        <annotation>
          <documentation>7348: Lettvegg: Lett. Dvs. tre eller lette plater</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7348</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tung">
        <annotation>
          <documentation>7349: Tung: Tung. Dvs. mur eller betong, inkl. lettbetong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7349</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lettMenSærskiltIsolert">
        <annotation>
          <documentation>7350: Lett, men særskilt isolert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HovedmaterialeIVeggMotHovedvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HustypeType">
    <annotation>
      <documentation>Hustype: Angir hustype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5344</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HUSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HustypeEnumerationType nvdb:HustypeOtherType"/>
  </simpleType>
  <simpleType name="HustypeEnumerationType">
    <annotation>
      <documentation>Hustype: Angir hustype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5344</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HUSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="frittliggendeSammenbygdSmåhus">
        <annotation>
          <documentation>7341: Frittliggende/sammenbygd småhus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7341</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="terrassehusFrittliggendeBlokker">
        <annotation>
          <documentation>7342: Terrassehus/frittliggende blokker</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7342</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="storhusBygård">
        <annotation>
          <documentation>7343: Storhus/Bygård</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7343</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetStorhus">
        <annotation>
          <documentation>10903: Annet storhus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10903</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>7344: Annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7344</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HustypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NummerIndikatorType">
    <annotation>
      <documentation>Nummer-indikator: Ikke alle bygninger er registrert i GAB og har derfor heller ikke fått tildelt noe GABNR. De har sannsynligvis fått et lokalt løpenummer ved registrering. For å muliggjøre direkte oppslag på bygningen via dette nummeret lagres det i GAB-NR samtidig som NR</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5337</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NUMMERINDIKATOR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NummerIndikatorEnumerationType nvdb:NummerIndikatorOtherType"/>
  </simpleType>
  <simpleType name="NummerIndikatorEnumerationType">
    <annotation>
      <documentation>Nummer-indikator: Ikke alle bygninger er registrert i GAB og har derfor heller ikke fått tildelt noe GABNR. De har sannsynligvis fått et lokalt løpenummer ved registrering. For å muliggjøre direkte oppslag på bygningen via dette nummeret lagres det i GAB-NR samtidig som NR</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5337</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NUMMERINDIKATOR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="gABNRInneholderEtVirkeligGABNummer">
        <annotation>
          <documentation>7336: GAB-NR inneholder et virkelig GAB-nummer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gABNRInneholderEtLokaltLøpenummer">
        <annotation>
          <documentation>7337: GAB-NR inneholder et lokalt løpenummer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7337</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NummerIndikatorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="StøyLuftBygning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StøyLuftBygningType">
    <annotation>
      <documentation>Støy-luft,Bygning: VSTØY/VLUFT inndata og resultatdata i tilknytning til en bygning/enhet.  Kan også være uteområde etc.  Tidligere register 29-Bygning i VDB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">594</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØYLUFTBYGNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøyLuftBygningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="gårdsnummer" type="integer">
            <annotation>
              <documentation>Gårdsnummer: Gårdsnummer i kommune.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5338</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GÅRDSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksnummer" type="integer">
            <annotation>
              <documentation>Bruksnummer: Bruksnummer i kommune.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5339</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enhetsnummer" type="integer">
            <annotation>
              <documentation>Enhetsnummer: Nummer som tildeles bygning ved registrering. Flere bygninger innenfor samme fylke kan ha samme enhetsnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5334</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enhetstype" type="nvdb:EnhetstypeType">
            <annotation>
              <documentation>Enhetstype: Angir om det beregnes støy for bygning eller for privat/offentlig uteområde. Det er kun for bygninger det er aktuelt med GAB-nummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5343</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enhetensFunksjon" type="nvdb:EnhetensFunksjonType">
            <annotation>
              <documentation>Enhetens funksjon: Angir funksjon til enhet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5345</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETENSFUNKSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hustype" type="nvdb:HustypeType">
            <annotation>
              <documentation>Hustype: Angir hustype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5344</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HUSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gABNummer" type="integer">
            <annotation>
              <documentation>GAB-nummer: Bygningsnummer eksklusiv fylkesnummer og kommunenummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5336</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GABNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nummerIndikator" type="nvdb:NummerIndikatorType">
            <annotation>
              <documentation>Nummer-indikator: Ikke alle bygninger er registrert i GAB og har derfor heller ikke fått tildelt noe GABNR. De har sannsynligvis fått et lokalt løpenummer ved registrering. For å muliggjøre direkte oppslag på bygningen via dette nummeret lagres det i GAB-NR samtidig som NR-IND settes til 'L'.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5337</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NUMMERINDIKATOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vindustypeIVeggMotHovedveg" type="nvdb:VindustypeIVeggMotHovedvegType">
            <annotation>
              <documentation>Vindustype i vegg mot hovedveg: Vindustype i vegg mot hovedveg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5350</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINDUSTYPEIVEGGMOTHOVEDVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gateVegnavn" type="string">
            <annotation>
              <documentation>Gate-/vegnavn: Gate-/vegnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5342</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GATEVEGNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gateadresse" type="string">
            <annotation>
              <documentation>Gateadresse: Angir husnummer pluss evt. oppgang nr innenfor en gate. Eks: 10, 10B</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5341</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GATEADRESSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedreEtasjenummer" type="integer">
            <annotation>
              <documentation>Nedre etasjenummer: Nedre etasjenummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5348</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDREETASJENUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreEtasjenummer" type="integer">
            <annotation>
              <documentation>Øvre etasjenummer: Øvre etasjenummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5347</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ØVREETASJENUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallEtasjerOverBakkenivå" type="integer">
            <annotation>
              <documentation>Antall etasjer over bakkenivå: Antall etasjer over bakkenivå</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5346</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLETASJEROVERBAKKENIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallVinduerIVeggMotHovedveg" type="integer">
            <annotation>
              <documentation>Antall vinduer i vegg mot hovedveg: Antall vinduer i vegg mot hovedveg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5351</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLVINDUERIVEGGMOTHOVEDVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hovedmaterialeIVeggMotHovedveg" type="nvdb:HovedmaterialeIVeggMotHovedvegType">
            <annotation>
              <documentation>Hovedmateriale i vegg mot hovedveg: Hovedmateriale i vegg mot hovedveg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5349</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOVEDMATERIALEIVEGGMOTHOVEDVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konsentrasjonAvNO2" type="integer">
            <annotation>
              <documentation>Konsentrasjon av NO2: Konsentrasjon av NO2, timemiddel mg/m3.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5365</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSENTRASJONAVNO2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomførtTiltak" type="nvdb:GjennomførtTiltakType">
            <annotation>
              <documentation>Gjennomført tiltak: Gjennomført tiltak (F=Fasade, S=Skjerm)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5361</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMFØRTTILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoForGjennomførtTiltak" type="date">
            <annotation>
              <documentation>Dato for gjennomført tiltak: Dato for gjennomført tiltak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5362</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOFORGJENNOMFØRTTILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5375</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="endretAv" type="string">
            <annotation>
              <documentation>Endret av: Angir navn på de som sist endret informasjon om bygning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8946</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENDRETAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="endretDen" type="date">
            <annotation>
              <documentation>Endret den: Angir dato for siste endring av informasjon om bygning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8947</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENDRETDEN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLeiligheterTrafikkeksponert" type="integer">
            <annotation>
              <documentation>Antall leiligheter trafikkeksponert: Antall leiligheter trafikkeksponert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5352</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLEILIGHETERTRAFIKKEKSPONERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallInstPlasserTrafikkeksponert" type="integer">
            <annotation>
              <documentation>Antall inst.plasser trafikkeksponert: Antall institusjonsplasser trafikkeksponert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5353</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLINSTPLASSERTRAFIKKEKSPONERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="korreksjonInnendørsstøy" type="integer">
            <annotation>
              <documentation>Korreksjon innendørsstøy: Korreksjon innendørsstøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5360</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KORREKSJONINNENDØRSSTØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ekvivalentUtendørsStøynivå" type="double">
            <annotation>
              <documentation>Ekvivalent utendørs støynivå: Ekvivalent utendørs støynivå.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5354</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKVIVALENTUTENDØRSSTØYNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ekvivalentInnendørsStøynivå" type="double">
            <annotation>
              <documentation>Ekvivalent innendørs støynivå: Ekvivalent innendørs støynivå.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5355</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKVIVALENTINNENDØRSSTØYNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ldenUtendørsStøynivå" type="double">
            <annotation>
              <documentation>Lden utendørs støynivå: Utendørs støynivå Lden. Dvs gjennomsnittlig lydnivå over døgnet (day, evening, night), med vekting på kveld og nattetid</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8754</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LDENUTENDØRSSTØYNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lnattUtendørsStøynivå" type="double">
            <annotation>
              <documentation>Lnatt utendørs støynivå: Utendørs støynivå Lnatt. Dvs gjennomsnittlig lydnivå i nattperioden 23-07</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8755</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LNATTUTENDØRSSTØYNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="l5AFUtendørsStøynivå" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9286</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_L5AFUTENDØRSSTØYNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoForMåltStøy" type="date">
            <annotation>
              <documentation>Dato for målt støy: Dato for målt støy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5357</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOFORMÅLTSTØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltUtvendigStøy" type="integer">
            <annotation>
              <documentation>Målt utvendig støy: Målt utvendig støy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5356</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLTUTVENDIGSTØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="personerSværtPlagetAvStøy" type="double">
            <annotation>
              <documentation>Personer svært plaget av støy: Personer svært plaget av støy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PERSONERSVÆRTPLAGETAVSTØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sPI" type="double">
            <annotation>
              <documentation>SPI: StøyPlageIndeks</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5633</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoForMåltNO2" type="date">
            <annotation>
              <documentation>Dato for målt NO2: Dato for målt NO2.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5371</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOFORMÅLTNO2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltUtvendigNO2Timemiddel" type="integer">
            <annotation>
              <documentation>Målt utvendig NO2-timemiddel: Målt utvendig NO2 timemiddel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5370</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLTUTVENDIGNO2TIMEMIDDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nO2Kons8GgrPrÅr" type="integer">
            <annotation>
              <documentation>NO2-kons. 8-ggr-pr-år: Konsentrasjon av NO2 som overstiges 8 ganger pr. år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2KONS8GGRPRÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoForMåltPm10" type="date">
            <annotation>
              <documentation>Dato for målt pm10: Dato for målt pm10.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5373</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOFORMÅLTPM10</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltUtvendigPm10" type="integer">
            <annotation>
              <documentation>Målt utvendig pm10: Målt utvendig PM10.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5372</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLTUTVENDIGPM10</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konsentrasjonAvPm10" type="integer">
            <annotation>
              <documentation>Konsentrasjon av pm10: Konsentrasjon av PM10, timemiddel mg/m3.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5366</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSENTRASJONAVPM10</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10Kons7GgrPrÅr" type="integer">
            <annotation>
              <documentation>Pm10-kons. 7-ggr-pr-år: Konsentrasjonsnivå av PM10 som overstiges mer enn 7 ganger pr. år.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5369</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10KONS7GGRPRÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10Kons25GgrPrÅr" type="integer">
            <annotation>
              <documentation>Pm10-kons. 25-ggr-pr-år: Konsentrasjon av PM10 som overstiges 25 ganger pr. år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5368</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10KONS25GGRPRÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konsentrasjonAvCO" type="integer">
            <annotation>
              <documentation>Konsentrasjon av CO: Konsentrasjon av CO, timemiddel mg/m3.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5364</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSENTRASJONAVCO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="personerSværtPlagetAvLokalLuft" type="double">
            <annotation>
              <documentation>Personer svært plaget av lokal luft: Personer svært plaget av lokal luftforurensning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5374</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PERSONERSVÆRTPLAGETAVLOKALLUFT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt, bygning: Koordinater til punkt som er representativt for bygning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5340</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKTBYGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="2" name="assosiertStøyLuftUtbredelse" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:StøyLuftUtbredelse</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøyLuftBygningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:StøyLuftBygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VindustypeIVeggMotHovedvegType">
    <annotation>
      <documentation>Vindustype i vegg mot hovedveg: Vindustype i vegg mot hovedveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5350</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINDUSTYPEIVEGGMOTHOVEDVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VindustypeIVeggMotHovedvegEnumerationType nvdb:VindustypeIVeggMotHovedvegOtherType"/>
  </simpleType>
  <simpleType name="VindustypeIVeggMotHovedvegEnumerationType">
    <annotation>
      <documentation>Vindustype i vegg mot hovedveg: Vindustype i vegg mot hovedveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5350</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINDUSTYPEIVEGGMOTHOVEDVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="enkeltvinduEttlagsvindu">
        <annotation>
          <documentation>7351: Enkeltvindu/ettlagsvindu</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vanligDobbeltvindu">
        <annotation>
          <documentation>7352: Vanlig dobbeltvindu</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7352</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tynneLydvinduerIEnRamme">
        <annotation>
          <documentation>7353: Tynne lydvinduer i en ramme</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7353</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dypeLydvinduerMedStorGlassavstand">
        <annotation>
          <documentation>7354: Dype lydvinduer med stor glassavstand</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7354</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VindustypeIVeggMotHovedvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
