XSD/NVDB/594/720.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.08">
  <annotation>
    <documentation>720: Gir informasjon om terreng- og skjermingsforhold mellom angitt bygning og veg, samt om det er hard eller myk mark.</documentation>
  </annotation>
  <include schemaLocation="Stoey_Luft_Bygning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="MarktypeType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7010</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MARKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MarktypeEnumerationType nvdb:MarktypeOtherType"/>
  </simpleType>
  <simpleType name="MarktypeEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7010</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MARKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hardMark">
        <annotation>
          <documentation>9291: Hard mark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9291</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mykMark">
        <annotation>
          <documentation>9292: Myk mark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9292</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="blandetHardMykMark">
        <annotation>
          <documentation>9293: Blandet hard/myk mark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9293</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MarktypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PrimærbidragType">
    <annotation>
      <documentation>6994: Angir om dette er demping i forhold til primær eller sekundær bidragsstrekning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6994</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRIMÆRBIDRAG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PrimærbidragEnumerationType nvdb:PrimærbidragOtherType"/>
  </simpleType>
  <simpleType name="PrimærbidragEnumerationType">
    <annotation>
      <documentation>6994: Angir om dette er demping i forhold til primær eller sekundær bidragsstrekning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6994</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRIMÆRBIDRAG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="primær">
        <annotation>
          <documentation>9267: Primær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9267</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sekundær">
        <annotation>
          <documentation>9268: Sekundær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9268</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrimærbidragOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SiktType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7007</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SiktEnumerationType nvdb:SiktOtherType"/>
  </simpleType>
  <simpleType name="SiktEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7007</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="synligVegOver90Grader">
        <annotation>
          <documentation>9280: Synlig veg &gt; 90 grader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9280</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="synligVegUnder90Grader">
        <annotation>
          <documentation>9281: Synlig veg &lt; 90 grader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9281</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SiktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkjermingsgradType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7011</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKJERMINGSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkjermingsgradEnumerationType nvdb:SkjermingsgradOtherType"/>
  </simpleType>
  <simpleType name="SkjermingsgradEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7011</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKJERMINGSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenSkjerming">
        <annotation>
          <documentation>9288: Ingen skjerming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9288</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjermingsgrad1">
        <annotation>
          <documentation>9289: Skjermingsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9289</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjermingsgrad2">
        <annotation>
          <documentation>9290: Skjermingsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9290</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkjermingsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesiellUtbredelsessituasjonType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7009</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLUTBREDELSESSITUASJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesiellUtbredelsessituasjonEnumerationType nvdb:SpesiellUtbredelsessituasjonOtherType"/>
  </simpleType>
  <simpleType name="SpesiellUtbredelsessituasjonEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7009</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLUTBREDELSESSITUASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="sidegate">
        <annotation>
          <documentation>9282: Sidegate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9282</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPåFyllingViadukt">
        <annotation>
          <documentation>9283: Veg på fylling/viadukt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9283</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fallendeTerreng">
        <annotation>
          <documentation>9284: Fallende terreng</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9284</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="luftig">
        <annotation>
          <documentation>9285: Luftig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9285</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lavHøyde">
        <annotation>
          <documentation>9286: Lav høyde</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9286</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="terrengskjerm">
        <annotation>
          <documentation>9287: Terrengskjerm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9287</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>10901: Ingen: Ingen spesiell utbredelssesituasjon, dvs det er fri sikt mellom veg og bygning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10901</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesiellUtbredelsessituasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støy_Luft_Utbredelse" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Støy_Luft_UtbredelseType">
    <annotation>
      <documentation>720: Gir informasjon om terreng- og skjermingsforhold mellom angitt bygning og veg, samt om det er hard eller myk mark.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">720</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_LUFT_UTBREDELSE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Støy_Luft_UtbredelseType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="primærbidrag" type="nvdb:PrimærbidragType">
            <annotation>
              <documentation>6994: Angir om dette er demping i forhold til primær eller sekundær bidragsstrekning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6994</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRIMÆRBIDRAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandSenterlinje" type="integer">
            <annotation>
              <documentation>7006: Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7006</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSTANDSENTERLINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sikt" type="nvdb:SiktType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7007</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeforskjellVeg_1Etg" type="integer">
            <annotation>
              <documentation>7008: Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7008</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEFORSKJELLVEG_1ETG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesiellUtbredelsessituasjon" type="nvdb:SpesiellUtbredelsessituasjonType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7009</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLUTBREDELSESSITUASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="marktype" type="nvdb:MarktypeType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7010</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MARKTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skjermingsgrad" type="nvdb:SkjermingsgradType">
            <annotation>
              <documentation>7011: Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7011</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKJERMINGSGRAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skjermanlegg_Enhetsnummer" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7012</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKJERMANLEGG_ENHETSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="korreksjonUtendørsstøy" type="double">
            <annotation>
              <documentation>7013: Enhet: Desibel A
Enhet: Desibel A
Enhet: Desibel A
Enhet: Desibel A
Enhet: Desibel A
Enhet: Desibel A
Enhet: Desibel A
Enhet: Desibel A</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7013</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KORREKSJONUTENDØRSSTØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8845: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8845</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Støy_Luft_UtbredelsePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støy_Luft_Utbredelse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
