XSD/OLFV/V390/461.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V390" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V390" version="2.09">
  <annotation>
    <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeElektriskAnleggType">
    <annotation>
      <documentation>5644: Angir bruksområde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDEELEKTRISKANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeElektriskAnleggEnumerationType nvdb:BruksområdeElektriskAnleggOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeElektriskAnleggEnumerationType">
    <annotation>
      <documentation>5644: Angir bruksområde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDEELEKTRISKANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="belysningIDagen">
        <annotation>
          <documentation>7935: Belysning i dagen: Angis hvis hovedbruksområde er strøm til veglys i dagen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7935</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bygning">
        <annotation>
          <documentation>7937: Bygning: Angis hvis hovedbruksområde er strøm til bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7937</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skilting">
        <annotation>
          <documentation>16305: Skilting: Angis hvis hovedbruksområde er strøm til skilting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16305</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>7936: Tunnel: Angis hvis hovedbruksområde er strøm til tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7936</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pumper">
        <annotation>
          <documentation>16306: Pumper: Angis hvis hovedbruksområde er strøm til pumper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16306</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vifter">
        <annotation>
          <documentation>16309: Vifter: Angis hvis hovedbruksområde er strøm til vifter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16309</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utsmykking_BroerEtc">
        <annotation>
          <documentation>16308: Utsmykking (broer etc): Angis hvis hovedbruksområde er strøm til Utsmykking (broer etc)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16308</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkreguleringOvervåking">
        <annotation>
          <documentation>16307: Trafikkregulering/overvåking: Angis hvis hovedbruksområde er strøm til Trafikkregulering/overvåking</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16307</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkregistreringsstasjon">
        <annotation>
          <documentation>18475: Trafikkregistreringsstasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18475</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeElektriskAnleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ElektriskAnlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:ElektriskAnleggType">
    <annotation>
      <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">461</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ELEKTRISKANLEGG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ElektriskAnleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeElektriskAnleggType">
            <annotation>
              <documentation>5644: Angir bruksområde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5644</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernavlesing" type="nvdb:FjernavlesingType">
            <annotation>
              <documentation>10028: Angir om det er fjernavlesing av målerstand</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10028</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FJERNAVLESING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering_Måler" type="string">
            <annotation>
              <documentation>7908: Plassering av forekomst. Evt plassering i forhold til veg, bygning eller adresse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7908</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERING_MÅLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spenning" type="nvdb:SpenningType">
            <annotation>
              <documentation>10038: Angir spenning(er) på lavspentnettet
Enhet: Volt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10038</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPENNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="integer">
            <annotation>
              <documentation>10025: Angir maks effekt anlegget trekker
Enhet: Kilowatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10025</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EFFEKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="jordelektrode" type="nvdb:JordelektrodeType">
            <annotation>
              <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10032</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDELEKTRODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="jordfeilbryter" type="nvdb:JordfeilbryterType">
            <annotation>
              <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10033</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDFEILBRYTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="jordfeilvarsling" type="nvdb:JordfeilvarslingType">
            <annotation>
              <documentation>10034: Angir om anlegget har jordfeilvarsling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10034</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDFEILVARSLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="nettselskap" type="string">
            <annotation>
              <documentation>5639: Angir navn på nettselskap som eier nettet inn til måler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5639</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NETTSELSKAP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="nettsystem" type="nvdb:NettsystemType">
            <annotation>
              <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10029</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NETTSYSTEM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsattår" type="integer">
            <annotation>
              <documentation>10023: Angir årstall objektet ble satt i drift</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10023</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSATTÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10024: Gir navn/id for  elektrisk anlegg.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10024</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSMERKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4978: Gir punkt som geometrisk representerer måleren</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4978</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Belysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTennpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tennpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFordelingstavle" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fordelingstavle</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElektriskAnleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ElektriskAnlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FjernavlesingType">
    <annotation>
      <documentation>10028: Angir om det er fjernavlesing av målerstand</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10028</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FJERNAVLESING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernavlesingEnumerationType nvdb:FjernavlesingOtherType"/>
  </simpleType>
  <simpleType name="FjernavlesingEnumerationType">
    <annotation>
      <documentation>10028: Angir om det er fjernavlesing av målerstand</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10028</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FJERNAVLESING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16328: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16328</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16329: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16329</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernavlesingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JordelektrodeType">
    <annotation>
      <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10032</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDELEKTRODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:JordelektrodeEnumerationType nvdb:JordelektrodeOtherType"/>
  </simpleType>
  <simpleType name="JordelektrodeEnumerationType">
    <annotation>
      <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10032</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDELEKTRODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="spyd">
        <annotation>
          <documentation>16340: Spyd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16340</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sammenkopletMedAnnetNett">
        <annotation>
          <documentation>16341: Sammenkoplet med annet nett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16341</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="cuWiret">
        <annotation>
          <documentation>16339: Cu wiret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16339</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="antallKontrollMålepunkt">
        <annotation>
          <documentation>16338: Antall kontroll/målepunkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16338</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>16337: Annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16337</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordelektrodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilbryterType">
    <annotation>
      <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10033</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDFEILBRYTER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:JordfeilbryterEnumerationType nvdb:JordfeilbryterOtherType"/>
  </simpleType>
  <simpleType name="JordfeilbryterEnumerationType">
    <annotation>
      <documentation>10033: Angir hvordan jordfeilbrytere er koblet i anlegget</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10033</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDFEILBRYTER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fellesForAlleKurser">
        <annotation>
          <documentation>16342: Felles for alle kurser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16342</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="enForHverKurs">
        <annotation>
          <documentation>16343: En for hver kurs</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16343</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hverMast">
        <annotation>
          <documentation>16344: Hver mast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16344</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kombinasjon">
        <annotation>
          <documentation>16345: Kombinasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16345</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilbryterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilvarslingType">
    <annotation>
      <documentation>10034: Angir om anlegget har jordfeilvarsling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10034</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDFEILVARSLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:JordfeilvarslingEnumerationType nvdb:JordfeilvarslingOtherType"/>
  </simpleType>
  <simpleType name="JordfeilvarslingEnumerationType">
    <annotation>
      <documentation>10034: Angir om anlegget har jordfeilvarsling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10034</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDFEILVARSLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16347: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16346: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16346</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordfeilvarslingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NettsystemType">
    <annotation>
      <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10029</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NETTSYSTEM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NettsystemEnumerationType nvdb:NettsystemOtherType"/>
  </simpleType>
  <simpleType name="NettsystemEnumerationType">
    <annotation>
      <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10029</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NETTSYSTEM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="IT">
        <annotation>
          <documentation>16330: IT: IT-nett (Isolated Terra) er en nett-type der transformatorens nullpunkt ikke er jordet, men er beskyttet med et gnistgap (disneuter) mellom nullpunkt og jord.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16330</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TT">
        <annotation>
          <documentation>16331: TT: Et TT-nett (Terra Terra) er lik et IT-nett med den vesentlige forskjellen at transformatorens nullpunkt er jordet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16331</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TN_C">
        <annotation>
          <documentation>16332: TN-C: Nett der PEN-leder fremføres fra trafo til forbrukerens første fordeling (sikringskap). Her splittes PEN-lederen opp i PE-leder (Protective Earth) eller jordleder og N-leder (Neutral). Energien kan taes ut både mellom de tre fasene (400V) og mellom hver av fasene og N-leder (230V). C angir at PEN-lederen frem til første fordeling er en kombinert leder (Combined)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16332</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TN_S">
        <annotation>
          <documentation>16333: TN-S: Nett der PEN-leder fremføres fra trafo til forbrukerens første fordeling (sikringskap). Her splittes PEN-lederen opp i PE-leder (Protective Earth) eller jordleder og N-leder (Neutral). Energien kan taes ut både mellom de tre fasene (400V) og mellom hver av fasene og N-leder (230V). S angir at PEN-leren er delt (Separated) fra første fordeling.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TN_CS">
        <annotation>
          <documentation>16334: TN-C-S: TN Nett hvor C angir at PEN-lederen frem til første fordeling er en kombinert leder (Combined). S angir at PEN-leren er delt (Separated) fra første fordeling.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16334</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NettsystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningType">
    <annotation>
      <documentation>10038: Angir spenning(er) på lavspentnettet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10038</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPENNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningEnumerationType nvdb:SpenningOtherType"/>
  </simpleType>
  <simpleType name="SpenningEnumerationType">
    <annotation>
      <documentation>10038: Angir spenning(er) på lavspentnettet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10038</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPENNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16351: 12: 12 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16353: 24: 24 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16353</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16352: 230: 230 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16352</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16354: 400: 400 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16354</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230_400">
        <annotation>
          <documentation>16355: 230/400: 230 og 400 volt (TN-nett)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16355</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16717: 690: 690 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16717</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
