XSD/OLFV/V390/487.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V390" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V390" version="2.09">
  <annotation>
    <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Holdeplassutrustning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:HoldeplassutrustningType">
    <annotation>
      <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">487</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOLDEPLASSUTRUSTNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HoldeplassutrustningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="UU_TypeTransportmiddel" type="nvdb:UU_TypeTransportmiddelType">
            <annotation>
              <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10259</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPETRANSPORTMIDDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Type" type="nvdb:UU_TypeType">
            <annotation>
              <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr HB V123 (232)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Holdeplasskilt" type="nvdb:UU_HoldeplasskiltType">
            <annotation>
              <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10416</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_HOLDEPLASSKILT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Belysning" type="nvdb:UU_BelysningType">
            <annotation>
              <documentation>3959: Angir utvendige belysningsforhold.  Evt. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3959</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_BELYSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Sittemulighet" type="nvdb:UU_SittemulighetType">
            <annotation>
              <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10211</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_SITTEMULIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Type" type="nvdb:UU_Plattform_TypeType">
            <annotation>
              <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10219</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Belegning" type="nvdb:UU_Plattform_BelegningType">
            <annotation>
              <documentation>10193: Belegning på plattform</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10193</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Lengde" type="double">
            <annotation>
              <documentation>10191: Lengde av plattform eksklusiv inn-/utkjøringslengde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10191</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Bredde" type="double">
            <annotation>
              <documentation>10192: Fri bredde i plattformens fulle lengde. Ved varierende bredde brukes gjennomsnitt.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10192</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_KantsteinhøydePåstigning" type="double">
            <annotation>
              <documentation>10194: Høyde på kantstein ved påstigningspunkt
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10194</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_KANTSTEINHØYDEPÅSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_KantsteinhøydeAvstigning" type="double">
            <annotation>
              <documentation>10195: Høyde på kantstein ved avstigningspunkt (ca 5 m bak påstigning)
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10195</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_KANTSTEINHØYDEAVSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10306: Angir etableringsår for vegobjektet, dvs det året det ble satt i drift første gang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10306</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ETABLERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8926: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8926</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSanntidsinformasjon_Kollektivtrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Sanntidsinformasjon_Kollektivtrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertParkeringsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Parkeringsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSykkelparkering" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Sykkelparkering</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Utemøbler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Renovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLeskur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Leskur</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoldeplassutrustningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Holdeplassutrustning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UU_BelysningType">
    <annotation>
      <documentation>3959: Angir utvendige belysningsforhold.  Evt. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3959</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_BELYSNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_BelysningEnumerationType nvdb:UU_BelysningOtherType"/>
  </simpleType>
  <simpleType name="UU_BelysningEnumerationType">
    <annotation>
      <documentation>3959: Angir utvendige belysningsforhold.  Evt. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3959</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_BELYSNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja_EgenBelysning">
        <annotation>
          <documentation>4978: Ja, egen belysning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_BelystAvGatebelysning">
        <annotation>
          <documentation>9954: Ja, belyst av gatebelysning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9954</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4979: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_BelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_HoldeplasskiltType">
    <annotation>
      <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10416</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_HOLDEPLASSKILT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_HoldeplasskiltEnumerationType nvdb:UU_HoldeplasskiltOtherType"/>
  </simpleType>
  <simpleType name="UU_HoldeplasskiltEnumerationType">
    <annotation>
      <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10416</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_HOLDEPLASSKILT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja_StandardSkiltplate">
        <annotation>
          <documentation>16791: Ja, standard skiltplate: Det er standard skiltplate i tilknytning til holdeplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16791</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_IntegrertSymbol">
        <annotation>
          <documentation>18175: Ja, integrert symbol: Skilt er integrert ("trykket") som symbol i selve leskuret, oppslagstavle, eller annen del av holdeplassutrustningen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18175</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_Klistremerke">
        <annotation>
          <documentation>18176: Ja, klistremerke: Skilt er limt på selve leskuret, oppslagstavle, eller annen del av holdeplassutrustningen i form av klistremerke.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18176</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16792: Nei: Det er ingen Ingen former for holdeplasskilt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16792</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_HoldeplasskiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_BelegningType">
    <annotation>
      <documentation>10193: Belegning på plattform</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10193</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BELEGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_Plattform_BelegningEnumerationType nvdb:UU_Plattform_BelegningOtherType"/>
  </simpleType>
  <simpleType name="UU_Plattform_BelegningEnumerationType">
    <annotation>
      <documentation>10193: Belegning på plattform</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10193</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BELEGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt">
        <annotation>
          <documentation>16605: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16605</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>16606: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16606</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>16607: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16607</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturstein_Brostein">
        <annotation>
          <documentation>16609: Naturstein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16609</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>16608: Grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16608</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_BelegningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_TypeType">
    <annotation>
      <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10219</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_Plattform_TypeEnumerationType nvdb:UU_Plattform_TypeOtherType"/>
  </simpleType>
  <simpleType name="UU_Plattform_TypeEnumerationType">
    <annotation>
      <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10219</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="egetAreal">
        <annotation>
          <documentation>16692: Eget areal: Eget areal som brukes som venteareal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16692</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="delAvFortau">
        <annotation>
          <documentation>16690: Del av fortau: Plattformen utgjøres av fortauet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16690</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy">
        <annotation>
          <documentation>16691: Trafikkøy: Trafikkøy som skiller kjørefelt eller påstigningspunkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16691</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkePlattform">
        <annotation>
          <documentation>16689: Ikke plattform: Det er ikke noe eget tilpasset venteareal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16689</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_SittemulighetType">
    <annotation>
      <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10211</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_SITTEMULIGHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_SittemulighetEnumerationType nvdb:UU_SittemulighetOtherType"/>
  </simpleType>
  <simpleType name="UU_SittemulighetEnumerationType">
    <annotation>
      <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10211</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_SITTEMULIGHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16635: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16635</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_MedTak">
        <annotation>
          <documentation>16636: Ja, med tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16636</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_MedArmlene">
        <annotation>
          <documentation>16637: Ja, med armlene</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16637</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_MedArmleneOgTak">
        <annotation>
          <documentation>16638: Ja, med armlene og tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16638</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16639: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16639</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_SittemulighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeType">
    <annotation>
      <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr HB V123 (232)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_TypeEnumerationType nvdb:UU_TypeOtherType"/>
  </simpleType>
  <simpleType name="UU_TypeEnumerationType">
    <annotation>
      <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr HB V123 (232)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="signalstopp">
        <annotation>
          <documentation>16688: Signalstopp: Holdeplasstype 1 i HB V123 (232): Stopp på signal, uten fysisk markering
av holdeplassen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16688</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kunSkilt">
        <annotation>
          <documentation>5079: Kun skilt: Holdeplasstype 2 i HB V123 (232): Kun 512-skilt med informasjonsbærer.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5079</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kantstopp">
        <annotation>
          <documentation>5080: Kantstopp: Holdeplasstype 3 i HB V123 (232): 512-skilt med plattform for passasjer eller stopp ved fortau i by/tettbebyggelse.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5080</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="plattformOgLomme">
        <annotation>
          <documentation>5078: Plattform og lomme: Holdeplasstype 4  i HB V123 (232) : 512-skilt med plattform for passasjer + lomme.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5078</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annenType">
        <annotation>
          <documentation>5081: Annen type: Andre typer holdeplassutrustning. Kan f.eks være perrong på terminal, endeholdeplass, snuholdeplass, mm. Gi beskrivelse under merknad.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5081</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeTransportmiddelType">
    <annotation>
      <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10259</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPETRANSPORTMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_TypeTransportmiddelEnumerationType nvdb:UU_TypeTransportmiddelOtherType"/>
  </simpleType>
  <simpleType name="UU_TypeTransportmiddelEnumerationType">
    <annotation>
      <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10259</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPETRANSPORTMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="buss">
        <annotation>
          <documentation>16750: Buss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16750</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trikkBybane">
        <annotation>
          <documentation>16751: Trikk/bybane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16751</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="togT_Bane">
        <annotation>
          <documentation>16752: Tog/T-bane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16752</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drosje">
        <annotation>
          <documentation>16759: Drosje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16759</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ferje">
        <annotation>
          <documentation>16837: Ferje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16837</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeTransportmiddelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
