XSD/OLFV/V390/897.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V390" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V390" version="2.09">
  <annotation>
    <documentation>897: Område hvor det er foretatt stabilisering av jordart ved nedboring av kalksementpeler.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kalksementpeler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KalksementpelerType">
    <annotation>
      <documentation>897: Område hvor det er foretatt stabilisering av jordart ved nedboring av kalksementpeler.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">897</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KALKSEMENTPELER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KalksementpelerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="mønster" type="nvdb:MønsterType">
            <annotation>
              <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10786</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØNSTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybdeTilBunn" type="integer">
            <annotation>
              <documentation>10787: Angir gjennomsnittlig dybde til underkant av stabilisert område
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10787</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DYBDETILBUNN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybdeTilTopp" type="integer">
            <annotation>
              <documentation>10788: Angir gjennomsnittlig dybde til overkant av stabilisert område
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10788</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DYBDETILTOPP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10789: Gir flate/polygon som geometrsik avgrenser området med peler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10789</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KalksementpelerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kalksementpeler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MønsterType">
    <annotation>
      <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10786</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØNSTER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MønsterEnumerationType nvdb:MønsterOtherType"/>
  </simpleType>
  <simpleType name="MønsterEnumerationType">
    <annotation>
      <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10786</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØNSTER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="enkeltpeler">
        <annotation>
          <documentation>17535: Enkeltpeler: Peler står ikke i spesielt mønster</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17535</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="enkelRibbe">
        <annotation>
          <documentation>17536: Enkel ribbe: Peler står på rekke etterhverandre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17536</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dobbelRibbe">
        <annotation>
          <documentation>17537: Dobbel ribbe: To ribber som står ved siden av hverandre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17537</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="blokk">
        <annotation>
          <documentation>17538: Blokk: Peler plassert i rutenett innenfor et avgrensa område</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17538</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MønsterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
