XSD/NVDB/774/592.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.11">
  <annotation>
    <documentation>592: Måling av hvor mye vegen gir etter ved belastning med fallodd etc.</documentation>
  </annotation>
  <include schemaLocation="Nedboeyningsmaaleserie.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkekodeType">
    <annotation>
      <documentation>5314: Angir hvilken type dekke det er på stedet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5314</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkekodeEnumerationType nvdb:DekkekodeOtherType"/>
  </simpleType>
  <simpleType name="DekkekodeEnumerationType">
    <annotation>
      <documentation>5314: Angir hvilken type dekke det er på stedet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5314</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt">
        <annotation>
          <documentation>7320: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7320</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>7321: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7321</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>7322: Grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7322</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkekodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FormålNedbøyningsmålingType">
    <annotation>
      <documentation>5298: Angir formål med nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5298</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅLNEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålNedbøyningsmålingEnumerationType nvdb:FormålNedbøyningsmålingOtherType"/>
  </simpleType>
  <simpleType name="FormålNedbøyningsmålingEnumerationType">
    <annotation>
      <documentation>5298: Angir formål med nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5298</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅLNEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>7313: Sommer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7313</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>7314: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7314</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>7316: Parallellmåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7316</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>7315: Referansestrekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7315</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålNedbøyningsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Nedbøyningsmåling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NedbøyningsmålingType">
    <annotation>
      <documentation>592: Måling av hvor mye vegen gir etter ved belastning med fallodd etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">592</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NedbøyningsmålingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bæreevne" type="double">
            <annotation>
              <documentation>5486: Angir bæreevne
Enhet: Tonn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5486</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BÆREEVNE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="nvdb:FormålNedbøyningsmålingType">
            <annotation>
              <documentation>5298: Angir formål med nedbøyningsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5298</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>5330: Dato for måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5330</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måletidspunkt" type="string">
            <annotation>
              <documentation>5331: Klokkeslett for måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5331</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLETIDSPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporNedbøyningsmålingType">
            <annotation>
              <documentation>5299: Angir hvor nedbøyning er foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5299</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_1_Avstand" type="integer">
            <annotation>
              <documentation>5300: Avstand fra lastsenter til geofon-1
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5300</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_1_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_1_Nedbøyning" type="integer">
            <annotation>
              <documentation>5307: Målt nedbøyning for geofon-1
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5307</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_1_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_2_Avstand" type="integer">
            <annotation>
              <documentation>5301: Avstand fra lastsenter til geofon-2
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5301</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_2_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_2_Nedbøyning" type="integer">
            <annotation>
              <documentation>5308: Målt nedbøyning for geofon-2
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5308</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_2_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_3_Avstand" type="integer">
            <annotation>
              <documentation>5302: Avstand fra lastsenter til geofon-3
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5302</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_3_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_3_Nedbøyning" type="integer">
            <annotation>
              <documentation>5309: Målt nedbøyning for geofon-3
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5309</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_3_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_4_Avstand" type="integer">
            <annotation>
              <documentation>5303: Avstand fra lastsenter til geofon-4
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5303</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_4_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_4_Nedbøyning" type="integer">
            <annotation>
              <documentation>5310: Målt nedbøyning for geofon-4
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5310</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_4_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_5_Avstand" type="integer">
            <annotation>
              <documentation>5304: Avstand fra lastsenter til geofon-5
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5304</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_5_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_5_Nedbøyning" type="integer">
            <annotation>
              <documentation>5311: Målt nedbøyning for geofon-5
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5311</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_5_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_6_Avstand" type="integer">
            <annotation>
              <documentation>5305: Avstand fra lastsenter til geofon-6
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5305</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_6_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_6_Nedbøyning" type="integer">
            <annotation>
              <documentation>5312: Målt nedbøyning for geofon-6
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5312</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_6_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_7_Avstand" type="integer">
            <annotation>
              <documentation>5306: Avstand fra lastsenter til geofon-7
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5306</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_7_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_7_Nedbøyning" type="integer">
            <annotation>
              <documentation>5313: Målt nedbøyning for geofon-7
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5313</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_7_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_8_Avstand" type="integer">
            <annotation>
              <documentation>8757: Avstand fra lastsenter til geofon-8
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8757</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_8_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_8_Nedbøyning" type="integer">
            <annotation>
              <documentation>8758: Målt nedbøyning for geofon-8
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8758</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_8_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_9_Avstand" type="integer">
            <annotation>
              <documentation>8759: Avstand fra lastsenter til geofon-9
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8759</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_9_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ringtrykk" type="double">
            <annotation>
              <documentation>11269: Angir lufttrykk (ringtrykk) i bakhjulet til målebilen.
Enhet: Megapascal</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11269</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RINGTRYKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_9_Nedbøyning" type="integer">
            <annotation>
              <documentation>8760: Målt nedbøyning for geofon-9
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8760</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_9_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkekode" type="nvdb:DekkekodeType">
            <annotation>
              <documentation>5314: Angir hvilken type dekke det er på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5314</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKjørefelt" type="integer">
            <annotation>
              <documentation>5315: Angir hvor mange kjørefelt det er på stedet
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5315</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLKJØREFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekketemperatur" type="integer">
            <annotation>
              <documentation>5316: Angir dekketemperatur
Enhet: Grader Celcius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5316</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKETEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lufttemperatur" type="integer">
            <annotation>
              <documentation>5317: Angir lufttemperatur
Enhet: Grader Celcius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5317</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LUFTTEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skydekke" type="integer">
            <annotation>
              <documentation>5318: Angir skydekke.  0= skyfritt, 9 = Helt overskyet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5318</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKYDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrstype" type="nvdb:UtstyrstypeNedbøyningsmålingType">
            <annotation>
              <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5319</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSTYRSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5320: Merknad, kan referere til faste merknadsnummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5320</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11272: Øvrig informasjon. Foreløpig til testformål</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11272</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Lang" type="integer">
            <annotation>
              <documentation>5321: ÅDT lange kjøretøy.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5321</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDT_LANG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Total" type="integer">
            <annotation>
              <documentation>5322: ÅDT total</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5322</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDT_TOTAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedbøyning_SenterPlate" type="integer">
            <annotation>
              <documentation>5323: Nedbøyning midt under platen
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5323</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDBØYNING_SENTERPLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedbøyning_20cm_Avstand" type="integer">
            <annotation>
              <documentation>5324: Nedbøyning i 20 centimeters avstand
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5324</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDBØYNING_20CM_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="platediameter_Fallodd" type="integer">
            <annotation>
              <documentation>5325: Diameter av falloddplate
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5325</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLATEDIAMETER_FALLODD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kraft" type="double">
            <annotation>
              <documentation>5326: Kraft ved bruk av fallodd
Enhet: Kilonewton</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5326</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRAFT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nødvendigForsterkning" type="integer">
            <annotation>
              <documentation>5327: Forsterkning som er nødvendig</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5327</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NØDVENDIGFORSTERKNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="svakhet" type="nvdb:SvakhetType">
            <annotation>
              <documentation>5328: Svakhet i bæreevne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5328</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SVAKHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCI" type="integer">
            <annotation>
              <documentation>5329: Surface-kurvature-index</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5329</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SCI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6892: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6892</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåleserie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nedbøyningsmåleserie</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedbøyningsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedbøyningsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SporNedbøyningsmålingType">
    <annotation>
      <documentation>5299: Angir hvor nedbøyning er foretatt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5299</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORNEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporNedbøyningsmålingEnumerationType nvdb:SporNedbøyningsmålingOtherType"/>
  </simpleType>
  <simpleType name="SporNedbøyningsmålingEnumerationType">
    <annotation>
      <documentation>5299: Angir hvor nedbøyning er foretatt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5299</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORNEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Y">
        <annotation>
          <documentation>7317: Ytre spor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7317</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>7318: Mellom spor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7318</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I">
        <annotation>
          <documentation>7319: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7319</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporNedbøyningsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SvakhetType">
    <annotation>
      <documentation>5328: Svakhet i bæreevne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5328</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SVAKHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SvakhetEnumerationType nvdb:SvakhetOtherType"/>
  </simpleType>
  <simpleType name="SvakhetEnumerationType">
    <annotation>
      <documentation>5328: Svakhet i bæreevne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5328</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SVAKHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="IDekkeBærelag">
        <annotation>
          <documentation>7327: I dekke/bærelag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7327</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IBærelagForsterkningslag">
        <annotation>
          <documentation>7328: I bærelag/forsterkningslag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7328</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IForsterkningslagUndergrunn">
        <annotation>
          <documentation>7329: I Forsterkningslag/undergrunn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7329</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SvakhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeNedbøyningsmålingType">
    <annotation>
      <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5319</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSTYRSTYPENEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtstyrstypeNedbøyningsmålingEnumerationType nvdb:UtstyrstypeNedbøyningsmålingOtherType"/>
  </simpleType>
  <simpleType name="UtstyrstypeNedbøyningsmålingEnumerationType">
    <annotation>
      <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5319</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSTYRSTYPENEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="dynaflect">
        <annotation>
          <documentation>7323: Dynaflect</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7323</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fallodd">
        <annotation>
          <documentation>7324: Fallodd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7324</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lacroix">
        <annotation>
          <documentation>7325: Lacroix</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7325</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="benkelmann">
        <annotation>
          <documentation>7326: Benkelmann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7326</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TSD">
        <annotation>
          <documentation>19006: TSD: Vogntogbasert utstyr for å måle nedbøyningshastighet, som videre omregnes til nedbøyning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19006</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtstyrstypeNedbøyningsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
