XSD/NVDB/583/583.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>583: Strekning som har enhelig bredde på vegen. Inneholder bredde på dekke, kjørebane og total vegbredde</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">583</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Vegbredde.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DataopprinnelseVegbreddeType">
    <annotation>
      <documentation>Dataopprinnelse: Angir hvilke kilde dataene kommer fra</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5261</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATAOPPRINNELSEVEGBREDDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DataopprinnelseVegbreddeEnumerationType nvdb:DataopprinnelseVegbreddeOtherType"/>
  </simpleType>
  <simpleType name="DataopprinnelseVegbreddeEnumerationType">
    <annotation>
      <documentation>Dataopprinnelse: Angir hvilke kilde dataene kommer fra</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5261</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATAOPPRINNELSEVEGBREDDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vegReg">
        <annotation>
          <documentation>7115: VegReg: Data registrert ute på veg med VegReg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7115</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="generertFraTverrprofilobjektetID528">
        <annotation>
          <documentation>7113: Generert fra Tverrprofilobjektet (ID 528)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7113</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overførtFraPMSDekke">
        <annotation>
          <documentation>7114: Overført fra PMS/Dekke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7114</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DataopprinnelseVegbreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeType">
    <annotation>
      <documentation>Målemetode: Angir hvilken målemetode som er benyttet for å framskaffe bredde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MålemetodeEnumerationType nvdb:MålemetodeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeEnumerationType">
    <annotation>
      <documentation>Målemetode: Angir hvilken målemetode som er benyttet for å framskaffe bredde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="måltIFelt">
        <annotation>
          <documentation>7157: Målt i felt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7157</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måltIKartOrtofoto">
        <annotation>
          <documentation>7165: Målt i kart/ortofoto</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7165</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="beregnetFraLaserdataDekketilstand">
        <annotation>
          <documentation>7168: Beregnet fra laserdata, dekketilstand</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="beregnetFraKartdataFKB">
        <annotation>
          <documentation>13459: Beregnet fra kartdata/FKB</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13459</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="anslåttVerdi">
        <annotation>
          <documentation>7161: Anslått verdi</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7161</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegbredde" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegbreddeType">
    <annotation>
      <documentation>Vegbredde: Strekning som har enhelig bredde på vegen. Inneholder bredde på dekke, kjørebane og total vegbredde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">583</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegbreddeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="vegbreddeTotalt" type="double">
            <annotation>
              <documentation>Vegbredde, totalt: Avstand mellom ytterkant skulder. Dersom skulder er asfaltert, er dette avstanden mellom asfaltkantene eller kantstein. Dersom hele/deler av skulder ikke er asfaltert, er dette avstand mellom punktene hvor skulderen knekkes mot grøften. Dersom hver kjøreretning har egen vegreferanse må vegbredde registreres per kjøreretning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5264</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDETOTALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkebredde" type="double">
            <annotation>
              <documentation>Dekkebredde: Angir total dekkebredde eksklusiv eventuell fysiske trafikkdelere</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5555</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørebanebredde" type="double">
            <annotation>
              <documentation>Kjørebanebredde: Angir kjørebanebredden som summen av bredden for hver kjørebane. Bredden på hver kjørebane er avstanden mellom midtpunktet på hver av kantlinjene</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5556</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREBANEBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetode" type="nvdb:MålemetodeType">
            <annotation>
              <documentation>Målemetode: Angir hvilken målemetode som er benyttet for å framskaffe bredde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5262</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEMETODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dataopprinnelse" type="nvdb:DataopprinnelseVegbreddeType">
            <annotation>
              <documentation>Dataopprinnelse: Angir hvilke kilde dataene kommer fra</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5261</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATAOPPRINNELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoRegistrert" type="date">
            <annotation>
              <documentation>Dato registrert: Angir dato for når bredde ble registrert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOREGISTRERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6923</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegbreddePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegbredde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
