XSD/NVDB/760/760.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.10">
  <annotation>
    <documentation>760: Rapportdefinisjon.  Til intern bruk i NVDB</documentation>
  </annotation>
  <include schemaLocation="Rapportdefinisjon.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Rapportdefinisjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RapportdefinisjonType">
    <annotation>
      <documentation>760: Rapportdefinisjon.  Til intern bruk i NVDB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">760</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTDEFINISJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RapportdefinisjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="rapportmalfil">
            <annotation>
              <documentation>7580: Rapportmalfil</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7580</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTMALFIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="publisertdato" type="date">
            <annotation>
              <documentation>7581: Publiseringsdato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7581</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PUBLISERTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapporttype" type="nvdb:RapporttypeType">
            <annotation>
              <documentation>7582: Rapporttype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7582</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RapportdefinisjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rapportdefinisjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RapporttypeType">
    <annotation>
      <documentation>7582: Rapporttype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7582</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RapporttypeEnumerationType nvdb:RapporttypeOtherType"/>
  </simpleType>
  <simpleType name="RapporttypeEnumerationType">
    <annotation>
      <documentation>7582: Rapporttype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7582</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="punkt">
        <annotation>
          <documentation>9867: Punkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9867</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="strekning">
        <annotation>
          <documentation>9868: Strekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9868</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegnett">
        <annotation>
          <documentation>9869: Vegnett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9869</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="detaljert">
        <annotation>
          <documentation>9870: Detaljert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mangel">
        <annotation>
          <documentation>9871: Mangel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="generiskdetaljert">
        <annotation>
          <documentation>9872: Generiskdetaljert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9872</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hjelpefil">
        <annotation>
          <documentation>9873: Hjelpefil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9873</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RapporttypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
