XSD/NVDB/883/883.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.08">
  <annotation>
    <documentation>883: Vegstrekning som periodevis er stengt av skred eller skredfare og som er avgrenset av bommer eller annet sperremateriell.</documentation>
  </annotation>
  <include schemaLocation="SkredutsattVeg.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GjentakelsesintervallType">
    <annotation>
      <documentation>10679: Angir hvor ofte det statistisk sett oppstår skred eller skredfare slik at  veg må stenges.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10679</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENTAKELSESINTERVALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjentakelsesintervallEnumerationType nvdb:GjentakelsesintervallOtherType"/>
  </simpleType>
  <simpleType name="GjentakelsesintervallEnumerationType">
    <annotation>
      <documentation>10679: Angir hvor ofte det statistisk sett oppstår skred eller skredfare slik at  veg må stenges.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10679</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENTAKELSESINTERVALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="flereGangerPerMåned">
        <annotation>
          <documentation>17242: Flere ganger per måned</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17242</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flereGangerPerÅr">
        <annotation>
          <documentation>17244: Flere ganger per år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17244</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1til2GangerÅrlig">
        <annotation>
          <documentation>17243: 1-2 ganger årlig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17243</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hver2til5År">
        <annotation>
          <documentation>17245: Hver 2.-5. år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17245</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sjeldnereEnnHvert5År">
        <annotation>
          <documentation>17246: Sjeldnere enn hvert 5. år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17246</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjentakelsesintervallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkredtypeType">
    <annotation>
      <documentation>10678: Angir vanligste skredtype som gir skred på veg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10678</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkredtypeEnumerationType nvdb:SkredtypeOtherType"/>
  </simpleType>
  <simpleType name="SkredtypeEnumerationType">
    <annotation>
      <documentation>10678: Angir vanligste skredtype som gir skred på veg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10678</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stein">
        <annotation>
          <documentation>17234: Stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17234</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jordLøsmasse">
        <annotation>
          <documentation>17235: Jord/løsmasse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17235</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snø">
        <annotation>
          <documentation>17236: Snø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17236</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="is">
        <annotation>
          <documentation>17237: Is</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17237</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flomskred">
        <annotation>
          <documentation>17238: Flomskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17238</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="isStein">
        <annotation>
          <documentation>17239: Is/stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17239</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sørpeskred">
        <annotation>
          <documentation>17240: Sørpeskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17240</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utglidningAv_Ved_Eg">
        <annotation>
          <documentation>17241: Utglidning av v eg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17241</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkredtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SkredutsattVeg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkredutsattVegType">
    <annotation>
      <documentation>883: Vegstrekning som periodevis er stengt av skred eller skredfare og som er avgrenset av bommer eller annet sperremateriell.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">883</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDUTSATTVEG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredutsattVegType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>10676: Gjenkjennbart navn på strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10676</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skredtype" type="nvdb:SkredtypeType">
            <annotation>
              <documentation>10678: Angir vanligste skredtype som gir skred på veg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10678</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjentakelsesintervall" type="nvdb:GjentakelsesintervallType">
            <annotation>
              <documentation>10679: Angir hvor ofte det statistisk sett oppstår skred eller skredfare slik at  veg må stenges.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10679</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENTAKELSESINTERVALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10680: Tilleggsinformasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10680</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredutsattVegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:SkredutsattVeg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
