XSD/NVDB/46/46.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>46: Kjørbar tilknytning til vegnettet for en eiendom eller et begrenset antall eiendommer (1).</documentation>
  </annotation>
  <include schemaLocation="Avkjoersel.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Avkjørsel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:AvkjørselType">
    <annotation>
      <documentation>46: Kjørbar tilknytning til vegnettet for en eiendom eller et begrenset antall eiendommer (1).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">46</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVKJØRSEL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="AvkjørselType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeType">
            <annotation>
              <documentation>1256: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1256</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="primæraktivitet" type="nvdb:PrimæraktivitetType">
            <annotation>
              <documentation>1824: Angir hva som er primær aktivitet langs avkjørselsveg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1824</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRIMÆRAKTIVITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="saksnummer" type="string">
            <annotation>
              <documentation>1822: Angir saksnummer knytta til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1822</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SAKSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeTillatelse" type="nvdb:TypeTillatelseType">
            <annotation>
              <documentation>10670: Angir hvilken type tillatelse det er gitt i tilknytning til denne avkjørselen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10670</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETILLATELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning" type="double">
            <annotation>
              <documentation>1825: Angir stigning på vegobjekt
Enhet: Forholdstall</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1825</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>1682: Angir fast bredde av vegobjektet, dvs bredde av vegen før utvidelsene ifbm selve krysset.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1682</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandPersonaktivitet" type="integer">
            <annotation>
              <documentation>1823: Angir korteste avstand fra en avkjørsel til personaktivitet
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1823</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSTANDPERSONAKTIVITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dreneringsforhold" type="nvdb:DreneringsforholdType">
            <annotation>
              <documentation>1828: Angir hvordan dreneringsforhold er ved avkjørsel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1828</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRENERINGSFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10267: Angir hvilket år avkjørsel ble godkjent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10267</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ETABLERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierAvkjørselType">
            <annotation>
              <documentation>7993: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7993</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligAvkjørselType">
            <annotation>
              <documentation>8056: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8056</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4753: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4753</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AvkjørselPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Avkjørsel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeType">
    <annotation>
      <documentation>1256: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeEnumerationType nvdb:BruksområdeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeEnumerationType">
    <annotation>
      <documentation>1256: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bolig">
        <annotation>
          <documentation>3164: Bolig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3164</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hytte">
        <annotation>
          <documentation>3165: Hytte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3165</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gardsbruk">
        <annotation>
          <documentation>3166: Gardsbruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3166</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dyrkamarkJordbruk">
        <annotation>
          <documentation>3167: Dyrkamark/jordbruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3167</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skogSkogbruk">
        <annotation>
          <documentation>3168: Skog/skogbruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forretning">
        <annotation>
          <documentation>3169: Forretning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="industri">
        <annotation>
          <documentation>3170: Industri</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="service">
        <annotation>
          <documentation>3171: Service</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skole">
        <annotation>
          <documentation>3172: Skole</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fritidsaktivitet">
        <annotation>
          <documentation>3173: Fritidsaktivitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naust">
        <annotation>
          <documentation>3174: Naust</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3174</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DreneringsforholdType">
    <annotation>
      <documentation>1828: Angir hvordan dreneringsforhold er ved avkjørsel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1828</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRENERINGSFORHOLD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DreneringsforholdEnumerationType nvdb:DreneringsforholdOtherType"/>
  </simpleType>
  <simpleType name="DreneringsforholdEnumerationType">
    <annotation>
      <documentation>1828: Angir hvordan dreneringsforhold er ved avkjørsel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1828</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRENERINGSFORHOLD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>3598: Ok</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3598</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tiltaksbehov">
        <annotation>
          <documentation>3607: Tiltaksbehov</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3607</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DreneringsforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierAvkjørselType">
    <annotation>
      <documentation>7993: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7993</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERAVKJØRSEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierAvkjørselEnumerationType nvdb:EierAvkjørselOtherType"/>
  </simpleType>
  <simpleType name="EierAvkjørselEnumerationType">
    <annotation>
      <documentation>7993: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7993</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERAVKJØRSEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>10259: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10259</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10721: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10721</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10323: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10323</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10387: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17576: Uavklart: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17576</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierAvkjørselOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PrimæraktivitetType">
    <annotation>
      <documentation>1824: Angir hva som er primær aktivitet langs avkjørselsveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRIMÆRAKTIVITET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PrimæraktivitetEnumerationType nvdb:PrimæraktivitetOtherType"/>
  </simpleType>
  <simpleType name="PrimæraktivitetEnumerationType">
    <annotation>
      <documentation>1824: Angir hva som er primær aktivitet langs avkjørselsveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRIMÆRAKTIVITET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1til2leiligheter">
        <annotation>
          <documentation>3175: 1-2leiligheter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3175</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3til5Leiligheter">
        <annotation>
          <documentation>3176: 3-5 leiligheter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3176</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6til10Leiligheter">
        <annotation>
          <documentation>3177: 6-10 leiligheter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3177</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="over10Leiligheter">
        <annotation>
          <documentation>3178: &gt; 10 leiligheter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3178</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1til2Hytter">
        <annotation>
          <documentation>3179: 1-2 hytter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3179</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3til5Hytter">
        <annotation>
          <documentation>3180: 3-5 hytter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3180</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="over5Hytter">
        <annotation>
          <documentation>3181: &gt; 5 hytter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3181</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1GardsbrukIDrift">
        <annotation>
          <documentation>3182: 1 gardsbruk i drift</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3182</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2til3GardsbrukIDrift">
        <annotation>
          <documentation>3183: 2-3 gardsbruk i drift</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3183</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedlagtGardsbruk">
        <annotation>
          <documentation>3184: Nedlagt gardsbruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3184</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jordGrustak">
        <annotation>
          <documentation>3185: Jord/grustak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3185</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tømmeropplagringVelteplass">
        <annotation>
          <documentation>3186: Tømmeropplagring/velteplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3186</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grustakSteinbrudd">
        <annotation>
          <documentation>3187: Grustak/steinbrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3187</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="litenForretning">
        <annotation>
          <documentation>3188: Liten forretning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3188</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="middelsLandhandel">
        <annotation>
          <documentation>3189: Middels landhandel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3189</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stortForretningssenter">
        <annotation>
          <documentation>3190: Stort forretningssenter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3190</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kioskGatekjøkken">
        <annotation>
          <documentation>3191: Kiosk/gatekjøkken</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3191</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hotellUnder50Plasser">
        <annotation>
          <documentation>3192: Hotell &lt; 50 plasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3192</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hotellOver50Plasser">
        <annotation>
          <documentation>3193: Hotell &gt; 50 plasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3193</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bensinstasjon_Bilverksted">
        <annotation>
          <documentation>3194: Bensinstasjon, bilverksted</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3194</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykehusUnder50Plasser">
        <annotation>
          <documentation>3195: Sykehus &lt; 50 plasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3195</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykehusOver50Plasser">
        <annotation>
          <documentation>3196: Sykehus &gt; 50 plasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3196</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utfartsplass_Skitrekk">
        <annotation>
          <documentation>3197: Utfartsplass, skitrekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3197</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fritid_Kino">
        <annotation>
          <documentation>3198: Fritid, kino</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lekeplassLøkke">
        <annotation>
          <documentation>3199: Lekeplass/løkke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3199</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrimæraktivitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTillatelseType">
    <annotation>
      <documentation>10670: Angir hvilken type tillatelse det er gitt i tilknytning til denne avkjørselen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10670</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETILLATELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTillatelseEnumerationType nvdb:TypeTillatelseOtherType"/>
  </simpleType>
  <simpleType name="TypeTillatelseEnumerationType">
    <annotation>
      <documentation>10670: Angir hvilken type tillatelse det er gitt i tilknytning til denne avkjørselen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10670</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETILLATELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="varig">
        <annotation>
          <documentation>17225: Varig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17225</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="midlertidig">
        <annotation>
          <documentation>17224: Midlertidig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17224</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="endretBruk">
        <annotation>
          <documentation>17227: Endret bruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17227</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utvidetBruk">
        <annotation>
          <documentation>17226: Utvidet bruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17226</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTillatelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligAvkjørselType">
    <annotation>
      <documentation>8056: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8056</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGAVKJØRSEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligAvkjørselEnumerationType nvdb:VedlikeholdsansvarligAvkjørselOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligAvkjørselEnumerationType">
    <annotation>
      <documentation>8056: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8056</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGAVKJØRSEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10450: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10450</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10528: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10528</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10606: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10606</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17709: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17709</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligAvkjørselOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
