XSD/NVDB/872/872.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>872: Faunapassasjer har som primærfunksjon å koble sammen habitatområder som er fragmentert/isolert på grunn av en eksisterende veg</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">872</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Faunapassasje.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Faunapassasje" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FaunapassasjeType">
    <annotation>
      <documentation>Faunapassasje: Faunapassasjer har som primærfunksjon å koble sammen habitatområder som er fragmentert/isolert på grunn av en eksisterende veg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">872</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FAUNAPASSASJE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FaunapassasjeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="lokalitetsnavn" type="string">
            <annotation>
              <documentation>Lokalitetsnavn: Navn på passasjen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10229</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LOKALITETSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeFaunapassasjeType">
            <annotation>
              <documentation>Type: Angir hvilken type utforming passasjen har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10230</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>Beskrivelse: Beskrivelse av passasjen og område rundt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10237</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="regulertFor" type="string">
            <annotation>
              <documentation>Regulert for: Angir hva passasjen er regulert for i reguleringsplan</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10232</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGULERTFOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="flerbrukspassasje" type="string">
            <annotation>
              <documentation>Flerbrukspassasje: Angir om passasjen har jevnlig menneskelig ferdsel i form av rekreasjon (tursti) eller arbeids-/skogsveg, i tillegg til å kunne brukes som faunapassasje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10231</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FLERBRUKSPASSASJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="nvdb:FormålFaunapassasjeType">
            <annotation>
              <documentation>Formål: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10233</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="integer">
            <annotation>
              <documentation>Bredde: Passasjens bredde målt langs etter vegen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10235</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>Lengde: Passasjens lengde målt på tvers av vegen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10234</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeMin" type="double">
            <annotation>
              <documentation>Høyde min: Passasjens minste gjennomgående høyde i 2/3 av passasjens snitt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10236</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEMIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeMaks" type="double">
            <annotation>
              <documentation>Høyde maks: Passasjens største gjennomgående høyde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10246</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEMAKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpenhet" type="double">
            <annotation>
              <documentation>Åpenhet: En indeks som beskriver forholdet mellom høyden, bredden og lengden.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10238</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPENHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutusId" type="string">
            <annotation>
              <documentation>Brutus_Id: Gir referanse til brudatabanken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10239</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUTUSID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10289</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10240</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10241</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStikkrenneKulvert" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:StikkrenneKulvert</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadePunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkadePunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FaunapassasjePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Faunapassasje"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FormålFaunapassasjeType">
    <annotation>
      <documentation>Formål: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10233</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅLFAUNAPASSASJE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FormålFaunapassasjeEnumerationType nvdb:FormålFaunapassasjeOtherType"/>
  </simpleType>
  <simpleType name="FormålFaunapassasjeEnumerationType">
    <annotation>
      <documentation>Formål: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10233</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅLFAUNAPASSASJE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="akvatisk">
        <annotation>
          <documentation>16734: Akvatisk: For alle vannlevende organismer (f.eks. fisk, bunndyr etc)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="terrestrisk">
        <annotation>
          <documentation>16735: Terrestrisk: For alle landlevende organismer (f.eks. hjortevilt, smågnagere etc)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16735</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="begge">
        <annotation>
          <documentation>16736: Begge: Passasjen har dobbeltfunksjon, tillater ferdsel av både land- og vannlevende organismer.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16736</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FormålFaunapassasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFaunapassasjeType">
    <annotation>
      <documentation>Type: Angir hvilken type utforming passasjen har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10230</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFAUNAPASSASJE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFaunapassasjeEnumerationType nvdb:TypeFaunapassasjeOtherType"/>
  </simpleType>
  <simpleType name="TypeFaunapassasjeEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type utforming passasjen har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10230</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFAUNAPASSASJE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="overgang">
        <annotation>
          <documentation>16730: Overgang: En passasje som fører viltet i bro over vegen. Viltgjerder leder viltet i riktig retning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16730</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="undergang">
        <annotation>
          <documentation>16731: Undergang: En passasje som fører viltet under vegen. Dette er enten en spesiallaget passasje for vilt eller en bru over en naturlig forsenkning i landskapet (e.g. over en bekkedal).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16731</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kulvert">
        <annotation>
          <documentation>16732: Kulvert: Kulverter er gjennomløp beliggende under vegbanen, oftest støpt i betong. Finnes med og uten vannføring. Inkluderer også hvelv/rør i fylling.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16732</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sluse">
        <annotation>
          <documentation>16733: Sluse: En åpning i viltgjerdet på omtrent 20-50 meter der viltet vil ha mulighet til å krysse vegen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16733</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFaunapassasjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
