XSD/NVDB/608/629.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>629: Vedlikeholdstiltak for vegdekke, type flatelapping</documentation>
  </annotation>
  <include schemaLocation="Entreprenoer.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DekkevariantVegdekkeFlatelappingType">
    <annotation>
      <documentation>5776: Angir detaljer om dekkelappingsmaterialet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5776</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEVARIANTVEGDEKKEFLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkevariantVegdekkeFlatelappingEnumerationType nvdb:DekkevariantVegdekkeFlatelappingOtherType"/>
  </simpleType>
  <simpleType name="DekkevariantVegdekkeFlatelappingEnumerationType">
    <annotation>
      <documentation>5776: Angir detaljer om dekkelappingsmaterialet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5776</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEVARIANTVEGDEKKEFLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="åpen">
        <annotation>
          <documentation>8143: Åpen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8143</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tett">
        <annotation>
          <documentation>8144: Tett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8144</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drenerende">
        <annotation>
          <documentation>8145: Drenerende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8145</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksmasse">
        <annotation>
          <documentation>8146: Gjenbruksmasse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8146</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkevariantVegdekkeFlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekkeFlatelappingType">
    <annotation>
      <documentation>5768: Angir hvilken massetype som benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MASSETYPEVEGDEKKEFLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MassetypeVegdekkeFlatelappingEnumerationType nvdb:MassetypeVegdekkeFlatelappingOtherType"/>
  </simpleType>
  <simpleType name="MassetypeVegdekkeFlatelappingEnumerationType">
    <annotation>
      <documentation>5768: Angir hvilken massetype som benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MASSETYPEVEGDEKKEFLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tynndekke">
        <annotation>
          <documentation>8095: Tynndekke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8095</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drensasfalt">
        <annotation>
          <documentation>8061: Drensasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8061</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong_I">
        <annotation>
          <documentation>8087: Asfaltgrusbetong, I</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8087</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong_II">
        <annotation>
          <documentation>8088: Asfaltgrusbetong, II</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8088</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="steindekke">
        <annotation>
          <documentation>8073: Steindekke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8073</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="slamasfalt">
        <annotation>
          <documentation>8067: Slamasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8067</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="valsebetong">
        <annotation>
          <documentation>8094: Valsebetong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8094</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brostein">
        <annotation>
          <documentation>8075: Brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8075</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="knustAsfalt">
        <annotation>
          <documentation>8096: Knust asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8096</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>8053: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8053</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltertGrus">
        <annotation>
          <documentation>8058: Asfaltert grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8058</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="støpeasfalt">
        <annotation>
          <documentation>8063: Støpeasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="topeka">
        <annotation>
          <documentation>8068: Topeka</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8068</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjelettasfalt">
        <annotation>
          <documentation>8060: Skjelettasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8060</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltbetong">
        <annotation>
          <documentation>8062: Asfaltbetong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8062</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltemulsjonsgrus">
        <annotation>
          <documentation>8086: Asfaltemulsjonsgrus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8086</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltgrusbetong">
        <annotation>
          <documentation>8059: Asfaltgrusbetong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8059</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mykasfalt">
        <annotation>
          <documentation>8056: Mykasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8056</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mykDrensasfalt">
        <annotation>
          <documentation>8057: Myk drensasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8057</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltertFinpukk">
        <annotation>
          <documentation>8078: Asfaltert finpukk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8078</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfaltløsningsgrus">
        <annotation>
          <documentation>8089: Asfaltløsningsgrus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8089</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsgrus">
        <annotation>
          <documentation>8054: Emulsjonsgrus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8054</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonspukk">
        <annotation>
          <documentation>8090: Emulsjonspukk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8090</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="emulsjonsgrus_Tett">
        <annotation>
          <documentation>8055: Emulsjonsgrus, tett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8055</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oljegrus">
        <annotation>
          <documentation>8079: Oljegrus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8079</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandling">
        <annotation>
          <documentation>8080: Enkel overflatebehandling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8080</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandling">
        <annotation>
          <documentation>8081: Dobbel overflatebehandling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8081</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="enkelOverflatebehandlingGrus">
        <annotation>
          <documentation>8082: Enkel overflatebehandling grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8082</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dobbelOverflatebehandlingGrus">
        <annotation>
          <documentation>8083: Dobbel overflatebehandling grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8083</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gjenbruksasfalt">
        <annotation>
          <documentation>8065: Gjenbruksasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8065</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forsegling">
        <annotation>
          <documentation>8084: Forsegling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8084</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fresteAsfaltmaterialer">
        <annotation>
          <documentation>8064: Freste asfaltmaterialer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8064</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="frest_AnriketGja">
        <annotation>
          <documentation>8091: Frest, Anriket/Gja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8091</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="frest_DjupfrestGja">
        <annotation>
          <documentation>8092: Frest, Djupfrest/Gja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8092</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="frest_PlanfrestGja">
        <annotation>
          <documentation>8093: Frest, Planfrest/Gja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8093</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gummiasfalt">
        <annotation>
          <documentation>8066: Gummiasfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8066</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>8069: Betong: b</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8069</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_Uarmert">
        <annotation>
          <documentation>8070: Betongdekke, uarmert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8070</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_VanligArmert">
        <annotation>
          <documentation>8071: Betongdekke, vanlig armert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8071</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongdekke_KontinuerligArmert">
        <annotation>
          <documentation>8072: Betongdekke, kontinuerlig armert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8072</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongelementer">
        <annotation>
          <documentation>8085: Betongelementer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8085</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>8074: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8074</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålgitter">
        <annotation>
          <documentation>8076: Stålgitter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8076</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>8077: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8077</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MassetypeVegdekkeFlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegdekke_Flatelapping" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Vegdekke_FlatelappingType">
    <annotation>
      <documentation>629: Vedlikeholdstiltak for vegdekke, type flatelapping</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">629</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGDEKKE_FLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegdekke_FlatelappingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="massetype" type="nvdb:MassetypeVegdekkeFlatelappingType">
            <annotation>
              <documentation>5768: Angir hvilken massetype som benyttes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5768</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MASSETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="masseforbruk" type="integer">
            <annotation>
              <documentation>5769: Angir masseforbruk i kg/kvm
Enhet: Kilo/kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5769</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MASSEFORBRUK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="nvdb:ØvreNominelleSteinstørrelseVegdekkeFlatelappingType">
            <annotation>
              <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5774</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ØVRENOMINELLESTEINSTØRRELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="leggedato" type="date">
            <annotation>
              <documentation>5770: Angir dato for flatelapping</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5770</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEGGEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5771: Gir permanent merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5771</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkevariant" type="nvdb:DekkevariantVegdekkeFlatelappingType">
            <annotation>
              <documentation>5776: Angir detaljer om dekkelappingsmaterialet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5776</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEVARIANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6901: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6901</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8903: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8903</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Entreprenør</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegdekke_FlatelappingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegdekke_Flatelapping"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeFlatelappingType">
    <annotation>
      <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5774</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ØVRENOMINELLESTEINSTØRRELSEVEGDEKKEFLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekkeFlatelappingEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekkeFlatelappingOtherType"/>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeFlatelappingEnumerationType">
    <annotation>
      <documentation>5774: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5774</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ØVRENOMINELLESTEINSTØRRELSEVEGDEKKEFLATELAPPING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>8112: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8112</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>8097: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8097</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>8098: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8098</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>8117: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8117</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>8099: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8099</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>8111: 9</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8111</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>8113: 10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8113</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>8100: 11</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>8101: 12</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8101</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>8110: 13</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>8102: 14</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8102</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>8114: 15</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8114</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <documentation>8103: 16</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8103</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>8107: 18</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8107</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>8108: 19</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8108</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>8115: 20</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8115</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>8104: 22</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8104</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>8109: 24</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8109</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <documentation>8116: 26</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8116</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="28">
        <annotation>
          <documentation>8105: 28</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8105</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>8106: 32</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8106</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ØvreNominelleSteinstørrelseVegdekkeFlatelappingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
