XSD/NVDB/318/318.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>318: Sted/område hvor det er behov for å snø-/isrydding utover det som tas med brøytekjøretøy</documentation>
  </annotation>
  <include schemaLocation="SnoeIsrydding.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="SnøIsrydding" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SnøIsryddingType">
    <annotation>
      <documentation>318: Sted/område hvor det er behov for å snø-/isrydding utover det som tas med brøytekjøretøy</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">318</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SNØISRYDDING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SnøIsryddingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>2224: Angir hvilken type snørydding det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2224</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>10719: Tilleggsbeskrivelse. Kan f.eks være bakgrunn for snøryddingsbehov, om snø må kjøres bort, Hvor stort omffang snørydding har osv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10719</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bortkjøring" type="gml:CodeType">
            <annotation>
              <documentation>10863: Angir om det er nødvendig å laste snø/is over på annet kjøretøy (lastebil/traktor) og kjøre det bort fra stedet eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10863</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BORTKJØRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hyppighet" type="integer">
            <annotation>
              <documentation>10864: Angir anslag for hvor ofte det er behov for å foreta rydding per vintersesong</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HYPPIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="makshøydeIs" type="integer">
            <annotation>
              <documentation>10865: Angir hvor høyt over veg det er nødvendig med isrensk.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10865</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSHØYDEIS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>10866: Angir areal av område som skal snø-/isryddes.
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10866</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4909: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4909</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøIsryddingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:SnøIsrydding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
