XSD/NVDB/798/540.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>540: Gir informasjon om representativ trafikkmengde for en strekning</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">540</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Trafikkmengde_Kjoerefelt.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GrunnlagForÅDTType">
    <annotation>
      <documentation>Grunnlag for ÅDT: Angir hva som er grunnlag for ÅDT-verdien</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4625</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNLAGFORÅDT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GrunnlagForÅDTEnumerationType nvdb:GrunnlagForÅDTOtherType"/>
  </simpleType>
  <simpleType name="GrunnlagForÅDTEnumerationType">
    <annotation>
      <documentation>Grunnlag for ÅDT: Angir hva som er grunnlag for ÅDT-verdien</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4625</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNLAGFORÅDT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="norTraf">
        <annotation>
          <documentation>5579: NorTraf</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5579</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="norTrafKommune">
        <annotation>
          <documentation>13102: NorTraf Kommune: Fra NorTraf Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13102</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ferjedatabanken">
        <annotation>
          <documentation>5582: Ferjedatabanken</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5582</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tellingOgSkjønn">
        <annotation>
          <documentation>5581: Telling og skjønn: Basert på telling og skjønn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5581</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjønn">
        <annotation>
          <documentation>5580: Skjønn: Basert på skjønn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5580</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegorama">
        <annotation>
          <documentation>5578: Vegorama</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5578</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GrunnlagForÅDTOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppdatertFraType">
    <annotation>
      <documentation>Oppdatert fra: Angir hvorfra ÅDT-verdien er kommet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6843</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPDATERTFRA</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppdatertFraEnumerationType nvdb:OppdatertFraOtherType"/>
  </simpleType>
  <simpleType name="OppdatertFraEnumerationType">
    <annotation>
      <documentation>Oppdatert fra: Angir hvorfra ÅDT-verdien er kommet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6843</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPDATERTFRA</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="oppskrevetFraPrimærtellepunktet">
        <annotation>
          <documentation>9030: Oppskrevet fra primærtellepunktet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9030</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppskrevetFraNivå1Tellepunktet">
        <annotation>
          <documentation>9031: Oppskrevet fra nivå-1 tellepunktet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9031</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppskrevetFraFylkesindeksen">
        <annotation>
          <documentation>9032: Oppskrevet fra fylkesindeksen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9032</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukersatt">
        <annotation>
          <documentation>9033: Brukersatt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9033</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppdatertFraOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkmengde" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkmengdeType">
    <annotation>
      <documentation>Trafikkmengde: Gir informasjon om representativ trafikkmengde for en strekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">540</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKMENGDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkmengdeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="ådtTotal" type="integer">
            <annotation>
              <documentation>ÅDT, total: Angir total årsdøgntrafikk.  Representativt for gitt strekning.  Gjennomsnittsverdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4623</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTTOTAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="ådtAndelLangeKjøretøy" type="integer">
            <annotation>
              <documentation>ÅDT, andel lange kjøretøy: Angir hvor stor andel (i prosent) av kjøretøyene som er definert som lange.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4624</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTANDELLANGEKJØRETØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="årGjelderFor" type="integer">
            <annotation>
              <documentation>År, gjelder for: Angir hvilket år trafikkdataene gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4621</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRGJELDERFOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdatertFra" type="nvdb:OppdatertFraType">
            <annotation>
              <documentation>Oppdatert fra: Angir hvorfra ÅDT-verdien er kommet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPDATERTFRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grunnlagForÅDT" type="nvdb:GrunnlagForÅDTType">
            <annotation>
              <documentation>Grunnlag for ÅDT: Angir hva som er grunnlag for ÅDT-verdien</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4625</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNLAGFORÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarligId" type="string">
            <annotation>
              <documentation>Ansvarlig - id: Angir brukeridentifikasjon til ansvarlig for datainnlegging</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4620</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANSVARLIGID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkarbeidstall" type="integer">
            <annotation>
              <documentation>Trafikkarbeidstall: Antall vognkilometer pr år.  Veglengde x ÅDT x 365.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7477</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKARBEIDSTALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tellepunktPrimært" type="integer">
            <annotation>
              <documentation>Tellepunkt, primært: Angir hvilket tellepunkt som representerer strekningen primært</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5219</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TELLEPUNKTPRIMÆRT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tellepunktSekundært" type="integer">
            <annotation>
              <documentation>Tellepunkt, sekundært: Sekundært tellepunkt for kobling av ÅDT-strekninger.(Nivå-1 pkt.)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5222</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TELLEPUNKTSEKUNDÆRT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forholdÅDT" type="double">
            <annotation>
              <documentation>ForholdÅDT: Prosent ÅDT på parsellen.  PRSTARTR = 100.0 *VDB-VERDI / TDB-VERDI</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5220</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORHOLDÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forholdLange" type="double">
            <annotation>
              <documentation>ForholdLange: Prosent Lange på strekningen ift. prosenttallet i tellepunktet.  PRLANGE = 100.0 *VDB-VERDI / TDB-VERDI</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5221</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORHOLDLANGE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="koplingsår" type="integer">
            <annotation>
              <documentation>Koplingsår: Årstall koblingen ble utført</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5223</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOPLINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mfaktor" type="double">
            <annotation>
              <documentation>Mfaktor: Multiplikasjonsfaktor.  Faktor for å kalkulere ÅDT verdi inne på en strekning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4622</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtStart" type="integer">
            <annotation>
              <documentation>ÅDT, start: Angir årsdøgntrafikk i start av gitt strekning.  Inkl tunge kjøretøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7475</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTSTART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtSlutt" type="integer">
            <annotation>
              <documentation>ÅDT, slutt: Angir årsdøgntrafikk i slutt av gitt strekning.  Inkl tunge kjøretøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7476</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTSLUTT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5042</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkmengdeKjørefelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TrafikkmengdeKjørefelt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkmengdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkmengde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
