XSD/NVDB/795/795.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.08">
  <annotation>
    <documentation>795: Objekttypen inneholder tiltak knyttet til konflikter mellom eksisterende veg og økologiske verdier</documentation>
  </annotation>
  <include schemaLocation="TiltakOekologiskeVerdier.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="StatusTiltakType">
    <annotation>
      <documentation>9105: Status for tiltaket</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9105</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSTILTAK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusTiltakEnumerationType nvdb:StatusTiltakOtherType"/>
  </simpleType>
  <simpleType name="StatusTiltakEnumerationType">
    <annotation>
      <documentation>9105: Status for tiltaket</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9105</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSTILTAK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ubehandlet">
        <annotation>
          <documentation>12033: Ubehandlet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12033</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="redusert">
        <annotation>
          <documentation>12034: Redusert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12034</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utbedret">
        <annotation>
          <documentation>12035: Utbedret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12035</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusTiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakAnbefaltType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKANBEFALT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakAnbefaltEnumerationType nvdb:TiltakAnbefaltOtherType"/>
  </simpleType>
  <simpleType name="TiltakAnbefaltEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKANBEFALT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="JA">
        <annotation>
          <documentation>12036: JA</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12036</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NEI">
        <annotation>
          <documentation>12037: NEI</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12037</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakAnbefaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltaktypeType">
    <annotation>
      <documentation>9103: Type tilak fra liste med tillatte verdier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9103</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltaktypeEnumerationType nvdb:TiltaktypeOtherType"/>
  </simpleType>
  <simpleType name="TiltaktypeEnumerationType">
    <annotation>
      <documentation>9103: Type tilak fra liste med tillatte verdier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9103</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vannpassasjeUnderVeg_Om_Bygges">
        <annotation>
          <documentation>12009: Vannpassasje under veg (om)bygges: Myntet på fisk og øvrig ferskvannsfauna for å forbedre/gjenskape naturlig infrastruktur. 
Gjelder vandringshinder (fall, substrat og bunnforhold). Gjerne supplert med "bankett" for landlevende dyr og amfibier. 
Formål: 
&lt;ul&gt;
	&lt;li&gt;De-fragmentering&lt;/li&gt;
	&lt;li&gt;Avbøte påvirkningstypen fragmentering.&lt;/li&gt;
	&lt;li&gt;For å sikre god utskifting av vann ved avsnørte fjorder.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12009</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="miljøundergang_Om_Bygges">
        <annotation>
          <documentation>12010: Miljøundergang (om)bygges: Myntet på alle typer vilt, amfibier, flaggermus m.fl. 
Formål: 
&lt;ul&gt;
	&lt;li&gt;De-fragmentering&lt;/li&gt;
	&lt;li&gt;Forbedre/gjenskape grønn infrastruktur på tvers av vegen. &lt;/li&gt;
	&lt;li&gt;Avbøte påvirkningstypen fragmentering&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="miljøovergang_Om_Bygges">
        <annotation>
          <documentation>12011: Miljøovergang (om)bygges: Hjortevilt og andre landlevende arter, fugl, flaggermus, insekter, planter m fl.
Formål:
&lt;ul&gt;
	&lt;li&gt;De-fragmentering&lt;/li&gt;
	&lt;li&gt;Forbedre/gjenskape grønn infrastruktur på tvers av vegen. &lt;/li&gt;
	&lt;li&gt;Avbøter påvirkningstypen fragmentering.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12011</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stengslerForÅHoldeDyrUnnaVegen">
        <annotation>
          <documentation>12012: Stengsler for å holde dyr unna vegen: Viltgjerder/ledegjerder/voller o.a. Myntet på hjortevilt, andre pattedyr, fugler (voll), og amfibier. Inkluderer viltsperrer for å hindre at vilt tar seg ut i områder hvor de ikke er ønsket, f eks øyer med bakkehekkende fugl. Kan øke barriereeffekten.
Formål:
&lt;ul&gt;
	&lt;li&gt;Viltgjerder er i hovedsak et TS-tiltak, men som et de-fragmenteringstiltak (lede dyrene til egnet krysningspunkt) kan tiltaket være relevant. &lt;/li&gt;
	&lt;li&gt;Hindre spredning av vilt til sårbare områder.&lt;/li&gt;
	&lt;li&gt;Avbøte påvirkningstypen påkjørsler (i en viss grad også fragmentering). &lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12012</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikke_BarriereskapendeTiltakForÅHoldeDyrUnnaVegen">
        <annotation>
          <documentation>12013: Ikke-barriereskapende tiltak for å holde dyr unna vegen: Gjelder alle pattedyr, men særlig hjortedyr. Tiltak som reduserer antallet viltpåkjørsler uten å øke barriereeffekten er å foretrekke. For store dyr er det en synergieffekt med tanke på trafikksikkerhet. Dersom dyrene trekker mot vegen fordi den fungerer som barriere i et ellers viktig trekkområde vil slike tiltak ikke løse hovedproblemet. 
&lt;ul&gt;
	&lt;li&gt;Fôring kan hindre dyr å krysse vege år de trekker ned i elvedaler vinterstid.&lt;/li&gt;
	&lt;li&gt;Redusert hastighet på strekninger og i perioder med spesielt mye viltaktivitet kan redusere risikoen for alvorlige viltulykker.&lt;/li&gt;
	&lt;li&gt;Viltgjerder begrenser muligheten for viltet til å bevege seg ut i vegbanen. På lavtrafikkerte veger kan viltsluser på oversiktlige tilrettelagte kompensere for økt barriereeffekt.&lt;/li&gt;
	&lt;li&gt;Belysning på krysningspunkter, og i ev viltsluser, øker oppdagelsesavstanden gjensidig.&lt;/li&gt;
&lt;/ul&gt;

Formål: Å redusere risikoen for at dyre blir påkjørt, ved å hindre dem i å bevege seg ut på vegen og/eller ved å lede dem til sikre krysningspunkter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12013</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fysiskeTiltakForÅSkjermeForekomsterLangsVegen">
        <annotation>
          <documentation>12014: Fysiske tiltak for å skjerme forekomster langs vegen: Myntet på fugle- og pattedyrfauna. Aktuelt tiltak der særlig viktige hekkeområder ligger tett på vegen (gråor-heggeskoger, våtmarker etc.) Også aktuelt der vegstøy innvirker negativt på funksjonsområder for hjortedyr, særlig der effekten av faunapassasjer reduseres. F eks planting av levegetasjon eller etablering av støyvoll/-skjerm.
Formål: 
&lt;ul&gt;
	&lt;li&gt;Avbøte påvirkningstypene visuell forstyrrelse, støyforurensning.&lt;/li&gt;
&lt;/ul&gt;

Stopp-/stansforbud og fjerning av P-/rasteplasser kan være et positivt tiltak der vilttrekk over vegen forstyrres av menneskelig ferdsel ut fra P-plasser eller hensatte biler langs vegen.
Formål:
&lt;ul&gt;
	&lt;li&gt;Redusere forstyrrelse av vilt, redusere menneskelig aktivitet i sårbare områder.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12014</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="behandlingAvOverflatevannForbedres">
        <annotation>
          <documentation>12016: Behandling av overflatevann forbedres: Ekstraordinære tiltak for vannbeskyttelse anbefales i særlig sårbare områder ? for eksempel naturreservater og andre svært viktige lokaliteter med arts- og individrike bunndyr- og plantesamfunn. 
Formål:
&lt;ul&gt;
	&lt;li&gt;Avbøter påvirkningstypen forurensning av vann og grunn.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12016</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skilting">
        <annotation>
          <documentation>12017: Skilting: Bruk av viltskilt skal i hht skiltnormalene kun brukes der det er stor fare for å påtreffe vilt i vegbanen. Sesongvarierende skilting øker trafikantenes respekt for skiltet.
Formål: 
&lt;ul&gt;
	&lt;li&gt;Tiltak for å endre bilistenes adferd.&lt;/li&gt;
	&lt;li&gt;Avbøte påvirkningstypen påkjørsler.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12017</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="økologiskKompensasjon">
        <annotation>
          <documentation>12018: Økologisk kompensasjon: Etablering av nye habitater som f eks våtmarker eller dammer for amfibier som kompensasjon for ødelagte habitater.  
Formål:
&lt;ul&gt;
	&lt;li&gt;Avbøte påvirkningstypene arealbeslag, fragmentering, endrede grunnvanns- og dreneringsforhold, forurensning av vann og grunn.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12018</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="andreInvesteringstiltak">
        <annotation>
          <documentation>12019: Andre investeringstiltak: Samlesekk for tiltak som ikke er fanget opp av andre punkter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12019</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="økologiskRestaureringAvAnleggsområderOgVegkanterVedNyeAnlegg">
        <annotation>
          <documentation>12032: Økologisk restaurering av anleggsområder og vegkanter ved nye anlegg: For å minimere inngrepet etter utbygging kan anleggsområdene (og eventuelt vegkanten) restaureres tilbake til en best mulig økologisk veltilpasset vegetasjonstype.
Formål:
&lt;ul&gt;
	&lt;li&gt;Redusere den klimatiske kanteffekten&lt;/li&gt;
	&lt;li&gt;Lage en naturlig kantsone inn mot urørt natur&lt;/li&gt;
	&lt;li&gt;Hindre etablering av introduserte arter&lt;/li&gt;
	&lt;li&gt;Øke leveområdene til naturlige arter&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12032</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingenAktuelleInvesteringstiltak">
        <annotation>
          <documentation>12020: Ingen aktuelle investeringstiltak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12020</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="saltingsregimeEndres">
        <annotation>
          <documentation>12015: Saltingsregime endres: Vannbeskyttelse. Bør i denne sammenheng anbefales hvis det er dokumentert særlig sårbare systemer/systemer med klar indikasjon på saltskader nær vegen. Jf UTB-rapport 2006/06. 
Formål:
&lt;ul&gt;
	&lt;li&gt;Avbøte påvirkningstypen forurensning av vann og grunn.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12015</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="behandlingAvOverflatevannForbedres_DV">
        <annotation>
          <documentation>12021: Behandling av overflatevann forbedres (D/V): Vedlikehold av rensedammer, drifting av "selvrensende" grøfter.
Formål:
&lt;ul&gt;
	&lt;li&gt;Avbøte påvirkningstypen forurensning av vann og grunn.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12021</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="slåtteregimeEndres">
        <annotation>
          <documentation>12022: Slåtteregime endres: Artsrike vegkanter kan trenge tilpasset skjøtselsregime.
Formål:
&lt;ul&gt;
	&lt;li&gt;Fremelske de "riktige" artene, hindre etablering av uønskete arter.&lt;/li&gt;
	&lt;li&gt;Unngå sprøyting.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12022</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tiltakMotUønsketeArter">
        <annotation>
          <documentation>12023: Tiltak mot uønskete arter: Bekjempelse av uønskete og aggressivt invaderende arter, aktivt eller gjennom skjøtsel tilrettelagt for å fremme stedegne arter. Restriktiv bruk av ikke-stedegne arter i beplanting. Stedstilpassete frøblandinger.
Formål: 
&lt;ul&gt;
	&lt;li&gt;Bevare det naturlige biologiske mangfoldet&lt;/li&gt;
	&lt;li&gt;Redusere spredning av plantesykdommer og parasitter.&lt;/li&gt;
	&lt;li&gt;Bruk av målrettet og begrenset sprøyting&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12023</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="siktryddingTynning">
        <annotation>
          <documentation>12024: Siktrydding/tynning: Siktrydding i viltsoner øker oppdagelsesavstanden gjensidig. Vegetasjonsfjerning/tynning reduserer forekomst av beitende dyr langs vegen.
Formål: 
&lt;ul&gt;
	&lt;li&gt;Redusere risikoen for påkjørsler av dyr på vegen.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12024</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tynning">
        <annotation>
          <documentation>12963: Tynning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12963</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="erosjonssikringOgOpprydding">
        <annotation>
          <documentation>12025: Erosjonssikring og opprydding: Vedlikehold av strandsoner, forbygninger, kulverter og andre kontaktpunkter med vann, både med tanke på erosjon og at oppsamlet materiale og kvist og kvast kan virke som vandringshinder. Sikring av rasmark og andre erosjonsutsatte arealer.
Formål: 
&lt;ul&gt;
	&lt;li&gt;Sikre at biotoper ikke ødelegges. &lt;/li&gt;
	&lt;li&gt;Sikre at kulverter ikke blir vandringshindre for fisk med mer.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12025</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sikringAvStoreTrær">
        <annotation>
          <documentation>12026: Sikring av store trær: Gamle, verdifulle trær og alleer kan trenge tilpasset skjøtsel. Store trær kan falle over og legge ned viltgjerder.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12026</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vedlikeholdAvGjerder">
        <annotation>
          <documentation>12027: Vedlikehold av gjerder</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12027</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vedlikeholdAvFaunapassasjer">
        <annotation>
          <documentation>12028: Vedlikehold av faunapassasjer: Bruken av faunapassasjer (våte/tørre, over/under) kan bli sterkt påvirket av manglende vedlikehold. Endringer i forholdene på lokaliteten kan også føre til at tiltaket ikke lenger er tilgjengelig.
Formål:
Sikre at effektiviteten til faunapassasjen opprettholdes og om mulig forbedres</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12028</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="viltbeskyttendeTiltak">
        <annotation>
          <documentation>12031: Viltbeskyttende tiltak: Situasjonsbestemt skilting kan øke trafikantenes oppmerksomhet i perioder med mye viltaktivitet. Midlertidig stopp-/stansforbud og fjerning av P-/rasteplasser kan være et positivt tiltak der vilttrekk over vegen forstyrres av menneskelig ferdsel ut fra P-plasser eller hensatte biler langs vegen. I spesielle tilfeller kan det være hensiktsmessig å vurdere midlertidig stenging av en vegstrekning, jf rv 7 Hardangervidda og villreinen. Redusert hastighet på strekninger og i perioder med spesielt mye viltaktivitet kan redusere risikoen for alvorlige viltulykker og redusere barriereeffekten.
Formål:
&lt;ul&gt;
	&lt;li&gt;Redusere forstyrrelse av vilt og viltets trekkruter.&lt;/li&gt;
	&lt;li&gt;Redusere menneskelig aktivitet i sårbare områder.&lt;/li&gt;
	&lt;li&gt;Redusere risikoen for viltpåkjørsler.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12031</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="andreDriftsOgVedlikeholdstiltak">
        <annotation>
          <documentation>12029: Andre drifts- og vedlikeholdstiltak: Tiltak som ikke er nevnt over. F eks tiltak for å redusere kanteffekten i skog, 
tilrettelegge for naturlig revegetering fra stedlige toppmasser inn mot skoggrensen,
Formål:
&lt;ul&gt;
	&lt;li&gt;For å få et naturlig skogbryn raskt vokse fram&lt;/li&gt;
	&lt;li&gt;Minske den klimatiske kanteffekten innover i skogen.&lt;/li&gt;
&lt;/ul&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12029</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingenAktuelleDriftOgVedlikeholdstiltak">
        <annotation>
          <documentation>12030: Ingen aktuelle drift- og vedlikeholdstiltak: Brukes dersom det ikke finnes noen relevante tiltak som kan avbøte situasjonen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12030</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltaktypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TiltakØkologiskeVerdier" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TiltakØkologiskeVerdierType">
    <annotation>
      <documentation>795: Objekttypen inneholder tiltak knyttet til konflikter mellom eksisterende veg og økologiske verdier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">795</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKØKOLOGISKEVERDIER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TiltakØkologiskeVerdierType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="tiltaktype" type="nvdb:TiltaktypeType">
            <annotation>
              <documentation>9103: Type tilak fra liste med tillatte verdier</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9103</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_Kommentar" type="string">
            <annotation>
              <documentation>9104: Tekstlig beskrivelse av tiltak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9104</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK_KOMMENTAR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="statusTiltak" type="nvdb:StatusTiltakType">
            <annotation>
              <documentation>9105: Status for tiltaket</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9105</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSTILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utførtDato" type="date">
            <annotation>
              <documentation>9106: Dato for utført tiltak</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9106</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFØRTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konfliktID" type="string">
            <annotation>
              <documentation>9107: Unik ID for konflikten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9107</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONFLIKTID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakAnbefalt" type="nvdb:TiltakAnbefaltType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9108</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKANBEFALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TiltakØkologiskeVerdierPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TiltakØkologiskeVerdier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
