XSD/NVDB/719/597.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>597: VSTØY/VLUFT inndata og resultatdata knyttet til en vegstrekning.</documentation>
  </annotation>
  <include schemaLocation="Stoey_Luft_Beregning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Støy_Luft_Strekningsdata" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Støy_Luft_StrekningsdataType">
    <annotation>
      <documentation>597: VSTØY/VLUFT inndata og resultatdata knyttet til en vegstrekning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">597</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_LUFT_STREKNINGSDATA</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Støy_Luft_StrekningsdataType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="versjonAvVluftVstøy" type="string">
            <annotation>
              <documentation>5456: Forteller hvilken versjon av VLUFT/VSTØY som er benyttet ved beregning av størrelser.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5456</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VERSJONAVVLUFTVSTØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="soneBenyttetILuftstøyBeregninger" type="gml:CodeType">
            <annotation>
              <documentation>5437: Sone som benyttes i luftstøyberegninger. Angir om det er by, tettsted eller landområde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5437</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONEBENYTTETILUFTSTØYBEREGNINGER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="områdetype" type="gml:CodeType">
            <annotation>
              <documentation>6995: Parameter benyttet i VSTØY/VLUFT-beregning.  Angir hvilken områdetype strekningen ligger i.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6995</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMRÅDETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardklasse" type="gml:CodeType">
            <annotation>
              <documentation>8315: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8315</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gateklasse" type="gml:CodeType">
            <annotation>
              <documentation>6996: Parameter benyttet i VSTØY/VLUFT-beregning.  Beskriver gatens/vegens funksjon på gitt strekning..</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6996</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GATEKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gatenavn" type="string">
            <annotation>
              <documentation>6997: Angir gatenavn som er representativt for strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6997</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GATENAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gatenummer" type="string">
            <annotation>
              <documentation>6998: Angir gatenummer for oppgitt gate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6998</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GATENUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning" type="integer">
            <annotation>
              <documentation>6999: Stigning på gaten/vegen i prosent.  Positivt fortegn angir stigning i metreringsretningen, negativt fortegn angir nedoverbakke i metreringsretningen.  Maksimal stigning er satt til 12 %. Stigningen har betydning for utslippsberegningene. (BV)
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6999</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørebanebredde" type="integer">
            <annotation>
              <documentation>7000: Kjørebanebredde i meter, fra kjørebanekant til kjørebanekant (avstand mellom hvitstripene). Ved manuell innlegging må kjørebanebredden angis på nærmeste meter. (BV)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7000</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREBANEBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkretning" type="gml:CodeType">
            <annotation>
              <documentation>7001: Angir retning på trafikk i forhold til vegens metreringsretning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7001</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKRETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hastighetOverDøgnet" type="integer">
            <annotation>
              <documentation>7002: Gjennomsnittlig hastighet over døgnet (km/t).
Enhet: Kilometer/time</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7002</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HASTIGHETOVERDØGNET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hastighetIMakstime" type="integer">
            <annotation>
              <documentation>5429: Kjørehastighet ved makstrafikk. (I rushtiden)
Enhet: Kilometer/time</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5429</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HASTIGHETIMAKSTIME</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDTIBeregningsår" type="integer">
            <annotation>
              <documentation>7003: Årsdøgntrafikk i beregningsåret. Gjennomsnittlig døgntrafikk over året på lenken (kjøretøy pr. døgn).  ÅDT er grunnlaget for å beregne totalutslipp, og også for å tildele standardverdier av Mmaks dersom denne ikke har verdi i inngangsfila. (BV)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7003</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTIBEREGNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forventetMaksimalTimetrafikk" type="integer">
            <annotation>
              <documentation>5430: Angis i antall kjøretøy/time
Enhet: Kjøretøy/Time</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5430</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORVENTETMAKSIMALTIMETRAFIKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtBuss" type="integer">
            <annotation>
              <documentation>5431: Årsdøgntrafikk for buss. Sum begge retninger. Angis på nærmeste 20  50 kjt/døgn avhengig av trafikkmengden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5431</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTBUSS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="busstrafikkIMakstime" type="integer">
            <annotation>
              <documentation>7004: Antall busser i rushtimen (busser/time). Verdier må hentes fra ruteoversikter fra busselskapene eller tellinger. Brukes til å beregne bussenes bidrag til maksimalkonsentrasjonene. Hvis Bmaks blir oppgitt til -1 i inngangsfila, beregnes den på bakgrunn av ÅDTB, slik at bussandelen i makstimen blir lik bussandelen i snitt over døgnet. Hvis Bmaks oppgis til 0, antas det ngen busser på lenken i rushtimen. (BV)
Enhet: Kjøretøy/Time</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7004</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BUSSTRAFIKKIMAKSTIME</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_AndelLangeKjøretøy" type="integer">
            <annotation>
              <documentation>7005: Andel lange kjøretøy av totaltrafikken.  Fordelingen mellom ulike kjøretøyklasser innen de lange og lette bilene ligger fast i programmet.  Tungtrafikkandelen har meget stor betydning for beregning av totalutslipp av NOx, og konsentrasjoner av NO2 og PM10 og støy. Kjøretøy over 5,5 meter regnes som lange. (BV)
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7005</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDT_ANDELLANGEKJØRETØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tungtrafikkandelIMaksTimen" type="integer">
            <annotation>
              <documentation>5432: Angis i prosent og inklusive busser. (ÅDT  BUSS)
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5432</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNGTRAFIKKANDELIMAKSTIMEN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="defaultVerdierForRush" type="gml:CodeType">
            <annotation>
              <documentation>5438: Forteller om defaultverdier for rush skal benyttes.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5438</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEFAULTVERDIERFORRUSH</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallPersonerPrBolig" type="double">
            <annotation>
              <documentation>5381: Antall personer pr. bolig benyttet ved beregninger i VSTØY/VLUFT.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5381</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPERSONERPRBOLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fasadeDekningsGrad" type="gml:CodeType">
            <annotation>
              <documentation>5427: Tetthet på bebyggelse langs veg Koder: 1: Tett fasaderekke en side &gt; 75m 2: Tett fasaderekke begge sider &gt; 50m 3: Spredt bebyggelse/vegetasjon 4: Helt åpent 5: Spesiell topografi 6: Tunnel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5427</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FASADEDEKNINGSGRAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fasadeAvstand" type="integer">
            <annotation>
              <documentation>5428: Antall meter fra kjørebanekant til fasade. Angis bare når FASDEKN = 1 eller 2.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5428</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FASADEAVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klassifikasjonAvVegstøvBelastning" type="gml:CodeType">
            <annotation>
              <documentation>5426: Koder: 1: Svært stor vegstøvbelastning 2: Stor vegstøvbelastning 3: Middels vegstøvbelastning 4: Lites vegstøvbelastning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5426</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLASSIFIKASJONAVVEGSTØVBELASTNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="endretAv" type="string">
            <annotation>
              <documentation>8948: Angir navn på de som sist endret informasjon om strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8948</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENDRETAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5436: Merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5436</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="endretDen" type="date">
            <annotation>
              <documentation>8949: Angir dato for siste endring av informasjon om strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8949</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENDRETDEN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Ute_55til60DBA" type="integer">
            <annotation>
              <documentation>5383: Antall boliger med utendørs støynivå fra og med 55 til 60 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5383</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_UTE_55TIL60DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Ute_60til65DBA" type="integer">
            <annotation>
              <documentation>5384: Antall boliger med utendørs støynivå fra og med 60 til 65 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5384</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_UTE_60TIL65DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Ute_65til70DBA" type="integer">
            <annotation>
              <documentation>5385: Antall boliger med utendørs støynivå fra og med 65 til 70 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5385</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_UTE_65TIL70DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Ute_FraOgMed70DBA" type="integer">
            <annotation>
              <documentation>5386: Antall boliger med utendørs støynivå fra og med 70 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5386</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_UTE_FRAOGMED70DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Inne_30til35DBA" type="integer">
            <annotation>
              <documentation>5387: Antall boliger med innendørs støynivå fra og med 30 til 35 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5387</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_INNE_30TIL35DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Inne_35til40DBA" type="integer">
            <annotation>
              <documentation>5388: Antall boliger med innendørs støynivå fra og med 35 til 40 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5388</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_INNE_35TIL40DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Bolig_Inne_40til42DBA" type="integer">
            <annotation>
              <documentation>5389: Antall boliger med innendørs støynivå fra og med 40 til 42 dBA.  (Det vil ikke bli lagret data med 40 til 45 dBA i NVDB, siden det gjelder gamle versjoner av Vstøy/Vluft)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5389</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_BOLIG_INNE_40TIL42DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støyBoligInneFraOgMed42DBA" type="integer">
            <annotation>
              <documentation>5439: Antall boliger med innendørs støynivå fra og med 42 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5439</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØYBOLIGINNEFRAOGMED42DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Ute_50til55DBA" type="integer">
            <annotation>
              <documentation>5392: Antall institusjonsplasser med utendørs støynivå fra og med 50 til 55 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5392</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_UTE_50TIL55DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Ute_55til60DBA" type="integer">
            <annotation>
              <documentation>5393: Antall institusjonsplasser med utendørs støynivå fra og med 55 til 60 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5393</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_UTE_55TIL60DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Ute_60til65DBA" type="integer">
            <annotation>
              <documentation>5394: Antall institusjonsplasser med utendørs støynivå fra og med 60 til 65 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5394</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_UTE_60TIL65DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Ute_65til70DBA" type="integer">
            <annotation>
              <documentation>5395: Antall institusjonsplasser med utendørs støynivå fra og med 65 til 70 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_UTE_65TIL70DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Ute_FraOgMed70DBA" type="integer">
            <annotation>
              <documentation>5396: Antall institusjonsplasser med utendørs støynivå fra og med 70 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5396</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_UTE_FRAOGMED70DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Inne_30til35DBA" type="integer">
            <annotation>
              <documentation>5397: Antall institusjonsplasser med innendørs støynivå fra og med 30 til 35 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5397</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_INNE_30TIL35DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Inne_Fra_35til40DBA" type="integer">
            <annotation>
              <documentation>5398: Antall institusjonsplasser med innendørs støynivå fra og med 35 til 40 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5398</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_INNE_FRA_35TIL40DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støy_Inst_Inne_40til42DBA" type="integer">
            <annotation>
              <documentation>5399: Antall institusjonsplasser med innendørs støynivå fra og med 40 til 42 dBA.  (Det vil ikke bli lagret data med 40 til 45 dBA i NVDB, siden det gjelder gamle versjoner av Vstøy/Vluft)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5399</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØY_INST_INNE_40TIL42DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="støyInstInneFraOgMed42DBA" type="integer">
            <annotation>
              <documentation>5440: Antall institusjonsplasser med innendørs støynivå fra og med 42 dBA.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5440</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØYINSTINNEFRAOGMED42DBA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SPI" type="integer">
            <annotation>
              <documentation>5632: StøyPlageIndeks</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5632</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antall_StøyplagedePersonerIBolig" type="integer">
            <annotation>
              <documentation>5382: Tall funnet ut fra plaghetsmodell av 1/1 92
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5382</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALL_STØYPLAGEDEPERSONERIBOLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallStøyplagedePersIInstitusjon" type="integer">
            <annotation>
              <documentation>5391: Tall funnet ut fra plaghetsmodell av 1/1 92
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5391</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLSTØYPLAGEDEPERSIINSTITUSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="COKonsentrasjon5mFraVegkant" type="integer">
            <annotation>
              <documentation>5433: Maksimal timemiddelkonsentrasjon av CO på lenken. Angitt i mg/m3.
Enhet: Milligram/kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5433</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COKONSENTRASJON5MFRAVEGKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="COPers8" type="integer">
            <annotation>
              <documentation>5405: Antall personer i bolig utsatt for maksimale timemiddelkonsentrasjoner av CO i intervallet 8  15 MG/M3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5405</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COPERS8</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="COPers15" type="integer">
            <annotation>
              <documentation>5406: Antall personer i bolig utsatt for maksimale timemiddelkonsentrasjoner av CO i intervallet 15  25 mg/m3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5406</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COPERS15</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="COPers25" type="integer">
            <annotation>
              <documentation>5407: Antall personer i bolig utsatt for maksimale timemiddelkonsentrasjoner av CO på 25 mg/m3 eller mer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5407</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COPERS25</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="coinsp8" type="integer">
            <annotation>
              <documentation>5416: Antall personer i inst utsatt for maksimale timemiddelkonsentrasjoner av CO i intervallet 8  15 MG/M3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5416</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COINSP8</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="coinsp15" type="integer">
            <annotation>
              <documentation>5417: Antall personer i inst. utsatt for maksimale timemiddelkonsentrasjoner av CO i intervallet 15  25 mg/m3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5417</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COINSP15</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="coinsp25" type="integer">
            <annotation>
              <documentation>5418: Antall personer i inst. utsatt for maksimale timemiddelkonsentrasjoner av CO på 25 mg/m3 eller mer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5418</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_COINSP25</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2Konsentrasjon5mFraVegkant" type="integer">
            <annotation>
              <documentation>5434: Maksimal timemiddelkonsentrasjon av NO2 på lenken. Angitt i mg/m3.
Enhet: Milligram/kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5434</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2KONSENTRASJON5MFRAVEGKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2Personer100" type="integer">
            <annotation>
              <documentation>5408: Antall personer i bolig utsatt for maksimale timemiddelkonsentrasjoner av NO2 intervallet 100  200 ug/m3 (Data for 1991 gjelder intervallet 130  200)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5408</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PERSONER100</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2Personer200" type="integer">
            <annotation>
              <documentation>5409: Antall personer i bolig utsatt for maksimale timemiddelkonsentrasjoner av NO2 i intervallet 200  350 ug/m3, evt. 200  300 ug/m3, avhengig av versjon av VLUF/VSTØY. Ved versjon 4.0 eller nyere gjelder 200  300.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5409</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PERSONER200</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2Personer300" type="integer">
            <annotation>
              <documentation>5441: Antall personer i bolig utsatt for maks. timemiddelkonsentrasjon av NO2 i intervallet fra og med 300 ug/m3 til 400 ug/m3.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5441</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PERSONER300</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2Personer350" type="integer">
            <annotation>
              <documentation>5410: Antall personer i bolig utsatt for maks. timemiddelkonsentrasjon av NO2 i intervallet fra og med 350 ug/m3 til 400 ug/m3. Dette feltet har ingen verdi ved versjon 4.0 eller nyere av VLUFT/VSTØY.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5410</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PERSONER350</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="no2in100" type="integer">
            <annotation>
              <documentation>5419: Antall personer i inst. utsatt for maksimale timemiddelkonsentrasjoner av NO2 intervallet 100  200 ug/m3 (Data for 1991 gjelder intervallet 130  200)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5419</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2IN100</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="no2in200" type="integer">
            <annotation>
              <documentation>5420: Antall personer i inst. utsatt for maksimale timemiddelkonsentrasjoner av NO2 i intervallet 200  350 ug/m3, evt. intervallet 200   300, avhengig av versjon av VLUFT/VSTØY. Ved versjon 4.0 eller nyere gjelder 200 til 300.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5420</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2IN200</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2in300" type="integer">
            <annotation>
              <documentation>5444: Antall personer i inst. utsatt for maksimale timemiddelkonsentrasjoner av NO2 i intervallet 300  400 ug/m3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5444</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2IN300</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="no2in350" type="integer">
            <annotation>
              <documentation>5421: Antall personer i inst. utsatt for maks. timemiddelkonsentrasjon av NO2 i intervallet fra og med 350 ug/m3 til 400 ug/m3. Dette feltet har ingen verdi ved versjon 4.0 eller nyere av VLUFT/VSTØY.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5421</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2IN350</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="no2in400" type="integer">
            <annotation>
              <documentation>5422: Antall personer i inst. utsatt for maks. timemiddelkonsentrasjon av NO2 fra og med 400 ug/m3 og over.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5422</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2IN400</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2instpr1508" type="integer">
            <annotation>
              <documentation>5448: NO2INSTPR150_8 er antall personer i institusjon utsatt for maks. timemiddelkonsentrasjon an NO2 over 150 (my)g/m3 mer enn 8 ganger pr. år.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5448</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2INSTPR1508</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2pr1508" type="integer">
            <annotation>
              <documentation>5447: NO2PR150_8 er antall personer i bolig utsatt for maks. timemiddelkons. av NO2 over 150 (my)g/m3 mer enn 8 ganger pr år.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5447</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PR1508</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2pr400" type="integer">
            <annotation>
              <documentation>5411: Antall personer i bolig utsatt for maks. timemiddelkonsentrasjon av NO2 fra og med 400 ug/m3 og over.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5411</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PR400</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NO2pros8" type="integer">
            <annotation>
              <documentation>5453: NO2PROS_8 er konsentrasjonsnivå av NO2 som overstiges mer enn 8 ganger pr. år på 5m avstand.
Enhet: Milligram/kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5453</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NO2PROS8</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10Konsentrasjon5mFraVegkant" type="integer">
            <annotation>
              <documentation>5435: Maks. timemiddelkons. av PM10 5 meter fra vegkanten i milligram pr. kubikkmeter.
Enhet: Milligram/kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5435</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10KONSENTRASJON5MFRAVEGKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10i70" type="integer">
            <annotation>
              <documentation>5423: Antall personer i inst. utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 70 mikrogram pr. kubikkmeter til 200 mikrogram pr. kubikkmeter, evt. intervallet 70 til 150, avhengig av versjon av VLUFT/VSTØY. Ved versjon 4.0 eller nyere gjelder 70 til 150.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5423</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10I70</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10i150" type="integer">
            <annotation>
              <documentation>5445: Antall personer i inst. utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 150 mikrogram pr. kubikkmeter til 200 mikrogram pr. kubikkmeter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5445</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10I150</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10i200" type="integer">
            <annotation>
              <documentation>5424: Antall personer i inst. utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 200 mikrogram pr. kubikkmeter til 300 mikrogram pr. kubikkmeter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5424</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10I200</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10i300" type="integer">
            <annotation>
              <documentation>5425: Antall personer i inst. utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 300 mikrogram pr. kubikkmeter og over, evt. 300 til 350, avhengig av versjon av VLUFT/VSTØY. Ved versjon 4.0 eller nyere gjelder 300 til 350.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5425</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10I300</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10i350" type="integer">
            <annotation>
              <documentation>5446: Antall personer i inst. utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 350 mikrogram pr. kubikkmeter og over.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5446</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10I350</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10instpr507" type="integer">
            <annotation>
              <documentation>5452: PM10INSTPR50_7 er antall personer i institusjon utsatt for maks. timemiddelkons. av PM10 over 50 (my)g/m3 mer enn 7 ganger pr. år.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5452</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10INSTPR507</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10instpr5025" type="integer">
            <annotation>
              <documentation>5450: PM10INSTPR50_25 er antall personer i institusjon utsatt for maks. timemiddelkons. av PM10 over 50 (my)g/m3 mer enn 25 ganger pr. år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5450</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10INSTPR5025</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10p70" type="integer">
            <annotation>
              <documentation>5412: Antall personer i bolig utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 70 mikrogram pr. kubikkmeter til 200 mikrogram pr. kubikkmeter, evt. intervallet 70 til 150, avhengig av versjon av VLUFT/VSTØY. Ved versjon 4.0 eller nyere gjelder 70 til 150.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5412</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10P70</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10p150" type="integer">
            <annotation>
              <documentation>5442: Antall personer i bolig utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 150 mikrogram pr. kubikkmeter til 200 mikrogram pr. kubikkmeter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5442</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10P150</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10p200" type="integer">
            <annotation>
              <documentation>5413: Antall personer i bolig utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 200 mikrogram pr. kubikkmeter til 300 mikrogram pr. kubikkmeter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5413</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10P200</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10p300" type="integer">
            <annotation>
              <documentation>5414: Antall personer i bolig utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 300 mikrogram pr. kubikkmeter til 350 mikrogram pr. kubikkmeter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5414</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10P300</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10p350" type="integer">
            <annotation>
              <documentation>5443: Antall personer i bolig utsatt for maks. timemiddelkons. av PM10 i intervallet fra og med 350 mikrogram pr. kubikkmeter og over.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5443</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10P350</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10pr507" type="integer">
            <annotation>
              <documentation>5451: PM10PR50_7 er antall personer i bolig utsatt for maks. timemiddelkons. over 50 (my)g/m3 mer enn 7 ganger pr. år.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5451</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10PR507</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10pr5025" type="integer">
            <annotation>
              <documentation>5449: PM10PR50_25 er antall personer i bolig utsatt for maks. timemiddelkons. av PM10 over 50 (my)g/m3 mer enn 25 ganger pr. år.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5449</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10PR5025</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10pros7" type="integer">
            <annotation>
              <documentation>5455: PM10PROS_7 er konsentrasjonsnivå av PM10 som overstiges mer enn 7 ganger pr. år på 5m avstand.
Enhet: Milligram/kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5455</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10PROS7</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10pros25" type="integer">
            <annotation>
              <documentation>5454: PM10PROS  25 er konsentrasjonsnivå av PM10 som overstiges mer enn 25 ganger pr. år på 5m avstand.
Enhet: Milligram/kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5454</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PM10PROS25</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utslippAvCO" type="integer">
            <annotation>
              <documentation>5403: Totalt utslipp av CO. Angitt i Tonn/År
Enhet: Tonn/År</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5403</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSLIPPAVCO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utslippAvCO2" type="integer">
            <annotation>
              <documentation>5402: Totalt utslipp av CO2. Angitt i Tonn/År
Enhet: Tonn/År</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5402</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSLIPPAVCO2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utslippAvNOX" type="integer">
            <annotation>
              <documentation>5404: Totalt utslipp av NOX. Angitt i Tonn/År
Enhet: Tonn/År</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5404</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSLIPPAVNOX</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLuftForurensningsplagaPers" type="integer">
            <annotation>
              <documentation>5401: Benyttet plaghetsmodell pr. 1/1 92 som tar utgangspunkt i NO2  Konsentrasjoner som indikator på plagethet av luftforurensning
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5401</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLUFTFORURENSNINGSPLAGAPERS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallPersonerLuftplagetIInst" type="integer">
            <annotation>
              <documentation>5415: Antall personer plaget av luftforurensing i institusjon.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5415</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPERSONERLUFTPLAGETIINST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6909: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6909</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Støy_Luft_StrekningsdataPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støy_Luft_Strekningsdata"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
