XSD/NVDB/538/751.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>751: Avgrenset område med ett eller flere punkt for av/påstigning av kollektivt reisemiddel.  Det defineres egne holdeplasser for hver type transportmiddel. (Noe varierende kvalitet. Vil utgå på sikt. Data overføres til Holdeplassutrustning)</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">751</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Gate.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BillettautomatType">
    <annotation>
      <documentation>Billettautomat: Angir om det er billettautomat i tilknytning til holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7959</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILLETTAUTOMAT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BillettautomatEnumerationType nvdb:BillettautomatOtherType"/>
  </simpleType>
  <simpleType name="BillettautomatEnumerationType">
    <annotation>
      <documentation>Billettautomat: Angir om det er billettautomat i tilknytning til holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7959</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILLETTAUTOMAT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>10199: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10199</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>10200: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BillettautomatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BillettkontorType">
    <annotation>
      <documentation>Billettkontor: Angir om det er betjent billettkontor i tilknytning til holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7964</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILLETTKONTOR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BillettkontorEnumerationType nvdb:BillettkontorOtherType"/>
  </simpleType>
  <simpleType name="BillettkontorEnumerationType">
    <annotation>
      <documentation>Billettkontor: Angir om det er betjent billettkontor i tilknytning til holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7964</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILLETTKONTOR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>10211: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10211</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>10212: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10212</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BillettkontorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Holdeplass" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:HoldeplassType">
    <annotation>
      <documentation>Holdeplass: Avgrenset område med ett eller flere punkt for av/påstigning av kollektivt reisemiddel.  Det defineres egne holdeplasser for hver type transportmiddel. (Noe varierende kvalitet. Vil utgå på sikt. Data overføres til Holdeplassutrustning)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">751</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HoldeplassType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn til holdeplass.  Holdeplasser som har tilgrensende plassering, men som betjener ulike typer transportmiddel, kan ha samme navn.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7479</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="holdeplassnummer" type="string">
            <annotation>
              <documentation>Holdeplassnummer: Angir holdeplassnummer.  Er satt sammen av Fykesnummer (FF) + Kommunenr (KK) + Løpenummer (NNNN).  Holdeplassnummeret skal normalt være unikt for hver holdeplass.  Unntak : Holdeplasser som har tilgrensende plassering, men som betjener ulike typer transportmiddel, kan ha samme nummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7478</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOLDEPLASSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn2" type="string">
            <annotation>
              <documentation>Navn 2: Alternativt navn.  Benyttes hvis samme holdeplass har mer enn ett navn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7485</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kortnavn" type="string">
            <annotation>
              <documentation>Kortnavn: Kortnavn tilknyttet holdeplass.  Kan være ulike regelverk for kortnavn avhengig av hvilket transportmiddel den gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7482</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KORTNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="uNLoccode" type="string">
            <annotation>
              <documentation>UN Loccode: Internasjonal lokasjonskode (FN)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7483</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNLOCCODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="transportmiddel" type="nvdb:TransportmiddelType">
            <annotation>
              <documentation>Transportmiddel: Angir hvilket transportmiddel holdeplassen gjelder for.  En holdeplass skal pr definisjon bare betjene en type transportmiddel (unntak er trikkeholdeplasser som kan betjene både trikk og buss).  Det defineres trafikknutepunkt for å binde sammen holdeplasser for ulike transportmiddel .</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7480</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRANSPORTMIDDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeHoldeplassType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7539</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="webAdresse" type="string">
            <annotation>
              <documentation>Web-adresse: Kan her gi webadresse til mer informasjon om holdeplass</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7484</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_WEBADRESSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligHoldeplassType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold av Holdeplass.  Gjelder også vedlikehold av holdeplassen i holdeplassregisteret</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7486</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navnVedlikeholdsansvarlig" type="string">
            <annotation>
              <documentation>Navn vedlikeholdsansvarlig: Gir navn til Firma som er ansvarlig for vedlikeholdet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7487</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVNVEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="postnummer" type="integer">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7490</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POSTNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Gir merknad til holdeplass.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7488</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eksternReferanse" type="string">
            <annotation>
              <documentation>Ekstern referanse: Det kan her legges inn nøkkelinformasjon til eksternt holdeplassystem.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7589</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTERNREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusHoldeplassType">
            <annotation>
              <documentation>Status: Angir status for holdeplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9335</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoStatusendring" type="date">
            <annotation>
              <documentation>Dato statusendring: Dato det sist var endring i status for holdeplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9334</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOSTATUSENDRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="billettautomat" type="nvdb:BillettautomatType">
            <annotation>
              <documentation>Billettautomat: Angir om det er billettautomat i tilknytning til holdeplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7959</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILLETTAUTOMAT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ruteopplysning" type="nvdb:RuteopplysningType">
            <annotation>
              <documentation>Ruteopplysning: Angir</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7960</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUTEOPPLYSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="billettkontor" type="nvdb:BillettkontorType">
            <annotation>
              <documentation>Billettkontor: Angir om det er betjent billettkontor i tilknytning til holdeplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7964</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILLETTKONTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppbevaringsbokser" type="nvdb:OppbevaringsbokserType">
            <annotation>
              <documentation>Oppbevaringsbokser: Angir om det er oppbevaringsbokser for bagasje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7961</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPBEVARINGSBOKSER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kiosk" type="nvdb:KioskHoldeplassType">
            <annotation>
              <documentation>Kiosk: Angir om det er kiosk for kjøp og salg av div. varer i tilknytning til holdeplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7962</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KIOSK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="løpenummer" type="integer">
            <annotation>
              <documentation>Løpenummer: Internt løpenummer.  Skal egentlig være av datatype Autogenerert verdi.  Denne datatypen er så langt ikke tilgjengelig i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8316</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LØPENUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir koordinater til holdeplassen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7489</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8931</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8910</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGate" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gate</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKommune" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommune</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoldeplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Holdeplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KioskHoldeplassType">
    <annotation>
      <documentation>Kiosk: Angir om det er kiosk for kjøp og salg av div. varer i tilknytning til holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7962</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KIOSKHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KioskHoldeplassEnumerationType nvdb:KioskHoldeplassOtherType"/>
  </simpleType>
  <simpleType name="KioskHoldeplassEnumerationType">
    <annotation>
      <documentation>Kiosk: Angir om det er kiosk for kjøp og salg av div. varer i tilknytning til holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7962</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KIOSKHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>10207: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10207</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>10208: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10208</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KioskHoldeplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppbevaringsbokserType">
    <annotation>
      <documentation>Oppbevaringsbokser: Angir om det er oppbevaringsbokser for bagasje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7961</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPBEVARINGSBOKSER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppbevaringsbokserEnumerationType nvdb:OppbevaringsbokserOtherType"/>
  </simpleType>
  <simpleType name="OppbevaringsbokserEnumerationType">
    <annotation>
      <documentation>Oppbevaringsbokser: Angir om det er oppbevaringsbokser for bagasje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7961</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPBEVARINGSBOKSER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>10203: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>10204: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppbevaringsbokserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RuteopplysningType">
    <annotation>
      <documentation>Ruteopplysning: Angir</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7960</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUTEOPPLYSNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RuteopplysningEnumerationType nvdb:RuteopplysningOtherType"/>
  </simpleType>
  <simpleType name="RuteopplysningEnumerationType">
    <annotation>
      <documentation>Ruteopplysning: Angir</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7960</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUTEOPPLYSNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="digitalElektronisk">
        <annotation>
          <documentation>10196: Digital/elektronisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10196</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="manueltOppslag">
        <annotation>
          <documentation>10197: Manuelt oppslag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10197</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingenInformasjon">
        <annotation>
          <documentation>10198: Ingen informasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RuteopplysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusHoldeplassType">
    <annotation>
      <documentation>Status: Angir status for holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9335</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusHoldeplassEnumerationType nvdb:StatusHoldeplassOtherType"/>
  </simpleType>
  <simpleType name="StatusHoldeplassEnumerationType">
    <annotation>
      <documentation>Status: Angir status for holdeplassen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9335</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="iDrift">
        <annotation>
          <documentation>13039: I drift</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13039</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedlagt">
        <annotation>
          <documentation>13040: Nedlagt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13040</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusHoldeplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TransportmiddelType">
    <annotation>
      <documentation>Transportmiddel: Angir hvilket transportmiddel holdeplassen gjelder for.  En holdeplass skal pr definisjon bare betjene en type transportmiddel (unntak er trikkeholdeplasser som kan betjene både trikk og buss).  Det defineres trafikknutepunkt for å binde sammen holdeplass</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7480</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRANSPORTMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TransportmiddelEnumerationType nvdb:TransportmiddelOtherType"/>
  </simpleType>
  <simpleType name="TransportmiddelEnumerationType">
    <annotation>
      <documentation>Transportmiddel: Angir hvilket transportmiddel holdeplassen gjelder for.  En holdeplass skal pr definisjon bare betjene en type transportmiddel (unntak er trikkeholdeplasser som kan betjene både trikk og buss).  Det defineres trafikknutepunkt for å binde sammen holdeplass</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7480</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRANSPORTMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fly">
        <annotation>
          <documentation>9726: Fly</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9726</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="båt">
        <annotation>
          <documentation>9728: Båt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9728</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tog">
        <annotation>
          <documentation>9727: Tog</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9727</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tBane">
        <annotation>
          <documentation>9731: T-bane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9731</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trikk">
        <annotation>
          <documentation>9732: Trikk: Holdeplass for av og påstigning av trikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9732</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="buss">
        <annotation>
          <documentation>9730: Buss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9730</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drosje">
        <annotation>
          <documentation>9733: Drosje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9733</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ferje">
        <annotation>
          <documentation>9729: Ferje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9729</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeBetjent">
        <annotation>
          <documentation>13038: Ikke betjent: Holdeplass som ikke har transportmiddel knyttet til seg.  Gjerne gangveg til nærmeste holdeplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13038</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TransportmiddelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeHoldeplassType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7539</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeHoldeplassEnumerationType nvdb:TypeHoldeplassOtherType"/>
  </simpleType>
  <simpleType name="TypeHoldeplassEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7539</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ensidigHoldeplass">
        <annotation>
          <documentation>9764: Ensidig holdeplass: Alle holdeplassens stoppunkt er lokalisert på den ene siden av tilgrensende transportåre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9764</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tosidigHoldeplass">
        <annotation>
          <documentation>9766: Tosidig holdeplass: Holdeplass som har stoppunkt på begge sider av tilgrensende transportåre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9766</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snuEndeholdeplass">
        <annotation>
          <documentation>9765: Snu/endeholdeplass: Holdeplass hvor transportmiddel svinger av fra hovedtransportåre, snur og har mulighet til å velge hviken veg den skal kjøre videre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9765</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="terminalStasjon">
        <annotation>
          <documentation>9767: Terminal/stasjon: Holdeplass med flere stoppunkt og gjerne tilhørende servicebygg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9767</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sentrertHoldeplass">
        <annotation>
          <documentation>11254: Sentrert holdeplass: Holdeplass som er plassert sentrert i forhold til veg/bane.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fleksibelHoldeplass">
        <annotation>
          <documentation>11253: Fleksibel holdeplass: Benyttes på vinkestrekninger.  En fiktiv holdeplass er representativt for et avgrensa område.    Tilhørende stoppunkt skal være av type "Umarkert".  Fiktive holdeplasser plasseres etter skjønn.  Det trenger ikke være sammenheng mellom hvor buss vanligvis stopper og hvor fiktiv holdeplass er plassert.  Det kan være praktisk å ha en fiktiv holdeplass for hver grend.  Merknad kan benyttes for å gi mer informasjon.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeHoldeplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligHoldeplassType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold av Holdeplass.  Gjelder også vedlikehold av holdeplassen i holdeplassregisteret</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7486</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligHoldeplassEnumerationType nvdb:VedlikeholdsansvarligHoldeplassOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligHoldeplassEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold av Holdeplass.  Gjelder også vedlikehold av holdeplassen i holdeplassregisteret</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7486</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGHOLDEPLASS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="avinor">
        <annotation>
          <documentation>9741: Avinor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9741</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kystverket">
        <annotation>
          <documentation>9742: Kystverket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9742</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jernbaneverket">
        <annotation>
          <documentation>9743: Jernbaneverket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9743</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>9747: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9747</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>9745: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9745</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17698: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17698</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>9744: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9744</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>9746: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9746</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligHoldeplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
