XSD/NVDB/27/487.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
  </annotation>
  <include schemaLocation="Renovasjon.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Holdeplassutrustning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:HoldeplassutrustningType">
    <annotation>
      <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">487</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOLDEPLASSUTRUSTNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HoldeplassutrustningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="UU_TypeTransportmiddel" type="gml:CodeType">
            <annotation>
              <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10259</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPETRANSPORTMIDDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Type" type="gml:CodeType">
            <annotation>
              <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr HB V123 (232)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Viktighetsnivå" type="gml:CodeType">
            <annotation>
              <documentation>10260: Angir hvilket viktighetsnivå holdeplassutrustning har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_VIKTIGHETSNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_PåOgAvstigning" type="gml:CodeType">
            <annotation>
              <documentation>10205: Angir om Holdeplassutrustning brukes for både på- og avstigning eller primært for avstigning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10205</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PÅOGAVSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkretning_Geografisk" type="gml:CodeType">
            <annotation>
              <documentation>10213: Angir hvilken trafikkretning som betjenes.  Angis hvis entydig.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10213</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKRETNING_GEOGRAFISK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NHR_Holdeplassnummer" type="string">
            <annotation>
              <documentation>3958: Unikt nummer for holdeplass i NHR (Nasjonalt Holdeplassregister).  Brukes for kobling mot NHR, noe som muliggjør dataoverføring mellom registrene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3958</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NHR_HOLDEPLASSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="holdeplassnummer_Alternativ" type="string">
            <annotation>
              <documentation>10884: Angir alternativt holdeplassnummer, kan f.eks være 8-sifret nummer som inneholde kommunenummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10884</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOLDEPLASSNUMMER_ALTERNATIV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NHR_Holdeplassnavn" type="string">
            <annotation>
              <documentation>3957: Gir navn på holdeplassen som Holdeplassutrustning er del av. Offisielt navn hentes fra Nasjonalt holdeplassregister.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3957</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NHR_HOLDEPLASSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="holdeplassnavn_Alternativ" type="string">
            <annotation>
              <documentation>10885: Angir alternativt holdeplassnavn. Kan være holdeplassnavn som ble brukt tidligere.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10885</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOLDEPLASSNAVN_ALTERNATIV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="NHR_Stoppunktnummer" type="string">
            <annotation>
              <documentation>10203: Unikt nummer for stoppunkt i NHR (Nasjonalt Holdeplassregister).  Brukes for kobling mot NHR, noe som muliggjør dataoverføring mellom registrene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10203</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NHR_STOPPUNKTNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stoppunktnummer_alternativ" type="string">
            <annotation>
              <documentation>10204: Stoppunktnummer som er benyttet tidligere eller benyttes i andre sammenhenger</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10204</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOPPUNKTNUMMER_ALTERNATIV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_poeng_Beregnet_Mulig" type="double">
            <annotation>
              <documentation>10261: Angir hvor mange poeng det er mulig å oppnå.  Avhenger av type</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10261</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_POENG_BEREGNET_MULIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_poeng_Beregnet_Faktisk" type="double">
            <annotation>
              <documentation>10188: Beregnet antall Universell utforming poeng for Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10188</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_POENG_BEREGNET_FAKTISK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Holdeplasskilt" type="gml:CodeType">
            <annotation>
              <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10416</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_HOLDEPLASSKILT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_OppslagstavleForRutetabell" type="gml:CodeType">
            <annotation>
              <documentation>10206: Angir om det er oppslagstavle/kassett eller annen tilrettelegging for oppslag av rutetabeller.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10206</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_OPPSLAGSTAVLEFORRUTETABELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_OppslagstavleRutetab_HøydeUnderkant" type="integer">
            <annotation>
              <documentation>10207: Høyde over bakken for nedre kant av oppslagstavle for rutetabell..
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10207</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_OPPSLAGSTAVLERUTETAB_HØYDEUNDERKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_OppslagstavleRutetab_HøydeOverkant" type="integer">
            <annotation>
              <documentation>10257: Høyde over bakken for øvre kant av oppslagstavle for rutetabell..
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10257</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_OPPSLAGSTAVLERUTETAB_HØYDEOVERKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_OppslagstavleRutetab_Adgang" type="gml:CodeType">
            <annotation>
              <documentation>10208: Angir om det er mulig å komme helt inntil oppslagstavle for rutetabell</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10208</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_OPPSLAGSTAVLERUTETAB_ADGANG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_VarselfeltLangsPerrongkant" type="gml:CodeType">
            <annotation>
              <documentation>10198: Angir om det er varsellinje langs perrongkant</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10198</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_VARSELFELTLANGSPERRONGKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_OppslagstavleRutetab_Belyst" type="gml:CodeType">
            <annotation>
              <documentation>10417: Angir om oppslagstavle er belyst eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10417</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_OPPSLAGSTAVLERUTETAB_BELYST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Gangadkomst_Kryssingsmulighet" type="gml:CodeType">
            <annotation>
              <documentation>10694: Angir hvilken mulighet det er for å krysse vegen ved holdeplassen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10694</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_GANGADKOMST_KRYSSINGSMULIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Sanntidsinformasjon" type="gml:CodeType">
            <annotation>
              <documentation>10209: Angir om det er skjerm med sanntidsinformasjon på Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10209</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_SANNTIDSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Høyttaler" type="gml:CodeType">
            <annotation>
              <documentation>10210: Angir om det er høyttaler som gir informasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10210</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_HØYTTALER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Belysning" type="gml:CodeType">
            <annotation>
              <documentation>3959: Angir utvendige belysningsforhold.  Evt. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3959</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_BELYSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_LeskurTak" type="gml:CodeType">
            <annotation>
              <documentation>10199: Angir om det er mulighet for tak over hodet ved opphold på Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10199</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_LESKURTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Leskur_FriBreddeInnvendig" type="double">
            <annotation>
              <documentation>10262: Angir minste frie bredde innvendig i leskur
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10262</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_LESKUR_FRIBREDDEINNVENDIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Leskur_FriDybdeInnvendig" type="double">
            <annotation>
              <documentation>10263: Angir minimum fri dybde i leskur
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10263</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_LESKUR_FRIDYBDEINNVENDIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Leskur_ArealTilpassetRullestol" type="gml:CodeType">
            <annotation>
              <documentation>10200: Angir om det finnes fritt areal innvendig i takoverbygg/leskur på minst 1.5 x 1.5 m</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10200</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_LESKUR_AREALTILPASSETRULLESTOL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Sittemulighet" type="gml:CodeType">
            <annotation>
              <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10211</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_SITTEMULIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Gangadkomst" type="gml:CodeType">
            <annotation>
              <documentation>3963: Angir om holdeplass har tilrettelagt adkomst for fotgjengere. Med tilrettelagt adkomst menes at det er fortau eller gang/sykkelveg/lokal veg fram til holdeplassen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3963</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_GANGADKOMST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Sykkelparkering" type="gml:CodeType">
            <annotation>
              <documentation>10212: Angir om det er sykkelparkering i tilknytning til Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10212</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_SYKKELPARKERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Gangadkomst_Stigning" type="gml:CodeType">
            <annotation>
              <documentation>10190: Stigningsforhold på beste adkomst til Holdeplass</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10190</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_GANGADKOMST_STIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Bilparkering" type="gml:CodeType">
            <annotation>
              <documentation>10220: Angir om det er parkering for bil i tilknytning til Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10220</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_BILPARKERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Type" type="gml:CodeType">
            <annotation>
              <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10219</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Belegning" type="gml:CodeType">
            <annotation>
              <documentation>10193: Belegning på plattform</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10193</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Dekkekvalitet" type="gml:CodeType">
            <annotation>
              <documentation>10189: Dekkekvalitet på Holdeplassutrustning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10189</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_DEKKEKVALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Lengde" type="double">
            <annotation>
              <documentation>10191: Lengde av plattform eksklusiv inn-/utkjøringslengde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10191</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Bredde" type="double">
            <annotation>
              <documentation>10192: Fri bredde i plattformens fulle lengde. Ved varierende bredde brukes gjennomsnitt.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10192</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Punkthinder" type="gml:CodeType">
            <annotation>
              <documentation>10202: Angir om det finnes punkthinder i forflytningsbane langs plattformen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10202</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_PUNKTHINDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_MinstebreddeUPunkthinder" type="double">
            <annotation>
              <documentation>10201: Minste bredde på beste gang-/forflytningsbane uten punkthinder langs plattformen.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10201</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_MINSTEBREDDEUPUNKTHINDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_KantsteinhøydePåstigning" type="double">
            <annotation>
              <documentation>10194: Høyde på kantstein ved påstigningspunkt
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10194</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_KANTSTEINHØYDEPÅSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_KantsteinhøydeAvstigning" type="double">
            <annotation>
              <documentation>10195: Høyde på kantstein ved avstigningspunkt (ca 5 m bak påstigning)
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10195</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_KANTSTEINHØYDEAVSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_BussAdgangTilKant" type="gml:CodeType">
            <annotation>
              <documentation>10196: Angir om buss/trikk kan kjøre uhindret inn til kant. Gjelder vanlig buss eller trikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10196</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_PLATTFORM_BUSSADGANGTILKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_TaktileIndikatorerTilPåstigning" type="gml:CodeType">
            <annotation>
              <documentation>10197: Angir om det er Taktile indikatorer til påstigningpunktet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10197</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UU_TAKTILEINDIKATORERTILPÅSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10306: Angir etableringsår for vegobjektet, dvs det året det ble satt i drift første gang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10306</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ETABLERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>7833: Kan her gi øvrig informasjon knyttet til holdeplassutrustning som er av permanent karakter.  For mer temporær informasjon skal "Kommentar" benyttes.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7833</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="gml:CodeType">
            <annotation>
              <documentation>10221: Angir hvem som er eier av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10221</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="gml:CodeType">
            <annotation>
              <documentation>3962: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3962</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11141: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11141</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5001: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5001</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8926: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8926</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Renovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoldeplassutrustningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Holdeplassutrustning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
