XSD/NVDB/826/826.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>826: Veg som inngår i det trans-europeiske vegnettet (Trans European Network - Transport). I regi av EU. Definert og er vedtatt i vedtak nr 1692/96/EF. Referert i HB R511 (269) - Sikkerhetsforvaltning av vegtunneler. Brukes også til CEDR rapportering</documentation>
  </annotation>
  <include schemaLocation="TEN_TVeg.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="TEN_TVeg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TEN_TVegType">
    <annotation>
      <documentation>826: Veg som inngår i det trans-europeiske vegnettet (Trans European Network - Transport). I regi av EU. Definert og er vedtatt i vedtak nr 1692/96/EF. Referert i HB R511 (269) - Sikkerhetsforvaltning av vegtunneler. Brukes også til CEDR rapportering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">826</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEN_TVEG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TEN_TVegType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="CEDRStrekningsnavn" type="string">
            <annotation>
              <documentation>10945: Gir navn på strekning. Følger CEDR-regelverk for navning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10945</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_CEDRSTREKNINGSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="CEDRStrekningskode" type="string">
            <annotation>
              <documentation>10946: Kode på vegstrekningen. Følger CEDR-regelverk for koding</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10946</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_CEDRSTREKNINGSKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="CEDRVegtype" type="gml:CodeType">
            <annotation>
              <documentation>10947: Angir hvilken vegtype det er tale om. Definisjoner av vegtyper i henhold til CEDR</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10947</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_CEDRVEGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="DR_ITS_Nivå" type="gml:CodeType">
            <annotation>
              <documentation>10948: Angir hvilket nivå vegstrekningen ligger på i forhold til ITS-systemer/ITS-styring. De ulike nivåene er definert av CEDR</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10948</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DR_ITS_NIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etablertÅr" type="integer">
            <annotation>
              <documentation>10949: Angir hvilket år vegstrekning ble etablert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10949</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ETABLERTÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TEN_TVegPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TEN_TVeg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
