XSD/NVDB/722/722.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.10">
  <annotation>
    <documentation>722: Bilder av vegen, f.eks Visbilder mm.  Bilder av enkeltobjekt legges inn som "Dokumentasjon" tilhørende aktuelt objekt.</documentation>
  </annotation>
  <include schemaLocation="Vegbilder.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BildetypeType">
    <annotation>
      <documentation>7039: Angir hvilken type bilde/blob det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7039</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILDETYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BildetypeEnumerationType nvdb:BildetypeOtherType"/>
  </simpleType>
  <simpleType name="BildetypeEnumerationType">
    <annotation>
      <documentation>7039: Angir hvilken type bilde/blob det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7039</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILDETYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vegbilde">
        <annotation>
          <documentation>9346: Vegbilde</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9346</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="panoramabilde">
        <annotation>
          <documentation>9347: Panoramabilde</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="turistbilde">
        <annotation>
          <documentation>9348: Turistbilde</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9348</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideareal">
        <annotation>
          <documentation>9845: Sideareal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9845</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BildetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegbilder" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegbilderType">
    <annotation>
      <documentation>722: Bilder av vegen, f.eks Visbilder mm.  Bilder av enkeltobjekt legges inn som "Dokumentasjon" tilhørende aktuelt objekt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">722</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBILDER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegbilderType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bildetype" type="nvdb:BildetypeType">
            <annotation>
              <documentation>7039: Angir hvilken type bilde/blob det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7039</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILDETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fullskalabilde">
            <annotation>
              <documentation>7040: Selve bildet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7040</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FULLSKALABILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mikrobilde">
            <annotation>
              <documentation>7042: Mikrobilde.  Samme bilde som fullskalabilde, men i mindre format.  Krever lite lagringsplass.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7042</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MIKROBILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="URL" type="string">
            <annotation>
              <documentation>7043: Angir referanse til webadresse eller fil</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7043</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_URL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tekst" type="string">
            <annotation>
              <documentation>7823: Gir tekst til bilde/figur etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7823</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEKST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarlig" type="string">
            <annotation>
              <documentation>7834: Angir hvem som er ansvarlig for informasjonen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7834</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dato" type="date">
            <annotation>
              <documentation>7836: Angir dato.  Mest aktuelt i forbindelse med bilder.  Dato da bildet ble tatt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7836</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>7038: Angir koordinater til sted hvor bildet relaterer seg til</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7038</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegbilderPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegbilder"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
