XSD/NVDB/110/110.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.10">
  <annotation>
    <documentation>110: Vegobjekt som gir informasjon om service som er aktuell for trafikantene</documentation>
  </annotation>
  <include schemaLocation="Service.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Service" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:ServiceType">
    <annotation>
      <documentation>110: Vegobjekt som gir informasjon om service som er aktuell for trafikantene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">110</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ServiceType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>1918: Her kan gis utfyllende informasjon om servicen.  F.eks åpningstid, vareutvalg, navn, adresse, etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1918</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeServiceType">
            <annotation>
              <documentation>1159: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10351: Angir hvilket år vegobjektet ble etablert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10351</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ETABLERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4806: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4806</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ServicePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Service"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeServiceType">
    <annotation>
      <documentation>1159: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESERVICE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeServiceEnumerationType nvdb:TypeServiceOtherType"/>
  </simpleType>
  <simpleType name="TypeServiceEnumerationType">
    <annotation>
      <documentation>1159: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1159</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESERVICE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="badeplass">
        <annotation>
          <documentation>5348: Badeplass: Angir at det er lagt til rette for bading</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5348</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kiosk">
        <annotation>
          <documentation>2691: Kiosk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2691</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gatekjøkken">
        <annotation>
          <documentation>2692: Gatekjøkken</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2692</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kafe">
        <annotation>
          <documentation>2693: Kafe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2693</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegkro">
        <annotation>
          <documentation>2694: Vegkro</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2694</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="telefon">
        <annotation>
          <documentation>2695: Telefon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2695</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venterom">
        <annotation>
          <documentation>2696: Venterom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2696</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="offentligToalett">
        <annotation>
          <documentation>2697: Offentlig toalett: Toalett som Statens Vegvesen eier/drifter skal registreres som egne objekt av type Toalett (243)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2697</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="offentligToalett_Handikap">
        <annotation>
          <documentation>2698: Offentlig toalett, handikap: Toalett som Statens Vegvesen eier/drifter skal registreres som egne objekt av type Toalett (243)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2698</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stellerom">
        <annotation>
          <documentation>2699: Stellerom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2699</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="butikk_Dagligvarer">
        <annotation>
          <documentation>2700: Butikk, dagligvarer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2700</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bensinstasjon">
        <annotation>
          <documentation>2701: Bensinstasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2701</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tømmeanleggBobil">
        <annotation>
          <documentation>2702: Tømmeanlegg bobil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2702</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hotell">
        <annotation>
          <documentation>2703: Hotell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2703</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pensjonat">
        <annotation>
          <documentation>2704: Pensjonat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2704</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="post">
        <annotation>
          <documentation>2705: Post</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2705</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bank">
        <annotation>
          <documentation>2706: Bank</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2706</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="turistinformasjon_Kontor">
        <annotation>
          <documentation>2707: Turistinformasjon, kontor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2707</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="turistinformasjon_Infotavle">
        <annotation>
          <documentation>2708: Turistinformasjon, infotavle: Standard infotavle med skiltnummer 636 skal registreres som Skiltpunkt (95)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2708</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="campingplass">
        <annotation>
          <documentation>2709: Campingplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2709</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hytteutleie">
        <annotation>
          <documentation>2710: Hytteutleie</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2710</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hvileplassForLangtransport">
        <annotation>
          <documentation>2711: Hvileplass for langtransport</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2711</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="severdighet">
        <annotation>
          <documentation>2712: Severdighet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2712</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utsiktspunkt">
        <annotation>
          <documentation>2713: Utsiktspunkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2713</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rastemulighet">
        <annotation>
          <documentation>3908: Rastemulighet: Rasteplasser som Statens Vegvesen eier/driver skal registreres som Rasteplass (39)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3908</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parkeringsanlegg">
        <annotation>
          <documentation>3909: Parkeringsanlegg: Parkeringsanlegg som Statens Vegvesen eier/driver skal registreres som Parkeringsområde (43)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3909</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parkeringsanlegg_Langtidsparkering">
        <annotation>
          <documentation>3910: Parkeringsanlegg, langtidsparkering: Parkeringsanlegg som Statens Vegvesen eier/driver skal registreres som Parkeringsområde (43)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3910</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeServiceOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
