XSD/NVDB/524/524.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>524: Resulterende spormåling for en 20-metersstrekning</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">524</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="SpormaalingAvledaPr20M.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BeregningsmetodeForSpordybdeType">
    <annotation>
      <documentation>Beregningsmetode for spordybde: Angir hvilken beregningsmetode som er benytta</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSMETODEFORSPORDYBDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BeregningsmetodeForSpordybdeEnumerationType nvdb:BeregningsmetodeForSpordybdeOtherType"/>
  </simpleType>
  <simpleType name="BeregningsmetodeForSpordybdeEnumerationType">
    <annotation>
      <documentation>Beregningsmetode for spordybde: Angir hvilken beregningsmetode som er benytta</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSMETODEFORSPORDYBDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="snormetoden">
        <annotation>
          <documentation>5200: Snormetoden</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bjelkemetoden">
        <annotation>
          <documentation>5201: Bjelkemetoden</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5201</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="krumholtmetoden">
        <annotation>
          <documentation>9722: Krumholtmetoden</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9722</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regresjonsmetoden">
        <annotation>
          <documentation>16139: Regresjonsmetoden: Metode brukes for måling av ny asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16139</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeAngitt">
        <annotation>
          <documentation>5785: Ikke angitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5785</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeregningsmetodeForSpordybdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålSpormålingAvledaPr20MType">
    <annotation>
      <documentation>Måleformål: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅLSPORMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MåleformålSpormålingAvledaPr20MEnumerationType nvdb:MåleformålSpormålingAvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="MåleformålSpormålingAvledaPr20MEnumerationType">
    <annotation>
      <documentation>Måleformål: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅLSPORMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="generelleMålinger">
        <annotation>
          <documentation>5197: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5197</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="referansemåling">
        <annotation>
          <documentation>5198: Referansemåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forsøksmålinger">
        <annotation>
          <documentation>5199: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5199</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="teleløsning">
        <annotation>
          <documentation>5783: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5783</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell1">
        <annotation>
          <documentation>10128: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10128</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell2">
        <annotation>
          <documentation>10129: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10129</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell3">
        <annotation>
          <documentation>10130: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10130</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieA">
        <annotation>
          <documentation>13053: Måleserie a</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13053</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieB">
        <annotation>
          <documentation>13054: Måleserie b</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13054</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieC">
        <annotation>
          <documentation>13055: Måleserie c</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13055</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieD">
        <annotation>
          <documentation>13056: Måleserie d</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13056</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålSpormålingAvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SporBjelkeSpormålingAvledaPr20MType">
    <annotation>
      <documentation>Spor,bjelke: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBJELKESPORMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporBjelkeSpormålingAvledaPr20MEnumerationType nvdb:SporBjelkeSpormålingAvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="SporBjelkeSpormålingAvledaPr20MEnumerationType">
    <annotation>
      <documentation>Spor,bjelke: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBJELKESPORMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>5194: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5194</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>5195: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5195</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>5196: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5196</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporBjelkeSpormålingAvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SpormålingAvledaPr20M" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SpormålingAvledaPr20MType">
    <annotation>
      <documentation>Spormåling (avleda pr 20 m): Resulterende spormåling for en 20-metersstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">524</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SpormålingAvledaPr20MType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>Måledato: Angir måledato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4461</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålSpormålingAvledaPr20MType">
            <annotation>
              <documentation>Måleformål: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4464</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsnummer" type="string">
            <annotation>
              <documentation>Utstyrsnummer: Angir hvilket utstyr som er benytta</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4470</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSTYRSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sporBjelke" type="nvdb:SporBjelkeSpormålingAvledaPr20MType">
            <annotation>
              <documentation>Spor, bjelke: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4462</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBJELKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsmetodeForSpordybde" type="nvdb:BeregningsmetodeForSpordybdeType">
            <annotation>
              <documentation>Beregningsmetode for spordybde: Angir hvilken beregningsmetode som er benytta</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4469</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSMETODEFORSPORDYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spordybde" type="double">
            <annotation>
              <documentation>Spordybde: Angir spordybde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4463</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sporbredde" type="double">
            <annotation>
              <documentation>Sporbredde: Angir bredde av spor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4465</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sporareal" type="integer">
            <annotation>
              <documentation>Sporareal: Angir areal av spor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4466</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORAREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallSpormåling" type="double">
            <annotation>
              <documentation>Tverrfall, spormåling: Angir tverrfall</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4467</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALLSPORMÅLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusSpormåling" type="integer">
            <annotation>
              <documentation>Horisontalradius, spormåling: Angir kurveradius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4468</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUSSPORMÅLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone2Sprekkeandel" type="integer">
            <annotation>
              <documentation>Sone 2 sprekkeandel: Andel av målt lengde (20m) som har detekterte sprekker i sone 2</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9860</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE2SPREKKEANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone3Sprekkeandel" type="integer">
            <annotation>
              <documentation>Sone 3 sprekkeandel: Andel av målt lengde (20m) som har detekterte sprekker i sone 3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9862</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE3SPREKKEANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone4Sprekkeandel" type="integer">
            <annotation>
              <documentation>Sone 4 sprekkeandel: Andel av målt lengde (20m) som har detekterte sprekker i sone 4</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE4SPREKKEANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone5Sprekkeandel" type="integer">
            <annotation>
              <documentation>Sone 5 sprekkeandel: Andel av målt lengde (20m) som har detekterte sprekker i sone 5</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9866</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE5SPREKKEANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="totalSprekkeandel" type="integer">
            <annotation>
              <documentation>Total sprekkeandel: Andel av målt lengde (20m) som har detekterte sprekker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9856</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TOTALSPREKKEANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone2Sprekkarealandel" type="integer">
            <annotation>
              <documentation>Sone 2 sprekkarealandel: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 2</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9861</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE2SPREKKAREALANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørefeltbredde" type="integer">
            <annotation>
              <documentation>Kjørefeltbredde: Angir kjørefeltbredde beregnet på basis av oppmerkingslinjer som avgrenser kjørefeltet. Oppmerkingslinjene er detektert av lasermålingene som gjøres i forbindelse med spor/jevnhetsmålingene. Verdien er gjennomsnittsbredde for 20-metersstrekningen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9494</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREFELTBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone3Sprekkarealandel" type="integer">
            <annotation>
              <documentation>Sone 3 sprekkarealandel: Andel av målt areal (20x1m2) som har detekterte sprekker i sone 3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9863</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE3SPREKKAREALANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone4Sprekkarealandel" type="integer">
            <annotation>
              <documentation>Sone 4 sprekkarealandel: Andel av målt areal (20x0,75m2) som har detekterte sprekker i sone 4</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9865</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE4SPREKKAREALANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone5Sprekkarealandel" type="integer">
            <annotation>
              <documentation>Sone 5 sprekkarealandel: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 5</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9867</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE5SPREKKAREALANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="totalSprekkarealandel" type="integer">
            <annotation>
              <documentation>Total sprekkarealandel: Andel av målt areal (20x3m2) som har detekterte sprekker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9857</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TOTALSPREKKAREALANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetOppmerkingHøyre" type="integer">
            <annotation>
              <documentation>Kvalitet, oppmerking, høyre: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets høyre side sett i forhold til trafikkretningen, normalt vil det si kantlinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9495</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETOPPMERKINGHØYRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetOppmerkingVenstre" type="integer">
            <annotation>
              <documentation>Kvalitet, oppmerking, venstre: Angir kvalitet på detektert oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si midtlinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9496</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETOPPMERKINGVENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetEkstraOppmerkingVenstre" type="integer">
            <annotation>
              <documentation>Kvalitet, ekstra oppmerking, venstre: Angir kvalitet på detektert ekstra oppmerkingslinje på kjørefeltets venstre side sett i forhold til trafikkretningen, normalt vil det si ekstra midtlinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9497</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETEKSTRAOPPMERKINGVENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rositaId" type="string">
            <annotation>
              <documentation>Rosita_id: Gir id for måledatafil/profil i Rosita</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8943</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROSITAID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone1Sprekkeandel" type="integer">
            <annotation>
              <documentation>Sone 1 sprekkeandel: Andel av målt lengde (20m) som har detekterte sprekker i sone 1</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9858</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE1SPREKKEANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone1Sprekkarealandel" type="integer">
            <annotation>
              <documentation>Sone 1 sprekkarealandel: Andel av målt areal (20x0,25m2) som har detekterte sprekker i sone 1</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9859</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE1SPREKKAREALANDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="filtreringskonstant" type="integer">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5051</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FILTRERINGSKONSTANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5024</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="assosiertDekketilstandsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dekketilstandsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpormålingAvledaPr20MPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:SpormålingAvledaPr20M"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
