XSD/NVDB/528/528.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>528: Snitt av veg vinkelrett på vegens midtlinje</documentation>
  </annotation>
  <include schemaLocation="Tverrprofil.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Tverrprofil" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TverrprofilType">
    <annotation>
      <documentation>528: Snitt av veg vinkelrett på vegens midtlinje</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">528</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRPROFIL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TverrprofilType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="breddeRekkverksrom_Venstre" type="double">
            <annotation>
              <documentation>4545: Angir bredde rekkverksrom , venstre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4545</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEREKKVERKSROM_VENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Venstre" type="double">
            <annotation>
              <documentation>4544: Angir bredde grusskulder, venstre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4544</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEGRUSSKULDER_VENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4543: Angir bredde asfaltskulder, venstre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4543</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEASFALTSKULDER_VENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del16" type="double">
            <annotation>
              <documentation>4619: Angir bredde kjørebane, del16 (venstre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4619</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL16</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del15" type="double">
            <annotation>
              <documentation>4618: Angir bredde kjørebane, del15 (venstre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4618</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL15</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del14" type="double">
            <annotation>
              <documentation>4617: Angir bredde kjørebane, del14 (venstre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4617</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL14</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del13" type="double">
            <annotation>
              <documentation>4542: Angir bredde kjørebane, del13 (venstre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4542</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL13</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del12" type="double">
            <annotation>
              <documentation>4541: Angir bredde kjørebane, del12 (venstre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4541</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL12</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del11" type="double">
            <annotation>
              <documentation>4540: Angir bredde kjørebane, del11 (innerst venstre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4540</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL11</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Venstre" type="double">
            <annotation>
              <documentation>4607: Angir bredde av trafikkdeler, asfaltskulder, venstre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4607</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDETRAFIKKDELER_ASFALTSKULDER_VENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Venstre" type="double">
            <annotation>
              <documentation>4606: Angir bredde av trafikkdeler, grusskulder, venstre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4606</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDETRAFIKKDELER_GRUSSKULDER_VENSTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdelerMidt" type="double">
            <annotation>
              <documentation>4539: Angir bredde av trafikkdeler eks. Skuldre mot trafikkdeler
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4539</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDETRAFIKKDELERMIDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Grusskulder_Høyre" type="double">
            <annotation>
              <documentation>4605: Angir bredde av trafikkdeler, grusskulder, høyre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4605</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDETRAFIKKDELER_GRUSSKULDER_HØYRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeTrafikkdeler_Asfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4604: Angir bredde av trafikkdeler, asfaltskulder, høyre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4604</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDETRAFIKKDELER_ASFALTSKULDER_HØYRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del1" type="double">
            <annotation>
              <documentation>4536: Angir bredde av kjørebane, del1 (innerst høyre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4536</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del2" type="double">
            <annotation>
              <documentation>4537: Angir bredde av kjørebane, del2 (høyre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4537</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del3" type="double">
            <annotation>
              <documentation>4538: Angir bredde av kjørebane, del3 (høyre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4538</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL3</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del4" type="double">
            <annotation>
              <documentation>4614: Angir bredde av kjørebane, del4 (høyre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4614</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL4</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del5" type="double">
            <annotation>
              <documentation>4615: Angir bredde av kjørebane, del5 (høyre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4615</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL5</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Del6" type="double">
            <annotation>
              <documentation>4616: Angir bredde av kjørebane, del6 (høyre side)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4616</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_DEL6</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeDekke_Total" type="double">
            <annotation>
              <documentation>4603: Angir total dekkebredde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4603</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEDEKKE_TOTAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeKjørebane_Total" type="double">
            <annotation>
              <documentation>4602: Angir total kjørebanebredde (mellom hvitstriper)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4602</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKJØREBANE_TOTAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeAsfaltskulder_Høyre" type="double">
            <annotation>
              <documentation>4535: Angir bredde av asfaltskulder, høyre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4535</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEASFALTSKULDER_HØYRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeGrusskulder_Høyre" type="double">
            <annotation>
              <documentation>4534: Angir bredde av grusskulder, høyre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4534</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEGRUSSKULDER_HØYRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeRekkverksrom_Høyre" type="double">
            <annotation>
              <documentation>4533: Angir bredde av rekkverksrom, høyre
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4533</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEREKKVERKSROM_HØYRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetode_Bredde" type="gml:CodeType">
            <annotation>
              <documentation>4531: Angir metode for måling av bredde.  Kodeverk fra TVERR benyttes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4531</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEMETODE_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4546: Angir dato for registrering av tverrprofil</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4546</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dataopprinnelse" type="gml:CodeType">
            <annotation>
              <documentation>4547: Angir hvilke kilde dataene kommer fra</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4547</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATAOPPRINNELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5028: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5028</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8928: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8928</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TverrprofilPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tverrprofil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
