XSD/NVDB/721/721.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>721: Høyeste tillatte hastighet på en vegstrekning innenfor et avgrenset tidsrom.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">721</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="FartsgrenseVariabel.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FartsgrenseFartsgrenseVariabelType">
    <annotation>
      <documentation>Fartsgrense: Verdien på fartsgrensen i angitt tidsrom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSGRENSEFARTSGRENSEVARIABEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FartsgrenseFartsgrenseVariabelEnumerationType nvdb:FartsgrenseFartsgrenseVariabelOtherType"/>
  </simpleType>
  <simpleType name="FartsgrenseFartsgrenseVariabelEnumerationType">
    <annotation>
      <documentation>Fartsgrense: Verdien på fartsgrensen i angitt tidsrom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSGRENSEFARTSGRENSEVARIABEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="20">
        <annotation>
          <documentation>11577: 20</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11577</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>9333: 30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>9334: 40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9334</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>9335: 50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9335</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>9336: 60</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>9337: 70</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9337</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>9338: 80</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9338</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>9339: 90</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9339</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="100">
        <annotation>
          <documentation>9340: 100</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9340</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="110">
        <annotation>
          <documentation>16591: 110</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16591</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FartsgrenseFartsgrenseVariabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="FartsgrenseVariabel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FartsgrenseVariabelType">
    <annotation>
      <documentation>Fartsgrense,variabel: Høyeste tillatte hastighet på en vegstrekning innenfor et avgrenset tidsrom.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">721</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSGRENSEVARIABEL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FartsgrenseVariabelType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="fartsgrense" type="nvdb:FartsgrenseFartsgrenseVariabelType">
            <annotation>
              <documentation>Fartsgrense: Verdien på fartsgrensen i angitt tidsrom</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7023</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSGRENSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeFartsgrenseVariabelType">
            <annotation>
              <documentation>Type: Angir hvilken type variabel fartsgrense det er</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ukedag" type="nvdb:UkedagType">
            <annotation>
              <documentation>Ukedag: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UKEDAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoFra" type="string">
            <annotation>
              <documentation>Dato, fra: Angir dato (mmdd) som variabel fartsgrense gjelder fra og med i et normalår.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7019</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOFRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslettFra" type="string">
            <annotation>
              <documentation>Klokkeslett, fra: Angir tidspunkt (hhmm) på døgnet som variabel fartsgrense gjelder fra.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7017</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLOKKESLETTFRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoTil" type="string">
            <annotation>
              <documentation>Dato, til: Angir dato (mmdd) som variabel fartsgrense gjelder til og med i et normalår.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7022</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOTIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslettTil" type="string">
            <annotation>
              <documentation>Klokkeslett, til: Angir tidspunkt på døgnet (hhmm) som variabel fartsgrense gjelder til</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7018</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLOKKESLETTTIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>Vedtaksnummer: Angir vedtaksnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9402</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDTAKSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>Arkivnummer: Referanse til Statens vegvesen sitt arkivsystem</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9399</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARKIVNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gyldigFraDato" type="date">
            <annotation>
              <documentation>Gyldig fra dato: Dato for når fartsgrense ble satt i drift.  Den dato skiltene ble "avduket".</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9400</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GYLDIGFRADATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Kan gi merknad i forhold til variabel fartsgrense.  F.eks spesifikasjon av gyldighet, retningslinjer for nedsetting av fartsgrense etc</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8829</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsgrenseVariabelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:FartsgrenseVariabel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeFartsgrenseVariabelType">
    <annotation>
      <documentation>Type: Angir hvilken type variabel fartsgrense det er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFARTSGRENSEVARIABEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFartsgrenseVariabelEnumerationType nvdb:TypeFartsgrenseVariabelOtherType"/>
  </simpleType>
  <simpleType name="TypeFartsgrenseVariabelEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type variabel fartsgrense det er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7016</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFARTSGRENSEVARIABEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vinterfartsgrense">
        <annotation>
          <documentation>9327: Vinterfartsgrense</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9327</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sommerfartsgrense">
        <annotation>
          <documentation>13242: Sommerfartsgrense</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13242</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skole">
        <annotation>
          <documentation>9328: Skole</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9328</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="miljøfartsgrense">
        <annotation>
          <documentation>13241: Miljøfartsgrense</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13241</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsgrenseVariabelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UkedagType">
    <annotation>
      <documentation>Ukedag: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UKEDAG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UkedagEnumerationType nvdb:UkedagOtherType"/>
  </simpleType>
  <simpleType name="UkedagEnumerationType">
    <annotation>
      <documentation>Ukedag: Angir ukedager en variabel fartsgrense gjelder for.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UKEDAG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hverdager">
        <annotation>
          <documentation>13243: Hverdager: Mandag - Lørdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13243</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hverdagerULørdag">
        <annotation>
          <documentation>13244: Hverdager u/ lørdag: Mandag - Fredag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13244</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lørdagOgSøndag">
        <annotation>
          <documentation>13245: Lørdag og søndag: Lørdag - Søndag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13245</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mandag">
        <annotation>
          <documentation>13246: Mandag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13246</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tirsdag">
        <annotation>
          <documentation>13247: Tirsdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13247</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="onsdag">
        <annotation>
          <documentation>13248: Onsdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13248</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="torsdag">
        <annotation>
          <documentation>13249: Torsdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13249</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fredag">
        <annotation>
          <documentation>13250: Fredag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13250</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lørdag">
        <annotation>
          <documentation>13251: Lørdag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13251</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="søndag">
        <annotation>
          <documentation>13252: Søndag</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13252</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UkedagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
