XSD/NVDB/838/838.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>838: Vegbredde beregnet på basis av grunnlagsdata, f.eks FKB, dekkestilstandsdata etc . Merknad: Disse dataene er i første omgang tiltenkt bruksområder hvor det ikke stilles veldig nøyaktige krav til breddenøyaktighet, bla analyser knyttet til NTP.</documentation>
  </annotation>
  <include schemaLocation="Vegbredde_Beregnet.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegbredde_Beregnet" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Vegbredde_BeregnetType">
    <annotation>
      <documentation>838: Vegbredde beregnet på basis av grunnlagsdata, f.eks FKB, dekkestilstandsdata etc . Merknad: Disse dataene er i første omgang tiltenkt bruksområder hvor det ikke stilles veldig nøyaktige krav til breddenøyaktighet, bla analyser knyttet til NTP.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">838</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDE_BEREGNET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegbredde_BeregnetType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="dekkebredde" type="double">
            <annotation>
              <documentation>9537: Angir total dekkebredde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9537</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkebredde_Min" type="double">
            <annotation>
              <documentation>9538: Angir minimum dekkebredde på gitt strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9538</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEBREDDE_MIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkebredde_Maks" type="double">
            <annotation>
              <documentation>9536: Angir maks dekkebredde på gitt strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9536</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEBREDDE_MAKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbredde" type="double">
            <annotation>
              <documentation>9797: Angir total vegbredde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9797</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbredde_Min" type="double">
            <annotation>
              <documentation>9798: Angir minimum vegbredde på gitt strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9798</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDE_MIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbredde_Maks" type="double">
            <annotation>
              <documentation>9796: Angir maks vegbredde på gitt strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9796</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDE_MAKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørebanebredde" type="double">
            <annotation>
              <documentation>9800: Angir total kjørebanebredde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9800</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREBANEBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørebanebredde_Min" type="double">
            <annotation>
              <documentation>9801: Angir minimum kjørebanebredde på gitt strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9801</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREBANEBREDDE_MIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørebanebredde_Maks" type="double">
            <annotation>
              <documentation>9799: Angir maks kjørebanebredde på gitt strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9799</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREBANEBREDDE_MAKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grunnlag" type="gml:CodeType">
            <annotation>
              <documentation>9534: Angir hvilke kilde dataene kommer fra</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9534</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målemetodeGrunnlag" type="string">
            <annotation>
              <documentation>9535: Angir hvilken målemetode som er benyttet for å framskaffe grunnlagsdata. Verdier fra SOSI målemetode.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9535</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEMETODEGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoGrunnlag" type="date">
            <annotation>
              <documentation>9533: Angir opprinnelsesdato for eldste grunnlagsdata</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9533</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetGrunnlag" type="integer">
            <annotation>
              <documentation>9539: Angir kvalitet på grunnlagsdata
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9539</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9540: Informasjon knyttet til vegbredde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9540</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkebredde_Median_Test" type="double">
            <annotation>
              <documentation>10248: Gir median for dekkebredde. Foreløpig til testformål
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10248</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEBREDDE_MEDIAN_TEST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkebredde_Normal_Test" type="double">
            <annotation>
              <documentation>10249: Angir den dekkebredden som flest av de beregna profilene har når de er avrundet i henhold til oppgitt avrundingsintervall. Foreløpig til testformål
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10249</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEBREDDE_NORMAL_TEST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegbredde_BeregnetPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegbredde_Beregnet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
