XSD/NVDB/48/123.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>123: Gir informasjon om tilstand og eventuell skade på vegdekke.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">123</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Fortau.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlvorlighetsgradType">
    <annotation>
      <documentation>Alvorlighetsgrad: Angir hvor alvorlig en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALVORLIGHETSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlvorlighetsgradEnumerationType nvdb:AlvorlighetsgradOtherType"/>
  </simpleType>
  <simpleType name="AlvorlighetsgradEnumerationType">
    <annotation>
      <documentation>Alvorlighetsgrad: Angir hvor alvorlig en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALVORLIGHETSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="liten">
        <annotation>
          <documentation>2623: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2623</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="middels">
        <annotation>
          <documentation>2628: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2628</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stor">
        <annotation>
          <documentation>2633: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2633</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kritisk">
        <annotation>
          <documentation>2637: Kritisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2637</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlvorlighetsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkadeDekkeType">
    <annotation>
      <documentation>Skadetype: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADETYPETILSTANDSKADEDEKKE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkadeDekkeEnumerationType nvdb:SkadetypeTilstandSkadeDekkeOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkadeDekkeEnumerationType">
    <annotation>
      <documentation>Skadetype: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADETYPETILSTANDSKADEDEKKE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="områdeMedKrakkelering">
        <annotation>
          <documentation>2617: Område med krakkelering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2617</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="langsgåendeDekkesprekk">
        <annotation>
          <documentation>2618: Langsgående dekkesprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2618</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tverrsgåendeDekkesprekk">
        <annotation>
          <documentation>2619: Tverrsgående dekkesprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2619</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="overflateskade">
        <annotation>
          <documentation>2620: Overflateskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2620</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkadeDekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeDekke" substitutionGroup="gml:AbstractFeature" type="nvdb:TilstandSkadeDekkeType">
    <annotation>
      <documentation>Tilstand/skade,dekke: Gir informasjon om tilstand og eventuell skade på vegdekke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">123</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSKADEDEKKE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkadeDekkeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="antall" type="integer">
            <annotation>
              <documentation>Antall: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2205</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkadeDekkeType">
            <annotation>
              <documentation>Skadetype: Angir hvilken type skade det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1162</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årsakTilSkadeMangel" type="nvdb:ÅrsakTilSkadeMangelType">
            <annotation>
              <documentation>Årsak til skade/mangel: Angir årsak til en skade eller mangel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRSAKTILSKADEMANGEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>Dato kontrollert: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8775</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOKONTROLLERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>Tilleggsinformasjon: Det kan her gis tilleggsinformasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7852</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>Registreringsdato: Angir dato da vegobjektet ble registrert.  Datoformat: ååååmmdd</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2009</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utbredelse" type="nvdb:UtbredelseType">
            <annotation>
              <documentation>Utbredelse: Angir hvor utbredt en skade/tilstand er</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTBREDELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4814</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad" type="nvdb:AlvorlighetsgradType">
            <annotation>
              <documentation>Alvorlighetsgrad: Angir hvor alvorlig en skade/tilstand er</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1998</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALVORLIGHETSGRAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeDekkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeDekke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtbredelseType">
    <annotation>
      <documentation>Utbredelse: Angir hvor utbredt en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTBREDELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtbredelseEnumerationType nvdb:UtbredelseOtherType"/>
  </simpleType>
  <simpleType name="UtbredelseEnumerationType">
    <annotation>
      <documentation>Utbredelse: Angir hvor utbredt en skade/tilstand er</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTBREDELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="liten">
        <annotation>
          <documentation>2625: Liten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2625</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="middels">
        <annotation>
          <documentation>2630: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2630</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stor">
        <annotation>
          <documentation>2635: Stor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2635</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtbredelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelType">
    <annotation>
      <documentation>Årsak til skade/mangel: Angir årsak til en skade eller mangel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRSAKTILSKADEMANGEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ÅrsakTilSkadeMangelEnumerationType nvdb:ÅrsakTilSkadeMangelOtherType"/>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelEnumerationType">
    <annotation>
      <documentation>Årsak til skade/mangel: Angir årsak til en skade eller mangel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2001</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRSAKTILSKADEMANGEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="dårligeGrunnforhold">
        <annotation>
          <documentation>2639: Dårlige grunnforhold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2639</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dårligVegfundament">
        <annotation>
          <documentation>2640: Dårlig vegfundament</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2640</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="telefarligMateriale">
        <annotation>
          <documentation>2641: Telefarlig materiale</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2641</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dårligDrenering">
        <annotation>
          <documentation>2642: Dårlig drenering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2642</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ÅrsakTilSkadeMangelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
