XSD/NVDB/208/581.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
  </annotation>
  <include schemaLocation="BassengMagasin.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Tunnel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelType">
    <annotation>
      <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">581</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNEL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5225: Angir navn på tunnel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5225</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelnummer" type="string">
            <annotation>
              <documentation>9306: Gir unikt nummer for tunnel/skredoverbygg, benyttes av Plania</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9306</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelklasse_Prosjektert" type="gml:CodeType">
            <annotation>
              <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSE_PROSJEKTERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallParallelleHovedløp" type="gml:CodeType">
            <annotation>
              <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks når tunnel på en arm.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde_Skiltet" type="integer">
            <annotation>
              <documentation>8945: Angir tunnelens skilta lengde. Hvis det ikke finnes skilta lengde, kan det oppgis lengde etter samme kriterier som benyttes i forbindelse med skilta lengde.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8945</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE_SKILTET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sumLengdeAlleLøp" type="integer">
            <annotation>
              <documentation>8150: Angir total lengde av alle hovedløpene tilhørende tunnelsystemet.  Inkluderer ikke lengde av ramper. Lengde av et hovedløp regnes fra første til siste punkt hvor en normal rett opp fra midt veg treffer tunneltak/portal
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8150</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMLENGDEALLELØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sumLengdeRamper" type="integer">
            <annotation>
              <documentation>8151: Angir total lengde av alle tunnelløp som tilhører rampe(r) tilhørende tunnelsystemet.  Inkluderer ikke lengde av hovedløpene.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8151</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMLENGDERAMPER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="undersjøisk" type="gml:CodeType">
            <annotation>
              <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkelforbud" type="gml:CodeType">
            <annotation>
              <documentation>9518: Angir om det er forbudt å sykle i tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="serviceNødtelefonerTilVTS" type="gml:CodeType">
            <annotation>
              <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alarmTilVTSVedFjerningAvBrannslokker" type="gml:CodeType">
            <annotation>
              <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kablerSeksjonert" type="gml:CodeType">
            <annotation>
              <documentation>3915: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kablerSikret_Ved_Nedgraving" type="gml:CodeType">
            <annotation>
              <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRET_VED_NEDGRAVING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSyklende" type="string">
            <annotation>
              <documentation>3913: Kan f.eks beskrive omkjøringsrute for sykkel/gangtrafikk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3913</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSYKLENDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="særskiltBrannobjektFraTidspunkt" type="date">
            <annotation>
              <documentation>9507: Angir vedtaksdato dersom tunellen er vedtatt som særskilt brannobjekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9507</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SÆRSKILTBRANNOBJEKTFRATIDSPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonsklasse" type="gml:CodeType">
            <annotation>
              <documentation>9131: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadRestriksjonsklasse" type="string">
            <annotation>
              <documentation>9506: Angir merknader knyttet til restriksjonsklasse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9506</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADRESTRIKSJONSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutus_Id" type="string">
            <annotation>
              <documentation>9329: Gir referanse til brudatabanken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9329</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUTUS_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>10383: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10383</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11148: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11148</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6891: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6891</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannhåndteringsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vannhåndteringsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBassengMagasin" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:BassengMagasin</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
