XSD/NVDB/37/37.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>37: Sted der veger møtes eller krysser hverandre med mulighet for utveksling av trafikk (1).</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">37</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Vegkryss.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallArmerIRundkjøringType">
    <annotation>
      <documentation>Antall armer i rundkjøring: Angir hvor mange armer det er i en rundkjøring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1789</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMERIRUNDKJØRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallArmerIRundkjøringEnumerationType nvdb:AntallArmerIRundkjøringOtherType"/>
  </simpleType>
  <simpleType name="AntallArmerIRundkjøringEnumerationType">
    <annotation>
      <documentation>Antall armer i rundkjøring: Angir hvor mange armer det er i en rundkjøring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1789</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMERIRUNDKJØRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3726: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3726</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3735: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3735</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>3743: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3743</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>3016: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3016</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>3778: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>3781: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3781</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>16137: 7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16137</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>16138: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16138</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallArmerIRundkjøringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="CubeTilknytningType">
    <annotation>
      <documentation>Cube-tilknytning: Angir om vegkrysset benyttes i Cube-systemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_CUBETILKNYTNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:CubeTilknytningEnumerationType nvdb:CubeTilknytningOtherType"/>
  </simpleType>
  <simpleType name="CubeTilknytningEnumerationType">
    <annotation>
      <documentation>Cube-tilknytning: Angir om vegkrysset benyttes i Cube-systemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_CUBETILKNYTNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13698: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13698</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13699: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13699</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="CubeTilknytningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringPrimærvegType">
    <annotation>
      <documentation>Kanalisering primærveg: Angir hvilken type kanalisering det er i kryssets primærveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1788</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANALISERINGPRIMÆRVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KanaliseringPrimærvegEnumerationType nvdb:KanaliseringPrimærvegOtherType"/>
  </simpleType>
  <simpleType name="KanaliseringPrimærvegEnumerationType">
    <annotation>
      <documentation>Kanalisering primærveg: Angir hvilken type kanalisering det er i kryssets primærveg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1788</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANALISERINGPRIMÆRVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingen">
        <annotation>
          <documentation>3475: Ingen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3475</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="malt">
        <annotation>
          <documentation>3219: Malt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3219</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3223: Fysisk m kantstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3223</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringPrimærvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringSekundærvegerType">
    <annotation>
      <documentation>Kanalisering sekundærveger: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.  Hvis ulik kanalisering i ulike sekundærveger angi: ulik kanalisering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2080</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANALISERINGSEKUNDÆRVEGER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KanaliseringSekundærvegerEnumerationType nvdb:KanaliseringSekundærvegerOtherType"/>
  </simpleType>
  <simpleType name="KanaliseringSekundærvegerEnumerationType">
    <annotation>
      <documentation>Kanalisering sekundærveger: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.  Hvis ulik kanalisering i ulike sekundærveger angi: ulik kanalisering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2080</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANALISERINGSEKUNDÆRVEGER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingen">
        <annotation>
          <documentation>3478: Ingen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3478</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="malt">
        <annotation>
          <documentation>3222: Malt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3222</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3226: Fysisk m kantstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3226</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ulikKanalisering">
        <annotation>
          <documentation>3784: Ulik kanalisering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3784</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KanaliseringSekundærvegerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegkryssType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1114</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGKRYSS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVegkryssEnumerationType nvdb:TypeVegkryssOtherType"/>
  </simpleType>
  <simpleType name="TypeVegkryssEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1114</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGKRYSS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="plankryss">
        <annotation>
          <documentation>4077: Plankryss: Spesielle plankryss som ikke kan defineres som enten t-kryss, x-kryss eller rundkjøring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4077</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tKryss">
        <annotation>
          <documentation>3134: T-kryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3134</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="xKryss">
        <annotation>
          <documentation>3135: X-kryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3135</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>3136: Rundkjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3136</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryss">
        <annotation>
          <documentation>3137: Planskilt kryss: Kryss bestående av kombinasjoner av ulike typer planskilt kryss, eller andre spesielle løsninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3137</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryssTrompetkryss">
        <annotation>
          <documentation>3138: Planskilt kryss, trompetkryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3138</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryssRuterkryss">
        <annotation>
          <documentation>3139: Planskilt kryss, ruterkryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3139</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryssKløverbladkryss">
        <annotation>
          <documentation>3140: Planskilt kryss, kløverbladkryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3140</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="planskiltKryssHankkryss">
        <annotation>
          <documentation>3141: Planskilt kryss, hankkryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3141</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegkryssOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegkryss" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegkryssType">
    <annotation>
      <documentation>Vegkryss: Sted der veger møtes eller krysser hverandre med mulighet for utveksling av trafikk (1).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">37</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKRYSS</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegkryssType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir lokalt navn på vegkrysset</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1073</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeVegkryssType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1114</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallArmerIRundkjøring" type="nvdb:AntallArmerIRundkjøringType">
            <annotation>
              <documentation>Antall armer i rundkjøring: Angir hvor mange armer det er i en rundkjøring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1789</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMERIRUNDKJØRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rundkjøringIndreDiameter" type="double">
            <annotation>
              <documentation>Rundkjøring, indre diameter: Angir indre diameter i rundkjøring.  Dvs sentraløyens diameter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1792</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUNDKJØRINGINDREDIAMETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rundkjøringYtreDiameter" type="double">
            <annotation>
              <documentation>Rundkjøring, ytre diameter: Angir ytre diameter av rundkjøring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1791</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUNDKJØRINGYTREDIAMETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kanaliseringSekundærveger" type="nvdb:KanaliseringSekundærvegerType">
            <annotation>
              <documentation>Kanalisering sekundærveger: Angir hvilken type kanalisering det er i sekundærvegene i et kryss.  Hvis ulik kanalisering i ulike sekundærveger angi: ulik kanalisering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2080</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANALISERINGSEKUNDÆRVEGER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kanaliseringPrimærveg" type="nvdb:KanaliseringPrimærvegType">
            <annotation>
              <documentation>Kanalisering primærveg: Angir hvilken type kanalisering det er i kryssets primærveg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1788</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANALISERINGPRIMÆRVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kryssnummer" type="string">
            <annotation>
              <documentation>Kryssnummer: Angir kryssnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7822</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRYSSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Gir merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5512</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="cubeTilknytning" type="nvdb:CubeTilknytningType">
            <annotation>
              <documentation>Cube-tilknytning: Angir om vegkrysset benyttes i Cube-systemet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9548</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_CUBETILKNYTNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4744</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkryssPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegkryss"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
