XSD/NVDB/37/49.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy.  Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">49</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Vegkryss.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningOverkjørbartArealType">
    <annotation>
      <documentation>Belegning,overkjørbart areal: Angir hvilken type belegning det er på overkjørbart areal</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8787</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGOVERKJØRBARTAREAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningOverkjørbartArealEnumerationType nvdb:BelegningOverkjørbartArealOtherType"/>
  </simpleType>
  <simpleType name="BelegningOverkjørbartArealEnumerationType">
    <annotation>
      <documentation>Belegning,overkjørbart areal: Angir hvilken type belegning det er på overkjørbart areal</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8787</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGOVERKJØRBARTAREAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="steinBrostein">
        <annotation>
          <documentation>11628: Stein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11628</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>11629: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11629</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>11786: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11786</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>11631: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11631</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningOverkjørbartArealOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkøyType">
    <annotation>
      <documentation>Belegning: Angir hva vegobjektet er belagt med</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2127</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkøyEnumerationType nvdb:BelegningTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkøyEnumerationType">
    <annotation>
      <documentation>Belegning: Angir hva vegobjektet er belagt med</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2127</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grøntBeplantning">
        <annotation>
          <documentation>3917: Grønt/beplantning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>4053: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4053</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongFarget">
        <annotation>
          <documentation>5547: Betong, farget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5547</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongMønstret">
        <annotation>
          <documentation>5548: Betong, mønstret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5548</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongMønstretOgFarget">
        <annotation>
          <documentation>5549: Betong, mønstret og farget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5549</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>5550: Betongheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5550</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>11235: Granitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11235</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7934: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7934</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>3277: Stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3277</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="steinFaststøptIBetong">
        <annotation>
          <documentation>5552: Stein, faststøpt i betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5552</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="steinRundstein">
        <annotation>
          <documentation>5553: Stein, rundstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5553</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="steinBrostein">
        <annotation>
          <documentation>5554: Stein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5554</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11234: Skiferheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11234</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>5555: Pukk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5555</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>2347: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkøyType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrafikkøyEnumerationType nvdb:EierTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="EierTrafikkøyEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10768</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>17447: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17447</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>17444: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17444</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>17445: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17445</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>17446: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17446</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17640: Uavklart: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17640</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkøy" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkøyType">
    <annotation>
      <documentation>Trafikkøy: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy.  Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">49</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkøyType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeTrafikkøyType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1119</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utforming" type="nvdb:UtformingTrafikkøyType">
            <annotation>
              <documentation>Utforming: Utforming av vegobjekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2024</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningTrafikkøyType">
            <annotation>
              <documentation>Belegning: Angir hva vegobjektet er belagt med</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2127</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegningOverkjørbartAreal" type="nvdb:BelegningOverkjørbartArealType">
            <annotation>
              <documentation>Belegning, overkjørbart areal: Angir hvilken type belegning det er på overkjørbart areal</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8787</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGOVERKJØRBARTAREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealTotalt" type="double">
            <annotation>
              <documentation>Areal, totalt: Angir arealet av vegobjektet.  For fysiske øyer skal arealet regnes til ytterkant kantstein.  Evt. overkjørbart areal skal medregnes.  For malte øyer skal arealet regnes til ytterkant maling.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREALTOTALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealOverkjørbart" type="double">
            <annotation>
              <documentation>Areal, overkjørbart: Angir areal av den delen av trafikkøyen som er overkjørbar.  Dette arealet er tiltenkt framkommelighet for store kjøretøy evt spesialkjøretøy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8786</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREALOVERKJØRBART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10381</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrafikkøyType">
            <annotation>
              <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10768</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkøyType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8057</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flateavgrensning: Polygon som avgrenser ytterkant av vegobjekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10716</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATEAVGRENSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4756</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8917</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkøyPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkøy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTrafikkøyType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTrafikkøyEnumerationType nvdb:TypeTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="TypeTrafikkøyEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="trafikkdelerTKryss">
        <annotation>
          <documentation>3207: Trafikkdeler t-kryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3207</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venstresvingeøy">
        <annotation>
          <documentation>3208: Venstresvingeøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3208</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dråpeøy">
        <annotation>
          <documentation>3209: Dråpeøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3209</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trekantøy">
        <annotation>
          <documentation>3210: Trekantøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3210</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sentraløyRundkjøring">
        <annotation>
          <documentation>3212: Sentraløy, rundkjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3212</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ledeøyRundkjøringTrekant">
        <annotation>
          <documentation>3211: Ledeøy rundkjøring, trekant</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3211</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ledeøyRundkjøringParallell">
        <annotation>
          <documentation>11632: Ledeøy rundkjøring, parallell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11632</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ledeøyRundkjøringTrompet">
        <annotation>
          <documentation>11633: Ledeøy rundkjøring, trompet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11633</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøyVFilterfelt">
        <annotation>
          <documentation>12976: Trafikkøy v filterfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12976</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøyVFotgjengerovergang">
        <annotation>
          <documentation>3213: Trafikkøy v fotgjengerovergang</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3213</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøyVSnuplass">
        <annotation>
          <documentation>3214: Trafikkøy v snuplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3214</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyType">
    <annotation>
      <documentation>Utforming: Utforming av vegobjekt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2024</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikkøyEnumerationType nvdb:UtformingTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikkøyEnumerationType">
    <annotation>
      <documentation>Utforming: Utforming av vegobjekt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2024</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>3220: Malt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3220</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3224: Fysisk m kantstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3224</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkøyType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkøyEnumerationType nvdb:VedlikeholdsansvarligTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkøyEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10451: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10451</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10529: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10529</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10607: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10607</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17710: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17710</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
