XSD/NVDB/576/576.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>576: Angir hvilken standardklasse vegen tilhører</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">576</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Standardklasse.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BebyggelsestypeType">
    <annotation>
      <documentation>Bebyggelsestype: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEBYGGELSESTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BebyggelsestypeEnumerationType nvdb:BebyggelsestypeOtherType"/>
  </simpleType>
  <simpleType name="BebyggelsestypeEnumerationType">
    <annotation>
      <documentation>Bebyggelsestype: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEBYGGELSESTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bolig">
        <annotation>
          <documentation>7036: Bolig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7036</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="industri">
        <annotation>
          <documentation>7037: Industri</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7037</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelsestypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Standardklasse" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StandardklasseType">
    <annotation>
      <documentation>Standardklasse: Angir hvilken standardklasse vegen tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StandardklasseType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="standardklasse" type="nvdb:StandardklasseStandardklasseType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bebyggelsestype" type="nvdb:BebyggelsestypeType">
            <annotation>
              <documentation>Bebyggelsestype: Angir hvilken type bebyggelse som er mest karakteristisk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5177</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEBYGGELSESTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6920</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardklassePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Standardklasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StandardklasseStandardklasseType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSESTANDARDKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardklasseStandardklasseEnumerationType nvdb:StandardklasseStandardklasseOtherType"/>
  </simpleType>
  <simpleType name="StandardklasseStandardklasseEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5176</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSESTANDARDKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedvegUbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7024: Hovedveg, ubebygd/spredt bebyggelse: Hovedveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7024</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hovedvegMiddelsTettBebyggelse">
        <annotation>
          <documentation>7025: Hovedveg, middels tett bebyggelse: Hovedveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7025</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hovedvegTettBebyggelse">
        <annotation>
          <documentation>7026: Hovedveg, tett bebyggelse: Hovedveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7026</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samlevegUbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7027: Samleveg, ubebygd/spredt bebyggelse: Samleveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7027</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samlevegMiddelsTettBebyggelse">
        <annotation>
          <documentation>7028: Samleveg, middels tett bebyggelse: Samleveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7028</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samlegateTettBebyggelse">
        <annotation>
          <documentation>7029: Samlegate, tett bebyggelse: Samleveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7029</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="atkomstvegUbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7030: Atkomstveg, ubebygd/spredt bebyggelse: Atkomstveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7030</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="atkomstvegMiddelsTettBebyggelse">
        <annotation>
          <documentation>7031: Atkomstveg, middels tett bebyggelse: Atkomstveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7031</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="atkomstgateTettBebyggelse">
        <annotation>
          <documentation>7032: Atkomstgate, tett bebyggelse: Atkomstveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7032</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelvegUbebygdSpredtBebyggelse">
        <annotation>
          <documentation>7033: Gang-/sykkelveg, ubebygd/spredt bebyggelse: Gang-/sykkelveg i ubebygd eller spredt bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7033</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelvegMiddelsTettBebyggelse">
        <annotation>
          <documentation>7034: Gang-/sykkelveg, middels tett bebyggelse: Gang-/sykkelveg i middels tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7034</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelvegTettBebyggelse">
        <annotation>
          <documentation>7035: Gang-/sykkelveg, tett bebyggelse: Gang-/sykkelveg i tett bebyggelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7035</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseStandardklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
