XSD/NVDB/526/626.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>626: Gir felles data til serie med målinger</documentation>
  </annotation>
  <include schemaLocation="Friksjonsmaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Friksjonsmåleserie" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FriksjonsmåleserieType">
    <annotation>
      <documentation>626: Gir felles data til serie med målinger</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">626</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FRIKSJONSMÅLESERIE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FriksjonsmåleserieType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>5742: Angir dato for måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5742</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klokkeslett" type="string">
            <annotation>
              <documentation>5743: Angir klokkeslett for måling (timer-minutt-sekund)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5743</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLOKKESLETT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="filnavn" type="string">
            <annotation>
              <documentation>5744: Angir filnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5744</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FILNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="nvdb:SporType">
            <annotation>
              <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11207</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nextService" type="double">
            <annotation>
              <documentation>5746: NextService
Enhet: Kilometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5746</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEXTSERVICE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="location" type="string">
            <annotation>
              <documentation>5747: Location:</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5747</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LOCATION</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="operator" type="string">
            <annotation>
              <documentation>5748: Angir operatør</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5748</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPERATOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SWVersjon" type="string">
            <annotation>
              <documentation>5745: Angir SoftWare-versjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5745</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SWVERSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="weather" type="string">
            <annotation>
              <documentation>5749: Angir værforhold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5749</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_WEATHER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="MWPulsesM" type="double">
            <annotation>
              <documentation>5750: MW Pulses/m</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5750</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MWPULSESM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TWPulsesM" type="double">
            <annotation>
              <documentation>5751: TW Pulses/m</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5751</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TWPULSESM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeFriksjonsmåleserieType">
            <annotation>
              <documentation>5752: Angir type måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5752</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="intervall" type="integer">
            <annotation>
              <documentation>5753: Angir intervall mellom målingene
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5753</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INTERVALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="slip_Prosent" type="integer">
            <annotation>
              <documentation>5754: Angir slipprosent
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5754</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SLIP_PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="PRegConst" type="double">
            <annotation>
              <documentation>5755: P Reg const:</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5755</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PREGCONST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rosita_id" type="string">
            <annotation>
              <documentation>9117: Gir id for måledatafil/profil i Rosita</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9117</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROSITA_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannmengde" type="nvdb:VannmengdeType">
            <annotation>
              <documentation>5904: ?</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5904</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNMENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måleformål" type="nvdb:MåleformålType">
            <annotation>
              <documentation>5905: Angir formål med friksjonsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5905</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6902: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6902</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FriksjonsmåleseriePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Friksjonsmåleserie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MåleformålType">
    <annotation>
      <documentation>5905: Angir formål med friksjonsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MåleformålEnumerationType nvdb:MåleformålOtherType"/>
  </simpleType>
  <simpleType name="MåleformålEnumerationType">
    <annotation>
      <documentation>5905: Angir formål med friksjonsmåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>8359: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8359</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>8360: Forsøk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8360</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>8361: Kalibrering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8361</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>8362: Referanse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8362</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>18503: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18503</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>18502: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18502</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>18501: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18501</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SporType">
    <annotation>
      <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11207</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPOR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporEnumerationType nvdb:SporOtherType"/>
  </simpleType>
  <simpleType name="SporEnumerationType">
    <annotation>
      <documentation>11207: Angir i hvilket spor friksjonsmåling er foretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11207</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPOR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="i">
        <annotation>
          <documentation>18506: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18506</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>18505: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18505</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="y">
        <annotation>
          <documentation>18504: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18504</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsmåleserieType">
    <annotation>
      <documentation>5752: Angir type måling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5752</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFRIKSJONSMÅLESERIE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFriksjonsmåleserieEnumerationType nvdb:TypeFriksjonsmåleserieOtherType"/>
  </simpleType>
  <simpleType name="TypeFriksjonsmåleserieEnumerationType">
    <annotation>
      <documentation>5752: Angir type måling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5752</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFRIKSJONSMÅLESERIE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="F">
        <annotation>
          <documentation>7993: Fast slippmåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7993</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>7994: Variabel slippmåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7994</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFriksjonsmåleserieOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannmengdeType">
    <annotation>
      <documentation>5904: ?</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5904</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNMENGDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannmengdeEnumerationType nvdb:VannmengdeOtherType"/>
  </simpleType>
  <simpleType name="VannmengdeEnumerationType">
    <annotation>
      <documentation>5904: ?</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5904</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNMENGDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0_0">
        <annotation>
          <documentation>8356: 0,0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8356</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0_5">
        <annotation>
          <documentation>8357: 0,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8357</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1_0">
        <annotation>
          <documentation>8358: 1,0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8358</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannmengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
