XSD/NVDB/3/899.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>899: Angir tilstandsgrader for skjerm.</documentation>
  </annotation>
  <include schemaLocation="Skjerm.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="TGKonstruksjon_FundamenterType">
    <annotation>
      <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10818</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_FUNDAMENTER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_FundamenterEnumerationType nvdb:TGKonstruksjon_FundamenterOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_FundamenterEnumerationType">
    <annotation>
      <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10818</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_FUNDAMENTER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17822: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17822</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17823: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17823</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17824: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17824</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17825: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17825</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17826: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17826</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17827: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17827</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_FundamenterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_KnutepunkterSøylerType">
    <annotation>
      <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10816</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_KNUTEPUNKTERSØYLER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_KnutepunkterSøylerEnumerationType nvdb:TGKonstruksjon_KnutepunkterSøylerOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_KnutepunkterSøylerEnumerationType">
    <annotation>
      <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10816</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_KNUTEPUNKTERSØYLER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17816: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17816</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17817: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17817</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17818: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17818</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17819: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17819</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17820: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17820</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17821: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17821</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_KnutepunkterSøylerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_SkjevstillingType">
    <annotation>
      <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10814</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_SKJEVSTILLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_SkjevstillingEnumerationType nvdb:TGKonstruksjon_SkjevstillingOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_SkjevstillingEnumerationType">
    <annotation>
      <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10814</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_SKJEVSTILLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17810: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17810</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17811: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17811</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17812: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17812</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17813: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17813</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17814: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17814</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17815: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17815</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_SkjevstillingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_UtvaskingType">
    <annotation>
      <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10820</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_UTVASKING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKonstruksjon_UtvaskingEnumerationType nvdb:TGKonstruksjon_UtvaskingOtherType"/>
  </simpleType>
  <simpleType name="TGKonstruksjon_UtvaskingEnumerationType">
    <annotation>
      <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10820</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_UTVASKING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17828: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17828</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17829: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17829</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17830: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17830</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17831: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17831</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17832: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17832</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17833: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17833</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKonstruksjon_UtvaskingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_RåteMoseSoppType">
    <annotation>
      <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_RÅTEMOSESOPP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGOverflate_RåteMoseSoppEnumerationType nvdb:TGOverflate_RåteMoseSoppOtherType"/>
  </simpleType>
  <simpleType name="TGOverflate_RåteMoseSoppEnumerationType">
    <annotation>
      <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_RÅTEMOSESOPP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17840: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17840</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17841: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17841</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17842: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17842</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17843: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17843</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17844: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17844</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17845: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17845</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_RåteMoseSoppOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_TaggingHærverkEtcType">
    <annotation>
      <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10822</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_TAGGINGHÆRVERKETC</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGOverflate_TaggingHærverkEtcEnumerationType nvdb:TGOverflate_TaggingHærverkEtcOtherType"/>
  </simpleType>
  <simpleType name="TGOverflate_TaggingHærverkEtcEnumerationType">
    <annotation>
      <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10822</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_TAGGINGHÆRVERKETC</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17834: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17834</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17835: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17835</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17836: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17836</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17837: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17837</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17838: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17838</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17839: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17839</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_TaggingHærverkEtcOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_VedlikeholdType">
    <annotation>
      <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_VEDLIKEHOLD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGOverflate_VedlikeholdEnumerationType nvdb:TGOverflate_VedlikeholdOtherType"/>
  </simpleType>
  <simpleType name="TGOverflate_VedlikeholdEnumerationType">
    <annotation>
      <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_VEDLIKEHOLD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17857: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17857</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17858: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17858</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17859: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17859</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17860: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17860</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17861: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17861</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17862: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17862</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGOverflate_VedlikeholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingType">
    <annotation>
      <documentation>10826: Tilstandsgrad for skjerm som helhet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10826</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingEnumerationType nvdb:TGSamletVurderingOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingEnumerationType">
    <annotation>
      <documentation>10826: Tilstandsgrad for skjerm som helhet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10826</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17850: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17850</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17851: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17851</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17852: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17852</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17853: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17853</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17854: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17854</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17855: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17855</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_KonstruksjonType">
    <annotation>
      <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10837</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_KONSTRUKSJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_KonstruksjonEnumerationType nvdb:TGSamletVurdering_KonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_KonstruksjonEnumerationType">
    <annotation>
      <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10837</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_KONSTRUKSJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17863: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17863</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17864: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17864</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17865: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17865</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17866: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17866</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17867: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17867</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17868: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17868</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_KonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_StøyType">
    <annotation>
      <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10836</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_STØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_StøyEnumerationType nvdb:TGSamletVurdering_StøyOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_StøyEnumerationType">
    <annotation>
      <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10836</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_STØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17869: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17869</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17870: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17871: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17872: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17872</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17873: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17873</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17874: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17874</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_StøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_AbsorberendeElementerType">
    <annotation>
      <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_ABSORBERENDEELEMENTER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGStøy_AbsorberendeElementerEnumerationType nvdb:TGStøy_AbsorberendeElementerOtherType"/>
  </simpleType>
  <simpleType name="TGStøy_AbsorberendeElementerEnumerationType">
    <annotation>
      <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_ABSORBERENDEELEMENTER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17804: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17805: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17805</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17806: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17806</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17807: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17807</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17808: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17808</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17809: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17809</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_AbsorberendeElementerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperISkjermType">
    <annotation>
      <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10808</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_GLIPPERISKJERM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGStøy_GlipperISkjermEnumerationType nvdb:TGStøy_GlipperISkjermOtherType"/>
  </simpleType>
  <simpleType name="TGStøy_GlipperISkjermEnumerationType">
    <annotation>
      <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10808</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_GLIPPERISKJERM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17791: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17791</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17793: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17793</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17794: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17794</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17795: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17795</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17796: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17796</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17797: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17797</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperISkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperMotTerrengType">
    <annotation>
      <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10810</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_GLIPPERMOTTERRENG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGStøy_GlipperMotTerrengEnumerationType nvdb:TGStøy_GlipperMotTerrengOtherType"/>
  </simpleType>
  <simpleType name="TGStøy_GlipperMotTerrengEnumerationType">
    <annotation>
      <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10810</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_GLIPPERMOTTERRENG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17798: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17798</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17799: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17799</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17800: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17800</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17801: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17802: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17803: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17803</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGStøy_GlipperMotTerrengOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_Skjerm_Test" substitutionGroup="gml:AbstractFeature" type="nvdb:Tilstandsgrad_Skjerm_TestType">
    <annotation>
      <documentation>899: Angir tilstandsgrader for skjerm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">899</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSGRAD_SKJERM_TEST</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_Skjerm_TestType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="TGStøy_GlipperISkjerm" type="nvdb:TGStøy_GlipperISkjermType">
            <annotation>
              <documentation>10808: Tilstandsgrad Støy, glipper i skjerm. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10808</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_GLIPPERISKJERM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadStøy_GlipperISkjerm" type="string">
            <annotation>
              <documentation>10809: Merknad Støy, glipper i skjerm</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10809</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSTØY_GLIPPERISKJERM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGStøy_GlipperMotTerreng" type="nvdb:TGStøy_GlipperMotTerrengType">
            <annotation>
              <documentation>10810: Tilstandsgrad Støy, glipper mot terreng. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10810</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_GLIPPERMOTTERRENG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadStøy_GlipperMotTerreng" type="string">
            <annotation>
              <documentation>10811: Merknad Støy, glipper mot terreng</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10811</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSTØY_GLIPPERMOTTERRENG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGStøy_AbsorberendeElementer" type="nvdb:TGStøy_AbsorberendeElementerType">
            <annotation>
              <documentation>10812: Tilstandsgrad Støy, absorberende elementer. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10812</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSTØY_ABSORBERENDEELEMENTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadStøy_AbsorberendeElementer" type="string">
            <annotation>
              <documentation>10813: Merknad Støy, absorberende elementer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10813</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSTØY_ABSORBERENDEELEMENTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_Skjevstilling" type="nvdb:TGKonstruksjon_SkjevstillingType">
            <annotation>
              <documentation>10814: Tilstandsgrad Konstruksjon, Skjevstilling. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10814</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_SKJEVSTILLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjon_Skjevstilling" type="string">
            <annotation>
              <documentation>10815: Merknad Konstruksjon, Skjevstilling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10815</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKONSTRUKSJON_SKJEVSTILLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_KnutepunkterSøyler" type="nvdb:TGKonstruksjon_KnutepunkterSøylerType">
            <annotation>
              <documentation>10816: Tilstandsgrad Konstruksjon, Knutepunkter/søyler. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10816</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_KNUTEPUNKTERSØYLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjon_KnutepunkterSøyler" type="string">
            <annotation>
              <documentation>10817: Merknad Konstruksjon, Knutepunkter/søyler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10817</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKONSTRUKSJON_KNUTEPUNKTERSØYLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_Fundamenter" type="nvdb:TGKonstruksjon_FundamenterType">
            <annotation>
              <documentation>10818: Tilstandsgrad Konstruksjon, Fundamenter. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10818</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_FUNDAMENTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjoner_Fundamenter" type="string">
            <annotation>
              <documentation>10819: Merknad Konstruksjoner, Fundamenter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10819</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKONSTRUKSJONER_FUNDAMENTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKonstruksjon_Utvasking" type="nvdb:TGKonstruksjon_UtvaskingType">
            <annotation>
              <documentation>10820: Tilstandsgrad Konstruksjon, utvasking. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10820</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKONSTRUKSJON_UTVASKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKonstruksjon_Utvasking" type="string">
            <annotation>
              <documentation>10821: Merknad Konstruksjon, utvasking</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10821</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKONSTRUKSJON_UTVASKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGOverflate_TaggingHærverkEtc" type="nvdb:TGOverflate_TaggingHærverkEtcType">
            <annotation>
              <documentation>10822: Tilstandsgrad Overflate, Tagging/hærverk etc. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10822</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_TAGGINGHÆRVERKETC</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadOverflate_TaggingHærverkEtc" type="string">
            <annotation>
              <documentation>10823: Merknad Overflate, Tagging/hærverk etc</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10823</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADOVERFLATE_TAGGINGHÆRVERKETC</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGOverflate_RåteMoseSopp" type="nvdb:TGOverflate_RåteMoseSoppType">
            <annotation>
              <documentation>10824: Tilstandsgrad Overflate, Råte/mose/sopp. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10824</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_RÅTEMOSESOPP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadOverflate_RåteMoseSopp" type="string">
            <annotation>
              <documentation>10825: Merknad Overflate, Råte/mose/sopp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10825</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADOVERFLATE_RÅTEMOSESOPP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGOverflate_Vedlikehold" type="nvdb:TGOverflate_VedlikeholdType">
            <annotation>
              <documentation>10834: Tilstandsgrad Overflate, Vedlikehold. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=Tgmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10834</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGOVERFLATE_VEDLIKEHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadOverflate_Vedlikehold" type="string">
            <annotation>
              <documentation>10835: Merknad Overflate, Vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10835</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADOVERFLATE_VEDLIKEHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_Støy" type="nvdb:TGSamletVurdering_StøyType">
            <annotation>
              <documentation>10836: Tilstandsgrad for støy som helhet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10836</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_STØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering_Støy" type="string">
            <annotation>
              <documentation>10838: Merknad samlet vurdering, støy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10838</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSAMLETVURDERING_STØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_Konstruksjon" type="nvdb:TGSamletVurdering_KonstruksjonType">
            <annotation>
              <documentation>10837: Tilstandsgrad for konstruksjon som helhet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10837</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_KONSTRUKSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering_Konstruksjon" type="string">
            <annotation>
              <documentation>10839: Merknad samlet vurdering, konstruksjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10839</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSAMLETVURDERING_KONSTRUKSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering" type="nvdb:TGSamletVurderingType">
            <annotation>
              <documentation>10826: Tilstandsgrad for skjerm som helhet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10826</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10827: Merknad samlet vurdering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10827</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSAMLETVURDERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10828: Registreringsdato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10828</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10829: Signatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10829</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIGNATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10830: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10830</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_Skjerm_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Skjerm_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
