XSD/NVDB/912/912.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.13">
  <annotation>
    <documentation>912: Inndeling av vegnettet i forhold til hvilken funksjon vegen har eller er prioritert for. Foreløpig til testformål</documentation>
  </annotation>
  <include schemaLocation="Funksjonsklasse_Test.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FunksjonsklasseType">
    <annotation>
      <documentation>11216: Angir hvilken funksjonsklasse vegstrekning er definert som.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11216</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNKSJONSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FunksjonsklasseEnumerationType nvdb:FunksjonsklasseOtherType"/>
  </simpleType>
  <simpleType name="FunksjonsklasseEnumerationType">
    <annotation>
      <documentation>11216: Angir hvilken funksjonsklasse vegstrekning er definert som.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11216</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNKSJONSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A_NasjonaleHovedveger">
        <annotation>
          <documentation>18511: A - Nasjonale hovedveger: Nasjonale hovedveger.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18511</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B_RegionaleHovedveger">
        <annotation>
          <documentation>18512: B - Regionale hovedveger: Veger med regional funksjon, overordnet/ regional betydning. Sammen med funksjonsklasse A utgjør disse et overordnet transportnett.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18512</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C_LokaleHovedveger">
        <annotation>
          <documentation>18513: C - Lokale hovedveger: Veier med viktig lokal, men også en viss regional, funksjon hvor hovedfunksjonen er viktige forbindelsesveger mellom funksjonsklasse A og B og forbindelse til kommunesentra.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18513</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D_LokaleSamleveger">
        <annotation>
          <documentation>18514: D - Lokale samleveger: Veger som binder sammen bygder og grender eller gir hovedadkomst til bygd eller grend. Disse vegene har også en samlefunksjon for trafikk til eller fra veger i funksjonsklasse B og C.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18514</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E_LokaleAdkomstveger">
        <annotation>
          <documentation>18515: E - Lokale adkomstveger: Veger som kan være samleveier, men som mest domineres av adkomst til boliger og virksomheter langs disse veiene.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18515</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FunksjonsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Funksjonsklasse_Test" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Funksjonsklasse_TestType">
    <annotation>
      <documentation>912: Inndeling av vegnettet i forhold til hvilken funksjon vegen har eller er prioritert for. Foreløpig til testformål</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">912</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNKSJONSKLASSE_TEST</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Funksjonsklasse_TestType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="funksjonsklasse" type="nvdb:FunksjonsklasseType">
            <annotation>
              <documentation>11216: Angir hvilken funksjonsklasse vegstrekning er definert som.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11216</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNKSJONSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Funksjonsklasse_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Funksjonsklasse_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
