XSD/NVDB/707/707.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <include schemaLocation="Trafikkindeks.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOmrådeType">
    <annotation>
      <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOMRÅDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOmrådeEnumerationType nvdb:GeografiskOmrådeOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOmrådeEnumerationType">
    <annotation>
      <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOMRÅDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="heleLandet">
        <annotation>
          <documentation>9034: Hele landet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9034</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="østlandet">
        <annotation>
          <documentation>9035: Østlandet: Landsdel Østlandet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9035</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sørlandet">
        <annotation>
          <documentation>9036: Sørlandet: Landsdel Sørlandet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9036</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vestlandet">
        <annotation>
          <documentation>9037: Vestlandet: Landsdel Vestlandet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9037</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="midtnorge">
        <annotation>
          <documentation>9051: Midtnorge: Landsdel Midtnorge</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9051</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nord_Norge">
        <annotation>
          <documentation>9052: Nord-Norge: Landsdel Nord-Norge</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9052</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regionØst">
        <annotation>
          <documentation>9053: Region Øst: Statens vegvesen region Øst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9053</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regionSør">
        <annotation>
          <documentation>9054: Region Sør: Statens vegvesen region Sør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9054</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="østfold">
        <annotation>
          <documentation>9058: Østfold: Østfold Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9058</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="akershus">
        <annotation>
          <documentation>9059: Akershus: Akershus Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9059</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oslo">
        <annotation>
          <documentation>9060: Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9060</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hedmark">
        <annotation>
          <documentation>9061: Hedmark: Hedmark Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9061</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppland">
        <annotation>
          <documentation>9062: Oppland: Oppland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9062</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="buskerud">
        <annotation>
          <documentation>9063: Buskerud: Buskerud Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9063</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vestfold">
        <annotation>
          <documentation>9064: Vestfold: Vestfold Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9064</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="telemark">
        <annotation>
          <documentation>9065: Telemark: Telemark Fylke                             </documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9065</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="aust_Agder">
        <annotation>
          <documentation>9066: Aust-Agder: Aust-Agder Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9066</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vest_Agder">
        <annotation>
          <documentation>9067: Vest-Agder: Vest-Agder Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9067</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rogaland">
        <annotation>
          <documentation>9068: Rogaland: Rogaland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9068</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hordaland">
        <annotation>
          <documentation>9069: Hordaland: Hordaland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9069</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sognOgFjordane">
        <annotation>
          <documentation>9070: Sogn og Fjordane: Sogn og Fjordane Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9070</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="møreOgRomsdal">
        <annotation>
          <documentation>9071: Møre og Romsdal: Møre og Romsdal Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9071</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sør_Trøndelag">
        <annotation>
          <documentation>9072: Sør-Trøndelag: Sør-Trøndelag Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9072</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nord_Trøndelag">
        <annotation>
          <documentation>9073: Nord-Trøndelag: Nord-Trøndelag Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9073</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nordland">
        <annotation>
          <documentation>9074: Nordland: Nordland Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9074</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="troms">
        <annotation>
          <documentation>9075: Troms: Troms Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9075</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="finnmark">
        <annotation>
          <documentation>9076: Finnmark: Finnmark Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9076</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOmrådeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeType">
    <annotation>
      <documentation>6849: Angir kjøretøytype for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjøretøytypeEnumerationType nvdb:KjøretøytypeOtherType"/>
  </simpleType>
  <simpleType name="KjøretøytypeEnumerationType">
    <annotation>
      <documentation>6849: Angir kjøretøytype for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="alle">
        <annotation>
          <documentation>9042: Alle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9042</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="korte">
        <annotation>
          <documentation>9043: Korte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9043</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lange">
        <annotation>
          <documentation>9044: Lange</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9044</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TidsoppløsningType">
    <annotation>
      <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIDSOPPLØSNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TidsoppløsningEnumerationType nvdb:TidsoppløsningOtherType"/>
  </simpleType>
  <simpleType name="TidsoppløsningEnumerationType">
    <annotation>
      <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIDSOPPLØSNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="år">
        <annotation>
          <documentation>9038: År</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9038</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hittilIÅr">
        <annotation>
          <documentation>9040: Hittil i år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9040</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12SisteMåneder">
        <annotation>
          <documentation>9041: 12 siste måneder</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9041</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måned">
        <annotation>
          <documentation>9039: Måned</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9039</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TidsoppløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkindeks" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkindeksType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">707</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKINDEKS</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkindeksType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="indeksår" type="integer">
            <annotation>
              <documentation>6844: År indeksen gjelder for.  Indeksen regnes alltid mellom dette år og foregående år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6844</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INDEKSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geografiskOmråde" type="nvdb:GeografiskOmrådeType">
            <annotation>
              <documentation>6845: Angir hvilket område indeksen gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6845</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsoppløsning" type="nvdb:TidsoppløsningType">
            <annotation>
              <documentation>6847: Angir tidsoppløsning for indeksen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6847</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIDSOPPLØSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsperiode" type="integer">
            <annotation>
              <documentation>6848: Angir tidsperiode for indeksen.  F.eks årstall 2004, 2005, 1 for januar, 2 for februar, osv</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6848</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIDSPERIODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøytype" type="nvdb:KjøretøytypeType">
            <annotation>
              <documentation>6849: Angir kjøretøytype for indeksen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6849</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="indeksAlleDøgn" type="double">
            <annotation>
              <documentation>6850: Indeks hvor alle døgn er inkludert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6850</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INDEKSALLEDØGN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="indeksYrkesdøgn" type="double">
            <annotation>
              <documentation>6851: Indeks for yrkesdøgn, mandag - fredag</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6851</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INDEKSYRKESDØGN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="indeksHelgedøgn" type="double">
            <annotation>
              <documentation>6852: Indeks for helgedøgn, lørdag + søndag + "røde" dager</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6852</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INDEKSHELGEDØGN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>6863: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6863</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkindeksPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkindeks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
