XSD/OLFV/V330/14.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" version="2.03">
  <annotation>
    <documentation>14: en spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101 (231))</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Rekkverksende" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RekkverksendeType">
    <annotation>
      <documentation>Rekkverksende: en spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101 (231))</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RekkverksendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeRekkverksendeType">
            <annotation>
              <documentation>Type: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4722</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppsettingsår" type="integer">
            <annotation>
              <documentation>Oppsettingsår: Angir hvilket år vegobjektet ble satt opp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10346</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekkverksendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rekkverksende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StolpeavstandRekkverksendeType">
    <annotation>
      <documentation>Stolpeavstand: Angir stolpeavstand for rekkverksende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4660</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEAVSTANDREKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StolpeavstandRekkverksendeEnumerationType nvdb:StolpeavstandRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="StolpeavstandRekkverksendeEnumerationType">
    <annotation>
      <documentation>Stolpeavstand: Angir stolpeavstand for rekkverksende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4660</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEAVSTANDREKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5745</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1,33">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13716</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1,8">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13717</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5746</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2,3">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13719</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>5747: Brukes kun i forbindelse med wirerekkverk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5747</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5748</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StolpeavstandRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksendeType">
    <annotation>
      <documentation>Type: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRekkverksendeEnumerationType nvdb:TypeRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="TypeRekkverksendeEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sideforankring">
        <annotation>
          <documentation>5733: Rekkverket forankres i sideterreng, mur, tunnelportal ol i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5733</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i fjellskjæring">
        <annotation>
          <documentation>5723: Rekkverket forankres i fjellskjæring i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i jordskjæring">
        <annotation>
          <documentation>5724: Rekkverket forankres i jordskjæring i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i mur">
        <annotation>
          <documentation>5725: Rekkverket forankres i mur i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5725</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i naboelement">
        <annotation>
          <documentation>5727: Rekkverket forankres i naboelement i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5727</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ettergivende">
        <annotation>
          <documentation>5734: Ettergivende rekkverksende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedføring i bakken uten utsvinging">
        <annotation>
          <documentation>2458: Rekkverket er forankret ned i bakken, men er ikke avbøyd sideveis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2458</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedføring i bakken og utsvinget">
        <annotation>
          <documentation>2459: Rekkverket er forankret ned i bakken og avbøyd sideveis, men avsluttes innenfor vegens sikkerhetssone</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2459</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avslutning i full høyde uten utsvingning">
        <annotation>
          <documentation>5735: Rekkverket avsluttes i full høyde med avrundings/avslutningselement. Rekkverket er ikke  utsvingning sidevegs. Rekkverksende er ikke ettergivende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5735</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avslutning i full høyde og utsvinget">
        <annotation>
          <documentation>13721: Rekkverket avsluttes i full høyde med avrundings/avslutningselement og er avbøyd sidevegs, men avsluttes innenfor vegens sikkerhetssone. Rekkverksende er ikke ettergivende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13721</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverk avsluttet utenfor sikkerhetssonen">
        <annotation>
          <documentation>13720: Rekkverk avbøyes og avsluttes utenfor vegens sikkerhetssone (Håndokb 231, kap. 4.3.1, måte 5)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13720</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avslutning i støtpute">
        <annotation>
          <documentation>2460: Rekkverket avsluttes i støtpute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2460</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i tunnelportal">
        <annotation>
          <documentation>5726: Rekkverket forankres i tunnelportal i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5726</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
