XSD/OLFV/V330/226.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V203" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V203" version="2.03">
  <annotation>
    <documentation>226: Det øverste lag i vegfundamentet.  Deles ofte i nedre og øvre (1).</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">226</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BudsjettBærelagType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5144</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BUDSJETTBÆRELAG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BudsjettBærelagEnumerationType nvdb:BudsjettBærelagOtherType"/>
  </simpleType>
  <simpleType name="BudsjettBærelagEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5144</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BUDSJETTBÆRELAG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Anlegg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6942</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vedlikehold">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6943</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BudsjettBærelagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bærelag" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BærelagType">
    <annotation>
      <documentation>Bærelag: Det øverste lag i vegfundamentet.  Deles ofte i nedre og øvre (1).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">226</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BÆRELAG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BærelagType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="tykkelse" type="integer">
            <annotation>
              <documentation>Tykkelse: Angir tykkelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1630</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYKKELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeBærelagType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1211</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lagtype" type="nvdb:LagtypeType">
            <annotation>
              <documentation>Lagtype: Angir om det er tale om øvre eller nedre bærelag</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8742</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LAGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="steinstørrelse" type="nvdb:SteinstørrelseType">
            <annotation>
              <documentation>Steinstørrelse: Angir steinstørrelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5531</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEINSTØRRELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="leggedato" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5142</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEGGEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4860</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BærelagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bærelag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LagtypeType">
    <annotation>
      <documentation>Lagtype: Angir om det er tale om øvre eller nedre bærelag</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8742</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LAGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LagtypeEnumerationType nvdb:LagtypeOtherType"/>
  </simpleType>
  <simpleType name="LagtypeEnumerationType">
    <annotation>
      <documentation>Lagtype: Angir om det er tale om øvre eller nedre bærelag</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8742</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LAGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Øvre bærelag">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11571</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedre bærelag">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11572</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LagtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelType">
    <annotation>
      <documentation>Modifisert bindemiddel: Angir om det er brukt modifisert bindemiddel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5533</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MODIFISERTBINDEMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ModifisertBindemiddelEnumerationType nvdb:ModifisertBindemiddelOtherType"/>
  </simpleType>
  <simpleType name="ModifisertBindemiddelEnumerationType">
    <annotation>
      <documentation>Modifisert bindemiddel: Angir om det er brukt modifisert bindemiddel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5533</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MODIFISERTBINDEMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7878</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7879</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ModifisertBindemiddelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SteinstørrelseType">
    <annotation>
      <documentation>Steinstørrelse: Angir steinstørrelse</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5531</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEINSTØRRELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SteinstørrelseEnumerationType nvdb:SteinstørrelseOtherType"/>
  </simpleType>
  <simpleType name="SteinstørrelseEnumerationType">
    <annotation>
      <documentation>Steinstørrelse: Angir steinstørrelse</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5531</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEINSTØRRELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="11">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7849</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="16">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7850</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7851</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7852</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7853</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="26">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7854</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7855</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7856</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7857</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7858</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7859</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7860</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7861</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SteinstørrelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBærelagType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1211</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEBÆRELAG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBærelagEnumerationType nvdb:TypeBærelagOtherType"/>
  </simpleType>
  <simpleType name="TypeBærelagEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1211</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEBÆRELAG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Mekanisk stabiliserte materialer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3660</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3661</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Velgraderte materialer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3662</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus, uten tilfredst. naturlig gradering">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3663</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus, u tf. naturlig gradering, fv knusing">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3686</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust stein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3664</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forkilt pukk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3665</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust grus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6960</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust fjell">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6961</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bitumenstabiliserte materialer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3666</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert grus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3667</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert pukk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3668</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Penetrert pukk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3669</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltert sand">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3670</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bitumesnstabilisert grus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3671</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Freste asfaltmaterialer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3672</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjenbrukte asfaltmaterialer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3673</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust asfalt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16134</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sementstabiliserte materialer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3674</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sementstabilisert pukk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3675</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sementstabilisert grus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3676</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skumgrus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfaltskumgrus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7862</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBærelagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
