XSD/OLFV/V330/24.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" version="2.03">
  <annotation>
    <documentation>24: Anordning for å henge opp skilt, teknisk utstyr etc over kjørefeltene</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">24</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeNVDB_SkiltportalType">
    <annotation>
      <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDENVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeNVDB_SkiltportalEnumerationType nvdb:BruksområdeNVDB_SkiltportalOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeNVDB_SkiltportalEnumerationType">
    <annotation>
      <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDENVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skilt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2504</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikklys">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2505</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilt og trafikklys">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2506</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeNVDB_SkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierNVDB_SkiltportalType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierNVDB_SkiltportalEnumerationType nvdb:EierNVDB_SkiltportalOtherType"/>
  </simpleType>
  <simpleType name="EierNVDB_SkiltportalEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10253</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10715</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10317</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierNVDB_SkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDB_Skiltportal" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_SkiltportalType">
    <annotation>
      <documentation>Skiltportal: Anordning for å henge opp skilt, teknisk utstyr etc over kjørefeltene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">24</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_SkiltportalType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrNVDB_SkiltportalType">
            <annotation>
              <documentation>Oppsettingsutstyr: Angir hvilken type oppsettingsutstyr som er benyttet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5762</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10359</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeNVDB_SkiltportalType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1106</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8916</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Skiltpunkt" type="nvdb:NVDB_SkiltpunktPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_SkiltportalPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_Skiltportal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OppsettingsutstyrNVDB_SkiltportalType">
    <annotation>
      <documentation>Oppsettingsutstyr: Angir hvilken type oppsettingsutstyr som er benyttet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5762</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYRNVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrNVDB_SkiltportalEnumerationType nvdb:OppsettingsutstyrNVDB_SkiltportalOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrNVDB_SkiltportalEnumerationType">
    <annotation>
      <documentation>Oppsettingsutstyr: Angir hvilken type oppsettingsutstyr som er benyttet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5762</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYRNVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Søyle">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8003</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8004</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrNVDB_SkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_SkiltportalType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1106</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNVDB_SkiltportalEnumerationType nvdb:TypeNVDB_SkiltportalOtherType"/>
  </simpleType>
  <simpleType name="TypeNVDB_SkiltportalEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1106</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Halvportal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2869</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helportal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2872</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Wirestrekk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2875</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_SkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNVDB_SkiltportalType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8050</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGNVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligNVDB_SkiltportalEnumerationType nvdb:VedlikeholdsansvarligNVDB_SkiltportalOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNVDB_SkiltportalEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8050</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGNVDB_SKILTPORTAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10444</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10522</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10600</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNVDB_SkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
