XSD/OLFV/V330/456.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" version="2.03">
  <annotation>
    <documentation>456: Apparatur i tilknytning til teknisk utstyr.  Apparatur står vanligvis i skap.  Inneholder f.eks PLS, modem, batteri/strøm, telefon med mer.  Benyttes f.eks i tilknytning til signalanlegg.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">456</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AbonnementstypeType">
    <annotation>
      <documentation>Abonnementstype: Angir hvilken type abonnement det er på telefonforbindelsen (uoff)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3508</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ABONNEMENTSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AbonnementstypeEnumerationType nvdb:AbonnementstypeOtherType"/>
  </simpleType>
  <simpleType name="AbonnementstypeEnumerationType">
    <annotation>
      <documentation>Abonnementstype: Angir hvilken type abonnement det er på telefonforbindelsen (uoff)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3508</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ABONNEMENTSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ISDN">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4759</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Basis">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4758</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4760</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AbonnementstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStyreapparatType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8021</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStyreapparatEnumerationType nvdb:EierStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="EierStyreapparatEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8021</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10287</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10748</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10415</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnergikildeType">
    <annotation>
      <documentation>Energikilde: Angir hvilken type energikilde som benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENERGIKILDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnergikildeEnumerationType nvdb:EnergikildeOtherType"/>
  </simpleType>
  <simpleType name="EnergikildeEnumerationType">
    <annotation>
      <documentation>Energikilde: Angir hvilken type energikilde som benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENERGIKILDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nettselskap">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4882</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4883</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri/solcellepanel">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4884</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri/vindgenerator">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4885</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnergikildeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KommunikasjonType">
    <annotation>
      <documentation>Kommunikasjon: Angir hvilken type kommunikasjon det er i tilknytning til stasjonen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3643</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNIKASJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KommunikasjonEnumerationType nvdb:KommunikasjonOtherType"/>
  </simpleType>
  <simpleType name="KommunikasjonEnumerationType">
    <annotation>
      <documentation>Kommunikasjon: Angir hvilken type kommunikasjon det er i tilknytning til stasjonen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3643</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNIKASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Modem/oppringt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4886</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mobiltelefon">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4887</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fast linje">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4888</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manuell &quot;tapping&quot; av data">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4889</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KommunikasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Styreapparat" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StyreapparatType">
    <annotation>
      <documentation>Styreapparat: Apparatur i tilknytning til teknisk utstyr.  Apparatur står vanligvis i skap.  Inneholder f.eks PLS, modem, batteri/strøm, telefon med mer.  Benyttes f.eks i tilknytning til signalanlegg.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">456</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StyreapparatType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeStyreapparatType">
            <annotation>
              <documentation>Type: Angir type styreapparat.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produksjonsår" type="string">
            <annotation>
              <documentation>Produksjonsår: Angir hvilket år utstyret ble produsert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8814</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKSJONSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="installeringsår" type="string">
            <annotation>
              <documentation>Installeringsår: Angir hvilket år utstyret ble installert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4066</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INSTALLERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>Produktnavn: Angir produktnavn/typebetegnelse, kan også ta med typenummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3793</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4974</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="energikilde" type="nvdb:EnergikildeType">
            <annotation>
              <documentation>Energikilde: Angir hvilken type energikilde som benyttes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENERGIKILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StyreapparatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Styreapparat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeIOStyreapparatType">
    <annotation>
      <documentation>Type I/O: Angir om det er digital eller analog tilkopling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4053</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEIOSTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeIOStyreapparatEnumerationType nvdb:TypeIOStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeIOStyreapparatEnumerationType">
    <annotation>
      <documentation>Type I/O: Angir om det er digital eller analog tilkopling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4053</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEIOSTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Analog">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5062</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digital">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5068</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeIOStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeStyreapparatType">
    <annotation>
      <documentation>Type: Angir type styreapparat.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStyreapparatEnumerationType nvdb:TypeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeStyreapparatEnumerationType">
    <annotation>
      <documentation>Type: Angir type styreapparat.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Signal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11675</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, C800V">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11676</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EC-1">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11677</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC">
        <annotation>
          <documentation>11678: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11678</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-2">
        <annotation>
          <documentation>11679: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11679</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-3">
        <annotation>
          <documentation>11680: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11680</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-2/3">
        <annotation>
          <documentation>11681: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11681</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC">
        <annotation>
          <documentation>11682: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11682</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC-4">
        <annotation>
          <documentation>11683: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11683</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC-2">
        <annotation>
          <documentation>11684: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11684</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC">
        <annotation>
          <documentation>11685: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11685</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2000">
        <annotation>
          <documentation>11686: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11686</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2008">
        <annotation>
          <documentation>11687: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11687</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2016">
        <annotation>
          <documentation>11688: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11688</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-400">
        <annotation>
          <documentation>11689: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11689</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA">
        <annotation>
          <documentation>11690: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11690</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-400">
        <annotation>
          <documentation>11691: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11691</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-4000">
        <annotation>
          <documentation>11692: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11692</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-042">
        <annotation>
          <documentation>11693: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11693</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-082">
        <annotation>
          <documentation>11694: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11694</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-162">
        <annotation>
          <documentation>11695: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11695</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-2">
        <annotation>
          <documentation>11696: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11696</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FR-80">
        <annotation>
          <documentation>11697: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11697</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-1">
        <annotation>
          <documentation>11698: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11698</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-2">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16164</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-2 Mini">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16165</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF">
        <annotation>
          <documentation>11699: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11699</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF-150">
        <annotation>
          <documentation>11700: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11700</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF-250">
        <annotation>
          <documentation>11701: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11701</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KL">
        <annotation>
          <documentation>11702: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11702</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KL-5000">
        <annotation>
          <documentation>11703: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11703</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KLT-5000">
        <annotation>
          <documentation>11704: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11704</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, LC">
        <annotation>
          <documentation>11705: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11705</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, LC/FCA">
        <annotation>
          <documentation>11706: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11706</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, MQ">
        <annotation>
          <documentation>11707: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11707</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, MR">
        <annotation>
          <documentation>11708: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11708</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, NH">
        <annotation>
          <documentation>11709: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11709</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, PLS">
        <annotation>
          <documentation>11710: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11710</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, POFYR">
        <annotation>
          <documentation>11711: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11711</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-5400">
        <annotation>
          <documentation>11712: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11712</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-5408">
        <annotation>
          <documentation>11713: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11713</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-8800">
        <annotation>
          <documentation>11714: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11714</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-9016">
        <annotation>
          <documentation>11715: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11715</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-9108">
        <annotation>
          <documentation>11716: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11716</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SE">
        <annotation>
          <documentation>11717: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11717</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStyreapparatType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8095</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStyreapparatEnumerationType nvdb:VedlikeholdsansvarligStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStyreapparatEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8095</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSTYREAPPARAT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10489</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10567</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10645</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
