XSD/OLFV/V330/519.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V203" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V203" version="2.03">
  <annotation>
    <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tversgående oppmerking.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">519</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DimensjonerendeForholdForSymbolhøyderType">
    <annotation>
      <documentation>Dimensjonerende forhold for symbolhøyder: Angir hva som ligger til grunn for størrelse for symbolene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10414</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMENSJONERENDEFORHOLDFORSYMBOLHØYDER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimensjonerendeForholdForSymbolhøyderEnumerationType nvdb:DimensjonerendeForholdForSymbolhøyderOtherType"/>
  </simpleType>
  <simpleType name="DimensjonerendeForholdForSymbolhøyderEnumerationType">
    <annotation>
      <documentation>Dimensjonerende forhold for symbolhøyder: Angir hva som ligger til grunn for størrelse for symbolene</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10414</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMENSJONERENDEFORHOLDFORSYMBOLHØYDER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fartsgrense tom. 60">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16786</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fartsgrense over 60">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16787</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelveg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16788</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimensjonerendeForholdForSymbolhøyderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerkingTversgåendeType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGOPPMERKINGTVERSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVegoppmerkingTversgåendeEnumerationType nvdb:TypeVegoppmerkingTversgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeVegoppmerkingTversgåendeEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGOPPMERKINGTVERSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fartsgrense (1054)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16781</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stopplinje (1020)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vikelinje (1022)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5167</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangfelt (1024)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5147</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelkryssing (1026.1)">
        <annotation>
          <documentation>5315: Kryssingsfelt beregnet for sykkeltrafikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5315</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelkryssing inntil gangfelt (1026.2)">
        <annotation>
          <documentation>16777: Kryssingsfelt beregnet for sykkeltrafikk som ligger inntil gangfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16777</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fartshump (1027)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11740</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringsfelt (1028)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5261</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rumlefelt">
        <annotation>
          <documentation>5165: Felt som er utformet slik at det ved kjøring over i stor fart framkommer en rumlende lyd (017) Vegreferanse angis for start rumlefelt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5165</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vikesymbol (1036)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5156</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangsymbol (1038.1)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5158</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelsymbol (1038.2)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5157</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringssymbol (1040)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5316</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Symbol for forflytningshemmede (1042)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skinnekjøretøy (1044)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, stopp (1050.1)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5162</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, buss (1050.2)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5163</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, vegvisning (1050.4)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5161</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, taxi">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5164</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, skole (1050.5)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, sambruksfelt (1052)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16780</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, minirundkjøring (1034)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.RH)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.RV)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5151</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.RHV)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5152</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.V)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5153</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.H)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5154</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.HV)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5155</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, feltskifte, (1034.V)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.R)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5149</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, feltskifte, (1034.H)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler">
        <annotation>
          <documentation>10240: Angir at det mangler informasjon om type.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10240</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerkingTversgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VegoppmerkingTversgående" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegoppmerkingTversgåendeType">
    <annotation>
      <documentation>Vegoppmerking,tversgående: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tversgående oppmerking.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">519</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGOPPMERKINGTVERSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegoppmerkingTversgåendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeVegoppmerkingTversgåendeType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>Bredde: Angir bredde av vegobjektet.  Bredde måles på tvers av symbol/tekst sin lengderetning.  Tverrsgående oppmerking som f.eks "gangfelt har lengderetning på tvers av vegen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4173</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>Lengde: Angir lengde av vegobjektet, måles i oppmerkingens lengderetning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4169</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tekstVegvisning" type="string">
            <annotation>
              <documentation>Tekst, vegvisning: Angir vegnummer eller stedsnavn som er tekster i vegbanen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4174</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEKSTVEGVISNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallViketrekanter" type="integer">
            <annotation>
              <documentation>Antall viketrekanter: Angir hvor mange viketrekanter det er.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4181</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLVIKETREKANTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRomlelinjer" type="integer">
            <annotation>
              <documentation>Antall romlelinjer: Angir hvor mange linjer som inngår i romlefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4185</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLROMLELINJER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallGangfeltstaver" type="integer">
            <annotation>
              <documentation>Antall gangfeltstaver: Angir hvor mange staver (striper) det er i et gangfelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4518</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLGANGFELTSTAVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5020</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegoppmerkingTversgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VegoppmerkingTversgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
