XSD/OLFV/V330/843.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V330" version="2.03">
  <annotation>
    <documentation>843: Lukka grøft med kabler og trekkerør</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">843</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GrunnforholdType">
    <annotation>
      <documentation>Grunnforhold: Angir hvilken type masse grøfta går gjennom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNFORHOLD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GrunnforholdEnumerationType nvdb:GrunnforholdOtherType"/>
  </simpleType>
  <simpleType name="GrunnforholdEnumerationType">
    <annotation>
      <documentation>Grunnforhold: Angir hvilken type masse grøfta går gjennom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNFORHOLD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løsmasse">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13794</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13795</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert løsmasse og berg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13796</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13797</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GrunnforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kabelgrøft" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KabelgrøftType">
    <annotation>
      <documentation>Kabelgrøft: Lukka grøft med kabler og trekkerør</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">843</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABELGRØFT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KabelgrøftType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="dybde" type="double">
            <annotation>
              <documentation>Dybde: Angir dybde av vegobjektet. Dybde måles ned til topp fundament</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9577</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10314</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabel" type="nvdb:KabelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="nvdb:TrekkerørKanalPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KabelgrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kabelgrøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
