XSD/NVDB/895/895.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>895: Punkt/strekning i vegnettet hvor det er økt risiko og sårbarhet for langvarige fremkommelighetsbrudd. Merknad: Skal ha minst 10 meters utstrekning</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">895</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="VegROSPunkt.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AnalysenivåType">
    <annotation>
      <documentation>Analysenivå: Angir hvilket analysenivå som er gjennomført</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10770</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANALYSENIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AnalysenivåEnumerationType nvdb:AnalysenivåOtherType"/>
  </simpleType>
  <simpleType name="AnalysenivåEnumerationType">
    <annotation>
      <documentation>Analysenivå: Angir hvilket analysenivå som er gjennomført</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10770</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANALYSENIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grov">
        <annotation>
          <documentation>17448: Grov: Analysegruppens vurdering etter retningslinjer for VegROS. Tilsvarende grovanalyse i VegCIM ROS</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17448</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forenklet">
        <annotation>
          <documentation>17449: Forenklet: Fagmiljøer eller andre miljøers mer omfattende analyse, tilsvarende forenklet analyse i VegCIM ROS</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17449</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="detaljert">
        <annotation>
          <documentation>17450: Detaljert: Fagmiljøer eller andre miljøers mer omfattende og detaljerte analyse, tilsvarende detaljerte analyse i VegCIM ROS</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17450</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AnalysenivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HendelsestypeType">
    <annotation>
      <documentation>Hendelsestype: Angir hvilken type hendelse det er økt risiko for at skal inntreffe på gitt vegstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HENDELSESTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HendelsestypeEnumerationType nvdb:HendelsestypeOtherType"/>
  </simpleType>
  <simpleType name="HendelsestypeEnumerationType">
    <annotation>
      <documentation>Hendelsestype: Angir hvilken type hendelse det er økt risiko for at skal inntreffe på gitt vegstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HENDELSESTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bilbergingVogntog">
        <annotation>
          <documentation>17410: Bilberging (Vogntog): Punkt eller strekning som erfaringsvis har økt sannsynlighet for stengt veg pga fastkjørt vogntog, for eksempel i bratte stigninger vinterstid</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17410</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brannIObjekterPåNærVegen">
        <annotation>
          <documentation>17411: Brann (i objekter på/nær vegen): Punkt eller strekning der riksvegen ligger nært opp til objekter som kan forårsake storbrann som fører til stengt veg. For eksempel prosessindustri. Alle bensinstasjoner skal ikke kartlegges, men om det f.eks ligger en bensinstasjon midt i et sentralt knutepunkt så kan bør den være med</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17411</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bruStengt">
        <annotation>
          <documentation>17412: Bru stengt: Brufundamenter som er utsatt for høy vannføring, vindutsatt bru. Bru som er spesielt sårbar pga konstruksjon, slitasje eller annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17412</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dreneringssvikt">
        <annotation>
          <documentation>17413: Dreneringssvikt: Punkt eller strekning med skadde og/eller underdimensjonerte stikkrenner eller lukket drenering langs veg som erfaringsvis forårsaker overvann/flom ved store nedbørsmengder.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17413</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dambrudd">
        <annotation>
          <documentation>17414: Dambrudd: Punkt eller strekning nær dammer som ved dambrudd fører til stengt veg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17414</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="farligGodsUlykke">
        <annotation>
          <documentation>17415: Farlig gods ulykke: Strekning med høy risiko for ulykker med farlig gods, for eksempel i tilknytning til raffineri/industri</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17415</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fergeFergekaiUteAvDrift">
        <annotation>
          <documentation>17416: Ferge/fergekai ute av drift: Kai som ligger til slik at den er ekstra sårbar ved vind, flo etc 
Kai med sårbart teknisk utstyr
Vind/bølgeutsatt fergestrekning som er spesielt sårbar for stengning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17416</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flom">
        <annotation>
          <documentation>17417: Flom: Punkt eller strekning langs vassdrag som erfaringsvis er utsatt for flom ved store nedbørsmengder og/eller snøsmelting, eller ved oppstuing i sidebekker på grunn av høy vannstand i nærliggende vassdrag.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17417</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fundamenteringssvikt">
        <annotation>
          <documentation>17418: Fundamenteringssvikt: Punkt eller strekning med økt sannsynlighet for brudd i vegfundamenteringen. For eksempel ved utvasking etter store nedbørsmengder, eller erfaringsvis andre svake punkter på vegnettet etter slitasje fra økt tungtrafikk eller som følge av dårlig grunnforhold eller vegoverbygning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17418</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høydeLengdeBreddeVekt">
        <annotation>
          <documentation>17419: Høyde - lengde - bredde - vekt: Veger med begrenset bruksområde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17419</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="knutepunktStengt">
        <annotation>
          <documentation>17420: Knutepunkt - stengt: Knutepunkt stengtPunkt eller strekning der sentrale transportårer og infrastruktur ligger nært hverandre, som riksveg, jernbane, kraftverk og sentrale samfunnsfunksjoner som sykehus, eller lignende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17420</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredKvikkleire">
        <annotation>
          <documentation>17421: Skred kvikkleire</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17421</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredJord">
        <annotation>
          <documentation>17422: Skred jord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17422</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredLeire">
        <annotation>
          <documentation>17423: Skred leire</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17423</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredSnø">
        <annotation>
          <documentation>17424: Skred snø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17424</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredStein">
        <annotation>
          <documentation>17425: Skred stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17425</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stormflo">
        <annotation>
          <documentation>17426: Stormflo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17426</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="strømbrudd">
        <annotation>
          <documentation>17427: Strømbrudd: I tilknytning til tunneler eller for eksempel mekaniske skilt og bommer ved fjelloverganger, eller lignende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17427</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tunnelStengt">
        <annotation>
          <documentation>17429: Tunnel stengt: Alle tuneller over 500 meter skal defineres som en hendelse og vurderes som følger:

Grønn: Tunneler under 500 m og uten særskilt risiko. To-løps tunneler over 500 m som tilfredsstiller tunnelsikkerhetsforskriften og er uten særskilt risiko. Må ha under 5% stigning i tunnel og lite stigning i nærliggende omgivelser. 

Gul: Ett-løps tunneler som tilfredsstiller tunnelsikkerhetsforskriften, uten særskilt risiko. To-løps tunneler over 500 m som tilfredsstiller tunnelsikkerhetsforskriften. Må ha under 5% stigning i tunnel og lite stigning i nærliggende omgivelser.
Rødt: Tunneler over 500 m som ikke tilfredsstiller tunnelsikkerhetsforskriften. Tunneler som av andre grunner har risiko og sårbarhet for langvarige stengning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17429</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ulykkespunktStrekningTs">
        <annotation>
          <documentation>17430: Ulykkespunkt/-strekning (ts): Punkt eller strekning med økt risiko for ulykker som kan gi hyppige eller langvarige stengninger.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17430</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utglidning">
        <annotation>
          <documentation>17431: Utglidning: Punkt eller strekning med økt sannsynlighet for utglidning, forårsaket av for eksempel for bratte skråninger, høyt vanninnhold, for dårlig innspenning eller ustabile eller telefarlige masser.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17431</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vind">
        <annotation>
          <documentation>17432: Vind: Punkt eller strekning med økt sannsynlighet for utglidning, forårsaket av for eksempel for bratte skråninger, høyt vanninnhold, for dårlig innspenning eller ustabile eller telefarlige masser.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17432</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="værrealterteHendelser">
        <annotation>
          <documentation>17433: Værrealterte hendelser: Annet værreletart enn vind/flom/flo som kan gi stenging</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17433</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HendelsestypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusFramkomelighetEtterNyeTiltakType">
    <annotation>
      <documentation>Status framkomelighet etter nye tiltak: Dette er risikobildet for framkommelighet etter gjennomføring av alle nye tiltak som analysegruppen kommer på, og allerede planlagte eller besluttede tiltak uten finansiering. Dette inkluderer tiltak i eksisterende vedtatte handlingsprogram.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10757</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMELIGHETETTERNYETILTAK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusFramkomelighetEtterNyeTiltakEnumerationType nvdb:StatusFramkomelighetEtterNyeTiltakOtherType"/>
  </simpleType>
  <simpleType name="StatusFramkomelighetEtterNyeTiltakEnumerationType">
    <annotation>
      <documentation>Status framkomelighet etter nye tiltak: Dette er risikobildet for framkommelighet etter gjennomføring av alle nye tiltak som analysegruppen kommer på, og allerede planlagte eller besluttede tiltak uten finansiering. Dette inkluderer tiltak i eksisterende vedtatte handlingsprogram.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10757</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMELIGHETETTERNYETILTAK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grønn">
        <annotation>
          <documentation>17407: Grønn: Åpen veg, men redusert fremkommelighet
Grønn farge innebærer at situasjonen er ok, tiltak kan vurderes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17407</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gul">
        <annotation>
          <documentation>17408: Gul: Stengt veg i kortere periode
Gul farge indikerer at tiltak bør vurderes.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rød">
        <annotation>
          <documentation>17409: Rød: Stengt veg over 24 t
Rød farge indikerer at tiltak skal vurderes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17409</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusFramkomelighetEtterNyeTiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusFramkommelighetType">
    <annotation>
      <documentation>Status framkommelighet: Dette er risikobildet for framkommelighet slik vegen er bygget og fremstår i dag.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10755</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMMELIGHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusFramkommelighetEnumerationType nvdb:StatusFramkommelighetOtherType"/>
  </simpleType>
  <simpleType name="StatusFramkommelighetEnumerationType">
    <annotation>
      <documentation>Status framkommelighet: Dette er risikobildet for framkommelighet slik vegen er bygget og fremstår i dag.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10755</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMMELIGHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grønn">
        <annotation>
          <documentation>17401: Grønn: Åpen veg, men redusert fremkommelighet
Grønn farge innebærer at situasjonen er ok, tiltak kan vurderes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17401</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gul">
        <annotation>
          <documentation>17402: Gul: Stengt veg i kortere periode
Gul farge indikerer at tiltak bør vurderes.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17402</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rød">
        <annotation>
          <documentation>17403: Rød: Stengt veg over 24 t
Rød farge indikerer at tiltak skal vurderes.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17403</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusFramkommelighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusFramkommelighetEtterBesluttedeTiltakType">
    <annotation>
      <documentation>Status framkommelighet etter besluttede tiltak: Dette er risikobildet for framkommelighet under forutsetning av at besluttede tiltak er gjennomført. Dvs tiltaket har fått bevilgning gjennom årlig budsjett, men er ikke gjennomført</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10756</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMMELIGHETETTERBESLUTTEDETILTAK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusFramkommelighetEtterBesluttedeTiltakEnumerationType nvdb:StatusFramkommelighetEtterBesluttedeTiltakOtherType"/>
  </simpleType>
  <simpleType name="StatusFramkommelighetEtterBesluttedeTiltakEnumerationType">
    <annotation>
      <documentation>Status framkommelighet etter besluttede tiltak: Dette er risikobildet for framkommelighet under forutsetning av at besluttede tiltak er gjennomført. Dvs tiltaket har fått bevilgning gjennom årlig budsjett, men er ikke gjennomført</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10756</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMMELIGHETETTERBESLUTTEDETILTAK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grønn">
        <annotation>
          <documentation>17404: Grønn: Åpen veg, men redusert fremkommelighet
Grønn farge innebærer at situasjonen er ok, tiltak kan vurderes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gul">
        <annotation>
          <documentation>17405: Gul: Stengt veg i kortere periode
Gul farge indikerer at tiltak bør vurderes.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17405</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rød">
        <annotation>
          <documentation>17406: Rød: Stengt veg over 24 t
Rød farge indikerer at tiltak skal vurderes.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusFramkommelighetEtterBesluttedeTiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VegROSPunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegROSPunktType">
    <annotation>
      <documentation>VegROS punkt: Punkt/strekning i vegnettet hvor det er økt risiko og sårbarhet for langvarige fremkommelighetsbrudd. Merknad: Skal ha minst 10 meters utstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">895</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGROSPUNKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegROSPunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="hendelsestype" type="nvdb:HendelsestypeType">
            <annotation>
              <documentation>Hendelsestype: Angir hvilken type hendelse det er økt risiko for at skal inntreffe på gitt vegstrekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10749</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HENDELSESTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sted" type="string">
            <annotation>
              <documentation>Sted: Det navnet Statens vegvesen ansatte bruker på stedet, ref. stedsregistret til SVV. Eksempel: Nes-Bjonevika</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10750</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STED</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>Beskrivelse: Kort begrunnelse på hvorfor analysegruppen har valgt å ha med hendelsen.  Eks. Bekk/elv som flommer over ved store nedbørsmengder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10751</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="statusFramkommelighet" type="nvdb:StatusFramkommelighetType">
            <annotation>
              <documentation>Status framkommelighet: Dette er risikobildet for framkommelighet slik vegen er bygget og fremstår i dag.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10755</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMMELIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="statusFramkommelighetEtterBesluttedeTiltak" type="nvdb:StatusFramkommelighetEtterBesluttedeTiltakType">
            <annotation>
              <documentation>Status framkommelighet etter besluttede tiltak: Dette er risikobildet for framkommelighet under forutsetning av at besluttede tiltak er gjennomført. Dvs tiltaket har fått bevilgning gjennom årlig budsjett, men er ikke gjennomført</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10756</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMMELIGHETETTERBESLUTTEDETILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="statusFramkomelighetEtterNyeTiltak" type="nvdb:StatusFramkomelighetEtterNyeTiltakType">
            <annotation>
              <documentation>Status framkomelighet etter nye tiltak: Dette er risikobildet for framkommelighet etter gjennomføring av alle nye tiltak som analysegruppen kommer på, og allerede planlagte eller besluttede tiltak uten finansiering. Dette inkluderer tiltak i eksisterende vedtatte handlingsprogram.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10757</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSFRAMKOMELIGHETETTERNYETILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årsak" type="string">
            <annotation>
              <documentation>Årsak: Beskrivelse av årsak(er) til hendelse. Eks: - Høy vannstand/flom i Sperillen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10758</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRSAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konsekvens" type="string">
            <annotation>
              <documentation>Konsekvens: Beskrivelse av konsekvensene av hendelse. Eksempel: Skredvolumet forventes så stort at det vil være et langvarig sikrings og opprydningsarbeid som vil gå over 24 t.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10759</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSEKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="besluttedeTiltak" type="string">
            <annotation>
              <documentation>Besluttede tiltak: Kort beskrivelse tiltaket og hva slags budsjett tiltaket er forankret i og interne referanser for tiltaket (eks prosjektnummer annen aktuell referanse, tilpasses Vegprosessen). Tiltaket har fått bevilgning gjennom årlig budsjett for gjennomføring.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10760</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESLUTTEDETILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="foreslåtteTiltak" type="string">
            <annotation>
              <documentation>Foreslåtte tiltak: Kort beskrivelse av forslag til tiltak fra analysegruppe eller fagmiljø. 
Planstatus, plannivå, eventuelt aktuelle interne referanser på tiltaket.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10761</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORESLÅTTETILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="analysenivå" type="nvdb:AnalysenivåType">
            <annotation>
              <documentation>Analysenivå: Angir hvilket analysenivå som er gjennomført</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10770</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANALYSENIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>Arkivnummer: Referanse til Mime</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10754</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARKIVNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="metadata" type="string">
            <annotation>
              <documentation>Metadata: Angir hvor det finnes metadata. URL eller filkatalog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10753</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_METADATA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Merknad. Benyttes bla i forbindelse med overføring av data.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10752</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegROSPunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VegROSPunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
