XSD/NVDB/914/914.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.11">
  <annotation>
    <documentation>914: Oversikt og status for TS-inspeksjoner</documentation>
  </annotation>
  <include schemaLocation="TS_Inspeksjon.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="InspeksjonstypeType">
    <annotation>
      <documentation>11229: Angir type TS-inspeksjon.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11229</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INSPEKSJONSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InspeksjonstypeEnumerationType nvdb:InspeksjonstypeOtherType"/>
  </simpleType>
  <simpleType name="InspeksjonstypeEnumerationType">
    <annotation>
      <documentation>11229: Angir type TS-inspeksjon.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11229</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INSPEKSJONSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="inspeksjonAvEksisterendeVeg">
        <annotation>
          <documentation>18521: Inspeksjon av eksisterende veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18521</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="inspeksjonAvGS_Veg">
        <annotation>
          <documentation>18522: Inspeksjon av GS-veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18522</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="inspeksjonAvSykkelrute">
        <annotation>
          <documentation>18523: Inspeksjon av sykkelrute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18523</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="inspeksjonFørÅpning">
        <annotation>
          <documentation>18524: Inspeksjon før åpning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18524</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="inspeksjonEtterÅpning">
        <annotation>
          <documentation>18525: Inspeksjon etter åpning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18525</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="temainspeksjon">
        <annotation>
          <documentation>18526: Temainspeksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18526</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InspeksjonstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TS_Inspeksjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TS_InspeksjonType">
    <annotation>
      <documentation>914: Oversikt og status for TS-inspeksjoner</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">914</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TS_INSPEKSJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TS_InspeksjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="strekningsnavn" type="string">
            <annotation>
              <documentation>11227: Navn på strekning / stedsbestemmelse. Angis med navn fra-til i metreringsretning. Som navn kan benyttes stedsnavn i NVDB, kryss navn eller andre stedsnavn. Navnet vil framgå av rapporten fra aktuell TS-inspeksjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11227</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STREKNINGSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportnavn" type="string">
            <annotation>
              <documentation>11228: Navn på rapporten som beskriver funnene fra TS-inspeksjonen. Kan være nyttig for å kunne gjenfinne den aktuelle rapporten.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11228</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inspeksjonstype" type="nvdb:InspeksjonstypeType">
            <annotation>
              <documentation>11229: Angir type TS-inspeksjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11229</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INSPEKSJONSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utførtDato" type="date">
            <annotation>
              <documentation>11230: Angir dato når inspeksjonen er gjennomført.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11230</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFØRTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportDato" type="date">
            <annotation>
              <documentation>11231: Angir dato når rapporten er levert bestiller</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11231</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bestiller" type="string">
            <annotation>
              <documentation>11232: Angir navn på enhet eller prosjekt som har bestilt inspeksjonen. 
For enhet angis fortrinnsvis navn som er registrert i adresseboka i Outlook (f.eks. Drift Oppland).
For prosjekt angis normalt navnet på prosjektet som har bestilt inspeksjonen (f.eks. Prosjekt E6 Biri-Otta). Prosjekt som bestiller vil i hovedsak være aktuelt for inspeksjon før og etter åpning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11232</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESTILLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="totaltAntallFunn" type="integer">
            <annotation>
              <documentation>11233: Angir antall funn som er registrert ved TS-inspeksjonen. Antallet vil framgå av TS-rapporten som er levert bestiller.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11233</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TOTALTANTALLFUNN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallFunnUtbedret" type="integer">
            <annotation>
              <documentation>11234: Angir antall funn av de som er kartlagt som er utbedret. Feltet vil kunne oppdateres over tid ettersom tiltak blir gjennomført.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11234</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLFUNNUTBEDRET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoForUtbedring" type="date">
            <annotation>
              <documentation>11235: Angir dato for gjennomføring av tiltak. I og med at tiltak gjennomføres over tid registreres dato for siste utbedring.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11235</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOFORUTBEDRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnad" type="integer">
            <annotation>
              <documentation>11236: Angir total beregnet kostnad for gjennomføring av alle kartlagte funn i den aktuelle TS-inspeksjonen
Enhet: KiloKroner</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11236</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOSTNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11237: Kan gi tilleggsinformasjon. F.eks. nærmere beskrivelse av hvilke tiltak som er gjennomført, planlagt tid for gjennomføring (budsjett), avhengigheter for gjennomføring (tiltak som krever regulering) o.s.v.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11237</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportreferanse" type="string">
            <annotation>
              <documentation>11239: Referanse til TS-rapport som er lagret på O:\Landsdekkende eller i Mime.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11239</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TS_InspeksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TS_Inspeksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
