XSD/OLFV/V430/14.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V430" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V430" version="2.13">
  <annotation>
    <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101)</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ProduktnavnTypegodkjenningType">
    <annotation>
      <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.  Aktuelt for ettergivende rekkverksender</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNTYPEGODKJENNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningEnumerationType nvdb:ProduktnavnTypegodkjenningOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningEnumerationType">
    <annotation>
      <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.  Aktuelt for ettergivende rekkverksender</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNTYPEGODKJENNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ABC_Terminal_P4">
        <annotation>
          <documentation>17319: ABC-Terminal - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512261&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17319</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ABC_Terminal_P3">
        <annotation>
          <documentation>17320: ABC-Terminal - P3: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512257&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17320</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ABC_Terminal_P4">
        <annotation>
          <documentation>17321: ABC-Terminal - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512254&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17321</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ESPEN_P4">
        <annotation>
          <documentation>17322: ESPEN - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511712&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17322</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="euroET_P4">
        <annotation>
          <documentation>17323: Euro ET - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511735&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17323</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MCG_TE_P4_P4">
        <annotation>
          <documentation>17324: MCG-TE-P4 - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=974999&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17324</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="primusP2">
        <annotation>
          <documentation>17325: Primus P2: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512362&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17325</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="safeEnd_P2">
        <annotation>
          <documentation>18507: SafeEnd - P2: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1414206&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18507</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="safeEnd_P4">
        <annotation>
          <documentation>17326: SafeEnd - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=694845&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17326</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="safeEnd80T_NO_Tunnel">
        <annotation>
          <documentation>18510: SafeEnd 80T-NO - Tunnel: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1975435&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18510</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMAT2">
        <annotation>
          <documentation>18508: SMA T2: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1093849&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18508</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMAT4">
        <annotation>
          <documentation>18509: SMA T4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1093697&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18509</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trendDS_P2">
        <annotation>
          <documentation>17327: Trend DS - P2: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512348&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17327</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trendDS_P4">
        <annotation>
          <documentation>17328: Trend DS - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512349&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17328</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trendSS_P2">
        <annotation>
          <documentation>17330: Trend SS - P2: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512327&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17330</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trendSS_P4">
        <annotation>
          <documentation>17329: Trend SS - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512330&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17329</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="XT_110_P4">
        <annotation>
          <documentation>17331: XT 110 - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512292&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17331</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="XTD_110_P4">
        <annotation>
          <documentation>17332: XTD 110 - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512295&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17332</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ZT1_P4">
        <annotation>
          <documentation>17333: ZT1 - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=627947&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ZT2_P4">
        <annotation>
          <documentation>17334: ZT2 - P4: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=576154&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17334</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rekkverksende" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RekkverksendeType">
    <annotation>
      <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RekkverksendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeRekkverksendeType">
            <annotation>
              <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningType">
            <annotation>
              <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.  Aktuelt for ettergivende rekkverksender</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNTYPEGODKJENNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppsettingsår" type="integer">
            <annotation>
              <documentation>10346: Angir hvilket år vegobjektet ble satt opp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10346</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4722: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4722</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekkverksendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rekkverksende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRekkverksendeType">
    <annotation>
      <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRekkverksendeEnumerationType nvdb:TypeRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="TypeRekkverksendeEnumerationType">
    <annotation>
      <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREKKVERKSENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="sideforankring">
        <annotation>
          <documentation>5733: Sideforankring: Rekkverket forankres i sideterreng, mur, tunnelportal ol i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5733</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringIFjellskjæring">
        <annotation>
          <documentation>5723: Sideforankring i fjellskjæring: Rekkverket forankres i fjellskjæring i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringIJordskjæring">
        <annotation>
          <documentation>5724: Sideforankring i jordskjæring: Rekkverket forankres i jordskjæring i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringIMur">
        <annotation>
          <documentation>5725: Sideforankring i mur: Rekkverket forankres i mur i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5725</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringINaboelement">
        <annotation>
          <documentation>5727: Sideforankring i naboelement: Rekkverket forankres i naboelement i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5727</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ettergivende">
        <annotation>
          <documentation>5734: Ettergivende: Rekkverksende er konstruert slik at den gir etter/klapper sammen ved påkjøring. Type/produkt kan angis under egenskapstype 10724</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedføringIBakkenUtenUtsvinging">
        <annotation>
          <documentation>2458: Nedføring i bakken uten utsvinging: Rekkverket er forankret ned i bakken, men er ikke avbøyd sideveis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2458</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedføringIBakkenOgUtsvinget">
        <annotation>
          <documentation>2459: Nedføring i bakken og utsvinget: Rekkverket er forankret ned i bakken og avbøyd sideveis, men avsluttes innenfor vegens sikkerhetssone</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2459</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="avslutningIFullHøydeUtenUtsvingning">
        <annotation>
          <documentation>5735: Avslutning i full høyde uten utsvingning: Rekkverket avsluttes i full høyde med avrundings/avslutningselement. Rekkverket er ikke  utsvingning sidevegs. Rekkverksende er ikke ettergivende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5735</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="avslutningIFullHøydeOgUtsvinget">
        <annotation>
          <documentation>13721: Avslutning i full høyde og utsvinget: Rekkverket avsluttes i full høyde med avrundings/avslutningselement og er avbøyd sidevegs, men avsluttes innenfor vegens sikkerhetssone. Rekkverksende er ikke ettergivende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13721</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rekkverkAvsluttetUtenforSikkerhetssonen">
        <annotation>
          <documentation>13720: Rekkverk avsluttet utenfor sikkerhetssonen: Rekkverk avbøyes og avsluttes utenfor vegens sikkerhetssone (Håndokb 231, kap. 4.3.1, måte 5)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13720</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="avslutningIAnnetVegobjekt">
        <annotation>
          <documentation>2460: Avslutning i annet vegobjekt: Rekkverket avsluttes/forankres i annet vegobjekt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2460</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideforankringITunnelportal">
        <annotation>
          <documentation>5726: Sideforankring i tunnelportal: Rekkverket forankres i tunnelportal i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5726</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
