XSD/OLFV/V430/234.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V430" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V430" version="2.13">
  <annotation>
    <documentation>234: Opphøyd terrengformasjon f.eks. anlagt for å skjerme mot vegtrafikkstøy eller skredmasser. Kan være sammensatt av flere lag</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstVollType">
    <annotation>
      <documentation>9682: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9682</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTVOLL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstVollEnumerationType nvdb:AdkomstVollOtherType"/>
  </simpleType>
  <simpleType name="AdkomstVollEnumerationType">
    <annotation>
      <documentation>9682: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9682</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTVOLL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13955: Hjullaster: Adkomst for hjullaster</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13955</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13956: Gravemaskin: Adkomst for gravemaskin</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13956</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13957: Til fots: Adkomst til fots</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13958: Kran: Adkomst for kran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13958</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13959: Tau: Adkomt med tau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13959</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13960: Helikopter: Adkomst for helikopter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13960</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstVollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVollType">
    <annotation>
      <documentation>1286: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1286</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDEVOLL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeVollEnumerationType nvdb:BruksområdeVollOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeVollEnumerationType">
    <annotation>
      <documentation>1286: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1286</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDEVOLL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="støyskjerming">
        <annotation>
          <documentation>1996: Støyskjerming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1996</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredsikring_Ledevoll">
        <annotation>
          <documentation>13984: Skredsikring, ledevoll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13984</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredsikring_Fangvoll">
        <annotation>
          <documentation>13983: Skredsikring, fangvoll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13983</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flomsikring">
        <annotation>
          <documentation>3805: Flomsikring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3805</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snøVindskjerming">
        <annotation>
          <documentation>1999: Snø/vindskjerming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1999</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVollType">
    <annotation>
      <documentation>1422: Angir primær materialtype for vegobjektet. For skredsikringsvoller skal det angis materiale på støtside.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPEVOLL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeVollEnumerationType nvdb:MaterialtypeVollOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeVollEnumerationType">
    <annotation>
      <documentation>1422: Angir primær materialtype for vegobjektet. For skredsikringsvoller skal det angis materiale på støtside.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1422</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPEVOLL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="jord">
        <annotation>
          <documentation>4671: Jord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4671</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>4672: Stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4672</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>4673: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4673</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tørrmur">
        <annotation>
          <documentation>15961: Tørrmur: Mur av stein e.l.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15961</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gabioner">
        <annotation>
          <documentation>15962: Gabioner: Steinfylte nettingkister som kan stables inntil- og oppå hverandre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15962</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Voll" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VollType">
    <annotation>
      <documentation>234: Opphøyd terrengformasjon f.eks. anlagt for å skjerme mot vegtrafikkstøy eller skredmasser. Kan være sammensatt av flere lag</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">234</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VOLL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VollType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeVollType">
            <annotation>
              <documentation>1286: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1286</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeVollType">
            <annotation>
              <documentation>1422: Angir primær materialtype for vegobjektet. For skredsikringsvoller skal det angis materiale på støtside.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1422</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="integer">
            <annotation>
              <documentation>4558: Lengde fra ende til ende av vollfoten
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4558</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="breddeFot" type="double">
            <annotation>
              <documentation>1930: Angir gjennomsnittlig bredde ved vollens fot
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1930</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEFOT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="breddeKrone" type="double">
            <annotation>
              <documentation>1935: Angir gjennomsnittlig bredde ved vollens krone (topp)
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1935</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEKRONE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Gjsn" type="double">
            <annotation>
              <documentation>1598: Angir gjennomsnittlig egenhøyde fra fot voll til topp krone av vollen. Høyde skal måles på støtside for skredsikringsvoller.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1598</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDE_GJSN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstVollType">
            <annotation>
              <documentation>9682: Beskriver hvordan man får adkomst til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9682</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>9683: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9683</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4864: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VollPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Voll"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
