XSD/OLFV/V430/5.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V430" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V430" version="2.13">
  <annotation>
    <documentation>5: En anordning som skal hindre at kjøretøy forlater vegen (Håndbok N101 (231))</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeRekkverkType">
    <annotation>
      <documentation>1248: Angir hva vegobjektet brukes til, hvilken funksjon det har, hva det skjermer mot.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1248</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDEREKKVERK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeRekkverkEnumerationType nvdb:BruksområdeRekkverkOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeRekkverkEnumerationType">
    <annotation>
      <documentation>1248: Angir hva vegobjektet brukes til, hvilken funksjon det har, hva det skjermer mot.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1248</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDEREKKVERK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="skråning">
        <annotation>
          <documentation>2393: Skråning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2393</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fjell">
        <annotation>
          <documentation>4045: Fjell: Rekkverk mot fjellskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4045</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vann">
        <annotation>
          <documentation>2396: Vann: Sikrer mot vann, sjø, elv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2396</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikk">
        <annotation>
          <documentation>2394: Trafikk: Rekkverk benyttet som sikring mot trafikk på veg/areal ved siden av vegen, f.eks skille mellom hovedveg og sideveg, i forbindelse med parkeringsområde eller andre trafikerte sideareal. Merk: For midtdelere, gang- og sykkelveg og jernbane skal det benyttes egne verdier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2394</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="midtdeler">
        <annotation>
          <documentation>11789: Midtdeler: Angis der rekkverket er del av et fysisk skille mot møtende trafikk. F.eks der det både er grøft, grasdekke og rekkverk mellom kjøreretningene</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11789</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="midtrekkverk">
        <annotation>
          <documentation>11788: Midtrekkverk: Angis der rekkverket er eneste skille mellom motgående trafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11788</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naboelement">
        <annotation>
          <documentation>2395: Naboelement: Rekkverk satt opp for beskytte mot trafikkfarlige element nær vegen, f.eks store trær, stolper, brupilarer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2395</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg">
        <annotation>
          <documentation>4044: Gang/sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4044</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideaktivitet">
        <annotation>
          <documentation>17369: Sideaktivitet: Rekkverk skjermer mot sideaktivitet nært inn mot vegen. Dette kan være næringsvirksomhet, privat/offentlig område, mm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17369</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jernbane">
        <annotation>
          <documentation>4591: Jernbane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4591</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukantStup">
        <annotation>
          <documentation>4667: Brukant/stup: Gjelder rekkverk som benyttes for å hindre utforkjøring ved brukant eller stup</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4667</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeRekkverkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MC_SkinneType">
    <annotation>
      <documentation>9591: Angir om det er festet ekstra skinne/hinder under hovedskinne for å hindre eventuelt skrensende motorsykler å treffe rekkverksstolper.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9591</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MC_SKINNE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MC_SkinneEnumerationType nvdb:MC_SkinneOtherType"/>
  </simpleType>
  <simpleType name="MC_SkinneEnumerationType">
    <annotation>
      <documentation>9591: Angir om det er festet ekstra skinne/hinder under hovedskinne for å hindre eventuelt skrensende motorsykler å treffe rekkverksstolper.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9591</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MC_SKINNE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13811: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13811</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13812: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13812</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MC_SkinneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringPåBruType">
    <annotation>
      <documentation>4665: Angir hvor på brua rekkverket er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4665</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGPÅBRU</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringPåBruEnumerationType nvdb:PlasseringPåBruOtherType"/>
  </simpleType>
  <simpleType name="PlasseringPåBruEnumerationType">
    <annotation>
      <documentation>4665: Angir hvor på brua rekkverket er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4665</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGPÅBRU</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ytterrekkverk">
        <annotation>
          <documentation>5728: Ytterrekkverk: Rekkverk på bru som er plassert langs bruas ytterkant (se figur 1.4 i Rekkverksnormal). Kilde: Rekkverksnormal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5728</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innerrekkverk">
        <annotation>
          <documentation>5729: Innerrekkverk: Rekkverk på bru som benyttes innenfor bruas ytterkanter med trafikk på en eller begge sider (se figur 1.4). Rekkverket kan f.eks. benyttes som:  rekkverk mellom kjørebaner, rekkverk mellom kjørebane og g/s veg eller som rekkverk mellom kjørebane og sikkerhetsrom for motorvegbruer.  Kilde: Rekkverksnormal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5729</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringPåBruOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rekkverk" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RekkverkType">
    <annotation>
      <documentation>5: En anordning som skal hindre at kjøretøy forlater vegen (Håndbok N101 (231))</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERK</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RekkverkType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="rekkverkstype" type="nvdb:RekkverkstypeType">
            <annotation>
              <documentation>1089: Angir hvilken type rekkverk det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1089</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERKSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bruksområde" type="nvdb:BruksområdeRekkverkType">
            <annotation>
              <documentation>1248: Angir hva vegobjektet brukes til, hvilken funksjon det har, hva det skjermer mot.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1248</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skinneutrustning" type="nvdb:SkinneutrustningType">
            <annotation>
              <documentation>1647: Angir skinneutrustning for rekkverket.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1647</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKINNEUTRUSTNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plasseringPåBru" type="nvdb:PlasseringPåBruType">
            <annotation>
              <documentation>4665: Angir hvor på brua rekkverket er plassert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4665</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGPÅBRU</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="MC_Skinne" type="nvdb:MC_SkinneType">
            <annotation>
              <documentation>9591: Angir om det er festet ekstra skinne/hinder under hovedskinne for å hindre eventuelt skrensende motorsykler å treffe rekkverksstolper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9591</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MC_SKINNE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stolpeavstand" type="nvdb:StolpeavstandType">
            <annotation>
              <documentation>1567: Angir normal avstand mellom stolper
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEAVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppsettingsår" type="integer">
            <annotation>
              <documentation>7558: Angir hvilket årstall Rekkverk er satt opp.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7558</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4714: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4714</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStøtpute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Støtpute</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRekkverksende" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rekkverksende</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekkverkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rekkverk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RekkverkstypeType">
    <annotation>
      <documentation>1089: Angir hvilken type rekkverk det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1089</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERKSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RekkverkstypeEnumerationType nvdb:RekkverkstypeOtherType"/>
  </simpleType>
  <simpleType name="RekkverkstypeEnumerationType">
    <annotation>
      <documentation>1089: Angir hvilken type rekkverk det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1089</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERKSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stålskinneMed_Trestolper">
        <annotation>
          <documentation>13747: Stålskinne m/trestolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13747</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålskinneMed_Stålstolpler">
        <annotation>
          <documentation>13746: Stålskinne m/stålstolpler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13746</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålskinneMed_SigmaStålstolper">
        <annotation>
          <documentation>13790: Stålskinne m/sigma stålstolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13790</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålskinneMed_Plaststolper">
        <annotation>
          <documentation>13745: Stålskinne m/plaststolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13745</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålskinneFestetPåMurVegg">
        <annotation>
          <documentation>13791: Stålskinne festet på mur/vegg: Rekkverksskinne er festet på mur, vegg, skjerm, etc og ikke på egen stolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13791</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Plasstøpt">
        <annotation>
          <documentation>3366: Betong, plasstøpt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3366</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Prefabrikkert">
        <annotation>
          <documentation>3367: Betong, prefabrikkert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3367</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_NewJersey">
        <annotation>
          <documentation>3368: Betong, New Jersey</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3368</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålrørMed_RundeStålstolper">
        <annotation>
          <documentation>13748: Stålrør m/runde stålstolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13748</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålrørMed_SigmaStålstolper">
        <annotation>
          <documentation>13749: Stålrør m/sigma stålstolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13749</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stålrørMed_Trestolper">
        <annotation>
          <documentation>13750: Stålrør m/trestolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13750</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="wirerekkverk">
        <annotation>
          <documentation>3371: Wirerekkverk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3371</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="treskinneMed_Trestolper">
        <annotation>
          <documentation>13752: Treskinne m/trestolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13752</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="treskinneMed_Stålstolper">
        <annotation>
          <documentation>13751: Treskinne m/stålstolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13751</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stabbesteiner">
        <annotation>
          <documentation>3370: Stabbesteiner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3370</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brurekkverk_StålMed_Føringsskinne">
        <annotation>
          <documentation>13743: Brurekkverk, stål m/føringsskinne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13743</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brurekkverk_StålUten_Føringsskinne">
        <annotation>
          <documentation>13744: Brurekkverk, stål u/føringsskinne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13744</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brurekkverk_Betong">
        <annotation>
          <documentation>3467: Brurekkverk, betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3467</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rekkverkForGåendeSyklende">
        <annotation>
          <documentation>17305: Rekkverk for gående/syklende: Rekkverk som er dimensjonert for gående og syklende. Kan f.eks være for å hindre  utforkjørsel med sykkel. Benyttes ikke på/ved veger med biltrafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17305</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RekkverkstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkinneutrustningType">
    <annotation>
      <documentation>1647: Angir skinneutrustning for rekkverket.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKINNEUTRUSTNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkinneutrustningEnumerationType nvdb:SkinneutrustningOtherType"/>
  </simpleType>
  <simpleType name="SkinneutrustningEnumerationType">
    <annotation>
      <documentation>1647: Angir skinneutrustning for rekkverket.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKINNEUTRUSTNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ensidig_Enkel_O_Ll">
        <annotation>
          <documentation>3725: Ensidig, enkel ( o-ll ): Ei skinne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3725</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ensidig_Dobbel_8Ll">
        <annotation>
          <documentation>3461: Ensidig, dobbel ( 8=ll ): To skinner over hverandre på samme side av stolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3461</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tosidig_Enkel_O_Ll_O">
        <annotation>
          <documentation>3734: Tosidig, enkel ( o-ll-o ): Ei skinne på hver side av stolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tosidig_Dobbel_8Ll8">
        <annotation>
          <documentation>3462: Tosidig, dobbel ( 8=ll=8 ): To skinner over hverandre på hver side av stolper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3462</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tosidig_DobbelEnkel_8LlO">
        <annotation>
          <documentation>3464: Tosidig, dobbel/enkel ( 8=ll=o ): To skinner over hverandre på side inn mot veg, ei på motsatt side.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3464</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tosidig_EnkelDobbel_O_Ll8">
        <annotation>
          <documentation>4076: Tosidig, enkel/dobbel ( o-ll=8 ): Ei skinne på side inn mot veg, to skinne under hverandre på motsatt side.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4076</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkinneutrustningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StolpeavstandType">
    <annotation>
      <documentation>1567: Angir normal avstand mellom stolper</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEAVSTAND</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StolpeavstandEnumerationType nvdb:StolpeavstandOtherType"/>
  </simpleType>
  <simpleType name="StolpeavstandEnumerationType">
    <annotation>
      <documentation>1567: Angir normal avstand mellom stolper</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEAVSTAND</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="4">
        <annotation>
          <documentation>3998: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3998</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3996: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3996</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>3995: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3995</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>3997: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3997</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1_33">
        <annotation>
          <documentation>13722: 1,33</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13722</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1_8">
        <annotation>
          <documentation>13723: 1,8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2_3">
        <annotation>
          <documentation>13724: 2,3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StolpeavstandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
