XSD/NVDB/525/525.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>525: Resulterende jevnhetsmåling for en 20-metersstrekning</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">525</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="JevnhetsmaalingAvledaPr20M.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="JevnhetsformålType">
    <annotation>
      <documentation>Jevnhetsformål: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4473</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:JevnhetsformålEnumerationType nvdb:JevnhetsformålOtherType"/>
  </simpleType>
  <simpleType name="JevnhetsformålEnumerationType">
    <annotation>
      <documentation>Jevnhetsformål: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4473</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="generelleMålinger">
        <annotation>
          <documentation>5205: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5205</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="referansemåling">
        <annotation>
          <documentation>5206: Referansemåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5206</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forsøksmålinger">
        <annotation>
          <documentation>5207: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5207</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="teleløsning">
        <annotation>
          <documentation>5784: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5784</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell1">
        <annotation>
          <documentation>10131: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10131</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell2">
        <annotation>
          <documentation>10132: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10132</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell3">
        <annotation>
          <documentation>10133: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10133</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieA">
        <annotation>
          <documentation>13044: Måleserie a</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13044</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieB">
        <annotation>
          <documentation>13045: Måleserie b</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13045</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieC">
        <annotation>
          <documentation>13046: Måleserie c</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13046</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="måleserieD">
        <annotation>
          <documentation>13047: Måleserie d</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13047</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JevnhetsformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="JevnhetsmålingAvledaPr20M" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:JevnhetsmålingAvledaPr20MType">
    <annotation>
      <documentation>Jevnhetsmåling (avleda pr 20 m): Resulterende jevnhetsmåling for en 20-metersstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">525</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="JevnhetsmålingAvledaPr20MType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="måledato" type="date">
            <annotation>
              <documentation>Måledato: Angir måledato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4471</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="jevnhetsformål" type="nvdb:JevnhetsformålType">
            <annotation>
              <documentation>Jevnhetsformål: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4473</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrsnummer" type="string">
            <annotation>
              <documentation>Utstyrsnummer: Angir hvilket utstyr som er benytta</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4476</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSTYRSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sporLaser" type="nvdb:SporLaserJevnhetsmålingAvledaPr20MType">
            <annotation>
              <documentation>Spor, laser: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4472</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORLASER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="iRIBeregningslengde" type="integer">
            <annotation>
              <documentation>IRI-Beregningslengde: Angir IRI-Beregningslengde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4475</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_IRIBEREGNINGSLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="iRIJevnhetsindeks" type="double">
            <annotation>
              <documentation>IRI-Jevnhetsindeks: Angir IRI-Jevnhetsindeks</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4474</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_IRIJEVNHETSINDEKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mPDMiddelverdi" type="integer">
            <annotation>
              <documentation>MPD, Middelverdi: Midlere profilhøyde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5907</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MPDMIDDELVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mPDStandardavvik" type="integer">
            <annotation>
              <documentation>MPD, Standardavvik: Midlere profilhøyde, standardavvik</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5908</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MPDSTANDARDAVVIK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hVMedian" type="integer">
            <annotation>
              <documentation>HV, Median: Helningsvinkel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5909</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HVMEDIAN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hVIQR" type="integer">
            <annotation>
              <documentation>HV, IQR: Helningsvinkel, IQR (Inter-quartile range)  Innenfor 25-75%</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5910</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HVIQR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rositaId" type="string">
            <annotation>
              <documentation>Rosita_id: Gir id for måledatafil/profil i Rosita</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8942</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROSITAID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5025</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="assosiertDekketilstandsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dekketilstandsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JevnhetsmålingAvledaPr20MPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:JevnhetsmålingAvledaPr20M"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SporLaserJevnhetsmålingAvledaPr20MType">
    <annotation>
      <documentation>Spor,laser: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4472</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORLASERJEVNHETSMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporLaserJevnhetsmålingAvledaPr20MEnumerationType nvdb:SporLaserJevnhetsmålingAvledaPr20MOtherType"/>
  </simpleType>
  <simpleType name="SporLaserJevnhetsmålingAvledaPr20MEnumerationType">
    <annotation>
      <documentation>Spor,laser: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4472</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORLASERJEVNHETSMÅLINGAVLEDAPR20M</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>5202: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5202</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>5203: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>5204: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporLaserJevnhetsmålingAvledaPr20MOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
