XSD/NVDB/65/581.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">581</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Bygning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerType">
    <annotation>
      <documentation>Alarm til VTS ved fjerning av brannslokker: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType nvdb:AlarmTilVTSVedFjerningAvBrannslokkerOtherType"/>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType">
    <annotation>
      <documentation>Alarm til VTS ved fjerning av brannslokker: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4926: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4926</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="neiFinnesIkkeSlikAlarm">
        <annotation>
          <documentation>4950: Nei, finnes ikke slik alarm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4950</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpType">
    <annotation>
      <documentation>Antall parallelle hovedløp: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i ho</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallParallelleHovedløpEnumerationType nvdb:AntallParallelleHovedløpOtherType"/>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpEnumerationType">
    <annotation>
      <documentation>Antall parallelle hovedløp: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i ho</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>5011: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5011</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5012: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5012</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>5013: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5013</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>5014: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5014</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSeksjonertType">
    <annotation>
      <documentation>Kabler seksjonert: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerSeksjonertEnumerationType nvdb:KablerSeksjonertOtherType"/>
  </simpleType>
  <simpleType name="KablerSeksjonertEnumerationType">
    <annotation>
      <documentation>Kabler seksjonert: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4922: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4922</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4923: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4923</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSeksjonertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikretVNedgravingType">
    <annotation>
      <documentation>Kabler sikret v nedgraving: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRETVNEDGRAVING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerSikretVNedgravingEnumerationType nvdb:KablerSikretVNedgravingOtherType"/>
  </simpleType>
  <simpleType name="KablerSikretVNedgravingEnumerationType">
    <annotation>
      <documentation>Kabler sikret v nedgraving: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRETVNEDGRAVING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4924: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4924</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4925: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4925</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikretVNedgravingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonsklasseType">
    <annotation>
      <documentation>Restriksjonsklasse: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonsklasseEnumerationType nvdb:RestriksjonsklasseOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonsklasseEnumerationType">
    <annotation>
      <documentation>Restriksjonsklasse: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="a">
        <annotation>
          <documentation>12167: a: Ingen restriksjoner på transport av farlig gods [hb021]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12167</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>12168: b: Restriksjoner på farlig gods som kan gi en stor eksplosjon [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>12169: c: Restriksjoner på farlig gods som kan gi en stor eksplosjon, eller stort utslipp av giftig gass [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>12170: d: Restriksjoner på farlig gods som kan gi en stor eksplosjon, eller stort utslipp av giftig gass
eller en stor brann [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="e">
        <annotation>
          <documentation>12171: e: Restriksjoner på farlig gods unntatt følgende stoffer, UN nr. 2919, 3291, 3331, 3373 [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSType">
    <annotation>
      <documentation>Service-/nødtelefoner til VTS: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ServiceNødtelefonerTilVTSEnumerationType nvdb:ServiceNødtelefonerTilVTSOtherType"/>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSEnumerationType">
    <annotation>
      <documentation>Service-/nødtelefoner til VTS: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5009: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5009</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="neiIngenServiceNødtelefoner">
        <annotation>
          <documentation>5010: Nei, Ingen service-/nødtelefoner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudType">
    <annotation>
      <documentation>Sykkelforbud: Angir om det er forbudt å sykle i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SykkelforbudEnumerationType nvdb:SykkelforbudOtherType"/>
  </simpleType>
  <simpleType name="SykkelforbudEnumerationType">
    <annotation>
      <documentation>Sykkelforbud: Angir om det er forbudt å sykle i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13434: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13434</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13435: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13435</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelType">
    <annotation>
      <documentation>Tunnel: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">581</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNEL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn på tunnel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5225</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelnummer" type="string">
            <annotation>
              <documentation>Tunnelnummer: Gir unikt nummer for tunnel/skredoverbygg, benyttes av Plania</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9306</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelklasseProsjektert" type="nvdb:TunnelklasseProsjektertType">
            <annotation>
              <documentation>Tunnelklasse, prosjektert: Angir hvilken tunnelklasse tunnelen ble prosjektert etter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSEPROSJEKTERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallParallelleHovedløp" type="nvdb:AntallParallelleHovedløpType">
            <annotation>
              <documentation>Antall parallelle hovedløp: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks når tunnel på en arm.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeSkiltet" type="integer">
            <annotation>
              <documentation>Lengde, skiltet: Angir tunnelens skilta lengde. Hvis det ikke finnes skilta lengde, kan det oppgis lengde etter samme kriterier som benyttes i forbindelse med skilta lengde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8945</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDESKILTET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sumLengdeAlleLøp" type="integer">
            <annotation>
              <documentation>Sum lengde alle løp: Angir total lengde av alle hovedløpene tilhørende tunnelsystemet.  Inkluderer ikke lengde av ramper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8150</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMLENGDEALLELØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sumLengdeRamper" type="integer">
            <annotation>
              <documentation>Sum lengde ramper: Angir total lengde av alle tunnelløp som tilhører rampe(r) tilhørende tunnelsystemet.  Inkluderer ikke lengde av hovedløpene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8151</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMLENGDERAMPER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="undersjøisk" type="nvdb:UndersjøiskType">
            <annotation>
              <documentation>Undersjøisk: Angir om tunnel er undersjøisk eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkelforbud" type="nvdb:SykkelforbudType">
            <annotation>
              <documentation>Sykkelforbud: Angir om det er forbudt å sykle i tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="serviceNødtelefonerTilVTS" type="nvdb:ServiceNødtelefonerTilVTSType">
            <annotation>
              <documentation>Service-/nødtelefoner til VTS: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alarmTilVTSVedFjerningAvBrannslokker" type="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerType">
            <annotation>
              <documentation>Alarm til VTS ved fjerning av brannslokker: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kablerSeksjonert" type="nvdb:KablerSeksjonertType">
            <annotation>
              <documentation>Kabler seksjonert: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kablerSikretVNedgraving" type="nvdb:KablerSikretVNedgravingType">
            <annotation>
              <documentation>Kabler sikret v nedgraving: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRETVNEDGRAVING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="særskiltBrannobjektFraTidspunkt" type="date">
            <annotation>
              <documentation>Særskilt brannobjekt fra tidspunkt: Angir vedtaksdato dersom tunellen er vedtatt som særskilt brannobjekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9507</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SÆRSKILTBRANNOBJEKTFRATIDSPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonsklasse" type="nvdb:RestriksjonsklasseType">
            <annotation>
              <documentation>Restriksjonsklasse: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadRestriksjonsklasse" type="string">
            <annotation>
              <documentation>Merknad restriksjonsklasse: Angir merknader knyttet til restriksjonsklasse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9506</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADRESTRIKSJONSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSyklende" type="string">
            <annotation>
              <documentation>Merknad syklende: Kan f.eks beskrive omkjøringsrute for sykkel/gangtrafikk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3913</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSYKLENDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutusId" type="string">
            <annotation>
              <documentation>Brutus_Id: Gir referanse til brudatabanken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9329</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUTUSID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>Åpningsår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10383</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6891</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelklasseProsjektertType">
    <annotation>
      <documentation>Tunnelklasse,prosjektert: Angir hvilken tunnelklasse tunnelen ble prosjektert etter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSEPROSJEKTERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelklasseProsjektertEnumerationType nvdb:TunnelklasseProsjektertOtherType"/>
  </simpleType>
  <simpleType name="TunnelklasseProsjektertEnumerationType">
    <annotation>
      <documentation>Tunnelklasse,prosjektert: Angir hvilken tunnelklasse tunnelen ble prosjektert etter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSEPROSJEKTERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="a">
        <annotation>
          <documentation>12172: A</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>12173: B</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>12174: C</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12174</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>12175: D</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12175</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="e">
        <annotation>
          <documentation>12176: E</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12176</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="f">
        <annotation>
          <documentation>12177: F</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12177</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelklasseProsjektertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskType">
    <annotation>
      <documentation>Undersjøisk: Angir om tunnel er undersjøisk eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UndersjøiskEnumerationType nvdb:UndersjøiskOtherType"/>
  </simpleType>
  <simpleType name="UndersjøiskEnumerationType">
    <annotation>
      <documentation>Undersjøisk: Angir om tunnel er undersjøisk eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13432: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13432</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13433: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13433</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
