XSD/OLFV/V203/98.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V203" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V203" version="2.03">
  <annotation>
    <documentation>98: Punkt langs veg hvor vegens metrering er angitt på fastmontert plate.  Finnes i 500-1000 meters mellomrom langs europa-, riks- og fylkesveger.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">98</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="NVDB_Referansestolpe" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_ReferansestolpeType">
    <annotation>
      <documentation>Referansestolpe: Punkt langs veg hvor vegens metrering er angitt på fastmontert plate.  Finnes i 500-1000 meters mellomrom langs europa-, riks- og fylkesveger.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">98</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REFERANSESTOLPE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_ReferansestolpeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="tekstPåPlate" type="string">
            <annotation>
              <documentation>Tekst på plate: Angir tekst som står på plate.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1907</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEKSTPÅPLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringNVDB_ReferansestolpeType">
            <annotation>
              <documentation>Plassering: Angir hva plate er plassert på</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8134</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="stolpefundamentering" type="nvdb:StolpefundamenteringType">
            <annotation>
              <documentation>Stolpefundamentering: Angir hvordan vegobjektet er fundamentert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1672</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEFUNDAMENTERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppsettingsår" type="integer">
            <annotation>
              <documentation>Oppsettingsår: Angir hvilket år vegobjektet ble satt opp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10344</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4797</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_ReferansestolpePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_Referansestolpe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PlasseringNVDB_ReferansestolpeType">
    <annotation>
      <documentation>Plassering: Angir hva plate er plassert på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8134</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGNVDB_REFERANSESTOLPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringNVDB_ReferansestolpeEnumerationType nvdb:PlasseringNVDB_ReferansestolpeOtherType"/>
  </simpleType>
  <simpleType name="PlasseringNVDB_ReferansestolpeEnumerationType">
    <annotation>
      <documentation>Plassering: Angir hva plate er plassert på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8134</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGNVDB_REFERANSESTOLPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Egen stolpe">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10687</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10688</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gjerde/støyskjerm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10689</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstolpe">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10690</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre skiltstolper">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10691</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bygning/konstruksjon">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10692</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringNVDB_ReferansestolpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StolpefundamenteringType">
    <annotation>
      <documentation>Stolpefundamentering: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1672</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEFUNDAMENTERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StolpefundamenteringEnumerationType nvdb:StolpefundamenteringOtherType"/>
  </simpleType>
  <simpleType name="StolpefundamenteringEnumerationType">
    <annotation>
      <documentation>Stolpefundamentering: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1672</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STOLPEFUNDAMENTERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Jordstikk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2426</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på fjell">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3265</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på jordfundament">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2436</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på fjellfundament">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2431</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StolpefundamenteringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
