XSD/NVDB/796/796.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>796: Objekttypen inneholder påvirkninger fra eksisterende veg på økologiske verdier.</documentation>
  </annotation>
  <include schemaLocation="PaavirkningOekologiskeVerdier.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Påvirkning_TypeType">
    <annotation>
      <documentation>8986: Type påvirkning fra liste med tillatte verdier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8986</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Påvirkning_TypeEnumerationType nvdb:Påvirkning_TypeOtherType"/>
  </simpleType>
  <simpleType name="Påvirkning_TypeEnumerationType">
    <annotation>
      <documentation>8986: Type påvirkning fra liste med tillatte verdier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8986</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="arealbeslag">
        <annotation>
          <documentation>11874: Arealbeslag: Ofte har vegene allerede redusert verdien av vegnære naturobjekter ved arealtap. Ofte vil arealtap føre til fragmentering og barriereeffekter, påvirkninger som allerede er dekket inn i punktene under. Naturverdier i det arealet som selve vegen beslaglegger er i denne sammenheng lik null, dersom ikke vegen ligger på bru.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11874</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fragmentering">
        <annotation>
          <documentation>11875: Fragmentering:  Oppsplitting av leveområder som en følge av vegen eller vegtrafikken vurderes som en sterk og alvorlig påvirkning. Som regel en følge av barriereeffekten. Sammen med ulike andre typer arealbruk er veger med på å øke oppslittingen av naturområder, og dermed også leveområder ulike dyrearter. Dette kan i neste omgang øke faren for at lokale bestander (metapopulasjoner) og (på sikt) arter dør ut.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11875</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="visuellForstyrrelse">
        <annotation>
          <documentation>11876: Visuell forstyrrelse: Her menes faunaen sin reaksjon på visuell kontakt med mennesker på gang- og sykkelveg og med kjøretøy på vegen. Generelt utgjør menneskelig ferdsel et vesentlig forstyrrelsesmoment for flere store grupper av fugl (eks. vannfugl). Slik forstyrrelse kan føre til at fuglene avbryter aktiviteter som kurtisering, beiting, ruging og ungepass allerede når forstyrrelseskilden er flere hundre meter unna, avhengig av art, tid på året, flokkstørrelse o.a. Det er kjent at alminnelige og tålesterke fuglearter godt kan ha fast tilhold (og ganske høye populasjoner) selv i urbane miljø, der graden av visuell forstyrrelse er høy. Mens andre arter, som f eks rovfugl og en del vann- og våtmarksfugl, er langt mer sårbare for visuelle forstyrrelser.
Hjortedyr har atferdsreaksjoner på menneskelig virksomhet som spenner fra svært liten eller moderat reaksjon til sterke reaksjoner med dertil lang frykt- og fluktavstand og betydelige energiutgifter. Villrein er spesielt lettskremt, og holder seg ofte flere kilometer fra trafikkerte veger og annen menneskelig aktivitet. Samleeffekter av tekniske inngrep, deriblant samferdsel, kan ha en betydelig negativ påvirkning på sårbare arter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11876</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="klimatiskeKanteffekter">
        <annotation>
          <documentation>11877: Klimatiske kanteffekter: Særlig i skog fører åpne vegtraséer til endret mikroklima i ei bred kantsone på sidene av vegen. Dette er negativt for det store antall skoglevende arter som krever høy og ofte stabil luftfuktighet. Den kritiske avstanden avhenger av topografi, skogtyper og størrelse på den åpne flaten. Generelt når de lokalklimatiske negative effektene ofte fra 50 til 140 meter innover skogen, jf. div. undersøkelser. Vegtrasé på fylling eller i terrengskjæring kan påvirke mikroklima. Viktig faktor i enkelte spesialområder, for eksempel i områder med trua lavarter. Styrken i det negative omfanget kommer an på topografiske forhold, avstand til veg og hva slags flora/fauna som finnes i området. Vurdering av påvirkning vil måtte bli skjønnsmessig da det ikke er utviklet gode metoder for dette.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11877</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="endredeGrunnvannsOgDreneringsforhold">
        <annotation>
          <documentation>11878: Endrede grunnvanns- og dreneringsforhold: Veginngrep kan medføre endrete dreneringsforhold og grunnvannsforhold. Gjelder bl.a. ved masseutskifting og veg i skjæring (særlig løsmasseskjæring). Dette kan påvirke naturmiljøet negativt ved at områder kan tørke ut eller blir for fuktige.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11878</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forurensningAvVannOgGrunn">
        <annotation>
          <documentation>11879: Forurensning av vann og grunn: Effekter av forurensning omfatter avrenning av forurenset overvann, oppvirvling av partikler og nedslamming av (nær)områdene ved vegen. Mange ulike stoffgrupper (tungmetaller, PAH-forbindelser m.fl.). "Vegstøv" omfatter både tunge partikler som faller ned i nærheten av vegen og finere partikler (som for eksempel binder toksiske PAH-forbindelser) som kan transporteres og deponeres lenger unna. Tilførsel av forurensning, f eks salt, fra vegen til resipienten påvirker vannkjemien, og kan være til skade i det biologiske systemet. Trafikkforurensning til terrestre og akvatiske system påvirker både jordsmonn og vegetasjon negativt. Forurensning er en viktig påvirkningstype, men data om dokumenterte skader er ofte mangelfulle eller helt fraværende. Eksempler på systemer som er særlig negativt påvirket er våtmarker, sumpskog, fiskeførende vassdrag og mindre ferskvann. Vanligvis opptrer vegetasjonsskader av forurenset eller salt avrenning fra vegen innenfor 10 ? 20 meter fra vegen, men i noen tilfeller er skader dokumentert opptil 100 meter fra vegen..</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11879</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="støy">
        <annotation>
          <documentation>11880: Støy: En viktig påvirkningstype i særlig fuglerike områder tett på vegen. En rekke studier viser redusert tetthet av fugler når støynivået overstiger 50 db. Spurvefugl har liten toleranse for høyere trafikkstøy enn 60 db, og arter som er knytta til våtmarker i hekketida unngår en sone på ca 50-100 meter fra den trafikkerte vegen. I tillegg til spurvefugler er også rovfugler (hekking) og en del vann- og våtmarksfugl vare for støy.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11880</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="luftforurensning">
        <annotation>
          <documentation>11881: Luftforurensning: I det vegnære arealet kan forverret luftkvalitet innvirke negativt på forurensningsømfintlige forekomster. Kan være relevant der det for eksempel finnes trua lavarter nær veien.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11881</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="påkjørsler_ØktDødelighet">
        <annotation>
          <documentation>11882: Påkjørsler (økt dødelighet): Særlig for fugl, amfibier og pattedyr medfører trafikkerte veger økt mortalitetsrate, som følge av kollisjoner. Dette gjelder både kollisjon med kjøretøyer og ved at fugl kolliderer med gjennomsiktige glasskjermer eller gjerder. Generelt er det uerfarne ungfugler/ungdyr, og arter med høy vekt i forhold til vingearealet og arter som har en adferd som bringer dem i nærkontakt med veien særlig utsatt. Påvirkningsfaktoren kan være særlig relevant der veg går i nærføring med viktige trekk- og rasteplasser for store våtmarksfugler. For amfibier er trafikkfaren spesielt stor under vår- og høsttrekket. For de fleste arter er ikke trafikkdøden alene årsak til redusert biologisk mangfold, men en tilleggsbelastning som kan føre til at bestander kan forsvinne lokalt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11882</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="introduksjonAvFremmedeArter">
        <annotation>
          <documentation>11883: Introduksjon av fremmede arter: De vegnære arealene (grøfter, voller etc.) utgjør en sammenhengende infrastruktur hvor aggressive, fremmede arter lett spres. Beplanting av ikke-stedegne arter. Innvandring av rovdyr til øyer via veg, bru eller tunnel.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11883</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="barriereForDyrsBevegelser">
        <annotation>
          <documentation>11885: Barriere for dyrs bevegelser: Veger, veganlegg, vegutstyr (f eks tette midtrekkverk) og vegtrafikk virker i forskjellig grad som barrierer på forskjellige arter. Barrierer kan redusere eller helt stanse dyrenes naturlige og nødvendige behov for bevegelse gjennom døgnet eller gjennom sesongene. For de fleste dyr utgjør veier med høy ÅDT (&gt; 10.000) en markant barriere.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11885</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="andreTyperPåvirkning">
        <annotation>
          <documentation>11884: Andre typer påvirkning: Samlesekk for påvirkning som ikke er fanget opp av andre punkter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11884</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Påvirkning_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Påvirkning_VektType">
    <annotation>
      <documentation>8987: Vekting av påvirkningsgrad ut fra liste med tillatte verdier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_VEKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Påvirkning_VektEnumerationType nvdb:Påvirkning_VektOtherType"/>
  </simpleType>
  <simpleType name="Påvirkning_VektEnumerationType">
    <annotation>
      <documentation>8987: Vekting av påvirkningsgrad ut fra liste med tillatte verdier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_VEKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="lav">
        <annotation>
          <documentation>11886: Lav</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11886</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="middels">
        <annotation>
          <documentation>11887: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11887</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høy">
        <annotation>
          <documentation>11888: Høy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11888</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Påvirkning_VektOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="PåvirkningØkologiskeVerdier" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:PåvirkningØkologiskeVerdierType">
    <annotation>
      <documentation>796: Objekttypen inneholder påvirkninger fra eksisterende veg på økologiske verdier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">796</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNINGØKOLOGISKEVERDIER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PåvirkningØkologiskeVerdierType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="påvirkning_Type" type="nvdb:Påvirkning_TypeType">
            <annotation>
              <documentation>8986: Type påvirkning fra liste med tillatte verdier</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8986</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="påvirkning_Vekt" type="nvdb:Påvirkning_VektType">
            <annotation>
              <documentation>8987: Vekting av påvirkningsgrad ut fra liste med tillatte verdier.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8987</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_VEKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="påvirkning_Beskrivelse" type="string">
            <annotation>
              <documentation>8988: Fritekstbeskrivelse av påvirkning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8988</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PÅVIRKNING_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konfliktID" type="string">
            <annotation>
              <documentation>8989: Unik ID for konflikten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8989</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONFLIKTID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PåvirkningØkologiskeVerdierPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PåvirkningØkologiskeVerdier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
