XSD/NVDB/517/517.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>517: Det kan her legges inn områder som har høy biologisk verdi.  Dette vil være nyttig å ta hensyn til ved skjøtsel av vegens sideområde.</documentation>
  </annotation>
  <include schemaLocation="ArtsrikVegkant.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ArtsrikVegkant" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:ArtsrikVegkantType">
    <annotation>
      <documentation>517: Det kan her legges inn områder som har høy biologisk verdi.  Dette vil være nyttig å ta hensyn til ved skjøtsel av vegens sideområde.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARTSRIKVEGKANT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ArtsrikVegkantType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="plantelivVerdi" type="gml:CodeType">
            <annotation>
              <documentation>4162: Angir hvor verdifullt planteliv det er i vegens sideområde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4162</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLANTELIVVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeVegkant" type="gml:CodeType">
            <annotation>
              <documentation>9989: Angir hvilken type vegkant objektet gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9989</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bakgrunn_Kort" type="string">
            <annotation>
              <documentation>4496: Vurdering/beskrivelse av forekomsten. Kun viktig informasjon som ikke finnes i andre felt. Beskriv dominerende arter, typiske arter, ev sjeldne eller rødlista arter. Ev status som naturtypelokalitet (og i tilfelle verdi A, B eller C) nevnes, hvis ikke kommenteres ikke NT-lokalitet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4496</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BAKGRUNN_KORT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lokalitet" type="string">
            <annotation>
              <documentation>10083: Stedsbeskrivelse som angir hvor forekomsten finnes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10083</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LOKALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesiellBeskrivelseMerknad" type="string">
            <annotation>
              <documentation>9994: Gir beskrivelse for skjøtsel, tidsrom for kantklipp, andre hensyn og ev. annen type skjøtsel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9994</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLBESKRIVELSEMERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sone" type="gml:CodeType">
            <annotation>
              <documentation>9990: Angir hvilken sone beskrivelsen gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9990</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SONE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>4149: Angir samlet areal
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4149</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="egenSkjøtselsplan" type="gml:CodeType">
            <annotation>
              <documentation>9993: Angir om det finnes en egen skjøtselsplan for strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9993</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EGENSKJØTSELSPLAN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonGrøftKantrensk" type="gml:CodeType">
            <annotation>
              <documentation>4163: Angir om det skal taes spesielle hensyn ved skjøtsel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4163</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONGRØFTKANTRENSK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøyteforbud" type="gml:CodeType">
            <annotation>
              <documentation>9991: Angir om det skal tas spesielle hensyn ved bruk av plantevernmidler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9991</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEFORBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="restriksjonKantklipp" type="gml:CodeType">
            <annotation>
              <documentation>9992: Angir hvordan klipp skal utføres for å ta hensyn til vegetasjonen. Tidsrom for klipp skrives i feltet "Spesiell beskrivelse/ merknad"</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9992</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONKANTKLIPP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5018: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5018</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8895: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8895</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArtsrikVegkantPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:ArtsrikVegkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
