XSD/NVDB/57/834.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>834: Angir tilstand og skade knyttet til en fjellskjæring</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">834</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Skjaering.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FareForNedfallType">
    <annotation>
      <documentation>Fare for nedfall: Angir om det er fare for fremtidig nedfall fra fjellskjæring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FAREFORNEDFALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FareForNedfallEnumerationType nvdb:FareForNedfallOtherType"/>
  </simpleType>
  <simpleType name="FareForNedfallEnumerationType">
    <annotation>
      <documentation>Fare for nedfall: Angir om det er fare for fremtidig nedfall fra fjellskjæring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FAREFORNEDFALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nei">
        <annotation>
          <documentation>13302: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13302</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja">
        <annotation>
          <documentation>13303: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13303</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jaInntil5Kbm">
        <annotation>
          <documentation>13304: Ja, inntil 5 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13304</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jaInntil10Kbm">
        <annotation>
          <documentation>13305: Ja, inntil 10 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13305</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jaMerEnn10Kbm">
        <annotation>
          <documentation>13306: Ja, mer enn 10 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13306</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FareForNedfallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ObservertNedfallType">
    <annotation>
      <documentation>Observert nedfall: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OBSERVERTNEDFALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ObservertNedfallEnumerationType nvdb:ObservertNedfallOtherType"/>
  </simpleType>
  <simpleType name="ObservertNedfallEnumerationType">
    <annotation>
      <documentation>Observert nedfall: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OBSERVERTNEDFALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nei">
        <annotation>
          <documentation>13291: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13291</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja01Kbm">
        <annotation>
          <documentation>13292: Ja, 0-1 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13292</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja15Kbm">
        <annotation>
          <documentation>13293: Ja, 1-5 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13293</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja5Kbm">
        <annotation>
          <documentation>13294: Ja, &gt; 5 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13294</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ObservertNedfallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeFjellskjæring" substitutionGroup="gml:AbstractFeature" type="nvdb:TilstandSkadeFjellskjæringType">
    <annotation>
      <documentation>Tilstand/skade,fjellskjæring: Angir tilstand og skade knyttet til en fjellskjæring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">834</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSKADEFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkadeFjellskjæringType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="observertNedfall" type="nvdb:ObservertNedfallType">
            <annotation>
              <documentation>Observert nedfall: Angir om det er observert nedfall fra skjæring, og indikasjon på omfang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9441</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OBSERVERTNEDFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fareForNedfall" type="nvdb:FareForNedfallType">
            <annotation>
              <documentation>Fare for nedfall: Angir om det er fare for fremtidig nedfall fra fjellskjæring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9445</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FAREFORNEDFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannISkjæring" type="nvdb:VannISkjæringType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNISKJÆRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9443</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkadeFjellskjæringType">
            <annotation>
              <documentation>Tilstand: Angir tilstand på gitt tidspunkt. EU-kategorier</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="nvdb:TiltakNårTilstandSkadeFjellskjæringType">
            <annotation>
              <documentation>Tiltak når: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKNÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>Dato kontrollert: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9463</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOKONTROLLERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrollertAv" type="string">
            <annotation>
              <documentation>Kontrollert av: Angir hvem som er ansvarlig for kontroll</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9464</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONTROLLERTAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9542</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeFjellskjæringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeFjellskjæring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkadeFjellskjæringType">
    <annotation>
      <documentation>Tilstand: Angir tilstand på gitt tidspunkt. EU-kategorier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDTILSTANDSKADEFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkadeFjellskjæringEnumerationType nvdb:TilstandTilstandSkadeFjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkadeFjellskjæringEnumerationType">
    <annotation>
      <documentation>Tilstand: Angir tilstand på gitt tidspunkt. EU-kategorier</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9444</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDTILSTANDSKADEFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0GodKvalitet">
        <annotation>
          <documentation>13298: 0-God kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13298</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1MiddelsKvalitet">
        <annotation>
          <documentation>13299: 1-Middels kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13299</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2DårligKvalitet">
        <annotation>
          <documentation>13300: 2-Dårlig kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13300</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3SværtDårligKvalitet">
        <annotation>
          <documentation>13301: 3-Svært dårlig kvalitet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13301</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkadeFjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkadeFjellskjæringType">
    <annotation>
      <documentation>Tiltak når: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKNÅRTILSTANDSKADEFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakNårTilstandSkadeFjellskjæringEnumerationType nvdb:TiltakNårTilstandSkadeFjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkadeFjellskjæringEnumerationType">
    <annotation>
      <documentation>Tiltak når: Angir tidsperiode fra skade er registrert til tiltaket bør være utført.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9465</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKNÅRTILSTANDSKADEFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="straks">
        <annotation>
          <documentation>13353: Straks</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13353</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="14Dager">
        <annotation>
          <documentation>13352: 14 dager</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13352</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3Mnd">
        <annotation>
          <documentation>13351: 3 mnd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1År">
        <annotation>
          <documentation>13350: 1 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12År">
        <annotation>
          <documentation>13349: 1-2 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13349</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2år">
        <annotation>
          <documentation>13348: &gt; 2år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13348</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="påSikt">
        <annotation>
          <documentation>13347: på sikt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakNårTilstandSkadeFjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannISkjæringType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNISKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannISkjæringEnumerationType nvdb:VannISkjæringOtherType"/>
  </simpleType>
  <simpleType name="VannISkjæringEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9442</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNISKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="rennendeVann">
        <annotation>
          <documentation>13295: Rennende vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13295</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fuktig">
        <annotation>
          <documentation>13296: Fuktig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13296</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tørt">
        <annotation>
          <documentation>13297: Tørt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13297</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannISkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
