XSD/NVDB/537/534.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>534: Region ihht Statens vegvesens nye regioninndeling</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">534</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Vegavdeling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemRegionType">
    <annotation>
      <documentation>Koordinatsystem: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEMREGION</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemRegionEnumerationType nvdb:KoordinatsystemRegionOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemRegionEnumerationType">
    <annotation>
      <documentation>Koordinatsystem: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEMREGION</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nGOAkseI">
        <annotation>
          <documentation>10835: NGO-akse I: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10835</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseII">
        <annotation>
          <documentation>10836: NGO-akse II: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10836</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseIII">
        <annotation>
          <documentation>10837: NGO-akse III: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10837</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseIV">
        <annotation>
          <documentation>10838: NGO-akse IV: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10838</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseV">
        <annotation>
          <documentation>10839: NGO-akse V: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10839</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseVI">
        <annotation>
          <documentation>10840: NGO-akse VI: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10840</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseVII">
        <annotation>
          <documentation>10841: NGO-akse VII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10841</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGOAkseVIII">
        <annotation>
          <documentation>10842: NGO-akse VIII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone31EUREF89">
        <annotation>
          <documentation>10843: UTM sone 31 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10843</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone32EUREF89">
        <annotation>
          <documentation>10844: UTM sone 32 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10844</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone33EUREF89">
        <annotation>
          <documentation>10845: UTM sone 33 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10845</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone34EUREF89">
        <annotation>
          <documentation>10846: UTM sone 34 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10846</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone35EUREF89">
        <annotation>
          <documentation>10847: UTM sone 35 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10847</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone36EUREF89">
        <annotation>
          <documentation>10848: UTM sone 36 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10848</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone31ED50">
        <annotation>
          <documentation>10849: UTM sone 31 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10849</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone32ED50">
        <annotation>
          <documentation>10850: UTM sone 32 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10850</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone33ED50">
        <annotation>
          <documentation>10851: UTM sone 33 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10851</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone34ED50">
        <annotation>
          <documentation>10852: UTM sone 34 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10852</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone35ED50">
        <annotation>
          <documentation>10853: UTM sone 35 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10853</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uTMSone36ED50">
        <annotation>
          <documentation>10854: UTM sone 36 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10854</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGO64AMøre">
        <annotation>
          <documentation>10855: NGO-64A, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10855</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nGO64BMøre">
        <annotation>
          <documentation>10856: NGO-64B, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10856</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemRegionOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Region" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RegionType">
    <annotation>
      <documentation>Region: Region ihht Statens vegvesens nye regioninndeling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">534</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGION</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RegionType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="regionsnummer" type="integer">
            <annotation>
              <documentation>Regionsnummer: Angir regionsnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4580</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGIONSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="regionsnavn" type="string">
            <annotation>
              <documentation>Regionsnavn: Angir regionsnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4581</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGIONSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemRegionType">
            <annotation>
              <documentation>Koordinatsystem: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8147</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5158</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4708</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegavdeling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegavdeling</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegionPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Region"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
