API/XSD/lenker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="objekter" type="objekterType"/>
  <xs:complexType name="kvalitetType">
    <xs:sequence>
      <xs:element type="xs:string" name="metode"/>
      <xs:element type="xs:string" name="nøyaktighet"/>
      <xs:element type="xs:string" name="høydenøyaktighet"/>
      <xs:element type="xs:string" name="toleranse"/>
      <xs:element type="xs:string" name="synlighet"/>
      <xs:element type="xs:string" name="datafangstdato"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lenkeType">
    <xs:sequence>
      <xs:element type="xs:string" name="href"/>
      <xs:element type="metadataType" name="metadata"/>
      <xs:element type="xs:string" name="veglenkeid"/>
      <xs:element type="xs:string" name="startposisjon"/>
      <xs:element type="xs:string" name="sluttposisjon"/>
      <xs:element type="xs:string" name="kortform"/>
      <xs:element type="xs:string" name="felt"/>
      <xs:element name="medium">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="T"/>
            <xs:enumeration value="L"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="konnekteringslenke"/>
      <xs:element type="xs:string" name="startnode"/>
      <xs:element type="xs:string" name="sluttnode"/>
      <xs:element type="geometriType" name="geometri"/>
      <xs:element type="xs:string" name="region"/>
      <xs:element type="xs:string" name="fylke"/>
      <xs:element type="xs:string" name="vegavdeling"/>
      <xs:element type="xs:string" name="kommune"/>
      <xs:element type="vegreferanseType" name="vegreferanse"/>
      <xs:element type="xs:string" name="strekningslengde"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objekterType">
    <xs:sequence>
      <xs:element type="lenkeType" name="lenke" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geometriType">
    <xs:sequence>
      <xs:element type="xs:string" name="wkt"/>
      <xs:element type="xs:string" name="srid"/>
      <xs:element type="kvalitetType" name="kvalitet"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="xs:string" name="startdato"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vegreferanseType">
    <xs:sequence>
      <xs:element type="xs:string" name="fylke"/>
      <xs:element type="xs:string" name="kommune"/>
      <xs:element type="xs:string" name="kategori"/>
      <xs:element type="xs:string" name="status"/>
      <xs:element type="xs:string" name="nummer"/>
      <xs:element type="xs:string" name="hp"/>
      <xs:element type="xs:string" name="fra_meter"/>
      <xs:element type="xs:string" name="til_meter"/>
      <xs:element type="xs:string" name="kortform"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>