XSD/NVDB/848/848.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>848: Skjerm som settes opp for å stoppe drivende snø</documentation>
  </annotation>
  <include schemaLocation="Snoeskjerm.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSnøskjermType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTSNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstSnøskjermEnumerationType nvdb:AdkomstSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSnøskjermEnumerationType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTSNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13841: Hjullaster: Adkomst for hjullaster</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13841</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13842: Gravemaskin: Adkomst for gravemaskin</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13842</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13843: Til fots: Adkomst til fots</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13843</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13844: Kran: Adkomst for kran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13844</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13845: Tau: Adkomt med tau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13845</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13846: Helikopter: Adkomst for helikopter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13846</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSnøskjermEnumerationType nvdb:BruksområdeSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermEnumerationType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="løsneområdeForSkred">
        <annotation>
          <documentation>13836: Løsneområde for skred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13836</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drivsnøPåVeg">
        <annotation>
          <documentation>13837: Drivsnø på veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13837</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEMATERIALE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ByggematerialeEnumerationType nvdb:ByggematerialeOtherType"/>
  </simpleType>
  <simpleType name="ByggematerialeEnumerationType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEMATERIALE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tre">
        <annotation>
          <documentation>13838: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13838</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>13839: Stål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13839</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>13840: Plast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13840</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSnøskjermType">
    <annotation>
      <documentation>9638: Angir hvem som er eier av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9638</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSnøskjermEnumerationType nvdb:EierSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="EierSnøskjermEnumerationType">
    <annotation>
      <documentation>9638: Angir hvem som er eier av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9638</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>13883: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13883</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>13884: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13884</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13885: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13885</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13886: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13886</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17662: Uavklart: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17662</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Snøskjerm" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SnøskjermType">
    <annotation>
      <documentation>848: Skjerm som settes opp for å stoppe drivende snø</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">848</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SnøskjermType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeSnøskjermType">
            <annotation>
              <documentation>9627: Angir bruksområde for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>9628: Angir total lengde av vegobjektet
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9628</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverTerreng" type="double">
            <annotation>
              <documentation>9629: Angir avstand fra terreng til topp skjerm
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9629</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEOVERTERRENG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bakkeklaring" type="double">
            <annotation>
              <documentation>9632: Angir avstand fra terreng opp til første horisontale bord
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9632</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BAKKEKLARING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomsnittligAvstandTilVeg" type="integer">
            <annotation>
              <documentation>9630: Gjennomsnittlig avstand fra vegkant til snøskjerm
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9630</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMSNITTLIGAVSTANDTILVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skjermtetthet" type="integer">
            <annotation>
              <documentation>9631: Angir dekningsgrad mellom nederste og øverste bord
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9631</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKJERMTETTHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggemateriale" type="nvdb:ByggematerialeType">
            <annotation>
              <documentation>9633: Angir hvilket materiale objektet er bygget av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEMATERIALE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9871: Kan angi tillegginformasjon om vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9871</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="FKB_ID" type="string">
            <annotation>
              <documentation>10856: Refererer til FKB-identitet. Benyttes i forbindelse med felles forvaltning av geometri.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10856</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FKB_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstSnøskjermType">
            <annotation>
              <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>9640: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9640</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSnøskjermType">
            <annotation>
              <documentation>9638: Angir hvem som er eier av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9638</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSnøskjermType">
            <annotation>
              <documentation>9639: Angir hvem som er ansvarlig for vedlikeholdet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9639</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9641: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9641</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøskjermPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Snøskjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligSnøskjermType">
    <annotation>
      <documentation>9639: Angir hvem som er ansvarlig for vedlikeholdet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9639</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSnøskjermEnumerationType nvdb:VedlikeholdsansvarligSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSnøskjermEnumerationType">
    <annotation>
      <documentation>9639: Angir hvem som er ansvarlig for vedlikeholdet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9639</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSNØSKJERM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>13887: Statens Vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13887</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>13888: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13888</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>13889: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13889</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17762: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17762</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
