XSD/NVDB/67/70.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
  </annotation>
  <include schemaLocation="Tunnelloep.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BrannfarligType">
    <annotation>
      <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3510</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNFARLIG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BrannfarligEnumerationType nvdb:BrannfarligOtherType"/>
  </simpleType>
  <simpleType name="BrannfarligEnumerationType">
    <annotation>
      <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3510</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNFARLIG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4706: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4706</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4707: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4707</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrannfarligOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HvelvisolasjonType">
    <annotation>
      <documentation>9331: Angir om hvelv er isolert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9331</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HVELVISOLASJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HvelvisolasjonEnumerationType nvdb:HvelvisolasjonOtherType"/>
  </simpleType>
  <simpleType name="HvelvisolasjonEnumerationType">
    <annotation>
      <documentation>9331: Angir om hvelv er isolert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9331</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HVELVISOLASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="isolert">
        <annotation>
          <documentation>13017: Isolert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13017</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uisolert">
        <annotation>
          <documentation>13018: Uisolert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13018</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HvelvisolasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarLettilslagType">
    <annotation>
      <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks cafco)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9170</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_HARLETTILSLAG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_HarLettilslagEnumerationType nvdb:Sprøytebetong_HarLettilslagOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_HarLettilslagEnumerationType">
    <annotation>
      <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks cafco)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9170</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_HARLETTILSLAG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>12262: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12262</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>12263: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12263</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarLettilslagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberType">
    <annotation>
      <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9169</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_HARMIKROFIBER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_HarMikrofiberEnumerationType nvdb:Sprøytebetong_HarMikrofiberOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberEnumerationType">
    <annotation>
      <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9169</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_HARMIKROFIBER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>12260: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12260</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>12261: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12261</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseType">
    <annotation>
      <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9171</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_TYKKELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_TykkelseEnumerationType nvdb:Sprøytebetong_TykkelseOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseEnumerationType">
    <annotation>
      <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9171</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_TYKKELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2Cm">
        <annotation>
          <documentation>12264: 2 cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12264</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6Cm">
        <annotation>
          <documentation>12265: 6 cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12265</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8Cm">
        <annotation>
          <documentation>12266: 8 cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12266</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringType">
    <annotation>
      <documentation>1132: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1132</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVANNOGFROSTSIKRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVannOgFrostsikringEnumerationType nvdb:TypeVannOgFrostsikringOtherType"/>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringEnumerationType">
    <annotation>
      <documentation>1132: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1132</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVANNOGFROSTSIKRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betongelementerIVeggerOgTak">
        <annotation>
          <documentation>3428: Betongelementer i vegger og tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3428</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_SprøytebetongPåPE_SkumITak">
        <annotation>
          <documentation>12270: Betongelementer i vegger, sprøytebetong på PE-skum i tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12270</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_SprøytebetongPåKnølmontertPE_SkumITak">
        <annotation>
          <documentation>12271: Betongelementer i vegger, sprøytebetong på knølmontert PE-skum i tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12271</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_StålkassetterITak">
        <annotation>
          <documentation>12272: Betongelementer i vegger, stålkassetter i tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12272</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongelementerIVegger_TunneldukITak">
        <annotation>
          <documentation>12273: Betongelementer i vegger, tunnelduk i tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12273</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lettbetongelementerIVeggerOgTak">
        <annotation>
          <documentation>12274: Lettbetongelementer i vegger og tak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12274</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Platehvelv_Aluminium">
        <annotation>
          <documentation>3426: Lette konstruksjoner, platehvelv, aluminium</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3426</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Platehvelv_Stål">
        <annotation>
          <documentation>3427: Lette konstruksjoner, platehvelv, stål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3427</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Kompositthvelv">
        <annotation>
          <documentation>12276: Lette konstruksjoner, kompositthvelv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12276</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="letteKonstruksjoner_Kassetthvelv">
        <annotation>
          <documentation>12277: Lette konstruksjoner, kassetthvelv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12277</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sprøytebetonghvelv_NettarmertPå_Mm_Ran">
        <annotation>
          <documentation>12279: Sprøytebetonghvelv, nettarmert på membran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12279</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sprøytebetonghvelv_NettarmertPåPE_Skum">
        <annotation>
          <documentation>12278: Sprøytebetonghvelv, nettarmert på PE-skum</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12278</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sprøytebetong_FiberarmertPåKnølmontertPE_Skum">
        <annotation>
          <documentation>12280: Sprøytebetong, fiberarmert på knølmontert PE-skum</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12280</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PE_Skum_Utildekket">
        <annotation>
          <documentation>12281: PE-skum, utildekket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12281</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tunnelduk">
        <annotation>
          <documentation>3425: Tunnelduk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3425</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="platetak_Metall">
        <annotation>
          <documentation>12282: Platetak, metall</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12282</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VannOgFrostsikring" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VannOgFrostsikringType">
    <annotation>
      <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">70</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNOGFROSTSIKRING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VannOgFrostsikringType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeVannOgFrostsikringType">
            <annotation>
              <documentation>1132: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1132</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>9307: Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9307</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomsnittligElementlengde" type="integer">
            <annotation>
              <documentation>3729: Angir normal lengde på elementene
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3729</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMSNITTLIGELEMENTLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallElement" type="integer">
            <annotation>
              <documentation>1644: Angir hvor mange enkeltelement en konstruksjon er satt sammen av
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1644</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLELEMENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse" type="integer">
            <annotation>
              <documentation>1619: Angir total tykkelse av hvelvkonstruksjon
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1619</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYKKELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hvelvisolasjon" type="nvdb:HvelvisolasjonType">
            <annotation>
              <documentation>9331: Angir om hvelv er isolert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9331</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HVELVISOLASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_HarMikrofiber" type="nvdb:Sprøytebetong_HarMikrofiberType">
            <annotation>
              <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9169</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_HARMIKROFIBER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_HarLettilslag" type="nvdb:Sprøytebetong_HarLettilslagType">
            <annotation>
              <documentation>9170: Angir om det er det er lettilslag i sprøytebetong (f.eks cafco)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9170</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_HARLETTILSLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_Tykkelse" type="nvdb:Sprøytebetong_TykkelseType">
            <annotation>
              <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9171</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPRØYTEBETONG_TYKKELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dokumentasjonBrannfarlighet" type="string">
            <annotation>
              <documentation>3515: Gir referanse til dokumentasjon om brannfarlighet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3515</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DOKUMENTASJONBRANNFARLIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brannfarlig" type="nvdb:BrannfarligType">
            <annotation>
              <documentation>3510: Angir om tunnelhvelv er brannfarlig eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3510</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNFARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>7543: Angir lengde av vann-/frostsikring
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7543</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10391: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10391</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9172: Kan angi tilleggsinformasjon til hvelv.  Kan være detaljinfo, historikk, etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9172</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11062: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11062</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4772: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4772</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannOgFrostsikringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VannOgFrostsikring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
