XSD/NVDB/880/880.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>880: En strekning på vegen som er særlig ulykkesbelastet. En strekning med egendefinert lengde som har som har et egendefinert antall ulykker med personskade innenfor et egendefinert tidsrom.</documentation>
  </annotation>
  <include schemaLocation="Ulykkesstrekning_Egendefinert.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Ulykkesstrekning_Egendefinert" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Ulykkesstrekning_EgendefinertType">
    <annotation>
      <documentation>880: En strekning på vegen som er særlig ulykkesbelastet. En strekning med egendefinert lengde som har som har et egendefinert antall ulykker med personskade innenfor et egendefinert tidsrom.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ULYKKESSTREKNING_EGENDEFINERT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Ulykkesstrekning_EgendefinertType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="fomUlykkesdato" type="date">
            <annotation>
              <documentation>10550: Beregningsgrunnlaget - fom. dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10550</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FOMULYKKESDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tomUlykkesdato" type="date">
            <annotation>
              <documentation>10551: Beregningsgrunnlaget - tom. dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10551</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TOMULYKKESDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kravTilAntallUlykker" type="integer">
            <annotation>
              <documentation>10552: Beregningsgrunnlaget – krav til antall ulykker. Egendefinert verdi
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10552</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRAVTILANTALLULYKKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeUlykkesstrekning" type="integer">
            <annotation>
              <documentation>10553: Lengde ulykkesstrekning.   Egendefinert verdi.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10553</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDEULYKKESSTREKNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallUlykker" type="integer">
            <annotation>
              <documentation>10556: Antall ulykker på strekningen
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10556</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLULYKKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepte" type="integer">
            <annotation>
              <documentation>10557: Antall drepte
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10557</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLDREPTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadde" type="integer">
            <annotation>
              <documentation>10558: Antall meget alvorlig skadde
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10558</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLMEGETALVORLIGSKADDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadde" type="integer">
            <annotation>
              <documentation>10559: Antall alvorlig skadde
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10559</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLALVORLIGSKADDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadde" type="integer">
            <annotation>
              <documentation>10560: Antall lettere skadde
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10560</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLETTERESKADDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkulykke" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkulykke</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Ulykkesstrekning_EgendefinertPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ulykkesstrekning_Egendefinert"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
