XSD/NVDB/562/562.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>562: Denne objekttypen benyttes ifbm testing av NVDB</documentation>
  </annotation>
  <include schemaLocation="Testobjekttype.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Fargeliste_TV_tekstType">
    <annotation>
      <documentation>8727: Test av liste med farger hvor det er predefinerte verdier for farge</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8727</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTE_TV_TEKST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Fargeliste_TV_tekstEnumerationType nvdb:Fargeliste_TV_tekstOtherType"/>
  </simpleType>
  <simpleType name="Fargeliste_TV_tekstEnumerationType">
    <annotation>
      <documentation>8727: Test av liste med farger hvor det er predefinerte verdier for farge</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8727</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTE_TV_TEKST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="gul">
        <annotation>
          <documentation>11551: Gul</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11551</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="blå">
        <annotation>
          <documentation>11552: Blå</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11552</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grå">
        <annotation>
          <documentation>11553: Grå</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11553</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rød">
        <annotation>
          <documentation>11554: Rød</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11554</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Fargeliste_TV_tekstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Fargelistenr_TV_tallType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8728</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTENR_TV_TALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Fargelistenr_TV_tallEnumerationType nvdb:Fargelistenr_TV_tallOtherType"/>
  </simpleType>
  <simpleType name="Fargelistenr_TV_tallEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8728</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTENR_TV_TALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>11813: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11813</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>11814: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11814</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Fargelistenr_TV_tallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Testobjekttype" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TestobjekttypeType">
    <annotation>
      <documentation>562: Denne objekttypen benyttes ifbm testing av NVDB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">562</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTOBJEKTTYPE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TestobjekttypeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="test_binær">
            <annotation>
              <documentation>4702: Angir binær data (for testformål)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4702</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_BINÆR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_bilde">
            <annotation>
              <documentation>7046: Egenskapstype til test av bilde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7046</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_BILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_lyd">
            <annotation>
              <documentation>7047: Egenskapstype for test av lyd</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7047</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_LYD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_video">
            <annotation>
              <documentation>7048: Egenskapstype for test av video</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7048</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_VIDEO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_TSF">
            <annotation>
              <documentation>7049: Egenskapstype for test av TSF_skiltinfo</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7049</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_TSF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_tekstblob">
            <annotation>
              <documentation>7050: Egenskapstype for test av tekstblob</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7050</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_TEKSTBLOB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_bildeserie">
            <annotation>
              <documentation>7051: Egenskapstype for test av bilder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7051</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_BILDESERIE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_struct_liste_mbilde">
            <annotation>
              <documentation>7052: Egenskapstype til test av liste av "structer".  Liste innholder et sett av bilder med tilhørende bildetekst.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7052</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_STRUCT_LISTE_MBILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="farge_liste" type="string">
            <annotation>
              <documentation>4701: Angir alle farger som er brukt (for testformål)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4701</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGE_LISTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargeliste_TV_tekst" type="nvdb:Fargeliste_TV_tekstType">
            <annotation>
              <documentation>8727: Test av liste med farger hvor det er predefinerte verdier for farge</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8727</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTE_TV_TEKST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargelistenr_TV_tall" type="nvdb:Fargelistenr_TV_tallType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8728</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTENR_TV_TALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_dato" type="date">
            <annotation>
              <documentation>8802: Test av dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8802</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_DATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="test_dato_liste" type="date">
            <annotation>
              <documentation>8803: Test liste med dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8803</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEST_DATO_LISTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarlig_strukt">
            <annotation>
              <documentation>4700: Angir person som er ansvarlig (for testformål)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4700</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANSVARLIG_STRUKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8843: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TestobjekttypePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Testobjekttype"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
