XSD/NVDB/562/562.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>562: Denne objekttypen benyttes ifbm testing av NVDB</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">562</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Testobjekttype.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FargelisteTVTekstType">
    <annotation>
      <documentation>Fargeliste_TV_tekst: Test av liste med farger hvor det er predefinerte verdier for farge</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8727</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTETVTEKST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FargelisteTVTekstEnumerationType nvdb:FargelisteTVTekstOtherType"/>
  </simpleType>
  <simpleType name="FargelisteTVTekstEnumerationType">
    <annotation>
      <documentation>Fargeliste_TV_tekst: Test av liste med farger hvor det er predefinerte verdier for farge</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8727</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTETVTEKST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="gul">
        <annotation>
          <documentation>11551: Gul</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11551</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="blå">
        <annotation>
          <documentation>11552: Blå</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11552</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grå">
        <annotation>
          <documentation>11553: Grå</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11553</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rød">
        <annotation>
          <documentation>11554: Rød</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11554</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FargelisteTVTekstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FargelistenrTVTallType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8728</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTENRTVTALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FargelistenrTVTallEnumerationType nvdb:FargelistenrTVTallOtherType"/>
  </simpleType>
  <simpleType name="FargelistenrTVTallEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8728</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTENRTVTALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>11813: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11813</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>11814: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11814</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FargelistenrTVTallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Testobjekttype" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TestobjekttypeType">
    <annotation>
      <documentation>Testobjekttype: Denne objekttypen benyttes ifbm testing av NVDB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">562</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTOBJEKTTYPE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TestobjekttypeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="testBinær">
            <annotation>
              <documentation>Test_binær: Angir binær data (for testformål)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4702</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTBINÆR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testBilde">
            <annotation>
              <documentation>Test_bilde: Egenskapstype til test av bilde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7046</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTBILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testLyd">
            <annotation>
              <documentation>Test_lyd: Egenskapstype for test av lyd</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7047</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTLYD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testVideo">
            <annotation>
              <documentation>Test_video: Egenskapstype for test av video</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7048</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTVIDEO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testTSF">
            <annotation>
              <documentation>Test_TSF: Egenskapstype for test av TSF_skiltinfo</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7049</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTTSF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testTekstblob">
            <annotation>
              <documentation>Test_tekstblob: Egenskapstype for test av tekstblob</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7050</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTTEKSTBLOB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testBildeserie">
            <annotation>
              <documentation>Test_bildeserie: Egenskapstype for test av bilder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7051</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTBILDESERIE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testStructListeMbilde">
            <annotation>
              <documentation>Test_struct_liste_mbilde: Egenskapstype til test av liste av "structer".  Liste innholder et sett av bilder med tilhørende bildetekst.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7052</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTSTRUCTLISTEMBILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargeListe" type="string">
            <annotation>
              <documentation>Farge_liste: Angir alle farger som er brukt (for testformål)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4701</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargelisteTVTekst" type="nvdb:FargelisteTVTekstType">
            <annotation>
              <documentation>Fargeliste_TV_tekst: Test av liste med farger hvor det er predefinerte verdier for farge</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8727</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTETVTEKST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargelistenrTVTall" type="nvdb:FargelistenrTVTallType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8728</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGELISTENRTVTALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testDato" type="date">
            <annotation>
              <documentation>Test_dato: Test av dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8802</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="testDatoListe" type="date">
            <annotation>
              <documentation>Test_dato_liste: Test liste med dato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8803</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TESTDATOLISTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarligStrukt">
            <annotation>
              <documentation>Ansvarlig_strukt: Angir person som er ansvarlig (for testformål)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4700</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANSVARLIGSTRUKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TestobjekttypePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Testobjekttype"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
