XSD/NVDB/60/60.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>60: Byggverk uten overliggende fylling som fører vegen over en fri åpning på minst 2,5 meter (1).  Kort bru &lt; 40 meter, lang bru &gt; 40 meter.</documentation>
  </annotation>
  <include schemaLocation="Bru.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bru" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BruType">
    <annotation>
      <documentation>60: Byggverk uten overliggende fylling som fører vegen over en fri åpning på minst 2,5 meter (1).  Kort bru &lt; 40 meter, lang bru &gt; 40 meter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">60</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRU</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BruType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1080: Angir navn på bru.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1080</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="nummer" type="integer">
            <annotation>
              <documentation>2175: Angir brunummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2175</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggverkstype" type="gml:CodeType">
            <annotation>
              <documentation>9182: Angir hvilken type byggverk det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9182</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGVERKSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="gml:CodeType">
            <annotation>
              <documentation>1404: Angir primær materialtype for brukonstruksjonen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1404</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1313: Angir brulengde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1313</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengsteSpenn" type="double">
            <annotation>
              <documentation>1971: Angir lengste spenn for vegobjekt
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1971</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGSTESPENN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="opprinneligF_Nr" type="integer">
            <annotation>
              <documentation>11180: Angir opprinnelig fylkesnummer benyttet i Brutus. Dette nummeret vil sammen med «Nummer» (2175) gi unik identitet til et byggverk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11180</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPRINNELIGF_NR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="aktivtF_Nr" type="integer">
            <annotation>
              <documentation>11181: Angir fylkesnummer til fylket som har administrativt ansvar for byggverket nå.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11181</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AKTIVTF_NR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brukategori" type="gml:CodeType">
            <annotation>
              <documentation>1263: Angir hvilken kategori brukonstruksjonen tilhører</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1263</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10278: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10278</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="gml:CodeType">
            <annotation>
              <documentation>8969: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8969</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4763: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4763</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8906: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8906</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BruPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bru"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
