XSD/NVDB/824/824.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>824: Strekning som er utsatt for skred og hvor det er aktuelt å gjennomføre sikringstiltak. Det skal normalt opprettes et skredpunkt per skredløp, men der skredløpene vanskelig kan sikres fysisk uten å berøre neste skredløp kan man vurdere å slå sammen flere skredløp i samme skredpunkt</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">824</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Skredpunkt.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallLøsneområderType">
    <annotation>
      <documentation>Antall løsneområder: Angir hvor mange ulike løsneområder som leder ned til det aktuelle skredpunktet.  Brukes i naturfareplan.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9570</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLØSNEOMRÅDER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLøsneområderEnumerationType nvdb:AntallLøsneområderOtherType"/>
  </simpleType>
  <simpleType name="AntallLøsneområderEnumerationType">
    <annotation>
      <documentation>Antall løsneområder: Angir hvor mange ulike løsneområder som leder ned til det aktuelle skredpunktet.  Brukes i naturfareplan.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9570</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLØSNEOMRÅDER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>13780: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13780</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>13781: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13781</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>13782: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flere">
        <annotation>
          <documentation>13783: Flere</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13783</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLøsneområderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NaboskredType">
    <annotation>
      <documentation>Naboskred: Angir i hvilken grad det er fare for naboskred på strekningen, dvs om ventende biler på grunn av skred kan treffes av nytt skred. Brukes i beregning av F6 Naboskredfaktor.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NABOSKRED</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NaboskredEnumerationType nvdb:NaboskredOtherType"/>
  </simpleType>
  <simpleType name="NaboskredEnumerationType">
    <annotation>
      <documentation>Naboskred: Angir i hvilken grad det er fare for naboskred på strekningen, dvs om ventende biler på grunn av skred kan treffes av nytt skred. Brukes i beregning av F6 Naboskredfaktor.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NABOSKRED</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingen">
        <annotation>
          <documentation>13093: Ingen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13093</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="toSkredløpLitenSamtidighet">
        <annotation>
          <documentation>13094: To skredløp, liten samtidighet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13094</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="toSkredløpStorSamtidighet">
        <annotation>
          <documentation>13095: To skredløp, stor samtidighet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13095</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flereSkredløp">
        <annotation>
          <documentation>13096: Flere skredløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13096</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NaboskredOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OmkjøringType">
    <annotation>
      <documentation>Omkjøring: Beregnet omkjøringstid (inkl fergetid) hvis vegen er stengt ved skredpunktet. Brukes ved beregning av F3 Omkjøringsfaktor</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMKJØRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OmkjøringEnumerationType nvdb:OmkjøringOtherType"/>
  </simpleType>
  <simpleType name="OmkjøringEnumerationType">
    <annotation>
      <documentation>Omkjøring: Beregnet omkjøringstid (inkl fergetid) hvis vegen er stengt ved skredpunktet. Brukes ved beregning av F3 Omkjøringsfaktor</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMKJØRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="under1Min">
        <annotation>
          <documentation>13204: Under 1 min.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5Min">
        <annotation>
          <documentation>13190: 5 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13190</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15Min">
        <annotation>
          <documentation>13191: 15 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13191</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="30Min">
        <annotation>
          <documentation>13192: 30 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13192</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="45Min">
        <annotation>
          <documentation>13193: 45 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13193</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="60Min">
        <annotation>
          <documentation>13194: 60 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13194</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="75Min">
        <annotation>
          <documentation>13195: 75 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13195</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="90Min">
        <annotation>
          <documentation>13196: 90 min</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13196</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2T">
        <annotation>
          <documentation>13197: 2 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13197</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3T">
        <annotation>
          <documentation>13198: 3 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4T">
        <annotation>
          <documentation>13199: 4 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13199</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5T">
        <annotation>
          <documentation>13200: 5 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6T">
        <annotation>
          <documentation>13201: 6 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13201</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7T">
        <annotation>
          <documentation>13202: 7 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13202</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8T">
        <annotation>
          <documentation>13203: 8 t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingenOmkjøringsmulighet">
        <annotation>
          <documentation>13205: Ingen omkjøringsmulighet: Ingen omkjøringsmulighet. Dersom omkjøring tar mer enn 8 timer regnes det også som ingen omkjøring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13205</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmkjøringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlannivåType">
    <annotation>
      <documentation>Plannivå: Angir hvor langt man er kommet i planprosessen på aktuelt punkt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9382</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLANNIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlannivåEnumerationType nvdb:PlannivåOtherType"/>
  </simpleType>
  <simpleType name="PlannivåEnumerationType">
    <annotation>
      <documentation>Plannivå: Angir hvor langt man er kommet i planprosessen på aktuelt punkt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9382</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLANNIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeVurdert">
        <annotation>
          <documentation>13112: Ikke vurdert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13112</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="idé">
        <annotation>
          <documentation>13113: Idé</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13113</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skisseForprosjekt">
        <annotation>
          <documentation>13114: Skisse/forprosjekt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13114</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommunedelplan">
        <annotation>
          <documentation>13115: Kommunedelplan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13115</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="reguleringsplan">
        <annotation>
          <documentation>13116: Reguleringsplan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13116</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="byggeplan">
        <annotation>
          <documentation>13117: Byggeplan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13117</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlannivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkredfaktorkategoriType">
    <annotation>
      <documentation>Skredfaktorkategori: Angir hvilken kategori skredpunktet tilhører. Beregnes fra skredfaktor</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9380</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDFAKTORKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkredfaktorkategoriEnumerationType nvdb:SkredfaktorkategoriOtherType"/>
  </simpleType>
  <simpleType name="SkredfaktorkategoriEnumerationType">
    <annotation>
      <documentation>Skredfaktorkategori: Angir hvilken kategori skredpunktet tilhører. Beregnes fra skredfaktor</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9380</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDFAKTORKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="høy">
        <annotation>
          <documentation>13109: Høy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13109</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="middels">
        <annotation>
          <documentation>13110: Middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lav">
        <annotation>
          <documentation>13111: Lav</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13111</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sikringUtført">
        <annotation>
          <documentation>16762: Sikring utført: Angir at dette skredpunktet er sikret. Det er med for å ha historikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16762</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkredfaktorkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skredpunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkredpunktType">
    <annotation>
      <documentation>Skredpunkt: Strekning som er utsatt for skred og hvor det er aktuelt å gjennomføre sikringstiltak. Det skal normalt opprettes et skredpunkt per skredløp, men der skredløpene vanskelig kan sikres fysisk uten å berøre neste skredløp kan man vurdere å slå sammen flere skredløp i samme skredpunkt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDPUNKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredpunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>Navn: Navn på skredpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9342</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>Arkivnummer: Referanse til Statens vegvesen sitt arkivsystem</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9343</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARKIVNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnadsoverslagMillKr" type="double">
            <annotation>
              <documentation>Kostnadsoverslag (mill kr): Overslag over totale kostnader knyttet til utbedring av aktuelt skredpunkt. Avrudet i henhold egne regler.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9372</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOSTNADSOVERSLAGMILLKR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="databaseID" type="string">
            <annotation>
              <documentation>DatabaseID: Referanse til gammel databasenummerering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9344</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATABASEID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åDT" type="integer">
            <annotation>
              <documentation>ÅDT: Angir hvilken ÅDT-verdi som er benyttet i beregning. Blir hentet automatisk fra Trafikkmengderegisteret i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9362</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åDTÅr" type="integer">
            <annotation>
              <documentation>ÅDT år: Angir hvilket år ÅDT-verdien gjelder for. Blir hentet automatisk fra Trafikkmengderegisteret i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="snøskredFrekvens" type="double">
            <annotation>
              <documentation>Snøskred, frekvens: Angir årlig frekvens av snøskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9346</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SNØSKREDFREKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="snøskredBredde" type="integer">
            <annotation>
              <documentation>Snøskred, bredde: Angir gjennomsnittlig bredde av alle snøskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9347</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SNØSKREDBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sørpeskredFrekvens" type="double">
            <annotation>
              <documentation>Sørpeskred, frekvens: Angir årlig frekvens av sørpeskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9348</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SØRPESKREDFREKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sørpeskredBredde" type="integer">
            <annotation>
              <documentation>Sørpeskred, bredde: Angir gjennomsnittlig bredde av alle sørpeskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9355</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SØRPESKREDBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="steinsprangFjellskredFrekvens" type="double">
            <annotation>
              <documentation>Steinsprang/fjellskred, frekvens: Angir årlig frekvens av steinsprang/fjellskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9349</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEINSPRANGFJELLSKREDFREKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="steinsprangFjellskredBredde" type="integer">
            <annotation>
              <documentation>Steinsprang/fjellskred, bredde: Angir gjennomsnittlig bredde av alle steinsprang/fjellskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9356</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEINSPRANGFJELLSKREDBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="isnedfallFrekvens" type="double">
            <annotation>
              <documentation>Isnedfall, frekvens: Angir årlig frekvens av isnedfall. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9351</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ISNEDFALLFREKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="isnedfallBredde" type="integer">
            <annotation>
              <documentation>Isnedfall, bredde: Angir gjennomsnittlig bredde av alle isnedfall/isskred/isproblem. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9357</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ISNEDFALLBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="jordLøsmasseskredFrekvens" type="double">
            <annotation>
              <documentation>Jord-/løsmasseskred,frekvens: Angir årlig frekvens av jord-/løsmasseskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9353</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDLØSMASSESKREDFREKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="jordLøsmasseskredBredde" type="integer">
            <annotation>
              <documentation>Jord-/løsmasseskred, bredde: Angir gjennomsnittlig bredde av alle jord-/løsmasseskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9359</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JORDLØSMASSESKREDBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="flomskredFrekvens" type="double">
            <annotation>
              <documentation>Flomskred, frekvens: Angir årlig frekvens av flomskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9354</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FLOMSKREDFREKVENS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="flomskredBredde" type="integer">
            <annotation>
              <documentation>Flomskred, bredde: Angir gjennomsnittlig bredde av alle flomskred. Brukes i beregning av F2 Skredfarefaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9360</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FLOMSKREDBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="omkjøring" type="nvdb:OmkjøringType">
            <annotation>
              <documentation>Omkjøring: Beregnet omkjøringstid (inkl fergetid) hvis vegen er stengt ved skredpunktet. Brukes ved beregning av F3 Omkjøringsfaktor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9392</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMKJØRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stengningsfrekvensSkred" type="double">
            <annotation>
              <documentation>Stengningsfrekvens, skred: Angir hvor mange ganger per år vegen i gjennomsnitt er stengt på grunn av skred. Brukes ved beregning av F4 Stengningsfaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9365</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STENGNINGSFREKVENSSKRED</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stengningdøgnSkredfare" type="double">
            <annotation>
              <documentation>Stengningdøgn, skredfare: Angir hvor mange døgn per år vegen i gjennomsnitt er stengt på grunn av skredfare. Benyttes kun når omkjøringstid er over 2 timer. Brukes i beregning av F5 Skredfarestengningsfaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9366</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STENGNINGDØGNSKREDFARE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="naboskred" type="nvdb:NaboskredType">
            <annotation>
              <documentation>Naboskred: Angir i hvilken grad det er fare for naboskred på strekningen, dvs om ventende biler på grunn av skred kan treffes av nytt skred. Brukes i beregning av F6 Naboskredfaktor.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NABOSKRED</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="f1TrafikkmengdeFaktor" type="double">
            <annotation>
              <documentation>F1 Trafikkmengde-faktor: Beregnet faktor som gir uttrykk for hvor mye trafikkmengde virker inn på skredfaktoren for gitt skredpunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9374</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_F1TRAFIKKMENGDEFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="f2Skredfarefaktor" type="double">
            <annotation>
              <documentation>F2 Skredfarefaktor: Beregnet faktor som gir uttrykk for hvor mye skredfrekvens og skredbredde virker inn  på skredfaktoren for gitt skredpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9375</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_F2SKREDFAREFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="f3Omkjøringsfaktor" type="double">
            <annotation>
              <documentation>F3 Omkjøringsfaktor: Beregnet faktor som gir uttrykk for hvor mye omkjøringstiden virker inn på skredfaktoren for gitt skredpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9376</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_F3OMKJØRINGSFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="f4Stengningsfaktor" type="double">
            <annotation>
              <documentation>F4 Stengningsfaktor: Beregnet faktor som gir uttrykk for hvor mye vegens stengningsfrekvens virker inn på skredpunktets skredfaktor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9368</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_F4STENGNINGSFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="f5Skredfarestengningsfaktor" type="double">
            <annotation>
              <documentation>F5 Skredfarestengningsfaktor: Beregnet faktor som gir uttrykk for hvor mye stengning av vegen pga skredfare virker inn på skredfaktoren for gitt skredpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9377</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_F5SKREDFARESTENGNINGSFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="f6Naboskredfaktor" type="double">
            <annotation>
              <documentation>F6 Naboskredfaktor: Beregnet faktor som gir uttrykk for hvor mye fare for naboskred virker inn på skredfaktoren for gitt skredpunkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9378</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_F6NABOSKREDFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skredfaktor" type="double">
            <annotation>
              <documentation>Skredfaktor: Beregnet tall som brukes for sammenligning mellom ulike skredutsatte punkt, basert på faktorene F1-F6</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9379</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skredfaktorkategori" type="nvdb:SkredfaktorkategoriType">
            <annotation>
              <documentation>Skredfaktorkategori: Angir hvilken kategori skredpunktet tilhører. Beregnes fra skredfaktor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9380</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDFAKTORKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plannivå" type="nvdb:PlannivåType">
            <annotation>
              <documentation>Plannivå: Angir hvor langt man er kommet i planprosessen på aktuelt punkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9382</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLANNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppstartHandlingsprogram" type="integer">
            <annotation>
              <documentation>Oppstart handlingsprogram: Angir hvilket år sikring er planlagt startet, hvis det er med i handlingsprogram.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9381</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSTARTHANDLINGSPROGRAM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnadsnivåÅr" type="integer">
            <annotation>
              <documentation>Kostnadsnivå år: Hvilken kroneverdi (årstall) kostnader er angitt i.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9371</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOSTNADSNIVÅÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="usikkerhetKostnad" type="integer">
            <annotation>
              <documentation>Usikkerhet kostnad: Angir prosentvis usikkerhet i kostnad +/- (forutsatt like mye oppover og nedover)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9373</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_USIKKERHETKOSTNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utførtAnslag" type="nvdb:UtførtAnslagType">
            <annotation>
              <documentation>Utført anslag: Angir om kostnadsoverslag er utarbeidet etter Anslagsmetoden.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10179</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFØRTANSLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="planlagtTiltak" type="string">
            <annotation>
              <documentation>Planlagt tiltak: Kort beskrivelse av planlagt tiltak for utbedring av skredpunktet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10180</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLANLAGTTILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sikringsnivå" type="double">
            <annotation>
              <documentation>Sikringsnivå: Anslått risiko etter at foreslått tiltak er utført. Oppgis som nominell sannsynlighet for skred. 0,1 betyr 1/10 sannsynlighet for skred i løpet av et år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10181</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIKRINGSNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utbedretÅr" type="integer">
            <annotation>
              <documentation>Utbedret år: For punkt som er sikret skal det angis hvilket år det ble sikret. Utfylt årstall gir prioriteringskategori «sikring utført».</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9369</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTBEDRETÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utløsendeVærforhold" type="string">
            <annotation>
              <documentation>Utløsende værforhold: Beskrivelse av værforhold som kan gi skred i skredløpet. Brukes i naturfareplan.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9571</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTLØSENDEVÆRFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelseBeredskap" type="string">
            <annotation>
              <documentation>Beskrivelse, beredskap: Beskrivelse som er relevant i forhold til beredskap. Brukes i naturfareplan.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9569</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSEBEREDSKAP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLøsneområder" type="nvdb:AntallLøsneområderType">
            <annotation>
              <documentation>Antall løsneområder: Angir hvor mange ulike løsneområder som leder ned til det aktuelle skredpunktet.  Brukes i naturfareplan.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9570</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLØSNEOMRÅDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Eventuelt supplerende merknader knyttet til skredsikringsbehov</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9345</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtførtAnslagType">
    <annotation>
      <documentation>Utført anslag: Angir om kostnadsoverslag er utarbeidet etter Anslagsmetoden.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10179</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFØRTANSLAG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtførtAnslagEnumerationType nvdb:UtførtAnslagOtherType"/>
  </simpleType>
  <simpleType name="UtførtAnslagEnumerationType">
    <annotation>
      <documentation>Utført anslag: Angir om kostnadsoverslag er utarbeidet etter Anslagsmetoden.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10179</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFØRTANSLAG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16587: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16587</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16588: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16588</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtførtAnslagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
