XSD/NVDB/144/57.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum.  I tillegg til ei eller to skjæringer (evt. en på hver side av vegen) begrenses skjæringsvolumet av planum.  Merknad: Det skal angis sideposisjon for skjæring.</documentation>
  </annotation>
  <include schemaLocation="PlastringErosjonssikring.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BrattOverFjellskjæringType">
    <annotation>
      <documentation>9439: Angir om det er bratt sideterreng over skjæring. Bratt vil si helning på minst 30 grader.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9439</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRATTOVERFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BrattOverFjellskjæringEnumerationType nvdb:BrattOverFjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="BrattOverFjellskjæringEnumerationType">
    <annotation>
      <documentation>9439: Angir om det er bratt sideterreng over skjæring. Bratt vil si helning på minst 30 grader.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9439</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRATTOVERFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13285: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13285</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13286: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13286</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrattOverFjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Helning_FjellskjæringType">
    <annotation>
      <documentation>9437: Angir hvilken helning det er på fjellskjæring.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9437</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HELNING_FJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Helning_FjellskjæringEnumerationType nvdb:Helning_FjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="Helning_FjellskjæringEnumerationType">
    <annotation>
      <documentation>9437: Angir hvilken helning det er på fjellskjæring.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9437</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HELNING_FJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vertikal">
        <annotation>
          <documentation>13280: Vertikal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13280</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10til1">
        <annotation>
          <documentation>13281: 10:1: Fjellskjæring har helning rundt 10:1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13281</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="slakereEnn10til1">
        <annotation>
          <documentation>13282: Slakere enn 10:1: Helning er slakere enn 10:1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13282</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Helning_FjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NærmesteObjektTilFjellskjæringType">
    <annotation>
      <documentation>9440: Angir hva som er nærmeste objekt til fjellskjæring og som dermed vil kunne bli truffet av eventuelt nedfall fra skjæringen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9440</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NÆRMESTEOBJEKTTILFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NærmesteObjektTilFjellskjæringEnumerationType nvdb:NærmesteObjektTilFjellskjæringOtherType"/>
  </simpleType>
  <simpleType name="NærmesteObjektTilFjellskjæringEnumerationType">
    <annotation>
      <documentation>9440: Angir hva som er nærmeste objekt til fjellskjæring og som dermed vil kunne bli truffet av eventuelt nedfall fra skjæringen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9440</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NÆRMESTEOBJEKTTILFJELLSKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="oppgittVeg">
        <annotation>
          <documentation>13287: Oppgitt veg: Veg skjæring er registrert på</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13287</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangSykkelveg">
        <annotation>
          <documentation>13288: Gang-/sykkelveg: Gang sykkelveg som ligger mellom oppgitt veg og skjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13288</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetVegarealVeg">
        <annotation>
          <documentation>13289: Annet vegareal/veg: Annet vegareal, for eksempel parkeringsplass, holdeplass, med mer eller annen veg, f.eks privat veg, skogsbilveg, etc som ligger mellom oppgitt veg og fjellskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13289</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vollMur">
        <annotation>
          <documentation>13290: Voll/mur: Voller, murer etc, naturlig eller konstruert  fanger opp eventuelt nedfall</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13290</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NærmesteObjektTilFjellskjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PallType">
    <annotation>
      <documentation>9438: Angir om fjellskjæring er sprengt i paller</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9438</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PallEnumerationType nvdb:PallOtherType"/>
  </simpleType>
  <simpleType name="PallEnumerationType">
    <annotation>
      <documentation>9438: Angir om fjellskjæring er sprengt i paller</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9438</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13283: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13283</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13284: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13284</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skjæring" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkjæringType">
    <annotation>
      <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum.  I tillegg til ei eller to skjæringer (evt. en på hver side av vegen) begrenses skjæringsvolumet av planum.  Merknad: Det skal angis sideposisjon for skjæring.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">57</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKJÆRING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkjæringType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeSkjæringType">
            <annotation>
              <documentation>1121: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1121</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1311: Angir areal av vegobjektet.  Dette arealet overstyrer evt. areal beregnet ut fra "bredde, gj.snitt" og utstrekning.
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1311</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Middel" type="double">
            <annotation>
              <documentation>9436: Gir gjennomsnittshøyde av skjæring. Måles vertikalt
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9436</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDE_MIDDEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="helning_Fjellskjæring" type="nvdb:Helning_FjellskjæringType">
            <annotation>
              <documentation>9437: Angir hvilken helning det er på fjellskjæring.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9437</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HELNING_FJELLSKJÆRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pall" type="nvdb:PallType">
            <annotation>
              <documentation>9438: Angir om fjellskjæring er sprengt i paller</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9438</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brattOverFjellskjæring" type="nvdb:BrattOverFjellskjæringType">
            <annotation>
              <documentation>9439: Angir om det er bratt sideterreng over skjæring. Bratt vil si helning på minst 30 grader.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9439</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRATTOVERFJELLSKJÆRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Maksimal" type="double">
            <annotation>
              <documentation>1870: Angir maksimal høyde av skjæring.  Måles vertikalt
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1870</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDE_MAKSIMAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>4669: Angir gjennomsnittlig bredde av skjæring (skråflate).  Bredde måles i plan med skjæring (skråflate).  Gjennomsnittsbredde kan benyttes som grunnlag for å beregne areal av skjæring (skråflate).
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4669</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE_GJENNOMSNITT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nærmesteObjektTilFjellskjæring" type="nvdb:NærmesteObjektTilFjellskjæringType">
            <annotation>
              <documentation>9440: Angir hva som er nærmeste objekt til fjellskjæring og som dermed vil kunne bli truffet av eventuelt nedfall fra skjæringen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9440</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NÆRMESTEOBJEKTTILFJELLSKJÆRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10360: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10360</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11055: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11055</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4760: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4760</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10959: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10959</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPlastringErosjonssikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:PlastringErosjonssikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjæringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skjæring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkjæringType">
    <annotation>
      <documentation>1121: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1121</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkjæringEnumerationType nvdb:TypeSkjæringOtherType"/>
  </simpleType>
  <simpleType name="TypeSkjæringEnumerationType">
    <annotation>
      <documentation>1121: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1121</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKJÆRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="jord">
        <annotation>
          <documentation>2286: Jord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2286</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fjell">
        <annotation>
          <documentation>2325: Fjell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2325</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kombinertJordOgFjell">
        <annotation>
          <documentation>3283: Kombinert jord og fjell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3283</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
