XSD/NVDB/532/532.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>532: Veg, hp, meter-fra/til Etc (Lovlig del av vegnettet)</documentation>
  </annotation>
  <include schemaLocation="Vegreferanse.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Brkode1Type">
    <annotation>
      <documentation>4576: Angir bruddkode 1</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE1</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Brkode1EnumerationType nvdb:Brkode1OtherType"/>
  </simpleType>
  <simpleType name="Brkode1EnumerationType">
    <annotation>
      <documentation>4576: Angir bruddkode 1</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4576</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE1</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5519</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5524: Slutt kmbrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5524</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>5521: Start envegmed</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5521</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>5522: Start envegmot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5522</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0">
        <annotation>
          <documentation>5775: Start hovedparsell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5775</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Brkode1OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Brkode2Type">
    <annotation>
      <documentation>4577: Angir bruddkode 2</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4577</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE2</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Brkode2EnumerationType nvdb:Brkode2OtherType"/>
  </simpleType>
  <simpleType name="Brkode2EnumerationType">
    <annotation>
      <documentation>4577: Angir bruddkode 2</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4577</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE2</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5523</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>5520: Start kmbrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5520</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>5525: Slutt envegmed</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5525</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>5526: Slutt envegmot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5526</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>5527: Slutt hovedparsell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5527</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>5528: Slutt veg/delstrekn: Slutt veg/delstrekning (Fysisk)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5528</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Brkode2OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnvegsreguleringType">
    <annotation>
      <documentation>4707: Angir om det er envegsregulert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4707</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENVEGSREGULERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnvegsreguleringEnumerationType nvdb:EnvegsreguleringOtherType"/>
  </simpleType>
  <simpleType name="EnvegsreguleringEnumerationType">
    <annotation>
      <documentation>4707: Angir om det er envegsregulert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4707</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENVEGSREGULERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>5776: Enveg Med</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5776</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5777: Enveg Mot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5777</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnvegsreguleringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FellesvegkodeType">
    <annotation>
      <documentation>4573: Angir fellesvegkode</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4573</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FELLESVEGKODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FellesvegkodeEnumerationType nvdb:FellesvegkodeOtherType"/>
  </simpleType>
  <simpleType name="FellesvegkodeEnumerationType">
    <annotation>
      <documentation>4573: Angir fellesvegkode</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4573</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FELLESVEGKODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5510</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FellesvegkodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KonnekteringslenkeType">
    <annotation>
      <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, e</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4575</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONNEKTERINGSLENKE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KonnekteringslenkeEnumerationType nvdb:KonnekteringslenkeOtherType"/>
  </simpleType>
  <simpleType name="KonnekteringslenkeEnumerationType">
    <annotation>
      <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, e</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4575</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONNEKTERINGSLENKE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5517</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5518: Konnekteringslenke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5518</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KonnekteringslenkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegkategoriType">
    <annotation>
      <documentation>4566: Angir vegkategori</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4566</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegkategoriEnumerationType nvdb:VegkategoriOtherType"/>
  </simpleType>
  <simpleType name="VegkategoriEnumerationType">
    <annotation>
      <documentation>4566: Angir vegkategori</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4566</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>5492: Europaveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5492</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>5493: Riksveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5493</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>5494: Fylkesveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5494</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>5495: Kommunal veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5495</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>5496: Privat veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5496</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>5497: Skogsbilveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5497</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegreferanse" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegreferanseType">
    <annotation>
      <documentation>532: Veg, hp, meter-fra/til Etc (Lovlig del av vegnettet)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">532</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGREFERANSE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegreferanseType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="fylkesnummer" type="integer">
            <annotation>
              <documentation>4591: Angir fylkesnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4591</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FYLKESNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegkategori" type="nvdb:VegkategoriType">
            <annotation>
              <documentation>4566: Angir vegkategori</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4566</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegstatusOver" type="nvdb:VegstatusOverType">
            <annotation>
              <documentation>4570: Angir overordnet vegstatus</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4570</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUSOVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegnummer" type="integer">
            <annotation>
              <documentation>4568: Angir vegnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4568</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="hovedparsell" type="integer">
            <annotation>
              <documentation>4569: Angir Hovedparsell</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4569</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOVEDPARSELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegstatus" type="nvdb:VegstatusType">
            <annotation>
              <documentation>4567: Angir vegstatus</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fraMeter" type="integer">
            <annotation>
              <documentation>4571: Frameter innenfor hp-en</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4571</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FRAMETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilMeter" type="integer">
            <annotation>
              <documentation>4572: Tilmeter innenfor hp-en</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4572</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILMETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="brkode1" type="nvdb:Brkode1Type">
            <annotation>
              <documentation>4576: Angir bruddkode 1</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4576</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="brkode2" type="nvdb:Brkode2Type">
            <annotation>
              <documentation>4577: Angir bruddkode 2</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4577</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegtype" type="nvdb:VegtypeVegreferanseType">
            <annotation>
              <documentation>4574: Angir vegtype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4574</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fellesvegkode" type="nvdb:FellesvegkodeType">
            <annotation>
              <documentation>4573: Angir fellesvegkode</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4573</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FELLESVEGKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="envegsregulering" type="nvdb:EnvegsreguleringType">
            <annotation>
              <documentation>4707: Angir om det er envegsregulert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4707</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENVEGSREGULERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="konnekteringslenke" type="nvdb:KonnekteringslenkeType">
            <annotation>
              <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, eller kobling av en gangveg til kjørevegen der det er naturlig at veglenkene skal være koblet sammen for å danne et nettverk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4575</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONNEKTERINGSLENKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>4578: Angir måledato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4578</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegreferansePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegreferanse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegstatusType">
    <annotation>
      <documentation>4567: Angir vegstatus</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegstatusEnumerationType nvdb:VegstatusOtherType"/>
  </simpleType>
  <simpleType name="VegstatusEnumerationType">
    <annotation>
      <documentation>4567: Angir vegstatus</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>5499: Eksisterende veg: Veg som er del av operativt vegnett (tatt opp til vedlikehold).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5499</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="W">
        <annotation>
          <documentation>5505: Midlertidig veg: Midlertidig eksisterende veg. Brukes i de tilfeller hvor det bygges en midlertidig veg som blir brukt for avvikling av trafikk for vedkommende veg uten at den er formelt opptatt. Denne statusen benyttes dersom denne vegen blir liggende i 6 måneder eller lengre, men fjernes når veganlegget er ferdig bygget. Kan også benyttes i tilfeller hvor annen veg, riks-, fylkes-, kommunal eller privat veg blir brukt for avvikling av trafikk for vedkommende veg uten at den er formelt opptatt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5505</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>5502: Midlertidig status bilveg: Midlertidig status inntil ny kategori er bestemt for vegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte vegstrekningen, og med det hvilken kategori strekningen skal ha.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5502</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>5504: Eksisterende ferjestrekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5504</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>12159: Gang-/sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>12983: Midlertidig status gang-/sykkelveg: Midlertidig status inntil ny kategori er bestemt for gang- og sykkelvegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte strekningen, og med det hvilken kategori strekningen skal ha.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12983</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>13707: Beredskapsveg: Beredskapsveg, ikke åpen for allmenn ferdsel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13707</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>5501: Serviceveg: Serviceveg, normalt sett ikke åpen for allmenn ferdsel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5501</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="X">
        <annotation>
          <documentation>5500: Rømningstunnel: Rømningstunnel, ikke åpen for allmenn ferdsel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5500</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>7041: Anleggsveg: Veg under bygging</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7041</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>12160: Gang-/sykkelveg anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12160</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>7042: Planlagt veg: Planlagt veg vedtatt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7042</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>7046: Planlagt ferjestrekning: Planlagt ferjestrekning vedtatt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7046</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Q">
        <annotation>
          <documentation>12986: Planlagt gang-/sykkelveg: Planlagt gang- og sykkelveg, vedtatt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12986</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegstatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegstatusOverType">
    <annotation>
      <documentation>4570: Angir overordnet vegstatus</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4570</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUSOVER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegstatusOverEnumerationType nvdb:VegstatusOverOtherType"/>
  </simpleType>
  <simpleType name="VegstatusOverEnumerationType">
    <annotation>
      <documentation>4570: Angir overordnet vegstatus</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4570</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUSOVER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>5506: Eksisterende veg: Veg som er del av operativt vegnett (tatt opp til vedlikehold).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5506</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>5507: Midlertidig status bilveg: Midlertidig eksisterende veg. Brukes i de tilfeller hvor det bygges en midlertidig veg som blir brukt for avvikling av trafikk for vedkommende veg uten at den er formelt opptatt. Denne statusen benyttes dersom denne vegen blir liggende i 6 måneder eller lengre, men fjernes når veganlegget er ferdig bygget. Kan også benyttes i tilfeller hvor annen veg, riks-, fylkes-, kommunal eller privat veg blir brukt for avvikling av trafikk for vedkommende veg uten at den er formelt opptatt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5507</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>12161: Gang-/sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12161</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>12984: Midlertidig status gang-/sykkelveg: Midlertidig status inntil ny kategori er bestemt for gang- og sykkelvegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvem som skal forvalte strekningen, og med det hvilken kategori strekningen skal ha..</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12984</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>13708: Beredskapsveg: Beredskapsveg, ikke åpen for allmenn ferdsel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13708</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>5509: Serviceveg: Serviceveg, normalt sett ikke åpen for allmenn ferdsel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5509</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="X">
        <annotation>
          <documentation>5508: Rømningstunnel: Rømningstunnel, ikke åpen for allmenn ferdsel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5508</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>7099: Anleggsveg: Veg under bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7099</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>12162: Gang-/sykkelveg anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12162</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>7100: Planlagt veg: Planlagt veg vedtatt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Q">
        <annotation>
          <documentation>12985: Planlagt gang-/sykkelveg: Planlagt gang- og sykkelveg, vedtatt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12985</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegstatusOverOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegtypeVegreferanseType">
    <annotation>
      <documentation>4574: Angir vegtype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4574</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGTYPEVEGREFERANSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegtypeVegreferanseEnumerationType nvdb:VegtypeVegreferanseOtherType"/>
  </simpleType>
  <simpleType name="VegtypeVegreferanseEnumerationType">
    <annotation>
      <documentation>4574: Angir vegtype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4574</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGTYPEVEGREFERANSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5513</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>5514: Vegarm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5514</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>5515: Rampe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5515</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>9725: Fiktiv: Benyttes om fiktive veger.  F.eks for å stedfeste ulykker som en ikke kjenner virkelig stedfesting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9725</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegtypeVegreferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
