XSD/NVDB/532/532.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>532: Veg, hp, meter-fra/til Etc (Lovlig del av vegnettet)</documentation>
  </annotation>
  <include schemaLocation="Vegreferanse.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegreferanse" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegreferanseType">
    <annotation>
      <documentation>532: Veg, hp, meter-fra/til Etc (Lovlig del av vegnettet)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">532</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGREFERANSE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegreferanseType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="fylkesnummer" type="integer">
            <annotation>
              <documentation>4591: Angir fylkesnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4591</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FYLKESNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegkategori" type="gml:CodeType">
            <annotation>
              <documentation>4566: Angir vegkategori</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4566</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegstatusOver" type="gml:CodeType">
            <annotation>
              <documentation>4570: Angir overordnet vegstatus</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4570</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUSOVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegnummer" type="integer">
            <annotation>
              <documentation>4568: Angir vegnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4568</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="hovedparsell" type="integer">
            <annotation>
              <documentation>4569: Angir Hovedparsell</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4569</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HOVEDPARSELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegstatus" type="gml:CodeType">
            <annotation>
              <documentation>4567: Angir vegstatus</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fraMeter" type="integer">
            <annotation>
              <documentation>4571: Frameter innenfor hp-en</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4571</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FRAMETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilMeter" type="integer">
            <annotation>
              <documentation>4572: Tilmeter innenfor hp-en</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4572</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILMETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="brkode1" type="gml:CodeType">
            <annotation>
              <documentation>4576: Angir bruddkode 1</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4576</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="brkode2" type="gml:CodeType">
            <annotation>
              <documentation>4577: Angir bruddkode 2</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4577</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRKODE2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vegtype" type="gml:CodeType">
            <annotation>
              <documentation>4574: Angir vegtype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4574</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fellesvegkode" type="gml:CodeType">
            <annotation>
              <documentation>4573: Angir fellesvegkode</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4573</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FELLESVEGKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="envegsregulering" type="gml:CodeType">
            <annotation>
              <documentation>4707: Angir om det er envegsregulert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4707</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENVEGSREGULERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="konnekteringslenke" type="gml:CodeType">
            <annotation>
              <documentation>4575: En lenke i vegnettet som eksisterer kun for å knytte sammen andre lenker. For eksempel vil dette være kobling mellom to veger der kryssområdet fysisk hører til den ene vegen, forlengelsen av et svingefelt som beskriver en kjørebevegelse midt i et kryss, eller kobling av en gangveg til kjørevegen der det er naturlig at veglenkene skal være koblet sammen for å danne et nettverk.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4575</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONNEKTERINGSLENKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>4578: Angir måledato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4578</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegreferansePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegreferanse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
