XSD/NVDB/835/835.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.08">
  <annotation>
    <documentation>835: Beskriver hvordan hovedadkomst for gående er utformet, dette gjelder adkomst fra biloppstilling/kollektivtrafikk til angitt funksjon/sted innenfor tilhørende område</documentation>
  </annotation>
  <include schemaLocation="Gangadkomst.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstFraTilType">
    <annotation>
      <documentation>9457: Angir hva det er adkomst til og fra hvor</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9457</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTFRATIL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstFraTilEnumerationType nvdb:AdkomstFraTilOtherType"/>
  </simpleType>
  <simpleType name="AdkomstFraTilEnumerationType">
    <annotation>
      <documentation>9457: Angir hva det er adkomst til og fra hvor</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9457</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTFRATIL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="biloppstilling_Toalettanlegg">
        <annotation>
          <documentation>13335: Biloppstilling - Toalettanlegg: Adkomst fra biloppstillingsplass (parkeringsområde) til lekeapparat. Aktuelt for rasteplass og ferjeleie.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13335</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Utemøbler">
        <annotation>
          <documentation>13336: Biloppstilling - Utemøbler: Adkomst fra biloppstillingsplass (parkeringsområde) til utemøbler. Aktuelt for rasteplass og ferjeleie.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Lekeapparat">
        <annotation>
          <documentation>13337: Biloppstilling - Lekeapparat: Adkomst fra biloppstillingsplass til lekeapparat. Aktuelt for rasteplass.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13337</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Ferje_Ombordstigningssted">
        <annotation>
          <documentation>13338: Biloppstilling - Ferje, ombordstigningssted: Adkomst fra biloppstillingsplass (parkeringsområde) til sted hvor en går om bord i ferje.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13338</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Venterom">
        <annotation>
          <documentation>13339: Biloppstilling - Venterom: Adkomst fra biloppstillingsplass (parkeringsområde) til venterom. Aktuelt for ferjeleie,</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13339</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venterom_Ferje_Ombordstigningssted">
        <annotation>
          <documentation>13377: Venterom - Ferje, ombordstigningssted: Adkomst fra venterom til sted hvor en går ombor i ferje. Aktuelt for ferjeleie.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="biloppstilling_Holdeplass">
        <annotation>
          <documentation>17250: Biloppstilling - Holdeplass: Adkamst fra biloppstillingsplass (parkeringsområde) til holdeplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17250</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Ferje_Ombordstigningssted">
        <annotation>
          <documentation>13375: Holdeplass - Ferje, ombordstigningssted: Adkomst fra holdeplass til sted hvor en går ombord i ferje.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13375</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Venterom">
        <annotation>
          <documentation>13376: Holdeplass - Venterom: Adkomst fra holdeplass til venterom. Aktuelt for ferjeleie.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13376</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Framover">
        <annotation>
          <documentation>17269: Holdeplass - framover: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i samme retning som bussen kjører.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17269</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_Bakover">
        <annotation>
          <documentation>17270: Holdeplass - bakover: Adkomst, på samme side som holdeplassen, som fortsetter fra holdeplassen i motsatt retning av det bussen kjører.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17270</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_MotHøyre">
        <annotation>
          <documentation>17271: Holdeplass - mot høyre: Adkomst, på samme side som holdeplassen, som går mot høyre i forhold til den retningen  bussen kjører.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17271</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="holdeplass_MotVenstre">
        <annotation>
          <documentation>17272: Holdeplass - mot venstre: Adkomst som krysser fra holdeplass og mot venstre over eller under veg sett i forhold til retning bussen kjører.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17272</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstFraTilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelegningGangadkomstType">
    <annotation>
      <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10686</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGGANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningGangadkomstEnumerationType nvdb:BelegningGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="BelegningGangadkomstEnumerationType">
    <annotation>
      <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10686</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGGANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt">
        <annotation>
          <documentation>17252: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17252</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>17253: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17253</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>17254: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17254</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturstein_Brostein">
        <annotation>
          <documentation>17255: Naturstein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17255</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>17256: Grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17256</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangadkomstType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10730</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNINGGANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningGangadkomstEnumerationType nvdb:BelysningGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="BelysningGangadkomstEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10730</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNINGGANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>17379: Ja: Egen belysning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17379</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="delvis">
        <annotation>
          <documentation>17380: Delvis: Gangadkomst er delvis belyst. Kan f.eks være belyst fra trafikkert område i nærheten eller at kun en viss del av gangadkomst er belyst.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17380</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>17381: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkekvalitetType">
    <annotation>
      <documentation>9886: Dekkekvalitet på gangadkomst</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9886</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKVALITET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekkekvalitetEnumerationType nvdb:DekkekvalitetOtherType"/>
  </simpleType>
  <simpleType name="DekkekvalitetEnumerationType">
    <annotation>
      <documentation>9886: Dekkekvalitet på gangadkomst</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9886</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKVALITET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="god">
        <annotation>
          <documentation>16066: God: Fast og jevnt dekke med maks 2 cm terskler/nivåforskjeller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16066</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="middels">
        <annotation>
          <documentation>16067: Middels: Noe ujevnheter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16067</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dårlig">
        <annotation>
          <documentation>16068: Dårlig: Svært ujevnt eller ikke fast dekke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16068</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekkekvalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gangadkomst" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GangadkomstType">
    <annotation>
      <documentation>835: Beskriver hvordan hovedadkomst for gående er utformet, dette gjelder adkomst fra biloppstilling/kollektivtrafikk til angitt funksjon/sted innenfor tilhørende område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">835</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GangadkomstType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="adkomstFraTil" type="nvdb:AdkomstFraTilType">
            <annotation>
              <documentation>9457: Angir hva det er adkomst til og fra hvor</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9457</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTFRATIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minstebredde" type="integer">
            <annotation>
              <documentation>9887: Minste bredde på gangadkomst
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9887</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MINSTEBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningGangadkomstType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10730</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="punkthinder" type="nvdb:PunkthinderGangadkomstType">
            <annotation>
              <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9888</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PUNKTHINDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nivåforskjell" type="nvdb:NivåforskjellType">
            <annotation>
              <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9458</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NIVÅFORSKJELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stigning" type="nvdb:StigningType">
            <annotation>
              <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9459</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningGangadkomstType">
            <annotation>
              <documentation>10686: Angir hvilken type belegning gangadkomsten har. Angi det som er mest av.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10686</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkekvalitet" type="nvdb:DekkekvalitetType">
            <annotation>
              <documentation>9886: Dekkekvalitet på gangadkomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9886</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKVALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9461: Permanent merknad til aktuell forekomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9461</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10299: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10299</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9462: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9462</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangadkomstPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gangadkomst"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NivåforskjellType">
    <annotation>
      <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9458</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NIVÅFORSKJELL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NivåforskjellEnumerationType nvdb:NivåforskjellOtherType"/>
  </simpleType>
  <simpleType name="NivåforskjellEnumerationType">
    <annotation>
      <documentation>9458: Angir om det er nivåforskjell mellom fra- og tilsted</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9458</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NIVÅFORSKJELL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nei_Under2_5Cm">
        <annotation>
          <documentation>13340: Nei, under 2,5 cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13340</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ja_Over2_5Cm">
        <annotation>
          <documentation>13341: Ja, over 2,5 cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13341</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NivåforskjellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstType">
    <annotation>
      <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9888</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PUNKTHINDERGANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PunkthinderGangadkomstEnumerationType nvdb:PunkthinderGangadkomstOtherType"/>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstEnumerationType">
    <annotation>
      <documentation>9888: Angir om det finnes hindringer i form av stolper, skilt, benker etc som reduseres minste frie bredde langs gangadkomst</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9888</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PUNKTHINDERGANGADKOMST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16064: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16064</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16065: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16065</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PunkthinderGangadkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StigningType">
    <annotation>
      <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9459</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StigningEnumerationType nvdb:StigningOtherType"/>
  </simpleType>
  <simpleType name="StigningEnumerationType">
    <annotation>
      <documentation>9459: Angir største stingingsgrad mellom fra- og tilsted</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9459</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="slakereEnn1til20">
        <annotation>
          <documentation>13342: Slakere enn 1:20</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13342</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="slakereEnn1til15">
        <annotation>
          <documentation>13343: Slakere enn 1:15</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13343</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="slakereEnn1til12">
        <annotation>
          <documentation>13356: Slakere enn 1:12</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13356</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brattereEnn1til12">
        <annotation>
          <documentation>13344: Brattere enn 1:12</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13344</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
