XSD/OLFV/V420/49.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V420" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V420" version="2.12">
  <annotation>
    <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy.  Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkøyType">
    <annotation>
      <documentation>2127: Angir hva vegobjektet er belagt med</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2127</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkøyEnumerationType nvdb:BelegningTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkøyEnumerationType">
    <annotation>
      <documentation>2127: Angir hva vegobjektet er belagt med</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2127</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grøntBeplantning">
        <annotation>
          <documentation>3917: Grønt/beplantning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>4053: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4053</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Farget">
        <annotation>
          <documentation>5547: Betong, farget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5547</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Mønstret">
        <annotation>
          <documentation>5548: Betong, mønstret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5548</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_MønstretOgFarget">
        <annotation>
          <documentation>5549: Betong, mønstret og farget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5549</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>5550: Betongheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5550</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>11235: Granitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11235</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7934: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7934</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>3277: Stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3277</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein_FaststøptIBetong">
        <annotation>
          <documentation>5552: Stein, faststøpt i betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5552</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein_Rundstein">
        <annotation>
          <documentation>5553: Stein, rundstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5553</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein_Brostein">
        <annotation>
          <documentation>5554: Stein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5554</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>5555: Pukk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5555</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>2347: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11234: Skiferheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11234</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkøy" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkøyType">
    <annotation>
      <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy.  Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">49</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkøyType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeTrafikkøyType">
            <annotation>
              <documentation>1119: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1119</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="utforming" type="nvdb:UtformingTrafikkøyType">
            <annotation>
              <documentation>2024: Utforming av vegobjekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2024</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belegning" type="nvdb:BelegningTrafikkøyType">
            <annotation>
              <documentation>2127: Angir hva vegobjektet er belagt med</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2127</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="double">
            <annotation>
              <documentation>1363: Angir arealet av vegobjektet.  For fysiske øyer skal arealet regnes til ytterkant kantstein.  Evt. overkjørbart areal skal medregnes.  For malte øyer skal arealet regnes til ytterkant maling.
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL_TOTALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal_Overkjørbart" type="double">
            <annotation>
              <documentation>8786: Angir areal av den delen av trafikkøyen som er overkjørbar.  Dette arealet er tiltenkt framkommelighet for store kjøretøy evt spesialkjøretøy.
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8786</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL_OVERKJØRBART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>10381: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10381</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10716: Gir flate/Polygon som geometrisk avgrenser ytterkant av vegobjekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10716</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATEAVGRENSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trær</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBusker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Busker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKunstUtsmykking" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:KunstUtsmykking</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegoppmerking_Langsgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrasdekker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Grasdekker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBlomsterbeplantning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Blomsterbeplantning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkøyPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkøy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTrafikkøyType">
    <annotation>
      <documentation>1119: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTrafikkøyEnumerationType nvdb:TypeTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="TypeTrafikkøyEnumerationType">
    <annotation>
      <documentation>1119: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="delendeTrafikkøyUtenVenstresvingefelt">
        <annotation>
          <documentation>3207: Delende trafikkøy uten venstresvingefelt: Trafikkøy som normalt benyttes i primærveg, hovedsakelig i T-kryss, for å skille motgående trafikkstrømmer. Trafikkøyen har ikke tilliggende venstresvingefelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3207</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="delendeTrafikkøyMedVenstresvingefelt">
        <annotation>
          <documentation>3208: Delende trafikkøy med venstresvingefelt: Trafikkøy som benyttes i primærveg, i T- og X-kryss,  for å skille motgående trafikkstrømmer. Trafikkøyen har tilliggende venstresvingefelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3208</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dråpeøy">
        <annotation>
          <documentation>3209: Dråpeøy: Trafikkøy som kan benyttes i sekundærveg i T- og X-kryss for å skille motgående trafikkstrømmer.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3209</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trekantøy">
        <annotation>
          <documentation>3210: Trekantøy: Trafikkøy som benyttes i forbindelse med høyresving i T- og X-kryss. Kan benyttes både ved sving fra primærveg til sekundærveg og motsatt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3210</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sentraløy_Rundkjøring">
        <annotation>
          <documentation>3212: Sentraløy, rundkjøring: Trafikkøy i senter av rundkjøring. Inkluderer også eventuelt overkjørbart areal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3212</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trekantdeleøy_Rundkjøring">
        <annotation>
          <documentation>3211: Trekantdeleøy, rundkjøring: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har en tilnærmet trekanta utforming.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3211</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parallelldeleøy_Rundkjøring">
        <annotation>
          <documentation>11632: Parallelldeleøy, rundkjøring: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har tilnærmet jevn bredde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11632</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trompetdeleøy_Rundkjøring">
        <annotation>
          <documentation>11633: Trompetdeleøy, rundkjøring: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har jen utforming som minner om enden på en trompet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11633</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy_Ved_Filterfelt">
        <annotation>
          <documentation>12976: Trafikkøy v filterfelt: Trafikkøy mellom filterfelt og kryss.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12976</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy_Ved_Fotgjengerovergang">
        <annotation>
          <documentation>3213: Trafikkøy v fotgjengerovergang: Trafikkøy i forbindelse med fotgjengerfelt. Ligger mellom to kjørefelt. Gir mulighet for fotgjengere å krysse vegen i to etapper.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3213</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy_Ved_Snuplass">
        <annotation>
          <documentation>3214: Trafikkøy v snuplass: Trafikkøy i tilknytning til snuplass. Benyttes først og fremst i senter av sirkulære snuplasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3214</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyType">
    <annotation>
      <documentation>2024: Utforming av vegobjekt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2024</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikkøyEnumerationType nvdb:UtformingTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikkøyEnumerationType">
    <annotation>
      <documentation>2024: Utforming av vegobjekt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2024</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMINGTRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="malt">
        <annotation>
          <documentation>3220: Malt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3220</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fysiskMKantstein">
        <annotation>
          <documentation>3224: Fysisk m kantstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3224</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
