XSD/OLFV/V420/519.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V420" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V420" version="2.12">
  <annotation>
    <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="NedfresingVegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDFRESINGVEGOPPMERKING_TVERRGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NedfresingVegoppmerking_TverrgåendeEnumerationType nvdb:NedfresingVegoppmerking_TverrgåendeOtherType"/>
  </simpleType>
  <simpleType name="NedfresingVegoppmerking_TverrgåendeEnumerationType">
    <annotation>
      <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDFRESINGVEGOPPMERKING_TVERRGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>18274: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18274</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>18275: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18275</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingVegoppmerking_TverrgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>4167: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGOPPMERKING_TVERRGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVegoppmerking_TverrgåendeEnumerationType nvdb:TypeVegoppmerking_TverrgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeEnumerationType">
    <annotation>
      <documentation>4167: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGOPPMERKING_TVERRGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fartsgrense_1054">
        <annotation>
          <documentation>16781: Fartsgrense (1054)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16781</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stopplinje_1020">
        <annotation>
          <documentation>5168: Stopplinje (1020)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vikelinje_1022">
        <annotation>
          <documentation>5167: Vikelinje (1022)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5167</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangfelt_1024">
        <annotation>
          <documentation>5147: Gangfelt (1024)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5147</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelkryssing_1026_1">
        <annotation>
          <documentation>5315: Sykkelkryssing (1026.1): Kryssingsfelt beregnet for sykkeltrafikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5315</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelkryssingInntilGangfelt_1026_2">
        <annotation>
          <documentation>16777: Sykkelkryssing inntil gangfelt (1026.2): Kryssingsfelt beregnet for sykkeltrafikk som ligger inntil gangfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16777</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fartshump_1027">
        <annotation>
          <documentation>11740: Fartshump (1027)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11740</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parkeringsfelt_1028">
        <annotation>
          <documentation>5261: Parkeringsfelt (1028)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5261</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rumlefelt">
        <annotation>
          <documentation>5165: Rumlefelt: Felt som er utformet slik at det ved kjøring over i stor fart framkommer en rumlende lyd (017) Vegreferanse angis for start rumlefelt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5165</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vikesymbol_1036">
        <annotation>
          <documentation>5156: Vikesymbol (1036)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5156</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangsymbol_1038_1">
        <annotation>
          <documentation>5158: Gangsymbol (1038.1)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5158</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelsymbol_1038_2">
        <annotation>
          <documentation>5157: Sykkelsymbol (1038.2)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5157</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parkeringssymbol_1040">
        <annotation>
          <documentation>5316: Parkeringssymbol (1040)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5316</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="symbolForForflytningshemmede_1042">
        <annotation>
          <documentation>5159: Symbol for forflytningshemmede (1042)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skinnekjøretøy_1044">
        <annotation>
          <documentation>16778: Skinnekjøretøy (1044)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Stopp_1050_1">
        <annotation>
          <documentation>5162: Tekst, stopp (1050.1)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5162</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Buss_1050_2">
        <annotation>
          <documentation>5163: Tekst, buss (1050.2)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5163</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Taxi_1050_3">
        <annotation>
          <documentation>5164: Tekst, taxi (1050.3)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5164</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Vegvisning_1050_4">
        <annotation>
          <documentation>5161: Tekst, vegvisning (1050.4)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5161</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Skole_1050_5">
        <annotation>
          <documentation>16779: Tekst, skole (1050.5)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tekst_Sambruksfelt_1052">
        <annotation>
          <documentation>16780: Tekst, sambruksfelt (1052): F.eks "2+"</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16780</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Minirundkjøring_1034">
        <annotation>
          <documentation>16782: Pil, minirundkjøring (1034)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034RH">
        <annotation>
          <documentation>5150: Pil, kjøreretn, (1034.RH)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034RV">
        <annotation>
          <documentation>5151: Pil, kjøreretn, (1034.RV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5151</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034RHV">
        <annotation>
          <documentation>5152: Pil, kjøreretn, (1034.RHV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5152</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034V">
        <annotation>
          <documentation>5153: Pil, kjøreretn, (1034.V)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5153</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034H">
        <annotation>
          <documentation>5154: Pil, kjøreretn, (1034.H)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5154</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034HV">
        <annotation>
          <documentation>5155: Pil, kjøreretn, (1034.HV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5155</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Feltskifte_1034V">
        <annotation>
          <documentation>5169: Pil, feltskifte, (1034.V)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Kjøreretn_1034R">
        <annotation>
          <documentation>5149: Pil, kjøreretn, (1034.R)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5149</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pil_Feltskifte_1034H">
        <annotation>
          <documentation>5170: Pil, feltskifte, (1034.H)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mangler">
        <annotation>
          <documentation>10240: Mangler: Angir at det mangler informasjon om type.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10240</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegoppmerking_Tverrgående" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Vegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">519</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGOPPMERKING_TVERRGÅENDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegoppmerking_TverrgåendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeVegoppmerking_TverrgåendeType">
            <annotation>
              <documentation>4167: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedfresing" type="nvdb:NedfresingVegoppmerking_TverrgåendeType">
            <annotation>
              <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDFRESING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>4173: Angir bredde av vegobjektet.  Bredde måles på tvers av symbol/tekst sin lengderetning.  Tverrsgående oppmerking som f.eks "gangfelt har lengderetning på tvers av vegen.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4173</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>4169: Angir lengde av vegobjektet, måles i oppmerkingens lengderetning.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4169</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tekst_Vegvisning" type="string">
            <annotation>
              <documentation>4174: Angir vegnummer eller stedsnavn som er tekster i vegbanen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4174</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEKST_VEGVISNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallViketrekanter" type="integer">
            <annotation>
              <documentation>4181: Angir hvor mange viketrekanter det er.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4181</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLVIKETREKANTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRomlelinjer" type="integer">
            <annotation>
              <documentation>4185: Angir hvor mange linjer som inngår i romlefelt
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4185</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLROMLELINJER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallGangfeltstaver" type="integer">
            <annotation>
              <documentation>4518: Angir hvor mange staver (striper) det er i et gangfelt
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4518</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLGANGFELTSTAVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5020: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5020</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9395: Geometrisk linje som representerer symbolet, benyttes f.eks for vikelinjer, etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegoppmerking_TverrgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegoppmerking_Tverrgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
