XSD/OLFV/V420/66.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V420" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V420" version="2.12">
  <annotation>
    <documentation>66: Konstruksjon som omslutter vegen for å beskytte den mot skred.  Tak og vegg inn mot skråning er massive.  Vegg ut fra skråning er åpen eller evt. tettet med lettere materiale.  Se også utgått Håndbok 100</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Skredoverbygg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkredoverbyggType">
    <annotation>
      <documentation>66: Konstruksjon som omslutter vegen for å beskytte den mot skred.  Tak og vegg inn mot skråning er massive.  Vegg ut fra skråning er åpen eller evt. tettet med lettere materiale.  Se også utgått Håndbok 100</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">66</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDOVERBYGG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredoverbyggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>5282: Angir navn på skredoverbygget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5282</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeSkredoverbyggType">
            <annotation>
              <documentation>9508: Angir hvilken type skredoverbygg det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9508</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>1316: Angir lengde av vegobjektet
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1316</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>10361: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10361</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4768: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4768</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydebegrensning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Høydebegrensning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredoverbyggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredoverbygg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkredoverbyggType">
    <annotation>
      <documentation>9508: Angir hvilken type skredoverbygg det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9508</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKREDOVERBYGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredoverbyggEnumerationType nvdb:TypeSkredoverbyggOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredoverbyggEnumerationType">
    <annotation>
      <documentation>9508: Angir hvilken type skredoverbygg det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9508</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKREDOVERBYGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="skredoverbygg_Uten_Fjellforankring">
        <annotation>
          <documentation>13398: Skredoverbygg, u/fjellforankring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13398</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Uten_Fjellforank_Sålefund_HelFrontvegg">
        <annotation>
          <documentation>13399: Skredoverbygg, u/fjellforank., sålefund., hel frontvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13399</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Uten_Fjellforank_Sålefund_ÅpenFrontvegg">
        <annotation>
          <documentation>13400: Skredoverbygg, u/fjellforank., sålefund., åpen frontvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13400</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Uten_Fjellforankring_Kassetverrsnitt">
        <annotation>
          <documentation>13401: Skredoverbygg, u/fjellforankring, kassetverrsnitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13401</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredbyggUten_Fjellforankring_Rørtverrsnitt">
        <annotation>
          <documentation>13402: Skredbygg u/fjellforankring, rørtverrsnitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13402</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Uten_Fjellforankring_Andre">
        <annotation>
          <documentation>13403: Skredoverbygg, u/fjellforankring, andre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13403</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbyggMed_Fjellforankring">
        <annotation>
          <documentation>13404: Skredoverbygg m/fjellforankring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbyggMed_Fjellforank_HelFrontvegg_Uten_Bakvegg">
        <annotation>
          <documentation>13405: Skredoverbygg m/fjellforank., hel frontvegg, u/bakvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13405</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Med_Fjellforank_HelFrontvegg_Med_Bakvegg">
        <annotation>
          <documentation>13406: Skredoverbygg, m/fjellforank., hel frontvegg, m/bakvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Med_Fjellforank_ÅpenFrontvegg_Uten_Bakvegg">
        <annotation>
          <documentation>13407: Skredoverbygg, m/fjellforank., åpen frontvegg, u/bakvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13407</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Med_Fjellforank_ÅpenFrontvegg_Med_Bakvegg">
        <annotation>
          <documentation>13408: Skredoverbygg, m/fjellforank., åpen frontvegg, m/bakvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg_Med_Fjellforankring_Andre">
        <annotation>
          <documentation>13409: Skredoverbygg, m/fjellforankring, andre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13409</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredoverbyggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
