XSD/NVDB/571/570.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>570: Informasjon om ulykkessted, værforhold, skadeomfang mm. Gjelder primært ulykker med personskader</documentation>
  </annotation>
  <include schemaLocation="UlykkesinvolvertEnhet.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkulykke" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkulykkeType">
    <annotation>
      <documentation>570: Informasjon om ulykkessted, værforhold, skadeomfang mm. Gjelder primært ulykker med personskader</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">570</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKULYKKE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkulykkeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="alvorligsteSkadegrad" type="gml:CodeType">
            <annotation>
              <documentation>5074: Alvorligste skadegrad i ulykken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5074</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALVORLIGSTESKADEGRAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="ulykkesdato" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5055</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ULYKKESDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ulykkestidspunkt" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5056</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ULYKKESTIDSPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ukedag" type="gml:CodeType">
            <annotation>
              <documentation>5054: UKEDAG FRA 1 TIL 7 SOM ANGIR DAGEN ULYKKEN INTREFFER PÅ.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5054</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UKEDAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdatoForFagdata" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5057</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATOFORFAGDATA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ulykkeRegistrertAv" type="string">
            <annotation>
              <documentation>5058: Initialer til den som har registrert ulykken.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5058</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ULYKKEREGISTRERTAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="meldingsdato" type="date">
            <annotation>
              <documentation>5059: Meldingsdato for ulykken.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5059</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MELDINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="behandlendePolitidistrikt" type="integer">
            <annotation>
              <documentation>5060: Behandlende politidistrikt for ulykken.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5060</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEHANDLENDEPOLITIDISTRIKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="anmeldelsesnummer" type="integer">
            <annotation>
              <documentation>5061: Politiets saksnummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5061</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANMELDELSESNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kildeForUlykken" type="gml:CodeType">
            <annotation>
              <documentation>5062: Kilde for ulykken.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5062</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KILDEFORULYKKEN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringStatus" type="gml:CodeType">
            <annotation>
              <documentation>5063: Merke for om alle data om ulykken er registrert eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5063</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSTATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="uhellKategori" type="gml:CodeType">
            <annotation>
              <documentation>5065: Beskriver ulykken med hensyn på innblanda trafikkanter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5065</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UHELLKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="uhellskode" type="gml:CodeType">
            <annotation>
              <documentation>5066: Angir hvilken type uhell trafikkulykken er karakterisert som. Uhellskoden bestemmes ut fra hva som er den utløsende trafikksituasjonen. Hvis den enheten/trafikanten som antas å ha vært uhellsutløsende ikke har blitt skadet, og det ikke kan verifiseres at vedkommende har vært part i saken, må den endelige uhellssituasjonen gis som uhellskode, og antatt utløsende situasjon angis ved alternativ uhellskode</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5066</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UHELLSKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alternativUhellskode" type="gml:CodeType">
            <annotation>
              <documentation>5067: Angir hvilken type uhell trafikkulykken alternativt kan karakteriseres som. Denne skal bare angis i tilfeller hvor den endelige uhellssituasjonen skiller seg fra den utløsende, eller at en annen uhellskode kan beskrive vesentlige deler av hendelsesforløpet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5067</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALTERNATIVUHELLSKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>5068: Beskrivelse av hendelsesforløp for ulykka.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5068</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsbeskrivelse" type="string">
            <annotation>
              <documentation>7571: Kommentarer/beskrivelser fra SSB og eller Politiet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7571</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSBESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallEnheter" type="integer">
            <annotation>
              <documentation>5069: Antall enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se Kjøretøytype under Ulykkesinvolvert person
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5069</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLENHETER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallDrepteIUlykken" type="integer">
            <annotation>
              <documentation>5070: Antall drepte personer i ulykken for alle involverte enheter.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5070</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLDREPTEIULYKKEN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallMegetAlvorligSkadet" type="integer">
            <annotation>
              <documentation>5071: Antall personer involvert i ulykken med skadegrad 2.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5071</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLMEGETALVORLIGSKADET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallAlvorligSkadet" type="integer">
            <annotation>
              <documentation>5072: Antall personer involvert i ulykken med skadegrad 3.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5072</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLALVORLIGSKADET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLettereSkadet" type="integer">
            <annotation>
              <documentation>5073: Antall personer involvert i ulykken med skadegrad 4.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5073</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLETTERESKADET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppgittAntallSkadde" type="integer">
            <annotation>
              <documentation>8764: Sum antall skadde (unntatt drepte) i trafikkulykka som er oppgitt i rubrikken "Antall skadde" i politirapporten for ulykka.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8764</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPGITTANTALLSKADDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegtype" type="gml:CodeType">
            <annotation>
              <documentation>5075: Vegtype.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5075</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsforhold" type="gml:CodeType">
            <annotation>
              <documentation>5076: Stedsforhold på ulykkessted</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5076</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midtdeler" type="gml:CodeType">
            <annotation>
              <documentation>5758: Angir om det var midtdeler på vegen hvor ulykka skjedde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5758</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MIDTDELER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forsterketVegoppmerking" type="gml:CodeType">
            <annotation>
              <documentation>10736: Angir i hvilken grad vegen der trafikkulykka skjedde hadde forsterket vegoppmerking</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10736</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORSTERKETVEGOPPMERKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekketype" type="gml:CodeType">
            <annotation>
              <documentation>5077: Dekketype.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5077</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="føreforhold" type="gml:CodeType">
            <annotation>
              <documentation>5078: FØREFORHOLD PÅ ULYKKESSTED</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5078</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FØREFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="værforhold" type="gml:CodeType">
            <annotation>
              <documentation>5079: Værforhold på ulykkessted/tidspunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5079</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VÆRFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysforhold" type="gml:CodeType">
            <annotation>
              <documentation>5080: Lysforhold på ulykkessted/tidspunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5080</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felttype" type="gml:CodeType">
            <annotation>
              <documentation>5081: Felttype.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FELTTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKjørefelt" type="integer">
            <annotation>
              <documentation>5082: Antall kjørefelt.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5082</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLKJØREFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bebyggelse" type="gml:CodeType">
            <annotation>
              <documentation>5083: Bebyggelse på ulykkesstedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5083</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEBYGGELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbredde" type="double">
            <annotation>
              <documentation>5084: Angir vegbredde på ulykkesstedet
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5084</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fartsgrense" type="gml:CodeType">
            <annotation>
              <documentation>5085: Angir fartsgrense på ulykkesstedet
Enhet: Kilometer/time</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5085</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSGRENSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="temperatur" type="integer">
            <annotation>
              <documentation>5086: Temperatur i grader Celsius.
Enhet: Grader Celcius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5086</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="okSSB" type="gml:CodeType">
            <annotation>
              <documentation>5087: Om STRAKS-ulykka er sjekket Ok mot SSB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5087</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OKSSB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunenr" type="integer">
            <annotation>
              <documentation>8796: Kommunenummer.  Kan normalt utledes fra ulykkas stedfesting, men nødvendig pga. mangelfull stedfesting og i kommunikasjon med SSB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8796</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNENR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskVegstatus" type="gml:CodeType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5163</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HISTORISKVEGSTATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskVegkategori" type="gml:CodeType">
            <annotation>
              <documentation>5115: Vegkategori på ulykkestidspunktet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5115</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HISTORISKVEGKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskVegnummer" type="integer">
            <annotation>
              <documentation>5116: Vegnummer på uhellstidspunktet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5116</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HISTORISKVEGNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskHp" type="integer">
            <annotation>
              <documentation>5117: Hovedparsell på uhellstidspunktet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5117</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HISTORISKHP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="historiskKilometerverdi" type="integer">
            <annotation>
              <documentation>5118: Kilometerverdi på uhellstidspunkt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5118</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HISTORISKKILOMETERVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegnavn" type="string">
            <annotation>
              <documentation>5119: Beskrivelse (navn) på vegen. Benyttes i STRAKS 2.0.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5119</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedfestingensNøyaktighet" type="gml:CodeType">
            <annotation>
              <documentation>5120: Nøyaktigheten for stedfesting av en ulykke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5120</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDFESTINGENSNØYAKTIGHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5123: Angir koordinater for å stedfeste ulykke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5123</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="assosiertUlykkesinvolvertEnhet" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:UlykkesinvolvertEnhet</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkulykkePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkulykke"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
