XSD/NVDB/571/571.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>571: Enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se kjøretøytype</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">571</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="UlykkesinvolvertEnhet.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BevegelseType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5094</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEVEGELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BevegelseEnumerationType nvdb:BevegelseOtherType"/>
  </simpleType>
  <simpleType name="BevegelseEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5094</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEVEGELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="rettFram">
        <annotation>
          <documentation>6554: Rett fram</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6554</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uSvingTilVenstre">
        <annotation>
          <documentation>6555: U sving til venstre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6555</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uSvingTilHøyre">
        <annotation>
          <documentation>6556: U sving til høyre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6556</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="svingTilVenstre">
        <annotation>
          <documentation>6557: Sving til venstre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6557</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="svingTilHøyre">
        <annotation>
          <documentation>6558: Sving til høyre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6558</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbikjøringFeltbytteTilVenstre">
        <annotation>
          <documentation>6559: Forbikjøring/feltbytte til venstre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6559</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbikjøringFeltbytteTilHøyre">
        <annotation>
          <documentation>6560: Forbikjøring/feltbytte til høyre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6560</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uteAvKontroll">
        <annotation>
          <documentation>6561: Ute av kontroll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6561</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="startFraStillestående">
        <annotation>
          <documentation>6562: Start fra stillestående</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6562</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="akselerasjon">
        <annotation>
          <documentation>6563: Akselerasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6563</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bremsendeIRoPgaTrafikk">
        <annotation>
          <documentation>6564: Bremsende/i ro pga trafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6564</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stansetForVenstresving">
        <annotation>
          <documentation>6565: Stanset for venstresving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6565</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stansetForHøyresving">
        <annotation>
          <documentation>6566: Stanset for høyresving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6566</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ryggende">
        <annotation>
          <documentation>6567: Ryggende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6567</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parkertStillestående">
        <annotation>
          <documentation>6568: Parkert / stillestående</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6568</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>6569: Annet: annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6569</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6570: Ukjent: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6570</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BevegelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekktypeType">
    <annotation>
      <documentation>Dekktype: Type dekk på enhet i STRAKS</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5106</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekktypeEnumerationType nvdb:DekktypeOtherType"/>
  </simpleType>
  <simpleType name="DekktypeEnumerationType">
    <annotation>
      <documentation>Dekktype: Type dekk på enhet i STRAKS</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5106</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="sommerdekk">
        <annotation>
          <documentation>6648: Sommerdekk: Sommerdekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6648</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vinterdekkUtenPigger">
        <annotation>
          <documentation>6649: Vinterdekk uten pigger: Vinterdekk uten pigger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6649</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vinterdekkMedPigger">
        <annotation>
          <documentation>6650: Vinterdekk med pigger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6650</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>6651: Annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6651</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6652: Ukjent: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6652</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekktypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnhetsbokstavType">
    <annotation>
      <documentation>Enhetsbokstav: Hver enhet i en ulykke kodes med en enhetsbokstav fra A til Z (fortløpende).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5089</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETSBOKSTAV</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnhetsbokstavEnumerationType nvdb:EnhetsbokstavOtherType"/>
  </simpleType>
  <simpleType name="EnhetsbokstavEnumerationType">
    <annotation>
      <documentation>Enhetsbokstav: Hver enhet i en ulykke kodes med en enhetsbokstav fra A til Z (fortløpende).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5089</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENHETSBOKSTAV</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="a">
        <annotation>
          <documentation>6987: A</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6987</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>6988: B</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6988</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>6989: C</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6989</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>6990: D</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6990</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="e">
        <annotation>
          <documentation>6991: E</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6991</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="f">
        <annotation>
          <documentation>6992: F</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6992</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="g">
        <annotation>
          <documentation>6993: G</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6993</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="h">
        <annotation>
          <documentation>6994: H</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6994</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="i">
        <annotation>
          <documentation>6995: I</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6995</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="j">
        <annotation>
          <documentation>6996: J</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6996</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="k">
        <annotation>
          <documentation>6997: K</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6997</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="l">
        <annotation>
          <documentation>6998: L</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6998</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>6999: M</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6999</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="n">
        <annotation>
          <documentation>7000: N</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="o">
        <annotation>
          <documentation>7001: O</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7001</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="p">
        <annotation>
          <documentation>7002: P</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7002</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="q">
        <annotation>
          <documentation>7003: Q</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7003</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="r">
        <annotation>
          <documentation>7004: R</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7004</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="s">
        <annotation>
          <documentation>7005: S</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7005</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t">
        <annotation>
          <documentation>7006: T</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7006</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="u">
        <annotation>
          <documentation>7007: U</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7007</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="v">
        <annotation>
          <documentation>7008: V</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7008</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="w">
        <annotation>
          <documentation>7009: W</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7009</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="x">
        <annotation>
          <documentation>7010: X</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="y">
        <annotation>
          <documentation>7011: Y</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7011</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="z">
        <annotation>
          <documentation>7012: Z</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7012</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation>8957: a</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>8958: b</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8958</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>8959: c</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8959</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>8960: d</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8960</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="e">
        <annotation>
          <documentation>8961: e</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8961</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="f">
        <annotation>
          <documentation>8962: f</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8962</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="g">
        <annotation>
          <documentation>8963: g</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8963</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="h">
        <annotation>
          <documentation>8964: h</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8964</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="i">
        <annotation>
          <documentation>8965: i</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8965</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="j">
        <annotation>
          <documentation>8966: j</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8966</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="k">
        <annotation>
          <documentation>8967: k</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8967</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="l">
        <annotation>
          <documentation>8968: l</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8968</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>8969: m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8969</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="n">
        <annotation>
          <documentation>8970: n</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8970</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="o">
        <annotation>
          <documentation>8971: o</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="p">
        <annotation>
          <documentation>8972: p</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8972</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="q">
        <annotation>
          <documentation>8973: q</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="r">
        <annotation>
          <documentation>8974: r</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8974</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="s">
        <annotation>
          <documentation>8975: s</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8975</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t">
        <annotation>
          <documentation>8976: t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8976</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="u">
        <annotation>
          <documentation>8977: u</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8977</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="v">
        <annotation>
          <documentation>8978: v</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="w">
        <annotation>
          <documentation>8979: w</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="x">
        <annotation>
          <documentation>8980: x</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8980</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="y">
        <annotation>
          <documentation>8981: y</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8981</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="z">
        <annotation>
          <documentation>8982: z</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8982</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnhetsbokstavOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FerdselsformålType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5097</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FERDSELSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FerdselsformålEnumerationType nvdb:FerdselsformålOtherType"/>
  </simpleType>
  <simpleType name="FerdselsformålEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5097</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FERDSELSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tilFraArbeid">
        <annotation>
          <documentation>6574: Til/fra arbeid</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6574</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iArbeid">
        <annotation>
          <documentation>6575: I arbeid</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6575</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tilFraSkole">
        <annotation>
          <documentation>6576: Til/fra skole</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6576</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fritidsreise">
        <annotation>
          <documentation>6578: Fritidsreise</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6578</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="øvelseskjøring">
        <annotation>
          <documentation>6579: Øvelseskjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6579</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetFormål">
        <annotation>
          <documentation>6583: Annet formål: Annet formål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6583</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6584: Ukjent: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6584</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FerdselsformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FørsteBerøringspunktType">
    <annotation>
      <documentation>Første berøringspunkt: Det punkt på kjøretøyet hvor det anslagsvis ble truffet først</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5101</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FØRSTEBERØRINGSPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FørsteBerøringspunktEnumerationType nvdb:FørsteBerøringspunktOtherType"/>
  </simpleType>
  <simpleType name="FørsteBerøringspunktEnumerationType">
    <annotation>
      <documentation>Første berøringspunkt: Det punkt på kjøretøyet hvor det anslagsvis ble truffet først</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5101</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FØRSTEBERØRINGSPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="takHode">
        <annotation>
          <documentation>9850: Tak/hode</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9850</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høyreForan">
        <annotation>
          <documentation>9852: Høyre foran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9852</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høyreSideForan">
        <annotation>
          <documentation>9853: Høyre side foran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9853</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høyreSide">
        <annotation>
          <documentation>9854: Høyre side</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9854</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høyreSideBak">
        <annotation>
          <documentation>9855: Høyre side bak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9855</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høyreBak">
        <annotation>
          <documentation>9856: Høyre bak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9856</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rettBak">
        <annotation>
          <documentation>9857: Rett bak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9857</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venstreBak">
        <annotation>
          <documentation>9858: Venstre bak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9858</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venstreSideBak">
        <annotation>
          <documentation>9859: Venstre side bak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9859</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venstreSide">
        <annotation>
          <documentation>9860: Venstre side</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9860</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venstreSideForan">
        <annotation>
          <documentation>9861: Venstre side foran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9861</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="venstreForan">
        <annotation>
          <documentation>9862: Venstre foran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9862</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rettForan">
        <annotation>
          <documentation>9863: Rett foran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9863</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>9864: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9864</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FørsteBerøringspunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HinderTypeType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5104</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HINDERTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HinderTypeEnumerationType nvdb:HinderTypeOtherType"/>
  </simpleType>
  <simpleType name="HinderTypeEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5104</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HINDERTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="intetHinderPåkjørt">
        <annotation>
          <documentation>6626: Intet hinder påkjørt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6626</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiltstolpe">
        <annotation>
          <documentation>6627: Skiltstolpe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6627</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="signalstolpe">
        <annotation>
          <documentation>6628: Signalstolpe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6628</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lysmastAvTre">
        <annotation>
          <documentation>6629: Lysmast av tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6629</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lysmastAvStål">
        <annotation>
          <documentation>6630: Lysmast av stål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6630</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annenMastStolpe">
        <annotation>
          <documentation>6631: Annen mast / stolpe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6631</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>6632: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6632</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gjerdeRekkverk">
        <annotation>
          <documentation>6633: Gjerde, rekkverk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6633</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="murBygning">
        <annotation>
          <documentation>6634: Mur, bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6634</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="steinFjellvegg">
        <annotation>
          <documentation>6635: Stein, fjellvegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6635</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kantstein">
        <annotation>
          <documentation>6636: Kantstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6636</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="parkertKjøretøy">
        <annotation>
          <documentation>6637: Parkert kjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6637</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annenGjenstandIKjørebanen">
        <annotation>
          <documentation>6638: Annen gjenstand i kjørebanen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6638</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="størreTamdyrKuMm">
        <annotation>
          <documentation>6639: Større tamdyr (ku mm.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6639</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mindreTamdyrKattMm">
        <annotation>
          <documentation>6640: Mindre tamdyr ( katt mm.): Mindre tamdyr ( katt mm.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6640</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="elg">
        <annotation>
          <documentation>6641: Elg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6641</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rein">
        <annotation>
          <documentation>6642: Rein: Rein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6642</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rådyrHjort">
        <annotation>
          <documentation>6643: Rådyr, hjort</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6643</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetVilt">
        <annotation>
          <documentation>6644: Annet vilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6644</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjentDyr">
        <annotation>
          <documentation>6645: Ukjent dyr</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6645</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>6646: Annet: annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6646</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6647: Ukjent: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6647</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HinderTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjøreretningType">
    <annotation>
      <documentation>Kjøreretning: Angir hvilken retning kjøretøyet beveget seg i forhold til metreringsretning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5757</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRERETNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjøreretningEnumerationType nvdb:KjøreretningOtherType"/>
  </simpleType>
  <simpleType name="KjøreretningEnumerationType">
    <annotation>
      <documentation>Kjøreretning: Angir hvilken retning kjøretøyet beveget seg i forhold til metreringsretning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5757</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRERETNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="medMetreringsretning">
        <annotation>
          <documentation>7995: Med metreringsretning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7995</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motMetreringsretning">
        <annotation>
          <documentation>7996: Mot metreringsretning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7996</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøreretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeUlykkesinvolvertEnhetType">
    <annotation>
      <documentation>Kjøretøytype: Alle kjøretøy er gitt sin egen kode fra 01 til 99.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5090</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPEULYKKESINVOLVERTENHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjøretøytypeUlykkesinvolvertEnhetEnumerationType nvdb:KjøretøytypeUlykkesinvolvertEnhetOtherType"/>
  </simpleType>
  <simpleType name="KjøretøytypeUlykkesinvolvertEnhetEnumerationType">
    <annotation>
      <documentation>Kjøretøytype: Alle kjøretøy er gitt sin egen kode fra 01 til 99.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5090</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPEULYKKESINVOLVERTENHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fotgjenger">
        <annotation>
          <documentation>6499: Fotgjenger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6499</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="akende">
        <annotation>
          <documentation>6500: Akende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6500</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ski">
        <annotation>
          <documentation>6501: Ski</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6501</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rulleskiRulleskøyterRullebrett">
        <annotation>
          <documentation>6502: Rulleski, rulleskøyter, rullebrett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6502</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sparkstøttingRullesparkstøtting">
        <annotation>
          <documentation>6503: Sparkstøtting, rullesparkstøtting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6503</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkel">
        <annotation>
          <documentation>6504: Sykkel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6504</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hestMedRytter">
        <annotation>
          <documentation>6505: Hest med rytter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6505</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hestMedVognHestekjøretøy">
        <annotation>
          <documentation>6506: Hest med vogn, hestekjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6506</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="moped">
        <annotation>
          <documentation>6507: Moped</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6507</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lettMotorsykkel">
        <annotation>
          <documentation>6508: Lett motorsykkel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6508</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tungMotorsykkel">
        <annotation>
          <documentation>6509: Tung motorsykkel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6509</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motorsykkelMedSidevogn">
        <annotation>
          <documentation>6510: Motorsykkel med sidevogn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6510</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snøscooter">
        <annotation>
          <documentation>6511: Snøscooter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6511</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rullestolElektriskDrevetRullestolSykkel">
        <annotation>
          <documentation>6512: Rullestol, elektrisk drevet rullestol/sykkel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6512</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="aTVÅpen3Eller4HjulsMCMopedEllerTraktor">
        <annotation>
          <documentation>9561: ATV (åpen 3- eller 4-hjuls MC, moped eller traktor)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9561</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="elBil">
        <annotation>
          <documentation>9562: El-bil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9562</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lukket3Eller4HjulsMCMopedEllerTraktor">
        <annotation>
          <documentation>13463: Lukket 3- eller 4-hjuls MC, moped eller traktor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13463</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="personbilStasjonsvogn">
        <annotation>
          <documentation>6513: Personbil, stasjonsvogn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6513</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="drosjeOgsåMinibuss">
        <annotation>
          <documentation>6514: Drosje (også minibuss)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6514</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bussMinibussIRute">
        <annotation>
          <documentation>6515: Buss/minibuss i rute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6515</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="minibussPrivat">
        <annotation>
          <documentation>6516: Minibuss (privat)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6516</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annenBussTurvogn">
        <annotation>
          <documentation>6517: Annen buss, turvogn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6517</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ambulanseUnderUtrykningBlålysOgEllerSærskiltLydsig">
        <annotation>
          <documentation>6518: Ambulanse under utrykning (blålys og/eller særskilt lydsignal)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6518</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="politiUnderUtrykningBlålysOgEllerSærskiltLydsignal">
        <annotation>
          <documentation>6519: Politi under utrykning (blålys og/eller særskilt lydsignal)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6519</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brannbilUnderUtrykningBlålysOgEllerSærskiltLydsign">
        <annotation>
          <documentation>6520: Brannbil under utrykning (blålys og/eller særskilt lydsignal)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6520</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="varebil">
        <annotation>
          <documentation>6521: Varebil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6521</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lastebil">
        <annotation>
          <documentation>6522: Lastebil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6522</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kombinertBil">
        <annotation>
          <documentation>6523: Kombinert bil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6523</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trekkbilUtenSemitrailer">
        <annotation>
          <documentation>6524: Trekkbil (uten semitrailer)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6524</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="personbilStasjonsvognMedCampingvogn">
        <annotation>
          <documentation>6525: Personbil/stasjonsvogn med campingvogn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6525</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="varebilMedCampingvogn">
        <annotation>
          <documentation>6526: Varebil med campingvogn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6526</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tankbil">
        <annotation>
          <documentation>6527: Tankbil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6527</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="campingbilBobilKombibil">
        <annotation>
          <documentation>6528: Campingbil, bobil, kombibil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6528</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="personbilStasjonsvognMedTilhTilhRedskapUnntattCamp">
        <annotation>
          <documentation>6529: Personbil/stasjonsvogn med tilh./tilh.redskap (unntatt camp.vogn)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6529</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="varebilMedTilhengerTilhengerredskapUnntattCampingv">
        <annotation>
          <documentation>6530: Varebil med tilhenger/tilhengerredskap (unntatt campingvogn)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6530</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lastebilMedPåhengsvogn1Akslet">
        <annotation>
          <documentation>6531: Lastebil med påhengsvogn (1-akslet)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6531</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lastebilMedSlepevogn2Akslet">
        <annotation>
          <documentation>6532: Lastebil med slepevogn (2-akslet)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6532</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lastebilMedTilhengerredskap">
        <annotation>
          <documentation>6533: Lastebil med tilhengerredskap</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6533</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kombinertBilMedTilhengerTilhengerredskap">
        <annotation>
          <documentation>6534: Kombinert bil med tilhenger/tilhengerredskap</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6534</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trekkbilMedSemitrailer">
        <annotation>
          <documentation>6535: Trekkbil med semitrailer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6535</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tankbilMedTilhenger">
        <annotation>
          <documentation>6536: Tankbil med tilhenger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6536</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="beltebilAnnenBil">
        <annotation>
          <documentation>6537: Beltebil, annen bil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6537</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="traktorOrdinær">
        <annotation>
          <documentation>6538: Traktor (ordinær)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6538</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tilhengerTilhengerredskapUtenTrekkvogn">
        <annotation>
          <documentation>6539: Tilhenger/tilhengerredskap uten trekkvogn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6539</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jernbanetog">
        <annotation>
          <documentation>6540: Jernbanetog</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6540</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sporvognTrikk">
        <annotation>
          <documentation>6541: Sporvogn, trikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6541</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetKjøretøy">
        <annotation>
          <documentation>6542: Annet kjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6542</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjentKjøretøy">
        <annotation>
          <documentation>6543: Ukjent kjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6543</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjøretøytypeUlykkesinvolvertEnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringslandType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5102</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSLAND</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RegistreringslandEnumerationType nvdb:RegistreringslandOtherType"/>
  </simpleType>
  <simpleType name="RegistreringslandEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5102</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSLAND</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="norge">
        <annotation>
          <documentation>6605: Norge</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6605</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sverige">
        <annotation>
          <documentation>6606: Sverige</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6606</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="danmark">
        <annotation>
          <documentation>6607: Danmark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6607</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="finland">
        <annotation>
          <documentation>6608: Finland</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6608</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="storbritannia">
        <annotation>
          <documentation>6609: Storbritannia</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6609</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tyskland">
        <annotation>
          <documentation>6610: Tyskland</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6610</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="frankrike">
        <annotation>
          <documentation>6611: Frankrike</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6611</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nederland">
        <annotation>
          <documentation>6612: Nederland</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6612</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="belgia">
        <annotation>
          <documentation>6613: Belgia</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6613</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="luxembourg">
        <annotation>
          <documentation>6614: Luxembourg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6614</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="østerrike">
        <annotation>
          <documentation>6615: Østerrike</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6615</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sveits">
        <annotation>
          <documentation>6616: Sveits</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6616</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="italia">
        <annotation>
          <documentation>6617: Italia</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6617</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="polen">
        <annotation>
          <documentation>6618: Polen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6618</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="russland">
        <annotation>
          <documentation>6619: Russland</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6619</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="litauen">
        <annotation>
          <documentation>9805: Litauen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9805</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="estland">
        <annotation>
          <documentation>13439: Estland</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13439</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="latvia">
        <annotation>
          <documentation>13440: Latvia</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13440</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="romania">
        <annotation>
          <documentation>13441: Romania</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13441</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bulgaria">
        <annotation>
          <documentation>13442: Bulgaria</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13442</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kroatia">
        <annotation>
          <documentation>13443: Kroatia</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13443</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="andreØsteuropeiskeLand">
        <annotation>
          <documentation>6620: Andre østeuropeiske land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6620</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="andreVesteuropeiskeLand">
        <annotation>
          <documentation>6621: Andre vesteuropeiske land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6621</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="diplomatbil">
        <annotation>
          <documentation>6622: Diplomatbil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6622</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="militærtKjøretøy">
        <annotation>
          <documentation>6623: Militært kjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6623</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annetLand">
        <annotation>
          <documentation>6624: Annet land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6624</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6625: Ukjent: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6625</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringslandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ReguleringForEnhetIVegkryssType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5100</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGULERINGFORENHETIVEGKRYSS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ReguleringForEnhetIVegkryssEnumerationType nvdb:ReguleringForEnhetIVegkryssOtherType"/>
  </simpleType>
  <simpleType name="ReguleringForEnhetIVegkryssEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5100</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGULERINGFORENHETIVEGKRYSS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeIVegkryssEllerGangfelt">
        <annotation>
          <documentation>6585: Ikke i vegkryss eller gangfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6585</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="intetSpesieltHøyreRegel">
        <annotation>
          <documentation>6586: Intet spesielt (høyre-regel)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6586</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lyssignalIFunksjonIKryssEllerGangfeltUtenforKryss">
        <annotation>
          <documentation>6587: Lyssignal i funksjon i kryss eller gangfelt utenfor kryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6587</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forkjørsveg">
        <annotation>
          <documentation>6588: Forkjørsveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6588</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vikeplikt">
        <annotation>
          <documentation>6589: Vikeplikt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6589</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stopplikt">
        <annotation>
          <documentation>6590: Stopplikt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6590</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiltetOppmerketGangfeltUtenLysregulering">
        <annotation>
          <documentation>6591: Skiltet / oppmerket gangfelt (uten lysregulering)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6591</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lyssignalUteAvFunksjonGultBlinkendeLysEllerUtenLys">
        <annotation>
          <documentation>6592: Lyssignal ute av funksjon (gult blinkende lys eller uten lys)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6592</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="annenReguleringIVegkryssInkludertMidlertidig">
        <annotation>
          <documentation>6593: Annen regulering i vegkryss, inkludert midlertidig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6593</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6594: Ukjent: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6594</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ReguleringForEnhetIVegkryssOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RetningUlykkesinvolvertEnhetType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5093</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNINGULYKKESINVOLVERTENHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RetningUlykkesinvolvertEnhetEnumerationType nvdb:RetningUlykkesinvolvertEnhetOtherType"/>
  </simpleType>
  <simpleType name="RetningUlykkesinvolvertEnhetEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5093</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNINGULYKKESINVOLVERTENHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeRelevant">
        <annotation>
          <documentation>6544: Ikke relevant</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6544</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraNord">
        <annotation>
          <documentation>6545: Fra nord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6545</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraNordøst">
        <annotation>
          <documentation>6546: Fra nordøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6546</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraØst">
        <annotation>
          <documentation>6547: Fra øst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6547</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraSørøst">
        <annotation>
          <documentation>6548: Fra sørøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6548</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraSør">
        <annotation>
          <documentation>6549: Fra sør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6549</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraSørvest">
        <annotation>
          <documentation>6550: Fra sørvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6550</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraVest">
        <annotation>
          <documentation>6551: Fra vest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6551</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fraNordvest">
        <annotation>
          <documentation>6552: Fra nordvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6552</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6553: Ukjent: ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6553</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RetningUlykkesinvolvertEnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RusmiddelType">
    <annotation>
      <documentation>Rusmiddel: Rusmiddelmistanke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RusmiddelEnumerationType nvdb:RusmiddelOtherType"/>
  </simpleType>
  <simpleType name="RusmiddelEnumerationType">
    <annotation>
      <documentation>Rusmiddel: Rusmiddelmistanke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSMIDDEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>6571: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6571</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>6572: Nei: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6572</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>6573: Ukjent: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6573</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RusmiddelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UlykkesinvolvertEnhet" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:UlykkesinvolvertEnhetType">
    <annotation>
      <documentation>Ulykkesinvolvert enhet: Enheter involvert i ulykken. En fotgjenger regnes også som en enhet. Se kjøretøytype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">571</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ULYKKESINVOLVERTENHET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UlykkesinvolvertEnhetType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="kjøretøytype" type="nvdb:KjøretøytypeUlykkesinvolvertEnhetType">
            <annotation>
              <documentation>Kjøretøytype: Alle kjøretøy er gitt sin egen kode fra 01 til 99.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5090</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallPersonerPrEnhetIUlykke" type="integer">
            <annotation>
              <documentation>Antall personer pr enhet i ulykke: Antall personer pr. enhet i ulykke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5091</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPERSONERPRENHETIULYKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kryssveg" type="boolean">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5092</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRYSSVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøreretning" type="nvdb:KjøreretningType">
            <annotation>
              <documentation>Kjøreretning: Angir hvilken retning kjøretøyet beveget seg i forhold til metreringsretning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5757</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRERETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="retning" type="nvdb:RetningUlykkesinvolvertEnhetType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5093</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ferdselsformål" type="nvdb:FerdselsformålType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5097</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FERDSELSFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="reguleringForEnhetIVegkryss" type="nvdb:ReguleringForEnhetIVegkryssType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5100</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGULERINGFORENHETIVEGKRYSS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsland" type="nvdb:RegistreringslandType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5102</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSLAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årsmodellPåKjøretøy" type="integer">
            <annotation>
              <documentation>Årsmodell på kjøretøy: Årsmodell på kjøretøy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5103</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRSMODELLPÅKJØRETØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hinderType" type="nvdb:HinderTypeType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5104</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HINDERTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegavstandFraHinder" type="double">
            <annotation>
              <documentation>Vegavstand fra hinder: Avstand fra veg til hinder.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5105</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGAVSTANDFRAHINDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekktype" type="nvdb:DekktypeType">
            <annotation>
              <documentation>Dekktype: Type dekk på enhet i STRAKS</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5106</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10737</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUlykkesinvolvertPerson" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:UlykkesinvolvertPerson</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UlykkesinvolvertEnhetPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UlykkesinvolvertEnhet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
