XSD/NVDB/7/172.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.08">
  <annotation>
    <documentation>172: Fysisk skille mellom trafikkstrømmer (1)</documentation>
  </annotation>
  <include schemaLocation="Gjerde.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkdelerType">
    <annotation>
      <documentation>2158: Angir hvilken type belegning det er på trafikkdeler</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2158</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkdelerEnumerationType nvdb:BelegningTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerEnumerationType">
    <annotation>
      <documentation>2158: Angir hvilken type belegning det er på trafikkdeler</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2158</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>5407: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5407</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Farget">
        <annotation>
          <documentation>5556: Betong, farget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5556</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_Mønstret">
        <annotation>
          <documentation>5557: Betong, mønstret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5557</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong_MønstretOgFarget">
        <annotation>
          <documentation>5558: Betong, mønstret og farget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5558</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>5559: Betongheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5559</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>7933: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7933</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="granitt">
        <annotation>
          <documentation>11233: Granitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11233</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11232: Skiferheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11232</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein">
        <annotation>
          <documentation>4050: Stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4050</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein_FaststøptIBetong">
        <annotation>
          <documentation>5561: Stein, faststøpt i betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5561</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein_Rundstein">
        <annotation>
          <documentation>5562: Stein, rundstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5562</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stein_Brostein">
        <annotation>
          <documentation>5563: Stein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5563</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>5564: Pukk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5564</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>4054: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4054</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bark">
        <annotation>
          <documentation>4051: Bark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4051</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grøntBeplantning">
        <annotation>
          <documentation>4052: Grønt/beplantning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4052</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerType">
    <annotation>
      <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1281</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDETRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTrafikkdelerEnumerationType nvdb:BruksområdeTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerEnumerationType">
    <annotation>
      <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1281</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDETRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="midtdeler">
        <annotation>
          <documentation>3215: Midtdeler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3215</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdeler_Ved_Lomme">
        <annotation>
          <documentation>3216: Trafikkdeler v lomme</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3216</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdelerHovedvegGSveg">
        <annotation>
          <documentation>3217: Trafikkdeler hovedveg g/sveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3217</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdelerHovedvegLokalveg">
        <annotation>
          <documentation>3218: Trafikkdeler hovedveg/lokalveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3218</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkdelerMellomParallelleStrømmer">
        <annotation>
          <documentation>3914: Trafikkdeler mellom parallelle strømmer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3914</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegType">
    <annotation>
      <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes s</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9499</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØTEFRIVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MøtefriVegEnumerationType nvdb:MøtefriVegOtherType"/>
  </simpleType>
  <simpleType name="MøtefriVegEnumerationType">
    <annotation>
      <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes s</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9499</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØTEFRIVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13382: Ja: "Ja" hvis trafikkdeler har fysisk hinder som rekkverk, etc, eller er bredere enn 7 meter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13383: Nei: "Nei" hvis det er kun forhøyet med kantstein, adskilt med gjerde etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkdeler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkdelerType">
    <annotation>
      <documentation>172: Fysisk skille mellom trafikkstrømmer (1)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">172</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkdelerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeTrafikkdelerType">
            <annotation>
              <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1281</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="møtefriVeg" type="nvdb:MøtefriVegType">
            <annotation>
              <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes som møtefri selv om det ikke er fysisk hinder.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9499</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØTEFRIVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning" type="nvdb:BelegningTrafikkdelerType">
            <annotation>
              <documentation>2158: Angir hvilken type belegning det er på trafikkdeler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2158</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>2243: Angir standardbredde av trafikkdeleren, det vil si den bredden som er mest representativ.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2243</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1336: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1336</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10376: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10376</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkdelerType">
            <annotation>
              <documentation>8073: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8073</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4834: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4834</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8879: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8879</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkadeFU_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkade_Strekning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkdelerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkdeler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerType">
    <annotation>
      <documentation>8073: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8073</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkdelerEnumerationType nvdb:VedlikeholdsansvarligTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerEnumerationType">
    <annotation>
      <documentation>8073: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8073</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10467: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10467</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10545: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10545</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10623: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10623</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17722: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17722</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
