XSD/NVDB/540/540.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>540: Gir informasjon om representativ trafikkmengde for en strekning</documentation>
  </annotation>
  <include schemaLocation="Trafikkmengde.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Trafikkmengde" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkmengdeType">
    <annotation>
      <documentation>540: Gir informasjon om representativ trafikkmengde for en strekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">540</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKMENGDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkmengdeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="ådtTotal" type="integer">
            <annotation>
              <documentation>4623: Angir total årsdøgntrafikk.  Representativt for gitt strekning.  Gjennomsnittsverdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4623</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTTOTAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="ådtAndelLangeKjøretøy" type="integer">
            <annotation>
              <documentation>4624: Angir hvor stor andel (i prosent) av kjøretøyene som er definert som lange.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4624</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTANDELLANGEKJØRETØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="årGjelderFor" type="integer">
            <annotation>
              <documentation>4621: Angir hvilket år trafikkdataene gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4621</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅRGJELDERFOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdatertFra" type="gml:CodeType">
            <annotation>
              <documentation>6843: Angir hvorfra ÅDT-verdien er kommet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPDATERTFRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grunnlagForÅDT" type="gml:CodeType">
            <annotation>
              <documentation>4625: Angir hva som er grunnlag for ÅDT-verdien</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4625</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNLAGFORÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ansvarligId" type="string">
            <annotation>
              <documentation>4620: Angir brukeridentifikasjon til ansvarlig for datainnlegging</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4620</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANSVARLIGID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkarbeidstall" type="integer">
            <annotation>
              <documentation>7477: Antall vognkilometer pr år.  Veglengde x ÅDT x 365.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7477</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKARBEIDSTALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tellepunktPrimært" type="integer">
            <annotation>
              <documentation>5219: Angir hvilket tellepunkt som representerer strekningen primært</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5219</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TELLEPUNKTPRIMÆRT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tellepunktSekundært" type="integer">
            <annotation>
              <documentation>5222: Sekundært tellepunkt for kobling av ÅDT-strekninger.(Nivå-1 pkt.)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5222</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TELLEPUNKTSEKUNDÆRT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forholdÅDT" type="double">
            <annotation>
              <documentation>5220: Prosent ÅDT på parsellen.  PRSTARTR = 100.0 *VDB-VERDI / TDB-VERDI</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5220</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORHOLDÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forholdLange" type="double">
            <annotation>
              <documentation>5221: Prosent Lange på strekningen ift. prosenttallet i tellepunktet.  PRLANGE = 100.0 *VDB-VERDI / TDB-VERDI
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5221</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORHOLDLANGE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="koplingsår" type="integer">
            <annotation>
              <documentation>5223: Årstall koblingen ble utført</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5223</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOPLINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mfaktor" type="double">
            <annotation>
              <documentation>4622: Multiplikasjonsfaktor.  Faktor for å kalkulere ÅDT verdi inne på en strekning.
Enhet: Forholdstall</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4622</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MFAKTOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtStart" type="integer">
            <annotation>
              <documentation>7475: Angir årsdøgntrafikk i start av gitt strekning.  Inkl tunge kjøretøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7475</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTSTART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ådtSlutt" type="integer">
            <annotation>
              <documentation>7476: Angir årsdøgntrafikk i slutt av gitt strekning.  Inkl tunge kjøretøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7476</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDTSLUTT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5042: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5042</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikkmengde_Kjørefelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkmengde_Kjørefelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkmengdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkmengde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
