XSD/NVDB/592/592.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>592: Måling av hvor mye vegen gir etter ved belastning med fallodd etc.</documentation>
  </annotation>
  <include schemaLocation="Nedboeyningsmaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Nedbøyningsmåling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NedbøyningsmålingType">
    <annotation>
      <documentation>592: Måling av hvor mye vegen gir etter ved belastning med fallodd etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">592</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDBØYNINGSMÅLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NedbøyningsmålingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bæreevne" type="double">
            <annotation>
              <documentation>5486: Angir bæreevne
Enhet: Tonn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5486</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BÆREEVNE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="formål" type="gml:CodeType">
            <annotation>
              <documentation>5298: Angir formål med nedbøyningsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5298</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>5330: Dato for måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5330</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måletidspunkt" type="string">
            <annotation>
              <documentation>5331: Klokkeslett for måling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5331</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLETIDSPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor" type="gml:CodeType">
            <annotation>
              <documentation>5299: Angir hvor nedbøyning er foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5299</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPOR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_1_Avstand" type="integer">
            <annotation>
              <documentation>5300: Avstand fra lastsenter til geofon-1
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5300</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_1_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_1_Nedbøyning" type="integer">
            <annotation>
              <documentation>5307: Målt nedbøyning for geofon-1
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5307</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_1_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_2_Avstand" type="integer">
            <annotation>
              <documentation>5301: Avstand fra lastsenter til geofon-2
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5301</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_2_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_2_Nedbøyning" type="integer">
            <annotation>
              <documentation>5308: Målt nedbøyning for geofon-2
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5308</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_2_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_3_Avstand" type="integer">
            <annotation>
              <documentation>5302: Avstand fra lastsenter til geofon-3
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5302</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_3_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_3_Nedbøyning" type="integer">
            <annotation>
              <documentation>5309: Målt nedbøyning for geofon-3
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5309</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_3_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_4_Avstand" type="integer">
            <annotation>
              <documentation>5303: Avstand fra lastsenter til geofon-4
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5303</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_4_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_4_Nedbøyning" type="integer">
            <annotation>
              <documentation>5310: Målt nedbøyning for geofon-4
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5310</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_4_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_5_Avstand" type="integer">
            <annotation>
              <documentation>5304: Avstand fra lastsenter til geofon-5
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5304</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_5_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_5_Nedbøyning" type="integer">
            <annotation>
              <documentation>5311: Målt nedbøyning for geofon-5
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5311</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_5_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_6_Avstand" type="integer">
            <annotation>
              <documentation>5305: Avstand fra lastsenter til geofon-6
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5305</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_6_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_6_Nedbøyning" type="integer">
            <annotation>
              <documentation>5312: Målt nedbøyning for geofon-6
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5312</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_6_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_7_Avstand" type="integer">
            <annotation>
              <documentation>5306: Avstand fra lastsenter til geofon-7
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5306</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_7_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_7_Nedbøyning" type="integer">
            <annotation>
              <documentation>5313: Målt nedbøyning for geofon-7
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5313</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_7_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_8_Avstand" type="integer">
            <annotation>
              <documentation>8757: Avstand fra lastsenter til geofon-8
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8757</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_8_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_8_Nedbøyning" type="integer">
            <annotation>
              <documentation>8758: Målt nedbøyning for geofon-8
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8758</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_8_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_9_Avstand" type="integer">
            <annotation>
              <documentation>8759: Avstand fra lastsenter til geofon-9
Enhet: Centimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8759</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_9_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geofon_9_Nedbøyning" type="integer">
            <annotation>
              <documentation>8760: Målt nedbøyning for geofon-9
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8760</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOFON_9_NEDBØYNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkekode" type="gml:CodeType">
            <annotation>
              <documentation>5314: Angir hvilken type dekke det er på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5314</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKEKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKjørefelt" type="integer">
            <annotation>
              <documentation>5315: Angir hvor mange kjørefelt det er på stedet
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5315</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLKJØREFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekketemperatur" type="integer">
            <annotation>
              <documentation>5316: Angir dekketemperatur
Enhet: Grader Celcius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5316</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKETEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lufttemperatur" type="integer">
            <annotation>
              <documentation>5317: Angir lufttemperatur
Enhet: Grader Celcius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5317</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LUFTTEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skydekke" type="integer">
            <annotation>
              <documentation>5318: Angir skydekke.  0= skyfritt, 9 = Helt overskyet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5318</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKYDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utstyrstype" type="gml:CodeType">
            <annotation>
              <documentation>5319: Angir hvilken type utstyr som er benyttet ved nedbøyningsmåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5319</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSTYRSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5320: Merknad, kan referere til faste merknadsnummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5320</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Lang" type="integer">
            <annotation>
              <documentation>5321: ÅDT lange kjøretøy.  Kjøretøy med lengde større eller lik 5,6 meter defineres som lange kjøretøy.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5321</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDT_LANG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ÅDT_Total" type="integer">
            <annotation>
              <documentation>5322: ÅDT total</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5322</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅDT_TOTAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedbøyning_SenterPlate" type="integer">
            <annotation>
              <documentation>5323: Nedbøyning midt under platen
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5323</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDBØYNING_SENTERPLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedbøyning_20cm_Avstand" type="integer">
            <annotation>
              <documentation>5324: Nedbøyning i 20 centimeters avstand
Enhet: Mikrometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5324</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDBØYNING_20CM_AVSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="platediameter_Fallodd" type="integer">
            <annotation>
              <documentation>5325: Diameter av falloddplate
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5325</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLATEDIAMETER_FALLODD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kraft" type="double">
            <annotation>
              <documentation>5326: Kraft ved bruk av fallodd
Enhet: Kilonewton</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5326</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRAFT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nødvendigForsterkning" type="integer">
            <annotation>
              <documentation>5327: Forsterkning som er nødvendig</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5327</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NØDVENDIGFORSTERKNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="svakhet" type="gml:CodeType">
            <annotation>
              <documentation>5328: Svakhet i bæreevne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5328</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SVAKHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="SCI" type="integer">
            <annotation>
              <documentation>5329: Surface-kurvature-index</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5329</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SCI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6892: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6892</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertNedbøyningsmåleserie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nedbøyningsmåleserie</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedbøyningsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedbøyningsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
