XSD/NVDB/26/39.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>39: Sted ved vegen der vegtrafikanter kan parkere og hvile. (Ordbok for veg- og Trafikkteknikk).</documentation>
  </annotation>
  <include schemaLocation="Lekeapparat.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Rasteplass" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RasteplassType">
    <annotation>
      <documentation>39: Sted ved vegen der vegtrafikanter kan parkere og hvile. (Ordbok for veg- og Trafikkteknikk).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">39</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RASTEPLASS</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RasteplassType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1074: Angir navn på rasteplassen. Der det er to rasteplasser på samme sted, en på hver side, kan samme navn brukes med tillegg av 1 og 2 eller himmelretning i forhold til vegen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1074</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>2036: Angir hvilken type rasteplass det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2036</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplSmåKjt" type="integer">
            <annotation>
              <documentation>1805: Angir hvor mange plasser det totalt er tilgjengelig for oppstilling av små kjøretøy (personbiler) på rasteplassen. For områder hvor det er lovlig å stå parkert for små kjøretøy, men som ikke har oppmerka oppstillingsplasser må det gjøres et anslag på hvor mange små kjøretøy det er plass til.  Det forutsettes at områder hvor det er lovlig å stå både for små og store kjøretøy kun er benyttet av små kjøretøy.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1805</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLOPPSTILLINGSPLSMÅKJT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplStoreKjt" type="integer">
            <annotation>
              <documentation>1816: Angir hvor mange plasser det totalt er tilgjengelig for oppstilling av store kjøretøy (vogntog) på rasteplassen. For områder hvor det er lovlig å stå parkert for store kjøretøy, men som ikke har oppmerka oppstillingsplasser må det gjøres et anslag på hvor mange kjøretøy det er plass til.  Det forutsettes at områder hvor det er lovlig å stå både for små og store kjøretøy kun er benyttet av store kjøretøy.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1816</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLOPPSTILLINGSPLSTOREKJT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppstillingsplForflytningshemmede" type="integer">
            <annotation>
              <documentation>9415: Angir hvor mange merka oppstillingsplasser det er for forflytningshemmede</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9415</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLOPPSTILLINGSPLFORFLYTNINGSHEMMEDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="integer">
            <annotation>
              <documentation>1355: Angir totalt areal av rasteplassen.  Dette inkluderer både kjørbart og ikke kjørbart areal innenfor rasteplassen sin avgrensning.  For mer informasjon om ulike arealtyper henvises til aktuelle "datterobjekt" .
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1355</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL_TOTALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Kjørbart" type="integer">
            <annotation>
              <documentation>8766: Angir kjørbart areal av rasteplassen, inkludert areal for oppstilling og parkering.
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8766</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL_KJØRBART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Belyst" type="integer">
            <annotation>
              <documentation>9416: Gir anslag av belyst areal av rasteplassen
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9416</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL_BELYST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøytype_Dimensjonerende" type="gml:CodeType">
            <annotation>
              <documentation>1773: Anir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1773</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYTYPE_DIMENSJONERENDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lovligAdkomst" type="gml:CodeType">
            <annotation>
              <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2037</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LOVLIGADKOMST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fastDekke" type="gml:CodeType">
            <annotation>
              <documentation>4564: Angir om det er fast dekke på rasteplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4564</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FASTDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengning" type="gml:CodeType">
            <annotation>
              <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8765</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERSTENGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengning_Dato" type="date">
            <annotation>
              <documentation>10769: Angir måned og dato (mmdd) for når rasteplass normalt vinterstenges.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10769</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERSTENGNING_DATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterdriftsklasse" type="gml:CodeType">
            <annotation>
              <documentation>9549: Beskriver hvilken standard for vinterdrift som skal gjelde for rasteplassen. (Se også vegobjekttype 819-Vinterdriftsklasse)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9549</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERDRIFTSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dusj" type="gml:CodeType">
            <annotation>
              <documentation>9418: Angir om det er dusj på rasteplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9418</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DUSJ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="drikkevann" type="gml:CodeType">
            <annotation>
              <documentation>9417: Angir om det er drikkevann på rasteplassen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9417</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIKKEVANN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strømuttak" type="gml:CodeType">
            <annotation>
              <documentation>9419: Angir om det er strømuttak i tilknytning til servicebygg eller toalettanlegg tilgjengelig for besøkende</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9419</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STRØMUTTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>10343: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10343</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="gml:CodeType">
            <annotation>
              <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5819</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="gml:CodeType">
            <annotation>
              <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet.  Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4565</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11046: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11046</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8913: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8913</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5131: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5131</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLekeapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Lekeapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RasteplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rasteplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
