XSD/NVDB/174/174.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>174: Oppmerket felt for fotgjengere (1)</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">174</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Gangfelt.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTypeType">
    <annotation>
      <documentation>Belegning,type: Angir type belegning for gangfeltet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8736</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTypeEnumerationType nvdb:BelegningTypeOtherType"/>
  </simpleType>
  <simpleType name="BelegningTypeEnumerationType">
    <annotation>
      <documentation>Belegning,type: Angir type belegning for gangfeltet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8736</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stein">
        <annotation>
          <documentation>11566: Stein: Belegningsstein f.eks av type granitt , brostein etc</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11566</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>11564: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11564</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>11563: Betongheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11563</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skiferheller">
        <annotation>
          <documentation>11565: Skiferheller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11565</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betong">
        <annotation>
          <documentation>11559: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11559</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>11567: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11567</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangfeltType">
    <annotation>
      <documentation>Belysning: Angir om det er belysning i tilknytning til vegobjektet og eventuelt hvilken type belysning det er.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNINGGANGFELT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningGangfeltEnumerationType nvdb:BelysningGangfeltOtherType"/>
  </simpleType>
  <simpleType name="BelysningGangfeltEnumerationType">
    <annotation>
      <documentation>Belysning: Angir om det er belysning i tilknytning til vegobjektet og eventuelt hvilken type belysning det er.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1880</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNINGGANGFELT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3526: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3526</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3564: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3564</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gangfelt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GangfeltType">
    <annotation>
      <documentation>Gangfelt: Oppmerket felt for fotgjengere (1)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">174</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GANGFELT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GangfeltType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>Stedsangivelse: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn. Detalplassering i kryssområder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7904</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSANGIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="markeringAvStriper" type="nvdb:MarkeringAvStriperType">
            <annotation>
              <documentation>Markering av striper: Angir hvordan striper er markert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8738</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MARKERINGAVSTRIPER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hevet" type="nvdb:HevetType">
            <annotation>
              <documentation>Hevet: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8739</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HEVET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltet" type="nvdb:SkiltetType">
            <annotation>
              <documentation>Skiltet: Angir om det er skiltet eller ikke i forbindelse med vegobjektet.  Angir om det er skiltet for gangfelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2033</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysregulert" type="nvdb:LysregulertType">
            <annotation>
              <documentation>Lysregulert: Angir om vegobjektet er lysregulert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2034</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSREGULERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belysning" type="nvdb:BelysningGangfeltType">
            <annotation>
              <documentation>Belysning: Angir om det er belysning i tilknytning til vegobjektet og eventuelt hvilken type belysning det er.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1880</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikkøy" type="nvdb:TrafikkøyType">
            <annotation>
              <documentation>Trafikkøy: Angir om det er trafikkøy i tilknytning til vegobjektet.  Angir om det er trafikkøy i gangfeltet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2035</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="nvdb:NedsenketKantsteinType">
            <annotation>
              <documentation>Nedsenket kantstein: Angir om det er nedsenket kantstein eller ikke i forbindelse med vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2128</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDSENKETKANTSTEIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegningType" type="nvdb:BelegningTypeType">
            <annotation>
              <documentation>Belegning, type: Angir type belegning for gangfeltet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8736</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegningAreal" type="integer">
            <annotation>
              <documentation>Belegning, areal: Angir areal av belegning i forbindelse med gangfelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8737</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGAREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligGangfeltType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8074</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>Arkivnummer: Referanse til Statens vegvesen sitt arkivsystem</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9589</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARKIVNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>Vedtaksnummer: Angir vedtaksnummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2262</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDTAKSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>Tilleggsinformasjon: Øvrig informasjon knyttet til gangfeltet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4519</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>Etableringsår: Angir etableringsår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10300</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ETABLERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4836</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9434</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFartsdemper" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fartsdemper</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Systemobjekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFUPunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkadeFUPunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadePunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkadePunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerkingTverrgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VegoppmerkingTverrgående</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangfeltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gangfelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HevetType">
    <annotation>
      <documentation>Hevet: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8739</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HEVET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HevetEnumerationType nvdb:HevetOtherType"/>
  </simpleType>
  <simpleType name="HevetEnumerationType">
    <annotation>
      <documentation>Hevet: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8739</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HEVET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11557: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11557</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11558: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11558</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HevetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LysregulertType">
    <annotation>
      <documentation>Lysregulert: Angir om vegobjektet er lysregulert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2034</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSREGULERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LysregulertEnumerationType nvdb:LysregulertOtherType"/>
  </simpleType>
  <simpleType name="LysregulertEnumerationType">
    <annotation>
      <documentation>Lysregulert: Angir om vegobjektet er lysregulert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2034</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSREGULERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3539: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3539</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3577: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3577</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LysregulertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringAvStriperType">
    <annotation>
      <documentation>Markering av striper: Angir hvordan striper er markert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8738</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MARKERINGAVSTRIPER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MarkeringAvStriperEnumerationType nvdb:MarkeringAvStriperOtherType"/>
  </simpleType>
  <simpleType name="MarkeringAvStriperEnumerationType">
    <annotation>
      <documentation>Markering av striper: Angir hvordan striper er markert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8738</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MARKERINGAVSTRIPER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="malteStriper">
        <annotation>
          <documentation>11555: Malte striper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11555</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vekslendeMaterialtype">
        <annotation>
          <documentation>11556: Vekslende materialtype: Striper framkommer av vekslende materialbruk, for eksempel forskjellig type stein med ulik farge.  Ikke benyttet maling.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11556</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeStriper">
        <annotation>
          <documentation>11568: Ikke striper: Gangfeltet har ikke markerte striper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11568</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringAvStriperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NedsenketKantsteinType">
    <annotation>
      <documentation>Nedsenket kantstein: Angir om det er nedsenket kantstein eller ikke i forbindelse med vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2128</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDSENKETKANTSTEIN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NedsenketKantsteinEnumerationType nvdb:NedsenketKantsteinOtherType"/>
  </simpleType>
  <simpleType name="NedsenketKantsteinEnumerationType">
    <annotation>
      <documentation>Nedsenket kantstein: Angir om det er nedsenket kantstein eller ikke i forbindelse med vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2128</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDSENKETKANTSTEIN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3548: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3548</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3585: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3585</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeKantstein">
        <annotation>
          <documentation>16028: Ikke kantstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16028</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedsenketKantsteinOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetType">
    <annotation>
      <documentation>Skiltet: Angir om det er skiltet eller ikke i forbindelse med vegobjektet.  Angir om det er skiltet for gangfelt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2033</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiltetEnumerationType nvdb:SkiltetOtherType"/>
  </simpleType>
  <simpleType name="SkiltetEnumerationType">
    <annotation>
      <documentation>Skiltet: Angir om det er skiltet eller ikke i forbindelse med vegobjektet.  Angir om det er skiltet for gangfelt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2033</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3538: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3538</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3576: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3576</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkøyType">
    <annotation>
      <documentation>Trafikkøy: Angir om det er trafikkøy i tilknytning til vegobjektet.  Angir om det er trafikkøy i gangfeltet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2035</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkøyEnumerationType nvdb:TrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="TrafikkøyEnumerationType">
    <annotation>
      <documentation>Trafikkøy: Angir om det er trafikkøy i tilknytning til vegobjektet.  Angir om det er trafikkøy i gangfeltet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2035</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3540: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3540</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3578: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3578</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8074</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGGANGFELT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGangfeltEnumerationType nvdb:VedlikeholdsansvarligGangfeltOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8074</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGGANGFELT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10468: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10468</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10546: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10546</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10624: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10624</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17723: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
