XSD/OLFV/V370/90.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V370" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V370" version="2.07">
  <annotation>
    <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="OppsettingsutstyrSignalpunktType">
    <annotation>
      <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYRSIGNALPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSignalpunktEnumerationType nvdb:OppsettingsutstyrSignalpunktOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktEnumerationType">
    <annotation>
      <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYRSIGNALPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="egenStolpe">
        <annotation>
          <documentation>2968: Egen stolpe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2968</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="helportal">
        <annotation>
          <documentation>2873: Helportal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2873</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="halvportal">
        <annotation>
          <documentation>2870: Halvportal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lysmast">
        <annotation>
          <documentation>2966: Lysmast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2966</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="wirestrekk">
        <annotation>
          <documentation>2876: Wirestrekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2876</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bom">
        <annotation>
          <documentation>16737: Bom: Plassering på vegbom. F.eks Gulblink festet på bom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16737</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hengerITakKabelbro">
        <annotation>
          <documentation>2971: Henger i tak/kabelbro</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="festetTilVeggBygning">
        <annotation>
          <documentation>2973: Festet til vegg/bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalpunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SignalpunktType">
    <annotation>
      <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">90</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIGNALPUNKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SignalpunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsår" type="integer">
            <annotation>
              <documentation>10355: Angir hvilket år vegobjektet ble satt opp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10355</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsutstyr" type="nvdb:TilleggsutstyrType">
            <annotation>
              <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSUTSTYR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4790: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4790</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSignalpunktType">
            <annotation>
              <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalhode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalhode</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilleggsutstyrType">
    <annotation>
      <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSUTSTYR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilleggsutstyrEnumerationType nvdb:TilleggsutstyrOtherType"/>
  </simpleType>
  <simpleType name="TilleggsutstyrEnumerationType">
    <annotation>
      <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSUTSTYR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="trykknappForFotgjengere">
        <annotation>
          <documentation>2989: Trykknapp for fotgjengere</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2989</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pipelyd">
        <annotation>
          <documentation>2990: Pipelyd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2990</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trykknappForFotgjengereOgPipelyd">
        <annotation>
          <documentation>2991: Trykknapp for fotgjengere og pipelyd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2991</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilleggsutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
