XSD/NVDB/599/599.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>599: Landskapsproblemnivå.  Tidligere register 42-Landskap i VDB</documentation>
  </annotation>
  <include schemaLocation="Landskapsproblemnivaa.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Landskapsproblemnivå" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LandskapsproblemnivåType">
    <annotation>
      <documentation>599: Landskapsproblemnivå.  Tidligere register 42-Landskap i VDB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">599</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSPROBLEMNIVÅ</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LandskapsproblemnivåType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="landskapstema" type="nvdb:LandskapstemaLandskapsproblemnivåType">
            <annotation>
              <documentation>5462: Angir landskapstema</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5462</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSTEMA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="problemverdi" type="nvdb:ProblemverdiType">
            <annotation>
              <documentation>5463: Angir problemverdi</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5463</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROBLEMVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6911: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6911</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LandskapsproblemnivåPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Landskapsproblemnivå"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LandskapstemaLandskapsproblemnivåType">
    <annotation>
      <documentation>5462: Angir landskapstema</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSTEMALANDSKAPSPROBLEMNIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LandskapstemaLandskapsproblemnivåEnumerationType nvdb:LandskapstemaLandskapsproblemnivåOtherType"/>
  </simpleType>
  <simpleType name="LandskapstemaLandskapsproblemnivåEnumerationType">
    <annotation>
      <documentation>5462: Angir landskapstema</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5462</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSTEMALANDSKAPSPROBLEMNIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="landskapsbilde">
        <annotation>
          <documentation>7387: Landskapsbilde</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturmiljø">
        <annotation>
          <documentation>7388: Naturmiljø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kulturmiljø">
        <annotation>
          <documentation>7389: Kulturmiljø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7389</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samlet">
        <annotation>
          <documentation>7390: Samlet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7390</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LandskapstemaLandskapsproblemnivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProblemverdiType">
    <annotation>
      <documentation>5463: Angir problemverdi</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5463</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROBLEMVERDI</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProblemverdiEnumerationType nvdb:ProblemverdiOtherType"/>
  </simpleType>
  <simpleType name="ProblemverdiEnumerationType">
    <annotation>
      <documentation>5463: Angir problemverdi</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5463</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROBLEMVERDI</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="intetProblem">
        <annotation>
          <documentation>7391: Intet problem</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7391</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="liteProblem">
        <annotation>
          <documentation>7392: Lite problem</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7392</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="problem">
        <annotation>
          <documentation>7393: Problem</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7393</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stortProblem">
        <annotation>
          <documentation>7394: Stort problem</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7394</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProblemverdiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
