XSD/OLFV/V380/850.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V380" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V380" version="2.08">
  <annotation>
    <documentation>850: Installasjoner i løsneområde som hindrer skred i å løsne</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSkredsikring_ForbygningType">
    <annotation>
      <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9658</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTSKREDSIKRING_FORBYGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstSkredsikring_ForbygningEnumerationType nvdb:AdkomstSkredsikring_ForbygningOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSkredsikring_ForbygningEnumerationType">
    <annotation>
      <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9658</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTSKREDSIKRING_FORBYGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hjullaster">
        <annotation>
          <documentation>13909: Hjullaster: Adkomst for hjullaster</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13909</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gravemaskin">
        <annotation>
          <documentation>13910: Gravemaskin: Adkomst for gravemaskin</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13910</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tilFots">
        <annotation>
          <documentation>13911: Til fots: Adkomst til fots</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13911</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kran">
        <annotation>
          <documentation>13912: Kran: Adkomst for kran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13912</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tau">
        <annotation>
          <documentation>13913: Tau: Adkomt med tau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13913</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="helikopter">
        <annotation>
          <documentation>13914: Helikopter: Adkomst for helikopter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13914</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSkredsikring_ForbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skredsikring_Forbygning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Skredsikring_ForbygningType">
    <annotation>
      <documentation>850: Installasjoner i løsneområde som hindrer skred i å løsne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">850</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDSIKRING_FORBYGNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Skredsikring_ForbygningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeSkredsikring_ForbygningType">
            <annotation>
              <documentation>9653: Angir type forbygning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9653</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="totaltAntall" type="integer">
            <annotation>
              <documentation>9654: Totalt antall forbygninger i skredsikringen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9654</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TOTALTANTALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallRader" type="integer">
            <annotation>
              <documentation>9655: Antall rader med forbygninger i skredsikringen
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9655</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLRADER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydeSikringselement" type="double">
            <annotation>
              <documentation>9657: Angir gjennomsnitlig høyde for forbygningene
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9657</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDESIKRINGSELEMENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sikraAreal" type="integer">
            <annotation>
              <documentation>9656: Angir areal for området skredsikringen dekker
Enhet: Kvadratmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9656</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIKRAAREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="adkomst" type="nvdb:AdkomstSkredsikring_ForbygningType">
            <annotation>
              <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9658</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>9659: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9659</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9662: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9662</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Skredsikring_ForbygningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredsikring_Forbygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkredsikring_ForbygningType">
    <annotation>
      <documentation>9653: Angir type forbygning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKREDSIKRING_FORBYGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredsikring_ForbygningEnumerationType nvdb:TypeSkredsikring_ForbygningOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredsikring_ForbygningEnumerationType">
    <annotation>
      <documentation>9653: Angir type forbygning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9653</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKREDSIKRING_FORBYGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="snøanker">
        <annotation>
          <documentation>13907: Snøanker: Paraplyforebygning montert i et system for å holde snø på plass i løsneområdet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13907</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="støtteforbygning">
        <annotation>
          <documentation>13908: Støtteforbygning: Horisontale innretninger for å holde snø på plass i løsneområdet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13908</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredsikring_ForbygningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
