XSD/NVDB/888/886.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>886: Strekning/rute som anbefales for omkjøring for en eller flere  stengningslenker</documentation>
  </annotation>
  <include schemaLocation="Stengningslenke.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Omkjøringsrute" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:OmkjøringsruteType">
    <annotation>
      <documentation>886: Strekning/rute som anbefales for omkjøring for en eller flere  stengningslenker</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">886</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMKJØRINGSRUTE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="OmkjøringsruteType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="strekningsnavn" type="string">
            <annotation>
              <documentation>10700: Navn på omkjøringsrute. Merknad: Navn skal settes sammen av stedsnavn/kryssnavn ved start og slutt på omkjøringsruta, fortrinnsvis samme navn som benyttes på aktuelle stengningslenker, i tillegg kan det tas med navn på sted eller vegnummer som ruta går via.  Navn skal angis i samme rekkefølge som på stengningslenke, med unntak av omkjøringsruter som kun gjelder omkjøring mot stengningslenkens retning. Eksempel på navn på omkjøringsrute "Hommelvik - Værnes, via FV 950".Det skal angis  tydelige og beskrivende navn med tanke på at navn også skal benyttes ved trafikkinformasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10700</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STREKNINGSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="omkjøringForVeg" type="string">
            <annotation>
              <documentation>10797: Angir hvilken veg omkjøringsruta er omkjøringsrute for. Angis med  vegkategori-vegstatus-vegnummer, f.eks RV9, EV6 osv. (0 skal ikke angis). Om ulik veg ved start og slutt skal veg ved start angis.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10797</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMKJØRINGFORVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nivå" type="gml:CodeType">
            <annotation>
              <documentation>10702: Angir om det er lokal eller overordnet omkjøringsrute. Lokale kontra overordna går på om en omkjøringsrute er beregnet for å hovedsaklig ta seg av lokaltrafikk eller om den også kan ta gjennomgangstrafikken. Lokale o. er beregna for å ta lokal trafikk, overordna o. er beregna for gjennomgangstrafikk og fanger gjerne opp trafikken et godt stykke før aktuell stengningslenke. Se også Håndbok R611 kap 7.4</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10702</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="retning" type="gml:CodeType">
            <annotation>
              <documentation>10704: Angir om omkjøringsruta gjelder for begge kjøreretninger eller kun en veg. Utfyllende informasjon kan gis i merknadsfelt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10704</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>10703: Kan gi tilleggsinformasjon. F.eks om det er behov for utfyllende beskrivelse av hvor ruta går, om det er restriksjoner knyttet til tungtrafikk, retning på trafikk etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10703</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øktKjørelengde" type="integer">
            <annotation>
              <documentation>10763: Angir hvor mye lengre det er å kjøre omkjøringsrute i forhold til å kjøre på den stengte hovedvegen.
Enhet: Kilometer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10763</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ØKTKJØRELENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øktKjøretid" type="integer">
            <annotation>
              <documentation>10767: Angir hvor mye lengre tid det tar å kjøre omkjøringsruta i forhold til å kjøre på den stengte hovedvegen. Det legges til grunn normale trafikk- og føreforhold.
Enhet: Minutt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10767</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ØKTKJØRETID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjøretøykategori" type="gml:CodeType">
            <annotation>
              <documentation>10764: Angir hvilken kjøretøykategori omkjøringsruta gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10764</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØRETØYKATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OmkjøringsrutePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Omkjøringsrute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
