XSD/NVDB/100/100.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>100: Sted i vegnettet hvor veg og jernbane krysses</documentation>
  </annotation>
  <include schemaLocation="Jernbanekryssing.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Jernbanekryssing" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:JernbanekryssingType">
    <annotation>
      <documentation>100: Sted i vegnettet hvor veg og jernbane krysses</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">100</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JERNBANEKRYSSING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="JernbanekryssingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="typeJernbanekryssing" type="nvdb:TypeJernbanekryssingType">
            <annotation>
              <documentation>1153: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1153</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEJERNBANEKRYSSING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4799: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4799</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JernbanekryssingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Jernbanekryssing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeJernbanekryssingType">
    <annotation>
      <documentation>1153: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1153</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEJERNBANEKRYSSING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeJernbanekryssingEnumerationType nvdb:TypeJernbanekryssingOtherType"/>
  </simpleType>
  <simpleType name="TypeJernbanekryssingEnumerationType">
    <annotation>
      <documentation>1153: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1153</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEJERNBANEKRYSSING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vegUnder">
        <annotation>
          <documentation>2772: Veg under</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2772</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegOver">
        <annotation>
          <documentation>2771: Veg over</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2771</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan">
        <annotation>
          <documentation>2767: I plan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2767</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan_Lysregulert">
        <annotation>
          <documentation>2769: I plan, lysregulert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2769</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan_LysregulertOgBom">
        <annotation>
          <documentation>2770: I plan, lysregulert og bom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2770</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan_Lysregulert_Bom_Hel">
        <annotation>
          <documentation>3905: I plan, lysregulert, bom, hel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3905</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan_Lysregulert_Bom_Halv">
        <annotation>
          <documentation>3906: I plan, lysregulert, bom, halv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3906</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan_Lysregulert_Grind">
        <annotation>
          <documentation>3907: I plan, lysregulert, grind</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3907</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IPlan_UtenSikring">
        <annotation>
          <documentation>2768: I plan, uten sikring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2768</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeJernbanekryssingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
