XSD/NVDB/80/302.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>302: Gir informasjon om tilstand og eventuell skade på åpen grøft.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">302</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="GroeftAapen.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SkadetypeTilstandSkadeGrøftType">
    <annotation>
      <documentation>Skadetype: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2272</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADETYPETILSTANDSKADEGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadetypeTilstandSkadeGrøftEnumerationType nvdb:SkadetypeTilstandSkadeGrøftOtherType"/>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkadeGrøftEnumerationType">
    <annotation>
      <documentation>Skadetype: Angir hvilken type skade det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2272</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADETYPETILSTANDSKADEGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tilgrodd">
        <annotation>
          <documentation>4109: Tilgrodd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4109</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tettetPgaRas">
        <annotation>
          <documentation>4110: Tettet pga ras</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadetypeTilstandSkadeGrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkadeGrøft" substitutionGroup="gml:AbstractFeature" type="nvdb:TilstandSkadeGrøftType">
    <annotation>
      <documentation>Tilstand/skade,grøft: Gir informasjon om tilstand og eventuell skade på åpen grøft.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">302</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSKADEGRØFT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkadeGrøftType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="tilstand" type="nvdb:TilstandTilstandSkadeGrøftType">
            <annotation>
              <documentation>Tilstand: Angir tilstand til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2271</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadetype" type="nvdb:SkadetypeTilstandSkadeGrøftType">
            <annotation>
              <documentation>Skadetype: Angir hvilken type skade det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2272</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datoKontrollert" type="date">
            <annotation>
              <documentation>Dato kontrollert: Angir dato for når kontroll ble foretatt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8776</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DATOKONTROLLERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak" type="nvdb:TiltakType">
            <annotation>
              <documentation>Tiltak: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1244</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltakNår" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2273</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAKNÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>Tilleggsinformasjon: Det kan her gis tilleggsinformasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7853</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4899</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkadeGrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkadeGrøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilstandTilstandSkadeGrøftType">
    <annotation>
      <documentation>Tilstand: Angir tilstand til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2271</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDTILSTANDSKADEGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilstandTilstandSkadeGrøftEnumerationType nvdb:TilstandTilstandSkadeGrøftOtherType"/>
  </simpleType>
  <simpleType name="TilstandTilstandSkadeGrøftEnumerationType">
    <annotation>
      <documentation>Tilstand: Angir tilstand til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2271</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDTILSTANDSKADEGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>4106: Ok</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4106</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tiltaksbehov">
        <annotation>
          <documentation>4107: Tiltaksbehov</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4107</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mangler">
        <annotation>
          <documentation>4108: Mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4108</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="funksjonell">
        <annotation>
          <documentation>4630: Funksjonell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4630</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilstandTilstandSkadeGrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TiltakType">
    <annotation>
      <documentation>Tiltak: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1244</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TiltakEnumerationType nvdb:TiltakOtherType"/>
  </simpleType>
  <simpleType name="TiltakEnumerationType">
    <annotation>
      <documentation>Tiltak: Angir hvilket tiltak som bør foretas på vegobjektet som skade er koplet mot</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1244</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="grøfterensk">
        <annotation>
          <documentation>3822: Grøfterensk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3822</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
