XSD/NVDB/80/877.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>877: Angir tilstandsgrader for åpen dyp sidegrøft.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">877</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Groeft_Aapen.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftstilstandTilstandsgradSidegrøftDypTestType">
    <annotation>
      <documentation>Driftstilstand: Driftstilstand. 1 = er ikke rensket, 2 = er rensket</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10639</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTANDTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftstilstandTilstandsgradSidegrøftDypTestEnumerationType nvdb:DriftstilstandTilstandsgradSidegrøftDypTestOtherType"/>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgradSidegrøftDypTestEnumerationType">
    <annotation>
      <documentation>Driftstilstand: Driftstilstand. 1 = er ikke rensket, 2 = er rensket</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10639</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTANDTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeTømt">
        <annotation>
          <documentation>17198: Ikke tømt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tømt">
        <annotation>
          <documentation>17201: Tømt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17201</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgradSidegrøftDypTestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftebreddeBunnType">
    <annotation>
      <documentation>TG Grøftebredde,bunn: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10614</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGGRØFTEBREDDEBUNN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGGrøftebreddeBunnEnumerationType nvdb:TGGrøftebreddeBunnOtherType"/>
  </simpleType>
  <simpleType name="TGGrøftebreddeBunnEnumerationType">
    <annotation>
      <documentation>TG Grøftebredde,bunn: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10614</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGGRØFTEBREDDEBUNN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17043: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17043</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17069: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17069</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17095: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17095</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17121: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17121</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17147: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17147</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17173: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftebreddeBunnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftedybdeType">
    <annotation>
      <documentation>TG Grøftedybde: Tilstandsgrad, Grøftedybde.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10611</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGGRØFTEDYBDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGGrøftedybdeEnumerationType nvdb:TGGrøftedybdeOtherType"/>
  </simpleType>
  <simpleType name="TGGrøftedybdeEnumerationType">
    <annotation>
      <documentation>TG Grøftedybde: Tilstandsgrad, Grøftedybde.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10611</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGGRØFTEDYBDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17040: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17040</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17066: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17066</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17092: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17092</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17118: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17118</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17144: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17144</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17170: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGGrøftedybdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetType">
    <annotation>
      <documentation>TG Kapasitet: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10628</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetEnumerationType nvdb:TGKapasitetOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetEnumerationType">
    <annotation>
      <documentation>TG Kapasitet: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10628</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17057: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17057</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17083: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17083</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17109: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17109</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17135: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17135</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17161: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17161</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17187: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17187</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktiskManuellTilstandsgradSidegrøftDypTestType">
    <annotation>
      <documentation>TG Samlet vurdering praktisk,manuell: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGPRAKTISKMANUELLTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingPraktiskManuellTilstandsgradSidegrøftDypTestEnumerationType nvdb:TGSamletVurderingPraktiskManuellTilstandsgradSidegrøftDypTestOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktiskManuellTilstandsgradSidegrøftDypTestEnumerationType">
    <annotation>
      <documentation>TG Samlet vurdering praktisk,manuell: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGPRAKTISKMANUELLTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17063: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17063</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17089: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17089</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17115: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17115</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17141: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17141</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17167: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17167</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17193: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17193</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingPraktiskManuellTilstandsgradSidegrøftDypTestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretiskAutomatikkTilstandsgradSidegrøftDypTestType">
    <annotation>
      <documentation>TG Samlet vurdering teoretisk,automatikk: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGTEORETISKAUTOMATIKKTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurderingTeoretiskAutomatikkTilstandsgradSidegrøftDypTestEnumerationType nvdb:TGSamletVurderingTeoretiskAutomatikkTilstandsgradSidegrøftDypTestOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretiskAutomatikkTilstandsgradSidegrøftDypTestEnumerationType">
    <annotation>
      <documentation>TG Samlet vurdering teoretisk,automatikk: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGTEORETISKAUTOMATIKKTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17062: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17062</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17088: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17088</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17114: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17114</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17140: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17140</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17166: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17166</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17192: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17192</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurderingTeoretiskAutomatikkTilstandsgradSidegrøftDypTestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseType">
    <annotation>
      <documentation>TG Skade erosjonsbeskyttelse: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10626</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEEROSJONSBESKYTTELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadeErosjonsbeskyttelseEnumerationType nvdb:TGSkadeErosjonsbeskyttelseOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseEnumerationType">
    <annotation>
      <documentation>TG Skade erosjonsbeskyttelse: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10626</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEEROSJONSBESKYTTELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17055: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17055</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17081: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17081</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17107: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17107</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17133: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17133</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17159: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17185: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17185</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeErosjonsbeskyttelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelningIndreType">
    <annotation>
      <documentation>TG Skråningshelning,indre: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10618</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKRÅNINGSHELNINGINDRE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkråningshelningIndreEnumerationType nvdb:TGSkråningshelningIndreOtherType"/>
  </simpleType>
  <simpleType name="TGSkråningshelningIndreEnumerationType">
    <annotation>
      <documentation>TG Skråningshelning,indre: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10618</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKRÅNINGSHELNINGINDRE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17047: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17047</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17073: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17073</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17099: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17099</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17125: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17125</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17151: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17151</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17177: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17177</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelningIndreOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelningYtreType">
    <annotation>
      <documentation>TG Skråningshelning,ytre: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10621</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKRÅNINGSHELNINGYTRE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkråningshelningYtreEnumerationType nvdb:TGSkråningshelningYtreOtherType"/>
  </simpleType>
  <simpleType name="TGSkråningshelningYtreEnumerationType">
    <annotation>
      <documentation>TG Skråningshelning,ytre: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10621</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKRÅNINGSHELNINGYTRE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17050: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17050</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17076: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17076</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17102: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17102</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17128: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17128</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17154: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17154</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17180: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17180</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkråningshelningYtreOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGTersklerLengdefallType">
    <annotation>
      <documentation>TG Terskler/lengdefall: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10624</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGTERSKLERLENGDEFALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGTersklerLengdefallEnumerationType nvdb:TGTersklerLengdefallOtherType"/>
  </simpleType>
  <simpleType name="TGTersklerLengdefallEnumerationType">
    <annotation>
      <documentation>TG Terskler/lengdefall: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10624</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGTERSKLERLENGDEFALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17053: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17053</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17079: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17079</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17105: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17105</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17131: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17131</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17157: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17157</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17183: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17183</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGTersklerLengdefallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandsgradSidegrøftDypTest" substitutionGroup="gml:AbstractFeature" type="nvdb:TilstandsgradSidegrøftDypTestType">
    <annotation>
      <documentation>Tilstandsgrad,sidegrøft dyp (test): Angir tilstandsgrader for åpen dyp sidegrøft.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">877</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandsgradSidegrøftDypTestType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="tGGrøftedybde" type="nvdb:TGGrøftedybdeType">
            <annotation>
              <documentation>TG Grøftedybde: Tilstandsgrad, Grøftedybde.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10611</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGGRØFTEDYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadGrøftedybde" type="string">
            <annotation>
              <documentation>Merknad Grøftedybde: Merknad Grøftedybde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10651</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADGRØFTEDYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGGrøftebreddeBunn" type="nvdb:TGGrøftebreddeBunnType">
            <annotation>
              <documentation>TG Grøftebredde, bunn: Tilstandsgrad, Grøftebredde, bunn. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10614</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGGRØFTEBREDDEBUNN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadGrøftebreddeBunn" type="string">
            <annotation>
              <documentation>Merknad Grøftebredde, bunn: Merknad Grøftebredde, bunn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10650</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADGRØFTEBREDDEBUNN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGSkråningshelningIndre" type="nvdb:TGSkråningshelningIndreType">
            <annotation>
              <documentation>TG Skråningshelning, indre: Tilstandsgrad, Skråningshelning, indre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10618</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKRÅNINGSHELNINGINDRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkråningshelningIndre" type="string">
            <annotation>
              <documentation>Merknad Skråningshelning, indre: Merknad Skråningshelning, indre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10664</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKRÅNINGSHELNINGINDRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGSkråningshelningYtre" type="nvdb:TGSkråningshelningYtreType">
            <annotation>
              <documentation>TG Skråningshelning, ytre: Tilstandsgrad, Skråningshelning, ytre. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10621</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKRÅNINGSHELNINGYTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkråningshelningYtre" type="string">
            <annotation>
              <documentation>Merknad Skråningshelning, ytre: Merknad Skråningshelning, ytre</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10665</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKRÅNINGSHELNINGYTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGTersklerLengdefall" type="nvdb:TGTersklerLengdefallType">
            <annotation>
              <documentation>TG Terskler/lengdefall: Tilstandsgrad, terskler/lengdefall. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10624</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGTERSKLERLENGDEFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadTersklerLengdefall" type="string">
            <annotation>
              <documentation>Merknad Terskler/lengdefall: Merknad Terskler/lengdefall</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10666</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADTERSKLERLENGDEFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGSkadeErosjonsbeskyttelse" type="nvdb:TGSkadeErosjonsbeskyttelseType">
            <annotation>
              <documentation>TG Skade erosjonsbeskyttelse: Tilstandsgrad, Skade erosjonsbeskyttelse. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10626</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEEROSJONSBESKYTTELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeErosjonsbeskyttelse" type="string">
            <annotation>
              <documentation>Merknad Skade erosjonsbeskyttelse: Merknad Skade erosjonsbeskyttelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10658</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADEEROSJONSBESKYTTELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGKapasitet" type="nvdb:TGKapasitetType">
            <annotation>
              <documentation>TG Kapasitet: Tilstandsgrad, Kapasitet. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10628</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitet" type="string">
            <annotation>
              <documentation>Merknad Kapasitet: Merknad Kapasitet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10652</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKAPASITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGSamletVurderingTeoretiskAutomatikk" type="nvdb:TGSamletVurderingTeoretiskAutomatikkTilstandsgradSidegrøftDypTestType">
            <annotation>
              <documentation>TG Samlet vurdering teoretisk, automatikk: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10633</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGTEORETISKAUTOMATIKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tGSamletVurderingPraktiskManuell" type="nvdb:TGSamletVurderingPraktiskManuellTilstandsgradSidegrøftDypTestType">
            <annotation>
              <documentation>TG Samlet vurdering praktisk, manuell: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10634</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGPRAKTISKMANUELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>Merknad Samlet vurdering: Merknad Samlet vurdering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10509</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSAMLETVURDERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>Lengde: Angir hvor lang strekning registrering representerer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10508</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="nvdb:DriftstilstandTilstandsgradSidegrøftDypTestType">
            <annotation>
              <documentation>Driftstilstand: Driftstilstand. 1 = er ikke rensket, 2 = er rensket</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10639</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>Merknad driftstilstand: Merknad knyttet til driftstilstand</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10696</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADDRIFTSTILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="nvdb:VannføringTilstandsgradSidegrøftDypTestType">
            <annotation>
              <documentation>Vannføring: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10645</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="nvdb:TypeRegistreringTilstandsgradSidegrøftDypTestType">
            <annotation>
              <documentation>Type registrering: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10642</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>Registreringsdato: Registreringsdato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10513</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>Signatur: Signatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10514</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIGNATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10515</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandsgradSidegrøftDypTestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandsgradSidegrøftDypTest"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRegistreringTilstandsgradSidegrøftDypTestType">
    <annotation>
      <documentation>Type registrering: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10642</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERINGTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRegistreringTilstandsgradSidegrøftDypTestEnumerationType nvdb:TypeRegistreringTilstandsgradSidegrøftDypTestOtherType"/>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgradSidegrøftDypTestEnumerationType">
    <annotation>
      <documentation>Type registrering: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10642</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERINGTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hoved">
        <annotation>
          <documentation>17204: Hoved: Hovedinspeksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="årlig">
        <annotation>
          <documentation>17207: Årlig: Årlig ajourhold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17207</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgradSidegrøftDypTestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgradSidegrøftDypTestType">
    <annotation>
      <documentation>Vannføring: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10645</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRINGTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannføringTilstandsgradSidegrøftDypTestEnumerationType nvdb:VannføringTilstandsgradSidegrøftDypTestOtherType"/>
  </simpleType>
  <simpleType name="VannføringTilstandsgradSidegrøftDypTestEnumerationType">
    <annotation>
      <documentation>Vannføring: Vannføring. 1=liten (kontinuerlig), 2=stor(kontinuerlig),3=Årsvariasjon,4=Stående vann, 5=tørrlagt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10645</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRINGTILSTANDSGRADSIDEGRØFTDYPTEST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="liten">
        <annotation>
          <documentation>17210: Liten: Liten kontinuelrig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17210</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stor">
        <annotation>
          <documentation>17213: Stor: Stor, kontinuerlig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17213</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="årsvariasjon">
        <annotation>
          <documentation>17216: Årsvariasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17216</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ståendeVann">
        <annotation>
          <documentation>17219: Stående vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17219</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tørrlagt">
        <annotation>
          <documentation>17222: Tørrlagt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17222</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgradSidegrøftDypTestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
