XSD/NVDB/579/579.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>579: Definerer politidistrikt</documentation>
  </annotation>
  <include schemaLocation="Politidistrikt.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KoordinatsystemPolitidistriktType">
    <annotation>
      <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8148</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEMPOLITIDISTRIKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemPolitidistriktEnumerationType nvdb:KoordinatsystemPolitidistriktOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemPolitidistriktEnumerationType">
    <annotation>
      <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8148</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEMPOLITIDISTRIKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>10857: NGO-akse I: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10857</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>10858: NGO-akse II: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10858</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>10859: NGO-akse III: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10859</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>10860: NGO-akse IV: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10860</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>10861: NGO-akse V: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10861</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>10862: NGO-akse VI: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10862</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>10863: NGO-akse VII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10863</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>10864: NGO-akse VIII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10864</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>10865: UTM sone 31 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10865</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>10866: UTM sone 32 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10866</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>10867: UTM sone 33 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10867</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>10868: UTM sone 34 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10868</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>10869: UTM sone 35 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10869</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>10870: UTM sone 36 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>10871: UTM sone 31 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>10872: UTM sone 32 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10872</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>10873: UTM sone 33 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10873</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>10874: UTM sone 34 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10874</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>10875: UTM sone 35 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10875</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>10876: UTM sone 36 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10876</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>10877: NGO-64A, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10877</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>10878: NGO-64B, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10878</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemPolitidistriktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Politidistrikt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:PolitidistriktType">
    <annotation>
      <documentation>579: Definerer politidistrikt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">579</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POLITIDISTRIKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PolitidistriktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="politidistriktsnummer" type="integer">
            <annotation>
              <documentation>5167: Angir nummer på politidistrikt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5167</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POLITIDISTRIKTSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="politidistriktsnavn" type="string">
            <annotation>
              <documentation>5166: Gir navn til politidistrikt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5166</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_POLITIDISTRIKTSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemPolitidistriktType">
            <annotation>
              <documentation>8148: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8148</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5170: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5170</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5171: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5171</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommune" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommune</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PolitidistriktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Politidistrikt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
