XSD/NVDB/293/301.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>301: Angir område med vegetasjon langs vegkant/skråning.  Dette er vanligvis vegetasjon som skal skjøttes vha kantklipper (kantslått).  Det er mulig å gi bredde i form av tilkopla "breddemåling".</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">301</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Breddemaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KantklippAnbefaltIntervallType">
    <annotation>
      <documentation>Kantklipp,anbefalt intervall: Gir anbefaling for hvor ofte det bør foretas kantklipp.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2382</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANTKLIPPANBEFALTINTERVALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KantklippAnbefaltIntervallEnumerationType nvdb:KantklippAnbefaltIntervallOtherType"/>
  </simpleType>
  <simpleType name="KantklippAnbefaltIntervallEnumerationType">
    <annotation>
      <documentation>Kantklipp,anbefalt intervall: Gir anbefaling for hvor ofte det bør foretas kantklipp.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2382</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANTKLIPPANBEFALTINTERVALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2GPrÅr">
        <annotation>
          <documentation>5074: 2 g. pr år: Klipp to ganger pr  år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5074</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1GPrÅr">
        <annotation>
          <documentation>5073: 1 g. pr år: Klipp hvert år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5073</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2HvertÅr">
        <annotation>
          <documentation>5075: 2.hvert år: Klipp annethvert år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5075</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="35HvertÅr">
        <annotation>
          <documentation>5272: 3-5. hvert år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5272</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KantklippAnbefaltIntervallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kantklippareal" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KantklipparealType">
    <annotation>
      <documentation>Kantklippareal: Angir område med vegetasjon langs vegkant/skråning.  Dette er vanligvis vegetasjon som skal skjøttes vha kantklipper (kantslått).  Det er mulig å gi bredde i form av tilkopla "breddemåling".</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">301</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANTKLIPPAREAL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KantklipparealType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="klippebreddeFaktisk" type="integer">
            <annotation>
              <documentation>Klippebredde, faktisk: Angir skrå bredde på området som faktisk skal klippes.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9969</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIPPEBREDDEFAKTISK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klippebreddeKvalitet" type="nvdb:KlippebreddeKvalitetType">
            <annotation>
              <documentation>Klippebredde, kvalitet: Angir kvalitet på verdier for "Klippebredde, faktisk" og ev. "Klippebredde, krav"</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9971</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIPPEBREDDEKVALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kantklippAnbefaltIntervall" type="nvdb:KantklippAnbefaltIntervallType">
            <annotation>
              <documentation>Kantklipp, anbefalt intervall: Gir anbefaling for hvor ofte det bør foretas kantklipp.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2382</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KANTKLIPPANBEFALTINTERVALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="klippebreddeKrav" type="integer">
            <annotation>
              <documentation>Klippebredde, krav: Angir hvor langt ut fra vegkant,målt horisontalt, det er krav om å klippe.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9970</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIPPEBREDDEKRAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKantklipparealType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8088</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4898</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9136</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBreddemåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Breddemåling</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KantklipparealPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kantklippareal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KlippebreddeKvalitetType">
    <annotation>
      <documentation>Klippebredde,kvalitet: Angir kvalitet på verdier for "Klippebredde, faktisk" og ev. "Klippebredde, krav"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9971</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIPPEBREDDEKVALITET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KlippebreddeKvalitetEnumerationType nvdb:KlippebreddeKvalitetOtherType"/>
  </simpleType>
  <simpleType name="KlippebreddeKvalitetEnumerationType">
    <annotation>
      <documentation>Klippebredde,kvalitet: Angir kvalitet på verdier for "Klippebredde, faktisk" og ev. "Klippebredde, krav"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9971</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIPPEBREDDEKVALITET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="måltIFelt">
        <annotation>
          <documentation>16183: Målt i felt: Angir at det framkommet basert på en del målinger i felt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16183</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vurdertIFelt">
        <annotation>
          <documentation>16184: Vurdert i felt: Angir at det er vurdert noe grovt i felt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16184</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vurdertUtFraVegbilderFlyfotoKart">
        <annotation>
          <documentation>16185: Vurdert ut fra vegbilder/flyfoto/kart : Angir at det er angitt ut fra bilder og kart uten at det er foretatt vuredering i felt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16185</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="genereltAnslag">
        <annotation>
          <documentation>16186: Generelt anslag: Angir at det er stor usikkerhet til informasjon, kan f.eks være basert på diverse gamle data osv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16186</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="basertPåGenerelleKrav">
        <annotation>
          <documentation>16187: Basert på generelle krav: Angir at det er lagt inn verdier ut fra generelle krav til klippebredde, f.eks kan det da være lagt inn 6 meter på alle steder der det er behov for klipping på gitt strekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16187</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KlippebreddeKvalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKantklipparealType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8088</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGKANTKLIPPAREAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKantklipparealEnumerationType nvdb:VedlikeholdsansvarligKantklipparealOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKantklipparealEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8088</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGKANTKLIPPAREAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10482: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10482</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10560: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10560</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10638: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10638</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17734: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKantklipparealOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
