XSD/NVDB/786/786.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>786: objekt eller strekning av veg som er verneverdig eller fredet</documentation>
  </annotation>
  <include schemaLocation="Vegminne.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVegminneType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERVEGMINNE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVegminneEnumerationType nvdb:EierVegminneOtherType"/>
  </simpleType>
  <simpleType name="EierVegminneEnumerationType">
    <annotation>
      <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERVEGMINNE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>11308: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11308</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16176: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16176</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11309: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11309</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>11311: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11311</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>11312: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11312</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NSB">
        <annotation>
          <documentation>11310: NSB</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11310</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVegminneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENKELTMINNEART</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnkeltminneartEnumerationType nvdb:EnkeltminneartOtherType"/>
  </simpleType>
  <simpleType name="EnkeltminneartEnumerationType">
    <annotation>
      <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENKELTMINNEART</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vegfar">
        <annotation>
          <documentation>11374: Vegfar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11374</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rideveg">
        <annotation>
          <documentation>11350: Rideveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="postveg">
        <annotation>
          <documentation>11365: Postveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11365</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høgfjellsveg">
        <annotation>
          <documentation>11357: Høgfjellsveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11357</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kongeveg">
        <annotation>
          <documentation>11363: Kongeveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11363</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kjerreveg_FranskPrinsipp">
        <annotation>
          <documentation>11352: Kjerreveg-fransk prinsipp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11352</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="chauss">
        <annotation>
          <documentation>11353: Chaussé</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11353</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mellomriksveg">
        <annotation>
          <documentation>11371: Mellomriksveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11371</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="motorveg">
        <annotation>
          <documentation>11379: Motorveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11379</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="veg_1GenerasjonsBilveg_Før1960">
        <annotation>
          <documentation>11397: Veg, 1. generasjons bilveg (før 1960)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11397</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="veg_2FeltsBilveg">
        <annotation>
          <documentation>11394: Veg, 2-felts bilveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11394</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forbindelsesveg">
        <annotation>
          <documentation>16789: Forbindelsesveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16789</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bevegeligBru">
        <annotation>
          <documentation>11377: Bevegelig bru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bjelkebru">
        <annotation>
          <documentation>11349: Bjelkebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11349</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="buebru">
        <annotation>
          <documentation>11361: Buebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11361</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fagverksbruHengverksbru">
        <annotation>
          <documentation>11382: Fagverksbru / Hengverksbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flytebru">
        <annotation>
          <documentation>11385: Flytebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11385</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="frittFrambygdBruKassebru">
        <annotation>
          <documentation>11354: Fritt frambygd bru / Kassebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11354</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hellebru">
        <annotation>
          <documentation>11351: Hellebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hengebru">
        <annotation>
          <documentation>11359: Hengebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11359</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hvelvbru">
        <annotation>
          <documentation>11319: Hvelvbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11319</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kavlbru">
        <annotation>
          <documentation>11378: Kavlbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11378</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mastebru">
        <annotation>
          <documentation>11383: Mastebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="platebru">
        <annotation>
          <documentation>11356: Platebru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11356</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skråstagbru">
        <annotation>
          <documentation>11358: Skråstagbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11358</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sprengverkbru">
        <annotation>
          <documentation>11355: Sprengverkbru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11355</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="all">
        <annotation>
          <documentation>11391: Allé</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11391</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kryssRundkjøring">
        <annotation>
          <documentation>11399: Kryss/Rundkjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11399</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegknute">
        <annotation>
          <documentation>11368: Vegknute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11368</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rekkverk">
        <annotation>
          <documentation>11367: Rekkverk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11367</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rasteplass">
        <annotation>
          <documentation>11387: Rasteplass</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="støttemur">
        <annotation>
          <documentation>11370: Støttemur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11370</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="støyskjerm">
        <annotation>
          <documentation>11395: Støyskjerm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11395</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegkunst">
        <annotation>
          <documentation>11400: Vegkunst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11400</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegmerkerSkilt">
        <annotation>
          <documentation>11401: Vegmerker/skilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11401</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="båtdragTrallebane">
        <annotation>
          <documentation>11380: Båtdrag / Trallebane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11380</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="båtvorrSteinkai">
        <annotation>
          <documentation>11366: Båtvorr/Steinkai</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11366</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ferjekai">
        <annotation>
          <documentation>11386: Ferjekai</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ferjekaibru">
        <annotation>
          <documentation>11364: Ferjekaibru</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11364</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="landkarPilarPontong">
        <annotation>
          <documentation>11392: Landkar/Pilar/Pontong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11392</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangsteinVadestein">
        <annotation>
          <documentation>11388: Gangstein/Vadestein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vardeVarderekke">
        <annotation>
          <documentation>11317: Varde/Varderekke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11317</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tunnel">
        <annotation>
          <documentation>11375: Tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11375</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tunnelportal">
        <annotation>
          <documentation>11389: Tunnelportal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11389</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skredoverbygg">
        <annotation>
          <documentation>11381: Skredoverbygg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kulvert">
        <annotation>
          <documentation>11393: Kulvert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11393</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stikkrenne">
        <annotation>
          <documentation>11398: Stikkrenne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11398</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bygate">
        <annotation>
          <documentation>11362: Bygate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11362</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gangOgSykkelveg">
        <annotation>
          <documentation>11390: Gang- og sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11390</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lokalveg">
        <annotation>
          <documentation>11318: Lokalveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11318</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="miljøgate">
        <annotation>
          <documentation>11396: Miljøgate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11396</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bomstasjon">
        <annotation>
          <documentation>11360: Bomstasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11360</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnkeltminneartOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegminne" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegminneType">
    <annotation>
      <documentation>786: objekt eller strekning av veg som er verneverdig eller fredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">786</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGMINNE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegminneType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="NVPNummer" type="string">
            <annotation>
              <documentation>8359: viser til objektnummer i "Vegvalg" - Nasjonal verneplan for veger, bruer og vegrelaterte kulturminner</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8359</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NVPNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="enkeltminneart" type="nvdb:EnkeltminneartType">
            <annotation>
              <documentation>8367: Angir hvilken enkeltminneart vegminne tilhører. Begrepet er definert i Askeladden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENKELTMINNEART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="askeladden_ID" type="string">
            <annotation>
              <documentation>8363: Gir referanse til unik ID i Askeladden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8363</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ASKELADDEN_ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linkTilKulturminnesøk" type="string">
            <annotation>
              <documentation>10184: Gir link til Kulturminnesøk, dvs innsynsløsning for Askeladden. Gir mer detaljert informasjon om forekomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10184</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LINKTILKULTURMINNESØK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>8360: Navn på vegminne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8360</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>8388: Angir informasjon fortrinnsvis knyttet til forvaltning, drift og vedlikehold.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8388</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVegminneType">
            <annotation>
              <documentation>8365: Angir hvem som er eier av kulturminne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8365</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8389: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8389</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10582: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10582</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10583: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10583</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegminnePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegminne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
