XSD/NVDB/445/445.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>445: Masser som løsner</documentation>
  </annotation>
  <include schemaLocation="Skred.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BilderType">
    <annotation>
      <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2355</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILDER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BilderEnumerationType nvdb:BilderOtherType"/>
  </simpleType>
  <simpleType name="BilderEnumerationType">
    <annotation>
      <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2355</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILDER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4181: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4181</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4182: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4182</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegType">
    <annotation>
      <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2342</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BLOKKERTGANGSYKKELVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BlokkertGangSykkelvegEnumerationType nvdb:BlokkertGangSykkelvegOtherType"/>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegEnumerationType">
    <annotation>
      <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2342</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BLOKKERTGANGSYKKELVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4183: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4183</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4184: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4184</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertGangSykkelvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertVeglengdeType">
    <annotation>
      <documentation>2341: Angir lengde av veg som var blokkert av skredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2341</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BLOKKERTVEGLENGDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BlokkertVeglengdeEnumerationType nvdb:BlokkertVeglengdeOtherType"/>
  </simpleType>
  <simpleType name="BlokkertVeglengdeEnumerationType">
    <annotation>
      <documentation>2341: Angir lengde av veg som var blokkert av skredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2341</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BLOKKERTVEGLENGDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kunIGrøft">
        <annotation>
          <documentation>4189: Kun i grøft</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4189</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="under10M">
        <annotation>
          <documentation>4185: &lt; 10 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4185</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10_50M">
        <annotation>
          <documentation>4186: 10 - 50 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4186</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50_100M">
        <annotation>
          <documentation>4187: 50 - 100 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4187</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="over100M">
        <annotation>
          <documentation>4188: &gt; 100 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4188</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BlokkertVeglengdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedType">
    <annotation>
      <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2330</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEFORSKJELLVEGUTLØSNINGSSTED</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HøydeforskjellVegUtløsningsstedEnumerationType nvdb:HøydeforskjellVegUtløsningsstedOtherType"/>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedEnumerationType">
    <annotation>
      <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2330</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEFORSKJELLVEGUTLØSNINGSSTED</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0_50M">
        <annotation>
          <documentation>4190: 0 - 50 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4190</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="50_200M">
        <annotation>
          <documentation>4191: 50 - 200 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4191</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="over200M">
        <annotation>
          <documentation>4192: &gt; 200 m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4192</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedenforVeg">
        <annotation>
          <documentation>13105: Nedenfor veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13105</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeVurdert">
        <annotation>
          <documentation>4193: Ikke vurdert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4193</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydeforskjellVegUtløsningsstedOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LøsneområdeType">
    <annotation>
      <documentation>2328: Angir løsneområde for skredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2328</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LØSNEOMRÅDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LøsneområdeEnumerationType nvdb:LøsneområdeOtherType"/>
  </simpleType>
  <simpleType name="LøsneområdeEnumerationType">
    <annotation>
      <documentation>2328: Angir løsneområde for skredet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2328</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LØSNEOMRÅDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tunnelmunning">
        <annotation>
          <documentation>4194: Tunnelmunning: Inkluderer område &lt; 50 m fra tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4194</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegskjæring">
        <annotation>
          <documentation>4195: Vegskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4195</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ur">
        <annotation>
          <documentation>4196: Ur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4196</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fjellDalside">
        <annotation>
          <documentation>4197: Fjell/dalside</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4197</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="inneITunnel">
        <annotation>
          <documentation>5349: Inne i tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5349</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegbaneFylling">
        <annotation>
          <documentation>13104: Vegbane/-fylling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13104</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LøsneområdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåBruType">
    <annotation>
      <documentation>2335: Angir om skredet har medført skade på bru</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2335</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅBRU</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåBruEnumerationType nvdb:SkadePåBruOtherType"/>
  </simpleType>
  <simpleType name="SkadePåBruEnumerationType">
    <annotation>
      <documentation>2335: Angir om skredet har medført skade på bru</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2335</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅBRU</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4204: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4205: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4205</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåBruOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåDreneringType">
    <annotation>
      <documentation>2338: Angir om skredet har medført skade på drenering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2338</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅDRENERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåDreneringEnumerationType nvdb:SkadePåDreneringOtherType"/>
  </simpleType>
  <simpleType name="SkadePåDreneringEnumerationType">
    <annotation>
      <documentation>2338: Angir om skredet har medført skade på drenering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2338</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅDRENERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4206: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4206</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4207: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4207</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåDreneringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåKjøretøyType">
    <annotation>
      <documentation>2333: Angir om skredet har medført skade på kjøretøy</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2333</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅKJØRETØY</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåKjøretøyEnumerationType nvdb:SkadePåKjøretøyOtherType"/>
  </simpleType>
  <simpleType name="SkadePåKjøretøyEnumerationType">
    <annotation>
      <documentation>2333: Angir om skredet har medført skade på kjøretøy</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2333</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅKJØRETØY</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4208: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4208</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4209: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4209</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåKjøretøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåPersonType">
    <annotation>
      <documentation>2332: Angir om skredet har medført skade på person</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2332</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅPERSON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåPersonEnumerationType nvdb:SkadePåPersonOtherType"/>
  </simpleType>
  <simpleType name="SkadePåPersonEnumerationType">
    <annotation>
      <documentation>2332: Angir om skredet har medført skade på person</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2332</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅPERSON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4210: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4210</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4211: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4211</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåPersonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåRekkverkType">
    <annotation>
      <documentation>2336: Angir om skredet har medført skade på rekkverk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2336</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅREKKVERK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåRekkverkEnumerationType nvdb:SkadePåRekkverkOtherType"/>
  </simpleType>
  <simpleType name="SkadePåRekkverkEnumerationType">
    <annotation>
      <documentation>2336: Angir om skredet har medført skade på rekkverk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2336</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅREKKVERK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4212: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4212</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4213: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4213</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåRekkverkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppType">
    <annotation>
      <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2334</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅVEGDEKKEVEGKROPP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadePåVegdekkeVegkroppEnumerationType nvdb:SkadePåVegdekkeVegkroppOtherType"/>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppEnumerationType">
    <annotation>
      <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2334</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅVEGDEKKEVEGKROPP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4214: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4214</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4215: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4215</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadePåVegdekkeVegkroppOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skred" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkredType">
    <annotation>
      <documentation>445: Masser som løsner</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">445</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKRED</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="skredDato" type="date">
            <annotation>
              <documentation>2324: Angir dato da skredet gikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2324</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skredKlokkeslett" type="integer">
            <annotation>
              <documentation>2325: Angir klokkeslett da skredet gikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2325</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDKLOKKESLETT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeSkred" type="nvdb:TypeSkredType">
            <annotation>
              <documentation>2326: Angir hvilken type skred det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2326</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKRED</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="løsneområde" type="nvdb:LøsneområdeType">
            <annotation>
              <documentation>2328: Angir løsneområde for skredet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2328</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LØSNEOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7905: Stedsnavn hvor forekomst er lokalisert.  Evt plassering i forhold til stedsnavn.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7905</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSANGIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="volumAvSkredmasserPåVeg" type="nvdb:VolumAvSkredmasserPåVegType">
            <annotation>
              <documentation>2327: Angir volum av skredmasser på vegen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2327</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VOLUMAVSKREDMASSERPÅVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="volumAvTotaleSkredmasser" type="integer">
            <annotation>
              <documentation>2329: Anslag over hvor stort det totale skredet har vært
Enhet: Kubikkmeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2329</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VOLUMAVTOTALESKREDMASSER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="blokkertVeglengde" type="nvdb:BlokkertVeglengdeType">
            <annotation>
              <documentation>2341: Angir lengde av veg som var blokkert av skredet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2341</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BLOKKERTVEGLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="blokkertGangSykkelveg" type="nvdb:BlokkertGangSykkelvegType">
            <annotation>
              <documentation>2342: Angir om gang/sykkelveg er blitt blokkert av skredet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2342</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BLOKKERTGANGSYKKELVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeforskjellVegUtløsningssted" type="nvdb:HøydeforskjellVegUtløsningsstedType">
            <annotation>
              <documentation>2330: Angir høydeforskjell mellom skredets utløsningssted og vegen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2330</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEFORSKJELLVEGUTLØSNINGSSTED</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grøftebreddePåSkredside" type="double">
            <annotation>
              <documentation>2343: Angir grøftebredde på skredside
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2343</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRØFTEBREDDEPÅSKREDSIDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vesentligeSkader" type="nvdb:VesentligeSkaderType">
            <annotation>
              <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2331</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VESENTLIGESKADER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåPerson" type="nvdb:SkadePåPersonType">
            <annotation>
              <documentation>2332: Angir om skredet har medført skade på person</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2332</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅPERSON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåKjøretøy" type="nvdb:SkadePåKjøretøyType">
            <annotation>
              <documentation>2333: Angir om skredet har medført skade på kjøretøy</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2333</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅKJØRETØY</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåVegdekkeVegkropp" type="nvdb:SkadePåVegdekkeVegkroppType">
            <annotation>
              <documentation>2334: Angir om skredet har medført skade på vegdekke og/eller vegkropp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2334</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅVEGDEKKEVEGKROPP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåBru" type="nvdb:SkadePåBruType">
            <annotation>
              <documentation>2335: Angir om skredet har medført skade på bru</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2335</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅBRU</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåRekkverk" type="nvdb:SkadePåRekkverkType">
            <annotation>
              <documentation>2336: Angir om skredet har medført skade på rekkverk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2336</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅREKKVERK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadePåDrenering" type="nvdb:SkadePåDreneringType">
            <annotation>
              <documentation>2338: Angir om skredet har medført skade på drenering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2338</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEPÅDRENERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stengning" type="nvdb:StengningType">
            <annotation>
              <documentation>2344: Gir informasjon om eventuell stengning av vegen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2344</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STENGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="værforholdPåVegen" type="nvdb:VærforholdPåVegenType">
            <annotation>
              <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2339</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VÆRFORHOLDPÅVEGEN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vindretning" type="nvdb:VindretningType">
            <annotation>
              <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2340</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINDRETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="temperaturPåVeg" type="double">
            <annotation>
              <documentation>5153: Angir lufttemperatur på/ved vegen der skredet har inntruffet.
Enhet: Grader Celcius</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5153</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEMPERATURPÅVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bilder" type="nvdb:BilderType">
            <annotation>
              <documentation>2355: Angir om det finnes bilder av skredet eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2355</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BILDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsansvarlig" type="string">
            <annotation>
              <documentation>7845: Angir hvem som er ansvarlig for registrert informasjon om skredet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7845</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>8938: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8938</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4963: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4963</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8912: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8912</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skred"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StengningType">
    <annotation>
      <documentation>2344: Gir informasjon om eventuell stengning av vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2344</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STENGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StengningEnumerationType nvdb:StengningOtherType"/>
  </simpleType>
  <simpleType name="StengningEnumerationType">
    <annotation>
      <documentation>2344: Gir informasjon om eventuell stengning av vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2344</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STENGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenStengning">
        <annotation>
          <documentation>4216: Ingen stengning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4216</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stengningAvDelAvVegbane">
        <annotation>
          <documentation>4217: Stengning av del av vegbane: F.eks stengning av et kjørefelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4217</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stengtForTungtrafikk">
        <annotation>
          <documentation>4218: Stengt for tungtrafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4218</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stengtForPersonbiler">
        <annotation>
          <documentation>4219: Stengt for personbiler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4219</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stengtForAllTrafikk">
        <annotation>
          <documentation>4220: Stengt for all trafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4220</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StengningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredType">
    <annotation>
      <documentation>2326: Angir hvilken type skred det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2326</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKRED</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredEnumerationType nvdb:TypeSkredOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredEnumerationType">
    <annotation>
      <documentation>2326: Angir hvilken type skred det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2326</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPESKRED</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stein">
        <annotation>
          <documentation>4198: Stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jordLøsmasse">
        <annotation>
          <documentation>4199: Jord/løsmasse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4199</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snø">
        <annotation>
          <documentation>4200: Snø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="is">
        <annotation>
          <documentation>4201: Is</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4201</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="isStein">
        <annotation>
          <documentation>5351: Is/stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flomskred_VannSteinJord">
        <annotation>
          <documentation>4202: Flomskred (vann+stein+jord): Består av vann, stein og jord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4202</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sørpeskred_VannSnøStein">
        <annotation>
          <documentation>4203: Sørpeskred (vann+snø+stein): Består av vann, snø og stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utglidningAvVeg">
        <annotation>
          <documentation>13103: Utglidning av veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13103</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VesentligeSkaderType">
    <annotation>
      <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2331</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VESENTLIGESKADER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VesentligeSkaderEnumerationType nvdb:VesentligeSkaderOtherType"/>
  </simpleType>
  <simpleType name="VesentligeSkaderEnumerationType">
    <annotation>
      <documentation>2331: Angir om skredet totalt sett har gitt vesentlige skader eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2331</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VESENTLIGESKADER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>4221: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4221</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>4222: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4222</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VesentligeSkaderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VindretningType">
    <annotation>
      <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2340</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINDRETNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VindretningEnumerationType nvdb:VindretningOtherType"/>
  </simpleType>
  <simpleType name="VindretningEnumerationType">
    <annotation>
      <documentation>2340: Angir hvilken vindretning det var på vegen da skredet gikk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2340</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINDRETNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation>4223: S: sør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4223</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SSV">
        <annotation>
          <documentation>4224: SSV: Sør-sørvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4224</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SV">
        <annotation>
          <documentation>4225: SV: Sørvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4225</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VSV">
        <annotation>
          <documentation>4226: VSV: Vest-Sørvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4226</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>4227: V: Vest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4227</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VNV">
        <annotation>
          <documentation>4228: VNV: Vest-nordvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4228</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NV">
        <annotation>
          <documentation>4229: NV: Nordvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4229</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NNV">
        <annotation>
          <documentation>4230: NNV: Nord-nordvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4230</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>4231: N: Nord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4231</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NNØ">
        <annotation>
          <documentation>4232: NNØ: Nord-nordøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4232</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NØ">
        <annotation>
          <documentation>4238: NØ: Nordøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4238</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ØNØ">
        <annotation>
          <documentation>4233: ØNØ: Øst-nordøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4233</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ø">
        <annotation>
          <documentation>4234: Ø: Øst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4234</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ØSØ">
        <annotation>
          <documentation>4235: ØSØ: Øst-sørøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4235</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SØ">
        <annotation>
          <documentation>4236: SØ: Sørøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4236</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SSØ">
        <annotation>
          <documentation>4237: SSØ: Sør-sørøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4237</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vindstille">
        <annotation>
          <documentation>13240: Vindstille</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13240</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VindretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegType">
    <annotation>
      <documentation>2327: Angir volum av skredmasser på vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2327</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VOLUMAVSKREDMASSERPÅVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VolumAvSkredmasserPåVegEnumerationType nvdb:VolumAvSkredmasserPåVegOtherType"/>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegEnumerationType">
    <annotation>
      <documentation>2327: Angir volum av skredmasser på vegen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2327</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VOLUMAVSKREDMASSERPÅVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="under1Kbm">
        <annotation>
          <documentation>4239: &lt; 1 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4239</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="under_10Kbm">
        <annotation>
          <documentation>4240: &lt;10 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4240</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="under100Kbm">
        <annotation>
          <documentation>4241: &lt; 100 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4241</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="under1000Kbm">
        <annotation>
          <documentation>4242: &lt; 1000 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4242</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="over1000Kbm">
        <annotation>
          <documentation>4243: &gt; 1000 kbm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4243</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeVurdert">
        <annotation>
          <documentation>4244: Ikke vurdert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4244</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VolumAvSkredmasserPåVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdPåVegenType">
    <annotation>
      <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2339</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VÆRFORHOLDPÅVEGEN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VærforholdPåVegenEnumerationType nvdb:VærforholdPåVegenOtherType"/>
  </simpleType>
  <simpleType name="VærforholdPåVegenEnumerationType">
    <annotation>
      <documentation>2339: Angir hvilke værforhold det var på vegen da skredet gikk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2339</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VÆRFORHOLDPÅVEGEN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ingenNedbør">
        <annotation>
          <documentation>4245: Ingen nedbør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4245</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regn">
        <annotation>
          <documentation>4246: Regn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4246</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regn_Lite">
        <annotation>
          <documentation>4247: Regn, lite</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4247</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regn_Mye">
        <annotation>
          <documentation>4249: Regn, mye</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4249</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="regn_Middels">
        <annotation>
          <documentation>4248: Regn, middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4248</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snø">
        <annotation>
          <documentation>4250: Snø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4250</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snø_Lite">
        <annotation>
          <documentation>4251: Snø, lite</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4251</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snø_Middels">
        <annotation>
          <documentation>4252: Snø, middels</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4252</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="snø_Mye">
        <annotation>
          <documentation>4253: Snø, mye</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4253</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VærforholdPåVegenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
