XSD/NVDB/621/621.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>621: Enkeltoppgave i forbindelse med redigering av vegnettet</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">621</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OppgaveVegnett.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="OppgaveVegnett" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:OppgaveVegnettType">
    <annotation>
      <documentation>Oppgave,vegnett: Enkeltoppgave i forbindelse med redigering av vegnettet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">621</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPGAVEVEGNETT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="OppgaveVegnettType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeOppgaveVegnettType">
            <annotation>
              <documentation>Type: Angir hvilken type oppdrag det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5603</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5562</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="definertDatoÅåååmmdd" type="date">
            <annotation>
              <documentation>Definert dato (ååååmmdd): Angir dato for opprettelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5566</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEFINERTDATOÅÅÅÅMMDD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fristÅåååmmdd" type="date">
            <annotation>
              <documentation>Frist (ååååmmdd): Angir frist for når oppgave skal være ferdig</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5573</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FRISTÅÅÅÅMMDD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="string">
            <annotation>
              <documentation>Status: Gir status</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5575</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Kan gi fast merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5579</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ledetekstID" type="integer">
            <annotation>
              <documentation>LedetekstID: Angivelse av posisjon på det lineære objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5628</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDETEKSTID</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OppgaveVegnettPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:OppgaveVegnett"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeOppgaveVegnettType">
    <annotation>
      <documentation>Type: Angir hvilken type oppdrag det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5603</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEOPPGAVEVEGNETT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeOppgaveVegnettEnumerationType nvdb:TypeOppgaveVegnettOtherType"/>
  </simpleType>
  <simpleType name="TypeOppgaveVegnettEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type oppdrag det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5603</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEOPPGAVEVEGNETT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="godkjenning">
        <annotation>
          <documentation>7892: Godkjenning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7892</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utsjekk">
        <annotation>
          <documentation>7893: Utsjekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7893</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegnettsredigering">
        <annotation>
          <documentation>7894: Vegnettsredigering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7894</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="godkjenning">
        <annotation>
          <documentation>7895: Godkjenning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7895</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="setteVegnettIDrift">
        <annotation>
          <documentation>7896: Sette vegnett i drift</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7896</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeOppgaveVegnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
