XSD/NVDB/598/598.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>598: Landskapsbelastning.  Tidligere register 42- Landskap i VDB</documentation>
  </annotation>
  <include schemaLocation="Landskapsbelastning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelastningselementType">
    <annotation>
      <documentation>5461: Angir belastningselement</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5461</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSELEMENT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelastningselementEnumerationType nvdb:BelastningselementOtherType"/>
  </simpleType>
  <simpleType name="BelastningselementEnumerationType">
    <annotation>
      <documentation>5461: Angir belastningselement</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5461</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSELEMENT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="linjeføring">
        <annotation>
          <documentation>7382: Linjeføring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tverrsnitt">
        <annotation>
          <documentation>7383: Tverrsnitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="konstruksjoner">
        <annotation>
          <documentation>7384: Konstruksjoner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7384</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="utstyr">
        <annotation>
          <documentation>7385: Utstyr</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7385</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="næreOmgivelser">
        <annotation>
          <documentation>7386: Nære omgivelser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelastningselementOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelastningsgradType">
    <annotation>
      <documentation>5460: Angir belastningsgrad</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5460</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelastningsgradEnumerationType nvdb:BelastningsgradOtherType"/>
  </simpleType>
  <simpleType name="BelastningsgradEnumerationType">
    <annotation>
      <documentation>5460: Angir belastningsgrad</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5460</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="storBelastning">
        <annotation>
          <documentation>7379: Stor belastning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7379</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="belastning">
        <annotation>
          <documentation>7380: Belastning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7380</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="positivVirkning">
        <annotation>
          <documentation>7381: Positiv virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ingenBelastning">
        <annotation>
          <documentation>9111: Ingen belastning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9111</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelastningsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelastningstypeType">
    <annotation>
      <documentation>5459: Angir belastningstype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5459</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelastningstypeEnumerationType nvdb:BelastningstypeOtherType"/>
  </simpleType>
  <simpleType name="BelastningstypeEnumerationType">
    <annotation>
      <documentation>5459: Angir belastningstype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5459</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="langsSjøVann">
        <annotation>
          <documentation>7376: Langs sjø/vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7376</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="krysserPasseringsområderForFauna">
        <annotation>
          <documentation>7377: Krysser passeringsområder for fauna</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="øvrige">
        <annotation>
          <documentation>7378: Øvrige</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7378</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelastningstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Landskapsbelastning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LandskapsbelastningType">
    <annotation>
      <documentation>598: Landskapsbelastning.  Tidligere register 42- Landskap i VDB</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">598</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSBELASTNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LandskapsbelastningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="landskapstema" type="nvdb:LandskapstemaType">
            <annotation>
              <documentation>5457: Angir landskapstema</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5457</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSTEMA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="landskapsansvarlig" type="string">
            <annotation>
              <documentation>5458: Angir hvem som er landskapsansvarlig</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5458</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belastningstype" type="nvdb:BelastningstypeType">
            <annotation>
              <documentation>5459: Angir belastningstype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5459</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belastningsgrad" type="nvdb:BelastningsgradType">
            <annotation>
              <documentation>5460: Angir belastningsgrad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5460</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSGRAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belastningselement" type="nvdb:BelastningselementType">
            <annotation>
              <documentation>5461: Angir belastningselement</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5461</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELASTNINGSELEMENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>7066: Gir beskrivelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7066</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6910: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6910</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LandskapsbelastningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Landskapsbelastning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LandskapstemaType">
    <annotation>
      <documentation>5457: Angir landskapstema</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5457</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSTEMA</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LandskapstemaEnumerationType nvdb:LandskapstemaOtherType"/>
  </simpleType>
  <simpleType name="LandskapstemaEnumerationType">
    <annotation>
      <documentation>5457: Angir landskapstema</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5457</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LANDSKAPSTEMA</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="landskapsbilde">
        <annotation>
          <documentation>7372: Landskapsbilde</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7372</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturmiljø">
        <annotation>
          <documentation>7373: Naturmiljø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7373</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kulturmiljø">
        <annotation>
          <documentation>7374: Kulturmiljø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7374</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="samlet">
        <annotation>
          <documentation>7375: Samlet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7375</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LandskapstemaOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
