XSD/NVDB/644/644.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610</documentation>
  </annotation>
  <include schemaLocation="Statistikk_Spormaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Statistikk_Spormåling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Statistikk_SpormålingType">
    <annotation>
      <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATISTIKK_SPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_SpormålingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6094</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPRETTETDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelse_Fra_Til" type="string">
            <annotation>
              <documentation>8730: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8730</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSANGIVELSE_FRA_TIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="gml:CodeType">
            <annotation>
              <documentation>6081: Angir hva statistikken omfatter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="min_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8790: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8790</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MIN_MM_DATO_GRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maks_Mm_Dato_Grunnlag" type="date">
            <annotation>
              <documentation>8791: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8791</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKS_MM_DATO_GRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="måleformål" type="gml:CodeType">
            <annotation>
              <documentation>7924: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdefordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6084</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDEFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spor_Bjelke" type="gml:CodeType">
            <annotation>
              <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPOR_BJELKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_50Prosent" type="double">
            <annotation>
              <documentation>6088: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6088</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE_50PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_90Prosent" type="double">
            <annotation>
              <documentation>6089: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6089</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE_90PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Midlere" type="double">
            <annotation>
              <documentation>6090: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6090</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE_MIDLERE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Minste" type="double">
            <annotation>
              <documentation>6091: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6091</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE_MINSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde_Største" type="double">
            <annotation>
              <documentation>6092: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6092</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE_STØRSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <documentation>6093: Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6093</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLTPROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallsfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6095</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALLSFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_50Prosent" type="double">
            <annotation>
              <documentation>9470: 50 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9470</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL_50PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_90Prosent" type="double">
            <annotation>
              <documentation>9471: 90 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9471</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL_90PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Midlere" type="double">
            <annotation>
              <documentation>9472: Midlere verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9472</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL_MIDLERE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Minste" type="double">
            <annotation>
              <documentation>9473: Miste verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9473</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL_MINSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall_Største" type="double">
            <annotation>
              <documentation>9474: Største verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9474</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL_STØRSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7549: Angir total lengde av strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7549</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>8806: Angir sum lengde av kjørefeltene innenfor en strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8806</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMMERTKJØREFELTLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6099</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUSFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_50Prosent" type="integer">
            <annotation>
              <documentation>9475: 50 % av spormålingenen innen for angitt geografisk oppløsning har horsontalradius mindre enn gitt verdi.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9475</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS_50PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_90Prosent" type="double">
            <annotation>
              <documentation>9476: 90 % av spormålingenen innen for angitt geografisk oppløsning har horisontalradius mindre enn gitt verdi.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9476</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS_90PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Midlere" type="integer">
            <annotation>
              <documentation>9477: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9477</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS_MIDLERE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Minste" type="integer">
            <annotation>
              <documentation>9478: Midlere verdi for horsintalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9478</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS_MINSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius_Største" type="integer">
            <annotation>
              <documentation>9479: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9479</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS_STØRSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_1" type="double">
            <annotation>
              <documentation>9480: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9480</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORT_EKSTRA_1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_2" type="double">
            <annotation>
              <documentation>9481: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9481</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORT_EKSTRA_2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapport_Ekstra_3" type="double">
            <annotation>
              <documentation>9482: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9482</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORT_EKSTRA_3</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_SpormålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Spormåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
