XSD/NVDB/644/644.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610</documentation>
  </annotation>
  <include schemaLocation="Statistikk_Spormaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikkSpormålingType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNINGSTATISTIKKSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikkSpormålingEnumerationType nvdb:GeografiskOppløsningStatistikkSpormålingOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikkSpormålingEnumerationType">
    <annotation>
      <documentation>6081: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNINGSTATISTIKKSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="landet">
        <annotation>
          <documentation>8373: Landet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8373</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="region">
        <annotation>
          <documentation>8374: Region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8374</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylke">
        <annotation>
          <documentation>8375: Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8375</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegavdeling">
        <annotation>
          <documentation>8376: Vegavdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8376</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11668: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11668</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrLand">
        <annotation>
          <documentation>8377: Veg pr land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrRegion">
        <annotation>
          <documentation>8378: Veg pr region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8378</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrFylke">
        <annotation>
          <documentation>8379: Veg pr fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8379</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrAvdeling">
        <annotation>
          <documentation>8380: Veg pr avdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8380</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrKommune">
        <annotation>
          <documentation>11673: Veg pr kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11673</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HP">
        <annotation>
          <documentation>8381: HP</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PMS_Parsell">
        <annotation>
          <documentation>8382: PMS-parsell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1000_Meter">
        <annotation>
          <documentation>13218: 1000-meter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13218</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="generert">
        <annotation>
          <documentation>11285: Generert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11285</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikkSpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikkSpormålingType">
    <annotation>
      <documentation>7924: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅLSTATISTIKKSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MåleformålStatistikkSpormålingEnumerationType nvdb:MåleformålStatistikkSpormålingOtherType"/>
  </simpleType>
  <simpleType name="MåleformålStatistikkSpormålingEnumerationType">
    <annotation>
      <documentation>7924: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅLSTATISTIKKSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>10103: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10103</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>10102: Referansemåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10102</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>10101: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10101</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>10100: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>10121: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10121</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>10122: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10122</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>10123: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10123</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleformålStatistikkSpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SporBjelkeStatistikkSpormålingType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBJELKESTATISTIKKSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporBjelkeStatistikkSpormålingEnumerationType nvdb:SporBjelkeStatistikkSpormålingOtherType"/>
  </simpleType>
  <simpleType name="SporBjelkeStatistikkSpormålingEnumerationType">
    <annotation>
      <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBJELKESTATISTIKKSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>10096: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10096</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>10095: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10095</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>10094: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10094</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporBjelkeStatistikkSpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Statistikk_Spormåling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Statistikk_SpormålingType">
    <annotation>
      <documentation>644: Aggregert informasjon ifbm PMS-rapport 2610</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATISTIKK_SPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_SpormålingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6094</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPRETTETDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelseFraTil" type="string">
            <annotation>
              <documentation>8730: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8730</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSANGIVELSEFRATIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikkSpormålingType">
            <annotation>
              <documentation>6081: Angir hva statistikken omfatter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="minimumsdatoGrunnlag" type="date">
            <annotation>
              <documentation>8790: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8790</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MINIMUMSDATOGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksimumsdatoGrunnlag" type="date">
            <annotation>
              <documentation>8791: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8791</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSIMUMSDATOGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="måleformål" type="nvdb:MåleformålStatistikkSpormålingType">
            <annotation>
              <documentation>7924: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7924</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLEFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdefordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6084</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDEFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sporBjelke" type="nvdb:SporBjelkeStatistikkSpormålingType">
            <annotation>
              <documentation>7922: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7922</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORBJELKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde50Prosent" type="double">
            <annotation>
              <documentation>6088: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6088</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE50PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybde90Prosent" type="double">
            <annotation>
              <documentation>6089: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6089</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDE90PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdeMidlere" type="double">
            <annotation>
              <documentation>6090: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6090</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDEMIDLERE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdeMinste" type="double">
            <annotation>
              <documentation>6091: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6091</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDEMINSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spordybdeStørste" type="double">
            <annotation>
              <documentation>6092: Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6092</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORDYBDESTØRSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måltProsent" type="double">
            <annotation>
              <documentation>6093: Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6093</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLTPROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallsfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6095</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALLSFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall50Prosent" type="double">
            <annotation>
              <documentation>9470: 50 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9470</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL50PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfall90Prosent" type="double">
            <annotation>
              <documentation>9471: 90 % av spormålingenen innen for angitt geografisk oppløsning har tverrfall slakere enn gitt verdi.
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9471</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALL90PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallMidlere" type="double">
            <annotation>
              <documentation>9472: Midlere verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9472</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALLMIDLERE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallMinste" type="double">
            <annotation>
              <documentation>9473: Miste verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9473</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALLMINSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrfallStørste" type="double">
            <annotation>
              <documentation>9474: Største verdi for tverrfall basert på spormållinger innen angitt geografisk oppløsning
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9474</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRFALLSTØRSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>7549: Angir total lengde av strekning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7549</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>8806: Angir sum lengde av kjørefeltene innenfor en strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8806</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMMERTKJØREFELTLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6099</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUSFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius50Prosent" type="integer">
            <annotation>
              <documentation>9475: 50 % av spormålingenen innen for angitt geografisk oppløsning har horsontalradius mindre enn gitt verdi.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9475</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS50PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradius90Prosent" type="double">
            <annotation>
              <documentation>9476: 90 % av spormålingenen innen for angitt geografisk oppløsning har horisontalradius mindre enn gitt verdi.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9476</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUS90PROSENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusMidlere" type="integer">
            <annotation>
              <documentation>9477: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9477</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUSMIDLERE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusMinste" type="integer">
            <annotation>
              <documentation>9478: Midlere verdi for horsintalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9478</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUSMINSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="horisontalradiusStørste" type="integer">
            <annotation>
              <documentation>9479: Midlere verdi for horisontalradius basert på spormållinger innen angitt geografisk oppløsning
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9479</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HORISONTALRADIUSSTØRSTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportEkstra_1" type="double">
            <annotation>
              <documentation>9480: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9480</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTEKSTRA_1</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportEkstra_2" type="double">
            <annotation>
              <documentation>9481: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9481</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTEKSTRA_2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rapportEkstra_3" type="double">
            <annotation>
              <documentation>9482: Ekstra tallverdi til spesielle rapporter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9482</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RAPPORTEKSTRA_3</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_SpormålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Spormåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
