XSD/OLFV/V360/103.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V360" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V360" version="2.06">
  <annotation>
    <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">103</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fartsdemper" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FartsdemperType">
    <annotation>
      <documentation>Fartsdemper: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">103</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSDEMPER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FartsdemperType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeFartsdemperType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1156</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="profil" type="nvdb:ProfilType">
            <annotation>
              <documentation>Profil: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8799</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialeBelegning" type="nvdb:MaterialeBelegningType">
            <annotation>
              <documentation>Materiale/belegning: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8798</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEBELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>Lengde: Angir lengde av vegobjektet.  Måles på tvers av vegen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1331</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>Høyde: Angir vegobjektets egenhøyde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1589</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>Bredde: Angir bredde av vegobjektet.  Måles på tvers av vegens lengderetning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1691</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ferdigDato" type="date">
            <annotation>
              <documentation>Ferdig dato: Angir dato for når vegobjekt ble tatt i bruk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8797</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FERDIGDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10288</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4801</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsdemperPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fartsdemper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeBelegningType">
    <annotation>
      <documentation>Materiale/belegning: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8798</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEBELEGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeBelegningEnumerationType nvdb:MaterialeBelegningOtherType"/>
  </simpleType>
  <simpleType name="MaterialeBelegningEnumerationType">
    <annotation>
      <documentation>Materiale/belegning: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8798</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEBELEGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="steinBrostein">
        <annotation>
          <documentation>11634: Stein, brostein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11634</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="asfalt">
        <annotation>
          <documentation>11635: Asfalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11635</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongstein">
        <annotation>
          <documentation>11636: Betongstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11636</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongPrefabrikert">
        <annotation>
          <documentation>11637: Betong, prefabrikert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11637</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeBelegningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProfilType">
    <annotation>
      <documentation>Profil: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8799</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFIL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProfilEnumerationType nvdb:ProfilOtherType"/>
  </simpleType>
  <simpleType name="ProfilEnumerationType">
    <annotation>
      <documentation>Profil: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8799</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFIL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="profil1Sirkel30">
        <annotation>
          <documentation>11641: Profil 1, sirkel-30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11641</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil2Sirkel40">
        <annotation>
          <documentation>11642: Profil 2, sirkel-40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11642</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil3Sirkel50">
        <annotation>
          <documentation>11643: Profil 3, sirkel-50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11643</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil4ModifisertSirkel30">
        <annotation>
          <documentation>11644: Profil 4, modifisert sirkel-30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11644</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil5ModifisertSirkel40">
        <annotation>
          <documentation>11645: Profil 5, modifisert sirkel-40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11645</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil6ModifisertSirkel50">
        <annotation>
          <documentation>11646: Profil 6, modifisert sirkel-50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11646</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil7Trapes30">
        <annotation>
          <documentation>11647: Profil 7, trapes-30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11647</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil8Trapes40">
        <annotation>
          <documentation>11648: Profil 8, trapes-40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11648</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil9Trapes50">
        <annotation>
          <documentation>11649: Profil 9, trapes-50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11649</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil10Pute30">
        <annotation>
          <documentation>11741: Profil 10, Pute-30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11741</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="profil11Pute40">
        <annotation>
          <documentation>11742: Profil 11, Pute-40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11742</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kuleflate">
        <annotation>
          <documentation>11779: Kuleflate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sopp">
        <annotation>
          <documentation>11780: Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11780</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hHump">
        <annotation>
          <documentation>11781: H-hump</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11781</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sHump">
        <annotation>
          <documentation>11782: S-Hump</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dobbelHump">
        <annotation>
          <documentation>11783: Dobbel hump</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11783</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProfilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsdemperType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1156</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFARTSDEMPER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFartsdemperEnumerationType nvdb:TypeFartsdemperOtherType"/>
  </simpleType>
  <simpleType name="TypeFartsdemperEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1156</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFARTSDEMPER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fartshump">
        <annotation>
          <documentation>3594: Fartshump</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3594</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fartsputer">
        <annotation>
          <documentation>5543: Fartsputer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5543</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="busshump">
        <annotation>
          <documentation>3595: Busshump</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3595</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trafikkøy">
        <annotation>
          <documentation>7918: Trafikkøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7918</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innsnevring">
        <annotation>
          <documentation>7917: Innsnevring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7917</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sideforskyvning">
        <annotation>
          <documentation>7919: Sideforskyvning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7919</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="innsnevringOgSideforskyvning">
        <annotation>
          <documentation>11778: Innsnevring og sideforskyvning: Både og</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rumlefelt">
        <annotation>
          <documentation>7920: Rumlefelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7920</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fortausutvidelseIKryss">
        <annotation>
          <documentation>7921: Fortausutvidelse i kryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7921</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fartsdump">
        <annotation>
          <documentation>11652: Fartsdump: Forsenkning i vegbanen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11652</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFartsdemperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
