XSD/NVDB/199/829.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>829: Gir informasjon om tilstand og eventuell skade på trær.</documentation>
  </annotation>
  <include schemaLocation="Traer.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ForandringITreetsOmgivelserType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORANDRINGITREETSOMGIVELSER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForandringITreetsOmgivelserEnumerationType nvdb:ForandringITreetsOmgivelserOtherType"/>
  </simpleType>
  <simpleType name="ForandringITreetsOmgivelserEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORANDRINGITREETSOMGIVELSER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="F1_Graving">
        <annotation>
          <documentation>18975: F1-Graving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18975</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F2_FyllingSenking">
        <annotation>
          <documentation>18976: F2-Fylling/senking</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18976</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F3_Jordkompresjon">
        <annotation>
          <documentation>18977: F3-Jordkompresjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18977</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F4_Belegg">
        <annotation>
          <documentation>18978: F4-Belegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F5_FristiltTre">
        <annotation>
          <documentation>18979: F5-Fristilt tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F6_Grunnvannendr">
        <annotation>
          <documentation>18980: F6-Grunnvannendr.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18980</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F7_Saltskader">
        <annotation>
          <documentation>18981: F7-Saltskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18981</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F8_Ledninger">
        <annotation>
          <documentation>18982: F8-Ledninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18982</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F9_Jordsprekk">
        <annotation>
          <documentation>18983: F9-Jordsprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18983</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForandringITreetsOmgivelserOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeType">
    <annotation>
      <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRONE_PRIMÆRSKADE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Krone_PrimærSkadeEnumerationType nvdb:Krone_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRONE_PRIMÆRSKADE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="K1_Greinbrudd">
        <annotation>
          <documentation>18939: K1-Greinbrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18939</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K2_Greinsår">
        <annotation>
          <documentation>18940: K2-Greinsår</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18940</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K3_TørreGreiner">
        <annotation>
          <documentation>18941: K3-Tørre greiner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18941</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K4_Greinsprekk">
        <annotation>
          <documentation>18942: K4-Greinsprekk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18942</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K5_Sopp">
        <annotation>
          <documentation>18943: K5-Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18943</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K6_Barkskader">
        <annotation>
          <documentation>18944: K6-Barkskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18944</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K7_Kløyving">
        <annotation>
          <documentation>18945: K7-Kløyving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18945</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K8_HullOgRåte">
        <annotation>
          <documentation>18946: K8-Hull og råte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18946</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K9_Kronebrudd">
        <annotation>
          <documentation>18947: K9-Kronebrudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18947</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K10_Oppstamming">
        <annotation>
          <documentation>18948: K10-Oppstamming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18948</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K11_GlissenKrone">
        <annotation>
          <documentation>18949: K11-Glissen krone</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18949</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K12_Avvik">
        <annotation>
          <documentation>18950: K12-Avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18950</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Krone_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NesteKontrollType">
    <annotation>
      <documentation>11273: Angir når det er behov for ny kontroll</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NESTEKONTROLL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NesteKontrollEnumerationType nvdb:NesteKontrollOtherType"/>
  </simpleType>
  <simpleType name="NesteKontrollEnumerationType">
    <annotation>
      <documentation>11273: Angir når det er behov for ny kontroll</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NESTEKONTROLL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nesteVegetasjonsperiode">
        <annotation>
          <documentation>19010: Neste vegetasjonsperiode</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="om1År">
        <annotation>
          <documentation>19011: Om 1 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19011</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="om3År">
        <annotation>
          <documentation>19012: Om 3 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19012</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="om5År">
        <annotation>
          <documentation>19013: Om 5 år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19013</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeNødvendig">
        <annotation>
          <documentation>19008: Ikke nødvendig: Det er ikke behov for ny kontroll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19008</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NesteKontrollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeType">
    <annotation>
      <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROTSYSTEM_PRIMÆRSKADE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Rotsystem_PrimærSkadeEnumerationType nvdb:Rotsystem_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROTSYSTEM_PRIMÆRSKADE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="R1_Lufterøtter">
        <annotation>
          <documentation>18963: R1-Lufterøtter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18963</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R2_Rothalsutvid">
        <annotation>
          <documentation>18964: R2-Rothalsutvid.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18964</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R3_Rotsprekker">
        <annotation>
          <documentation>18965: R3-Rotsprekker</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18965</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R4_Rotsvulst">
        <annotation>
          <documentation>18966: R4-Rotsvulst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18966</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R5_Sopp">
        <annotation>
          <documentation>18967: R5-Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18967</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R6_Barkskader">
        <annotation>
          <documentation>18968: R6-Barkskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18968</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R7_Rotskudd">
        <annotation>
          <documentation>18969: R7-Rotskudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18969</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K8_HullOgRåte">
        <annotation>
          <documentation>18970: K8-Hull og råte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18970</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R9_FrittståendeRot">
        <annotation>
          <documentation>18971: R9-Frittstående rot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R10_Rotkapping">
        <annotation>
          <documentation>18972: R10-Rotkapping</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18972</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R11_DypPlanting">
        <annotation>
          <documentation>18973: R11-Dyp planting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R12_Avvik">
        <annotation>
          <documentation>18974: R12-Avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18974</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Rotsystem_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkadevurderingType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEVURDERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkadevurderingEnumerationType nvdb:SkadevurderingOtherType"/>
  </simpleType>
  <simpleType name="SkadevurderingEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEVURDERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1_IngenSkade">
        <annotation>
          <documentation>18932: 1-ingen skade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18932</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2_LettSkadet">
        <annotation>
          <documentation>18933: 2-lett skadet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18933</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3_AlvorligSkadet">
        <annotation>
          <documentation>18934: 3-alvorlig skadet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18934</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4_SterktSkadet">
        <annotation>
          <documentation>18935: 4-sterkt skadet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18935</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5Dødt">
        <annotation>
          <documentation>18936: 5- dødt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18936</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkadevurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeType">
    <annotation>
      <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STAMME_PRIMÆRSKADE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Stamme_PrimærSkadeEnumerationType nvdb:Stamme_PrimærSkadeOtherType"/>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeEnumerationType">
    <annotation>
      <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STAMME_PRIMÆRSKADE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="S1_Påkjørselskade">
        <annotation>
          <documentation>18951: S1-Påkjørselskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18951</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S2_Greinsår">
        <annotation>
          <documentation>18952: S2-Greinsår</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18952</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S3_Skadeinsekter">
        <annotation>
          <documentation>18953: S3-Skadeinsekter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18953</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S4_SprukketBark">
        <annotation>
          <documentation>18954: S4-Sprukket bark</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18954</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S5_Sopp">
        <annotation>
          <documentation>18955: S5-Sopp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18955</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S6_Barkskader">
        <annotation>
          <documentation>18956: S6-Barkskader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18956</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S7_Kløyving">
        <annotation>
          <documentation>18957: S7-Kløyving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K8_HullOgRåte">
        <annotation>
          <documentation>18958: K8-Hull og råte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18958</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S9_Stammeskudd">
        <annotation>
          <documentation>18959: S9-Stammeskudd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18959</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S10_StangPlombe">
        <annotation>
          <documentation>18960: S10-Stang/plombe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18960</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S11_SkaktTre">
        <annotation>
          <documentation>18961: S11-Skakt tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18961</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S12_Avvik">
        <annotation>
          <documentation>18962: S12-Avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18962</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Stamme_PrimærSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TilstandSkade_Trær_Test" substitutionGroup="gml:AbstractFeature" type="nvdb:TilstandSkade_Trær_TestType">
    <annotation>
      <documentation>829: Gir informasjon om tilstand og eventuell skade på trær.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">829</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSKADE_TRÆR_TEST</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TilstandSkade_Trær_TestType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="kontrolldato" type="date">
            <annotation>
              <documentation>11266: Angir dato tilstand sist ble kontrollert og oppdatert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11266</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONTROLLDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrollør" type="string">
            <annotation>
              <documentation>11267: Navn/Initialer på kontrollør</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11267</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONTROLLØR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vitalitet" type="nvdb:VitalitetType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VITALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skadevurdering" type="nvdb:SkadevurderingType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11252</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKADEVURDERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikksikkerhetsrisiko" type="nvdb:TrafikksikkerhetsrisikoType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKSIKKERHETSRISIKO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="krone_PrimærSkade" type="nvdb:Krone_PrimærSkadeType">
            <annotation>
              <documentation>11254: Angir hvilken type skade på krone som er mest utbredt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11254</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRONE_PRIMÆRSKADE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="krone_AndreSkader" type="string">
            <annotation>
              <documentation>11255: Angir andre typer skade på krone. Kan gis med kortnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11255</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KRONE_ANDRESKADER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stamme_PrimærSkade" type="nvdb:Stamme_PrimærSkadeType">
            <annotation>
              <documentation>11256: Angir hvilken type skade på stamme som er mest utbredt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11256</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STAMME_PRIMÆRSKADE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stamme_AndreSkader" type="string">
            <annotation>
              <documentation>11257: Angir andre typer skade på stamme. Kan gis med kortnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11257</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STAMME_ANDRESKADER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rotsystem_PrimærSkade" type="nvdb:Rotsystem_PrimærSkadeType">
            <annotation>
              <documentation>11258: Angir hvilken type skade på rotsystem som er mest utbredt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11258</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROTSYSTEM_PRIMÆRSKADE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rotsystem_AndreSkader" type="string">
            <annotation>
              <documentation>11259: Angir andre typer skade på rotsystem. Kan gis med kortnavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11259</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ROTSYSTEM_ANDRESKADER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forandringITreetsOmgivelser" type="nvdb:ForandringITreetsOmgivelserType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORANDRINGITREETSOMGIVELSER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknader" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11261</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_Primært" type="nvdb:Tiltak_PrimærtType">
            <annotation>
              <documentation>11262: Angir viktigste tiltak</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK_PRIMÆRT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tiltak_Andre" type="string">
            <annotation>
              <documentation>11263: Angir andre tiltak som må gjennomføres</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11263</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK_ANDRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nesteKontroll" type="nvdb:NesteKontrollType">
            <annotation>
              <documentation>11273: Angir når det er behov for ny kontroll</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11273</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NESTEKONTROLL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11264</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TilstandSkade_Trær_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TilstandSkade_Trær_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Tiltak_PrimærtType">
    <annotation>
      <documentation>11262: Angir viktigste tiltak</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK_PRIMÆRT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Tiltak_PrimærtEnumerationType nvdb:Tiltak_PrimærtOtherType"/>
  </simpleType>
  <simpleType name="Tiltak_PrimærtEnumerationType">
    <annotation>
      <documentation>11262: Angir viktigste tiltak</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11262</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILTAK_PRIMÆRT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="trefelling">
        <annotation>
          <documentation>18984: Trefelling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18984</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trestubberydding">
        <annotation>
          <documentation>18985: Trestubberydding</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18985</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="etterplanting">
        <annotation>
          <documentation>18986: Etterplanting</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18986</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="liftbehov">
        <annotation>
          <documentation>18987: Liftbehov</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18987</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="detaljertUndersøkelse">
        <annotation>
          <documentation>18988: Detaljert undersøkelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18988</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="trebeskyttelse">
        <annotation>
          <documentation>18989: Trebeskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18989</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jordforbedring">
        <annotation>
          <documentation>18990: Jordforbedring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18990</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="treflateForstørres">
        <annotation>
          <documentation>18991: Treflate forstørres</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18991</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dødVedFjernes">
        <annotation>
          <documentation>18992: Død ved fjernes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18992</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppstamming">
        <annotation>
          <documentation>18993: Oppstamming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18993</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vekstarealFristilles">
        <annotation>
          <documentation>18994: Vekstareal fristilles</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18994</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kroneBeskjæresFagmessig">
        <annotation>
          <documentation>18995: Krone beskjæres fagmessig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18995</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kronestabiliseringssystemEtableres">
        <annotation>
          <documentation>18996: Kronestabiliseringssystem etableres</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18996</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppbindingVurderes">
        <annotation>
          <documentation>18997: Oppbinding vurderes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18997</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppbindingFjernes">
        <annotation>
          <documentation>18998: Oppbinding fjernes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18998</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vedlikeholdsbeskjæring">
        <annotation>
          <documentation>18999: Vedlikeholdsbeskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18999</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="oppbyggningsbeskjæring">
        <annotation>
          <documentation>19000: Oppbyggningsbeskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="formklipping">
        <annotation>
          <documentation>19001: Formklipping</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19001</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uttynningsbeskjæring">
        <annotation>
          <documentation>19002: Uttynningsbeskjæring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19002</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="behandlingAvStammeskade">
        <annotation>
          <documentation>19003: Behandling av stammeskade</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19003</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tiltak_PrimærtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKSIKKERHETSRISIKO</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikksikkerhetsrisikoEnumerationType nvdb:TrafikksikkerhetsrisikoOtherType"/>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11253</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKSIKKERHETSRISIKO</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="lav">
        <annotation>
          <documentation>18937: Lav</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18937</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="høy">
        <annotation>
          <documentation>18938: Høy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18938</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikksikkerhetsrisikoOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VitalitetType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VITALITET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VitalitetEnumerationType nvdb:VitalitetOtherType"/>
  </simpleType>
  <simpleType name="VitalitetEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11251</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VITALITET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1_God">
        <annotation>
          <documentation>18927: 1-god</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18927</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2_NoeSvekket">
        <annotation>
          <documentation>18928: 2-noe svekket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18928</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3_Svak">
        <annotation>
          <documentation>18929: 3-svak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18929</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4_MegetSvak">
        <annotation>
          <documentation>18930: 4-meget svak</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18930</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5_Død">
        <annotation>
          <documentation>18931: 5-død</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18931</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VitalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
