XSD/NVDB/227/227.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>227: Lag i vegens overbygning mellom planum og bærelag.  Hovedfunksjonen er å fordele trafikkbelastningen slik at undergrunnen ikke overbelastes (2)</documentation>
  </annotation>
  <include schemaLocation="Forsterkningslag.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Forsterkningslag" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:ForsterkningslagType">
    <annotation>
      <documentation>227: Lag i vegens overbygning mellom planum og bærelag.  Hovedfunksjonen er å fordele trafikkbelastningen slik at undergrunnen ikke overbelastes (2)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">227</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORSTERKNINGSLAG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ForsterkningslagType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="tykkelse" type="integer">
            <annotation>
              <documentation>1631: Angir lagets tykkelse
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1631</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYKKELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>1212: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1212</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>7035: Angir gjennomsnittsbredde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7035</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE_GJENNOMSNITT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="utleggingsdato" type="date">
            <annotation>
              <documentation>5543: Angir dato for utlegging</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5543</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTLEGGINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="budsjett" type="gml:CodeType">
            <annotation>
              <documentation>5538: Angir hvilket budsjett utlegging går over</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5538</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BUDSJETT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5552: Gir permanent merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5552</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11107: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11107</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4861: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4861</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8883: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8883</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertEntreprenør" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Entreprenør</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForsterkningslagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Forsterkningslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
