XSD/Bomstasjon.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:nvdb="http://www.jetlundweb.no/geomatikk/GML/"
  xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
  elementFormDefault="qualified" targetNamespace="http://www.jetlundweb.no/geomatikk/GML/"
  version="2.01">
  <annotation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">45</taggedValue>
    </appinfo>
  </annotation>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
    schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bomstasjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BomstasjonType">
    <annotation>
      <documentation>Bomstasjon: Et punkt i vegnettet hvor det kreves betaling for å kunne kjøre videre.  Kan gjelde i en eller begge retninger.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">45</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BOMSTASJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BomstasjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bomstasjonstype" type="nvdb:BomstasjonstypeType">
            <annotation>
              <documentation>Bomstasjonstype: Angir hvilken type bomstasjon det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9390</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BOMSTASJONSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navnBompengeanlegg" type="nvdb:NavnBompengeanleggType">
            <annotation>
              <documentation>Navn bompengeanlegg: Angir navn på tilhørende bompengeanlegg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9391</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVNBOMPENGEANLEGG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navnBomstasjon" type="string">
            <annotation>
              <documentation>Navn bomstasjon: Gir navn på bomstasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1078</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVNBOMSTASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bomstasjonId" type="integer">
            <annotation>
              <documentation>Bomstasjon_Id: Angir ID på bomstasjonen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9595</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BOMSTASJONID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtattTilÅr" type="integer">
            <annotation>
              <documentation>Vedtatt til år: Årstall som det er vedtatt at bomstasjonen skal stå fram til</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9413</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDTATTTILÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidstakstLitenBil" type="double">
            <annotation>
              <documentation>Rushtidstakst liten bil: Angir takst for å passere med liten bil i rushtid</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9410</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDSTAKSTLITENBIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkrevningsretning" type="nvdb:InnkrevningsretningType">
            <annotation>
              <documentation>Innkrevningsretning: Angir hvilken retning det er betalingsinnkrevning i forhold til vegens metreringsretning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9414</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNKREVNINGSRETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bompengeanleggId" type="integer">
            <annotation>
              <documentation>Bompengeanlegg_Id: Angir ID på bompengeanlegget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9596</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BOMPENGEANLEGGID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="takstLitenBil" type="double">
            <annotation>
              <documentation>Takst liten bil: Angir ordinær takst for å passere med liten bil.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1820</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TAKSTLITENBIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="takstStorBil" type="double">
            <annotation>
              <documentation>Takst stor bil: Angir ordinær takst for å passere bomstasjon med stor bil</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1819</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TAKSTSTORBIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidsavgift" type="nvdb:RushtidsavgiftType">
            <annotation>
              <documentation>Rushtidsavgift: Angir om det er egen takst for rushtid</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9409</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDSAVGIFT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidstakstStorBil" type="double">
            <annotation>
              <documentation>Rushtidstakst stor bil: Angir takst for å passere bomstasjon med stor bil i rushtid</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9411</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDSTAKSTSTORBIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidMorgenFra" type="string">
            <annotation>
              <documentation>Rushtid morgen, fra: Angir tidspunkt eventuell rushtidsavgift starter på morgenen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9407</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDMORGENFRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidMorgenTil" type="string">
            <annotation>
              <documentation>Rushtid morgen, til: Angir tidspunkt eventuell rushtidsavgift slutter på morgenen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9408</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDMORGENTIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidEttermiddagFra" type="string">
            <annotation>
              <documentation>Rushtid ettermiddag, fra: Angir tidspunkt eventuell rushtidsavgift starter på ettermiddagen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9405</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDETTERMIDDAGFRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rushtidEttermiddagTil" type="string">
            <annotation>
              <documentation>Rushtid ettermiddag, til: Angir tidspunkt eventuell rushtidsavgift slutter på ettermiddagen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9406</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDETTERMIDDAGTIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="timesregel" type="nvdb:TimesregelType">
            <annotation>
              <documentation>Timesregel: Angir ordning der man betaler kun for den første passeringen ved to eller flere passeringer gjennom samme bompengeanlegg i løpet av en time.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9412</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIMESREGEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gratisGjennomkjøringVedHCBrikke"
            type="nvdb:GratisGjennomkjøringVedHCBrikkeType">
            <annotation>
              <documentation>Gratis gjennomkjøring ved HC-brikke: Angir om gjennomkjøring med HC-brikke er gratis</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9404</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRATISGJENNOMKJØRINGVEDHCBRIKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10271</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBomstasjonType">
            <annotation>
              <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7992</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig"
            type="nvdb:VedlikeholdsansvarligBomstasjonType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5799</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4752</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BomstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bomstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BomstasjonstypeType">
    <annotation>
      <documentation>Bomstasjonstype: Angir hvilken type bomstasjon det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9390</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BOMSTASJONSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BomstasjonstypeEnumerationType nvdb:BomstasjonstypeOtherType"/>
  </simpleType>
  <simpleType name="BomstasjonstypeEnumerationType">
    <annotation>
      <documentation>Bomstasjonstype: Angir hvilken type bomstasjon det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9390</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BOMSTASJONSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="AutoPASS + manuell">
        <annotation>
          <documentation>13132: Bomstasjon har Autopass og manuell betaling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13132</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="AutoPASS + automatisk">
        <annotation>
          <documentation>13133: Bomstasjon har autopass og automatisk betaling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13133</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kun manuell">
        <annotation>
          <documentation>13134: Bomstasjon har kun manuell innkreving</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13134</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BomstasjonstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierBomstasjonType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7992</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERBOMSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBomstasjonEnumerationType nvdb:EierBomstasjonOtherType"/>
  </simpleType>
  <simpleType name="EierBomstasjonEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7992</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERBOMSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10258</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10720</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10322</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBomstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Endringsflagg" substitutionGroup="gml:AbstractObject" type="nvdb:EndringsflaggType">
    <annotation>
      <documentation>endringsinformasjon om et objekt

Merknad: 
Inntil videre vil hele objektet merkes med endringsflagget.
I det videre arbeidet (framtidige versjoner) vil denne kunne utvides, f.eks ved å angi om endringen er knyttet til geometrien, egenskapene eller relasjoner</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRINGSFLAGG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="EndringsflaggType">
    <sequence>
      <element name="typeEndring" type="nvdb:TypeEndringType">
        <annotation>
          <documentation>endringsstatus for objektet</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/TypeEndring.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="tidspunktEndring" type="date">
        <annotation>
          <documentation>tidspunkt for endring av objektet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRET_TID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="EndringsflaggPropertyType">
    <sequence>
      <element ref="nvdb:Endringsflagg"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature"
    type="nvdb:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekt som bærer en rekke egenskaper som er fagområde-uavhengige og kan benyttes for alle objekttyper

Merknad:
Spesielt i produktspesifikasjonsarbeid vil en velge egenskaper og av grensningslinjer fra denne klassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="identifikasjon" type="nvdb:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endringsflagg" type="nvdb:EndringsflaggPropertyType">
            <annotation>
              <documentation>endringsinformasjon om et objekt 

Merknad: 
Reglene knyttet til bruken av endringsflagg er for denne versjonen ikke avklart. Utdypes nærmere i produktspesifikasjonen basert på 4.0.

Merknad: 
Endringsflagg kan benyttes til å merke slettede "objekter".

Eksempel: 
Dersom en eiendomsgrense endres skal endringsflagg også legges inn på eiendomsteigen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datafangstdato" type="date">
            <annotation>
              <documentation>dato når objektet siste gang ble registrert/observert/målt i terrenget

Merknad: I mange tilfeller er denne forskjellig fra Oppdateringsdato, da registrerte endringer kan bufres i en kortere eller lengre periode før disse legges inn i databasen.
Ved førstegangsregistrering settes Datafangstdato lik førsteDatafangstdato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="date">
            <annotation>
              <documentation>dato for siste endring på objektetdataene 

Merknad: 
Oppdateringsdato kan være forskjellig fra Datafangsdato ved at data som er registrert kan bufres en kortere eller lengre periode før disse legges inn i datasystemet (databasen).

-Definition-
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="nvdb:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen

Merknad: Denne er identisk med ..KVALITET i tidligere versjoner av SOSI.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="gml:CodeType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/Høydereferanse.xml</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegident" type="nvdb:VegidentPropertyType" maxOccurs="1">
            <annotation>
              <documentation>sammensatt identifikator for en vegrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegparsell" type="nvdb:VegparsellPropertyType" maxOccurs="1">
            <annotation>
              <documentation>beskrivelse av parsell av en vegrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sideposisjon" type="nvdb:SideposisjonType">
            <annotation>
              <documentation>Angir sideposisjon i for vegobjekt i forhold til vegens metreringsretning</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="GratisGjennomkjøringVedHCBrikkeType">
    <annotation>
      <documentation>Gratis gjennomkjøring ved HC-brikke: Angir om gjennomkjøring med HC-brikke er gratis</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9404</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRATISGJENNOMKJØRINGVEDHCBRIKKE</taggedValue>
      </appinfo>
    </annotation>
    <union
      memberTypes="nvdb:GratisGjennomkjøringVedHCBrikkeEnumerationType nvdb:GratisGjennomkjøringVedHCBrikkeOtherType"
    />
  </simpleType>
  <simpleType name="GratisGjennomkjøringVedHCBrikkeEnumerationType">
    <annotation>
      <documentation>Gratis gjennomkjøring ved HC-brikke: Angir om gjennomkjøring med HC-brikke er gratis</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9404</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRATISGJENNOMKJØRINGVEDHCBRIKKE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13253</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13254</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GratisGjennomkjøringVedHCBrikkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject"
    type="nvdb:IdentifikasjonType">
    <annotation>
      <documentation>Identification: Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>localId: lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

NOTE: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>namespace: navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

NOTE 1 : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>versionId: identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterers. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. 

NOTE Maksimum lengde er valgt for å tillate tidsregistrering i henhold til  ISO 8601, slik som  "2007-02-12T12:12:12+05:30" som versjonId.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJONID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="nvdb:Identifikasjon"/>
    </sequence>
  </complexType>
  <simpleType name="InnkrevningsretningType">
    <annotation>
      <documentation>Innkrevningsretning: Angir hvilken retning det er betalingsinnkrevning i forhold til vegens metreringsretning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9414</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNKREVNINGSRETNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnkrevningsretningEnumerationType nvdb:InnkrevningsretningOtherType"/>
  </simpleType>
  <simpleType name="InnkrevningsretningEnumerationType">
    <annotation>
      <documentation>Innkrevningsretning: Angir hvilken retning det er betalingsinnkrevning i forhold til vegens metreringsretning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9414</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNKREVNINGSRETNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Med metrering">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13259</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mot metrering">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13260</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Begge retninger">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13261</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnkrevningsretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="LineærPosisjon" substitutionGroup="gml:AbstractObject"
    type="nvdb:LineærPosisjonType">
    <annotation>
      <documentation>Angivelse av en posisjon langs et lineært objekt.
&lt;font color="#ff0000"&gt;&lt;i&gt;
&lt;/i&gt;&lt;/font&gt;&lt;font color="#0f0f0f"&gt;&lt;i&gt;Realisering av ISO19148: LE_EventLocation&lt;/i&gt;&lt;/font&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRPOSISJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType abstract="true" name="LineærPosisjonType">
    <sequence>
      <element minOccurs="0" name="lineærreferanseMetode" type="nvdb:LineærReferanseMetodeType">
        <annotation>
          <documentation>metode som er brukt for å angi lineære referanser

Merknad: Dersom verdi er angitt overstyrer denne standard metode for det lineære objektet. 

&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: overridingLRM&lt;/i&gt;&lt;/font&gt;</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="felt" type="string">
        <annotation>
          <documentation>Tekststreng som brukes dersom referansen gjelder bestemte kjørefelt
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: Finnes ikke&lt;/i&gt;&lt;/font&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="avstandSide" type="double">
        <annotation>
          <documentation>Forskyvning til side for det lineære objektet. Positivt tall betyr høyre side, negativt tall betyr venstre side.
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: offsetLateralDistance&lt;/i&gt;&lt;/font&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRAVSTANDSIDE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="lineærtObjektIdentifikasjon" type="nvdb:LineærtObjektPropertyType">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LROBJREF_T</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LineærPosisjonPropertyType">
    <sequence>
      <element ref="nvdb:LineærPosisjon"/>
    </sequence>
  </complexType>
  <element name="LineærPosisjonPunkt" substitutionGroup="nvdb:LineærPosisjon"
    type="nvdb:LineærPosisjonPunktType">
    <annotation>
      <documentation>lineær posisjon som et punkt

Merknad:
Dette er en forenkling i forhold til ISO19148, der posisjonsangivelsene er en egen datatype LR_DistanceExpression som har igjen egenskapen DistanceAlong.
LR_DistanceExpression har også en subtype LRO_LateralOffsetDistanceExpression, som inneholder egenskapen offsetLateralDistance (avstandSide).

&lt;i&gt;Realisering av ISO19148: LE_AtLocation&lt;/i&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRPUNKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LineærPosisjonPunktType">
    <complexContent>
      <extension base="nvdb:LineærPosisjonType">
        <sequence>
          <element name="posisjon" type="double">
            <annotation>
              <documentation>posisjon langs det lineære objektet, i henhold til referansemetoden 

Merknad: Ref &lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: atPosition -  distanceAlong&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRPUNKTPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærPosisjonPunktPropertyType">
    <sequence>
      <element ref="nvdb:LineærPosisjonPunkt"/>
    </sequence>
  </complexType>
  <element name="LineærPosisjonStrekning" substitutionGroup="nvdb:LineærPosisjon"
    type="nvdb:LineærPosisjonStrekningType">
    <annotation>
      <documentation>lineær posisjon som en strekning

Merknad: 
Dette er en forenkling i forhold til ISO19148, der posisjonsangivelsene er en egen datatype LR_DistanceExpression som har igjen egenskapen DistanceAlong.
LR_DistanceExpression har også en subtype LRO_LateralOffsetDistanceExpression, som inneholder egenskapen offsetLateralDistance (avstandSide).

&lt;i&gt;Realisering av ISO19148: LE_FromToLocation&lt;/i&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRSTREKNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LineærPosisjonStrekningType">
    <complexContent>
      <extension base="nvdb:LineærPosisjonType">
        <sequence>
          <element name="fraPosisjon" type="double">
            <annotation>
              <documentation>startposisjon langs det lineære objektet, i henhold til referansemetoden 

Merknad: Ref &lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: fromPosition -  distanceAlong&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRFRAPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilPosisjon" type="double">
            <annotation>
              <documentation>sluttposisjon langs det lineære objektet, i henhold til referansemetoden

Merknad: Ref &lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: toPosition -  distanceAlong&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRTILPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærPosisjonStrekningPropertyType">
    <sequence>
      <element ref="nvdb:LineærPosisjonStrekning"/>
    </sequence>
  </complexType>
  <simpleType name="LineærReferanseMetodeType">
    <annotation>
      <documentation>metode brukt for lineære referanser

Merknad:

Dersom offset er i bruk så angis også positiv offsetretning til side (høyre eller venstre) og vertikalt (opp/ned). 
Felles for alle metoder i Norge:
&lt;ul&gt;
	&lt;li&gt;offsetUnits: "meter"&lt;/li&gt;
	&lt;li&gt;positiveLateralOffsetDirection: "right"&lt;/li&gt;
&lt;/ul&gt;
positiveVerticalOffsetDirection: "up"

&lt;font color="#0f0f0f"&gt;Dette er en kodeliste basert på en forenkling av ISO19148: LR_LinearReferencingMethod, som benytter 4 attributter&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;navn&lt;/li&gt;
	&lt;li&gt;type (absolutt, relativ eller interpolert)&lt;/li&gt;
	&lt;li&gt;måleenhet&lt;/li&gt;
	&lt;li&gt;restriksjoner/regler (constraints)&lt;/li&gt;
&lt;/ul&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRLRM</taggedValue>
      </appinfo>
    </annotation>
    <union
      memberTypes="nvdb:LineærReferanseMetodeEnumerationType nvdb:LineærReferanseMetodeOtherType"/>
  </simpleType>
  <simpleType name="LineærReferanseMetodeEnumerationType">
    <annotation>
      <documentation>metode brukt for lineære referanser

Merknad:

Dersom offset er i bruk så angis også positiv offsetretning til side (høyre eller venstre) og vertikalt (opp/ned). 
Felles for alle metoder i Norge:
&lt;ul&gt;
	&lt;li&gt;offsetUnits: "meter"&lt;/li&gt;
	&lt;li&gt;positiveLateralOffsetDirection: "right"&lt;/li&gt;
&lt;/ul&gt;
positiveVerticalOffsetDirection: "up"

&lt;font color="#0f0f0f"&gt;Dette er en kodeliste basert på en forenkling av ISO19148: LR_LinearReferencingMethod, som benytter 4 attributter&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;navn&lt;/li&gt;
	&lt;li&gt;type (absolutt, relativ eller interpolert)&lt;/li&gt;
	&lt;li&gt;måleenhet&lt;/li&gt;
	&lt;li&gt;restriksjoner/regler (constraints)&lt;/li&gt;
&lt;/ul&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRLRM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt i meter

Merknad: Kan ta utgangspunkt i en angitt startverdi for det lineære objektet (lenken).
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "absolute"&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
	&lt;li&gt;units: "meter"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt som et desimaltall mellom 0 og 1, i forhold til start (0) og slutt (1) på det lineære objektet (lenken)

&lt;font color="#0f0f0f"&gt;Merknad: &lt;/font&gt;
&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "Interpolative"&lt;/li&gt;
	&lt;li&gt;units: "0..1"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt i prosent av lengden på det lineære objektet (lenken)

&lt;font color="#0f0f0f"&gt;Merknad: &lt;/font&gt;
&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "Interpolative"&lt;/li&gt;
	&lt;li&gt;units: "percent"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt i kilometer. 
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;Merknad: &lt;/font&gt;Kan ta utgangspunkt i en angitt startverdi for det lineære objektet (lenken).
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "absolute"&lt;/li&gt;
	&lt;li&gt;units: "kilometer"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LineærReferanseMetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="LineærtObjekt" substitutionGroup="gml:AbstractFeature"
    type="nvdb:LineærtObjektType">
    <annotation>
      <documentation>abstrakt objekttype for lineære objekter som inneholder generelle egenskaper som muliggjør lineære referanser til dette objektet

Merknad: Objektets posisjon i et nettverk og skalering av objektets lengde i forhold til geometrilengde brukes ved absolutte LRM-er (for eksempel Metrering), og kan angis på flere alternative måter:
&lt;ul&gt;
	&lt;li&gt;Kun startVerdi. Lengde og sluttverdi beregnes fra geometrilengde&lt;/li&gt;
	&lt;li&gt;Kombinasjonen startVerdi-sluttVerdi. Lengde beregnes som differansen mellom disse egenskapene.&lt;/li&gt;
	&lt;li&gt;Kombinasjonen startVerdi-måltLengde. SluttVerdi beregnes som summen av disse egenskapene.&lt;/li&gt;
	&lt;li&gt;Kun måltLengde. StartVerdi settes lik 0, og sluttVerdi settes lik måltLengde&lt;/li&gt;
	&lt;li&gt;Ingen av egenskapene angitt. Kun geometrien benyttes for beregning av posisjoner.&lt;/li&gt;
&lt;/ul&gt;

&lt;i&gt;ISO19148: LR_Feature, med realisering av interface LR_ILinearElement&lt;/i&gt;</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LineærtObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="nvdb:IdentifikasjonPropertyType"/>
          <element minOccurs="0" name="standardLRM" type="nvdb:LineærReferanseMetodeType">
            <annotation>
              <documentation>STANDARDLRM: standard metode som brukes for å angi lineære referanser til dette objektet

Merknad: Kan overstyres for den enkelte posisjonsangivelse. 

&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: &lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;LR_ILinearElement ::&lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;defaultLRM() : LR_LinearReferencingMethod&lt;/i&gt;&lt;/font&gt;</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måltLengde" type="double">
            <annotation>
              <documentation>STARTVERDI: målt lengde for et objekt, innenfor objektets lineære referansesystem

Merknad: Målt lengde overstyrer geometrilengde. Kan brukes i stedet for kombinasjonen startVerdi-sluttVerdi for å finne skalering ved beregning av posisjoner langs objektet. 
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: &lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;LR_ILinearElement ::&lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;measure(measureAttribute : CharacterString = defaultLength) : Measure&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRMÅLTLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="startVerdi" type="double">
            <annotation>
              <documentation>STARTVERDI: startverdi for det lineære objektet

Merknad: For en veglenke med vegreferanse er dette den verdien vi tidligere har kjent som FRAMETER. 
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: &lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;LR_ILinearElement ::&lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;startValue(LRM : LinearReferencingMethod) : Measure&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRSTARTVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttVerdi" type="double">
            <annotation>
              <documentation>STARTVERDI: sluttverdi for det lineære objektet

Merknad: For en veglenke med vegreferanse er dette den verdien vi tidligere har kjent som TILMETER. 
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: Finnes ikke&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRSLUTTVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærtObjektPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:LineærtObjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Link" substitutionGroup="gml:AbstractObject" type="nvdb:LinkType">
    <annotation>
      <documentation>referanse  til et informasjonselement, enten lokalt eller globalt

Eksempel:
Som lokal : //skrisrv2/tjenester/sosiforv/web/welcome.htm
Som global: http://www.statkart.no/standard/sosi/ACCESS/welcome.htm</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LINK</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LinkType">
    <sequence/>
  </complexType>
  <complexType name="LinkPropertyType">
    <sequence>
      <element ref="nvdb:Link"/>
    </sequence>
  </complexType>
  <simpleType name="NavnBompengeanleggType">
    <annotation>
      <documentation>Navn bompengeanlegg: Angir navn på tilhørende bompengeanlegg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9391</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVNBOMPENGEANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NavnBompengeanleggEnumerationType nvdb:NavnBompengeanleggOtherType"/>
  </simpleType>
  <simpleType name="NavnBompengeanleggEnumerationType">
    <annotation>
      <documentation>Navn bompengeanlegg: Angir navn på tilhørende bompengeanlegg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9391</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVNBOMPENGEANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fv. 108 Ny Kråkerøyforbindelse (åpner juni 2011)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13176</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ryatunnelen (åpner høst 2011)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13175</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E18/E6 Østfold">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13137</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 23 Oslofjordtunnelen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13144</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E6 Gardermoen - Kolomoen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13138</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 2 Kløfta - Nybakk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13139</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomringen i Oslo/Bærum">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13143</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 4 Oppland">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13140</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 35 Lunner - Gardermoen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13141</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 255 Gausdalsvegen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13142</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 19 Horten">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13145</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomringen i Tønsberg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13146</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E18 Vestfold Nord">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13147</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E18 Vestfold Sør">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13148</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E18 Aust-Agder">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13149</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 9 Setesdalsveien">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomringen i Kristiansand">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13151</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E39 Listerpakken">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13152</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 45 Gjesdal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13153</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomringen på Nord-Jæren">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13154</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 519 Finnfast">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13155</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjonane i Haugesund og Tysvær">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13156</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T-forbindelsen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13188</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv 551 Folgefonntunnelen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13180</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv 107 Jondalstunnelen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13184</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv 7 Hardangerbrua">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13183</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E39 Stord">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13186</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Årsnes ferjekai">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13187</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Austevollbrua">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13185</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E39 Trekantsambandet">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13157</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 544 Halsnøysambandet">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13158</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E134 Åkrafjorden">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kvammapakken">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13162</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vossapakko">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13163</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomringen i Bergen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13160</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 566 Osterøybrua">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13161</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E39 Teigen - Bogen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13182</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv. 55 Fatlatunnelen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13164</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv 64 Atlanterhavstunnelen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13178</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kristiansund Fastlandsforbindelse">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13179</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 653 Eiksundsambandet">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13165</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 71 Sykkylvsbrua">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13166</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E39 Øysand - Thamshamn">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Miljøpakke Trondheim">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E6 Øst Trondheim - Stjørdal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flakk - Rørvik">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 680 Imarsundforbindelsen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomringen i Namsos">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fv. 17 Godøystraumen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13174</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rv 80 Strømsnes (åpner høst 2011)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13177</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E69 Fatima">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13181</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E6 Øyer - Tretten">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13767</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E6 Svinesundforbindelsen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13768</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fosenpakken">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13769</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NavnBompengeanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject"
    type="nvdb:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="målemetode" type="gml:CodeType">
        <annotation>
          <documentation>metode for måling i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/Målemetode.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighet" type="integer">
        <annotation>
          <documentation>punktstandardavviket i grunnriss for punkter samt tverravvik for linjer

Merknad:
Oppgitt i cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="synbarhet" type="gml:CodeType">
        <annotation>
          <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/Synbarhet.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="målemetodeHøyde" type="gml:CodeType">
        <annotation>
          <documentation>metode for å måle høyden</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/MålemetodeHøyde.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>nøyaktighet for høyden i cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="maksimaltAvvik" type="integer">
        <annotation>
          <documentation>absolutt toleranse for geometriske avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MAX-AVVIK</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="nvdb:Posisjonskvalitet"/>
    </sequence>
  </complexType>
  <simpleType name="RushtidsavgiftType">
    <annotation>
      <documentation>Rushtidsavgift: Angir om det er egen takst for rushtid</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9409</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDSAVGIFT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RushtidsavgiftEnumerationType nvdb:RushtidsavgiftOtherType"/>
  </simpleType>
  <simpleType name="RushtidsavgiftEnumerationType">
    <annotation>
      <documentation>Rushtidsavgift: Angir om det er egen takst for rushtid</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9409</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RUSHTIDSAVGIFT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13255</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13256</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RushtidsavgiftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonType">
    <annotation>
      <documentation>Angir sideposisjon for vegobjekt, i forhold til vegens metreringsretning</documentation>
    </annotation>
    <union memberTypes="nvdb:SideposisjonEnumerationType nvdb:SideposisjonOtherType"/>
  </simpleType>
  <simpleType name="SideposisjonEnumerationType">
    <annotation>
      <documentation>Angir sideposisjon for vegobjekt, i forhold til vegens metreringsretning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="V"/>
      <enumeration value="H"/>
      <enumeration value="B"/>
      <enumeration value="M"/>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TimesregelType">
    <annotation>
      <documentation>Timesregel: Angir ordning der man betaler kun for den første passeringen ved to eller flere passeringer gjennom samme bompengeanlegg i løpet av en time.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9412</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIMESREGEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TimesregelEnumerationType nvdb:TimesregelOtherType"/>
  </simpleType>
  <simpleType name="TimesregelEnumerationType">
    <annotation>
      <documentation>Timesregel: Angir ordning der man betaler kun for den første passeringen ved to eller flere passeringer gjennom samme bompengeanlegg i løpet av en time.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9412</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIMESREGEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13257</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13258</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TimesregelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEndringType">
    <annotation>
      <documentation>endringsstatus for objektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRET_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeEndringEnumerationType nvdb:TypeEndringOtherType"/>
  </simpleType>
  <simpleType name="TypeEndringEnumerationType">
    <annotation>
      <documentation>endringsstatus for objektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRET_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="E"/>
      <enumeration value="N"/>
      <enumeration value="S"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEndringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBomstasjonType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5799</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGBOMSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <union
      memberTypes="nvdb:VedlikeholdsansvarligBomstasjonEnumerationType nvdb:VedlikeholdsansvarligBomstasjonOtherType"
    />
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBomstasjonEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5799</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGBOMSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8194</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8220</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8246</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBomstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegident" substitutionGroup="gml:AbstractObject" type="nvdb:VegidentType">
    <annotation>
      <documentation>sammensatt identifikator for en vegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VNR</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegidentType">
    <sequence>
      <element minOccurs="0" name="vegkategori" type="gml:CodeType">
        <annotation>
          <documentation>angir hvilken type veg veglenken beskriver</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/VegKategori.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="vegstatus" type="gml:CodeType">
        <annotation>
          <documentation>angir veglenkens status</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="vegnummer" type="integer">
        <annotation>
          <documentation>angir nummeret til en vegrute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGNUMMER</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VegidentPropertyType">
    <sequence>
      <element ref="nvdb:Vegident"/>
    </sequence>
  </complexType>
  <element name="Vegparsell" substitutionGroup="gml:AbstractObject" type="nvdb:VegparsellType">
    <annotation>
      <documentation>beskrivelse av parsell av en vegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VPA</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegparsellType">
    <sequence>
      <element minOccurs="0" name="hovedParsell" type="integer">
        <annotation>
          <documentation>oppdeling av vegruter i kortere parseller med relativt enhetlig standard og funksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HOVEDPARSELL</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="veglenkeMeterFra" type="integer">
        <annotation>
          <documentation>meterverdi i veglenkens start</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">METER-FRA</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="veglenkeMeterTil" type="integer">
        <annotation>
          <documentation>meterverdi i veglenkens slutt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">METERTIL</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VegparsellPropertyType">
    <sequence>
      <element ref="nvdb:Vegparsell"/>
    </sequence>
  </complexType>
</schema>
