XSD/LukketRorgroft.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="http://www.jetlundweb.no/geomatikk/GML/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://www.jetlundweb.no/geomatikk/GML/NVDB" version="2.01">
  <annotation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">78</taggedValue>
    </appinfo>
  </annotation>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Endringsflagg" substitutionGroup="gml:AbstractObject" type="nvdb:EndringsflaggType">
    <annotation>
      <documentation>endringsinformasjon om et objekt

Merknad: 
Inntil videre vil hele objektet merkes med endringsflagget.
I det videre arbeidet (framtidige versjoner) vil denne kunne utvides, f.eks ved å angi om endringen er knyttet til geometrien, egenskapene eller relasjoner</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRINGSFLAGG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="EndringsflaggType">
    <sequence>
      <element name="typeEndring" type="nvdb:TypeEndringType">
        <annotation>
          <documentation>endringsstatus for objektet</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/TypeEndring.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="tidspunktEndring" type="date">
        <annotation>
          <documentation>tidspunkt for endring av objektet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRET_TID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="EndringsflaggPropertyType">
    <sequence>
      <element ref="nvdb:Endringsflagg"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature" type="nvdb:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekt som bærer en rekke egenskaper som er fagområde-uavhengige og kan benyttes for alle objekttyper

Merknad:
Spesielt i produktspesifikasjonsarbeid vil en velge egenskaper og av grensningslinjer fra denne klassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="identifikasjon" type="nvdb:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endringsflagg" type="nvdb:EndringsflaggPropertyType">
            <annotation>
              <documentation>endringsinformasjon om et objekt 

Merknad: 
Reglene knyttet til bruken av endringsflagg er for denne versjonen ikke avklart. Utdypes nærmere i produktspesifikasjonen basert på 4.0.

Merknad: 
Endringsflagg kan benyttes til å merke slettede "objekter".

Eksempel: 
Dersom en eiendomsgrense endres skal endringsflagg også legges inn på eiendomsteigen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datafangstdato" type="date">
            <annotation>
              <documentation>dato når objektet siste gang ble registrert/observert/målt i terrenget

Merknad: I mange tilfeller er denne forskjellig fra Oppdateringsdato, da registrerte endringer kan bufres i en kortere eller lengre periode før disse legges inn i databasen.
Ved førstegangsregistrering settes Datafangstdato lik førsteDatafangstdato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="date">
            <annotation>
              <documentation>dato for siste endring på objektetdataene 

Merknad: 
Oppdateringsdato kan være forskjellig fra Datafangsdato ved at data som er registrert kan bufres en kortere eller lengre periode før disse legges inn i datasystemet (databasen).

-Definition-
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="nvdb:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen

Merknad: Denne er identisk med ..KVALITET i tidligere versjoner av SOSI.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosesshistorie" type="string">
            <annotation>
              <documentation>beskrivelse av de prosesser som dataene er gått gjennom som kan ha betydning for kvaliteten og bruken av dataene

Merknad:
Prosesshistorie vil kunne inneholde informasjon om transformasjoner. Hva slags informasjon som angis er ofte gitt i andre standarder, f.eks kvalitet og kvalitetsikring.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PROSESS_HISTORIE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="nvdb:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/Høydereferanse.xml</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegident" type="nvdb:VegidentPropertyType">
            <annotation>
              <documentation>sammensatt identifikator for en vegrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegparsell" type="nvdb:VegparsellPropertyType">
            <annotation>
              <documentation>beskrivelse av parsell av en vegrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sideposisjon" type="nvdb:SideposisjonType">
            <annotation>
              <documentation>Angir sideposisjon i for vegobjekt i forhold til vegens metreringsretning</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="GrunnforholdLukketRørgrøftType">
    <annotation>
      <documentation>Grunnforhold: Angir hvilken type masse grøfta går gjennom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1138</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNFORHOLDLUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GrunnforholdLukketRørgrøftEnumerationType nvdb:GrunnforholdLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="GrunnforholdLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>Grunnforhold: Angir hvilken type masse grøfta går gjennom</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1138</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNFORHOLDLUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løsmasse">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2287</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2326</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert løsmasse og berg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3284</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13793</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GrunnforholdLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseType">
    <annotation>
      <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
    </annotation>
    <union memberTypes="nvdb:HøydereferanseEnumerationType nvdb:HøydereferanseOtherType"/>
  </simpleType>
  <simpleType name="HøydereferanseEnumerationType">
    <annotation>
      <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FOT"/>
      <enumeration value="TOP"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="nvdb:IdentifikasjonType">
    <annotation>
      <documentation>Identification: Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>localId: lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

NOTE: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>namespace: navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

NOTE 1 : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>versionId: identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterers. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. 

NOTE Maksimum lengde er valgt for å tillate tidsregistrering i henhold til  ISO 8601, slik som  "2007-02-12T12:12:12+05:30" som versjonId.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJONID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="nvdb:Identifikasjon"/>
    </sequence>
  </complexType>
  <simpleType name="KablerType">
    <annotation>
      <documentation>Kabler: Angir om grøften inneholder andre kabler enn varmekabler.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9760</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerEnumerationType nvdb:KablerOtherType"/>
  </simpleType>
  <simpleType name="KablerEnumerationType">
    <annotation>
      <documentation>Kabler: Angir om grøften inneholder andre kabler enn varmekabler.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9760</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15884</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15885</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="LineærPosisjon" substitutionGroup="gml:AbstractObject" type="nvdb:LineærPosisjonType">
    <annotation>
      <documentation>Angivelse av en posisjon langs et lineært objekt.
&lt;font color="#ff0000"&gt;&lt;i&gt;
&lt;/i&gt;&lt;/font&gt;&lt;font color="#0f0f0f"&gt;&lt;i&gt;Realisering av ISO19148: LE_EventLocation&lt;/i&gt;&lt;/font&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRPOSISJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType abstract="true" name="LineærPosisjonType">
    <sequence>
      <element minOccurs="0" name="lineærreferanseMetode" type="nvdb:LineærReferanseMetodeType">
        <annotation>
          <documentation>metode som er brukt for å angi lineære referanser

Merknad: Dersom verdi er angitt overstyrer denne standard metode for det lineære objektet. 

&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: overridingLRM&lt;/i&gt;&lt;/font&gt;</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="felt" type="string">
        <annotation>
          <documentation>Tekststreng som brukes dersom referansen gjelder bestemte kjørefelt
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: Finnes ikke&lt;/i&gt;&lt;/font&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="avstandSide" type="double">
        <annotation>
          <documentation>Forskyvning til side for det lineære objektet. Positivt tall betyr høyre side, negativt tall betyr venstre side.
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: offsetLateralDistance&lt;/i&gt;&lt;/font&gt;</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRAVSTANDSIDE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="lineærtObjektIdentifikasjon" type="nvdb:LineærtObjektPropertyType">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LROBJREF_T</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LineærPosisjonPropertyType">
    <sequence>
      <element ref="nvdb:LineærPosisjon"/>
    </sequence>
  </complexType>
  <element name="LineærPosisjonPunkt" substitutionGroup="nvdb:LineærPosisjon" type="nvdb:LineærPosisjonPunktType">
    <annotation>
      <documentation>lineær posisjon som et punkt

Merknad:
Dette er en forenkling i forhold til ISO19148, der posisjonsangivelsene er en egen datatype LR_DistanceExpression som har igjen egenskapen DistanceAlong.
LR_DistanceExpression har også en subtype LRO_LateralOffsetDistanceExpression, som inneholder egenskapen offsetLateralDistance (avstandSide).

&lt;i&gt;Realisering av ISO19148: LE_AtLocation&lt;/i&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRPUNKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LineærPosisjonPunktType">
    <complexContent>
      <extension base="nvdb:LineærPosisjonType">
        <sequence>
          <element name="posisjon" type="double">
            <annotation>
              <documentation>posisjon langs det lineære objektet, i henhold til referansemetoden 

Merknad: Ref &lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: atPosition -  distanceAlong&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRPUNKTPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærPosisjonPunktPropertyType">
    <sequence>
      <element ref="nvdb:LineærPosisjonPunkt"/>
    </sequence>
  </complexType>
  <element name="LineærPosisjonStrekning" substitutionGroup="nvdb:LineærPosisjon" type="nvdb:LineærPosisjonStrekningType">
    <annotation>
      <documentation>lineær posisjon som en strekning

Merknad: 
Dette er en forenkling i forhold til ISO19148, der posisjonsangivelsene er en egen datatype LR_DistanceExpression som har igjen egenskapen DistanceAlong.
LR_DistanceExpression har også en subtype LRO_LateralOffsetDistanceExpression, som inneholder egenskapen offsetLateralDistance (avstandSide).

&lt;i&gt;Realisering av ISO19148: LE_FromToLocation&lt;/i&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRSTREKNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LineærPosisjonStrekningType">
    <complexContent>
      <extension base="nvdb:LineærPosisjonType">
        <sequence>
          <element name="fraPosisjon" type="double">
            <annotation>
              <documentation>startposisjon langs det lineære objektet, i henhold til referansemetoden 

Merknad: Ref &lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: fromPosition -  distanceAlong&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRFRAPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilPosisjon" type="double">
            <annotation>
              <documentation>sluttposisjon langs det lineære objektet, i henhold til referansemetoden

Merknad: Ref &lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: toPosition -  distanceAlong&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRTILPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærPosisjonStrekningPropertyType">
    <sequence>
      <element ref="nvdb:LineærPosisjonStrekning"/>
    </sequence>
  </complexType>
  <simpleType name="LineærReferanseMetodeType">
    <annotation>
      <documentation>metode brukt for lineære referanser

Merknad:

Dersom offset er i bruk så angis også positiv offsetretning til side (høyre eller venstre) og vertikalt (opp/ned). 
Felles for alle metoder i Norge:
&lt;ul&gt;
	&lt;li&gt;offsetUnits: "meter" &lt;/li&gt;
	&lt;li&gt;positiveLateralOffsetDirection: "right" &lt;/li&gt;
&lt;/ul&gt;
positiveVerticalOffsetDirection: "up"

&lt;font color="#0f0f0f"&gt;Dette er en kodeliste basert på en forenkling av ISO19148: LR_LinearReferencingMethod, som benytter 4 attributter&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;navn &lt;/li&gt;
	&lt;li&gt;type (absolutt, relativ eller interpolert) &lt;/li&gt;
	&lt;li&gt;måleenhet &lt;/li&gt;
	&lt;li&gt;restriksjoner/regler (constraints) &lt;/li&gt;
&lt;/ul&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRLRM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LineærReferanseMetodeEnumerationType nvdb:LineærReferanseMetodeOtherType"/>
  </simpleType>
  <simpleType name="LineærReferanseMetodeEnumerationType">
    <annotation>
      <documentation>metode brukt for lineære referanser

Merknad:

Dersom offset er i bruk så angis også positiv offsetretning til side (høyre eller venstre) og vertikalt (opp/ned). 
Felles for alle metoder i Norge:
&lt;ul&gt;
	&lt;li&gt;offsetUnits: "meter" &lt;/li&gt;
	&lt;li&gt;positiveLateralOffsetDirection: "right" &lt;/li&gt;
&lt;/ul&gt;
positiveVerticalOffsetDirection: "up"

&lt;font color="#0f0f0f"&gt;Dette er en kodeliste basert på en forenkling av ISO19148: LR_LinearReferencingMethod, som benytter 4 attributter&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;navn &lt;/li&gt;
	&lt;li&gt;type (absolutt, relativ eller interpolert) &lt;/li&gt;
	&lt;li&gt;måleenhet &lt;/li&gt;
	&lt;li&gt;restriksjoner/regler (constraints) &lt;/li&gt;
&lt;/ul&gt;</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRLRM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt i meter

Merknad: Kan ta utgangspunkt i en angitt startverdi for det lineære objektet (lenken).
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "absolute"&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
	&lt;li&gt;units: "meter"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt som et desimaltall mellom 0 og 1, i forhold til start (0) og slutt (1) på det lineære objektet (lenken)

&lt;font color="#0f0f0f"&gt;Merknad: &lt;/font&gt;
&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "Interpolative"&lt;/li&gt;
	&lt;li&gt;units: "0..1"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt i prosent av lengden på det lineære objektet (lenken)

&lt;font color="#0f0f0f"&gt;Merknad: &lt;/font&gt;
&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "Interpolative"&lt;/li&gt;
	&lt;li&gt;units: "percent"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>posisjon fra start av det lineære objektet (lenken), angitt i kilometer. 
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;Merknad: &lt;/font&gt;Kan ta utgangspunkt i en angitt startverdi for det lineære objektet (lenken).
&lt;font color="#0f0f0f"&gt;
&lt;/font&gt;&lt;font color="#0f0f0f"&gt;ISO19148: LR_LinearReferencingMethod:&lt;/font&gt;
&lt;ul&gt;
	&lt;li&gt;type: "absolute"&lt;/li&gt;
	&lt;li&gt;units: "kilometer"&lt;/li&gt;
&lt;/ul&gt;</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LineærReferanseMetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="LineærtObjekt" substitutionGroup="gml:AbstractFeature" type="nvdb:LineærtObjektType">
    <annotation>
      <documentation>abstrakt objekttype for lineære objekter som inneholder generelle egenskaper som muliggjør lineære referanser til dette objektet

Merknad: Objektets posisjon i et nettverk og skalering av objektets lengde i forhold til geometrilengde brukes ved absolutte LRM-er (for eksempel Metrering), og kan angis på flere alternative måter:
&lt;ul&gt;
	&lt;li&gt;Kun startVerdi. Lengde og sluttverdi beregnes fra geometrilengde&lt;/li&gt;
	&lt;li&gt;Kombinasjonen startVerdi-sluttVerdi. Lengde beregnes som differansen mellom disse egenskapene.&lt;/li&gt;
	&lt;li&gt;Kombinasjonen startVerdi-måltLengde. SluttVerdi beregnes som summen av disse egenskapene.&lt;/li&gt;
	&lt;li&gt;Kun måltLengde. StartVerdi settes lik 0, og sluttVerdi settes lik måltLengde&lt;/li&gt;
	&lt;li&gt;Ingen av egenskapene angitt. Kun geometrien benyttes for beregning av posisjoner.&lt;/li&gt;
&lt;/ul&gt;

&lt;i&gt;ISO19148: LR_Feature, med realisering av interface LR_ILinearElement&lt;/i&gt;</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LineærtObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="nvdb:IdentifikasjonPropertyType"/>
          <element minOccurs="0" name="standardLRM" type="nvdb:LineærReferanseMetodeType">
            <annotation>
              <documentation>STANDARDLRM: standard metode som brukes for å angi lineære referanser til dette objektet

Merknad: Kan overstyres for den enkelte posisjonsangivelse. 

&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: &lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;LR_ILinearElement ::&lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;defaultLRM() : LR_LinearReferencingMethod&lt;/i&gt;&lt;/font&gt;</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måltLengde" type="double">
            <annotation>
              <documentation>STARTVERDI: målt lengde for et objekt, innenfor objektets lineære referansesystem

Merknad: Målt lengde overstyrer geometrilengde. Kan brukes i stedet for kombinasjonen startVerdi-sluttVerdi for å finne skalering ved beregning av posisjoner langs objektet. 
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: &lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;LR_ILinearElement ::&lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;measure(measureAttribute : CharacterString = defaultLength) : Measure&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRMÅLTLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="startVerdi" type="double">
            <annotation>
              <documentation>STARTVERDI: startverdi for det lineære objektet

Merknad: For en veglenke med vegreferanse er dette den verdien vi tidligere har kjent som FRAMETER. 
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: &lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;LR_ILinearElement ::&lt;/i&gt;&lt;/font&gt;
&lt;font color="#ff0000"&gt;&lt;i&gt;startValue(LRM : LinearReferencingMethod) : Measure&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRSTARTVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttVerdi" type="double">
            <annotation>
              <documentation>STARTVERDI: sluttverdi for det lineære objektet

Merknad: For en veglenke med vegreferanse er dette den verdien vi tidligere har kjent som TILMETER. 
&lt;font color="#ff0000"&gt;&lt;i&gt;ISO19148: Finnes ikke&lt;/i&gt;&lt;/font&gt;</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LRSLUTTVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærtObjektPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:LineærtObjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Link" substitutionGroup="gml:AbstractObject" type="nvdb:LinkType">
    <annotation>
      <documentation>referanse  til et informasjonselement, enten lokalt eller globalt

Eksempel:
Som lokal : //skrisrv2/tjenester/sosiforv/web/welcome.htm
Som global: http://www.statkart.no/standard/sosi/ACCESS/welcome.htm</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LINK</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LinkType">
    <sequence/>
  </complexType>
  <complexType name="LinkPropertyType">
    <sequence>
      <element ref="nvdb:Link"/>
    </sequence>
  </complexType>
  <element name="LukketRørgrøft" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LukketRørgrøftType">
    <annotation>
      <documentation>Lukket rørgrøft: Trase med nedgravd(e) rørledning(er) eller pukkstreng. Benyttes i første rekke i forbindelse med drenering av veger, men kan også inneholde andre typer rørledninger. Merknad: Grøft med kun kabler og trekkerør er definert som egen vegobjekttype Kabelgrøft</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">78</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LukketRørgrøftType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeLukketRørgrøftType">
            <annotation>
              <documentation>Type: Angir hvilken type lukka rørgrøft det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1268</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="grunnforhold" type="nvdb:GrunnforholdLukketRørgrøftType">
            <annotation>
              <documentation>Grunnforhold: Angir hvilken type masse grøfta går gjennom</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1138</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRUNNFORHOLD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dybde" type="double">
            <annotation>
              <documentation>Dybde: Angir dybde av vegobjektet. Dybde måles ned til topp fundament</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1657</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerLukketRørgrøftType">
            <annotation>
              <documentation>Varmekabler: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1831</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEKABLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kabler" type="nvdb:KablerType">
            <annotation>
              <documentation>Kabler: Angir om grøften inneholder andre kabler enn varmekabler.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9760</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4779</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10323</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LukketRørgrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:LukketRørgrøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MålemetodeType">
    <annotation>
      <documentation>MeasuringMethod: metode som ligger til grunn for registrering av posisjon


-- Definition - - 
method on which registration of position is based</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MålemetodeEnumerationType nvdb:MålemetodeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeEnumerationType">
    <annotation>
      <documentation>MeasuringMethod: metode som ligger til grunn for registrering av posisjon


-- Definition - - 
method on which registration of position is based</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Measured in terrain: Målt i terrenget , uspesifisert metode/måleinstrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>Directly input on screen: Digitalisert ut fra frihåndstegning (direkte på skjerm). Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>GPS phase measurement RTK: Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO).: Fasemåling RTK (realtids kinematisk måling)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeType">
    <annotation>
      <documentation>metode for å måle objekttypens høydeverdi</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MålemetodeHøydeEnumerationType nvdb:MålemetodeHøydeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeHøydeEnumerationType">
    <annotation>
      <documentation>metode for å måle objekttypens høydeverdi</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10"/>
      <enumeration value="96"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject" type="nvdb:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="målemetode" type="nvdb:MålemetodeType">
        <annotation>
          <documentation>metode for måling i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/Målemetode.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighet" type="integer">
        <annotation>
          <documentation>punktstandardavviket i grunnriss for punkter samt tverravvik for linjer

Merknad:
Oppgitt i cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="synbarhet" type="gml:CodeType">
        <annotation>
          <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/Synbarhet.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="målemetodeHøyde" type="nvdb:MålemetodeHøydeType">
        <annotation>
          <documentation>metode for å måle høyden</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/MålemetodeHøyde.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>nøyaktighet for høyden i cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="maksimaltAvvik" type="integer">
        <annotation>
          <documentation>absolutt toleranse for geometriske avvik</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MAX-AVVIK</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="nvdb:Posisjonskvalitet"/>
    </sequence>
  </complexType>
  <simpleType name="SideposisjonType">
    <annotation>
      <documentation>Angir sideposisjon for vegobjekt, i forhold til vegens metreringsretning</documentation>
    </annotation>
    <union memberTypes="nvdb:SideposisjonEnumerationType nvdb:SideposisjonOtherType"/>
  </simpleType>
  <simpleType name="SideposisjonEnumerationType">
    <annotation>
      <documentation>Angir sideposisjon for vegobjekt, i forhold til vegens metreringsretning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="V"/>
      <enumeration value="H"/>
      <enumeration value="B"/>
      <enumeration value="M"/>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEndringType">
    <annotation>
      <documentation>endringsstatus for objektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRET_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeEndringEnumerationType nvdb:TypeEndringOtherType"/>
  </simpleType>
  <simpleType name="TypeEndringEnumerationType">
    <annotation>
      <documentation>endringsstatus for objektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ENDRET_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="E"/>
      <enumeration value="N"/>
      <enumeration value="S"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEndringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLukketRørgrøftType">
    <annotation>
      <documentation>Type: Angir hvilken type lukka rørgrøft det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1268</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPELUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLukketRørgrøftEnumerationType nvdb:TypeLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="TypeLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type lukka rørgrøft det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1268</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPELUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Drensgrøft, dyp">
        <annotation>
          <documentation>5450: Rørgrøft med drensledning og/eller overvannsledning. Frostfri dybde. Se også Håndbok N200 (018).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5450</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drensgrøft, grunn">
        <annotation>
          <documentation>5451: Rørgrøft med drensledning. Ikke frostfri dybde. Se også Håndbok N200 (018).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5451</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukkstreng">
        <annotation>
          <documentation>2924: Jfr Håndbok N200 (018)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2924</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avløpsgrøft">
        <annotation>
          <documentation>11581: Grøft som kun har rør for å lede bort overvann/avløpsvann.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11581</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerLukketRørgrøftType">
    <annotation>
      <documentation>Varmekabler: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1831</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEKABLERLUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarmekablerLukketRørgrøftEnumerationType nvdb:VarmekablerLukketRørgrøftOtherType"/>
  </simpleType>
  <simpleType name="VarmekablerLukketRørgrøftEnumerationType">
    <annotation>
      <documentation>Varmekabler: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1831</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEKABLERLUKKETRØRGRØFT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3523</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3561</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerLukketRørgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegStatusType">
    <annotation>
      <documentation>angir veglenkens status (Kilde: Statens vegvesen Håndbok  273 Nasjonalt vegreferansesystem, april 2010, kap 6.3.4.)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGSTATUS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegStatusEnumerationType nvdb:VegStatusOtherType"/>
  </simpleType>
  <simpleType name="VegStatusEnumerationType">
    <annotation>
      <documentation>angir veglenkens status (Kilde: Statens vegvesen Håndbok  273 Nasjonalt vegreferansesystem, april 2010, kap 6.3.4.)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGSTATUS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="P">
        <annotation>
          <documentation>Planlagt veg vedtatt. (Kun én vegtrasé er tillatt; ingen alternativer.)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>Veg under bygging</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Veg som er del av operativt vegnett (tatt opp til vedlikehold)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>Midlertidig status inntil ny status er bestemt for veg­strek­ningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvilken status den gamle vegen skal ha.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="W">
        <annotation>
          <documentation>Midlertidig eksisterende veg. Brukes i de tilfeller hvor annen veg, riks-, fylkes-, kommunal, privat veg eller anleggsveg blir brukt for avvikling av trafikk for vedkom­mende veg uten at den er formelt opptatt. Denne statusen benyttes dersom denne vegen har en lengde på min. 20 m, og situasjonen har en varighet på over ett år.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>Planlagt ferjestrekning vedtatt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>Eksisterende ferjestrekning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>Serviceveg, normalt sett ikke åpen for allmenn ferdsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>Eksisterende gang- og sykkelveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>Gang- og sykkelveg under anlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>Midlertidig status inntil ny status er bestemt for gang- og sykkelvegstrekningen. Denne skal brukes i de tilfeller hvor det formelt ikke er avklart hvilken status gang- og sykkelvegen skal ha.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Q">
        <annotation>
          <documentation>Planlagt gang- og sykkelveg, vedtatt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="X">
        <annotation>
          <documentation>Rømmingstunnel, ikke åpen for allmenn ferdsel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>Beredskapsveg, ikke åpen for allmenn ferdsel</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegStatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegident" substitutionGroup="gml:AbstractObject" type="nvdb:VegidentType">
    <annotation>
      <documentation>sammensatt identifikator for en vegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VNR</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegidentType">
    <sequence>
      <element minOccurs="0" name="vegkategori" type="nvdb:VegkategoriType">
        <annotation>
          <documentation>angir hvilken type veg veglenken beskriver</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">http://www.jetlundweb.no/geomatikk/GML/NIFS/VegKategori.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="vegstatus" type="nvdb:VegStatusType">
        <annotation>
          <documentation>angir veglenkens status</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="vegnummer" type="integer">
        <annotation>
          <documentation>angir nummeret til en vegrute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGNUMMER</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VegidentPropertyType">
    <sequence>
      <element ref="nvdb:Vegident"/>
    </sequence>
  </complexType>
  <simpleType name="VegkategoriType">
    <annotation>
      <documentation>angir hvilken type veg veglenken beskriver. (Kilde: Statens vegvesen Håndbok 273 Nasjonalt vegreferansesystem, april 2010, kap 6.3.3.)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegkategoriEnumerationType nvdb:VegkategoriOtherType"/>
  </simpleType>
  <simpleType name="VegkategoriEnumerationType">
    <annotation>
      <documentation>angir hvilken type veg veglenken beskriver. (Kilde: Statens vegvesen Håndbok 273 Nasjonalt vegreferansesystem, april 2010, kap 6.3.3.)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="E"/>
      <enumeration value="R"/>
      <enumeration value="F"/>
      <enumeration value="K"/>
      <enumeration value="P"/>
      <enumeration value="S"/>
    </restriction>
  </simpleType>
  <simpleType name="VegkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegparsell" substitutionGroup="gml:AbstractObject" type="nvdb:VegparsellType">
    <annotation>
      <documentation>beskrivelse av parsell av en vegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VPA</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegparsellType">
    <sequence>
      <element minOccurs="0" name="hovedParsell" type="integer">
        <annotation>
          <documentation>oppdeling av vegruter i kortere parseller med relativt enhetlig standard og funksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HOVEDPARSELL</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="veglenkeMeterFra" type="integer">
        <annotation>
          <documentation>meterverdi i veglenkens start</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">METER-FRA</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="veglenkeMeterTil" type="integer">
        <annotation>
          <documentation>meterverdi i veglenkens slutt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">METERTIL</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VegparsellPropertyType">
    <sequence>
      <element ref="nvdb:Vegparsell"/>
    </sequence>
  </complexType>
</schema>
