XSD/NVDB/645/645.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>645: Aggregert informasjon ifbm PMS-rapport 2612</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">645</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="StatistikkJevnhetsmaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GeografiskOppløsningStatistikkJevnhetsmålingType">
    <annotation>
      <documentation>Geografisk oppløsning: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6103</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNINGSTATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GeografiskOppløsningStatistikkJevnhetsmålingEnumerationType nvdb:GeografiskOppløsningStatistikkJevnhetsmålingOtherType"/>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikkJevnhetsmålingEnumerationType">
    <annotation>
      <documentation>Geografisk oppløsning: Angir hva statistikken omfatter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6103</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNINGSTATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="landet">
        <annotation>
          <documentation>8383: Landet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="region">
        <annotation>
          <documentation>8384: Region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8384</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylke">
        <annotation>
          <documentation>8385: Fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8385</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegavdeling">
        <annotation>
          <documentation>8386: Vegavdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>11667: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11667</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrLand">
        <annotation>
          <documentation>8387: Veg pr land</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrRegion">
        <annotation>
          <documentation>8388: Veg pr region</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrFylke">
        <annotation>
          <documentation>8389: Veg pr fylke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8389</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrAvdeling">
        <annotation>
          <documentation>8390: Veg pr avdeling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8390</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegPrKommune">
        <annotation>
          <documentation>11672: Veg pr kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11672</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="hP">
        <annotation>
          <documentation>8391: HP</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8391</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pMSParsell">
        <annotation>
          <documentation>8392: PMS-parsell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1000Meter">
        <annotation>
          <documentation>13219: 1000-meter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13219</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="generert">
        <annotation>
          <documentation>11297: Generert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11297</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GeografiskOppløsningStatistikkJevnhetsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JevnhetsformålStatistikkJevnhetsmålingType">
    <annotation>
      <documentation>Jevnhetsformål: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7925</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORMÅLSTATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:JevnhetsformålStatistikkJevnhetsmålingEnumerationType nvdb:JevnhetsformålStatistikkJevnhetsmålingOtherType"/>
  </simpleType>
  <simpleType name="JevnhetsformålStatistikkJevnhetsmålingEnumerationType">
    <annotation>
      <documentation>Jevnhetsformål: Angir formal med spormåling</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7925</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORMÅLSTATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="generelleMålinger">
        <annotation>
          <documentation>10107: Generelle målinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10107</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="referansemåling">
        <annotation>
          <documentation>10106: Referansemåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10106</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="forsøksmålinger">
        <annotation>
          <documentation>10105: Forsøksmålinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10105</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="teleløsning">
        <annotation>
          <documentation>10104: Teleløsning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10104</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell1">
        <annotation>
          <documentation>10124: Initiell-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10124</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell2">
        <annotation>
          <documentation>10125: Initiell-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10125</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="initiell3">
        <annotation>
          <documentation>10126: Initiell-3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10126</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JevnhetsformålStatistikkJevnhetsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SporLaserStatistikkJevnhetsmålingType">
    <annotation>
      <documentation>Spor,laser: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7923</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORLASERSTATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SporLaserStatistikkJevnhetsmålingEnumerationType nvdb:SporLaserStatistikkJevnhetsmålingOtherType"/>
  </simpleType>
  <simpleType name="SporLaserStatistikkJevnhetsmålingEnumerationType">
    <annotation>
      <documentation>Spor,laser: Angir hvilket spor dataene gjelder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7923</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORLASERSTATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="indre">
        <annotation>
          <documentation>10099: Indre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10099</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="mellom">
        <annotation>
          <documentation>10098: Mellom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10098</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ytre">
        <annotation>
          <documentation>10097: Ytre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10097</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SporLaserStatistikkJevnhetsmålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="StatistikkJevnhetsmåling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StatistikkJevnhetsmålingType">
    <annotation>
      <documentation>Statistikk,jevnhetsmåling: Aggregert informasjon ifbm PMS-rapport 2612</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">645</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATISTIKKJEVNHETSMÅLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StatistikkJevnhetsmålingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="opprettetDato" type="date">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6116</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPRETTETDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsangivelseFraTil" type="string">
            <annotation>
              <documentation>Stedsangivelse, fra-til: Angir stedsnavn for start og slutt strekning.  Rekkefølge som navnene settes i har ikke betydning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8731</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSANGIVELSEFRATIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geografiskOppløsning" type="nvdb:GeografiskOppløsningStatistikkJevnhetsmålingType">
            <annotation>
              <documentation>Geografisk oppløsning: Angir hva statistikken omfatter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6103</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOGRAFISKOPPLØSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minimumsdatoGrunnlag" type="date">
            <annotation>
              <documentation>Minimumsdato, grunnlag: Datagrunnlaget for statistikkobjektet er ikke eldre enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8792</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MINIMUMSDATOGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksimumsdatoGrunnlag" type="date">
            <annotation>
              <documentation>Maksimumsdato, grunnlag: Datagrunnlaget for statistikkobjektet er ikke nyere enn gitt dato.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8793</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSIMUMSDATOGRUNNLAG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="jevnhetsformål" type="nvdb:JevnhetsformålStatistikkJevnhetsmålingType">
            <annotation>
              <documentation>Jevnhetsformål: Angir formal med spormåling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7925</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORMÅL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="jevnhetsfordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6106</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_JEVNHETSFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mPDFordeling">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9942</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MPDFORDELING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element name="sporLaser" type="nvdb:SporLaserStatistikkJevnhetsmålingType">
            <annotation>
              <documentation>Spor, laser: Angir hvilket spor dataene gjelder</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7923</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORLASER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="målt" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6110</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="iRIVerdi50" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6111</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_IRIVERDI50</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="iRIVerdi90" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6112</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_IRIVERDI90</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereIRIVerdi" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6113</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MIDLEREIRIVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minsteIRIVerdi" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6114</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MINSTEIRIVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="størsteIRIVerdi" type="double">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6115</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØRSTEIRIVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mPD50" type="double">
            <annotation>
              <documentation>MPD 50 %: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9937</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MPD50</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mPD90" type="double">
            <annotation>
              <documentation>MPD, 90 %: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9938</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MPD90</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="midlereMPDVerdi" type="double">
            <annotation>
              <documentation>Midlere MPD-verdi: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9939</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MIDLEREMPDVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="minsteMPDVerdi" type="double">
            <annotation>
              <documentation>Minste MPD-verdi: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9940</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MINSTEMPDVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="størsteMPDVerdi" type="double">
            <annotation>
              <documentation>Største MPD-verdi: Refererer til ET 5907 "MPD, middel" for VT "Jevnhetsmåling (avleda per 20 m)". MPD = Midlere ProfilDybde, et uttrykk for tekstur/ruhet av asfaltens overflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9941</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØRSTEMPDVERDI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>Lengde: Angir total lengde av strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7546</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="summertKjørefeltlengde" type="integer">
            <annotation>
              <documentation>Summert kjørefeltlengde: Angir sum lengde av kjørefeltene innenfor en strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8807</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMMERTKJØREFELTLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StatistikkJevnhetsmålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:StatistikkJevnhetsmåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
