XSD/NVDB/541/541.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>541: Angir standard på vegstrekning</documentation>
  </annotation>
  <include schemaLocation="Vegstandard.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegstandard" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegstandardType">
    <annotation>
      <documentation>541: Angir standard på vegstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">541</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTANDARD</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegstandardType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="statusår" type="integer">
            <annotation>
              <documentation>4650: Angir statusår</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4650</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruker" type="string">
            <annotation>
              <documentation>4629: Angir brukerinitialer i vdb ( NVDB )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4629</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>4630: Angir når data er registrert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4630</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardklasse" type="gml:CodeType">
            <annotation>
              <documentation>4631: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4631</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardÅDT" type="integer">
            <annotation>
              <documentation>4632: Angir ÅDT</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4632</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Samlet_Beregnet" type="gml:CodeType">
            <annotation>
              <documentation>4633: Angir samlet standard</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4633</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_SAMLET_BEREGNET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Samlet_Korrigert" type="gml:CodeType">
            <annotation>
              <documentation>4634: Angir korrigert samlet standard</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4634</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_SAMLET_KORRIGERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Vegbredde" type="gml:CodeType">
            <annotation>
              <documentation>4635: Relatert til vegnormalenes definisjoner</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4635</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_VEGBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Horisontalkurvatur" type="gml:CodeType">
            <annotation>
              <documentation>4636: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4636</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_HORISONTALKURVATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Stigning" type="gml:CodeType">
            <annotation>
              <documentation>4637: Relatert til maksimal stigning over en gitt lengde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4637</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_STIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_GåendeSyklende" type="gml:CodeType">
            <annotation>
              <documentation>4638: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4638</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_GÅENDESYKLENDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_FriHøyde" type="gml:CodeType">
            <annotation>
              <documentation>4639: Relatert til fast fri høgde for 50 meters strekning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4639</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_FRIHØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Høyfjell" type="gml:CodeType">
            <annotation>
              <documentation>4640: Relatert til data om kolonnekjøring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4640</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_HØYFJELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Rasfare" type="gml:CodeType">
            <annotation>
              <documentation>4641: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4641</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_RASFARE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_FaktiskBæreevne" type="gml:CodeType">
            <annotation>
              <documentation>4642: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4642</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_FAKTISKBÆREEVNE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_StamvegGjennomTettbebyggelse" type="gml:CodeType">
            <annotation>
              <documentation>4643: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4643</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_STAMVEGGJENNOMTETTBEBYGGELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Skadegradstetthet" type="gml:CodeType">
            <annotation>
              <documentation>4644: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4644</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_SKADEGRADSTETTHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Sikkerhetsutstyr_Tunnel" type="gml:CodeType">
            <annotation>
              <documentation>4645: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4645</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_SIKKERHETSUTSTYR_TUNNEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Støy_Totalt" type="gml:CodeType">
            <annotation>
              <documentation>4646: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4646</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_STØY_TOTALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_PM10" type="gml:CodeType">
            <annotation>
              <documentation>4647: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4647</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_PM10</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_NO2" type="gml:CodeType">
            <annotation>
              <documentation>4648: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4648</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_NO2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standard_Problemsoner" type="gml:CodeType">
            <annotation>
              <documentation>4649: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4649</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARD_PROBLEMSONER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5041: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5041</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegstandardPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegstandard"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
