XSD/NVDB/541/541.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>541: Angir standard på vegstrekning</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">541</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Vegstandard.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="StandardFaktiskBæreevneType">
    <annotation>
      <documentation>Standard,faktisk bæreevne: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4642</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDFAKTISKBÆREEVNE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardFaktiskBæreevneEnumerationType nvdb:StandardFaktiskBæreevneOtherType"/>
  </simpleType>
  <simpleType name="StandardFaktiskBæreevneEnumerationType">
    <annotation>
      <documentation>Standard,faktisk bæreevne: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4642</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDFAKTISKBÆREEVNE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5595: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5595</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5629: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5629</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardFaktiskBæreevneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardFriHøydeType">
    <annotation>
      <documentation>Standard,fri høyde: Relatert til fast fri høgde for 50 meters strekning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4639</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDFRIHØYDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardFriHøydeEnumerationType nvdb:StandardFriHøydeOtherType"/>
  </simpleType>
  <simpleType name="StandardFriHøydeEnumerationType">
    <annotation>
      <documentation>Standard,fri høyde: Relatert til fast fri høgde for 50 meters strekning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4639</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDFRIHØYDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5592: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5592</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5609: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5609</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5626: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5626</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardFriHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardGåendeSyklendeType">
    <annotation>
      <documentation>Standard,gående/syklende: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4638</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDGÅENDESYKLENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardGåendeSyklendeEnumerationType nvdb:StandardGåendeSyklendeOtherType"/>
  </simpleType>
  <simpleType name="StandardGåendeSyklendeEnumerationType">
    <annotation>
      <documentation>Standard,gående/syklende: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4638</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDGÅENDESYKLENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5591: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5591</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5625: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5625</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardGåendeSyklendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardHorisontalkurvaturType">
    <annotation>
      <documentation>Standard,horisontalkurvatur: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4636</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDHORISONTALKURVATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardHorisontalkurvaturEnumerationType nvdb:StandardHorisontalkurvaturOtherType"/>
  </simpleType>
  <simpleType name="StandardHorisontalkurvaturEnumerationType">
    <annotation>
      <documentation>Standard,horisontalkurvatur: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4636</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDHORISONTALKURVATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5589: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5589</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5606: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5606</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5623: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5623</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardHorisontalkurvaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardHøyfjellType">
    <annotation>
      <documentation>Standard,høyfjell: Relatert til data om kolonnekjøring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4640</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDHØYFJELL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardHøyfjellEnumerationType nvdb:StandardHøyfjellOtherType"/>
  </simpleType>
  <simpleType name="StandardHøyfjellEnumerationType">
    <annotation>
      <documentation>Standard,høyfjell: Relatert til data om kolonnekjøring</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4640</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDHØYFJELL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5593: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5593</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5610: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5610</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5627: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5627</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardHøyfjellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardNO2Type">
    <annotation>
      <documentation>Standard,NO2: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDNO2</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardNO2EnumerationType nvdb:StandardNO2OtherType"/>
  </simpleType>
  <simpleType name="StandardNO2EnumerationType">
    <annotation>
      <documentation>Standard,NO2: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDNO2</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5601: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5601</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5635: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5635</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardNO2OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardPM10Type">
    <annotation>
      <documentation>Standard,PM10: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDPM10</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardPM10EnumerationType nvdb:StandardPM10OtherType"/>
  </simpleType>
  <simpleType name="StandardPM10EnumerationType">
    <annotation>
      <documentation>Standard,PM10: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDPM10</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5600: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5600</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5634: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5634</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardPM10OtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardProblemsonerType">
    <annotation>
      <documentation>Standard,problemsoner: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4649</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDPROBLEMSONER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardProblemsonerEnumerationType nvdb:StandardProblemsonerOtherType"/>
  </simpleType>
  <simpleType name="StandardProblemsonerEnumerationType">
    <annotation>
      <documentation>Standard,problemsoner: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4649</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDPROBLEMSONER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5602: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5602</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5636: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5636</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardProblemsonerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardRasfareType">
    <annotation>
      <documentation>Standard,rasfare: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4641</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDRASFARE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardRasfareEnumerationType nvdb:StandardRasfareOtherType"/>
  </simpleType>
  <simpleType name="StandardRasfareEnumerationType">
    <annotation>
      <documentation>Standard,rasfare: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4641</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDRASFARE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5594: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5594</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5628: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5628</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardRasfareOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardSamletBeregnetType">
    <annotation>
      <documentation>Standard,samlet,beregnet: Angir samlet standard</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSAMLETBEREGNET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardSamletBeregnetEnumerationType nvdb:StandardSamletBeregnetOtherType"/>
  </simpleType>
  <simpleType name="StandardSamletBeregnetEnumerationType">
    <annotation>
      <documentation>Standard,samlet,beregnet: Angir samlet standard</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSAMLETBEREGNET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5586: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5586</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5603: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5603</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5620: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5620</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardSamletBeregnetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardSamletKorrigertType">
    <annotation>
      <documentation>Standard,samlet,korrigert: Angir korrigert samlet standard</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSAMLETKORRIGERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardSamletKorrigertEnumerationType nvdb:StandardSamletKorrigertOtherType"/>
  </simpleType>
  <simpleType name="StandardSamletKorrigertEnumerationType">
    <annotation>
      <documentation>Standard,samlet,korrigert: Angir korrigert samlet standard</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSAMLETKORRIGERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5587: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5587</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5604: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5604</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5621: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5621</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardSamletKorrigertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardSikkerhetsutstyrTunnelType">
    <annotation>
      <documentation>Standard,sikkerhetsutstyr,tunnel: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4645</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSIKKERHETSUTSTYRTUNNEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardSikkerhetsutstyrTunnelEnumerationType nvdb:StandardSikkerhetsutstyrTunnelOtherType"/>
  </simpleType>
  <simpleType name="StandardSikkerhetsutstyrTunnelEnumerationType">
    <annotation>
      <documentation>Standard,sikkerhetsutstyr,tunnel: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4645</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSIKKERHETSUTSTYRTUNNEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5598: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5598</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5615: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5615</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5632: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5632</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardSikkerhetsutstyrTunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardSkadegradstetthetType">
    <annotation>
      <documentation>Standard,skadegradstetthet: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSKADEGRADSTETTHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardSkadegradstetthetEnumerationType nvdb:StandardSkadegradstetthetOtherType"/>
  </simpleType>
  <simpleType name="StandardSkadegradstetthetEnumerationType">
    <annotation>
      <documentation>Standard,skadegradstetthet: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSKADEGRADSTETTHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5597: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5597</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5614: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5614</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5631: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5631</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardSkadegradstetthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardStamvegGjennomTettbebyggelseType">
    <annotation>
      <documentation>Standard,stamveg gjennom tettbebyggelse: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4643</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTAMVEGGJENNOMTETTBEBYGGELSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardStamvegGjennomTettbebyggelseEnumerationType nvdb:StandardStamvegGjennomTettbebyggelseOtherType"/>
  </simpleType>
  <simpleType name="StandardStamvegGjennomTettbebyggelseEnumerationType">
    <annotation>
      <documentation>Standard,stamveg gjennom tettbebyggelse: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4643</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTAMVEGGJENNOMTETTBEBYGGELSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5596: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5596</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5630: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5630</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardStamvegGjennomTettbebyggelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardStigningType">
    <annotation>
      <documentation>Standard,stigning: Relatert til maksimal stigning over en gitt lengde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4637</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTIGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardStigningEnumerationType nvdb:StandardStigningOtherType"/>
  </simpleType>
  <simpleType name="StandardStigningEnumerationType">
    <annotation>
      <documentation>Standard,stigning: Relatert til maksimal stigning over en gitt lengde</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4637</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTIGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5590: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5590</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5607: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5607</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5624: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5624</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardStigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardStøyTotaltType">
    <annotation>
      <documentation>Standard,støy,totalt: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4646</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTØYTOTALT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardStøyTotaltEnumerationType nvdb:StandardStøyTotaltOtherType"/>
  </simpleType>
  <simpleType name="StandardStøyTotaltEnumerationType">
    <annotation>
      <documentation>Standard,støy,totalt: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4646</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTØYTOTALT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5599: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5599</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5616: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5616</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5633: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5633</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardStøyTotaltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardVegbreddeType">
    <annotation>
      <documentation>Standard,vegbredde: Relatert til vegnormalenes definisjoner</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4635</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDVEGBREDDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardVegbreddeEnumerationType nvdb:StandardVegbreddeOtherType"/>
  </simpleType>
  <simpleType name="StandardVegbreddeEnumerationType">
    <annotation>
      <documentation>Standard,vegbredde: Relatert til vegnormalenes definisjoner</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4635</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDVEGBREDDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>5588: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5588</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brukbar">
        <annotation>
          <documentation>5605: Brukbar</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5605</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>5622: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5622</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardVegbreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseVegstandardType">
    <annotation>
      <documentation>Standardklasse: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4631</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSEVEGSTANDARD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StandardklasseVegstandardEnumerationType nvdb:StandardklasseVegstandardOtherType"/>
  </simpleType>
  <simpleType name="StandardklasseVegstandardEnumerationType">
    <annotation>
      <documentation>Standardklasse: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4631</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSEVEGSTANDARD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="h1">
        <annotation>
          <documentation>5637: H1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5637</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="h2">
        <annotation>
          <documentation>5638: H2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5638</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="h3">
        <annotation>
          <documentation>5639: H3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5639</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="s1">
        <annotation>
          <documentation>5643: S1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5643</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="s2">
        <annotation>
          <documentation>5644: S2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5644</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="s3">
        <annotation>
          <documentation>5645: S3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5645</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a1">
        <annotation>
          <documentation>5646: A1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5646</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a2">
        <annotation>
          <documentation>5647: A2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5647</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="a3">
        <annotation>
          <documentation>5648: A3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5648</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="g1">
        <annotation>
          <documentation>5649: G1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5649</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="g2">
        <annotation>
          <documentation>5650: G2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5650</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="g3">
        <annotation>
          <documentation>5651: G3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5651</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StandardklasseVegstandardOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegstandard" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VegstandardType">
    <annotation>
      <documentation>Vegstandard: Angir standard på vegstrekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">541</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTANDARD</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegstandardType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="statusår" type="integer">
            <annotation>
              <documentation>Statusår: Angir statusår</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4650</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruker" type="string">
            <annotation>
              <documentation>Bruker: Angir brukerinitialer i vdb ( NVDB )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4629</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>Registreringsdato: Angir når data er registrert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4630</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardklasse" type="nvdb:StandardklasseVegstandardType">
            <annotation>
              <documentation>Standardklasse: Vegnormalenes inndeling i klasser på vegnettet, inkl. gsv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4631</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardÅDT" type="integer">
            <annotation>
              <documentation>Standard ÅDT: Angir ÅDT</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4632</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDÅDT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardSamletBeregnet" type="nvdb:StandardSamletBeregnetType">
            <annotation>
              <documentation>Standard, samlet, beregnet: Angir samlet standard</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4633</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSAMLETBEREGNET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardSamletKorrigert" type="nvdb:StandardSamletKorrigertType">
            <annotation>
              <documentation>Standard, samlet, korrigert: Angir korrigert samlet standard</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4634</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSAMLETKORRIGERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardVegbredde" type="nvdb:StandardVegbreddeType">
            <annotation>
              <documentation>Standard, vegbredde: Relatert til vegnormalenes definisjoner</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4635</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDVEGBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardHorisontalkurvatur" type="nvdb:StandardHorisontalkurvaturType">
            <annotation>
              <documentation>Standard, horisontalkurvatur: Relatert til strekningssammenligning i henhold til Håndbok om stamvegsutredning. Kurvatur framskaffes vha KurvGen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4636</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDHORISONTALKURVATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardStigning" type="nvdb:StandardStigningType">
            <annotation>
              <documentation>Standard, stigning: Relatert til maksimal stigning over en gitt lengde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4637</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTIGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardGåendeSyklende" type="nvdb:StandardGåendeSyklendeType">
            <annotation>
              <documentation>Standard, gående/syklende: Relatert til tilbud ( ruter ) for gående/syklende i og utenom tettsted.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4638</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDGÅENDESYKLENDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardFriHøyde" type="nvdb:StandardFriHøydeType">
            <annotation>
              <documentation>Standard, fri høyde: Relatert til fast fri høgde for 50 meters strekning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4639</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDFRIHØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardHøyfjell" type="nvdb:StandardHøyfjellType">
            <annotation>
              <documentation>Standard, høyfjell: Relatert til data om kolonnekjøring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4640</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDHØYFJELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardRasfare" type="nvdb:StandardRasfareType">
            <annotation>
              <documentation>Standard, rasfare: Relatert til rasutsatte strekninger, dokumentert i internrapport nr 2186</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4641</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDRASFARE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardFaktiskBæreevne" type="nvdb:StandardFaktiskBæreevneType">
            <annotation>
              <documentation>Standard, faktisk bæreevne: Bæreevne relatert til levetidsfaktor hentet ut fra PMS. Forhold mellom funksjonell dekkelevetid og normert dekkelevetid ( Håndbok N200 (018) Vegbygging )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4642</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDFAKTISKBÆREEVNE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardStamvegGjennomTettbebyggelse" type="nvdb:StandardStamvegGjennomTettbebyggelseType">
            <annotation>
              <documentation>Standard, stamveg gjennom tettbebyggelse: Relatert til definisjoner gitt i håndbok for stamveger 2002</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4643</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTAMVEGGJENNOMTETTBEBYGGELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardSkadegradstetthet" type="nvdb:StandardSkadegradstetthetType">
            <annotation>
              <documentation>Standard, skadegradstetthet: Relatert til sikkerhetsklasser etter forventet skadegradstetthet ( SGT )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4644</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSKADEGRADSTETTHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardSikkerhetsutstyrTunnel" type="nvdb:StandardSikkerhetsutstyrTunnelType">
            <annotation>
              <documentation>Standard, sikkerhetsutstyr, tunnel: Relatert til sikkerhetsutstyr i HB N500 (021)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4645</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSIKKERHETSUTSTYRTUNNEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardStøyTotalt" type="nvdb:StandardStøyTotaltType">
            <annotation>
              <documentation>Standard, støy, totalt: Samlet støy relatert til 500 meters strekninger ( Omfatter 5 deltema om støy )</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4646</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDSTØYTOTALT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardPM10" type="nvdb:StandardPM10Type">
            <annotation>
              <documentation>Standard, PM10: Svevestøv, relatert til døgnmiddelkonsentrasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4647</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDPM10</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardNO2" type="nvdb:StandardNO2Type">
            <annotation>
              <documentation>Standard, NO2: Nitrogendioksyd, relatert til timemiddelkonsentrasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4648</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDNO2</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standardProblemsoner" type="nvdb:StandardProblemsonerType">
            <annotation>
              <documentation>Standard, problemsoner: : Relatert til problemsoner definert ved vurdering av landskapsbilde, naturmiljø og kulturmiljø, kalt landskap, helhetsvurdering.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4649</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STANDARDPROBLEMSONER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5041</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegstandardPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegstandard"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
