XSD/NVDB/47/67.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>67: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">67</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Trafikklomme.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EkstraBelysningInngangssoneType">
    <annotation>
      <documentation>Ekstra belysning inngangssone: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EkstraBelysningInngangssoneEnumerationType nvdb:EkstraBelysningInngangssoneOtherType"/>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneEnumerationType">
    <annotation>
      <documentation>Ekstra belysning inngangssone: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>9978: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>9979: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpType">
    <annotation>
      <documentation>Kategori: Angir hvilken kategori tunnelløpet tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORITUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KategoriTunnelløpEnumerationType nvdb:KategoriTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="KategoriTunnelløpEnumerationType">
    <annotation>
      <documentation>Kategori: Angir hvilken kategori tunnelløpet tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORITUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hovedløp">
        <annotation>
          <documentation>11801: Hovedløp: Tunnelløp som fører hovedveg.  Hovedveg har vanligvis "normale" hovedparsellnummer (ikke ramper, armer, etc.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rampe">
        <annotation>
          <documentation>11802: Rampe: Tunnelløp som fører rampe.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sekundærløp">
        <annotation>
          <documentation>12091: Sekundærløp: Tunnelløp som fører sekundærveg eller vegarm.  Aktuelt for tunnel med kryss.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12091</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rundkjøring">
        <annotation>
          <documentation>11804: Rundkjøring: Tunnelløp med rundkjøring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelløp" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelløpType">
    <annotation>
      <documentation>Tunnelløp: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">67</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelløpType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn på tunnelløp.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kategori" type="nvdb:KategoriTunnelløpType">
            <annotation>
              <documentation>Kategori: Angir hvilken kategori tunnelløpet tilhører</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelprofil" type="nvdb:TunnelprofilType">
            <annotation>
              <documentation>Tunnelprofil: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeTunnelløp" type="nvdb:TypeTunnelløpType">
            <annotation>
              <documentation>Type tunnelløp: Angir hvilken type tunnelløp det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>Lengde: Angir lengde av tunnelløpet.  Måles i den helt innelukkede delen av tunnelen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1317</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealTverrsnitt" type="double">
            <annotation>
              <documentation>Areal tverrsnitt: Angir areal av tunnelløpets tverrsnitt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREALTVERRSNITT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>Bredde: Angir tunnelløpets minimum bredde målt fra tunnelvegg til tunnelvegg i kjørebanenivå.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3897</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>Åpningsår: Angir hvilket år tunnelløpet ble åpnet for trafikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8356</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rehabiliteringsår" type="integer">
            <annotation>
              <documentation>Rehabiliteringsår: Angir hvilket år tunnelløp enten er planlagt rehabiltert eller sist var rehabilitert. Det er her tale om full rehabilitering. Årstall fram i tid tolkes som planlagt år for rehabilitering. Årstall tilbake i tid tolkes som forrige gang tunnelløp ble rehabilitert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10693</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REHABILITERINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ekstraBelysningInngangssone" type="nvdb:EkstraBelysningInngangssoneType">
            <annotation>
              <documentation>Ekstra belysning inngangssone: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="brutusId" type="string">
            <annotation>
              <documentation>Brutus_Id: Gir referanse til brudatabanken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9305</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUTUSID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>Merknad: Permanent merknad til aktuell forekomst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5286</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4769</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelløp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilType">
    <annotation>
      <documentation>Tunnelprofil: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilEnumerationType nvdb:TunnelprofilOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilEnumerationType">
    <annotation>
      <documentation>Tunnelprofil: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="t4">
        <annotation>
          <documentation>3404: T4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t5">
        <annotation>
          <documentation>3406: T5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t55">
        <annotation>
          <documentation>8169: T5,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t6">
        <annotation>
          <documentation>3408: T6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t7">
        <annotation>
          <documentation>8170: T7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t75">
        <annotation>
          <documentation>17531: T7,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17531</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t8">
        <annotation>
          <documentation>12911: T8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12911</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t85">
        <annotation>
          <documentation>3410: T8,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3410</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t9">
        <annotation>
          <documentation>3412: T9</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3412</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t95">
        <annotation>
          <documentation>8171: T9,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t10">
        <annotation>
          <documentation>4350: T10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t105">
        <annotation>
          <documentation>17532: T10,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17532</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t11">
        <annotation>
          <documentation>3414: T11</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3414</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t115">
        <annotation>
          <documentation>8172: T11,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t12">
        <annotation>
          <documentation>3416: T12</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3416</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t125">
        <annotation>
          <documentation>8173: T12,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t13">
        <annotation>
          <documentation>12237: T13</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12237</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t135">
        <annotation>
          <documentation>17533: T13,5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17533</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="t14">
        <annotation>
          <documentation>12238: T14</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12238</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rektangulærtTverrsnitt">
        <annotation>
          <documentation>3421: Rektangulært tverrsnitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3421</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpType">
    <annotation>
      <documentation>Type tunnelløp: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpEnumerationType nvdb:TypeTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpEnumerationType">
    <annotation>
      <documentation>Type tunnelløp: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="berg">
        <annotation>
          <documentation>3386: Berg: Tunnelløp som hovedsaklig går i berg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="løsmasse">
        <annotation>
          <documentation>3387: Løsmasse: Tunnelløp som går i løsmasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bergLøsmasse">
        <annotation>
          <documentation>3388: Berg/løsmasse: Tunnelløp som delvis går i berg og delvis i løsmasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lokk">
        <annotation>
          <documentation>4843: Lokk: Tunnelløp som går under bygning/lokk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4843</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="senketunnel">
        <annotation>
          <documentation>13001: Senketunnel: Tunnelløp under vann som er satt sammen av ferdigbygde seksjoner som har blitt senka på plass.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13001</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
