XSD/NVDB/163/482.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>482: Angir punkt for registrering av trafikkdata</documentation>
  </annotation>
  <include schemaLocation="Kamera.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KildeType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9292</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KILDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KildeEnumerationType nvdb:KildeOtherType"/>
  </simpleType>
  <simpleType name="KildeEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9292</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KILDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="registreringspunkt">
        <annotation>
          <documentation>12989: Registreringspunkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12989</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bomstasjon">
        <annotation>
          <documentation>12990: Bomstasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12990</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="signalanlegg">
        <annotation>
          <documentation>12991: Signalanlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12991</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ATK">
        <annotation>
          <documentation>13106: ATK</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13106</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KildeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringsnivåType">
    <annotation>
      <documentation>3910: Angir hvilket nivå tellepunktet er på.  Nivå 1 angir kontinuerlig datainnsamling, nivå 2 angir 4-5 uker pr år.  Nivå 3 angir 1 uke pr år</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3910</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSNIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RegistreringsnivåEnumerationType nvdb:RegistreringsnivåOtherType"/>
  </simpleType>
  <simpleType name="RegistreringsnivåEnumerationType">
    <annotation>
      <documentation>3910: Angir hvilket nivå tellepunktet er på.  Nivå 1 angir kontinuerlig datainnsamling, nivå 2 angir 4-5 uker pr år.  Nivå 3 angir 1 uke pr år</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3910</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSNIVÅ</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kontinuerlig_Nivå1">
        <annotation>
          <documentation>4892: Kontinuerlig (Nivå 1)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4892</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="periodisk_Nivå2">
        <annotation>
          <documentation>4893: Periodisk (Nivå 2)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4893</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="periodisk_Nivå3">
        <annotation>
          <documentation>10245: Periodisk (Nivå 3)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10245</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="enkeltmåling">
        <annotation>
          <documentation>4894: Enkeltmåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4894</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RegistreringsnivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusTrafikkregistreringsstasjonType">
    <annotation>
      <documentation>5201: Angir hvilken status registreringspunktet har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5201</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSTRAFIKKREGISTRERINGSSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusTrafikkregistreringsstasjonEnumerationType nvdb:StatusTrafikkregistreringsstasjonOtherType"/>
  </simpleType>
  <simpleType name="StatusTrafikkregistreringsstasjonEnumerationType">
    <annotation>
      <documentation>5201: Angir hvilken status registreringspunktet har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5201</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUSTRAFIKKREGISTRERINGSSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="operativ">
        <annotation>
          <documentation>7081: Operativ</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7081</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="midlertidigUteAvDrift">
        <annotation>
          <documentation>12987: Midlertidig ute av drift</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12987</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedlagt_IkkeLovÅBruke">
        <annotation>
          <documentation>7082: Nedlagt, ikke lov å bruke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7082</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nedlagt">
        <annotation>
          <documentation>12988: Nedlagt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12988</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusTrafikkregistreringsstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikantgruppeType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9293</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKANTGRUPPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikantgruppeEnumerationType nvdb:TrafikantgruppeOtherType"/>
  </simpleType>
  <simpleType name="TrafikantgruppeEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9293</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKANTGRUPPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="motorkjøretøy">
        <annotation>
          <documentation>12992: Motorkjøretøy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12992</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkel">
        <annotation>
          <documentation>12993: Sykkel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12993</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="gående">
        <annotation>
          <documentation>12994: Gående</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12994</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikantgruppeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkregistreringsstasjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkregistreringsstasjonType">
    <annotation>
      <documentation>482: Angir punkt for registrering av trafikkdata</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">482</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKREGISTRERINGSSTASJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkregistreringsstasjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="målestasjonsnummer" type="integer">
            <annotation>
              <documentation>4627: Angir er entydig nummer knyttet til trafikkregistreringsstasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4627</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MÅLESTASJONSNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="med_Retning_Fra" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5188</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MED_RETNING_FRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="mot_Retning_Fra" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5189</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MOT_RETNING_FRA</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kilde" type="nvdb:KildeType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9292</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsnivå" type="nvdb:RegistreringsnivåType">
            <annotation>
              <documentation>3910: Angir hvilket nivå tellepunktet er på.  Nivå 1 angir kontinuerlig datainnsamling, nivå 2 angir 4-5 uker pr år.  Nivå 3 angir 1 uke pr år</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3910</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSNIVÅ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="trafikantgruppe" type="nvdb:TrafikantgruppeType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9293</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKANTGRUPPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="nvdb:StatusTrafikkregistreringsstasjonType">
            <annotation>
              <documentation>5201: Angir hvilken status registreringspunktet har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5201</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stedsnavn" type="string">
            <annotation>
              <documentation>4626: Gir stedsnavn relatert til tellepunktet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4626</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STEDSNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKjørefelt" type="integer">
            <annotation>
              <documentation>5192: Angir hvor mange kjørefelt som er knytta til tellepunktet.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5192</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLKJØREFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sistOppdatertFraNorTraf" type="date">
            <annotation>
              <documentation>9291: Angir dato for sist oppdatering fra NorTraf</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9291</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SISTOPPDATERTFRANORTRAF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11140: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11140</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROSJEKTREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4997: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4997</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkregistreringsstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkregistreringsstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
