XSD/NVDB/79/878.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.08">
  <annotation>
    <documentation>878: Angir tilstandsgrader for stikkrenne/kulvert</documentation>
  </annotation>
  <include schemaLocation="StikkrenneKulvert.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DriftstilstandTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10638: Driftstilstand. 1 = er spylt, 2 = er ikke spylt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10638</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTANDTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DriftstilstandTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:DriftstilstandTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10638: Driftstilstand. 1 = er spylt, 2 = er ikke spylt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10638</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTANDTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeTømt">
        <annotation>
          <documentation>17197: Ikke tømt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17197</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tømt">
        <annotation>
          <documentation>17200: Tømt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DriftstilstandTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_BeliggenhetType">
    <annotation>
      <documentation>10616: Tilstandsgrad, TG Byggefeil, Beliggenhet.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10616</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_BELIGGENHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGByggefeil_BeliggenhetEnumerationType nvdb:TGByggefeil_BeliggenhetOtherType"/>
  </simpleType>
  <simpleType name="TGByggefeil_BeliggenhetEnumerationType">
    <annotation>
      <documentation>10616: Tilstandsgrad, TG Byggefeil, Beliggenhet.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10616</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_BELIGGENHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17045: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17045</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17071: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17071</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17097: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17097</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17123: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17123</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17149: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17149</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17175: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17175</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_BeliggenhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_HøydeVinkelType">
    <annotation>
      <documentation>10613: Tilstandsgrad, Byggefeil, høyde/vinkel.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10613</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_HØYDEVINKEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGByggefeil_HøydeVinkelEnumerationType nvdb:TGByggefeil_HøydeVinkelOtherType"/>
  </simpleType>
  <simpleType name="TGByggefeil_HøydeVinkelEnumerationType">
    <annotation>
      <documentation>10613: Tilstandsgrad, Byggefeil, høyde/vinkel.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10613</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_HØYDEVINKEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17042: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17042</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17068: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17068</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17094: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17094</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17120: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17120</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17146: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17146</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17172: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGByggefeil_HøydeVinkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10631: Tilstandsgrad, Kapasitet.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10631</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITETTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGKapasitetTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:TGKapasitetTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="TGKapasitetTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10631: Tilstandsgrad, Kapasitet.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10631</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITETTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17060: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17060</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17086: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17086</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17112: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17112</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17138: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17138</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17164: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17164</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17190: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17190</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGKapasitetTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_PraktiskManuellType">
    <annotation>
      <documentation>10636: Tilstandsgrad, Samlet vurdering, praktisk manuell.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10636</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_PRAKTISKMANUELL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_PraktiskManuellEnumerationType nvdb:TGSamletVurdering_PraktiskManuellOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_PraktiskManuellEnumerationType">
    <annotation>
      <documentation>10636: Tilstandsgrad, Samlet vurdering, praktisk manuell.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10636</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_PRAKTISKMANUELL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17065: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17065</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17091: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17091</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17117: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17117</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17143: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17143</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17169: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17195: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17195</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_PraktiskManuellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_TeoretiskAutomatikkType">
    <annotation>
      <documentation>10635: Tilstandsgrad, Samlet vurdering, teoretisk automatikk.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10635</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_TEORETISKAUTOMATIKK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSamletVurdering_TeoretiskAutomatikkEnumerationType nvdb:TGSamletVurdering_TeoretiskAutomatikkOtherType"/>
  </simpleType>
  <simpleType name="TGSamletVurdering_TeoretiskAutomatikkEnumerationType">
    <annotation>
      <documentation>10635: Tilstandsgrad, Samlet vurdering, teoretisk automatikk.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10635</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_TEORETISKAUTOMATIKK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17064: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17064</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17090: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17090</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17116: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17116</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17142: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17142</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17168: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17194: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17194</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSamletVurdering_TeoretiskAutomatikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSetning_Deformasjon_MangelfulltLengdefallType">
    <annotation>
      <documentation>10623: Tilstandsgrad, Setning, deformasjon, mangelfullt lengdefall.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10623</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSETNING_DEFORMASJON_MANGELFULLTLENGDEFALL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSetning_Deformasjon_MangelfulltLengdefallEnumerationType nvdb:TGSetning_Deformasjon_MangelfulltLengdefallOtherType"/>
  </simpleType>
  <simpleType name="TGSetning_Deformasjon_MangelfulltLengdefallEnumerationType">
    <annotation>
      <documentation>10623: Tilstandsgrad, Setning, deformasjon, mangelfullt lengdefall.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10623</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSETNING_DEFORMASJON_MANGELFULLTLENGDEFALL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17052: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17052</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17078: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17078</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17104: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17104</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17130: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17130</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17156: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17156</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17182: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17182</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSetning_Deformasjon_MangelfulltLengdefallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeType">
    <annotation>
      <documentation>10620: Tilstandsgrad, TG Skade inkl korrosjon.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10620</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadeEnumerationType nvdb:TGSkadeOtherType"/>
  </simpleType>
  <simpleType name="TGSkadeEnumerationType">
    <annotation>
      <documentation>10620: Tilstandsgrad, TG Skade inkl korrosjon.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10620</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17049: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17049</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17075: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17075</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17101: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17101</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17127: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17127</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17153: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17153</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17179: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17179</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåErosjonssikringVedInnOgUtløpType">
    <annotation>
      <documentation>10630: Tilstandsgrad. Skade på erosjonssikring ved inn- og utløp.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10630</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEPÅEROSJONSSIKRINGVEDINNOGUTLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadePåErosjonssikringVedInnOgUtløpEnumerationType nvdb:TGSkadePåErosjonssikringVedInnOgUtløpOtherType"/>
  </simpleType>
  <simpleType name="TGSkadePåErosjonssikringVedInnOgUtløpEnumerationType">
    <annotation>
      <documentation>10630: Tilstandsgrad. Skade på erosjonssikring ved inn- og utløp.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10630</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEPÅEROSJONSSIKRINGVEDINNOGUTLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17059: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17059</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17085: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17085</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17111: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17111</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17137: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17137</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17163: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17163</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17189: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17189</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåErosjonssikringVedInnOgUtløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåInnOgUtløpskonstruksjonType">
    <annotation>
      <documentation>10627: Tilstandsgrad, Skade på inn- og utløpskonstruksjon.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEPÅINNOGUTLØPSKONSTRUKSJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TGSkadePåInnOgUtløpskonstruksjonEnumerationType nvdb:TGSkadePåInnOgUtløpskonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="TGSkadePåInnOgUtløpskonstruksjonEnumerationType">
    <annotation>
      <documentation>10627: Tilstandsgrad, Skade på inn- og utløpskonstruksjon.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEPÅINNOGUTLØPSKONSTRUKSJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>17056: 0: Tilstandsgrad 0</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17056</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>17082: 1: Tilstandsgrad 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17082</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>17108: 2: Tilstandsgrad 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17108</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>17134: 3: Tilstandsgrad 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17134</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>17160: 8: Tilstandsgrad Ikke Undersøkt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17160</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>17186: 9: Tilstandsgrad mangler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17186</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TGSkadePåInnOgUtløpskonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tilstandsgrad_StikkrenneKulvert" substitutionGroup="gml:AbstractFeature" type="nvdb:Tilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>878: Angir tilstandsgrader for stikkrenne/kulvert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">878</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_StikkrenneKulvertType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="TGByggefeil_HøydeVinkel" type="nvdb:TGByggefeil_HøydeVinkelType">
            <annotation>
              <documentation>10613: Tilstandsgrad, Byggefeil, høyde/vinkel.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10613</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_HØYDEVINKEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadByggefeil_HøydeVinkel" type="string">
            <annotation>
              <documentation>10648: Merknad Byggefeil, høyde/vinkel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10648</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADBYGGEFEIL_HØYDEVINKEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGByggefeil_Beliggenhet" type="nvdb:TGByggefeil_BeliggenhetType">
            <annotation>
              <documentation>10616: Tilstandsgrad, TG Byggefeil, Beliggenhet.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10616</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_BELIGGENHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadByggefeil_Beliggenhet" type="string">
            <annotation>
              <documentation>10646: Merknad Byggefeil, Beliggenhet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10646</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADBYGGEFEIL_BELIGGENHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkade" type="nvdb:TGSkadeType">
            <annotation>
              <documentation>10620: Tilstandsgrad, TG Skade inkl korrosjon.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10620</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkade" type="string">
            <annotation>
              <documentation>10657: Merknad Skade</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10657</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSetning_Deformasjon_MangelfulltLengdefall" type="nvdb:TGSetning_Deformasjon_MangelfulltLengdefallType">
            <annotation>
              <documentation>10623: Tilstandsgrad, Setning, deformasjon, mangelfullt lengdefall.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10623</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSETNING_DEFORMASJON_MANGELFULLTLENGDEFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSetning_Deform_MangelfulltLengdefall" type="string">
            <annotation>
              <documentation>10667: Merknad Setning, deform, mangelfullt lengdefall</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10667</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSETNING_DEFORM_MANGELFULLTLENGDEFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadePåInnOgUtløpskonstruksjon" type="nvdb:TGSkadePåInnOgUtløpskonstruksjonType">
            <annotation>
              <documentation>10627: Tilstandsgrad, Skade på inn- og utløpskonstruksjon.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10627</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEPÅINNOGUTLØPSKONSTRUKSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadePåInnOgUtløpskonstruksjon" type="string">
            <annotation>
              <documentation>10661: Merknad Skade på inn- og utløpskonstruksjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10661</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADEPÅINNOGUTLØPSKONSTRUKSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadePåErosjonssikringVedInnOgUtløp" type="nvdb:TGSkadePåErosjonssikringVedInnOgUtløpType">
            <annotation>
              <documentation>10630: Tilstandsgrad. Skade på erosjonssikring ved inn- og utløp.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10630</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEPÅEROSJONSSIKRINGVEDINNOGUTLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadePåErosjonssikringVedInnOgUtløp" type="string">
            <annotation>
              <documentation>10660: Merknad Skade på erosjonssikring ved inn- og utløp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10660</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADEPÅEROSJONSSIKRINGVEDINNOGUTLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitet" type="nvdb:TGKapasitetTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10631: Tilstandsgrad, Kapasitet.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10631</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitet" type="string">
            <annotation>
              <documentation>10653: Merknad Kapasitet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10653</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKAPASITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_TeoretiskAutomatikk" type="nvdb:TGSamletVurdering_TeoretiskAutomatikkType">
            <annotation>
              <documentation>10635: Tilstandsgrad, Samlet vurdering, teoretisk automatikk.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10635</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_TEORETISKAUTOMATIKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurdering_PraktiskManuell" type="nvdb:TGSamletVurdering_PraktiskManuellType">
            <annotation>
              <documentation>10636: Tilstandsgrad, Samlet vurdering, praktisk manuell.  0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10636</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERING_PRAKTISKMANUELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10525: Merknad Samlet vurdering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10525</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSAMLETVURDERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="nvdb:DriftstilstandTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10638: Driftstilstand. 1 = er spylt, 2 = er ikke spylt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10638</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>10697: Merknad knyttet til driftstilstand</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10697</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADDRIFTSTILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="nvdb:VannføringTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10644: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=tørrlagt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10644</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="nvdb:TypeRegistreringTilstandsgrad_StikkrenneKulvertType">
            <annotation>
              <documentation>10641: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10641</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10529: Registreringsdato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10529</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10530: Signatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10530</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIGNATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10532: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10532</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>10531: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10531</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_LINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_StikkrenneKulvertPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_StikkrenneKulvert"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRegistreringTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10641: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10641</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERINGTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRegistreringTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:TypeRegistreringTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10641: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10641</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERINGTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="hoved">
        <annotation>
          <documentation>17203: Hoved: Hovedinspeksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="årlig">
        <annotation>
          <documentation>17206: Årlig: Årlig ajourhold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17206</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRegistreringTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_StikkrenneKulvertType">
    <annotation>
      <documentation>10644: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=tørrlagt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRINGTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannføringTilstandsgrad_StikkrenneKulvertEnumerationType nvdb:VannføringTilstandsgrad_StikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_StikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>10644: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=tørrlagt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10644</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRINGTILSTANDSGRAD_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="liten">
        <annotation>
          <documentation>17209: Liten: Liten kontinuelrig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17209</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stor">
        <annotation>
          <documentation>17212: Stor: Stor, kontinuerlig</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17212</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="årsvariasjon">
        <annotation>
          <documentation>17215: Årsvariasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17215</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ståendeVann">
        <annotation>
          <documentation>17218: Stående vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17218</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tørrlagt">
        <annotation>
          <documentation>17221: Tørrlagt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17221</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannføringTilstandsgrad_StikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
