XSD/NVDB/874/874.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.10">
  <annotation>
    <documentation>874: Informasjon om sykkeltilbud langs riksvegrute</documentation>
  </annotation>
  <include schemaLocation="Sykkeltilbud_Riksvegrute.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteType">
    <annotation>
      <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RIKSVEGRUTESYKKELTILBUD_RIKSVEGRUTE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RiksvegruteSykkeltilbud_RiksvegruteEnumerationType nvdb:RiksvegruteSykkeltilbud_RiksvegruteOtherType"/>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteEnumerationType">
    <annotation>
      <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RIKSVEGRUTESYKKELTILBUD_RIKSVEGRUTE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1_E6_RiksgrensenSvinesund_Oslo">
        <annotation>
          <documentation>16796: 1: E6 Riksgrensen/Svinesund - Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16796</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2a_E18_RiksgrensenØrje_Oslo">
        <annotation>
          <documentation>16797: 2a: E18 Riksgrensen/Ørje - Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16797</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2b_E16_Riksgrensen_HønefossOgRv35_Hønefoss_Hokksund">
        <annotation>
          <documentation>17280: 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund: Rute 2b: E16 Riksgrensen/Riksåsen – Hønefoss og rv 35 Hønefoss – Hokksund med tilknytninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17280</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3_E18_Oslo_Kristiansand_Stavanger">
        <annotation>
          <documentation>16798: 3: E18 Oslo - Kristiansand  - Stavanger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16798</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4a_E39_Stavanger_Bergen_Ålesund">
        <annotation>
          <documentation>16799: 4a: E39 Stavanger - Bergen - Ålesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16799</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4b_E39_Ålesund_Trondheim">
        <annotation>
          <documentation>16800: 4b: E39 Ålesund - Trondheim</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16800</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4c_Rv9_Kristiansand_HaukeligrendOgRv13_55_Jøsendal_Sogndal">
        <annotation>
          <documentation>16801: 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5a_E134_Drammen_Haugesund">
        <annotation>
          <documentation>16802: 5a: E134 Drammen - Haugesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5b_Rv7_Hønefoss_BuOgRv52_Gol_Borlaug">
        <annotation>
          <documentation>16803: 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16803</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5c_E16_Sandvika_Bergen">
        <annotation>
          <documentation>16804: 5c: E16 Sandvika - Bergen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6a_E6_Oslo_Trondheim">
        <annotation>
          <documentation>16805: 6a: E6 Oslo - Trondheim</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16805</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6b_Rv3_Kolomoen_Ulsberg">
        <annotation>
          <documentation>16806: 6b: Rv3 Kolomoen - Ulsberg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16806</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6c_Rv15_Otta_Måløy">
        <annotation>
          <documentation>16807: 6c: Rv15 Otta - Måløy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16807</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6d_E136_Dombås_Ålesund">
        <annotation>
          <documentation>16808: 6d: E136 Dombås - Ålesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16808</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6e_Rv70_Oppdal_Kristiansund">
        <annotation>
          <documentation>16809: 6e: Rv70 Oppdal - Kristiansund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16809</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7_E6_Trondheim_Fauske">
        <annotation>
          <documentation>16810: 7: E6 Trondheim - Fauske</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16810</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8a_E6_Fauske_Nordkjosbotn">
        <annotation>
          <documentation>16811: 8a: E6 Fauske - Nordkjosbotn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16811</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8b_E6_Nordkjosbotn_Kirkenes">
        <annotation>
          <documentation>16812: 8b: E6 Nordkjosbotn - Kirkenes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16812</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbud_RiksvegruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudType">
    <annotation>
      <documentation>10419: Angir hvilket tilbud det er til syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SykkeltilbudEnumerationType nvdb:SykkeltilbudOtherType"/>
  </simpleType>
  <simpleType name="SykkeltilbudEnumerationType">
    <annotation>
      <documentation>10419: Angir hvilket tilbud det er til syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="gangOgSykkelveg">
        <annotation>
          <documentation>16813: Gang- og sykkelveg: Strekning hvor det er tilbud om å sykle på egen gang- og sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16813</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelveg">
        <annotation>
          <documentation>16814: Sykkelveg: Strekning hvor det er tilbud om å sykle på  egen sykkelveg. Sykkelveg kan være med eller uten fortau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16814</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelekspressveg">
        <annotation>
          <documentation>16815: Sykkelekspressveg: Strekning hvor det er tilbud om å sykle på egen sykkelekspressveg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16815</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelfelt">
        <annotation>
          <documentation>16816: Sykkelfelt: Strekning hvor det tilbud om å sykle i egne sykkelfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16816</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="blandetTrafikk">
        <annotation>
          <documentation>16817: Blandet trafikk : Strekning hvor det kun er tilbud om sykle på samme veg som øvrig trafikk, ikke noen form for eget sykkelanlegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16817</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkeltilbudPåLokaltVegnett">
        <annotation>
          <documentation>16818: Sykkeltilbud på lokalt vegnett: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, men hvor det finnes tilbud på lokalt vegnett i stedet.Tilbudet på lokalt vegnett legges inn i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16818</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelforbud_IkkeAlternativer">
        <annotation>
          <documentation>16819: Sykkelforbud, ikke alternativer: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, og hvor det heller ikke er tilbud på lokalt vegnett. Syklende må basere seg på skyss med annet transportmiddel.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16819</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkeltilbud_Riksvegrute" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Sykkeltilbud_RiksvegruteType">
    <annotation>
      <documentation>874: Informasjon om sykkeltilbud langs riksvegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">874</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD_RIKSVEGRUTE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sykkeltilbud_RiksvegruteType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="riksvegrute" type="nvdb:RiksvegruteSykkeltilbud_RiksvegruteType">
            <annotation>
              <documentation>10418: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10418</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RIKSVEGRUTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkeltilbud" type="nvdb:SykkeltilbudType">
            <annotation>
              <documentation>10419: Angir hvilket tilbud det er til syklende</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10419</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>10253: Beskrivelse av strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10253</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vurderingAvTilbud" type="nvdb:VurderingAvTilbudType">
            <annotation>
              <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10420</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VURDERINGAVTILBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretDato" type="date">
            <annotation>
              <documentation>10933: Dato informajson sist var kvalitetssikret</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10933</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETSSIKRETDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitetssikretAv" type="string">
            <annotation>
              <documentation>10934: Angir hvem som utførte siste kvalitetsskring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10934</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETSSIKRETAV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sykkeltilbud_RiksvegrutePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkeltilbud_Riksvegrute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VurderingAvTilbudType">
    <annotation>
      <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10420</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VURDERINGAVTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VurderingAvTilbudEnumerationType nvdb:VurderingAvTilbudOtherType"/>
  </simpleType>
  <simpleType name="VurderingAvTilbudEnumerationType">
    <annotation>
      <documentation>10420: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer. Vegnormaler legges til grunn i vurderingen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10420</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VURDERINGAVTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tilfredsstillende">
        <annotation>
          <documentation>16820: Tilfredsstillende: Sykkeltilbudet er ikke tilfredsstillende i forhold til krav som stilles i vegnormalene</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16820</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeTilfredsstillende">
        <annotation>
          <documentation>16821: Ikke tilfredsstillende: Sykkeltilbudet er tilfredsstillende i forhold til krav som stilles i vegnormalene</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16821</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VurderingAvTilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
