XSD/NVDB/874/874.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>874: Informasjon om sykkeltilbud langs riksvegrute</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">874</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="SykkeltilbudRiksvegrute.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="RiksvegruteSykkeltilbudRiksvegruteType">
    <annotation>
      <documentation>Riksvegrute: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RIKSVEGRUTESYKKELTILBUDRIKSVEGRUTE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RiksvegruteSykkeltilbudRiksvegruteEnumerationType nvdb:RiksvegruteSykkeltilbudRiksvegruteOtherType"/>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbudRiksvegruteEnumerationType">
    <annotation>
      <documentation>Riksvegrute: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10418</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RIKSVEGRUTESYKKELTILBUDRIKSVEGRUTE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1E6RiksgrensenSvinesundOslo">
        <annotation>
          <documentation>16796: 1: E6 Riksgrensen/Svinesund - Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16796</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2aE18RiksgrensenØrjeOslo">
        <annotation>
          <documentation>16797: 2a: E18 Riksgrensen/Ørje - Oslo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16797</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2bE16RiksgrensenHønefossOgRv35HønefossHokksund">
        <annotation>
          <documentation>17280: 2b: E16 Riksgrensen - Hønefoss og Rv35 Hønefoss - Hokksund: Rute 2b: E16 Riksgrensen/Riksåsen – Hønefoss og rv 35 Hønefoss – Hokksund med tilknytninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17280</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3E18OsloKristiansandStavanger">
        <annotation>
          <documentation>16798: 3: E18 Oslo - Kristiansand  - Stavanger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16798</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4aE39StavangerBergenÅlesund">
        <annotation>
          <documentation>16799: 4a: E39 Stavanger - Bergen - Ålesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16799</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4bE39ÅlesundTrondheim">
        <annotation>
          <documentation>16800: 4b: E39 Ålesund - Trondheim</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16800</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4cRv9KristiansandHaukeligrendOgRv1355JøsendalSognd">
        <annotation>
          <documentation>16801: 4c: Rv 9 Kristiansand - Haukeligrend og Rv 13/55 Jøsendal - Sogndal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5aE134DrammenHaugesund">
        <annotation>
          <documentation>16802: 5a: E134 Drammen - Haugesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5bRv7HønefossBuOgRv52GolBorlaug">
        <annotation>
          <documentation>16803: 5b: Rv 7 Hønefoss - Bu og Rv52 Gol - Borlaug</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16803</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5cE16SandvikaBergen">
        <annotation>
          <documentation>16804: 5c: E16 Sandvika - Bergen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6aE6OsloTrondheim">
        <annotation>
          <documentation>16805: 6a: E6 Oslo - Trondheim</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16805</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6bRv3KolomoenUlsberg">
        <annotation>
          <documentation>16806: 6b: Rv3 Kolomoen - Ulsberg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16806</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6cRv15OttaMåløy">
        <annotation>
          <documentation>16807: 6c: Rv15 Otta - Måløy</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16807</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6dE136DombåsÅlesund">
        <annotation>
          <documentation>16808: 6d: E136 Dombås - Ålesund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16808</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6eRv70OppdalKristiansund">
        <annotation>
          <documentation>16809: 6e: Rv70 Oppdal - Kristiansund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16809</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7E6TrondheimFauske">
        <annotation>
          <documentation>16810: 7: E6 Trondheim - Fauske</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16810</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8aE6FauskeNordkjosbotn">
        <annotation>
          <documentation>16811: 8a: E6 Fauske - Nordkjosbotn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16811</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8bE6NordkjosbotnKirkenes">
        <annotation>
          <documentation>16812: 8b: E6 Nordkjosbotn - Kirkenes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16812</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RiksvegruteSykkeltilbudRiksvegruteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudType">
    <annotation>
      <documentation>Sykkeltilbud: Angir hvilket tilbud det er til syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SykkeltilbudEnumerationType nvdb:SykkeltilbudOtherType"/>
  </simpleType>
  <simpleType name="SykkeltilbudEnumerationType">
    <annotation>
      <documentation>Sykkeltilbud: Angir hvilket tilbud det er til syklende</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10419</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="gangOgSykkelveg">
        <annotation>
          <documentation>16813: Gang- og sykkelveg: Strekning hvor det er tilbud om å sykle på egen gang- og sykkelveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16813</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelveg">
        <annotation>
          <documentation>16814: Sykkelveg: Strekning hvor det er tilbud om å sykle på  egen sykkelveg. Sykkelveg kan være med eller uten fortau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16814</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelekspressveg">
        <annotation>
          <documentation>16815: Sykkelekspressveg: Strekning hvor det er tilbud om å sykle på egen sykkelekspressveg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16815</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkelfelt">
        <annotation>
          <documentation>16816: Sykkelfelt: Strekning hvor det tilbud om å sykle i egne sykkelfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16816</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="blandetTrafikk">
        <annotation>
          <documentation>16817: Blandet trafikk : Strekning hvor det kun er tilbud om sykle på samme veg som øvrig trafikk, ikke noen form for eget sykkelanlegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16817</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sykkeltilbudPåLokaltVegnett">
        <annotation>
          <documentation>16818: Sykkeltilbud på lokalt vegnett: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, men hvor det finnes tilbud på lokalt vegnett i stedet.Tilbudet på lokalt vegnett legges inn i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16818</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeSykkeltilbud">
        <annotation>
          <documentation>16819: Ikke sykkeltilbud: Strekning hvor det ikke er sykkeltilbud på/ved selve riksvegen, og hvor det heller ikke er tilbud på lokalt vegnett. Syklende må basere seg på skyss med annet transportmiddel.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16819</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkeltilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SykkeltilbudRiksvegrute" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SykkeltilbudRiksvegruteType">
    <annotation>
      <documentation>Sykkeltilbud,riksvegrute: Informasjon om sykkeltilbud langs riksvegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">874</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUDRIKSVEGRUTE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SykkeltilbudRiksvegruteType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="riksvegrute" type="nvdb:RiksvegruteSykkeltilbudRiksvegruteType">
            <annotation>
              <documentation>Riksvegrute: Angir hvilken riksvegrute aktuelt sykkeltilbud gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10418</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RIKSVEGRUTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sykkeltilbud" type="nvdb:SykkeltilbudType">
            <annotation>
              <documentation>Sykkeltilbud: Angir hvilket tilbud det er til syklende</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10419</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELTILBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>Beskrivelse: Beskrivelse av strekning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10253</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vurderingAvTilbud" type="nvdb:VurderingAvTilbudType">
            <annotation>
              <documentation>Vurdering av tilbud: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10420</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VURDERINGAVTILBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SykkeltilbudRiksvegrutePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:SykkeltilbudRiksvegrute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VurderingAvTilbudType">
    <annotation>
      <documentation>Vurdering av tilbud: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10420</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VURDERINGAVTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VurderingAvTilbudEnumerationType nvdb:VurderingAvTilbudOtherType"/>
  </simpleType>
  <simpleType name="VurderingAvTilbudEnumerationType">
    <annotation>
      <documentation>Vurdering av tilbud: Vurdering av kvalitet på tilbud. Vurdering foretas av regionale sykkelkoordinatorer</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10420</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VURDERINGAVTILBUD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="tilfredsstillende">
        <annotation>
          <documentation>16820: Tilfredsstillende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16820</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeTilfredsstillende">
        <annotation>
          <documentation>16821: Ikke tilfredsstillende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16821</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VurderingAvTilbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
