XSD/OLFV/V410/542.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V410" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV/V410" version="2.11">
  <annotation>
    <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNTYPEGODKJENNINGSTØTPUTE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNTYPEGODKJENNINGSTØTPUTE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="euroTRACCS110_S110">
        <annotation>
          <documentation>17336: EuroTRACC S110 - S110: Produktnavn: EuroTRACC S110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511207&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACCS80_S80">
        <annotation>
          <documentation>17338: EuroTRACC S80 - S80: Produktnavn: EuroTRACC S80. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511224&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17338</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACCS110_Wide_S110">
        <annotation>
          <documentation>17337: EuroTRACC S110 Wide - S110: Produktnavn: EuroTRACC S110 Wide. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511222&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17337</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="euroTRACC_80_Wide_S80">
        <annotation>
          <documentation>17335: EuroTRACC 80 Wide - S80: Produktnavn: EuroTRACC 80 Wide. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511214&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17335</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S110">
        <annotation>
          <documentation>17339: QuadGuard CEN - S110 : Produktnavn: QuadGuard CEN. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511575&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17339</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S100">
        <annotation>
          <documentation>17342: QuadGuard CEN - S100: Produktnavn: QuadGuard CEN. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511571&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17342</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S80">
        <annotation>
          <documentation>17340: QuadGuard CEN - S80: Produktnavn: QuadGuard CEN. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511567&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17340</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="quadGuardCEN_S50">
        <annotation>
          <documentation>17341: QuadGuard CEN - S50: Produktnavn: QuadGuard CEN. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511562&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17341</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="quadGuard_Uspes">
        <annotation>
          <documentation>11332: QuadGuard - uspes: Produktnavn: QuadGuard. Typegodkjenning: Ikke angitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11332</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="questCEN_S110">
        <annotation>
          <documentation>17345: Quest CEN - S110: Produktnavn: Quest CEN. Typegodkjenning: S 110 Z1 D2. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511535&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17345</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="questCEN_S100">
        <annotation>
          <documentation>17344: Quest CEN - S100: Produktnavn: Quest CEN. Typegodkjenning: S 100 Z1 D2. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511525&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17344</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="questCEN_S80">
        <annotation>
          <documentation>17343: Quest CEN - S80: Produktnavn: Quest CEN. Typegodkjenning: S 80 Z1 D2. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511523&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17343</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA_110_S110">
        <annotation>
          <documentation>17347: SMA 110 - S110: Produktnavn: SMA 110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635615&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA_100_S100">
        <annotation>
          <documentation>17346: SMA 100 - S100: Produktnavn: SMA 100. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635619&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17346</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA_80_S80">
        <annotation>
          <documentation>17349: SMA 80  - S80: Produktnavn: SMA 80 . Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635624&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17349</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA_80_1_S80_1">
        <annotation>
          <documentation>17350: SMA 80/1 - S80/1: Produktnavn: SMA 80/1. Typegodkjenning: S 80/1 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1020822&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA_50_S50">
        <annotation>
          <documentation>17348: SMA 50 - S50: Produktnavn: SMA 50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635629&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17348</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAUB_S110">
        <annotation>
          <documentation>17354: TAU B  - S110: Produktnavn: TAU B . Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511202&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17354</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_100_S100">
        <annotation>
          <documentation>17351: TAU 100 - S100: Produktnavn: TAU 100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511239&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17351</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_80_S80">
        <annotation>
          <documentation>17353: TAU 80 - S80: Produktnavn: TAU 80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514884&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17353</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_60_S50">
        <annotation>
          <documentation>17352: TAU 60 - S50: Produktnavn: TAU 60 . Typegodkjenning: S 50 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514829&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17352</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP110_S110">
        <annotation>
          <documentation>17356: TAU TUBE P110 - S110: Produktnavn: TAU TUBE P110. Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975011&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17356</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP100_S100">
        <annotation>
          <documentation>17355: TAU TUBE P100 - S100: Produktnavn: TAU TUBE P100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975012&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17355</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP80_S80">
        <annotation>
          <documentation>17358: TAU TUBE P80 - S80: Produktnavn: TAU TUBE P80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975017&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17358</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU_TUBEP50_S50">
        <annotation>
          <documentation>17357: TAU TUBE P50 - S50: Produktnavn: TAU TUBE P50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975018&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17357</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="WALT_S80_1">
        <annotation>
          <documentation>17359: WALT - S80/1: Produktnavn: WALT. Typegodkjenning: S 80/1 Z1 D3. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511217&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17359</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="brakemaster_Uspes">
        <annotation>
          <documentation>11331: Brakemaster - uspes: Produktnavn "Brakemaster". Typegodkjenning ikke angitt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11331</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støtpute" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StøtputeType">
    <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">542</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STØTPUTE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøtputeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningStøtputeType">
            <annotation>
              <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNTYPEGODKJENNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>10367: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5040</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøtputePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støtpute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
