XSD/NVDB/902/902.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>902: Gjeldende bruksklasse for spesialtransport i vegliste.</documentation>
  </annotation>
  <include schemaLocation="Bruksklasse_Spesialtransport.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksklasseHelårBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10899: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10899</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEHELÅRBRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseHelårBruksklasse_SpesialtransportEnumerationType nvdb:BruksklasseHelårBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10899: Angir helårs bruksklasse.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10899</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEHELÅRBRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18198: Bk10 - 50 tonn: Bruksklasse Bk10.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18198</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10-42">
        <annotation>
          <documentation>18199: Bk10 - 42 tonn: Bruksklasse Bk10.  Maks totalvekt 42 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18199</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-50">
        <annotation>
          <documentation>18200: BkT8 - 50 tonn: Bruksklasse BkT8.  Maks totalvekt 50 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18201: BkT8 - 40 tonn: Bruksklasse BkT8.  Maks totalvekt 40 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18201</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18202: Bk8 - 32 tonn: Bruksklasse Bk8.  Maks totalvekt 32 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18202</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6-28">
        <annotation>
          <documentation>18203: Bk6 - 28 tonn: Bruksklasse Bk6.  Maks totalvekt 28 tonn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spes">
        <annotation>
          <documentation>18204: Spesiell begrensning: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til aksellastrestriksjon eller begrensning i totalvekt.  Nedsatte verdier gis i egne egenskapstyper.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseHelårBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEVINTERBRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksklasseVinterBruksklasse_SpesialtransportEnumerationType nvdb:BruksklasseVinterBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEVINTERBRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10-50">
        <annotation>
          <documentation>18225: Bk10 - 50 tonn: Bk10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18225</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8-40">
        <annotation>
          <documentation>18226: BkT8 - 40 tonn: BkT8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18226</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8-32">
        <annotation>
          <documentation>18227: Bk8 - 32 tonn: Bk8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18227</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksklasseVinterBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Bruksklasse_Spesialtransport" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Bruksklasse_SpesialtransportType">
    <annotation>
      <documentation>902: Gjeldende bruksklasse for spesialtransport i vegliste.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">902</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_SpesialtransportType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksklasseHelår" type="nvdb:BruksklasseHelårBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10899: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10899</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEHELÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="nvdb:BruksklasseVinterBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10905: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10905</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEVINTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="nvdb:MaksVogntoglengdeBruksklasse_SpesialtransportType">
            <annotation>
              <documentation>10911: Angir maksimal lengde for vogntog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10911</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSVOGNTOGLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veggruppe" type="nvdb:VeggruppeType">
            <annotation>
              <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10923</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGGRUPPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10917: Beskrivelse av aktuell vegstrekning.  Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10917</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STREKNINGSBESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11007: Permanent merknad til aktuell forekomst.  Kan gi informasjoner som ikke er mulig å gi på annet vis.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11007</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="veglisteversjon" type="string">
            <annotation>
              <documentation>11209: Angir hvilken veglisteversjon opplysning gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11209</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGLISTEVERSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_SpesialtransportPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Spesialtransport"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaksVogntoglengdeBruksklasse_SpesialtransportType">
    <annotation>
      <documentation>10911: Angir maksimal lengde for vogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10911</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSVOGNTOGLENGDEBRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksVogntoglengdeBruksklasse_SpesialtransportEnumerationType nvdb:MaksVogntoglengdeBruksklasse_SpesialtransportOtherType"/>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_SpesialtransportEnumerationType">
    <annotation>
      <documentation>10911: Angir maksimal lengde for vogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10911</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSVOGNTOGLENGDEBRUKSKLASSE_SPESIALTRANSPORT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="19_50">
        <annotation>
          <documentation>18245: 19,50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18245</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="15_00">
        <annotation>
          <documentation>18246: 15,00</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18246</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12_40">
        <annotation>
          <documentation>18247: 12,40</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18247</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="spesiellBegrensning">
        <annotation>
          <documentation>18248: Spesiell begrensning: Benyttes hvis det er spesiell begrensning i vegnettet i forhold til vogntog-/kjøretøylengde.  Nedsatte verdier gis i egne egenskapstyper</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18248</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksVogntoglengdeBruksklasse_SpesialtransportOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VeggruppeType">
    <annotation>
      <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10923</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGGRUPPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VeggruppeEnumerationType nvdb:VeggruppeOtherType"/>
  </simpleType>
  <simpleType name="VeggruppeEnumerationType">
    <annotation>
      <documentation>10923: Angir dispensasjon for spesialtransport avhengig av bruenes tilstand</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10923</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGGRUPPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>18261: A: Veger som har bruer med flere kjørefelt, nyere bruer med ett kjørefelt eller veger som ikke har bruer. (Vegliste, spesialtransport)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18261</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>18262: B: Øvrige bruer med ett kjørefelt (Vegliste, spesialtransport)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18262</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikke">
        <annotation>
          <documentation>18263: Ikke: Offentlige veger som det må søkes dispensasjon for i hvert enkelt tilfelle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18263</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VeggruppeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
