XSD/NVDB/83/79.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>79: Rør for vanngjennomløp på tvers av vegen (evnt. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">79</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="Kum.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeStikkrenneKulvertType">
    <annotation>
      <documentation>Bruksområde: Angir hva stikkrenne kulvert primært brukes til.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6981</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStikkrenneKulvertEnumerationType nvdb:BruksområdeStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Bruksområde: Angir hva stikkrenne kulvert primært brukes til.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6981</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="vann">
        <annotation>
          <documentation>9114: Vann: Gjennomløp for å transportere vann på tvers av vegen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9114</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="landbruk">
        <annotation>
          <documentation>9115: Landbruk: Gjennomløp under veg som benyttes i forbindelse med landbruk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9115</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="biologiskMangfold">
        <annotation>
          <documentation>9116: Biologisk mangfold: Gjennomløp for å hindre at veg begrenser biologisk mangfold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9116</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vollVanngjennomløp">
        <annotation>
          <documentation>15880: Voll, vanngjennomløp: Gjennomløp for å lede vann gjennom voll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15880</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStikkrenneKulvertType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7996</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStikkrenneKulvertEnumerationType nvdb:EierStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="EierStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7996</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>10262: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10262</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>10724: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10326: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10326</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10390: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10390</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17573: Uavklart: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17573</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStikkrenneKulvertType">
    <annotation>
      <documentation>Fundamentering: Angir hvordan stikkrenne/kulvert er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6982</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStikkrenneKulvertEnumerationType nvdb:FundamenteringStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Fundamentering: Angir hvordan stikkrenne/kulvert er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6982</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bunnplate">
        <annotation>
          <documentation>9117: Bunnplate</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9117</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sålefundament">
        <annotation>
          <documentation>9118: Sålefundament</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9118</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fjellfot">
        <annotation>
          <documentation>9119: Fjellfot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9119</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="grus">
        <annotation>
          <documentation>9120: Grus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9120</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="pukk">
        <annotation>
          <documentation>9121: Pukk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9121</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="leire">
        <annotation>
          <documentation>9122: Leire</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9122</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stedligeMasser">
        <annotation>
          <documentation>9123: Stedlige masser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9123</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GjennomløpForElvBekkType">
    <annotation>
      <documentation>Gjennomløp for elv/bekk: Angir om elv/bekk renner gjennom stikkrenne/kulvert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10223</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMLØPFORELVBEKK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjennomløpForElvBekkEnumerationType nvdb:GjennomløpForElvBekkOtherType"/>
  </simpleType>
  <simpleType name="GjennomløpForElvBekkEnumerationType">
    <annotation>
      <documentation>Gjennomløp for elv/bekk: Angir om elv/bekk renner gjennom stikkrenne/kulvert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10223</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMLØPFORELVBEKK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16700: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16700</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16701: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16701</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjennomløpForElvBekkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HarInnløpsristStikkrenneKulvertType">
    <annotation>
      <documentation>Har innløpsrist: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1923</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HARINNLØPSRISTSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HarInnløpsristStikkrenneKulvertEnumerationType nvdb:HarInnløpsristStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="HarInnløpsristStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Har innløpsrist: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1923</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HARINNLØPSRISTSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3531: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3531</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3569: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3569</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HarInnløpsristStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStikkrenneKulvertType">
    <annotation>
      <documentation>Materialtype: Angir materialtype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6983</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPESTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeStikkrenneKulvertEnumerationType nvdb:MaterialtypeStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Materialtype: Angir materialtype</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6983</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPESTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>9125: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9125</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>9126: Stål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9126</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>9127: Plast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9127</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="naturstein">
        <annotation>
          <documentation>9128: Naturstein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9128</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tre">
        <annotation>
          <documentation>9124: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9124</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="eternitt">
        <annotation>
          <documentation>9129: Eternitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9129</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PrefabrikkertType">
    <annotation>
      <documentation>Prefabrikkert: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6985</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PREFABRIKKERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PrefabrikkertEnumerationType nvdb:PrefabrikkertOtherType"/>
  </simpleType>
  <simpleType name="PrefabrikkertEnumerationType">
    <annotation>
      <documentation>Prefabrikkert: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6985</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PREFABRIKKERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="prefabrikkert">
        <annotation>
          <documentation>9135: Prefabrikkert: Stikkrenne/kulvert er prefabrikkert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9135</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="prefabrikkertNS3121">
        <annotation>
          <documentation>17377: Prefabrikkert, NS3121: Stikkrenne/kulvert er prefabrikkert, består av utskiftbare moduler som er i henhold til NS3121</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="prefabrikkertIkkeNS3121">
        <annotation>
          <documentation>17382: Prefabrikkert, ikke NS3121: Stikkrenne/kulvert er prefabrikert, består av ikke standardiserte moduler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="plassprodusert">
        <annotation>
          <documentation>9137: Plassprodusert: Stikkrenne er støpt på stedet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9137</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PrefabrikkertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RehabiliteringStikkrenneKulvertType">
    <annotation>
      <documentation>Rehabilitering: Angir hvilken type rehabilitering som er gjort</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10766</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REHABILITERINGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RehabiliteringStikkrenneKulvertEnumerationType nvdb:RehabiliteringStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="RehabiliteringStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Rehabilitering: Angir hvilken type rehabilitering som er gjort</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10766</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REHABILITERINGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="innvendigGlassfiberstrømpe">
        <annotation>
          <documentation>17439: Innvendig glassfiberstrømpe: Det er etablert en glassfiberstrømpe inni eksisterende vanngjenomløp. Benevnes også "no dig rørfornying".</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17439</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RehabiliteringStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RetningStikkrenneKulvertType">
    <annotation>
      <documentation>Retning: Angir hvilken retning i forhold til metrering vegobjektet har.  Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2049</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNINGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RetningStikkrenneKulvertEnumerationType nvdb:RetningStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="RetningStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Retning: Angir hvilken retning i forhold til metrering vegobjektet har.  Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2049</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNINGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3732: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3732</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3741: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3741</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>3748: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3748</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>3018: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3018</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>3779: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>3782: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>3933: 7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3933</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>3934: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3934</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="9">
        <annotation>
          <documentation>3935: 9</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3935</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation>3936: 10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3936</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>3937: 11</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3937</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>3938: 12</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3938</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RetningStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleProblemType">
    <annotation>
      <documentation>Spesielle problem: Angir eventuelle spesielle problem knyttet til stikkrennen.  Dette er problem som stadig gjentar seg.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4562</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLEPROBLEM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesielleProblemEnumerationType nvdb:SpesielleProblemOtherType"/>
  </simpleType>
  <simpleType name="SpesielleProblemEnumerationType">
    <annotation>
      <documentation>Spesielle problem: Angir eventuelle spesielle problem knyttet til stikkrennen.  Dette er problem som stadig gjentar seg.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4562</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLEPROBLEM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="masserInnløp">
        <annotation>
          <documentation>5470: Masser, innløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5470</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="masserUtløp">
        <annotation>
          <documentation>5471: Masser, utløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5471</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegetasjonstettingInnløp">
        <annotation>
          <documentation>5472: Vegetasjonstetting, innløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5472</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vegetasjonstettingUtløp">
        <annotation>
          <documentation>5473: Vegetasjonstetting, utløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5473</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesielleProblemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="StikkrenneKulvert" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StikkrenneKulvertType">
    <annotation>
      <documentation>Stikkrenne/Kulvert: Rør for vanngjennomløp på tvers av vegen (evnt. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">79</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StikkrenneKulvertType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeStikkrenneKulvertType">
            <annotation>
              <documentation>Bruksområde: Angir hva stikkrenne kulvert primært brukes til.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6981</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn knyttet til stikkrenne/kulvert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6980</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir hvilket år stikkrenna ble bygd.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4556</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktinformasjon" type="string">
            <annotation>
              <documentation>Produktinformasjon: Angir produktinformasjon, først og fremst om selve røret</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3111</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeStikkrenneKulvertType">
            <annotation>
              <documentation>Materialtype: Angir materialtype</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6983</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prefabrikkert" type="nvdb:PrefabrikkertType">
            <annotation>
              <documentation>Prefabrikkert: Angir om gjennomløp er plassprodusert eller prefabrikkert. Bare aktuelt for stikkrenne/kulvert av betong</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6985</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PREFABRIKKERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="retning" type="nvdb:RetningStikkrenneKulvertType">
            <annotation>
              <documentation>Retning: Angir hvilken retning i forhold til metrering vegobjektet har.  Angir klokkeretning som vannet renner i, 12 angir at vannet renner parallelt med vegen i metreringsretningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2049</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RETNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinkel" type="nvdb:VinkelType">
            <annotation>
              <documentation>Vinkel: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2123</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINKEL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilknyttetLukkaDren" type="nvdb:TilknyttetLukkaDrenType">
            <annotation>
              <documentation>Tilknyttet lukka dren: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1941</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILKNYTTETLUKKADREN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomløpForElvBekk" type="nvdb:GjennomløpForElvBekkType">
            <annotation>
              <documentation>Gjennomløp for elv/bekk: Angir om elv/bekk renner gjennom stikkrenne/kulvert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10223</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJENNOMLØPFORELVBEKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeInnløp" type="nvdb:TypeInnløpType">
            <annotation>
              <documentation>Type innløp: Angir hvilken type innløp det er i ei stikkrenne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1939</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEINNLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeUtløp" type="nvdb:TypeUtløpType">
            <annotation>
              <documentation>Type utløp: Angir hvilken type utløp det er i ei stikkrenne</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1940</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEUTLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="harInnløpsrist" type="nvdb:HarInnløpsristStikkrenneKulvertType">
            <annotation>
              <documentation>Har innløpsrist: Angir om det er innløpsrist i tilknytning til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1923</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HARINNLØPSRIST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="diameterInnvendig" type="integer">
            <annotation>
              <documentation>Diameter, innvendig: Angir innvendig diameter av gjennomløp.  Benyttes fortrinnsvis for sirkulære tverrsnitt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3113</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIAMETERINNVENDIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeInnvendig" type="integer">
            <annotation>
              <documentation>Bredde, innvendig: Angir innvendig bredde av gjennomløpskonstruksjon.  Ikke aktuell for sirkulære tverrsnitt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4548</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEINNVENDIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeInnvendig" type="integer">
            <annotation>
              <documentation>Høyde, innvendig: Angir innvendig høyde av gjennomløpskonstruksjon.  Tar ikke hensyn til evt. gjennfylling i bunn av konstruksjon..</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4549</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEINNVENDIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>Lengde: Angir lengde av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1323</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="helningFall" type="double">
            <annotation>
              <documentation>Helning/Fall: Angir fall på stikkrenne.  Angis alltid som positiv verdi.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3112</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HELNINGFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overfyllingInnløp" type="double">
            <annotation>
              <documentation>Overfylling innløp: Angir tykkelsen på overfylling ved innløp. Det vil si  tykkelse fra topp av stikkrenne til topp dekke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10224</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERFYLLINGINNLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overfyllingUtløp" type="double">
            <annotation>
              <documentation>Overfylling utløp: Angir tykkelsen på overfylling ved utløp. Det vil si  tykkelse fra topp av stikkrenne til topp dekke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10225</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERFYLLINGUTLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelseOverfylling" type="double">
            <annotation>
              <documentation>Tykkelse overfylling: Angir tykkelse overfylling av rørledning.  Det vil si gjennomsnittlig tykkelse fra topp av rørledning til topp dekke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3115</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYKKELSEOVERFYLLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>Driftsmerking: Gir unikt navn/id for objektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10481</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSMERKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringStikkrenneKulvertType">
            <annotation>
              <documentation>Fundamentering: Angir hvordan stikkrenne/kulvert er fundamentert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6982</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rehabilitering" type="nvdb:RehabiliteringStikkrenneKulvertType">
            <annotation>
              <documentation>Rehabilitering: Angir hvilken type rehabilitering som er gjort</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10766</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REHABILITERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tverrsnittsform" type="nvdb:TverrsnittsformType">
            <annotation>
              <documentation>Tverrsnittsform: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6984</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRSNITTSFORM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4780</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>Tilleggsinformasjon: Benyttes for å gi tilleggsinformajson om stikkrenne/kulvert, kan være spesielle forhold knyttet til oppbygging, utdyping av spesielle problem, mm</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10771</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILLEGGSINFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5899</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerStikkrenneKulvertType">
            <annotation>
              <documentation>Varmekabler: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1832</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEKABLER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallTininger" type="integer">
            <annotation>
              <documentation>Antall tininger: Angir hvor mange ganger stikkrenna vanligvis må tines i løpet av en vinter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1942</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLTININGER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spesielleProblem" type="nvdb:SpesielleProblemType">
            <annotation>
              <documentation>Spesielle problem: Angir eventuelle spesielle problem knyttet til stikkrennen.  Dette er problem som stadig gjentar seg.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4562</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELLEPROBLEM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStikkrenneKulvertType">
            <annotation>
              <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7996</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStikkrenneKulvertType">
            <annotation>
              <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8060</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5902</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydePassasje" type="integer">
            <annotation>
              <documentation>Høyde, passasje: Angir innvendig høyde når det er tatt hensyn til eventuelle hindringer, f.eks masser i bunn, oppheng i tak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6979</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEPASSASJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="2" minOccurs="0" name="assosiertKum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSystemobjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Systemobjekt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFUPunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkadeFUPunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadePunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TilstandSkadePunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StikkrenneKulvertPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:StikkrenneKulvert"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilknyttetLukkaDrenType">
    <annotation>
      <documentation>Tilknyttet lukka dren: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1941</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILKNYTTETLUKKADREN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilknyttetLukkaDrenEnumerationType nvdb:TilknyttetLukkaDrenOtherType"/>
  </simpleType>
  <simpleType name="TilknyttetLukkaDrenEnumerationType">
    <annotation>
      <documentation>Tilknyttet lukka dren: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1941</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILKNYTTETLUKKADREN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3533: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3533</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3571: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3571</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetLukkaDrenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TverrsnittsformType">
    <annotation>
      <documentation>Tverrsnittsform: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6984</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRSNITTSFORM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TverrsnittsformEnumerationType nvdb:TverrsnittsformOtherType"/>
  </simpleType>
  <simpleType name="TverrsnittsformEnumerationType">
    <annotation>
      <documentation>Tverrsnittsform: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6984</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TVERRSNITTSFORM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="sirkulær">
        <annotation>
          <documentation>9130: Sirkulær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9130</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rektangulær">
        <annotation>
          <documentation>9131: Rektangulær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flatbunnetMedHvelv">
        <annotation>
          <documentation>9132: Flatbunnet med hvelv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9132</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ellipseform">
        <annotation>
          <documentation>9133: Ellipseform</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9133</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TverrsnittsformOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeInnløpType">
    <annotation>
      <documentation>Type innløp: Angir hvilken type innløp det er i ei stikkrenne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1939</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEINNLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeInnløpEnumerationType nvdb:TypeInnløpOtherType"/>
  </simpleType>
  <simpleType name="TypeInnløpEnumerationType">
    <annotation>
      <documentation>Type innløp: Angir hvilken type innløp det er i ei stikkrenne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1939</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEINNLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kumOverStikkrenne">
        <annotation>
          <documentation>2925: Kum over stikkrenne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2925</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="åpentIGrøft">
        <annotation>
          <documentation>11744: Åpent i grøft: Vann renner inn direkte fra åpen grøft.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11744</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="åpentMedFrontmur">
        <annotation>
          <documentation>16699: Åpent med frontmur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16699</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="åpentIGrøftMedStøtteskjold">
        <annotation>
          <documentation>16761: Åpent i grøft med støtteskjold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16761</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeInnløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtløpType">
    <annotation>
      <documentation>Type utløp: Angir hvilken type utløp det er i ei stikkrenne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1940</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEUTLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeUtløpEnumerationType nvdb:TypeUtløpOtherType"/>
  </simpleType>
  <simpleType name="TypeUtløpEnumerationType">
    <annotation>
      <documentation>Type utløp: Angir hvilken type utløp det er i ei stikkrenne</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1940</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEUTLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kum">
        <annotation>
          <documentation>2927: Kum: Vann ledes til kum</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2927</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iSkråningTerreng">
        <annotation>
          <documentation>2928: I skråning/terreng: Vann ledes ut i skråning eller ut i terreng</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2928</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iBekkElv">
        <annotation>
          <documentation>2929: I bekk/elv: Vann ledes ut i bekk/elv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2929</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="åpenGrøft">
        <annotation>
          <documentation>11655: Åpen grøft: Vann ledes til åpen grøft.  Merknad: Ofte aktuelt i forbindelse med stikkrenner under avkjørsel.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11655</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerStikkrenneKulvertType">
    <annotation>
      <documentation>Varmekabler: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1832</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEKABLERSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarmekablerStikkrenneKulvertEnumerationType nvdb:VarmekablerStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="VarmekablerStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Varmekabler: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1832</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEKABLERSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3524: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3524</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3562: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3562</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStikkrenneKulvertType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8060</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStikkrenneKulvertEnumerationType nvdb:VedlikeholdsansvarligStikkrenneKulvertOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStikkrenneKulvertEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8060</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSTIKKRENNEKULVERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>10454: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10454</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>10532: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10532</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>10610: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10610</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17712: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17712</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStikkrenneKulvertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinkelType">
    <annotation>
      <documentation>Vinkel: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2123</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINKEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinkelEnumerationType nvdb:VinkelOtherType"/>
  </simpleType>
  <simpleType name="VinkelEnumerationType">
    <annotation>
      <documentation>Vinkel: Angir om vinkel mellom stikkrenna og veg som stikkrenna krysser er rett eller skrå.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2123</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINKEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="rett">
        <annotation>
          <documentation>2465: Rett</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2465</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skrå">
        <annotation>
          <documentation>2381: Skrå</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
