XSD/NVDB/83/879.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>879: Angir tilstandsgrader for kum</documentation>
  </annotation>
  <include schemaLocation="Kum.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Tilstandsgrad_Kum" substitutionGroup="gml:AbstractFeature" type="nvdb:Tilstandsgrad_KumType">
    <annotation>
      <documentation>879: Angir tilstandsgrader for kum</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">879</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILSTANDSGRAD_KUM</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_KumType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="TGSkadeKum" type="gml:CodeType">
            <annotation>
              <documentation>10612: Tilstandsgrad, Skade kum. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10612</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADEKUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeKum" type="string">
            <annotation>
              <documentation>10659: Merknad Skade kum</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10659</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADEKUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadeSluk_Rist_LokkIFastDekke" type="gml:CodeType">
            <annotation>
              <documentation>10615: Tilstandsgrad, Skade sluk, rist, lokk i fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10615</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADESLUK_RIST_LOKKIFASTDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeSluk_Rist_LokkIFastDekke" type="string">
            <annotation>
              <documentation>10663: Merknad Skade sluk, rist, lokk i fast dekke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10663</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADESLUK_RIST_LOKKIFASTDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSkadeRist_LokkUtenforFastDekke" type="gml:CodeType">
            <annotation>
              <documentation>10617: Tilstandsgrad, Skade rist, lokk utenfor fast dekke. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10617</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSKADERIST_LOKKUTENFORFASTDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSkadeRist_LokkUtenforFastDekke" type="string">
            <annotation>
              <documentation>10662: Merknad Skade rist, lokk utenfor fast dekke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10662</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSKADERIST_LOKKUTENFORFASTDEKKE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGByggefeil_MonteringTetthetFrostsikring" type="gml:CodeType">
            <annotation>
              <documentation>10619: Tilstandsgrad, Byggefeil, montering/tetthet/frostsikring. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10619</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGBYGGEFEIL_MONTERINGTETTHETFROSTSIKRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadByggefeil_MonteringTetthetFrostsikring" type="string">
            <annotation>
              <documentation>10649: Merknad Byggefeil, montering/tetthet/frostsikring</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10649</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADBYGGEFEIL_MONTERINGTETTHETFROSTSIKRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitetSandfangkum_Slamrom" type="gml:CodeType">
            <annotation>
              <documentation>10622: Tilstandsgrad, Kapasitet sandfangkum (slamrom). 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10622</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITETSANDFANGKUM_SLAMROM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitetSandfangkum_Slamrom" type="string">
            <annotation>
              <documentation>10654: Merknad Kapasitet sandfangkum (slamrom)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10654</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKAPASITETSANDFANGKUM_SLAMROM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGKapasitetSlukRist" type="gml:CodeType">
            <annotation>
              <documentation>10625: Tisltandsgrad, Kapasitet sluk/rist. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10625</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGKAPASITETSLUKRIST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadKapasitetSlukRist" type="string">
            <annotation>
              <documentation>10655: Merknad Kapasitet sluk/rist</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10655</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADKAPASITETSLUKRIST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingTeoretisk_Automatikk" type="gml:CodeType">
            <annotation>
              <documentation>10629: Tilstandsgrad, Samlet vurdering teoretisk, automatikk. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10629</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGTEORETISK_AUTOMATIKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="TGSamletVurderingPraktisk_Manuell" type="gml:CodeType">
            <annotation>
              <documentation>10632: Tilstandsgrad, Samlet vurdering praktisk, manuell. 0=TG0, 1=TG1, 2=TG3, 3=TG3, 8=TGIU, 9=TGmang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10632</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TGSAMLETVURDERINGPRAKTISK_MANUELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadSamletVurdering" type="string">
            <annotation>
              <documentation>10541: Merknad Samlet vurdering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10541</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADSAMLETVURDERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftstilstand" type="gml:CodeType">
            <annotation>
              <documentation>10637: Driftstilstand. 1 = er ikke tømt, 2 = er tømt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10637</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSTILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknadDriftstilstand" type="string">
            <annotation>
              <documentation>10695: Merknad knyttet til driftstilstand</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10695</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNADDRIFTSTILSTAND</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vannføring" type="gml:CodeType">
            <annotation>
              <documentation>10643: Vannføring. 1=Liten (kontinuerlig), 2=Stor (kontinuerlig), 3=Årsvariasjon, 4=Stående vann, 5=Tørrlagt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10643</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VANNFØRING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeRegistrering" type="gml:CodeType">
            <annotation>
              <documentation>10640: Type registrering. 1 = hovedinspeksjon, 2 = årlig ajourhold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10640</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREGISTRERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsdato" type="date">
            <annotation>
              <documentation>10545: Registreringsdato</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10545</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REGISTRERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="signatur" type="string">
            <annotation>
              <documentation>10546: Signatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10546</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIGNATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10547: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10547</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_KumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Kum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
