XSD/NVDB/905/905.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.09">
  <annotation>
    <documentation>905: Angir bruksklasse for normaltransport. Foreløpig versjon for intern bruk</documentation>
  </annotation>
  <include schemaLocation="Bruksklasse_Normaltransport_Uoffisiell.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bruksklasse_Normaltransport_Uoffisiell" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Bruksklasse_Normaltransport_UoffisiellType">
    <annotation>
      <documentation>905: Angir bruksklasse for normaltransport. Foreløpig versjon for intern bruk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSE_NORMALTRANSPORT_UOFFISIELL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Bruksklasse_Normaltransport_UoffisiellType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksklasseHelår" type="gml:CodeType">
            <annotation>
              <documentation>10902: Angir helårs bruksklasse.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10902</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEHELÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksklasseVinter" type="gml:CodeType">
            <annotation>
              <documentation>10908: Angir lovlig bruksklasse (maks aksellast) for vinter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10908</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEVINTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksVogntoglengde" type="gml:CodeType">
            <annotation>
              <documentation>10914: Angir maksimal lengde for vogntog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10914</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSVOGNTOGLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>10920: Beskrivelse av aktuell vegstrekning.  Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10920</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STREKNINGSBESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektKjøretøySkiltet" type="double">
            <annotation>
              <documentation>10927: Angir maksimal totalvekt for kjøretøy.  Gjelder f.eks for bruer o.l. som har begrensninger i forhold til bruksklassen.  Skal bare gis hvis avvik fra standard bruksklasser.
Enhet: Tonn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10927</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTOTALVEKTKJØRETØYSKILTET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTotalvektVogntogSkiltet" type="double">
            <annotation>
              <documentation>10928: Angir maksimal totalvekt for vogntog.  Gjelder f.eks for bruer o.l. som har begrensninger i forhold til tunge kjøretøy.
Enhet: Tonn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10928</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTOTALVEKTVOGNTOGSKILTET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>11010: Permanent merknad til aktuell forekomst.  Kan gi informasjoner som ikke er mulig å gi på annet vis.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11010</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bruksklasse_Normaltransport_UoffisiellPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Bruksklasse_Normaltransport_Uoffisiell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
