XSD/OLFV/V350/853.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/DOK/V35/" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/DOK/V35/" version="2.05">
  <annotation>
    <documentation>853: Kum for trekking og/eller sammenkobling av kabler</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">853</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV350.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BrannsikkerType">
    <annotation>
      <documentation>Brannsikker: Angir om kum er brannsikker</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9742</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNSIKKER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BrannsikkerEnumerationType nvdb:BrannsikkerOtherType"/>
  </simpleType>
  <simpleType name="BrannsikkerEnumerationType">
    <annotation>
      <documentation>Brannsikker: Angir om kum er brannsikker</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9742</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNSIKKER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>15870: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>15871: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BrannsikkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrekkekumType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9732</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERTREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrekkekumEnumerationType nvdb:EierTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="EierTrekkekumEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9732</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERTREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>14010: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>14011: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14011</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>14012: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14012</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>14013: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14013</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KumformType">
    <annotation>
      <documentation>Kumform: Angir kummens form</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9738</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KUMFORM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KumformEnumerationType nvdb:KumformOtherType"/>
  </simpleType>
  <simpleType name="KumformEnumerationType">
    <annotation>
      <documentation>Kumform: Angir kummens form</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9738</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KUMFORM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kvadratisk">
        <annotation>
          <documentation>14022: Kvadratisk: Kummen er kvadratisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14022</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rektangulær">
        <annotation>
          <documentation>14023: Rektangulær: Kummen er rektangulær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14023</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rund">
        <annotation>
          <documentation>14024: Rund: Kummen er rund</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14024</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KumformOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTrekkekumType">
    <annotation>
      <documentation>Materiale: Angir type materiale i kum</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9741</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALETREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeTrekkekumEnumerationType nvdb:MaterialeTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTrekkekumEnumerationType">
    <annotation>
      <documentation>Materiale: Angir type materiale i kum</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9741</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALETREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betong">
        <annotation>
          <documentation>14025: Betong: Kummen er laget av betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14025</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="betongSpesialprodusert">
        <annotation>
          <documentation>14026: Betong, spesialprodusert: Kummen er laget av spesialprodusert betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14026</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="plast">
        <annotation>
          <documentation>14027: Plast: Kummen er laget av plast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14027</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stål">
        <annotation>
          <documentation>14028: Stål: Kummen er laget av stål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14028</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkekumType">
    <annotation>
      <documentation>Plassering: Angir hvor/hvordan trekkekummen er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9740</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGTREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringTrekkekumEnumerationType nvdb:PlasseringTrekkekumOtherType"/>
  </simpleType>
  <simpleType name="PlasseringTrekkekumEnumerationType">
    <annotation>
      <documentation>Plassering: Angir hvor/hvordan trekkekummen er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9740</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGTREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="påTunnelveggUtside">
        <annotation>
          <documentation>14018: På tunnelvegg utside: På utside av hvelv eller annen vann og frostsikring i tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14018</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="påTunnelveggInnside">
        <annotation>
          <documentation>14017: På tunnelvegg innside: På innside av hvelv eller annen vann og frostsikring i tunnel, eller direkte på tunnelvegg der det ikke er noe innenfor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14017</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bakBetongrekkverk">
        <annotation>
          <documentation>14014: Bak betongrekkverk: Bak betongrekkverk, f.eks. New Jersey</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14014</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iBankett">
        <annotation>
          <documentation>14015: I bankett: I banketten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14015</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iFjellromNisje">
        <annotation>
          <documentation>14020: I fjellrom/nisje: I utsprengt rom ved siden av tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14020</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iTerreng">
        <annotation>
          <documentation>14016: I terreng: Nedgravd i terreng</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14016</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iVeg">
        <annotation>
          <documentation>14019: I veg: Nedgravd i veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14019</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkekumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trekkekum" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrekkekumType">
    <annotation>
      <documentation>Trekkekum: Kum for trekking og/eller sammenkobling av kabler</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">853</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TREKKEKUM</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrekkekumType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="kumform" type="nvdb:KumformType">
            <annotation>
              <documentation>Kumform: Angir kummens form</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9738</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KUMFORM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>Driftsmerking: Gir navn/id for trekkekum.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9757</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSMERKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plassering" type="nvdb:PlasseringTrekkekumType">
            <annotation>
              <documentation>Plassering: Angir hvor/hvordan trekkekummen er plassert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9740</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="diameterYtre" type="double">
            <annotation>
              <documentation>Diameter, ytre: Angir ytre diameter for trekkekum</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9729</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIAMETERYTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeYtre" type="double">
            <annotation>
              <documentation>Bredde, ytre: Angir ytre bredde for trekkekum</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9728</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEYTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeYtre" type="double">
            <annotation>
              <documentation>Lengde, ytre: Angir ytre lengde for kum</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9739</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDEYTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybdeYtre" type="double">
            <annotation>
              <documentation>Dybde, ytre: Angir ytre dybde for kum</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9737</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DYBDEYTRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeTrekkekumType">
            <annotation>
              <documentation>Materiale: Angir type materiale i kum</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9741</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arkivnummer" type="string">
            <annotation>
              <documentation>Arkivnummer: Referanse til Statens vegvesen sitt arkivsystem</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9730</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARKIVNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir årstall objektet ble produsert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9731</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="brannsikker" type="nvdb:BrannsikkerType">
            <annotation>
              <documentation>Brannsikker: Angir om kum er brannsikker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9742</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNSIKKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavn" type="string">
            <annotation>
              <documentation>Produsentnavn: Angir navn på firma som har produsert produktet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9734</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>Produktnavn: Angir produktnavn/typebetegnelse. Kan også ta med typenummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9735</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrekkekumType">
            <annotation>
              <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9732</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eierNavn" type="string">
            <annotation>
              <documentation>Eier, navn: Navn på eier av  vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9733</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkekumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trekkekum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
