XSD/NVDB/521/522.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>522: Foreløpig kun til testformål. En enkeltspormåling (17 høydemålinger) i et profil.</documentation>
  </annotation>
  <include schemaLocation="Dekketilstandsmaaling.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BeregningsmodellType">
    <annotation>
      <documentation>4450: Angir hvilken beregningsmodell som er benytta ved beregning av spordybde etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4450</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSMODELL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BeregningsmodellEnumerationType nvdb:BeregningsmodellOtherType"/>
  </simpleType>
  <simpleType name="BeregningsmodellEnumerationType">
    <annotation>
      <documentation>4450: Angir hvilken beregningsmodell som er benytta ved beregning av spordybde etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4450</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSMODELL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="snormodell">
        <annotation>
          <documentation>5189: Snormodell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5189</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bjelkemodell_Bunnrettholdt">
        <annotation>
          <documentation>5190: Bjelkemodell, bunnrettholdt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5190</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bjelkemodell_Topprettholdt">
        <annotation>
          <documentation>5191: Bjelkemodell, topprettholdt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5191</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="krumholtmodell">
        <annotation>
          <documentation>8865: Krumholtmodell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8865</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BeregningsmodellOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KvalitetSpormålingType">
    <annotation>
      <documentation>4430: Angir kvalitet på data</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4430</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KvalitetSpormålingEnumerationType nvdb:KvalitetSpormålingOtherType"/>
  </simpleType>
  <simpleType name="KvalitetSpormålingEnumerationType">
    <annotation>
      <documentation>4430: Angir kvalitet på data</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4430</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITETSPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ok">
        <annotation>
          <documentation>5187: Ok</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5187</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeOk">
        <annotation>
          <documentation>5188: Ikke ok</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5188</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KvalitetSpormålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Spormåling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SpormålingType">
    <annotation>
      <documentation>522: Foreløpig kun til testformål. En enkeltspormåling (17 høydemålinger) i et profil.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">522</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPORMÅLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SpormålingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="avstandFraStart" type="double">
            <annotation>
              <documentation>4429: Gir avstand fra start av måleserie til aktuelt måleprofil
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4429</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSTANDFRASTART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kurveradius" type="integer">
            <annotation>
              <documentation>4448: Angir kurveradius i profilet
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4448</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KURVERADIUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjørehastighetVedMåling" type="integer">
            <annotation>
              <documentation>4449: Angir kjørehastighet ved måling
Enhet: Kilometer/time</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4449</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØREHASTIGHETVEDMÅLING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregningsmodell" type="nvdb:BeregningsmodellType">
            <annotation>
              <documentation>4450: Angir hvilken beregningsmodell som er benytta ved beregning av spordybde etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4450</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNINGSMODELL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetTverrfall" type="double">
            <annotation>
              <documentation>4451: Angir beregnet tverrfall
Enhet: Prosent</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4451</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNETTVERRFALL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetMaksSpordybde" type="double">
            <annotation>
              <documentation>4452: Angir beregnet maks spordybde
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4452</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNETMAKSSPORDYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetSporareal" type="integer">
            <annotation>
              <documentation>4453: Angir beregnet sporareal
Enhet: Kvadratcentimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4453</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNETSPORAREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetSporbredde" type="double">
            <annotation>
              <documentation>4454: Angir beregnet sporbredde
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4454</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNETSPORBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beregnetMaksimalVanndybde" type="double">
            <annotation>
              <documentation>4455: Angir beregnet maksimal vanndybde
Enhet: Millimeter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4455</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEREGNETMAKSIMALVANNDYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5022: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5022</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertDekketilstandsmåling" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dekketilstandsmåling</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpormålingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Spormåling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
