XSD/NVDB/574/536.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.12">
  <annotation>
    <documentation>536: Kommune</documentation>
  </annotation>
  <include schemaLocation="Grunnkrets.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kommune" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KommuneType">
    <annotation>
      <documentation>536: Kommune</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">536</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KommuneType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="kommunenavn" type="string">
            <annotation>
              <documentation>4585: Angir kommunenavn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4585</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNENAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="koordinatsystem" type="nvdb:KoordinatsystemKommuneType">
            <annotation>
              <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8146</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5157: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5157</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>4710: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4710</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_FLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrunnkrets" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Grunnkrets</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KommunePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kommune"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KoordinatsystemKommuneType">
    <annotation>
      <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8146</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEMKOMMUNE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KoordinatsystemKommuneEnumerationType nvdb:KoordinatsystemKommuneOtherType"/>
  </simpleType>
  <simpleType name="KoordinatsystemKommuneEnumerationType">
    <annotation>
      <documentation>8146: Angir hvilket koordinatsystem som primært benyttes for gitt område</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8146</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOORDINATSYSTEMKOMMUNE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="NGO_AkseI">
        <annotation>
          <documentation>10813: NGO-akse I: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10813</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseII">
        <annotation>
          <documentation>10814: NGO-akse II: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10814</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIII">
        <annotation>
          <documentation>10815: NGO-akse III: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10815</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseIV">
        <annotation>
          <documentation>10816: NGO-akse IV: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10816</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseV">
        <annotation>
          <documentation>10817: NGO-akse V: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10817</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVI">
        <annotation>
          <documentation>10818: NGO-akse VI: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10818</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVII">
        <annotation>
          <documentation>10819: NGO-akse VII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10819</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_AkseVIII">
        <annotation>
          <documentation>10820: NGO-akse VIII: datum NGO1948, projeksjon Gauss-Krüger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10820</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_EUREF89">
        <annotation>
          <documentation>10821: UTM sone 31 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10821</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_EUREF89">
        <annotation>
          <documentation>10822: UTM sone 32 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10822</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_EUREF89">
        <annotation>
          <documentation>10823: UTM sone 33 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10823</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_EUREF89">
        <annotation>
          <documentation>10824: UTM sone 34 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10824</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_EUREF89">
        <annotation>
          <documentation>10825: UTM sone 35 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10825</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_EUREF89">
        <annotation>
          <documentation>10826: UTM sone 36 (EUREF89): datum EUREF89/WGS84</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10826</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone31_ED50">
        <annotation>
          <documentation>10827: UTM sone 31 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10827</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone32_ED50">
        <annotation>
          <documentation>10828: UTM sone 32 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10828</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone33_ED50">
        <annotation>
          <documentation>10829: UTM sone 33 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10829</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone34_ED50">
        <annotation>
          <documentation>10830: UTM sone 34 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10830</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone35_ED50">
        <annotation>
          <documentation>10831: UTM sone 35 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10831</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="UTMSone36_ED50">
        <annotation>
          <documentation>10832: UTM sone 36 (ED50): datum ED50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10832</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64A_Møre">
        <annotation>
          <documentation>10833: NGO-64A, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10833</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NGO_64B_Møre">
        <annotation>
          <documentation>10834: NGO-64B, Møre: datum NGO1948</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10834</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KoordinatsystemKommuneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
