XSD/NVDB/793/793.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.13">
  <annotation>
    <documentation>793: Objekttype benyttet for å dokumentere noen enum-verdier i NVDB.  Det kan forekomme avvik fra NVDB i og med at det ikke er automatisk synkronisering.</documentation>
  </annotation>
  <include schemaLocation="NVDBDokumentasjon.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="HøydeposisjonType">
    <annotation>
      <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8763</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEPOSISJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HøydeposisjonEnumerationType nvdb:HøydeposisjonOtherType"/>
  </simpleType>
  <simpleType name="HøydeposisjonEnumerationType">
    <annotation>
      <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8763</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEPOSISJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="O">
        <annotation>
          <documentation>11587: Over: LEVEL_OVER_T  Ligger over.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11587</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>11586: På: LEVEL_ON_T  Ligger på.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11586</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>11588: Under: LEVEL_UNDER_T  Ligger under.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11588</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydeposisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseType">
    <annotation>
      <documentation>9546: Høydereferanse</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9546</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEREFERANSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HøydereferanseEnumerationType nvdb:HøydereferanseOtherType"/>
  </simpleType>
  <simpleType name="HøydereferanseEnumerationType">
    <annotation>
      <documentation>9546: Høydereferanse</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9546</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEREFERANSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="fot">
        <annotation>
          <documentation>13691: Fot</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13691</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="top">
        <annotation>
          <documentation>13692: Top</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13692</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>13693: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13693</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRegistrert">
        <annotation>
          <documentation>13690: Ikke registrert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13690</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MediumType">
    <annotation>
      <documentation>9792: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9792</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MEDIUM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MediumEnumerationType nvdb:MediumOtherType"/>
  </simpleType>
  <simpleType name="MediumEnumerationType">
    <annotation>
      <documentation>9792: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9792</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MEDIUM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="påTerrengetPåBakkenivå">
        <annotation>
          <documentation>15930: På terrenget/på bakkenivå</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15930</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IBygningBygningsmessigAnlegg">
        <annotation>
          <documentation>15931: I bygning/bygningsmessig anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15931</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ILuft">
        <annotation>
          <documentation>15932: I luft</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15932</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="underTerrenget">
        <annotation>
          <documentation>15933: Under terrenget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15933</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="påSjøbunnen">
        <annotation>
          <documentation>15934: På sjøbunnen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15934</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="påVannoverflaten">
        <annotation>
          <documentation>15935: På vannoverflaten</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15935</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="alltidIVann">
        <annotation>
          <documentation>15936: Alltid i vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15936</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="tidvisUnderVann">
        <annotation>
          <documentation>15937: Tidvis under vann</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15937</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="påIsbre">
        <annotation>
          <documentation>15938: På isbre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15938</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="underSjøbunnen">
        <annotation>
          <documentation>15939: Under sjøbunnen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15939</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="underIsbre">
        <annotation>
          <documentation>15940: Under isbre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15940</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>15941: Ukjent</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15941</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ikkeRegistrert">
        <annotation>
          <documentation>15942: Ikke registrert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15942</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MediumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDBDokumentasjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDBDokumentasjonType">
    <annotation>
      <documentation>793: Objekttype benyttet for å dokumentere noen enum-verdier i NVDB.  Det kan forekomme avvik fra NVDB i og med at det ikke er automatisk synkronisering.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">793</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NVDBDOKUMENTASJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDBDokumentasjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="høydeposisjon" type="nvdb:HøydeposisjonType">
            <annotation>
              <documentation>8763: Gir lovlige verdier for høydeposisjon i NVDB sin lokasjonsattributt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8763</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEPOSISJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet_Geometri">
            <annotation>
              <documentation>9553: Gruppeegenskap bestående av kvalitetsparametrer knyttet til geometri</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9553</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KVALITET_GEOMETRI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="temakode" type="integer">
            <annotation>
              <documentation>9784: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9784</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TEMAKODE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="objektnavn" type="string">
            <annotation>
              <documentation>9785: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9785</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OBJEKTNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="nvdb:MediumType">
            <annotation>
              <documentation>9792: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9792</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Verifiseringsdato" type="date">
            <annotation>
              <documentation>9786: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9786</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_VERIFISERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Oppdateringsdato" type="date">
            <annotation>
              <documentation>9787: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9787</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kommune" type="integer">
            <annotation>
              <documentation>9789: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9789</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geometri_Navn" type="string">
            <annotation>
              <documentation>9790: Parameter benyttet i forbindelse med utveksling av data på SOSI-format</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9790</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="referansegeometri" type="nvdb:ReferansegeometriType">
            <annotation>
              <documentation>9547: Angir kode for referansegeometri</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9547</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REFERANSEGEOMETRI</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDBDokumentasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDBDokumentasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ReferansegeometriType">
    <annotation>
      <documentation>9547: Angir kode for referansegeometri</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9547</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REFERANSEGEOMETRI</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ReferansegeometriEnumerationType nvdb:ReferansegeometriOtherType"/>
  </simpleType>
  <simpleType name="ReferansegeometriEnumerationType">
    <annotation>
      <documentation>9547: Angir kode for referansegeometri</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9547</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REFERANSEGEOMETRI</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13694: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13694</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ReferansegeometriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonType">
    <annotation>
      <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8762</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIDEPOSISJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SideposisjonEnumerationType nvdb:SideposisjonOtherType"/>
  </simpleType>
  <simpleType name="SideposisjonEnumerationType">
    <annotation>
      <documentation>8762: Gir lovlige verdier for sideposisjon i NVDB sin lokasjonsattributt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8762</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIDEPOSISJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>11591: Venstre: SIDEPOS_LEFT_T  Denne konstanten angir at objektet ligger til venstre for lenkeretningen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11591</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation>11594: Høyre: SIDEPOS_RIGHT_T  Denne konstanten angir at objektet ligger til høyre for lenken sett i lenkens retning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11594</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HV">
        <annotation>
          <documentation>11598: Høyre og venstre: SIDEPOS_LEFT_AND_RIGHT_T  Denne konstanten angir at objektet ligger til høyre og venstre for lenkens retning. Benyttes kun i spesielle tilfeller. I mange slike tilfeller skal det i stedet deles i en forekomst på hver side av vegen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11598</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>11593: Midten: SIDEPOS_MIDDLE_T  Denne konstanten angir et objektet ligger i midten av vegen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11593</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>11590: Kryssende: SIDEPOS_CROSSING_T  Denne konstanten angir at objektet krysser vegen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11590</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MV">
        <annotation>
          <documentation>11597: Midten, venstre: SIDEPOS_MIDDLE_LEFT_T  Denne konstanten angir at objektet ligger til venstre på midtrabatt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11597</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MH">
        <annotation>
          <documentation>11596: Midten, høyre: SIDEPOS_MIDDLE_RIGHT_T  Denne konstanten angir at objektet ligger til høyre på midtrabatt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11596</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VT">
        <annotation>
          <documentation>11592: Venstre tilfart: SIDEPOS_LEFT_ACCESS_T  Denne konstanten angir at objektet er avkjørsel til venstre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11592</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HT">
        <annotation>
          <documentation>11595: Høyre tilfart: SIDEPOS_RIGHT_ACCESS_T  Denne konstanten angir at objektet er avkjørsel til høyre.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11595</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="R0">
        <annotation>
          <documentation>11600: Rundkjøring, senter: SIDEPOS_ROUNDABOUT_CENTRE_T  Denne konstanten angir at objektet ligger på øy i rundkjøring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11600</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="L">
        <annotation>
          <documentation>11601: Langs: SIDEPOS_LONGITUDINAL_T  Denne konstanten angir at objektet ligger langs.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11601</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SideposisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
