XSD/NVDB/913/913.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.13">
  <annotation>
    <documentation>913: For uttesting av ny måte å registrere vegnettsrestriksjon på. Skal kun benyttes etter avtale med spesialistgruppe for vegnettegnett</documentation>
  </annotation>
  <include schemaLocation="Vegnettsrestriksjon_Test.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegnettsrestriksjon_Test" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Vegnettsrestriksjon_TestType">
    <annotation>
      <documentation>913: For uttesting av ny måte å registrere vegnettsrestriksjon på. Skal kun benyttes etter avtale med spesialistgruppe for vegnettegnett</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">913</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGNETTSRESTRIKSJON_TEST</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegnettsrestriksjon_TestType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>11217: Beskriver vegnettsresstriksjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11217</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegnettsrestriksjon_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegnettsrestriksjon_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
