XSD/NVDB/618/618.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.07">
  <annotation>
    <documentation>618: Ett sett med oppgaver som skal gjøres med et utvalg av fagdata for en gitt strekning</documentation>
  </annotation>
  <include schemaLocation="Oppdrag_Fagdata.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Oppdrag_Fagdata" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Oppdrag_FagdataType">
    <annotation>
      <documentation>618: Ett sett med oppgaver som skal gjøres med et utvalg av fagdata for en gitt strekning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">618</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPDRAG_FAGDATA</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Oppdrag_FagdataType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeOppdragFagdataType">
            <annotation>
              <documentation>5600: Angir hvilken type oppdrag det er tale om</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5600</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>5559: Angir navn</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5559</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="definertDato" type="date">
            <annotation>
              <documentation>5563: Angir dato for opprettelse</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5563</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEFINERTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdragsgiver" type="string">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPDRAGSGIVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="initialer_definert_av" type="string">
            <annotation>
              <documentation>5568: Angir initialer til den som har definert oppdrag</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5568</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INITIALER_DEFINERT_AV</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="frist" type="date">
            <annotation>
              <documentation>5570: Angir frist for når oppdrag skal være ferdig</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5570</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FRIST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>5576: Kan gi fast merknad</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5576</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MERKNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kostnad" type="integer">
            <annotation>
              <documentation>5580: Gir kostnad til vegobjektet
Enhet: Kroner</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5580</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOSTNAD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ledetekstID" type="integer">
            <annotation>
              <documentation>5625: LedetekstID</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5625</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDETEKSTID</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Oppdrag_FagdataPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Oppdrag_Fagdata"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeOppdragFagdataType">
    <annotation>
      <documentation>5600: Angir hvilken type oppdrag det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5600</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEOPPDRAGFAGDATA</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeOppdragFagdataEnumerationType nvdb:TypeOppdragFagdataOtherType"/>
  </simpleType>
  <simpleType name="TypeOppdragFagdataEnumerationType">
    <annotation>
      <documentation>5600: Angir hvilken type oppdrag det er tale om</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5600</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEOPPDRAGFAGDATA</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="nyregistrering">
        <annotation>
          <documentation>7882: Nyregistrering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7882</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sporOgJevnhetsmåling">
        <annotation>
          <documentation>7883: Spor og jevnhetsmåling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7883</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kvalitetskontroll">
        <annotation>
          <documentation>7881: Kvalitetskontroll</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7881</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ajourhold">
        <annotation>
          <documentation>7884: Ajourhold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7884</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="rapportgenerering">
        <annotation>
          <documentation>7885: Rapportgenerering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7885</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeOppdragFagdataOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
