XSD/NVDB/890/890.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.06">
  <annotation>
    <documentation>890: Angir bruksklasse for modulvogntog. Foreløpig versjon for intern bruk</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">890</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="BruksklasseModulvogntogUoffisiel.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BruksklasseModulvogntogUoffisiel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BruksklasseModulvogntogUoffisielType">
    <annotation>
      <documentation>Bruksklasse,modulvogntog,uoffisiell: Angir bruksklasse for modulvogntog. Foreløpig versjon for intern bruk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">890</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BruksklasseModulvogntogUoffisielType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="strekningsbeskrivelse" type="string">
            <annotation>
              <documentation>Strekningsbeskrivelse: Beskrivelse av aktuell vegstrekning. Denne teksten blir henta direkte inn i veglistene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10775</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STREKNINGSBESKRIVELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTillattTotalvekt" type="nvdb:MaksTillattTotalvektBruksklasseModulvogntogUoffisielType">
            <annotation>
              <documentation>Maks tillatt totalvekt: Angir maksimal totalvekt for modulvogntog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10773</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTILLATTTOTALVEKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="maksTillattVogntoglengde" type="nvdb:MaksTillattVogntoglengdeBruksklasseModulvogntogUoffisielType">
            <annotation>
              <documentation>Maks tillatt vogntoglengde: Angir maksimal lengde for modulvogntog</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10774</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTILLATTVOGNTOGLENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterstengFor60Tonn" type="nvdb:VinterstengFor60TonnBruksklasseModulvogntogUoffisielType">
            <annotation>
              <documentation>Vintersteng for 60 tonn: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10777</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERSTENGFOR60TONN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjelderIkkeLinksemitrailer" type="nvdb:GjelderIkkeLinksemitrailerBruksklasseModulvogntogUoffisielType">
            <annotation>
              <documentation>Gjelder ikke linksemitrailer: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10772</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJELDERIKKELINKSEMITRAILER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BruksklasseModulvogntogUoffisielPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:BruksklasseModulvogntogUoffisiel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="GjelderIkkeLinksemitrailerBruksklasseModulvogntogUoffisielType">
    <annotation>
      <documentation>Gjelder ikke linksemitrailer: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJELDERIKKELINKSEMITRAILERBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjelderIkkeLinksemitrailerBruksklasseModulvogntogUoffisielEnumerationType nvdb:GjelderIkkeLinksemitrailerBruksklasseModulvogntogUoffisielOtherType"/>
  </simpleType>
  <simpleType name="GjelderIkkeLinksemitrailerBruksklasseModulvogntogUoffisielEnumerationType">
    <annotation>
      <documentation>Gjelder ikke linksemitrailer: Veger som er merket med L i kolonne for type modulvogntog er ikke tillatt for modulvogntog som nevnt i bokstav b nr. 3</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GJELDERIKKELINKSEMITRAILERBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="l">
        <annotation>
          <documentation>17462: L: Modulvogntog av type Linksemitrailer er IKKE tillatt på strekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17462</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjelderIkkeLinksemitrailerBruksklasseModulvogntogUoffisielOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksTillattTotalvektBruksklasseModulvogntogUoffisielType">
    <annotation>
      <documentation>Maks tillatt totalvekt: Angir maksimal totalvekt for modulvogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTILLATTTOTALVEKTBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksTillattTotalvektBruksklasseModulvogntogUoffisielEnumerationType nvdb:MaksTillattTotalvektBruksklasseModulvogntogUoffisielOtherType"/>
  </simpleType>
  <simpleType name="MaksTillattTotalvektBruksklasseModulvogntogUoffisielEnumerationType">
    <annotation>
      <documentation>Maks tillatt totalvekt: Angir maksimal totalvekt for modulvogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTILLATTTOTALVEKTBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="bk1050">
        <annotation>
          <documentation>17460: Bk 10/50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17460</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bk1060">
        <annotation>
          <documentation>17461: Bk 10/60</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17461</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksTillattTotalvektBruksklasseModulvogntogUoffisielOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaksTillattVogntoglengdeBruksklasseModulvogntogUoffisielType">
    <annotation>
      <documentation>Maks tillatt vogntoglengde: Angir maksimal lengde for modulvogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10774</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTILLATTVOGNTOGLENGDEBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaksTillattVogntoglengdeBruksklasseModulvogntogUoffisielEnumerationType nvdb:MaksTillattVogntoglengdeBruksklasseModulvogntogUoffisielOtherType"/>
  </simpleType>
  <simpleType name="MaksTillattVogntoglengdeBruksklasseModulvogntogUoffisielEnumerationType">
    <annotation>
      <documentation>Maks tillatt vogntoglengde: Angir maksimal lengde for modulvogntog</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10774</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MAKSTILLATTVOGNTOGLENGDEBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2525">
        <annotation>
          <documentation>17459: 25,25</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17459</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaksTillattVogntoglengdeBruksklasseModulvogntogUoffisielOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengFor60TonnBruksklasseModulvogntogUoffisielType">
    <annotation>
      <documentation>Vintersteng for 60 tonn: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10777</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERSTENGFOR60TONNBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinterstengFor60TonnBruksklasseModulvogntogUoffisielEnumerationType nvdb:VinterstengFor60TonnBruksklasseModulvogntogUoffisielOtherType"/>
  </simpleType>
  <simpleType name="VinterstengFor60TonnBruksklasseModulvogntogUoffisielEnumerationType">
    <annotation>
      <documentation>Vintersteng for 60 tonn: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10777</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERSTENGFOR60TONNBRUKSKLASSEMODULVOGNTOGUOFFISIEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="v">
        <annotation>
          <documentation>17463: V: For veger merket V i kolonne for vinterstenging er tillatt totalvekt begrenset til 50 tonn for modulvogntog fra 1. november til første mandag etter 2.påskedag. I Nordland, Troms og Finnmark gjelder tilsvarende fra 16. oktober til 30. april</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17463</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengFor60TonnBruksklasseModulvogntogUoffisielOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
