XSD/NVDB/543/543.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB" version="2.13">
  <annotation>
    <documentation>543: Betegnelse på skjøter mellom rekkverk eller rekkverkskomponenter på bru som ikke er konstruert for å oppta bevegelser fra temperatur, svinn etc. Skjøtene kan være utført med en viss dilatasjon/slakk for å lette montasjen og for å begrense strekkraften som kan oppstå i komponentene ved store utbøyninger. Kilde: Rekkverksnormal.</documentation>
  </annotation>
  <include schemaLocation="Rekkverksskjoet.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Rekkverksskjøt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RekkverksskjøtType">
    <annotation>
      <documentation>543: Betegnelse på skjøter mellom rekkverk eller rekkverkskomponenter på bru som ikke er konstruert for å oppta bevegelser fra temperatur, svinn etc. Skjøtene kan være utført med en viss dilatasjon/slakk for å lette montasjen og for å begrense strekkraften som kan oppstå i komponentene ved store utbøyninger. Kilde: Rekkverksnormal.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">543</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_REKKVERKSSKJØT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RekkverksskjøtType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeRekkverksskjøtType">
            <annotation>
              <documentation>4664: Angir type</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4664</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppsettingsår" type="integer">
            <annotation>
              <documentation>10347: Angir hvilket år vegobjektet ble satt opp</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10347</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5039: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5039</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRI_PUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekkverksskjøtPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rekkverksskjøt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRekkverksskjøtType">
    <annotation>
      <documentation>4664: Angir type</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4664</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREKKVERKSSKJØT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRekkverksskjøtEnumerationType nvdb:TypeRekkverksskjøtOtherType"/>
  </simpleType>
  <simpleType name="TypeRekkverksskjøtEnumerationType">
    <annotation>
      <documentation>4664: Angir type</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4664</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEREKKVERKSSKJØT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="dilatasjonsskjøt">
        <annotation>
          <documentation>5732: Dilatasjonsskjøt: Betegnelse på skjøter, bla. mellom rekkverk eller rekkverkskomponenter på bru, som er konstruert for å oppta bevegelser fra temperatur, svinn etc.   Disse må alltid plasseres der det er brufuger. Kilde: Rekkverksnormal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5732</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksskjøtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
