XSD/GLA/297.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/GLA/" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/GLA/" version="2.06">
  <annotation>
    <documentation>297: Vegobjekt beskriver spesielle forhold for det objektet det er knyttet til</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">297</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="glabelysning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kommentar" substitutionGroup="gml:AbstractObject" type="nvdb:KommentarType">
    <annotation>
      <documentation>Kommentar: Vegobjekt beskriver spesielle forhold for det objektet det er knyttet til</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">297</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMENTAR</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KommentarType">
    <sequence>
      <element minOccurs="0" name="beskrivelse" type="string">
        <annotation>
          <documentation>Beskrivelse: Gir beskrivelse til vegobjektet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1086</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BESKRIVELSE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="dokumentasjon" type="nvdb:DokumentasjonPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="KommentarPropertyType">
    <sequence>
      <element ref="nvdb:Kommentar"/>
    </sequence>
  </complexType>
</schema>
