XSD/GLA/88.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/GLA/" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/GLA/" version="2.07">
  <annotation>
    <documentation>88: Lyskilde med innfatning</documentation>
  </annotation>
  <include schemaLocation="glabelysning.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallArmaturerIBelysningspktType">
    <annotation>
      <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMATURERIBELYSNINGSPKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallArmaturerIBelysningspktEnumerationType nvdb:AntallArmaturerIBelysningspktOtherType"/>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktEnumerationType">
    <annotation>
      <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMATURERIBELYSNINGSPKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>4678: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4678</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>4679: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4679</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>4680: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4680</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>4681: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4681</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>4682: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4682</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>4915: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4915</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="7">
        <annotation>
          <documentation>16784: 7</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16784</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <documentation>16785: 8</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16785</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallArmaturerIBelysningspktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLYSKILDERPERARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLyskilderPerArmaturEnumerationType nvdb:AntallLyskilderPerArmaturOtherType"/>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturEnumerationType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLYSKILDERPERARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3730: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3730</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3739: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3739</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>16294: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16294</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>16295: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16295</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>17876: 5</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17876</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>17877: 6</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17877</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingMaterialeType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGMATERIALE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvskjermingMaterialeEnumerationType nvdb:AvskjermingMaterialeOtherType"/>
  </simpleType>
  <simpleType name="AvskjermingMaterialeEnumerationType">
    <annotation>
      <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGMATERIALE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="plant">
        <annotation>
          <documentation>11333: Plant</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="buet">
        <annotation>
          <documentation>11334: Buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11334</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingMaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingTypeType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvskjermingTypeEnumerationType nvdb:AvskjermingTypeOtherType"/>
  </simpleType>
  <simpleType name="AvskjermingTypeEnumerationType">
    <annotation>
      <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="skjerm_Plan">
        <annotation>
          <documentation>4683: Skjerm, plan</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4683</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjerm_Buet">
        <annotation>
          <documentation>16971: Skjerm, buet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16971</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjerm_Halvbuet">
        <annotation>
          <documentation>16972: Skjerm, halvbuet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16972</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="skjerm_Dyptrukket">
        <annotation>
          <documentation>4684: Skjerm, dyptrukket</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4684</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="åpen">
        <annotation>
          <documentation>16973: Åpen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16973</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvskjermingTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMMINGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="DimmingLysarmaturEnumerationType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMMINGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11335: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11335</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>11336: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11336</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLysarmaturEnumerationType nvdb:EierLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="EierLysarmaturEnumerationType">
    <annotation>
      <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="stat">
        <annotation>
          <documentation>16150: Stat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>16151: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16151</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16152: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16152</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16153: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16153</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17629: Uavklart: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17629</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNGÅRINØDSYSTEMETLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InngårINødsystemetLysarmaturEnumerationType nvdb:InngårINødsystemetLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturEnumerationType">
    <annotation>
      <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNGÅRINØDSYSTEMETLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>16446: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16446</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16447: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16447</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InngårINødsystemetLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSTANTLYSUTBYTTE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KonstantLysutbytteEnumerationType nvdb:KonstantLysutbytteOtherType"/>
  </simpleType>
  <simpleType name="KonstantLysutbytteEnumerationType">
    <annotation>
      <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSTANTLYSUTBYTTE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13776: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13776</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13777: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13777</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KonstantLysutbytteOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysarmatur" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LysarmaturType">
    <annotation>
      <documentation>88: Lyskilde med innfatning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">88</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysarmaturType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="lyskildeType" type="nvdb:LyskildeTypeLysarmaturType">
            <annotation>
              <documentation>2077: Angir hvilken type lyskildene er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSKILDETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="double">
            <annotation>
              <documentation>10805: Angir samlet effekt pr lampearmatur
Enhet: Watt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10805</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EFFEKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10008: Angir unikt navn/id på lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10008</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSMERKING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsattår" type="integer">
            <annotation>
              <documentation>10007: Angir årstall objektet ble satt i drift</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10007</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSATTÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVeg" type="double">
            <annotation>
              <documentation>2054: Angir armaturens høyde over veg.
Enhet: Meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2054</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEOVERVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallLyskilderPerArmatur" type="nvdb:AntallLyskilderPerArmaturType">
            <annotation>
              <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1955</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLLYSKILDERPERARMATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallArmaturerIBelysningspkt" type="nvdb:AntallArmaturerIBelysningspktType">
            <annotation>
              <documentation>2199: Vegobjektet kan representere flere objekt av samme type.  Vi angir her hvor mange objekt dette objektet representerer.
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2199</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLARMATURERIBELYSNINGSPKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="inngårINødsystemet" type="nvdb:InngårINødsystemetLysarmaturType">
            <annotation>
              <documentation>10012: Angir om lysarmatur er en del av nødsystemet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10012</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_INNGÅRINØDSYSTEMET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavnArmatur" type="string">
            <annotation>
              <documentation>1451: Angir produktnavn/typebetegnelse, kan også ta med typenummer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1451</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNARMATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavnArmatur" type="nvdb:ProdusentnavnArmaturType">
            <annotation>
              <documentation>1529: Angir navn på firma som har produsert armaturen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNARMATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavnDriver" type="string">
            <annotation>
              <documentation>9558: Angir navn på firma som har produsert driver til lyskilden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9558</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNDRIVER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsentnavnLyskilde" type="string">
            <annotation>
              <documentation>9557: Angir navn på firma som har produsert lyskilden</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9557</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNLYSKILDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="optikk" type="nvdb:OptikkType">
            <annotation>
              <documentation>9563: Angir optikk i lysarmatur</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPTIKK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="konstantLysutbytte" type="nvdb:KonstantLysutbytteType">
            <annotation>
              <documentation>9567: Angir at armaturen har korreksjon slik at lysutbytte er konstant gjennom hele levetiden (CLO - Constant Light Output)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9567</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KONSTANTLYSUTBYTTE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
            <annotation>
              <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset.  Ikke aktuelt for lys ved gangfelt etc.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8402</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DIMMING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utystyrsklasse" type="nvdb:UtystyrsklasseType">
            <annotation>
              <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTYSTYRSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsstrømUdimmet" type="integer">
            <annotation>
              <documentation>9562: Angir driftsstrøm for lyskilden
Enhet: Milliampere</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9562</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSSTRØMUDIMMET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysflux" type="integer">
            <annotation>
              <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.
Enhet: Lumen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10011</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSFLUX</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LEDEffektArmaturTotalt_Test" type="integer">
            <annotation>
              <documentation>9559: Ved 25 grader C, 700 mA
Enhet: Watt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9559</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDEFFEKTARMATURTOTALT_TEST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargetemperatur" type="integer">
            <annotation>
              <documentation>9564: Angir fargetemperatur
Enhet: Kelvin</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9564</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGETEMPERATUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LEDAntallDioder" type="integer">
            <annotation>
              <documentation>9561: Angir antall dioder per lampearmatur
Enhet: Stykker</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9561</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDANTALLDIODER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="LEDEffektPerStk_Test" type="double">
            <annotation>
              <documentation>9560: Ved 25 grader C, 700 mA
Enhet: Watt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9560</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LEDEFFEKTPERSTK_TEST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjermingType" type="nvdb:AvskjermingTypeType">
            <annotation>
              <documentation>3884: Angir hvilken type avskjerming det er på armaturen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3884</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="avskjermingMateriale" type="nvdb:AvskjermingMaterialeType">
            <annotation>
              <documentation>8401: Angir hvordan glasset på armaturen er utformet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8401</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJERMINGMATERIALE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargegjengivelsesindeks" type="integer">
            <annotation>
              <documentation>9565: Angir Fargegjengivelsesindeks, (Ra-indeks) for lysarmaturen (0-100)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9565</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGEGJENGIVELSESINDEKS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utskiftbareLyskilder" type="nvdb:UtskiftbareLyskilderType">
            <annotation>
              <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSKIFTBARELYSKILDER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="armaturnummer" type="string">
            <annotation>
              <documentation>10585: Entydig nummer innenfor gitt anlegg/område.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10585</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ARMATURNUMMER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kommunikasjonsenhet" type="string">
            <annotation>
              <documentation>10584: Navn/adresse på kommunikasjonsenhet som lysarmatur er knyttet til.. Kan være VTP (Veglystennpunkt eller konsentrator/segmentkontroller.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10584</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KOMMUNIKASJONSENHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLysarmaturType">
            <annotation>
              <documentation>9953: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9953</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eierNavn" type="string">
            <annotation>
              <documentation>10010: Navn på eier av  vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10010</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLysarmaturType">
            <annotation>
              <documentation>9955: Angir hvem som er ansvarlig for vedlikehold</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4788</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="felt" type="string">
            <annotation>
              <documentation>Tekststreng som brukes dersom objektet gjelder bestemte kjørefelt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VKJORFELT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Dokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysarmaturPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysarmatur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeLysarmaturType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSKILDETYPELYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturEnumerationType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2077</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSKILDETYPELYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="kvikksølv">
        <annotation>
          <documentation>3750: Kvikksølv</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="natrium_Høytrykk">
        <annotation>
          <documentation>3753: Natrium, høytrykk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3753</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="natrium_Lavtrykk">
        <annotation>
          <documentation>3955: Natrium, lavtrykk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3955</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="lysstoffrør">
        <annotation>
          <documentation>3956: Lysstoffrør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3956</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="glødelampe">
        <annotation>
          <documentation>3957: Glødelampe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3957</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QL">
        <annotation>
          <documentation>12978: QL</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LED">
        <annotation>
          <documentation>12979: LED</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="metallhalogen">
        <annotation>
          <documentation>3751: Metallhalogen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3751</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OptikkType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPTIKK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OptikkEnumerationType nvdb:OptikkOtherType"/>
  </simpleType>
  <simpleType name="OptikkEnumerationType">
    <annotation>
      <documentation>9563: Angir optikk i lysarmatur</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9563</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPTIKK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="reflektor">
        <annotation>
          <documentation>13770: Reflektor</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13770</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="linse">
        <annotation>
          <documentation>13771: Linse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13771</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="reflektorOgLinse">
        <annotation>
          <documentation>13772: Reflektor og linse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13772</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="direkteLys">
        <annotation>
          <documentation>13773: Direkte lys</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13773</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OptikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProdusentnavnArmaturType">
    <annotation>
      <documentation>1529: Angir navn på firma som har produsert armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProdusentnavnArmaturEnumerationType nvdb:ProdusentnavnArmaturOtherType"/>
  </simpleType>
  <simpleType name="ProdusentnavnArmaturEnumerationType">
    <annotation>
      <documentation>1529: Angir navn på firma som har produsert armaturen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1529</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUSENTNAVNARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="aeg">
        <annotation>
          <documentation>3718: Aeg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3718</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="thorn">
        <annotation>
          <documentation>3719: Thorn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3719</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="philips">
        <annotation>
          <documentation>3720: Philips</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3720</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="siemens">
        <annotation>
          <documentation>3721: Siemens</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3721</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="siemensSiteco">
        <annotation>
          <documentation>4676: Siemens/Siteco</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4676</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ifa">
        <annotation>
          <documentation>3722: Ifa</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3722</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="noral">
        <annotation>
          <documentation>3723: Noral</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="seelux">
        <annotation>
          <documentation>3724: Seelux</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jernkonst">
        <annotation>
          <documentation>4677: Jernkonst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4677</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="urbis">
        <annotation>
          <documentation>4079: Urbis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4079</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="AECIlluminazione">
        <annotation>
          <documentation>16838: AEC Illuminazione</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16838</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProdusentnavnArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSKIFTBARELYSKILDER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtskiftbareLyskilderEnumerationType nvdb:UtskiftbareLyskilderOtherType"/>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderEnumerationType">
    <annotation>
      <documentation>9568: Angir om selve lyskilden(e) kan skiftes ut</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9568</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTSKIFTBARELYSKILDER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>13778: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>13779: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtskiftbareLyskilderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtystyrsklasseType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTYSTYRSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtystyrsklasseEnumerationType nvdb:UtystyrsklasseOtherType"/>
  </simpleType>
  <simpleType name="UtystyrsklasseEnumerationType">
    <annotation>
      <documentation>10014: Beskriver hvordan el-sikkerhet (Jording og isolering) er ivaretatt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10014</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTYSTYRSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ujorda">
        <annotation>
          <documentation>16269: Ujorda</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16269</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="jorda">
        <annotation>
          <documentation>16270: Jorda</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16270</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="dobbeltisolert">
        <annotation>
          <documentation>16271: Dobbeltisolert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16271</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtystyrsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLysarmaturEnumerationType nvdb:VedlikeholdsansvarligLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturEnumerationType">
    <annotation>
      <documentation>9955: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9955</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGLYSARMATUR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>16158: Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16158</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>16159: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16159</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>16160: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16160</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>17782: Uavklart</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
