XSD/OLFV/103.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">103</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="MaterialeBelegningType">
    <annotation>
      <documentation>Materiale/belegning: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8798</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEBELEGNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeBelegningEnumerationType nvdb:MaterialeBelegningOtherType"/>
  </simpleType>
  <simpleType name="MaterialeBelegningEnumerationType">
    <annotation>
      <documentation>Materiale/belegning: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8798</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEBELEGNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stein, brostein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11634</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11635</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11636</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, prefabrikert">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11637</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeBelegningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDB_Fartsdemper" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_FartsdemperType">
    <annotation>
      <documentation>Fartsdemper: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">103</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARTSDEMPER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_FartsdemperType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeNVDB_FartsdemperType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1156</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="profil" type="nvdb:ProfilType">
            <annotation>
              <documentation>Profil: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8799</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialeBelegning" type="nvdb:MaterialeBelegningType">
            <annotation>
              <documentation>Materiale/belegning: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein"</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8798</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEBELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10288</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4801</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_FartsdemperPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_Fartsdemper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ProfilType">
    <annotation>
      <documentation>Profil: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8799</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFIL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProfilEnumerationType nvdb:ProfilOtherType"/>
  </simpleType>
  <simpleType name="ProfilEnumerationType">
    <annotation>
      <documentation>Profil: Angir hvilket humpprofil som er benyttet.  Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8799</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFIL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Profil 1, sirkel-30">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11641</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 2, sirkel-40">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11642</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 3, sirkel-50">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11643</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 4, modifisert sirkel-30">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11644</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 5, modifisert sirkel-40">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11645</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 6, modifisert sirkel-50">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11646</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 7, trapes-30">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11647</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 8, trapes-40">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11648</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 9, trapes-50">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11649</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 10, Pute-30">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11741</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Profil 11, Pute-40">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11742</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kuleflate">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11779</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sopp">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11780</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="H-hump">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11781</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S-Hump">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11782</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel hump">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11783</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProfilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_FartsdemperType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1156</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_FARTSDEMPER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNVDB_FartsdemperEnumerationType nvdb:TypeNVDB_FartsdemperOtherType"/>
  </simpleType>
  <simpleType name="TypeNVDB_FartsdemperEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1156</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_FARTSDEMPER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fartshump">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3594</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fartsputer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5543</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Busshump">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3595</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkøy">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7918</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innsnevring">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7917</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforskyvning">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7919</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innsnevring og sideforskyvning">
        <annotation>
          <documentation>11778: Både og</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11778</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rumlefelt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7920</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fortausutvidelse i kryss">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7921</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fartsdump">
        <annotation>
          <documentation>11652: Forsenkning i vegbanen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11652</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_FartsdemperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
