XSD/OLFV/137.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>137: Skråflate som er del av begrensningen av et fyllingsvolum.  I tillegg til ei eller to fyllinger (evt. en på hver side av vegen) begrenses fyllingsvolumet av vegens planum.  Merknad: Det skal angis sideposisjon for fylling.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">137</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="NVDB_Fylling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_FyllingType">
    <annotation>
      <documentation>Fylling: Skråflate som er del av begrensningen av et fyllingsvolum.  I tillegg til ei eller to fyllinger (evt. en på hver side av vegen) begrenses fyllingsvolumet av vegens planum.  Merknad: Det skal angis sideposisjon for fylling.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">137</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FYLLING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_FyllingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeNVDB_FyllingType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1166</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10298</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4817</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPlastringErosjonssikring" type="nvdb:PlastringErosjonssikringPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_FyllingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_Fylling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNVDB_FyllingType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1166</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_FYLLING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNVDB_FyllingEnumerationType nvdb:TypeNVDB_FyllingOtherType"/>
  </simpleType>
  <simpleType name="TypeNVDB_FyllingEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1166</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_FYLLING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Jord">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2288</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein/fjell, sprengt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2258</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blandede masser">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3707</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lette masser">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3275</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lettklinker">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2372</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gassbetongbrudd">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2362</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ekspandert polystyren">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2365</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bark">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2370</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_FyllingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
