XSD/OLFV/153.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>153: Målestasjon som har instrument for å måle værdata som temperatur, luftfuktighet, med mer</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">153</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVærstasjonType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8003</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERVÆRSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVærstasjonEnumerationType nvdb:EierVærstasjonOtherType"/>
  </simpleType>
  <simpleType name="EierVærstasjonEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8003</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERVÆRSTASJON</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10269</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10731</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10397</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVærstasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Værstasjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VærstasjonType">
    <annotation>
      <documentation>Værstasjon: Målestasjon som har instrument for å måle værdata som temperatur, luftfuktighet, med mer</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">153</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VÆRSTASJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VærstasjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn på værstasjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1083</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4824</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKameraOvervåkning" type="nvdb:KameraOvervåkningPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VærstasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Værstasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
