XSD/OLFV/172.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>172: Fysisk skille mellom trafikkstrømmer (1)</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">172</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkdelerType">
    <annotation>
      <documentation>Belegning: Angir hvilken type belegning det er på trafikkdeler</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2158</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkdelerEnumerationType nvdb:BelegningTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerEnumerationType">
    <annotation>
      <documentation>Belegning: Angir hvilken type belegning det er på trafikkdeler</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2158</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNINGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5407</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, farget">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5556</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5557</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret og farget">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5558</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongheller">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5559</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7933</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Granitt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11233</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiferheller">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11232</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4050</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, faststøpt i betong">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5561</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, rundstein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5562</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, brostein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5563</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5564</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4054</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bark">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4051</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grønt/beplantning">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4052</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerType">
    <annotation>
      <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1281</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDETRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTrafikkdelerEnumerationType nvdb:BruksområdeTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerEnumerationType">
    <annotation>
      <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1281</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDETRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Midtdeler">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3215</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler v lomme">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3216</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler hovedveg g/sveg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3217</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler hovedveg/lokalveg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3218</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler mellom parallelle strømmer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3914</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegType">
    <annotation>
      <documentation>Møtefri veg: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9499</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØTEFRIVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MøtefriVegEnumerationType nvdb:MøtefriVegOtherType"/>
  </simpleType>
  <simpleType name="MøtefriVegEnumerationType">
    <annotation>
      <documentation>Møtefri veg: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9499</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØTEFRIVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13382: "Ja" hvis trafikkdeler har fysisk hinder som rekkverk, etc, eller er bredere enn 7 meter.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13383: "Nei" hvis det er kun forhøyet med kantstein, adskilt med gjerde etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkdeler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkdelerType">
    <annotation>
      <documentation>Trafikkdeler: Fysisk skille mellom trafikkstrømmer (1)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">172</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkdelerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeTrafikkdelerType">
            <annotation>
              <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1281</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="møtefriVeg" type="nvdb:MøtefriVegType">
            <annotation>
              <documentation>Møtefri veg: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9499</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MØTEFRIVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belegning" type="nvdb:BelegningTrafikkdelerType">
            <annotation>
              <documentation>Belegning: Angir hvilken type belegning det er på trafikkdeler</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2158</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELEGNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>Bredde: Angir standardbredde av trafikkdeleren, det vil si den bredden som er mest representativ.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2243</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10376</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4834</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBlomsterbeplantning" type="nvdb:BlomsterbeplantningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBusker" type="nvdb:BuskerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_VegoppmerkingLangsgående" type="nvdb:NVDB_VegoppmerkingLangsgåendePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRekkverk" type="nvdb:RekkverkPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerde" type="nvdb:GjerdePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrøftÅpen" type="nvdb:GrøftÅpenPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrasdekker" type="nvdb:GrasdekkerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstein" type="nvdb:KantsteinPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrær" type="nvdb:TrærPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkdelerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkdeler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8073</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkdelerEnumerationType nvdb:VedlikeholdsansvarligTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8073</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKDELER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10467</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10545</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10623</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
