XSD/OLFV/47.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>47: Kjøreareal som ligger inntil ytterste kjørefelt. Der kan være trafikkdeler mellom kjørefelt og trafikklomme.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">47</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelysningTrafikklommeType">
    <annotation>
      <documentation>Belysning: Angir om trafikklommen er belyst</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3122</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNINGTRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningTrafikklommeEnumerationType nvdb:BelysningTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="BelysningTrafikklommeEnumerationType">
    <annotation>
      <documentation>Belysning: Angir om trafikklommen er belyst</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3122</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNINGTRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, egen belysning">
        <annotation>
          <documentation>4648: Belysning satt opp spesielt for utvendig belysning av bussholdeplass/lomme</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4648</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, belyst av gatebelysning">
        <annotation>
          <documentation>4649: Ingen ekstraordinær belysning for trafikklomme/bussholdeplass Men belyst av gatebelysning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4649</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4650: Ingen utvendig belysning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4650</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikklommeType">
    <annotation>
      <documentation>Bruksområde: Angir primært bruksområde for trafikklomma.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1257</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDETRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTrafikklommeEnumerationType nvdb:BruksområdeTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTrafikklommeEnumerationType">
    <annotation>
      <documentation>Bruksområde: Angir primært bruksområde for trafikklomma.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1257</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDETRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Busslomme">
        <annotation>
          <documentation>3200: Trafikklomme i forbindelse med stoppunkt for buss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3200</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Havari/Stopplomme">
        <annotation>
          <documentation>3201: Trafikklomme hvor det er tilrettelagt for parkering i forbindelse med nødstopp eller kortere stopp ved spesielle behov.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3201</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørepause">
        <annotation>
          <documentation>3202: Trafikklomme der det er mulig å parkere for å ta en kjørepause</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3202</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møteplass">
        <annotation>
          <documentation>4071: Spesielt anlagt og merket breddeutvidelse hvor kjøretøy kan komme forbi hverandre på enfeltsveg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4071</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Arbeidslomme SVV">
        <annotation>
          <documentation>4674: Trafikklomme som brukes i forbindelse med vegarbeid</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4674</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastelomme">
        <annotation>
          <documentation>3203: Trafikklomme for lasting , lossing eller omlasting.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3203</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Informasjonslomme">
        <annotation>
          <documentation>4969: Trafikklomme hvor skilt eller annen form for informasjon er plassert.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4969</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjettingplass">
        <annotation>
          <documentation>4970: Trafikklomme for å sette på eller ta av kjettinger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4970</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kolonneoppstilling">
        <annotation>
          <documentation>8190: Trafikklomme som fungerer som midlertidig parkering mens man venter på å sette i gang kolonnekjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8190</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme, generell">
        <annotation>
          <documentation>4968: Lomme som har bruksområde som ikke dekkes av øvrige tillatte verdier.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4968</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeTrafikklommeType">
    <annotation>
      <documentation>Dekketype: Angir hvilken type dekke det er på trafikklomma</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4612</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKETYPETRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekketypeTrafikklommeEnumerationType nvdb:DekketypeTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="DekketypeTrafikklommeEnumerationType">
    <annotation>
      <documentation>Dekketype: Angir hvilken type dekke det er på trafikklomma</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4612</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKETYPETRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5570</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5569</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5572</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5571</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesieltParkeringsformålType">
    <annotation>
      <documentation>Spesielt parkeringsformål: Angir at trafikklomme benyttes til spesielt parkerngsformål</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9883</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELTPARKERINGSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpesieltParkeringsformålEnumerationType nvdb:SpesieltParkeringsformålOtherType"/>
  </simpleType>
  <simpleType name="SpesieltParkeringsformålEnumerationType">
    <annotation>
      <documentation>Spesielt parkeringsformål: Angir at trafikklomme benyttes til spesielt parkerngsformål</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9883</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPESIELTPARKERINGSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Teknisk rom">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16061</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpesieltParkeringsformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikklomme" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikklommeType">
    <annotation>
      <documentation>Trafikklomme: Kjøreareal som ligger inntil ytterste kjørefelt. Der kan være trafikkdeler mellom kjørefelt og trafikklomme.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">47</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikklommeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeTrafikklommeType">
            <annotation>
              <documentation>Bruksområde: Angir primært bruksområde for trafikklomma.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1257</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal" type="integer">
            <annotation>
              <documentation>Areal: Angir arealet av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1362</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREAL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeMedFullBredde" type="double">
            <annotation>
              <documentation>Lengde med full bredde: Angir lengde av trafikklommen med minimum ca. 3 meter bredde</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1307</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDEMEDFULLBREDDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10377</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dekketype" type="nvdb:DekketypeTrafikklommeType">
            <annotation>
              <documentation>Dekketype: Angir hvilken type dekke det er på trafikklomma</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4612</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DEKKETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5897</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belysning" type="nvdb:BelysningTrafikklommeType">
            <annotation>
              <documentation>Belysning: Angir om trafikklommen er belyst</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3122</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BELYSNING</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikklommePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikklomme"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UtformingTrafikklommeType">
    <annotation>
      <documentation>Utforming: Angir hvordan vegobjektet er utforma</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1118</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMINGTRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikklommeEnumerationType nvdb:UtformingTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikklommeEnumerationType">
    <annotation>
      <documentation>Utforming: Angir hvordan vegobjektet er utforma</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1118</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UTFORMINGTRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lomme med fysisk deleøy">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3204</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme med malt deleøy">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3205</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme uten deleøy">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3206</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikklommeType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3125</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikklommeEnumerationType nvdb:VedlikeholdsansvarligTrafikklommeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikklommeEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3125</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGTRAFIKKLOMME</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4655</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4656</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4657</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikklommeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinteråpenType">
    <annotation>
      <documentation>Vinteråpen: Angir om trafikklomma blir holdt åpen gjennom vinteren.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4652</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinteråpenEnumerationType nvdb:VinteråpenOtherType"/>
  </simpleType>
  <simpleType name="VinteråpenEnumerationType">
    <annotation>
      <documentation>Vinteråpen: Angir om trafikklomma blir holdt åpen gjennom vinteren.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4652</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VINTERÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5698</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5699</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinteråpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
