XSD/OLFV/474.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>474: System for automatisk brannslokking.  Vanligvis sprinkleranlegg</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">474</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Brannslokkingsanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BrannslokkingsanleggType">
    <annotation>
      <documentation>Brannslokkingsanlegg: System for automatisk brannslokking.  Vanligvis sprinkleranlegg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">474</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BrannslokkingsanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeBrannslokkingsanleggType">
            <annotation>
              <documentation>Type: Angir type</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3777</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="integer">
            <annotation>
              <documentation>Lengde: Angir lengde av sprinkleranlegg</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5485</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10274</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10079</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BrannslokkingsanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Brannslokkingsanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierBrannslokkingsanleggType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8033</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERBRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBrannslokkingsanleggEnumerationType nvdb:EierBrannslokkingsanleggOtherType"/>
  </simpleType>
  <simpleType name="EierBrannslokkingsanleggEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8033</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERBRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10299</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10760</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10363</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBrannslokkingsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeBrannslokkingsanleggType">
    <annotation>
      <documentation>Type: Angir type</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3777</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEBRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBrannslokkingsanleggEnumerationType nvdb:TypeBrannslokkingsanleggOtherType"/>
  </simpleType>
  <simpleType name="TypeBrannslokkingsanleggEnumerationType">
    <annotation>
      <documentation>Type: Angir type</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3777</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEBRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sprinkleranlegg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5041</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hallogen brannslokkingsanlegg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5042</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vanntåke">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13036</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBrannslokkingsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBrannslokkingsanleggType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGBRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBrannslokkingsanleggEnumerationType nvdb:VedlikeholdsansvarligBrannslokkingsanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBrannslokkingsanleggEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8108</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGBRANNSLOKKINGSANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10502</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10580</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10658</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBrannslokkingsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
