XSD/OLFV/581.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">581</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerType">
    <annotation>
      <documentation>Alarm til VTS ved fjerning av brannslokker: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType nvdb:AlarmTilVTSVedFjerningAvBrannslokkerOtherType"/>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType">
    <annotation>
      <documentation>Alarm til VTS ved fjerning av brannslokker: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4926</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei, finnes ikke slik alarm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4950</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpType">
    <annotation>
      <documentation>Antall parallelle hovedløp: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i ho</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallParallelleHovedløpEnumerationType nvdb:AntallParallelleHovedløpOtherType"/>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpEnumerationType">
    <annotation>
      <documentation>Antall parallelle hovedløp: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i ho</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5011</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5012</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5013</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5014</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSeksjonertType">
    <annotation>
      <documentation>Kabler seksjonert: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerSeksjonertEnumerationType nvdb:KablerSeksjonertOtherType"/>
  </simpleType>
  <simpleType name="KablerSeksjonertEnumerationType">
    <annotation>
      <documentation>Kabler seksjonert: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4922</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4923</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSeksjonertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikretVNedgravingType">
    <annotation>
      <documentation>Kabler sikret v nedgraving: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRETVNEDGRAVING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerSikretVNedgravingEnumerationType nvdb:KablerSikretVNedgravingOtherType"/>
  </simpleType>
  <simpleType name="KablerSikretVNedgravingEnumerationType">
    <annotation>
      <documentation>Kabler sikret v nedgraving: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRETVNEDGRAVING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4924</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4925</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikretVNedgravingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDB_Tunnel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_TunnelType">
    <annotation>
      <documentation>Tunnel: Sted hvor veg passerer gjennom jord/fjell eller under større lokk.  Består av ett eller flere tunnelløp.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">581</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNEL</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_TunnelType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn på tunnel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5225</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tunnelklasseProsjektert" type="nvdb:TunnelklasseProsjektertType">
            <annotation>
              <documentation>Tunnelklasse, prosjektert: Angir hvilken tunnelklasse tunnelen ble prosjektert etter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSEPROSJEKTERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallParallelleHovedløp" type="nvdb:AntallParallelleHovedløpType">
            <annotation>
              <documentation>Antall parallelle hovedløp: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.).  Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks når tunnel på en arm.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3947</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLPARALLELLEHOVEDLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeSkiltet" type="integer">
            <annotation>
              <documentation>Lengde, skiltet: Angir tunnelens skilta lengde. Hvis det ikke finnes skilta lengde, kan det oppgis lengde etter samme kriterier som benyttes i forbindelse med skilta lengde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8945</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDESKILTET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sumLengdeAlleLøp" type="integer">
            <annotation>
              <documentation>Sum lengde alle løp: Angir total lengde av alle hovedløpene tilhørende tunnelsystemet.  Inkluderer ikke lengde av ramper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8150</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMLENGDEALLELØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sumLengdeRamper" type="integer">
            <annotation>
              <documentation>Sum lengde ramper: Angir total lengde av alle tunnelløp som tilhører rampe(r) tilhørende tunnelsystemet.  Inkluderer ikke lengde av hovedløpene.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8151</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SUMLENGDERAMPER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="undersjøisk" type="nvdb:UndersjøiskType">
            <annotation>
              <documentation>Undersjøisk: Angir om tunnel er undersjøisk eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sykkelforbud" type="nvdb:SykkelforbudType">
            <annotation>
              <documentation>Sykkelforbud: Angir om det er forbudt å sykle i tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="serviceNødtelefonerTilVTS" type="nvdb:ServiceNødtelefonerTilVTSType">
            <annotation>
              <documentation>Service-/nødtelefoner til VTS: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="alarmTilVTSVedFjerningAvBrannslokker" type="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerType">
            <annotation>
              <documentation>Alarm til VTS ved fjerning av brannslokker: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3918</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ALARMTILVTSVEDFJERNINGAVBRANNSLOKKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kablerSeksjonert" type="nvdb:KablerSeksjonertType">
            <annotation>
              <documentation>Kabler seksjonert: Angir om kabler er seksjonert eller ikke.  Når kabler er seksjonert skaper evt. brudd/skade bare problem på den aktuelle seksjon i tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3915</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSEKSJONERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kablerSikretVNedgraving" type="nvdb:KablerSikretVNedgravingType">
            <annotation>
              <documentation>Kabler sikret v nedgraving: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3916</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KABLERSIKRETVNEDGRAVING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="restriksjonsklasse" type="nvdb:RestriksjonsklasseType">
            <annotation>
              <documentation>Restriksjonsklasse: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="åpningsår" type="integer">
            <annotation>
              <documentation>Åpningsår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10383</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Bygning" type="nvdb:NVDB_BygningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBassengMagasin" type="nvdb:BassengMagasinPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelløp" type="nvdb:TunnelløpPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="nvdb:TunnelløpUtenTrafikkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_TunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_Tunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RestriksjonsklasseType">
    <annotation>
      <documentation>Restriksjonsklasse: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonsklasseEnumerationType nvdb:RestriksjonsklasseOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonsklasseEnumerationType">
    <annotation>
      <documentation>Restriksjonsklasse: Angir restriksjonsklasse for transport av farlig gods gjennom tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9131</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_RESTRIKSJONSKLASSE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="a">
        <annotation>
          <documentation>12167: Ingen restriksjoner på transport av farlig gods [hb021]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12167</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="b">
        <annotation>
          <documentation>12168: Restriksjoner på farlig gods som kan gi en stor eksplosjon [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12168</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>12169: Restriksjoner på farlig gods som kan gi en stor eksplosjon, eller stort utslipp av giftig gass [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>12170: Restriksjoner på farlig gods som kan gi en stor eksplosjon, eller stort utslipp av giftig gass
eller en stor brann [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="e">
        <annotation>
          <documentation>12171: Restriksjoner på farlig gods unntatt følgende stoffer, UN nr. 2919, 3291, 3331, 3373 [HB N500 (021)]</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonsklasseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSType">
    <annotation>
      <documentation>Service-/nødtelefoner til VTS: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ServiceNødtelefonerTilVTSEnumerationType nvdb:ServiceNødtelefonerTilVTSOtherType"/>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSEnumerationType">
    <annotation>
      <documentation>Service-/nødtelefoner til VTS: Angir om service-/nødtelefonene i tunnelen går direkte til  Vegtrafikksentralen (VTS)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3917</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SERVICENØDTELEFONERTILVTS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5009</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei, Ingen service-/nødtelefoner">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5010</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudType">
    <annotation>
      <documentation>Sykkelforbud: Angir om det er forbudt å sykle i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SykkelforbudEnumerationType nvdb:SykkelforbudOtherType"/>
  </simpleType>
  <simpleType name="SykkelforbudEnumerationType">
    <annotation>
      <documentation>Sykkelforbud: Angir om det er forbudt å sykle i tunnelen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9518</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SYKKELFORBUD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13434</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13435</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TunnelklasseProsjektertType">
    <annotation>
      <documentation>Tunnelklasse,prosjektert: Angir hvilken tunnelklasse tunnelen ble prosjektert etter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSEPROSJEKTERT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelklasseProsjektertEnumerationType nvdb:TunnelklasseProsjektertOtherType"/>
  </simpleType>
  <simpleType name="TunnelklasseProsjektertEnumerationType">
    <annotation>
      <documentation>Tunnelklasse,prosjektert: Angir hvilken tunnelklasse tunnelen ble prosjektert etter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9134</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELKLASSEPROSJEKTERT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12174</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12175</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12176</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12177</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelklasseProsjektertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskType">
    <annotation>
      <documentation>Undersjøisk: Angir om tunnel er undersjøisk eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UndersjøiskEnumerationType nvdb:UndersjøiskOtherType"/>
  </simpleType>
  <simpleType name="UndersjøiskEnumerationType">
    <annotation>
      <documentation>Undersjøisk: Angir om tunnel er undersjøisk eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_UNDERSJØISK</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13432</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13433</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
