XSD/OLFV/67.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>67: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">67</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EkstraBelysningInngangssoneType">
    <annotation>
      <documentation>Ekstra belysning inngangssone: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EkstraBelysningInngangssoneEnumerationType nvdb:EkstraBelysningInngangssoneOtherType"/>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneEnumerationType">
    <annotation>
      <documentation>Ekstra belysning inngangssone: Angir om det er ekstra belysning i tunnelens inngangssoner i forhold til midt inne i tunnelen..</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7864</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EKSTRABELYSNINGINNGANGSSONE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EkstraBelysningInngangssoneOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpType">
    <annotation>
      <documentation>Kategori: Angir hvilken kategori tunnelløpet tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORITUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KategoriTunnelløpEnumerationType nvdb:KategoriTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="KategoriTunnelløpEnumerationType">
    <annotation>
      <documentation>Kategori: Angir hvilken kategori tunnelløpet tilhører</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORITUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedløp">
        <annotation>
          <documentation>11801: Tunnelløp som fører hovedveg.  Hovedveg har vanligvis "normale" hovedparsellnummer (ikke ramper, armer, etc.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11801</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rampe">
        <annotation>
          <documentation>11802: Tunnelløp som fører rampe.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11802</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sekundærløp">
        <annotation>
          <documentation>12091: Tunnelløp som fører sekundærveg eller vegarm.  Aktuelt for tunnel med kryss.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12091</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rundkjøring">
        <annotation>
          <documentation>11804: Tunnelløp med rundkjøring.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KategoriTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnelløp" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelløpType">
    <annotation>
      <documentation>Tunnelløp: Utgravd eller utstøpt passasje gjennom jord/fjell eller under større lokk.  Har normalt inngang og utgang i dagen.  I spesielle tilfeller, f.eks når forgreninger eller kryss, kan det være utgang mot annet tunnelløp eller inngang fra annet tunnelløp. Se også Undergang, Skredoverbygg og Høydebegrensning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">67</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelløpType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>Navn: Angir navn på tunnelløp.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1081</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NAVN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kategori" type="nvdb:KategoriTunnelløpType">
            <annotation>
              <documentation>Kategori: Angir hvilken kategori tunnelløpet tilhører</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8944</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KATEGORI</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tunnelprofil" type="nvdb:TunnelprofilType">
            <annotation>
              <documentation>Tunnelprofil: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeTunnelløp" type="nvdb:TypeTunnelløpType">
            <annotation>
              <documentation>Type tunnelløp: Angir hvilken type tunnelløp det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="åpningsår" type="integer">
            <annotation>
              <documentation>Åpningsår: Angir hvilket år tunnelløpet ble åpnet for trafikk</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8356</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ÅPNINGSÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4769</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalpunkt" type="nvdb:SignalpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkapTeknisk" type="nvdb:SkapTekniskPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSiktmåler" type="nvdb:SiktmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Skiltpunkt" type="nvdb:NVDB_SkiltpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstolperRefleks" type="nvdb:KantstolperRefleksPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKondensmåler" type="nvdb:KondensmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Kum" type="nvdb:NVDB_KumPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLedelysstrekningOptisk" type="nvdb:LedelysstrekningOptiskPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBetongutstøping" type="nvdb:BetongutstøpingPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLukketRørgrøft" type="nvdb:LukketRørgrøftPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSnuplass" type="nvdb:SnuplassPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBranndetektor" type="nvdb:BranndetektorPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannvarslingsanlegg" type="nvdb:BrannvarslingsanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannslokkingsanlegg" type="nvdb:BrannslokkingsanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBrannslokningsapparat" type="nvdb:BrannslokningsapparatPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLysmåler" type="nvdb:LysmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertMobiltelefonsamband" type="nvdb:MobiltelefonsambandPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor" type="nvdb:DetektorPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstasjon" type="nvdb:NødstasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektriskAnlegg" type="nvdb:ElektriskAnleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertEvakueringslysstrekning" type="nvdb:EvakueringslysstrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertElektrostatiskRensesløyfe" type="nvdb:ElektrostatiskRensesløyfePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Tunnelportal" type="nvdb:NVDB_TunnelportalPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFjellrom" type="nvdb:FjellromPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUPS" type="nvdb:UPSPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannstandsmåler" type="nvdb:VannstandsmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannOgFrostsikring" type="nvdb:VannOgFrostsikringPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegbom" type="nvdb:VegbomPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVentilasjonsanlegg" type="nvdb:VentilasjonsanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVindmåler" type="nvdb:VindmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="nvdb:VifteVentilatorPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStøtpute" type="nvdb:StøtputePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødutgang" type="nvdb:NødutgangPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødutgangsskilt" type="nvdb:NødutgangsskiltPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstrømsaggregat" type="nvdb:NødstrømsaggregatPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødtelefon" type="nvdb:NødtelefonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPortDør" type="nvdb:PortDørPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRadiosamband" type="nvdb:RadiosambandPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Pumpestasjon" type="nvdb:NVDB_PumpestasjonPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFordelingstavle" type="nvdb:FordelingstavlePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFotocelle" type="nvdb:FotocellePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSidearealTunnel" type="nvdb:SidearealTunnelPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGassmåler" type="nvdb:GassmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrøftÅpen" type="nvdb:GrøftÅpenPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Hydrant" type="nvdb:NVDB_HydrantPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalanlegg" type="nvdb:SignalanleggPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertInspeksjonsluke" type="nvdb:InspeksjonslukePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydevarsler" type="nvdb:HøydevarslerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydemåler" type="nvdb:HøydemålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelbruStige" type="nvdb:KabelbruStigePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelgrøft" type="nvdb:KabelgrøftPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKameraOvervåkning" type="nvdb:KameraOvervåkningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertAntenne" type="nvdb:AntennePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNVDB_Belysningspunkt" type="nvdb:NVDB_BelysningspunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTelefonsentral" type="nvdb:TelefonsentralPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergsikring" type="nvdb:BergsikringPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTemperaturmåler" type="nvdb:TemperaturmålerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikklomme" type="nvdb:TrafikklommePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafo" type="nvdb:TrafoPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="nvdb:TrekkerørKanalPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkekum" type="nvdb:TrekkekumPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelport" type="nvdb:TunnelportPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnelløp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilType">
    <annotation>
      <documentation>Tunnelprofil: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilEnumerationType nvdb:TunnelprofilOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilEnumerationType">
    <annotation>
      <documentation>Tunnelprofil: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TUNNELPROFIL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T4">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5,5">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8169</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T6">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8170</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12911</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8,5">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3410</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3412</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9,5">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8171</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4350</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3414</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11,5">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8172</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T12">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3416</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T12,5">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8173</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T13">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12237</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T14">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12238</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rektangulært tverrsnitt">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3421</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpType">
    <annotation>
      <documentation>Type tunnelløp: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpEnumerationType nvdb:TypeTunnelløpOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpEnumerationType">
    <annotation>
      <documentation>Type tunnelløp: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1130</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPETUNNELLØP</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Berg">
        <annotation>
          <documentation>3386: Tunnelløp som hovedsaklig går i berg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løsmasse">
        <annotation>
          <documentation>3387: Tunnelløp som går i løsmasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Berg/løsmasse">
        <annotation>
          <documentation>3388: Tunnelløp som delvis går i berg og delvis i løsmasser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokk">
        <annotation>
          <documentation>4843: Tunnelløp som går under bygning/lokk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4843</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Senketunnel">
        <annotation>
          <documentation>13001: Tunnelløp under vann som er satt sammen av ferdigbygde seksjoner som har blitt senka på plass.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13001</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
