XSD/OLFV/80.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>80: Forsenkning i terrenget for å lede bort vann.  Del av vegens avvanningssystem.  Kan også benevnes "kanal".  Merknad: Breddemåling skal refereres til topp grøft.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">80</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="GrøftÅpen" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GrøftÅpenType">
    <annotation>
      <documentation>Grøft,åpen: Forsenkning i terrenget for å lede bort vann.  Del av vegens avvanningssystem.  Kan også benevnes "kanal".  Merknad: Breddemåling skal refereres til topp grøft.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">80</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GrøftÅpenType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeGrøftÅpenType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeGrøftÅpenType">
            <annotation>
              <documentation>Materiale: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av.  Evt belegning skal ikke oppgis her.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10304</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybde" type="double">
            <annotation>
              <documentation>Dybde: Angir dybde målt fra vegkant til bunn grøft.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1658</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DYBDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>Lengde: Angir total lengde av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1324</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LENGDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4781</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrøftÅpenPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:GrøftÅpen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeGrøftÅpenType">
    <annotation>
      <documentation>Materiale: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av.  Evt belegning skal ikke oppgis her.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEGRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeGrøftÅpenEnumerationType nvdb:MaterialeGrøftÅpenOtherType"/>
  </simpleType>
  <simpleType name="MaterialeGrøftÅpenEnumerationType">
    <annotation>
      <documentation>Materiale: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av.  Evt belegning skal ikke oppgis her.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MATERIALEGRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Berg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3046</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3048</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løsmasse">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3596</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinasjon løsmasse/berg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13798</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myr">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3932</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeGrøftÅpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrøftÅpenType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEGRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGrøftÅpenEnumerationType nvdb:TypeGrøftÅpenOtherType"/>
  </simpleType>
  <simpleType name="TypeGrøftÅpenEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEGRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dyp sidegrøft">
        <annotation>
          <documentation>3889: Benyttes om dyp sidegrøft som har til hensikt å drenere overbygning.   Det er som regel ikke lukka drenering i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3889</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grunn sidegrøft">
        <annotation>
          <documentation>3890: Benyttes om grunn sidegrøft som bare har til hensikt å drenere overflatevann og ikke overbygning.  Det er som regel lukka drenering i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3890</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Filtergrøft">
        <annotation>
          <documentation>17233: Sidegrøft der vann infiltreres og ledes bort . Se HB N200 kap 403.47. Større rensegrøfter defineres som "Lukka rørgrøft" av type "Filter-/rensegrøft" eller "Basseng/magasin" med bruksområde "Rensebasseng, infiltrasjon".</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17233</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Terrenggrøft">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2934</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpent avløp">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11627</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrøftÅpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGrøftÅpenType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8061</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGGRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGrøftÅpenEnumerationType nvdb:VedlikeholdsansvarligGrøftÅpenOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGrøftÅpenEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8061</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGGRØFTÅPEN</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10455</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10533</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10611</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGrøftÅpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
