XSD/OLFV/819.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">819</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierFordelingstavleType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10076</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERFORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFordelingstavleEnumerationType nvdb:EierFordelingstavleOtherType"/>
  </simpleType>
  <simpleType name="EierFordelingstavleEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10076</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERFORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16583</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16584</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16585</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16586</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFordelingstavleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fordelingstavle" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FordelingstavleType">
    <annotation>
      <documentation>Fordelingstavle: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">819</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FordelingstavleType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="antallKurser" type="integer">
            <annotation>
              <documentation>Antall kurser: Antall kurser ut fra fordeling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10052</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLKURSER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringFordelingstavleType">
            <annotation>
              <documentation>Plassering: Angir hvor vegobjektet er plassert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10065</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjølingType" type="string">
            <annotation>
              <documentation>Kjøling type: Angir fabrikat og type for eventuell kjøling</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10059</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KJØLINGTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsattår" type="integer">
            <annotation>
              <documentation>Driftsattår: Angir årstall objektet ble satt i drift</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10053</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_DRIFTSATTÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="varmeelement" type="nvdb:VarmeelementType">
            <annotation>
              <documentation>Varmeelement: Angir om det er montert varmeelement i skapet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10069</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEELEMENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernStørrelse" type="integer">
            <annotation>
              <documentation>Overbelastningsvern størrelse: Angir størrelse på eventuelt overbelastningsvern</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10060</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERBELASTNINGSVERNSTØRRELSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernType" type="string">
            <annotation>
              <documentation>Overbelastningsvern type: Angir produsent og typebetegnelse for eventuelt overbelastningsvern</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10061</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERBELASTNINGSVERNTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overspenningsvernType" type="string">
            <annotation>
              <documentation>Overspenningsvern type: Angir produsent og typebetegnelse for eventuelt overspenningsvern</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10062</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERSPENNINGSVERNTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9328</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FordelingstavlePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fordelingstavle"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KapslingsgradType">
    <annotation>
      <documentation>Kapslingsgrad: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann.  Går fra 00 til 68.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KAPSLINGSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KapslingsgradEnumerationType nvdb:KapslingsgradOtherType"/>
  </simpleType>
  <simpleType name="KapslingsgradEnumerationType">
    <annotation>
      <documentation>Kapslingsgrad: Skapets evne til å motstå støv og vann. Første siffer er støv, andre er vann.  Går fra 00 til 68.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10057</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KAPSLINGSGRAD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="IP00">
        <annotation>
          <documentation>16365: Inntrenging : Ingen beskyttelse. Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16365</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP01">
        <annotation>
          <documentation>16366: Inntrenging: Ingen beskyttelse. Vann: Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16366</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP02">
        <annotation>
          <documentation>16367: Inntrenging: Ingen beskyttelse. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16367</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP03">
        <annotation>
          <documentation>16368: Inntrenging: Ingen beskyttelse. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16368</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP04">
        <annotation>
          <documentation>16369: Inntrenging: Ingen beskyttelse. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16369</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP05">
        <annotation>
          <documentation>16370: Inntrenging: Ingen beskyttelse. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16370</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP06">
        <annotation>
          <documentation>16371: Inntrenging: Ingen beskyttelse. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16371</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP07">
        <annotation>
          <documentation>16372: Inntrenging: Ingen beskyttelse. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16372</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP08">
        <annotation>
          <documentation>16373: Inntrenging: Ingen beskyttelse. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16373</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP10">
        <annotation>
          <documentation>16374: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16374</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP11">
        <annotation>
          <documentation>16375: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16375</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP12">
        <annotation>
          <documentation>16376: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16376</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP13">
        <annotation>
          <documentation>16377: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16377</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP14">
        <annotation>
          <documentation>16378: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16378</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP15">
        <annotation>
          <documentation>16379: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16379</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP16">
        <annotation>
          <documentation>16380: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16380</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP17">
        <annotation>
          <documentation>16381: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16381</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP18">
        <annotation>
          <documentation>16382: Inntrenging: Store kroppsdeler, for eksempel en håndflate (&gt;50mm). Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16382</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP20">
        <annotation>
          <documentation>16383: Inntrenging: Finger, 12,5 mm diameter.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16383</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP21">
        <annotation>
          <documentation>16384: Inntrenging: Finger, 12,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16384</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP22">
        <annotation>
          <documentation>16385: Inntrenging: Finger, 12,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16385</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP23">
        <annotation>
          <documentation>16386: Inntrenging: Finger, 12,5 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16386</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP24">
        <annotation>
          <documentation>16387: Inntrenging: Finger, 12,5 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16387</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP25">
        <annotation>
          <documentation>16388: Inntrenging: Finger, 12,5 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16388</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP26">
        <annotation>
          <documentation>16389: Inntrenging: Finger, 12,5 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16389</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP27">
        <annotation>
          <documentation>16390: Inntrenging: Finger, 12,5 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16390</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP28">
        <annotation>
          <documentation>16391: Inntrenging: Finger, 12,5 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16391</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP30">
        <annotation>
          <documentation>16392: Inntrenging: Verktøy, 2,5 mm diameter.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16392</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP31">
        <annotation>
          <documentation>16393: Inntrenging: Verktøy, 2,5 mm diameter Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16393</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP32">
        <annotation>
          <documentation>16394: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16394</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP33">
        <annotation>
          <documentation>16395: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16395</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP34">
        <annotation>
          <documentation>16396: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16396</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP35">
        <annotation>
          <documentation>16397: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16397</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP36">
        <annotation>
          <documentation>16398: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16398</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP37">
        <annotation>
          <documentation>16399: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16399</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP38">
        <annotation>
          <documentation>16400: Inntrenging: Verktøy, 2,5 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16400</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP40">
        <annotation>
          <documentation>16401: Inntrenging: Tråd 1 mm diameter.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16401</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP41">
        <annotation>
          <documentation>16402: Inntrenging: Tråd 1 mm diameter Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16402</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP42">
        <annotation>
          <documentation>16403: Inntrenging: Tråd 1 mm diameter. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16403</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP43">
        <annotation>
          <documentation>16404: Inntrenging: Tråd 1 mm diameter. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16404</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP44">
        <annotation>
          <documentation>16405: Inntrenging: Tråd 1 mm diameter. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16405</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP45">
        <annotation>
          <documentation>16406: Inntrenging: Tråd 1 mm diameter. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP46">
        <annotation>
          <documentation>16407: Inntrenging: Tråd 1 mm diameter. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16407</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP47">
        <annotation>
          <documentation>16408: Inntrenging: Tråd 1 mm diameter. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP48">
        <annotation>
          <documentation>16409: Inntrenging: Tråd 1 mm diameter. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16409</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP50">
        <annotation>
          <documentation>16410: Inntrenging: Støvbeskyttet.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16410</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP51">
        <annotation>
          <documentation>16411: Inntrenging: Støvbeskyttet Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16411</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP52">
        <annotation>
          <documentation>16412: Inntrenging: Støvbeskyttet. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16412</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP53">
        <annotation>
          <documentation>16413: Inntrenging: Støvbeskyttet. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16413</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP54">
        <annotation>
          <documentation>16414: Inntrenging: Støvbeskyttet. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16414</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP55">
        <annotation>
          <documentation>16415: Inntrenging: Støvbeskyttet. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16415</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP56">
        <annotation>
          <documentation>16416: Inntrenging: Støvbeskyttet. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16416</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP57">
        <annotation>
          <documentation>16417: Inntrenging: Støvbeskyttet. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16417</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP58">
        <annotation>
          <documentation>16418: Inntrenging: Støvbeskyttet. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16418</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP60">
        <annotation>
          <documentation>16419: Inntrenging: Ingen inntregning av støv.  Vann: Ingen beskyttelse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16419</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP61">
        <annotation>
          <documentation>16420: Inntrenging: Ingen inntregning av støv Vann: Vertikale drypp skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16420</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP62">
        <annotation>
          <documentation>16421: Inntrenging: Ingen inntregning av støv. Vann: Vertikale drypp skal ikke ha skadelig virkning når utstyret har helningsvinkel opp til 15° i forhold til vertikallinjen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16421</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP63">
        <annotation>
          <documentation>16422: Inntrenging: Ingen inntregning av støv. Vann: Dusj/regn mot kapsling i en vinkel opp til 60° i forhold til vertikallinjen skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16422</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP64">
        <annotation>
          <documentation>16423: Inntrenging: Ingen inntregning av støv. Vann: Sprut (kraftig dusj/regn) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16423</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP65">
        <annotation>
          <documentation>16424: Inntrenging: Ingen inntregning av støv. Vann: Spyling (fra slange/dyse) mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16424</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP66">
        <annotation>
          <documentation>16425: Inntrenging: Ingen inntregning av støv. Vann: Kraftig spyling mot kapsling fra alle kanter skal ikke ha skadelig virkning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16425</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP67">
        <annotation>
          <documentation>16426: Inntrenging: Ingen inntregning av støv. Vann: Ingen skadelig virkning ved kortvarig neddykking i vann (15 til 100 cm i inntil 30 minutter)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16426</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="IP68">
        <annotation>
          <documentation>16427: Inntrenging: Ingen inntregning av støv. Vann: Ingen skadelig virkning ved varig neddykking i vann under betingelser spesifisert gjennom avtale mellom kunde og produsent av utstyret</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16427</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KapslingsgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringType">
    <annotation>
      <documentation>Parkering: Angir avstand til nærmeste parkeringsmulighet for servicebil</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PARKERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ParkeringEnumerationType nvdb:ParkeringOtherType"/>
  </simpleType>
  <simpleType name="ParkeringEnumerationType">
    <annotation>
      <documentation>Parkering: Angir avstand til nærmeste parkeringsmulighet for servicebil</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PARKERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="&lt; 10m">
        <annotation>
          <documentation>16429: Avstand til parkering er &lt; 10m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16429</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 30m">
        <annotation>
          <documentation>16430: Avstand til parkering er &lt; 30m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16430</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&lt; 100m">
        <annotation>
          <documentation>16431: Avstand til parkering er &lt; 100m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16431</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="&gt; 100m">
        <annotation>
          <documentation>16432: Avstand til parkering er &gt; 100m</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16432</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ParkeringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingstavleType">
    <annotation>
      <documentation>Plassering: Angir hvor vegobjektet er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10065</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGFORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringFordelingstavleEnumerationType nvdb:PlasseringFordelingstavleOtherType"/>
  </simpleType>
  <simpleType name="PlasseringFordelingstavleEnumerationType">
    <annotation>
      <documentation>Plassering: Angir hvor vegobjektet er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10065</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PLASSERINGFORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ute">
        <annotation>
          <documentation>16438: Fordelingstavle er plassert utendørs</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16438</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I tunnel">
        <annotation>
          <documentation>16439: Fordelingstavle er plassert i en tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16439</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I bygg">
        <annotation>
          <documentation>16440: Fordelingstavle er plassert i et bygg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16440</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingstavleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SelektivitetType">
    <annotation>
      <documentation>Selektivitet: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10037</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SELEKTIVITET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SelektivitetEnumerationType nvdb:SelektivitetOtherType"/>
  </simpleType>
  <simpleType name="SelektivitetEnumerationType">
    <annotation>
      <documentation>Selektivitet: Angir i hvilken grad vernet som er nærmest feilstedet løser seg ut ved en feil</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10037</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SELEKTIVITET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Delvis">
        <annotation>
          <documentation>16356: Mer enn et (men ikke alle) vern utløses ved feil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16356</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Full">
        <annotation>
          <documentation>16357: Kun vernet nærmest feilstedet utløses ved feil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16357</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>16358: Ingen prioritering av vern</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16358</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SelektivitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingstavleType">
    <annotation>
      <documentation>Spenning: Angir spenningen som leveres ut fra enheten</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10064</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPENNINGFORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningFordelingstavleEnumerationType nvdb:SpenningFordelingstavleOtherType"/>
  </simpleType>
  <simpleType name="SpenningFordelingstavleEnumerationType">
    <annotation>
      <documentation>Spenning: Angir spenningen som leveres ut fra enheten</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10064</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SPENNINGFORDELINGSTAVLE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16433: 12 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16433</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16434: 24 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16434</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16435: 230 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16435</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16436: 400 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16436</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230/400">
        <annotation>
          <documentation>16437: 230 og 400 volt (TN-nett)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16437</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16715: 690 volt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16715</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingstavleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetSROSentralType">
    <annotation>
      <documentation>Tilknyttet SRO-sentral: Angir om tavlen er tilknyttet sentral for Styring, Regulering og Overvåkning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10067</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILKNYTTETSROSENTRAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilknyttetSROSentralEnumerationType nvdb:TilknyttetSROSentralOtherType"/>
  </simpleType>
  <simpleType name="TilknyttetSROSentralEnumerationType">
    <annotation>
      <documentation>Tilknyttet SRO-sentral: Angir om tavlen er tilknyttet sentral for Styring, Regulering og Overvåkning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10067</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TILKNYTTETSROSENTRAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sentral">
        <annotation>
          <documentation>16441: Fortdelingstavle er knyttet til sentral SRO-sentral</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16441</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Desentral">
        <annotation>
          <documentation>16442: Fortdelingstavle er knyttet til desentral SRO-sentral</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16442</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>16443: Fortdelingstavle er ikke knyttet til SRO-sentral</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16443</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetSROSentralOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEnhetType">
    <annotation>
      <documentation>Type enhet: Angir hvilken type/kapsling objektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEENHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeEnhetEnumerationType nvdb:TypeEnhetOtherType"/>
  </simpleType>
  <simpleType name="TypeEnhetEnumerationType">
    <annotation>
      <documentation>Type enhet: Angir hvilken type/kapsling objektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10081</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEENHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skap">
        <annotation>
          <documentation>16452: Fordeligsskap med innhold</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16452</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Koblingsboks">
        <annotation>
          <documentation>16453: Enkel koblingsboks eller lignende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16453</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klemme">
        <annotation>
          <documentation>16454: Koblingsklemme, vrihylse, rekkeklemme eller lignende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16454</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skinne">
        <annotation>
          <documentation>16455: Koblingsskinne</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16455</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>16456: Annen type boks eller koblingsmateriell</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16456</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeEnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingType">
    <annotation>
      <documentation>Type fordeling: Angir hvilken type fordeling enheten er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9327</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFORDELING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFordelingEnumerationType nvdb:TypeFordelingOtherType"/>
  </simpleType>
  <simpleType name="TypeFordelingEnumerationType">
    <annotation>
      <documentation>Type fordeling: Angir hvilken type fordeling enheten er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9327</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEFORDELING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedfordeling">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13014</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Underfordeling">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13015</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarmeelementType">
    <annotation>
      <documentation>Varmeelement: Angir om det er montert varmeelement i skapet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10069</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEELEMENT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarmeelementEnumerationType nvdb:VarmeelementOtherType"/>
  </simpleType>
  <simpleType name="VarmeelementEnumerationType">
    <annotation>
      <documentation>Varmeelement: Angir om det er montert varmeelement i skapet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10069</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARMEELEMENT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16444</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16445</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmeelementOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
