XSD/OLFV/849.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>849: Område som blir overvåket med hensyn på skred</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">849</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSkredVarslingOvervåkningType">
    <annotation>
      <documentation>Adkomst: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9649</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTSKREDVARSLINGOVERVÅKNING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstSkredVarslingOvervåkningEnumerationType nvdb:AdkomstSkredVarslingOvervåkningOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSkredVarslingOvervåkningEnumerationType">
    <annotation>
      <documentation>Adkomst: Beskriver hvordan man får adkomst til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9649</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMSTSKREDVARSLINGOVERVÅKNING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hjullaster">
        <annotation>
          <documentation>13901: Adkomst for hjullaster</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13901</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gravemaskin">
        <annotation>
          <documentation>13902: Adkomst for gravemaskin</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13902</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til fots">
        <annotation>
          <documentation>13903: Adkomst til fots</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13903</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>13904: Adkomst for kran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13904</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tau">
        <annotation>
          <documentation>13905: Adkomt med tau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13905</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helikopter">
        <annotation>
          <documentation>13906: Adkomst for helikopter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13906</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSkredVarslingOvervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeType">
    <annotation>
      <documentation>Overvåkningstype: Angir type overvåkning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKNINGSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkningstypeEnumerationType nvdb:OvervåkningstypeOtherType"/>
  </simpleType>
  <simpleType name="OvervåkningstypeEnumerationType">
    <annotation>
      <documentation>Overvåkningstype: Angir type overvåkning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKNINGSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Geofon">
        <annotation>
          <documentation>13895: Instrument for registrering av rystelser i grunnen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13895</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radar">
        <annotation>
          <documentation>13896: Radar for måling av bevegelser i terrenget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13896</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rystelsesmåling">
        <annotation>
          <documentation>13897: Måling av rystelser (f.eks. i grunnen, i fanggjerde etc.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13897</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varslingsgjerde">
        <annotation>
          <documentation>13898: Gjerde for varsling av farlig område</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13898</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SkredVarslingOvervåkning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkredVarslingOvervåkningType">
    <annotation>
      <documentation>Skred,varsling/overvåkning: Område som blir overvåket med hensyn på skred</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKREDVARSLINGOVERVÅKNING</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredVarslingOvervåkningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="typeNaturfare" type="nvdb:TypeNaturfareType">
            <annotation>
              <documentation>Type naturfare: Angir hvilken type naturfare overvåkning/varsling gjelder for</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENATURFARE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="overvåkningstype" type="nvdb:OvervåkningstypeType">
            <annotation>
              <documentation>Overvåkningstype: Angir type overvåkning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKNINGSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="varslingPåVeg" type="nvdb:VarslingPåVegType">
            <annotation>
              <documentation>Varsling på veg: Angir type varsling som er satt opp synlig for trafikkanter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARSLINGPÅVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="adkomst" type="nvdb:AdkomstSkredVarslingOvervåkningType">
            <annotation>
              <documentation>Adkomst: Beskriver hvordan man får adkomst til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9649</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ADKOMST</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometri, flate: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9651</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIFLATE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredVarslingOvervåkningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:SkredVarslingOvervåkning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNaturfareType">
    <annotation>
      <documentation>Type naturfare: Angir hvilken type naturfare overvåkning/varsling gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENATURFARE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNaturfareEnumerationType nvdb:TypeNaturfareOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturfareEnumerationType">
    <annotation>
      <documentation>Type naturfare: Angir hvilken type naturfare overvåkning/varsling gjelder for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENATURFARE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Snøskred">
        <annotation>
          <documentation>13890: Fare for snøskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13890</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steinsprang/skred">
        <annotation>
          <documentation>13891: Fare for steinsprang/steinskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13891</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordskred">
        <annotation>
          <documentation>13892: Fare for jordskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13892</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flom">
        <annotation>
          <documentation>13893: Fare for flom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13893</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bølger">
        <annotation>
          <documentation>13894: Fare for bølger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13894</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarslingPåVegType">
    <annotation>
      <documentation>Varsling på veg: Angir type varsling som er satt opp synlig for trafikkanter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARSLINGPÅVEG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarslingPåVegEnumerationType nvdb:VarslingPåVegOtherType"/>
  </simpleType>
  <simpleType name="VarslingPåVegEnumerationType">
    <annotation>
      <documentation>Varsling på veg: Angir type varsling som er satt opp synlig for trafikkanter</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VARSLINGPÅVEG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lys">
        <annotation>
          <documentation>13981: Varsling ved hjelp av lys</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13981</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bommer">
        <annotation>
          <documentation>13982: Varsling ved hjelp av bommer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13982</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>15963: Ingen varsling er satt opp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15963</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarslingPåVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
