XSD/OLFV/89.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>89: System for regulering og varsling av trafikk.  Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat.  Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs rødblink i en ende av en tunnel er et annet saignalanlegg enn rødblink i andre enden av tunnelen.  Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">89</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeSignalanleggType">
    <annotation>
      <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSignalanleggEnumerationType nvdb:BruksområdeSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSignalanleggEnumerationType">
    <annotation>
      <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDESIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vegkryss">
        <annotation>
          <documentation>2974: Signalanlegg for regulering av vegkryss. Kan bestå av kjøretøysignaler (trelyssignal, sykkelsignal og pilsignal), fotgjengersignal og kollektivsignal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2974</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangfelt">
        <annotation>
          <documentation>2975: Signalanlegg for regulering av gangfelt utenfor signalregulerte vegkryss.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2975</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skytteltrafikk">
        <annotation>
          <documentation>2977: Signalanlegg for regulering av trafikken på steder utenfor vegkryss hvor bare én kjøreretning kan avvikles om gangen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2977</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjon">
        <annotation>
          <documentation>4873: Signalanlegg for dirigering av trafikk i forbindelse med bomstasjoner.  Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4873</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekai">
        <annotation>
          <documentation>4872: Signalanlegg for dirigering av trafikk i forbindelse med om bord- og i landkjøring på ferjeleier.  Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4872</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkering">
        <annotation>
          <documentation>11718: Signalanlegg for dirigering av trafikk i forbindelse med parkeringsanlegg.  Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11718</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefelt, retningsmarkering">
        <annotation>
          <documentation>2979: Benyttes for å angi retning på kjørefeltene.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2979</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, bru">
        <annotation>
          <documentation>2978: Signalanlegg for visning av trafikkretning for ett eller flere kjørefelt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2978</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, høgfjellsstrekning">
        <annotation>
          <documentation>4870: Rødt blinkanlegg for å markere stengning av høyfjellsstrekning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, tunnel">
        <annotation>
          <documentation>4876: Rødt blinkanlegg for å markere stengning av tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4876</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, lav høyde">
        <annotation>
          <documentation>4875: Rødt blinkanlegg for å markere stengning av veg pga at et kjøretøy er for høgt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4875</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, skred/skredfare">
        <annotation>
          <documentation>4871: Rødt blinkanlegg for å markere stengning av veg pga skred eller fare for skred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, vind/uvær">
        <annotation>
          <documentation>11719: Rødt blinkanlegg for å markere stengning av veg pga sterk vind/uvær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11719</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, utrykningsstasjon">
        <annotation>
          <documentation>11720: Rødt blinkanlegg for å markere stengning av veg pga utrykning fra brannstasjon, politistasjon, etc.tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11720</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt blink, annen fare">
        <annotation>
          <documentation>2980: Rødt blinkanlegg for å markere stengning av veg pga annen fare.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2980</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gulblink">
        <annotation>
          <documentation>11721: Gult blinkanlegg for varsling av fare.  Merknad: Kombinerte gult/rødt blink anlegg gis bruksområde "Rødt blink…"</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11721</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jernbanekryssing">
        <annotation>
          <documentation>4874: Signalanlegg i forbindelse med jernbanekryssing.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4874</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSignalanleggType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSignalanleggEnumerationType nvdb:EierSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="EierSignalanleggEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7998</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERSIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10264</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10726</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10328</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10392</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnergitilførselType">
    <annotation>
      <documentation>Energitilførsel: Angir hvilken energitilførsel det er til signalanlegget</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8822</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENERGITILFØRSEL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnergitilførselEnumerationType nvdb:EnergitilførselOtherType"/>
  </simpleType>
  <simpleType name="EnergitilførselEnumerationType">
    <annotation>
      <documentation>Energitilførsel: Angir hvilken energitilførsel det er til signalanlegget</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8822</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ENERGITILFØRSEL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Spenningsbånd I">
        <annotation>
          <documentation>11735: (0-50VAC, 0-120VDC)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11735</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spenningsbånd II">
        <annotation>
          <documentation>11736: (50-1000VAC, 120-1500VDC)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11736</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnergitilførselOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LyshoderType">
    <annotation>
      <documentation>Lyshoder: Angir hvilken type lyshoder som er benyttet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8823</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSHODER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyshoderEnumerationType nvdb:LyshoderOtherType"/>
  </simpleType>
  <simpleType name="LyshoderEnumerationType">
    <annotation>
      <documentation>Lyshoder: Angir hvilken type lyshoder som er benyttet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8823</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LYSHODER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="LED">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11734</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe spenningsbånd I">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11732</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe spenningsbånd II">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11733</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyshoderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OmrådestyringType">
    <annotation>
      <documentation>Områdestyring: Angir om signalanlegg er områdestyrt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8819</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMRÅDESTYRING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OmrådestyringEnumerationType nvdb:OmrådestyringOtherType"/>
  </simpleType>
  <simpleType name="OmrådestyringEnumerationType">
    <annotation>
      <documentation>Områdestyring: Angir om signalanlegg er områdestyrt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8819</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OMRÅDESTYRING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11726</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11727</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmrådestyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkingFraVTSType">
    <annotation>
      <documentation>Overvåking fra VTS: Angir om signalanlegg kan overvåkes fra VTS</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8820</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKINGFRAVTS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkingFraVTSEnumerationType nvdb:OvervåkingFraVTSOtherType"/>
  </simpleType>
  <simpleType name="OvervåkingFraVTSEnumerationType">
    <annotation>
      <documentation>Overvåking fra VTS: Angir om signalanlegg kan overvåkes fra VTS</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8820</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKINGFRAVTS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11728</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11729</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkingFraVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningFraBetjeningssentralType">
    <annotation>
      <documentation>Overvåkning fra betjeningssentral: Angir om signalanlegg kan overvåkes fra betjeningssentral</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8821</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKNINGFRABETJENINGSSENTRAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkningFraBetjeningssentralEnumerationType nvdb:OvervåkningFraBetjeningssentralOtherType"/>
  </simpleType>
  <simpleType name="OvervåkningFraBetjeningssentralEnumerationType">
    <annotation>
      <documentation>Overvåkning fra betjeningssentral: Angir om signalanlegg kan overvåkes fra betjeningssentral</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8821</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OVERVÅKNINGFRABETJENINGSSENTRAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11730</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11731</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningFraBetjeningssentralOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SamkjørtType">
    <annotation>
      <documentation>Samkjørt: Angir om signalanlegget er samkjørt med andre signalanlegg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8818</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SAMKJØRT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SamkjørtEnumerationType nvdb:SamkjørtOtherType"/>
  </simpleType>
  <simpleType name="SamkjørtEnumerationType">
    <annotation>
      <documentation>Samkjørt: Angir om signalanlegget er samkjørt med andre signalanlegg</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8818</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SAMKJØRT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11724</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11725</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SamkjørtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SignalanleggType">
    <annotation>
      <documentation>Signalanlegg: System for regulering og varsling av trafikk.  Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat.  Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs rødblink i en ende av en tunnel er et annet saignalanlegg enn rødblink i andre enden av tunnelen.  Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">89</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SignalanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeSignalanleggType">
            <annotation>
              <documentation>Bruksområde: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggeår" type="integer">
            <annotation>
              <documentation>Byggeår: Angir byggeår for vegobjektet, dvs da signalanlegget ble etablert første gang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10353</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BYGGEÅR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4789</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalpunkt" type="nvdb:SignalpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVindmåler" type="nvdb:VindmålerPropertyType"/>
          <element minOccurs="0" name="assosiertStyreapparat" type="nvdb:StyreapparatPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StyringFraBetjeningssentralType">
    <annotation>
      <documentation>Styring fra betjeningssentral: Angir om det er mulig å styre anlegg fra betjeningssentral</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3753</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STYRINGFRABETJENINGSSENTRAL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StyringFraBetjeningssentralEnumerationType nvdb:StyringFraBetjeningssentralOtherType"/>
  </simpleType>
  <simpleType name="StyringFraBetjeningssentralEnumerationType">
    <annotation>
      <documentation>Styring fra betjeningssentral: Angir om det er mulig å styre anlegg fra betjeningssentral</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3753</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STYRINGFRABETJENINGSSENTRAL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraBetjeningssentralOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSType">
    <annotation>
      <documentation>Styring fra VTS: Angir om det er mulig å styre anlegg fra VTS</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3758</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STYRINGFRAVTS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StyringFraVTSEnumerationType nvdb:StyringFraVTSOtherType"/>
  </simpleType>
  <simpleType name="StyringFraVTSEnumerationType">
    <annotation>
      <documentation>Styring fra VTS: Angir om det er mulig å styre anlegg fra VTS</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3758</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_STYRINGFRAVTS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4725</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TidsstyrtType">
    <annotation>
      <documentation>Tidsstyrt: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8816</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIDSSTYRT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TidsstyrtEnumerationType nvdb:TidsstyrtOtherType"/>
  </simpleType>
  <simpleType name="TidsstyrtEnumerationType">
    <annotation>
      <documentation>Tidsstyrt: Angir om Signalanlegg er tidsstyrt eller ikke.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8816</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TIDSSTYRT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11722</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11723</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TidsstyrtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkstyrtType">
    <annotation>
      <documentation>Trafikkstyrt: Angir om signalanlegg er trafikkstyrt eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8817</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKSTYRT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrafikkstyrtEnumerationType nvdb:TrafikkstyrtOtherType"/>
  </simpleType>
  <simpleType name="TrafikkstyrtEnumerationType">
    <annotation>
      <documentation>Trafikkstyrt: Angir om signalanlegg er trafikkstyrt eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8817</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TRAFIKKSTYRT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11745</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11746</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrafikkstyrtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSignalanleggType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSignalanleggEnumerationType nvdb:VedlikeholdsansvarligSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSignalanleggEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3824</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGSIGNALANLEGG</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9807</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9808</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9809</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
