XSD/OLFV/95.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament mm.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">95</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AvskjæringsleddType">
    <annotation>
      <documentation>Avskjæringsledd: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil skiltet gi etter ved påkjørsel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJÆRINGSLEDD</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AvskjæringsleddEnumerationType nvdb:AvskjæringsleddOtherType"/>
  </simpleType>
  <simpleType name="AvskjæringsleddEnumerationType">
    <annotation>
      <documentation>Avskjæringsledd: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil skiltet gi etter ved påkjørsel</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJÆRINGSLEDD</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11617</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11618</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AvskjæringsleddOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelseNVDB_SkiltpunktType">
    <annotation>
      <documentation>Bebyggelse: Angir hvilken type bebyggelse vegobjektet er omgitt av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEBYGGELSENVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BebyggelseNVDB_SkiltpunktEnumerationType nvdb:BebyggelseNVDB_SkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="BebyggelseNVDB_SkiltpunktEnumerationType">
    <annotation>
      <documentation>Bebyggelse: Angir hvilken type bebyggelse vegobjektet er omgitt av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1919</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BEBYGGELSENVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Landlig">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2860</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tettbebygd">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2861</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="By">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2862</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BebyggelseNVDB_SkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BøyleType">
    <annotation>
      <documentation>Bøyle: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BØYLE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BøyleEnumerationType nvdb:BøyleOtherType"/>
  </simpleType>
  <simpleType name="BøyleEnumerationType">
    <annotation>
      <documentation>Bøyle: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BØYLE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11619</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, toppmontert">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16848</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, sidemontert">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16849</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, midtmontert">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16850</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forgrening">
        <annotation>
          <documentation>17268: Skiltstolpe med forgrening. En eller flere av skiltplatene er festet på forgreningen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17268</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11620</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BøyleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierNVDB_SkiltpunktType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierNVDB_SkiltpunktEnumerationType nvdb:EierNVDB_SkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="EierNVDB_SkiltpunktEnumerationType">
    <annotation>
      <documentation>Eier: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7999</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_EIERNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10265</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10727</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10329</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10393</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierNVDB_SkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringNVDB_SkiltpunktType">
    <annotation>
      <documentation>Fundamentering: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringNVDB_SkiltpunktEnumerationType nvdb:FundamenteringNVDB_SkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringNVDB_SkiltpunktEnumerationType">
    <annotation>
      <documentation>Fundamentering: Angir hvordan vegobjektet er fundamentert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERINGNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ingen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3474</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på fjellfundament">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2430</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på jordfundament">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2435</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringNVDB_SkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KampanjetypeType">
    <annotation>
      <documentation>Kampanjetype: Angir type kampanje(r) som skiltpunktet er tilrettelagt for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KAMPANJETYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KampanjetypeEnumerationType nvdb:KampanjetypeOtherType"/>
  </simpleType>
  <simpleType name="KampanjetypeEnumerationType">
    <annotation>
      <documentation>Kampanjetype: Angir type kampanje(r) som skiltpunktet er tilrettelagt for</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9483</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KAMPANJETYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bilbelte">
        <annotation>
          <documentation>13357: Punkt forberedt for bruk bilbeltekampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13357</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stopp og sov">
        <annotation>
          <documentation>13358: Punkt forberedt for stopp og sov kampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13358</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bilbelte/stopp og sov">
        <annotation>
          <documentation>13359: Punkt forberedt både for bilbeltekampanje og stopp og sov kampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13359</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fart">
        <annotation>
          <documentation>13360: Punkt forberedt for fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13360</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bilbelte/Fart">
        <annotation>
          <documentation>13361: Punkt forberedt både for bilbeltekampanje og fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13361</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stopp og sov/Fart">
        <annotation>
          <documentation>13362: Punkt forberedt både for Stopp og sov kampanje og fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13362</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bilbelte/Stopp og sov/Fart">
        <annotation>
          <documentation>13363: Punkt forberedt både for bilbeltekampanje, stopp og sov kampanje og fartskampanje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13363</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KampanjetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KlimaType">
    <annotation>
      <documentation>Klima: Angir hvilken type klima det er der vegobjektet er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIMA</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KlimaEnumerationType nvdb:KlimaOtherType"/>
  </simpleType>
  <simpleType name="KlimaEnumerationType">
    <annotation>
      <documentation>Klima: Angir hvilken type klima det er der vegobjektet er plassert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1882</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_KLIMA</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kystklima">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3469</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innland">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3894</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innland, &lt; 300">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2857</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innland, 300 til 600">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2858</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innland, &gt; 600">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2859</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KlimaOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MiljøType">
    <annotation>
      <documentation>Miljø: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MILJØ</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MiljøEnumerationType nvdb:MiljøOtherType"/>
  </simpleType>
  <simpleType name="MiljøEnumerationType">
    <annotation>
      <documentation>Miljø: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1881</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_MILJØ</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ikke kjemisk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3509</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjemisk forurensning">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3510</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MiljøOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDB_Skiltpunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_SkiltpunktType">
    <annotation>
      <documentation>Skiltpunkt: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">95</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_SkiltpunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrNVDB_SkiltpunktType">
            <annotation>
              <documentation>Oppsettingsutstyr: Angir hvilket oppsettingsutstyr skiltplatene er festet på</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallOppsettingsutstyr" type="integer">
            <annotation>
              <documentation>Antall oppsettingsutstyr: Angir antall oppsettingsutstyr det er i forbindelse med vegobjektet.  Antall skiltstolper/søyler knyttet til skiltpunktet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1877</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLOPPSETTINGSUTSTYR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="avskjæringsledd" type="nvdb:AvskjæringsleddType">
            <annotation>
              <documentation>Avskjæringsledd: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil skiltet gi etter ved påkjørsel</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8772</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AVSKJÆRINGSLEDD</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVegkant" type="double">
            <annotation>
              <documentation>Høyde over vegkant: Angir høyde fra vegkant til underkant øverste skiltplate.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2055</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_HØYDEOVERVEGKANT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fundamentering" type="nvdb:FundamenteringNVDB_SkiltpunktType">
            <annotation>
              <documentation>Fundamentering: Angir hvordan vegobjektet er fundamentert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1671</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FUNDAMENTERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallFundament" type="integer">
            <annotation>
              <documentation>Antall fundament: Angir hvor mange fundament det er i tilknytning til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1887</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_ANTALLFUNDAMENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bøyle" type="nvdb:BøyleType">
            <annotation>
              <documentation>Bøyle: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8773</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BØYLE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometri, punkt: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4794</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRIPUNKT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltplate" type="nvdb:SkiltplatePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVariabeltSkilt" type="nvdb:VariabeltSkiltPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_SkiltpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_Skiltpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OppsettingsutstyrNVDB_SkiltpunktType">
    <annotation>
      <documentation>Oppsettingsutstyr: Angir hvilket oppsettingsutstyr skiltplatene er festet på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYRNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrNVDB_SkiltpunktEnumerationType nvdb:OppsettingsutstyrNVDB_SkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrNVDB_SkiltpunktEnumerationType">
    <annotation>
      <documentation>Oppsettingsutstyr: Angir hvilket oppsettingsutstyr skiltplatene er festet på</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1876</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_OPPSETTINGSUTSTYRNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stolpe 60,3 mm (2&quot;)">
        <annotation>
          <documentation>2866: ytre diameter 60,3 mm og godstykkelse 2,9 mm (beteget som 2")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2866</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stolpe 88,9 mm (3&quot;)">
        <annotation>
          <documentation>2868: ytre diameter 88,9 mm og godstykkelse 3,2 mm (beteget som 3")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2868</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trestolpe">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">7988</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, liten">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2879</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, liten, rund 110 mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4597</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, liten, åttekantet 120mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, middels">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2881</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, stor">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2883</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, stor, rund 180 mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4600</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, stor, åttekantet 190 mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4601</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4604</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, trekant 200mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4602</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, trekant 250mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4603</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, firkant 200mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4605</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, firkant 250mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4606</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, firkant 380mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4607</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-rør på bunnplate">
        <annotation>
          <documentation>8007: System brukt bla i Oppland.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8007</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-rør på bunnplate">
        <annotation>
          <documentation>8006: System brukt bla i Oppland.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8006</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-rør på bunnplate">
        <annotation>
          <documentation>8005: System brukt bla i Oppland.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8005</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helportal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2874</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Halvportal">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bakkemontert bøyle">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16851</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysmast">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2967</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Wirestrekk">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2877</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3266</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, middels, åttekantet 150 mm">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4599</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrNVDB_SkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnSkiltmastType">
    <annotation>
      <documentation>Produktnavn,skiltmast: Gir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNSKILTMAST</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnSkiltmastEnumerationType nvdb:ProduktnavnSkiltmastOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnSkiltmastEnumerationType">
    <annotation>
      <documentation>Produktnavn,skiltmast: Gir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10427</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PRODUKTNAVNSKILTMAST</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="HIMAST H500">
        <annotation>
          <documentation>16852: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=509351&amp;method=alle&amp;produkttype=12623</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16852</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMAST H1000">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16853</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMAST H2000">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16854</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMAST H3000">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16855</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 114">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16856</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 168">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16857</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 219">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16858</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 273">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16859</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix D4412">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16860</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix 4420">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16861</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix 4425">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16862</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix 4438">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16863</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 89">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16864</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 120">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16865</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 150">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16866</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 190C">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16867</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 190D">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16868</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 290">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16869</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Opplandsmast toløper">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16870</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Opplandsmast treløper">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16871</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T&amp;V">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16872</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnSkiltmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiltholderType">
    <annotation>
      <documentation>Skiltholder: Angir om skiltpunktet har skiltholder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTHOLDER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiltholderEnumerationType nvdb:SkiltholderOtherType"/>
  </simpleType>
  <simpleType name="SkiltholderEnumerationType">
    <annotation>
      <documentation>Skiltholder: Angir om skiltpunktet har skiltholder</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10548</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_SKILTHOLDER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, rett">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16935</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, buet">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16936</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16937</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiltholderOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNVDB_SkiltpunktType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligNVDB_SkiltpunktEnumerationType nvdb:VedlikeholdsansvarligNVDB_SkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNVDB_SkiltpunktEnumerationType">
    <annotation>
      <documentation>Vedlikeholdsansvarlig: Angir hvem som er ansvarlig for vedlikehold</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEDLIKEHOLDSANSVARLIGNVDB_SKILTPUNKT</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10457</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10535</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10613</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligNVDB_SkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
