XSD/OLFV/99.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/OLFV" version="2.03">
  <annotation>
    <documentation>99: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050).  Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
    <appinfo>
      <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">99</taggedValue>
    </appinfo>
  </annotation>
  <include schemaLocation="OLFV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BreddeEnkeltlinjeType">
    <annotation>
      <documentation>Bredde,enkeltlinje: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEENKELTLINJE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BreddeEnkeltlinjeEnumerationType nvdb:BreddeEnkeltlinjeOtherType"/>
  </simpleType>
  <simpleType name="BreddeEnkeltlinjeEnumerationType">
    <annotation>
      <documentation>Bredde,enkeltlinje: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEENKELTLINJE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0,10">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5310</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,15">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5311</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,20">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5312</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,25">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5313</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,30">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5314</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BreddeEnkeltlinjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeNVDB_VegoppmerkingLangsgåendeType">
    <annotation>
      <documentation>Bruksområde: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDENVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeNVDB_VegoppmerkingLangsgåendeEnumerationType nvdb:BruksområdeNVDB_VegoppmerkingLangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeNVDB_VegoppmerkingLangsgåendeEnumerationType">
    <annotation>
      <documentation>Bruksområde: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDENVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Midtlinje">
        <annotation>
          <documentation>5342: Linje som skiller mellom kjørefelt med trafikk i motgående retninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5342</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantlinje">
        <annotation>
          <documentation>11300: Linje som markerer kjørebanens ytterkant (HB049)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11300</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delelinje">
        <annotation>
          <documentation>5344: Linje som skiller mellom vanlige kjørefelt med trafikk i samme retning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5344</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje, kollektivfelt">
        <annotation>
          <documentation>5347: Linje som skiller mellom kjørefelt og kollektivffelt eller busslomme</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5347</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje, fartsendringsfelt">
        <annotation>
          <documentation>5346: Linje som skiller mellom vanlig kjørefelt og fartsendringsfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5346</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje, sykkelfelt">
        <annotation>
          <documentation>5345: Linje som skiller mellom kjørefelt og sykkelfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5345</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ledelinje">
        <annotation>
          <documentation>11301: Linje som angir føring av kjørefelt eller svingebevegelser gjennom et vegkryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11301</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeNVDB_VegoppmerkingLangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FargeNVDB_VegoppmerkingLangsgåendeType">
    <annotation>
      <documentation>Farge: Angir hovedfarge til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGENVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FargeNVDB_VegoppmerkingLangsgåendeEnumerationType nvdb:FargeNVDB_VegoppmerkingLangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="FargeNVDB_VegoppmerkingLangsgåendeEnumerationType">
    <annotation>
      <documentation>Farge: Angir hovedfarge til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGENVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gul">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2116</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvit">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2125</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FargeNVDB_VegoppmerkingLangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LinjemønsterType">
    <annotation>
      <documentation>Linjemønster: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LINJEMØNSTER</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LinjemønsterEnumerationType nvdb:LinjemønsterOtherType"/>
  </simpleType>
  <simpleType name="LinjemønsterEnumerationType">
    <annotation>
      <documentation>Linjemønster: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LINJEMØNSTER</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Over 50 Km/t (9+3.. osv)">
        <annotation>
          <documentation>5333: Benyttes ved fartsgrense over 50</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5333</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tom 50 km/t (3+1 ..osv)">
        <annotation>
          <documentation>5334: Benyttes når fartsgrense er 50 eller mindre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5334</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LinjemønsterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NVDB_VegoppmerkingLangsgående" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NVDB_VegoppmerkingLangsgåendeType">
    <annotation>
      <documentation>Vegoppmerking,langsgående: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050).  Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">99</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NVDB_VegoppmerkingLangsgåendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeNVDB_VegoppmerkingLangsgåendeType">
            <annotation>
              <documentation>Bruksområde: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BRUKSOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeNVDB_VegoppmerkingLangsgåendeType">
            <annotation>
              <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linjemønster" type="nvdb:LinjemønsterType">
            <annotation>
              <documentation>Linjemønster: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LINJEMØNSTER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="breddeEnkeltlinje" type="nvdb:BreddeEnkeltlinjeType">
            <annotation>
              <documentation>Bredde, enkeltlinje: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_BREDDEENKELTLINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="farge" type="nvdb:FargeNVDB_VegoppmerkingLangsgåendeType">
            <annotation>
              <documentation>Farge: Angir hovedfarge til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_FARGE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="profilering" type="nvdb:ProfileringType">
            <annotation>
              <documentation>Profilering: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFILERING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="nedfresing" type="nvdb:NedfresingType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDFRESING</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealAvFyltSperreområde" type="double">
            <annotation>
              <documentation>Areal av fylt sperreområde: Angir arealet av fylt sperreområde.  For skravert sperreområde måles mengde som løpemeter skravur.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1371</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_AREALAVFYLTSPERREOMRÅDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="løpemeterSkravur" type="integer">
            <annotation>
              <documentation>Løpemeter skravur: Angir total lengde av striper i skravur.  Denne egenskapstypen er bare aktuell for vegoppmerking av type sperreområde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_LØPEMETERSKRAVUR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometri, linje: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4798</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_GEOMETRILINJE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NVDB_VegoppmerkingLangsgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:NVDB_VegoppmerkingLangsgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NedfresingType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDFRESING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NedfresingEnumerationType nvdb:NedfresingOtherType"/>
  </simpleType>
  <simpleType name="NedfresingEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_NEDFRESING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11302</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16774</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProfileringType">
    <annotation>
      <documentation>Profilering: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFILERING</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProfileringEnumerationType nvdb:ProfileringOtherType"/>
  </simpleType>
  <simpleType name="ProfileringEnumerationType">
    <annotation>
      <documentation>Profilering: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_PROFILERING</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Plan linje">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4095</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kamflex">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4097</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Longflex">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4098</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dråpeflex">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4099</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dråpe kombi">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16772</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProfileringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_VegoppmerkingLangsgåendeType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNVDB_VegoppmerkingLangsgåendeEnumerationType nvdb:TypeNVDB_VegoppmerkingLangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeNVDB_VegoppmerkingLangsgåendeEnumerationType">
    <annotation>
      <documentation>Type: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPENVDB_VEGOPPMERKINGLANGSGÅENDE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kjørefeltlinje (1000-F)">
        <annotation>
          <documentation>5317: Benyttes når dobbel sperrelinje brytes foran gangfelt (Og i forbindelse med avkjørsler?)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5317</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tettstedlinje (1002-T)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12086</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperrelinje (1004-S)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5319</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefelt-/Varsellinje (1006.1-FV)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5320</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varsel-/Kjørefeltlinje (1006.1-VF)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5321</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperre-/Kjørefeltlinje (1006.2-SF)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5322</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefelt-/Sperrelinje (1006.2-FS)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5323</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varsel-/Sperrelinje (1006.3-VS)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5324</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperre-/Varsellinje (1006.3-SV)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5325</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel sperrelinje (1006.4-SS)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5326</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpning i dobbel sperrelinje">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10143</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel varsellinje (1006.5-VV)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5327</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje (1008)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5328</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ledelinje (1010)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5329</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantlinje, heltrukket (1012.1)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5330</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantlinje, stiplet (1012.2)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5331</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperreområde, oppmerket (1014)">
        <annotation>
          <documentation>5332: Sperreområde som er fylt med enten heldekkende maling, skaravur eller ingen maling.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5332</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperreområde, fysisk (1014)">
        <annotation>
          <documentation>5406: Sperreområde som er fylt med fysisk opphøyd areal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5406</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Linje, parkering">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2804</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varsellinje (1002-V)">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5318</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNVDB_VegoppmerkingLangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegbanereflektorType">
    <annotation>
      <documentation>Vegbanereflektor: Angir om oppmerkingslinja har vegbanereflektor eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1909</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBANEREFLEKTOR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegbanereflektorEnumerationType nvdb:VegbanereflektorOtherType"/>
  </simpleType>
  <simpleType name="VegbanereflektorEnumerationType">
    <annotation>
      <documentation>Vegbanereflektor: Angir om oppmerkingslinja har vegbanereflektor eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1909</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGBANEREFLEKTOR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3528</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3566</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegbanereflektorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
